
<div class="header-detail-image">
    <img src="assets/images/headers/takeAction/headerWriteCarePlan.jpg"  title={{title}}   alt={{title}}>
</div>

<div class="header-quotes">
    <div class="header-quote">
        &#8220;{{quote}}&#8220;
    </div>
    <div class="header-author">
        {{author}}
    </div>
</div>

<div class="laptopForm">
    <div class="wizard-intro-container">
        <div class="wizard-intro-image">
            <a (click)="openModal()">
                <img src="assets/images/details/takeAction/writeCarePlan/wizardActionWritePlanIntro.jpg"
                     title="{{title}}"  alt="{{title}}">
            </a>
        </div>

        <div class="wizard-intro-text">
            <a (click)="openModal()">
                <h3>{{ title.toUpperCase() }}</h3>
                <p>
                    By following this <b>{{ title }}</b> wizard you can easily note note any procedures you would accept or reject
                    in a health emergency. You will feel more protected and your family will be grateful for your
                    thoughtfulness.
                    <br><br>
                    <b>Please Note:</b> no data is saved, so in order to see your results you must print them or save them
                    as a PDF file. This wizard is only available on an ipad, laptop or desktop.
                </p>
            </a>
        </div>
    </div>
</div>

<div class="mobileForm">
    <div class="wizard-intro-container">
        <div class="wizard-intro-image">
            <a routerLink="/callScreenFormMakePlan">
                <img src="assets/images/details/takeAction/writeCarePlan/wizardActionWritePlanIntro.jpg"
                     title="write advance care plan"   alt="write advance care plan">
            </a>
        </div>

        <div class="wizard-intro-text">
            <a routerLink="/callScreenFormMakePlan">
                <div class="content-title">
                    <h1>{{ title.toUpperCase() }}</h1>
                </div>
            </a>
        </div>
    </div>
</div>