<div class="header-detail-image header-write-adv-care-plan-image">
    <div class="quote">
        &#8220;{{quote}}&#8220;
    </div>
    <div class="author">
        {{author}}
    </div>
</div>

<div class="content-title">
    <h1>{{title}}</h1>
</div>

<div class="two-col-container">
    <div class="column-image">
        <a (click)="openModal()">
            <img src="assets/images/details/takeAction/writeCarePlan/wizardActionWriteAdvancePlan.jpg" title="write advance care plan"
                 alt="write advance care plan">
        </a>
    </div>

    <div class="column-text no-border">
        <h2>Run this wizard to {{title}}!</h2>

        <p>
            You can take the pain and stress away from your family should they need to make emergency health decisions for you by
            running our
            Advance Care Plan Wizard. For more information check out the
            <a routerLink="/considerAdvancePlan">{{ lookupParent }} > {{ lookupChild1 }}</a>  page.
            <br><br>
            Using this wizard you can note any treatments and procedures you want or do not want. The Representative(s) you choose must
            abide by your directives.
            <br><br>
            If you have already assigned Representative(s) you can feel protected. If you haven't, your health care decisions will be
            made from a list that the health care team compiles of your family contacts.
            <br><br>
            Be proactive. Run our <a routerLink="/chooseReps">{{ lookupParent }} > {{ lookupChild2 }}</a>  page to choose your
            Representative(s). Print and store these documents and let your family and care givers know you have them.
        </p>
    </div>
</div>


