<div class="choose-your-rep-wizard-printout">
    <div class="wizard-block">
        <div class="province-stamp">
            BRITISH COLUMBIA
            <hr>
        </div>
    </div>

    <div class="print-title pad-top">
        <h3>
            <b>&nbsp;
                REPRESENTATION AGREEMENT (SECTION 9)
            </b>
        </h3>
    </div>

    <div class="print-text pad-top">
        <p>
            Made under Section 9 of the Representation Agreement Act.
        </p>
    </div>

    <div class="print-title">
        <h2>THIS REPRESENTATION AGREEMENT IS MADE BY ME, THE ADULT:
            <br>
            {{ rep.client_name.toUpperCase() }} at<br>
            {{ rep.client_address }}<br>
            in the Province of British Columbia
        </h2>
    </div>

    <div class="print-title pad-top-2">
        <h4>
            <b>
                REVOCATION OF PREVIOUS INSTRUMENTS:
            </b>
        </h4>
    </div>

    <div class="print-text">
        <p><b>I revoke any previous Representation Agreement(s) I have made.</b></p>
    </div>

    <div class="print-title pad-top-2">
        <h4>
            <b>
                RULES FOR REPRESENTATIVE(S):
            </b>
        </h4>
    </div>

    <div class="print-text">
        <p><b>The Representative(s) that I have chosen abide by the rules for appointing Representatives.</b></p>
    </div>

    <div class="print-title pad-top-2">
        <h4>
            <b>
                PRIMARY REPRESENTATIVE:
            </b>
        </h4>
    </div>

    <ng-container *ngIf="rep.rep_primary_name.length > 0">
        <div class="print-text">
            <p>I appoint {{ rep.rep_primary_name.toUpperCase() }} at {{ rep.rep_primary_address }}
                to be my Representative in accordance with section 9 of the Representative Agreement Act.
                <br><br>
                I give {{ rep.rep_primary_name.toUpperCase() }} authority to make decisions on my behalf for all personal care and
                health care matters of a non-financial nature that relate to me.
            </p>
        </div>
    </ng-container>

    <ng-container *ngIf="rep.rep_primary_name.length == 0">
        <div class="print-text">
            <p>I appoint _________________________________________
                to be my Representative in accordance with section 9 of the Representative Agreement Act.
                <br><br>
                I give _________________________________________ authority to make decisions on my behalf for all personal care and
                health care matters of a non-financial nature thAt relate to me.
            </p>
        </div>
    </ng-container>

    <div class="print-title pad-top-2">
        <h4>
            <b>
                ALTERNATE REPRESENTATIVE:
            </b>
        </h4>
    </div>

    <ng-container *ngIf="rep.rep_alternate_name.length > 0">
        <div class="print-text pad-top-2">
            <p>
                If the above named should be or become at any time unable or unwilling to act in the office of attorney, then I appoint
                {{ rep.rep_alternate_name.toUpperCase() }} to be my Representative in accordance with section 9 of the Representative Agreement
                Act.
                <br><br>
                I give {{ rep.rep_alternate_name.toUpperCase() }} authority to make decisions on my behalf for all personal care and health care
                matters of a non-financial nature that relate to me.
            </p>
        </div>
    </ng-container>

    <ng-container *ngIf="rep.rep_primary_name.length == 0">
        <div class="print-text pad-top-2">
            <p>
            If the above named should be or become at any time unable or unwilling to act in the office of attorney, then I appoint
            ______________________________________________ to be my Representative in accordance with section 9 of the Representative
            Agreement Act.
            <br><br>
            I give
            ______________________________________________ authority to make decisions on my behalf for all personal care and health care
            matters of a
            non-financial nature that relate to me.
            </p>
        </div>
    </ng-container>


    <div class="print-text pad-top-2">
        <P>The following are my instructions or wishes with respect to decisions that will be made within the areas of
            authority given to my Representative under this Representation Agreement.</P>
    </div>

    <div class="print-instructions">
        <p>{{ rep.instructions_for_reps }}</p>
    </div>

      <div class="print-title pad-top-2">
          <b>SIGNATURES</b>
      </div>

      <div class="print-title pad-top-2">
          <b>ADULT SIGNATURE</b>
      </div>

    <div class="print-text pad-top-2">
        <p>I am signing this Representative Agreement 9 (RA9) in the presence of the witnesses whose names
            appears below.</p>
    </div>

    <div class="print-text pad-top-2">
        <p>Adult's Signature: ______________________________________________</p>
    </div>

    <div class="print-text">
        <ng-container *ngIf="rep.publish_date != ''">
            <p>
                Date: {{ rep.publish_date }}
            </p>
        </ng-container>

        <ng-container *ngIf="rep.publish_date === ''">
            <p>
                Date of Signing: ______________________________________________
            </p>
        </ng-container>
    </div>

    <div class="print-title pad-top-2">
        <b>WITNESSES SIGNATURES</b>
    </div>

    <div class="print-title pad-top-2">
        <b>WITNESS # 1</b>
    </div>

    <ng-container *ngIf="rep.witness_one_name.length > 0">
        <div class="print-text pad-top-2">
            <p>
                Witness #1 is {{ rep.witness_one_name }}
                <br><br>
                at address {{ rep.witness_one_address }}
            </p>
        </div>
    </ng-container>

    <ng-container *ngIf="rep.witness_one_name.length == 0">
        <div class="print-text pad-top-2">
            <p>
                Witness #1 is ________________________________
                <br><br>
                at address __________________________________
            </p>
        </div>
    </ng-container>

    <div class="print-text">
        <p>Witness #1's Signature: _______________________________________________</p>
    </div>

    <div class="print-text">
        <ng-container *ngIf="rep.publish_date != ''">
            <p>
                Date of Signing: {{ rep.publish_date }}
            </p>
        </ng-container>

        <ng-container *ngIf="rep.publish_date === ''">
            <p>
                Date of Signing: ______________________________________________
            </p>
        </ng-container>
    </div>

    <div class="print-title pad-top-2">
        <b>WITNESS # 2</b>
    </div>

    <ng-container *ngIf="rep.witness_two_name.length > 0">
        <div class="print-text pad-top-2">
            <p>
                Witness #2 is {{ rep.witness_two_name }}
                <br><br>
                at address {{ rep.witness_two_address }}
            </p>
        </div>
    </ng-container>

    <ng-container *ngIf="rep.witness_two_name.length == 0">
        <div class="print-text pad-top-2">
            <p>
                Witness #2 is ________________________________
                <br><br>
                at address __________________________________
            </p>
        </div>
    </ng-container>

    <div class="print-text">
        <p>Witness #2's Signature: _______________________________________________</p>
    </div>

    <div class="print-text">
        <ng-container *ngIf="rep.publish_date != ''">
            <p>
                Date of Signing: {{ rep.publish_date }}
            </p>
        </ng-container>

        <ng-container *ngIf="rep.publish_date === ''">
            <p>
                Date of Signing: ______________________________________________
            </p>
        </ng-container>
    </div>

    <div class="print-title pad-top-2">
        <b>REPRESENTATIVES</b>
    </div>

    <div class="print-title pad-top-2">
        <b>PRIMARY REPRESENTATIVE</b>
    </div>

    <ng-container *ngIf="rep.rep_primary_name.length > 0">
        <div class="print-text pad-top-2">
            <p>
                My Primary Representative is {{ rep.rep_primary_name }}
                <br><br>
                at address {{ rep.rep_primary_address }}
            </p>
        </div>
    </ng-container>

    <ng-container *ngIf="rep.rep_primary_name.length == 0">
        <div class="print-text pad-top-2">
            <p>
                My Primary Representative is  ________________________________
                <br><br>
                at address __________________________________
            </p>
        </div>
    </ng-container>

    <div class="print-text">
        <p>Primary Representative's Signature: _______________________________________________</p>
    </div>

    <div class="print-text">
        <ng-container *ngIf="rep.publish_date != ''">
            <p>
                Date of Signing: {{ rep.publish_date }}
            </p>
        </ng-container>

        <ng-container *ngIf="rep.publish_date === ''">
            <p>
                Date of Signing: ______________________________________________
            </p>
        </ng-container>
    </div>

    <div class="print-title pad-top-2">
        <b>ALTERNATE REPRESENTATIVE</b>
    </div>

    <ng-container *ngIf="rep.rep_alternate_name.length > 0">
        <div class="print-text pad-top-2">
            <p>
                My Alternate Representative is {{ rep.rep_alternate_name }}
                <br><br>
                at address {{ rep.rep_alternate_address }}
            </p>
        </div>
    </ng-container>

    <ng-container *ngIf="rep.rep_alternate_name.length == 0">
        <div class="print-text pad-top-2">
            <p>
                My Alternate Representative is  ________________________________
                <br><br>
                at address __________________________________
            </p>
        </div>
    </ng-container>

    <div class="print-text">
        <p>Alternate Representative's Signature: _______________________________________________</p>
    </div>

    <div class="print-text">
        <ng-container *ngIf="rep.publish_date != ''">
            <p>
                Date of Signing: {{ rep.publish_date }}
            </p>
        </ng-container>

        <ng-container *ngIf="rep.publish_date === ''">
            <p>
                Date of Signing: ______________________________________________
            </p>
        </ng-container>
    </div>
</div>

