<div class="content">
    <div class = "topic-block">
        <div class="topic-left">
            <h1>{{title}}</h1>
        </div>

        <div class="topic-right">
            <img src="assets/images/support/doula/legacy/legacyIntro.jpg" alt="Leaving a Legacy" title="Leaving a Legacy">
        </div>
    </div>

    <div class="inner-content">
        <div class = "dark-heading">
            <h2>Making a Legacy Project</h2>
        </div>

        <div class = "dark-copy">
            You as a patient may want to think about leaving some kind of legacy for your children,
            grandchildren or other family members. There are lots of great legacy projects out there and depending on
            your energy level and interests, you may find one that works best for you.
            <br><br>
            If you are a family member supporting your loved one, creating a legacy project is a wonderful way to
            bring family together, create a lasting memory and give focus to the situation.
        </div>
    </div>
</div>
