<div class="sub-form-disclaimer-block">
    <!-- DISCLAIMER-->
    <div class="content-title">
        <h4>Please Read:</h4>
    </div>

    <div class="content-dark-copy">
        <p>
            I understand that the End of Life consultations I receive are provided for the basic purpose of preparing
            myself and my family for my eventual end of life care and legacy. I know that an End of Life consultant can help with
            health related questions and concerns allowing me to better plan, prepare and document all of my wishes
            and hopes for a good ending.
            <br><br>
            But I further understand that End of Life caregivers are not a substitute for medical palliative care, hospice care or
            emergency care but are rather meant to fill the gaps that standard medical care can not fill.
            <br><br>
            I also know that End of Life consultants can do much to aid in the comfort and care of a dying person but they can not
            prescribe or give out medications of any kind.
            <br><br>
            I understand that I must have up-to-date Covid vaccinations in order to meet with you in person. If I have
            not been vaccinated I can still see you via a remote call, for example a Zoom, Google Meet or a phone call.
        </p>

        <form #disclaimerForm="ngForm" class="disclaimer-form" novalidate>
            <div class="sub-form-button-container">
                <button class="sub-form-print-button" (click)="printProfile()">PRINT</button>
            </div>
        </form>
    </div>
</div>