<div class="header-detail-image header-understand-care-plan-image">
    <div class="header-quote">
        &#8220;{{quote}}&#8220;
    </div>
    <div class="header-author">
        {{author}}
    </div>
</div>

<div class="content-title">
    <h1>{{title.toUpperCase()}}</h1>
</div>

<div class="content-dark-copy">
    <p>
        Let's say you are in an accident or suffer a critical illness and end up in Emergency and are incapable of
        answering for yourself. When you arrive at the hospital - a health care team member must contact your
        next-of-kin in order to find an advocate for you. This is the critical moment where what you have done or not done in the past
        to plan for your own care will dictate what happens next. Who do you trust with your life?
        <br><br>
        Everyone no matter their age should create an advance care plan to go along with their will and other legal documents but this is
        specifically important for those who have any of the chronic health conditions.
    </p>
</div>

<div class="desktop-list">
    <div class="sub-content-list-title">
        <h4>Chronic Health Conditions Include:</h4>
    </div>

    <ul class ="sub-content-dark-list yin-yang-big">
        <li class="list-item">Insulin Dependent or Non-Insulin Dependent Diabetes.</li>
        <li class="list-item">Chronic Kidney Disease (CKD).</li>
        <li class="list-item">Heart Diseases such as Angina, Congestive Heart Failure, Heart Attack or Enlarged Heart.</li>
        <li class="list-item">Lung Disease such as COPD, Pulmonary Edema, Pulmonary Fibrosis, Pneumonitis.</li>
        <li class="list-item">Liver Disease such as Cirrhosis, Hepatitis B or C.</li>
        <li class="list-item">Parkinson’s, ALS, Huntington's or Multiple Sclerosis.</li>
        <li class="list-item">Vascular Diseases such as Stroke, Aneurysms, Peripheral Artery Diseases, Hypertension.</li>
        <li class="list-item">Auto-immune Disorders such as Addisons, Graves, Hashimotos or Graves Disease.</li>
        <li class="list-item">Dementia such as Alzheimer's, Huntingtons or Creutzfeldt-Jakob Disease.</li>
        <li class="list-item">Cancer.</li>
    </ul>
</div>

<div class="mobile-list">
    <div class="content-title">
        <h4>Chronic Health Conditions Include:</h4>
    </div>

    <ul class ="content-dark-list yin-yang-small">
        <li class="list-item">Insulin Dependent or Non-Insulin Dependent Diabetes.</li>
        <li class="list-item">Chronic Kidney Disease (CKD).</li>
        <li class="list-item">Heart Diseases such as Angina, Congestive Heart Failure, Heart Attack or Enlarged Heart.</li>
        <li class="list-item">Lung Disease such as COPD, Pulmonary Edema, Pulmonary Fibrosis, Pneumonitis.</li>
        <li class="list-item">Liver Disease such as Cirrhosis, Hepatitis B or C.</li>
        <li class="list-item">Parkinson’s, ALS, Huntington's or Multiple Sclerosis.</li>
        <li class="list-item">Vascular Diseases such as Stroke, Aneurysms, Peripheral Artery Diseases, Hypertension.</li>
        <li class="list-item">Auto-immune Disorders such as Addisons, Graves, Hashimotos or Graves Disease.</li>
        <li class="list-item">Dementia such as Alzheimer's, Huntingtons or Creutzfeldt-Jakob Disease.</li>
        <li class="list-item">Cancer.</li>
    </ul>
</div>

<div class = "content-title">
    <h4>It's Time to Plan</h4>
</div>

<div class="content-dark-copy">
    <p>
        If you have these or any other serious, chronic condition or have been told that you have some kind of time limit to your
        life, it is very important to put an advance care plan together for your family to follow. In addition to selecting the person or
        persons who will Advocate for you in the event of an emergency, an advance care plan allows you to state specific treatments and
        procedures that you may want to say yes or no to.
        <br><br>
        The plan can be as simple or as detailed as you like and can include Do Not Resuscitate, No CPR orders, or plans for an EDITH
        (Expected Death in the Home).
    </p>
</div>

<div class="desktop-list">
    <div class = "sub-content-list-title">
        <h4>Why Write an Advance Directive?</h4>
    </div>

    <ul class ="sub-content-dark-list yin-yang-big">
        <li class="list-item">You want to be in charge of your own health, life and death.</li>
        <li class="list-item">Your realize that doing so now could lead to less family conflicts later.</li>
        <li class="list-item">You trust your advocates but want to lessen the burden of them having to make difficult decisions.</li>
        <li class="list-item">You want to eliminate confusion for your family.</li>
    </ul>
</div>

<div class="mobile-list">
    <div class = "content-title">
        <h4>Why Write an Advance Directive?</h4>
    </div>

    <ul class ="content-dark-list yin-yang-small">
        <li class="list-item">You want to be in charge of your own health, life and death.</li>
        <li class="list-item">Your realize that doing so now could lead to less family conflicts later.</li>
        <li class="list-item">You trust your advocates but want to lessen the burden of them having to make difficult decisions.</li>
        <li class="list-item">You want to eliminate confusion for your family.</li>
    </ul>
</div>

<div class="content-title">
    <div *ngIf="sectionSelected === 'triggeredSection1'">
        <h6>
            <a (click)="this.getTriggeredPromptKey(0)">
                Close the Advance Directive Form: &#x25BC;
            </a>
        </h6>
    </div>

    <div *ngIf="sectionSelected != 'triggeredSection1'">
        <h6>
            <a (click)="this.getTriggeredPromptKey(1)">
                See the Advance Directive Form: &#x25B6;
            </a>
        </h6>
    </div>
</div>

<div *ngIf="sectionSelected === 'triggeredSection1'">
    <div class="content-images with-dark-border">
        <img src="assets/images/details/planAhead/understandPlans/advancedDirective.jpg"
             alt="Choose a Representative" >
    </div>
</div>

<div class = "content-dark-copy">
    <p>
        By creating an advance care directive, you can state specifically which treatments and procedures you want or do not want. It
        provides another vehicle to letting the health care providers know what your wishes are. Your directive will be followed by
        the health care providers as it pertains directly to the situation at hand.
        <br><br>
        An advance care plan becomes the final say - no matter what your advocates promote or try to deny you.
        If you are concerned that your wishes may not be followed by your advocate, you will need to state in the advance directive
        that your health care providers may act in accordance with your instructions without the consent of your representative. You can
        even name the procedures you would like attempted as well as the treatments you would not want.
    </p>
</div>


<div class="desktop-list">
    <div class="sub-content-list-title">
        <h4>Life Support and Medical Interventions Include:</h4>
    </div>

    <ul class ="sub-content-dark-list yin-yang-big">
        <li class="list-item">Tube Feedings</li>
        <li class="list-item">Ventilators</li>
        <li class="list-item">Kidney Dialysis</li>
        <li class="list-item">Medications</li>
        <li class="list-item">CPR (Cardio Pulmonary Resuscitation)</li>
        <li class="list-item">Intubation</li>
        <li class="list-item">Breathing Machines</li>
        <li class="list-item">DNR Orders</li>
    </ul>
</div>

<div class="mobile-list">
    <div class="content-title">
        <h4>Life Support and Medical Interventions Include:</h4>
    </div>

    <ul class ="content-dark-list yin-yang-small">
        <li class="list-item">Tube Feedings</li>
        <li class="list-item">Ventilators</li>
        <li class="list-item">Kidney Dialysis</li>
        <li class="list-item">Medications</li>
        <li class="list-item">CPR (Cardio Pulmonary Resuscitation)</li>
        <li class="list-item">Intubation</li>
        <li class="list-item">Breathing Machines</li>
        <li class="list-item">DNR Orders</li>
    </ul>
</div>



<div class = "content-title">
    <h4>Let your Needs be Known</h4>
</div>

<div class="content-dark-copy">
    <p>
        If you don't have an advance directive or your advance directive doesn't include a proposed health care treatment then your
        advocate either appointed as your Formal Substitute Decision Maker or your chosen legal representative(s) will be asked to make
        these decisions.
        <br><br>
        This means for example, if you don’t want to be intubated and it says so in your directive you will not be. If your directive
        doesn’t mention being intubated then the decision will be made by your advocate. If you don’t have an advocate, the
        decision will be made by the health care team.
        <br><br>
        You can ask your doctor to add a copy of your directive to your medical records.
        Keep a copy where it can be easily found in an emergency, and let your family and advocates know this location. Do not store your
        Advance Directive in a safety deposit box or in any locked box which could prove difficult for your family to open.
    </p>
</div>

<div class="content-title">
    <h4>
        Want to Write your Plan Now?
    </h4>
</div>

<div class="content-dark-copy">
    <p>
        If you have always been independent and self-sufficient, you will likely want to keep that going even as you near the end of your
        days on earth. It is possible to die with dignity but it may take some thoughtful discussions with family, friends and most
        importantly, yourself.
        <br><br>
        You can run our
        <b><a target="new" routerLink={{pathObject.child3_url}} > {{pathObject.parent_name}} > {{pathObject.child3_name}}</a> </b> wizard
        as often
        as
        you like
        while you consider all your questions and concerns. No data is saved so you have complete privacy.
       Once you feel good about your decisions, print it out and store it along with your other important papers.
    </p>
</div>






