<div class="dark-heading">
    <h1>COVID-19 CLEARANCE</h1>
</div>

<div class="form-heading">
    Questionnaire
</div>

<div class="form-assessment">
    <div class="top-prompt">
        Are you experiencing any of the following symptoms?
    </div>

    <ul class="question-list">
        <li class="question-item">&#x262f;&nbsp;Severe difficulty breathing</li>
        <li class="question-item">&#x262f;&nbsp;Severe chest pain</li>
        <li class="question-item">&#x262f;&nbsp;Difficulty waking up</li>
        <li class="question-item">&#x262f;&nbsp;Feeling confused</li>
        <li class="question-item">&#x262f;&nbsp;Losing consciousness</li>
    </ul>

    <div class="question-radio">
        <input type="radio" class="input-radio " value="yes" name="question_1_option_1" id="question_1_option_1">
        <label for="question_1_option_1" class="radio">Yes</label>
        <input type="radio" class="input-radio " value="no" name="question_1_option_2" id="question_1_option_2" checked="checked">
        <label for="question_1_option_2" class="radio">No</label>
    </div>

    <div class="list-prompt top-border">
        Are you experiencing any of the following health conditions?
    </div>

    <ul class="question-list">
        <li class="question-item">&#x262f;&nbsp;Mild to moderate shortness of breath</li>
        <li class="question-item">&#x262f;&nbsp;Difficult to breathe when lying down</li>
        <li class="question-item">&#x262f;&nbsp;Chronic health conditions</li>
    </ul>

    <div class="question-radio">
        <input type="radio" class="input-radio " value="yes" name="question_2_option_1" id="question_2_option_1">
        <label for="question_2_option_1" class="radio">Yes</label>
        <input type="radio" class="input-radio " value="no" name="question_2_option_2" id="question_2_option_2" checked="checked">
        <label for="question_2_option_2" class="radio">No</label>
    </div>

    <div class="list-prompt top-border">
        Are you having any difficulties with any of the following?
    </div>

    <ul class="question-list">
        <li class="question-item">&#x262f;&nbsp;Fever</li>
        <li class="question-item">&#x262f;&nbsp;Cough</li>
        <li class="question-item">&#x262f;&nbsp;Sneezing</li>
        <li class="question-item">&#x262f;&nbsp;Sore Throat</li>
    </ul>

    <div class="question-radio">
        <input type="radio" class="input-radio " value="yes" name="question_3_option_1" id="question_3_option_1">
        <label for="question_3_option_1" class="radio">Yes</label>
        <input type="radio" class="input-radio " value="no" name="question_3_option_2" id="question_3_option_2" checked="checked">
        <label for="question_3_option_2" class="radio">No</label>
    </div>

    <div class="question-prompt">
        Have you travelled to any countries outside Canada within the last 14 days?
    </div>

    <div class="question-radio  margin-bottom-1">
        <input type="radio" class="input-radio " value="yes" name="question_4_option_1" id="question_4_option_1">
        <label for="question_4_option_1" class="radio">Yes</label>
        <input type="radio" class="input-radio " value="no" name="question_4_option_2" id="question_4_option_2" checked="checked">
        <label for="question_4_option_2" class="radio">No</label>
    </div>

    <div class="question-prompt">
        Have you been in close contact with a person with COVID-19 while they were ill?
    </div>

    <div class="question-radio margin-bottom-1">
        <input type="radio" class="input-radio " value="yes" name="question_5_option_1" id="question_5_option_1">
        <label for="question_5_option_1" class="radio">Yes</label>
        <input type="radio" class="input-radio " value="no" name="question_5_option_2" id="question_5_option_2" checked="checked">
        <label for="question_5_option_2" class="radio">No</label>
    </div>

    <div class="question-prompt">
        Did you have close contact with a Covid infected person who travelled outside of Canada in the last 14 days?
    </div>

    <div class="question-radio margin-bottom-1">
        <input type="radio" class="input-radio " value="yes" name="question_6_option_1" id="question_6_option_1">
        <label for="question_6_option_1" class="radio">Yes</label>
        <input type="radio" class="input-radio " value="no" name="question_6_option_2" id="question_6_option_2" checked="checked">
        <label for="question_6_option_2" class="radio">No</label>
    </div>

    <div class="question-prompt">
        Have you been double vaccinated against Covid-19 with the accepted vaccines?
    </div>

    <div class="question-radio margin-bottom-1">
        <input type="radio" class="input-radio " value="yes" name="question_7_option_1" id="question_7_option_1">
        <label for="question_7_option_1" class="radio">Yes</label>
        <input type="radio" class="input-radio " value="no" name="question_7_option_2" id="question_7_option_2" checked="checked">
        <label for="question_7_option_2" class="radio">No</label>
    </div>

    <div class="prompt bottom-border"></div>
</div>




