<div class="content">
    <div class = "topic-block">
        <div class="topic-left">
            <h1>{{title}}  </h1>
        </div>

        <div class="topic-right">
            <img src="assets/images/support/practitioner/elements/elementIntro.jpg" alt="Know Your Element" title="Know Your Element">
        </div>
    </div>

    <div class="headings">
        <div class="dark-heading">
            <h1>Knowing Your Element</h1>
        </div>
    </div>

    <div class="text">
        <div class="dark-copy">
            In the beginning, there was nothing - the Chinese scholars call it Wu-Chi while science speaks in terms of
            chemical reactions resulting in the Big Bang, spiritualists talk of God, All That Is or other deities.
            Wu-Chi means no Chi, nothingness but inside that nothingness was the Chi potential, containing all energy
            needed for the creation of the universe, called Tai-Chi.
            Tai-Chi defines our ever cycling universe, with seasons, days, months, years, directions, day and night
            all working together in harmony based on the balancing forces of Yin and Yang.
            <br><br>
            Within Tai-Chi are the Five Elemental Forces of Nature: Water, Wood, Fire, Earth and Metal that exist on
            this continuously cycling Wheel. Each Element directs and influences Meridians that correspond to it's basic attributes.
            And each Meridian is either Yin or Yang. All of these influence and direct one another in order to maintain harmony.
        </div>
    </div>

    <div class="headings">
        <div class="dark-heading">
            <h3>Am you an Earth, Metal, Water, Wood or Fire?</h3>
        </div>
    </div>

    <div class="text">
        <div class="dark-copy">
            We all identify with one or more Elements based on our basic personality and traits. Each of us has a dominant
            Element, one who's attributes match most closely with our physical and psychological
            makeup. Usually we also relate to a secondary element as well. Sometimes the Element you resonate
            with at the present time is due to outside circumstances. For instance, grieving over the loss of a loved
            one will likely have you experiencing Metal element characteristics, that of grief and loss.
            <br><br>
            Just as you can have an unbalanced meridian, you can also have an
            unbalanced Element. One affects the other. Read through the lists of symptoms and see if any resonate with you. If you do note an elemental
            imbalance that resonates with you can try to correct it by implementing the corrections for the element or
            by correcting for the specific meridian that belongs to that element.
            <br><br>
            If you examine the Wheel you may think that there's overlap, in that, for example, Kidney is sedated by sending it's extra Water into Liver Wood.
            But then if Liver Wood needs more energy it gets it from Kidney Water. It looks like the same process!
            <br> <br>
            The difference is the acupressure points used. Whichever meridian is doing 'the work' - it is that meridian's element
            that the points belong to. So in this example, Liver sedating Kidney - Wood points are used because Liver is the working meridian.
            In the next case, when Wood needs energy, Water points are used because Kidney is doing the work.
        </div>
    </div>

    <div class="headings">
        <div class="dark-heading">
            <h3>How Different Elements React to a Situation</h3>
        </div>
    </div>

    <div class="text">
        <div class="dark-copy">
            Here is a hypothetical example based on the general characteristics that fit each Element's personalites.
            Let's say your want to attend one college or university and your parents want you to go to a different one,
            perhaps one they went to or one closer to home. An Earth element may
            succumb to the pressure to keep peace and go to the college their parents picked out.
            A Wood may lash out with anger and use their considerable intelligence to condescendingly lecture their parents.
            Water may fear that they have lost all their power and control and they may retreat to their room,
            beginning a deep depression. A Metal may go to their room and using their considerable ability to be logical, write a pros and cons list. And a Fire
            may cry, scream, have a panic attack and say hurtful and insensitive things to their parents till they get their way.
        </div>
    </div>
</div>

