
<div class = "topic-grid planning-wizard topic">
    <h1>{{title}}</h1>
</div>

<div class = "content-no-margins">
    <div class="dark-heading">
        <h1>Planning Ahead Made Easier!</h1>
    </div>

    <div class="dark-copy">
        Below are the major end-of-life care plan documents that you likely no nothing about, but are crucial to your future well-being. You can
        read more about what each form entails and then decide which ones, if not all, are a priority for you. They are listed in the order
        that you would likely need them depending on your age and health.
    </div>
</div>

<div class = "wizard-prompt">
    <a (click)="this.getTriggeredPromptKey(1)">
        &#8734;&nbsp;You are under 65 and in good health and fitness:
    </a>
</div>

<div *ngIf="sectionSelected === 'triggeredSection1'">
    <div class="wizard-two-inline-grid">
        <div class="wizard-inline-text">
            <span>
                If you consider that you are still physically well you will probably want life saving treatments
                and procedures in case you land in the hospital due to accident or injury. Nevertheless, just as you should
                have life insurance for your dependents even though you may never use it, you should consider any that life situations
                can change in an instant. Because of this it is important put some things in writing so that your wishes
                are known to your family and friends.
                <br><br>
                Let's say you are in a car accident and unable to speak for yourself. When you arrive at the hospital - a social worker or other health professional
                will fill out a form called a Temporary Substitute Decision Maker that they are legally required to follow in the order given on the form. The order is:
                <br><br>
                Spouse > Adult Children if any > Parents > Siblings > Grandparents > Grandchildren > Others Related by Birth or Adoption >
                Close Friend(s) and Others related by marriage. There is also a place to enter one or two people who you DO NOT
                wish to have any say over your health or well-being (although I don't know how they would know how to fill that one out!).
                <br><br>
                To read more about the TSDM form in detail <b><a routerLink="/planAhead">click here</a></b>.
                <br><br>
                If you have no issues with the idea that your health and life decisions are about to be made by someone selected by a stranger, then this might work for you.
                If, however you know, for instance, that you want your oldest grand-child who is over 19 to be the decision maker for you, but you have not
                written this wish down, it is highly unlikely
                that they will miraculously work their way
                down the list to that level. Maybe instead, they will choose your spouse, the top person on the list to call. But they may be an ex-spouse and may not have your
                best interests at
                heart.
                <br><br>
                It is for this reason, that it is smart and proactive to fill out a Representative Section 9 form to legally and permanently state who
                you would prefer to make life and death decisions on your behalf.
                <br><br>
<!--                And by following this <a routerLink="/repNineWizard" fragment="wizard-rep-nine">Representative Section-9 Wizard </a>-->

                 And by following this <a routerLink="/chooseRepresentative">Representative Section-9 page </a>

                you can quickly and easily select the one or, at maximum two people you trust who would best handle any health related
                decisions if you are not in a position to do so due to accident or injury. By filling out this list, you are letting
                the health care team know who you have specifically chosen to make decisions for you related to your situation.
            </span>
        </div>

        <div class="wizard-inline-image">
            <a routerLink="/chooseRepresentative"><img src="assets/images/wizard/rep9.jpg"></a>
        </div>
    </div>
</div>

<div *ngIf="sectionSelected != 'triggeredSection1'">
    <div class="wizard-two-inline-grid-hidden"></div>
</div>

<div class = "wizard-prompt">
    <a (click)="this.getTriggeredPromptKey(2)">
        &#8734;&nbsp;You have one or more chronic conditions, at any age:
    </a>
</div>

<div *ngIf="sectionSelected === 'triggeredSection2'">
    <div class="wizard-two-inline-grid">
        <div class="wizard-inline-text">
            <span>
                Common chronic health conditions include:
                <ul class = "dark-list">
                    <li >Diabetes</li>
                    <li>High Blood Pressure</li>
                    <li>Kidney Disease</li>
                    <li>Heart Disease</li>
                    <li>Lung Disease</li>
                    <li>Liver Disease</li>
                    <li>Parkinson’s</li>
                    <li>ALS</li>
                    <li>Huntington’s</li>
                    <li>Multiple Sclerosis</li>
                    <li>Vascular Disease</li>
                    <li>Auto-immune Disorders</li>
                    <li>Early to Moderate Dementia</li>
                </ul>
                If you have these or any other chronic condition
                it is very important to put a plan together for your family to follow. In addition to the Representative Section 9 document
                listed above you are wise to create an <a routerLink="/acpWizard"> Advanced Care Plan or Advance Directive</a>.
            </span>
        </div>
        <div class="wizard-inline-image">
            <a routerLink="/repNineWizard"><img src="assets/images/wizard/rep9.jpg"></a>
            <a routerLink="/acpWizard"><img src="assets/images/wizard/acplan.jpg"></a>
        </div>
    </div>
</div>

<div *ngIf="sectionSelected != 'triggeredSection2'">
    <div class="wizard-two-inline-grid-hidden"></div>
</div>

<div class = "wizard-prompt">
    <a (click)="this.getTriggeredPromptKey(3)">
        &#8734;&nbsp;You have a life-threatening illness and your life-expectancy is less than one to two years, at any age:
    </a>
</div>

<div *ngIf="sectionSelected === 'triggeredSection3'">
    <div class="wizard-two-inline-grid">
        <div class="wizard-inline-text">
            <span>
                If you have been told some kind of time limit to your life, it is imperative to make an end of life plan.
                The plan can be as simple or as detailed as you like and can include DNR orders, EDITH plans (Expected Death in the Home)
                funeral arrangements, celebrations etc.
                 <br><br>
                If you want to ensure that your needs and wishes are respected right to the end, you should seriously consider making an
                Advanced Care Plan. Although the Representative Section 9 form has a few lines where you can enter more detailed wishes,
                an <a routerLink="/acpWizard">Advanced Care Plan aka Advanced Directive</a> allows you to consider a myriad of
                questions and concerns to address earlier rather than later.
            </span>
        </div>
        <div class="wizard-inline-image">
            <a routerLink="/repNineWizard"><img src="assets/images/wizard/rep9.jpg"></a>
            <a routerLink="/acpWizard"><img src="assets/images/wizard/acplan.jpg"></a>
        </div>
    </div>
</div>

<div *ngIf="sectionSelected != 'triggeredSection3'">
    <div class="wizard-two-inline-grid-hidden"></div>
</div>

<div class = "wizard-prompt">
    <a (click)="this.getTriggeredPromptKey(4)">
        &#8734;&nbsp;You are over 65 and relatively healthy:
    </a>
</div>

<div *ngIf="sectionSelected === 'triggeredSection4'">
    <div class="wizard-two-inline-grid">
        <div class="wizard-inline-text">
             <span>
                Even if you are still healthy and feeling fine, getting your affairs in order at this age, is essential to the peace of mind of yourself and your family.
                <br><br>
                After 65 years of age, it is assumed that, no matter your apparent health, you are more vulnerable and
                less resilient to disease and injury. Advance Care Planning should be an urgent call to action at this
                point in your life.
            </span>
          </div>

        <div class="wizard-inline-image">
            <a routerLink="/repNineWizard"><img src="assets/images/wizard/rep9.jpg"></a>
        </div>
    </div>
</div>

<div *ngIf="sectionSelected != 'triggeredSection4'">
    <div class="wizard-two-inline-grid-hidden"></div>
</div>

<div class = "wizard-prompt">
    <a (click)="this.getTriggeredPromptKey(5)">
        &#8734;&nbsp;You are over 65 and having trouble managing your day-to-day affairs and the activities of daily living.:
    </a>
</div>

<div *ngIf="sectionSelected === 'triggeredSection5'">
    <div class="wizard-two-inline-grid">
        <div class="wizard-inline-text">
             <span>
                If you are a “frail elder” meaning you need help with your daily care, meals and house-keeping then
                it is even more essential to create an advanced care plan to put on your fridge door or somewhere it
                can be easily found by family and friends.
                <br><br>
                As a frail elder, you need the above forms filled out along with ensuring that you or your family
                have investigated care homes or have more services brought to your home, such as Meals on Wheels. You may also consider filling out
                the following forms.
                <br><br>
                In this situation along with the above you may want to fill out a <a routerLink="/dnrWizard"> DNR (do not resuscitate)</a> form.
                This tells Paramedics and Hospital staff that you do not wish to be revived through Artificial Respiration methods. Read here why
                CPR may not be for you.
                <br><br>
                You may also want to fill out an <a routerLink="/edithWizard">EDITH form (Expected Death in the
                Home)</a> if you would like to die at home. There is even a <a routerLink="/transferWizard">Private Transfer Permit Application</a>
                form that allows family to transport their loved one"s body to the funeral home or crematorium. This may seem strange,
                but it allows families to gather and have more time with the deceased, perhaps to have a wake or some other kind of ritual.
                <br><br>
                After 75 years of age, it is assumed that, no matter your apparent health, you are more vulnerable and
                less resilient to disease and injury. Advance Care Planning should be an urgent call to action at this
                point in your life.
            </span>
        </div>

        <div class="wizard-inline-image">
            <a routerLink="/dnrWizard"><img src="assets/images/wizard/dnr.jpg"></a>
            <a routerLink="/edithWizard"><img src="assets/images/wizard/edith.jpg"></a>
            <a routerLink="/transferWizard"><img src="assets/images/wizard/transfer.jpg"></a>
        </div>
    </div>
</div>

<div *ngIf="sectionSelected != 'triggeredSection5'">
    <div class="wizard-two-inline-grid-hidden"></div>
</div>

<div class = "wizard-prompt">
    <a (click)="this.getTriggeredPromptKey(6)">
        &#8734;&nbsp;You are over 75, no matter your state of health:
    </a>
</div>

<div *ngIf="sectionSelected === 'triggeredSection6'">
    <div class="wizard-two-inline-grid">
        <div class="wizard-inline-text">
             <span>
                If you are a “frail elder” meaning you need help with your daily care, meals and house-keeping then
                it is even more essential to create an advanced care plan to put on your fridge door or somewhere it
                can be easily found by family and friends.
                <br><br>
                As a frail elder, you need the above forms filled out along with ensuring that you or your family
                have investigated care homes or have more services brought to your home, such as Meals on Wheels. You may also consider filling out
                the following forms.
                <br><br>
                In this situation along with the above you may want to fill out a <a routerLink="/dnrWizard"> DNR (do not resuscitate)</a> form.
                This tells Paramedics and Hospital staff that you do not wish to be revived through Artificial Respiration methods. Read here why
                CPR may not be for you.
                <br><br>
                You may also want to fill out an <a routerLink="/edithWizard">EDITH form (Expected Death in the
                Home)</a> if you would like to die at home. There is even a <a routerLink="/transferWizard">Private Transfer Permit Application</a>
                form that allows family to transport their loved one"s body to the funeral home or crematorium. This may seem strange,
                but it allows families to gather and have more time with the deceased, perhaps to have a wake or some other kind of ritual.
                <br><br>
                After 75 years of age, it is assumed that, no matter your apparent health, you are more vulnerable and
                less resilient to disease and injury. Advance Care Planning should be an urgent call to action at this
                point in your life.
            </span>
        </div>

        <div class="wizard-inline-image">
            <a routerLink="/dnrWizard"><img src="assets/images/wizard/dnr.jpg"></a>
            <a routerLink="/edithWizard"><img src="assets/images/wizard/edith.jpg"></a>
            <a routerLink="/transferWizard"><img src="assets/images/wizard/transfer.jpg"></a>
        </div>
    </div>
</div>

<div *ngIf="sectionSelected != 'triggeredSection6'">
    <div class="wizard-two-inline-grid-hidden"></div>
</div>





