
/*  BANANA PORTRAIT *******************************************************************************************/
@media only screen
and (min-width: 240px)
and (max-width: 359px)
and (orientation: portrait) {


}

/* BANANA LANDSCAPE ****************************************************************************************************/
@media only screen
and (min-width: 568px)
and (max-width: 895px)
and (orientation: landscape) {


}

/* MOBILES PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 360px)
and (max-width: 599px)
and (orientation: portrait) {


}

/*  MOBILES LANDSCAPE **************************************************************************************************/
@media only screen
and (min-width:896px )
and (max-width: 1279px)
and (orientation: landscape) {


}

/*  TABLETS PORTRAIT *******************************************************************************************/
@media only screen
and (min-width: 600px)
and (max-width: 1023px)
and (orientation: portrait) {

}

/*  TABLETS LANDSCAPE *******************************************************************************************/
@media only screen
and (min-width: 1280px)
and (max-width: 1365px)
and (orientation: landscape) {


}

/* IPADS PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 1024px)
and (max-width: 1366px)
and (orientation: portrait) {

}

/* IPADS LANDSCAPE ***************************************************************************************************/
@media only screen
and (min-width: 1366px)
and (max-width: 1439px)
and (orientation: landscape) {

}

/* LAPTOPS ****************************************************************************************************/
@media only screen
and (min-width: 1440px)
and (max-width:1919px){

}

/* DESKTOPS ****************************************************************************************************/
@media only screen
and (min-width: 1920px) {

}

/* GLOBAL *************************************************************************************************************/
@media only screen {

    .wizard-prompt {
        display:block;
        float: left;
        width:100%;
        padding:1em;
        text-align:left;
        margin:1em 5%;
    }

    .wizard-prompt a {
        font-size: var(--med-copy-desktop-font-size);
        font-family: var(--family-copy);
        color: var(--color-dark-blue);
        font-weight: 800;
        text-decoration: underline;
        cursor:pointer;
    }

    .wizard-two-inline-grid-hidden {
        display:none;
    }

    /* the inline copy and image grid */
    .wizard-two-inline-grid {
        display:inline-grid;
        /*float:left;*/
        width:95%;
        margin-left:5%;
        margin-top:1em;
        grid-template-columns: 75% 25%;
        border:thin dotted var(--color-dark-blue);
    }

    .wizard-two-inline-grid-hidden {
        display:none;
    }

    .wizard-inline-text {
        display:grid;
        width:90%;
        padding:1em 5%;
        color:var(--color-dark-blue);
        align-content: center;
    }

    .wizard-inline-text span, .wizard-inline-text span a {
        font-size:1em;
        font-family:var(--family-copy);
        color:var(--color-dark-blue);
    }

    .wizard-inline-text span {
        /*display:block;*/
        /*padding-top: .5em;*/
    }

    .wizard-inline-text span a {
        font-weight:bold;
        text-decoration: none;
        cursor: pointer;
    }

    .wizard-inline-image {
        display:grid;
        /*height:inherit;*/
        width:100%;
        align-content: center;
        justify-content: center;
    }

    .wizard-inline-image img {
        max-width:100%;
        height:auto;

    }



}
