<!-- DEMOGRAPHIC INFO -->

<!-- DESKTOP -->
<div class="forms-desktop bordered-input">
    <div class="title-background">
        Your Contact Information
    </div>

    <div class="two-unequal-columns-block">
        <label class="first-text-column" for="name">Your Full Name:</label>
        <label class="second-text-column" for="cellPhone">Phone:</label>

        <input type="text" class="first-text-column" [(ngModel)]="model.name" id="name" name="name">
        <input [(ngModel)]="model.cellPhone" type="text"
               mask="000-000-0000"
               class="second-text-column" id="cellphone" name="cellPhone" oninput="this.value=this.value">

        <label class="full-text-column" for="email">Email:</label>
        <input type="text" class="full-text-column" [(ngModel)]="model.email" id="email" name="email">

        <label class="full-text-column" for="address">Home Address:</label>
        <textarea class="full-text-column" [(ngModel)]="model.address" rows=2 id="address" name="address"> </textarea>
    </div>

    <div class="four-columns pad-top-1">
        <label class="first-text-column" for="city">City/Town:</label>
        <label class="second-text-column" for="provState">Prov:</label>
        <label class="third-text-column" for="pc">Postal Code:</label>
        <label class="fourth-text-column" for="country">Country:</label>

        <input type="text" class="first-text-column" [(ngModel)]="model.city" id="city" name="city">

        <div class="form-group">
            <select class="second-text-column" id="provState"  [(ngModel)]="model.provState" name="provState">
                <option *ngFor="let prov of provinces" [value]="prov">{{prov}}</option>
            </select>
        </div>

        <input [(ngModel)]="model.pc" type="text"
               mask="U0U-0U0"
               class="third-text-column" id="pc" name="pc" oninput="this.value = this.value.toUpperCase()">

        <input type="text" class="fourth-text-column" [(ngModel)]="model.country" id="country" name="country">
    </div>

    <div class="title-background">
        Emergency Contact
    </div>

    <div class="four-columns pad-top-1">
        <label class="first-text-column" for="emergName">Contact:</label>
        <label class="second-text-column" for="emergPhone">Phone:</label>
        <label class="third-fourth-text-column" for="emergRelation">Relationship:</label>

        <input type="text" class="first-text-column" [(ngModel)]="model.emergName" id="emergName"  name="emergName">
        <input [(ngModel)]="model.emergPhone" type="text"
               mask="000-000-0000"
               class="second-text-column" id="emergPhone" name="emergPhone" oninput="this.value=this.value">

        <input type="text" class="third-fourth-text-column" [(ngModel)]="model.emergRelation" id="emergRelation"  name="emergRelation">
    </div>

    <div class="title-background">
        Optional Details
    </div>

    <div class="four-columns pad-top-1">
        <label class="first-text-column" for="birthdate">Birthdate (mm-dd-yyyy):</label>
        <label class="second-text-column" for="occupation">Occupation:</label>
        <label class="third-fourth-text-column" for="referredBy">Referred By:</label>

        <input type="text" class="form-control first-text-column" mask="00-00-0000"
               id="birthdate" [(ngModel)]="model.birthdate" name="birthdate"
               oninput="this.value=this.value">

        <input type="text" class="form-control second-text-column" id="occupation" [(ngModel)]="model.occupation" name="occupation">
        <input type="text" class="form-control third-fourth-text-column" id="referredBy" [(ngModel)]="model.referredBy" name="referredBy">
    </div>
</div>

<!-- MOBILE -->
<div class="forms-mobile bordered-input">
    <div class="title-background">
        Your Contact Information
    </div>

    <div class="one-full-column-block">
        <label class="full-text-column" for="m-name">Your Full Name:</label>
        <input type="text" class="full-text-column" [(ngModel)]="model.name" id="m-name" name="name">

        <label class="full-text-column" for="m-cellPhone">Phone:</label>
        <input [(ngModel)]="model.cellPhone" type="text"
               mask="000-000-0000"
               class="full-text-column" id="m-cellphone" name="cellPhone" oninput="this.value=this.value">

        <label class="full-text-column" for="m-email">Email:</label>
        <input type="text" class="full-text-column" [(ngModel)]="model.email" id="m-email" name="email">

        <label class="full-text-column" for="m-address">Home Address:</label>
        <textarea class="full-text-column" [(ngModel)]="model.address" rows=2 id="m-address" name="address"> </textarea>
    </div>

    <div class="two-small-big-columns-block pad-top-1">
        <label class="first-text-column" for="m-city">City/<br>Town:</label>
        <input type="text" class="second-text-column" [(ngModel)]="model.city" id="m-city" name="city">
    </div>

    <div class="two-small-big-columns-block pad-top-1">
       <label class="first-text-column" for="m-provState">Prov:</label>

        <div class="form-group">
            <select class="second-text-column with-dark-border" id="m-provState"
                    [(ngModel)]="model.provState" name="provState">
                <option *ngFor="let prov of provinces" [value]="prov">{{prov}}</option>
            </select>
        </div>
    </div>

    <div class="two-small-big-columns-block pad-top-1">
        <label class="first-text-column" for="m-pc">Postal Code:</label>
        <input [(ngModel)]="model.pc" type="text"
            mask="U0U-0U0"
            class="second-text-column" id="m-pc" name="pc" oninput="this.value = this.value.toUpperCase()">
    </div>

    <div class="two-small-big-columns-block pad-top-1">
        <label class="first-text-column" for="m-country">Country:</label>
        <input type="text" class="second-text-column margin-bottom-2" [(ngModel)]="model.country" id="m-country" name="country">
    </div>

    <div class="title-background">
        Emergency Contact
    </div>

    <div class="one-full-column-block pad-top-1">
        <label class="full-text-column" for="m-emergName">Contact:</label>
        <input type="text" class="full-text-column" [(ngModel)]="model.emergName" id="m-emergName"  name="emergName">

        <label class="full-text-column" for="m-emergPhone">Phone:</label>
        <input [(ngModel)]="model.emergPhone" type="text"
               mask="000-000-0000"
               class="full-text-column" id="m-emergPhone" name="emergPhone" oninput="this.value=this.value">

        <label class="full-text-column" for="m-emergRelation">Relationship:</label>
       <input type="text" class="full-text-column margin-bottom-2" [(ngModel)]="model.emergRelation" id="m-emergRelation"  name="emergRelation">
    </div>

    <div class="title-background">
        Optional Details
    </div>

    <div class="one-full-column-block pad-top-1">
        <label class="full-text-column" for="m-birthdate">Birthdate: (mm-dd-yyyy)</label>
        <input type="text" class="form-control full-text-column" mask="00-00-0000"
               id="m-birthdate" [(ngModel)]="model.birthdate" name="birthdate"
               oninput="this.value=this.value">

        <label class="full-text-column" for="m-occupation">Occupation:</label>
        <input type="text" class="form-control full-text-column" id="m-occupation" [(ngModel)]="model.occupation" name="occupation">

        <label class="full-text-column" for="m-referredBy">Referred By:</label>
        <input type="text" class="form-control full-text-column" id="m-referredBy" [(ngModel)]="model.referredBy" name="referredBy">

    </div>
</div>
