
/*  BANANA PORTRAIT *******************************************************************************************/
@media only screen
and (min-width: 240px)
and (max-width: 359px)
and (orientation: portrait) {



}

/* BANANA LANDSCAPE ****************************************************************************************************/
@media only screen
and (min-width: 568px)
and (max-width: 895px)
and (orientation: landscape) {



}
/* MOBILES PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 360px)
and (max-width: 599px)
and (orientation: portrait) {


    /* CLIENT ASSESSMENT */




    .saf-sign {
        display:inline-grid;
        grid-template-columns: 55% 45%;
        grid-template-rows: repeat(2, 100%);
    }
}



/* MOBILES LANDSCAPE ****************************************************************************************************/
@media only screen
and (min-width: 896px )
and (max-width: 1279px)
and (orientation: landscape) {

    /* CLIENT ASSESSMENT */



    .saf-sign {
        display:inline-grid;
        grid-template-columns: 55% 45%;
        grid-template-rows: repeat(2, 100%);
    }
}

/* TABLETS PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 600px)
and (max-width: 1023px)
and (orientation: portrait) {

    /* CLIENT ASSESSMENT */



    .saf-sign  {
        font-size: 0.9em;
    }

    .saf-sign {
        grid-template-columns: 55% 45%;
        grid-template-rows: repeat(2, 100%);
    }
}

/* TABLETS LANDSCAPE ***************************************************************************************************/
@media only screen
and (min-width: 1280px)
and (max-width: 1365px)
and (orientation: landscape) {

    /* CLIENT ASSESSMENT */




    .saf-sign  {
        font-size: 1.0em;
    }

    .saf-sign {
        grid-template-columns: 55% 45%;
        grid-template-rows: repeat(2, 100%);
    }
}



/* IPADS PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 1024px)
and (max-width: 1366px)
and (orientation: portrait) {

    /* CLIENT ASSESSMENT */




    .saf-sign  {
        font-size: 0.9em;
    }

    .saf-sign {
        grid-template-columns: 55% 45%;
        grid-template-rows: repeat(2, 100%);
    }

}

/* IPADS LANDSCAPE ***************************************************************************************************/
@media only screen
and (min-width: 1366px)
and (max-width: 1439px)
and (orientation: landscape) {

    /* CLIENT ASSESSMENT */




    .saf-sign  {
        font-size: 1.0em;
    }

    .saf-sign {
        grid-template-columns: 55% 45%;
        grid-template-rows: repeat(2, 100%);
    }
}

/* LAPTOPS *****************************************************************************************************/
@media only screen
and (min-width: 1440px)
and (max-width: 1919px) {



    /* SELF ASSESSMENT */



    .saf-sign {
        grid-template-columns: 14% 36% 5% 45%;
        grid-template-rows: repeat(1, 100%);
    }

    .saf-sign-here-text, .saf-sign-here-line, .saf-dated-text, .saf-dated-line {
        grid-row: 1 / -1;
    }

    .saf-sign-here-text {
        grid-column: 1 / 2;
        padding-left:1em;
    }

    .saf-sign-here-line {
        grid-column: 2 / 3;
        margin-top:.4em;
        margin-right:1em;
        /*background: url("images/book/line.jpg") right repeat-x;*/
    }

    .saf-dated-text {
        grid-column: 3 / 4;
    }

    .saf-dated-line  {
        grid-column: 4 / -1;
        /*background: url("images/book/line.jpg") right repeat-x;*/
        margin-top:.4em;
        margin-right:1em;
    }

}



    /* DESKTOPS ****************************************************************************************************/
@media only screen
and (min-width: 1920px) {

    /* SELF ASSESSMENT */



    .saf-sign {
        grid-template-columns: 14% 36% 5% 45%;
        grid-template-rows: repeat(1, 100%);
    }

    .saf-sign-here-text, .saf-sign-here-line, .saf-dated-text, .saf-dated-line {
        grid-row: 1 / -1;
    }

    .saf-sign-here-text {
        grid-column: 1 / 2;
        padding-left:1em;
    }

    .saf-sign-here-line {
        grid-column: 2 / 3;
        margin-top:.4em;
        margin-right:1em;
        background: url("src/assets/images/book/line.jpg") right repeat-x;
    }

    .saf-dated-text {
        grid-column: 3 / 4;
    }

    .saf-dated-line  {
        grid-column: 4 / -1;
        background: url("src/assets/images/book/line.jpg") right repeat-x;
        margin-top:.4em;
        margin-right:1em;
    }
}


/* GLOBAL ************************************************************************************************************* */
@media only screen {




    .saf-treatment-consent {
        display: block;
        float: left;
        width: 95%;
        margin: auto;
        background-color: white;
    }

    .saf-treatment-consent p {
        margin: 1em;
        text-align: left;
    }

    .saf-sign {
        display: inline-grid;
        width: 100%;
        padding-top: 1em;
        padding-bottom: 1em;
        line-height: 150%;
    }

    .saf-item {
        display: grid;
    }

    .saf-question span, .saf-question li, .saf-answer, .saf-treatment-consent p, .saf-sign {
        color: var(--color-dark-blue);
        font-family: var(--family-data);
        text-align: left;
    }
}