<div class="content">
    <div class="inner-content">
        <div class="dark-heading">
            <h1>COVID-19 CLEARANCE</h1>
        </div>
    </div>

    <div class="forms-desktop">
        <div class="form-heading">
            Please answer these questions
        </div>

        <div class="form-prompt">
            Are you experiencing any of the following symptoms?
        </div>

        <ul class="dark-list">
            <li class="list-item">Severe difficulty breathing (example: struggling to breathe, hard to speak single words)</li>
            <li class="list-item">Severe chest pain</li>
            <li class="list-item">Difficulty waking up</li>
            <li class="list-item">Feeling confused</li>
            <li class="list-item">Losing consciousness</li>

            <li class="list-item-2-cols">
                <input type="radio" class="dark-copy" value=true name="truefalse1">Yes
                <input type="radio" class="dark-copy" value="false" name="truefalse1">No
            </li>
        </ul>

        <div class="form-prompt">
            Are you experiencing any of the following health conditions?
        </div>

        <ul class="dark-list">
            <li class="list-item">Mild to moderate shortness of breath</li>

            <li class="list-item">Inability to lie down because it is difficult to breathe</li>

            <li class="list-item">Chronic health conditions that you are having difficulty managing</li>

            <li class="list-item-2-cols">
                <input type="radio" class="answer2" value=true name="truefalse2">Yes
                <input type="radio" class="answer2" value="false" name="truefalse2">No
            </li>
        </ul>

        <div class="form-prompt">
            Are you having any difficulties with any of the following?
        </div>

        <ul class="dark-list">
            <li class="list-item">Fever</li>
            <li class="list-item">Cough</li>
            <li class="list-item">Sneezing</li>
            <li class="list-item">Sore Throat</li>

            <li class="list-item-2-cols">
                <input type="radio" class="answer2" value=true name="truefalse3">Yes
                <input type="radio" class="answer2" value="false" name="truefalse3">No
            </li>
        </ul>

        <div class="form-prompt">
            Have you travelled to any countries outside Canada (including the U.S.A) within the last 14 days?
        </div>

        <ul class="dark-list">
            <li class="list-item-2-cols">
                <input type="radio" class="answer4" value=true name="truefalse4">Yes
                <input type="radio" class="answer4" value="false" name="truefalse4">No
            </li>
        </ul>

        <div class="form-prompt">
            Have you been in close contact with a person with COVID-19 (probable or confirmed) while they were ill?
        </div>

        <ul class="dark-list">
            <li class="list-item-2-cols">
                <input type="radio" class="answer5" value=true name="truefalse5">Yes
                <input type="radio" class="answer5" value="false" name="truefalse5">No
            </li>
        </ul>

        <div class="form-prompt">
            Did you have close contact with a person who travelled outside of Canada in the last 14 days who has become ill?
        </div>

        <ul class="dark-list">
            <li class="list-item-2-cols">
                <input type="radio" class="answer6" value=true name="truefalse6">Yes
                <input type="radio" class="answer6" value="false" name="truefalse6">No
            </li>
        </ul>

        <div class="form-prompt">
            Have you been double vaccinated against Covid-19 with the accepted vaccines?
        </div>

        <ul class="dark-list">
            <li class="list-item-2-cols">
                <input type="radio" class="answer6" value=true name="truefalse6">Yes
                <input type="radio" class="answer6" value="false" name="truefalse6">No
            </li>
        </ul>

        <div class="disclaimer">
            <p>Please Read Carefully:</p>
            <span>
                  I understand that I must have proof of up-to-date Covid vaccinations in order to meet with you in person.
                  If I have not been vaccinated I can still see you via a remote call, for example a Zoom or phone meeting.
                  <br><br>
                  If I want to meet you in person then I agree to bring this form along with proof of my Covid vaccination
                  status in the form of the vaccine passport.
                  By signing below I agree and accept the above conditions.
              </span>

            <div class="sig-date-prompt">Signature:</div>
            <div class="sig-date-line">&nbsp;</div>
            <div class="sig-date-prompt">Date:</div>
            <div class="sig-date-line">&nbsp;</div>
        </div>

        <div class="print-forms-grid">
            <button class="print-forms-button"(click)="printProfile()">PRINT</button>
        </div>
    </div>


</div>


