

/* BANANA PORTRAIT  *****************************************************************************/
@media only screen
and (min-width: 240px)
and (max-width: 359px)
and (orientation: portrait){

  /* use min width 240 to get 122 height and cover  */
  .top-heading-home {
    height:var(--banana-port-home-image-height);
  }

  /* use min width 240 to get 56 height and cover  */
  .top-heading-details {
    height:var(--banana-port-detail-image-height);
  }

  /*.vertical-heading {
    width:var(--vertical-banana-port-font-width);
    font-size:var(--vertical-banana-port-font-size);
    height:var(--banana-port-detail-image-height) ;
  }*/

  .top-heading-quotes {
    width:90%;
  }

  /* allow for 2 lines on banana both, mobile portrait and tablet portrait */
  .top-heading-quotes p, .top-heading-quotes span {
    font-size:var(--h1-banana-mobile-port-font-size);
  }

  .quote-end img {
    height:10px;
  }

}

/* BANANA LANDSCAPE  *****************************************************************************/
@media only screen
and (min-width: 568px)
and (max-width: 895px)
and (orientation: landscape) {

  /* use min width 568 to get 289 height and cover  */
  .top-heading-home {
    height:var(--banana-land-home-image-height);
  }

  /* use min width 568 to get 133 height and cover  */
  .top-heading-details {
    height:var(--banana-land-detail-image-height);
  }

  /*.vertical-heading {
    width:var(--vertical-banana-land-font-width);
    font-size:var(--vertical-banana-land-font-size);
    height:var(--banana-land-detail-image-height) ;
  }*/

  .top-heading-quotes {
    width:90%;
  }

  /* allow for 2 lines on banana both, mobile portrait and tablet portrait */
  .top-heading-quotes p, .top-heading-quotes span {
    font-size:var(--h1-banana-mobile-land-font-size);
  }

  .quote-end img {
    height:20px;
  }

}

/* MOBILES PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 360px)
and (max-width: 599px)
and (orientation: portrait) {

  /* use min width 360 to get 183 height and cover  */
  .top-heading-home {
    height:var(--mobile-port-home-image-height);
  }

  /* use min width 360 to get 84 height and cover  */
  .top-heading-details {
    height:var(--mobile-port-detail-image-height);
  }

  /*.vertical-heading {
    width:var(--vertical-mobile-port-font-width);
    font-size:var(--vertical-mobile-port-font-size);
    height:var(--mobile-port-detail-image-height) ;
  }*/

  .top-heading-quotes {
    width:90%;
  }

  /* allow for 2 lines on banana, mobile portrait and tablet portrait */
  .top-heading-quotes p, .top-heading-quotes span {
    font-size:var(--h1-banana-mobile-port-font-size);
  }

  .quote-end img {
    height:10px;
  }

}

/*  MOBILES LANDSCAPE **************************************************************************************************/
@media only screen
and (min-width:896px )
and (max-width: 1279px)
and (orientation: landscape) {

  /* use min size 896 to get 456 height and cover */
  .top-heading-home {
    height:var(--mobile-land-home-image-height);
  }

  /* use min width 896 to get 210 height and cover  */
  .top-heading-details {
    height:var(--mobile-land-detail-image-height);
  }

  /*.vertical-heading {
    width:var(--vertical-mobile-land-font-width);
    font-size:var(--vertical-mobile-land-font-size);
    height:var(--mobile-land-detail-image-height) ;
  }*/

  .top-heading-quotes {
    width:90%;
  }

  .top-heading-quotes p, .top-heading-quotes span {
    font-size:var(--h1-banana-mobile-land-font-size);
  }

  .quote-end img {
    height:20px;
  }

}

/* TABLETS PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 600px)
and (max-width: 1023px)
and (orientation: portrait) {

  /* use min size 600 to get 306 height and cover */
  .top-heading-home {
    height:var(--tablet-port-home-image-height);
  }

  /* use min width 600 to get 141 height and cover  */
  .top-heading-details {
    height:var(--tablet-port-detail-image-height);
  }

  /*.vertical-heading {
    width:var(--vertical-tablet-port-font-width);
    font-size:var(--vertical-tablet-port-font-size);
    height:var(--tablet-port-detail-image-height) ;
  }*/

  .top-heading-quotes {
    width:90%;
  }

  /* allow for 2 lines on banana both, mobile portrait and tablet portrait */
  .top-heading-quotes p, .top-heading-quotes span {
    font-size:var(--h1-tablet-ipad-port-font-size);
  }

  .quote-end img {
    height:20px;
  }

}

/* TABLETS LANDSCAPE ***************************************************************************************************/
@media only screen
and (min-width: 1280px)
and (max-width: 1365px)
and (orientation: landscape) {

  /* use min size 1280 to get 652 height and cover */
  .top-heading-home {
    height:var(--tablet-land-home-image-height);
  }

  /* use min width 1280 to get 300 height and cover  */
  .top-heading-details {
    height:var(--tablet-land-detail-image-height);
  }

 /* .vertical-heading {
    width:var(--vertical-tablet-land-font-width);
    font-size:var(--vertical-tablet-land-font-size);
    height:var(--tablet-land-detail-image-height) ;
  }*/

  .top-heading-quotes {
    width:100%;
  }

  .top-heading-quotes p, .top-heading-quotes span {
    font-size:var(--h1-tablet-ipad-land-font-size);
  }

  .quote-end img {
    height:40px;
  }

}

/* IPADS PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 1024px)
and (max-width: 1366px)
and (orientation: portrait) {

  /* use min size 1024 to get 522 height and cover */
  .top-heading-home {
    height:var(--ipad-port-home-image-height);
  }

  /* use min width 1024 to get 240 height and cover  */
  .top-heading-details {
    height:var(--ipad-port-detail-image-height);
  }

  /*.vertical-heading {
    width:var(--vertical-ipad-port-font-width);
    font-size:var(--vertical-ipad-port-font-size);
    height:var(--ipad-port-detail-image-height) ;
  }*/

  .top-heading-quotes {
    width:90%;
  }

  .top-heading-quotes p,  .top-heading-quotes span  {
    font-size:var(--h1-tablet-ipad-port-font-size);
  }

  .quote-end img {
    height:30px;
  }
}

/* IPADS LANDSCAPE ***************************************************************************************************/
@media only screen
and (min-width: 1366px)
and (max-width: 1439px)
and (orientation: landscape) {

  /* 1366 x 696 */
  .top-heading-home {
    height: var(--ipad-land-home-image-height);
  }

  /* 1366 x 320 */
  .top-heading-details {
    height:var(--ipad-land-detail-image-height);
  }

  /*.vertical-heading{
    width:var(--vertical-ipad-land-font-width);
    font-size:var(--vertical-ipad-land-font-size);
    height:var(--ipad-land-detail-image-height) ;
  }*/

  .top-heading-quotes {
    width:100%;
  }

  .top-heading-quotes p,  .top-heading-quotes span  {
    font-size:var(--h1-tablet-ipad-land-font-size);
  }

  .quote-end img {
    height:40px;
  }

}

/* LAPTOPS ****************************************************************************************************/
@media only screen
and (min-width: 1440px)
and (max-width:1919px ){

  /* 1440 x 734 */
  .top-heading-home {
    height: var(--laptop-home-image-height);
  }

  /* 1440 x 338 */
  .top-heading-details {
    height:var(--laptop-detail-image-height);
  }

 /* .vertical-heading {
    font-size:var(--vertical-laptop-font-size);
    width:var(--vertical-laptop-font-width);
    height:var(--laptop-detail-image-height) ;
  }*/

  .top-heading-quotes {
    width:100%;
  }

  .top-heading-quotes p,  .top-heading-quotes span  {
    font-size:var(--h1-laptop-font-size);
  }

  .quote-end img {
    height:40px;
  }

}

/* DESKTOPS ****************************************************************************************************/
@media only screen
and (min-width: 1920px) {

  /* 1920 x 978 */
  .top-heading-home {
    height: var(--desktop-home-image-height);
  }

  /* 1920 x 450   */
  .top-heading-details {
    height:var(--desktop-detail-image-height);
  }

  /*.vertical-heading {
    font-size:var(--vertical-desktop-font-size);
    width:var(--vertical-desktop-font-width);
    height:var(--desktop-detail-image-height) ;
  }*/

  .top-heading-quotes {
    width:100%;
  }

  .top-heading-quotes p,  .top-heading-quotes span  {
    font-size:var(--h1-desktop-font-size);
  }

  .quote-end img {
    height:40px;
  }
}

/* GLOBAL *************************************************************************************************************/
@media only screen {

  /* HOME PAGE HEADING */
  .top-heading-home {
    display: block;
    width:100%;
    float:left;
    background: url("src/assets/images/backgrounds/backgroundHomeImage.jpg") no-repeat;
    background-size: contain;
  }

  .top-heading-details {
    display: grid;
    width:100%;
    justify-content: flex-start;
  }

 /* .vertical-heading {
    display: grid;
    background-color: var(--color-darkest-purple);
    color: var(--color-off-white);
    font-family: var(--family-global);
    align-content: center;
    justify-content: center;
    line-height: var(--vertical-heading-line-height);
    text-align: left;
    text-transform: uppercase;
  }*/

  .top-heading-quotes {
    display: block;
    max-width:1152px;
    margin:auto;
    font-family: var(--family-script);
    color:var(--color-dark-blue);
    /*border:thin solid green;*/
  }

  .top-heading-quotes p {
    display:grid;
    width:100%;
    align-content: center;
    justify-content: center;
    font-weight: 400;
    line-height:100%;
    padding-top:1em;
  }

  .top-heading-quotes span {
    display:grid;
    width:100%;
    align-content: center;
    justify-content: flex-end;
    line-height:90%;
  }

  .quote-end {
    display:grid;
    width:100%;
    justify-content: center;
  }

  .quote-end img {
    max-width:100%;
  }

  .about {
    background: url("src/assets/images/backgrounds/backgroundAbout.jpg") no-repeat;
    background-size: cover;
  }

  .about-energy-med {
    background: url("src/assets/images/backgrounds/backgroundAboutEnergyMedicine.jpg") no-repeat;
    background-size: cover;
  }

  .about-doula-care {
    background: url("src/assets/images/backgrounds/backgroundAboutDoulaCare.jpg") no-repeat;
    background-size: cover;
  }

  .support-all {
    background: url("src/assets/images/backgrounds/backgroundSupportAll.jpg") no-repeat;
    background-size: cover;
  }

  .support-energy-work {
    background: url("src/assets/images/backgrounds/backgroundSupportEnergyWork.jpg") no-repeat;
    background-size: cover;
  }

  .support-doula-work {
    background: url("src/assets/images/backgrounds/backgroundSupportDoulaWork.jpg") no-repeat;
    background-size: cover;
  }

  .eol-questions {
    background: url("src/assets/images/backgrounds/backgroundEOLQuestions.jpg") no-repeat;
    background-size: cover;
  }

  .eol-reps {
    background: url("src/assets/images/backgrounds/backgroundEOLReps.jpg") no-repeat;
    background-size: cover;
  }

  .eol-advocate {
    background: url("src/assets/images/backgrounds/backgroundEOLAdvocate.jpg") no-repeat;
    background-size: cover;
  }

  .eol-patient-care {
    background: url("src/assets/images/backgrounds/backgroundEOLPatientCare.jpg") no-repeat;
    background-size: cover;
  }

  .eol-caregiver-care {
    background: url("src/assets/images/backgrounds/backgroundEOLCaregiverCare.jpg") no-repeat;
    background-size: cover;
  }

  .eol-legacy {
    background: url("src/assets/images/backgrounds/backgroundEOLLegacy.jpg") no-repeat;
    background-size: cover;
  }

  .energy-help-anxiety {
    background: url("src/assets/images/backgrounds/backgroundHelpAnxiety.jpg") no-repeat;
    background-size: cover;
  }

  .energy-help-burnout {
    background: url("src/assets/images/backgrounds/backgroundHelpBurnout.jpg") no-repeat;
    background-size: cover;
  }

   .energy-help-inflammation {
     background: url("src/assets/images/backgrounds/backgroundHelpFertility.jpg") no-repeat;
     background-size: cover;
   }

    .energy-help-pain {
      background: url("src/assets/images/backgrounds/backgroundHelpPain.jpg") no-repeat;
      background-size: cover;
    }

     .energy-help-exercises {
       background: url("src/assets/images/backgrounds/backgroundHelpProtect.jpg") no-repeat;
       background-size: cover;
     }

    .energy-discover-element {
      background: url("src/assets/images/backgrounds/backgroundDiscoverElements.jpg") no-repeat;
      background-size: cover;
    }

   /*








     .discoverElementAttributes {
       background: url("src/assets/images/backgrounds/backgroundDiscoverElementsAttributes.jpg") no-repeat;
       background-size: cover;
     }

     .discoverElementUnbalanced {
       background: url("src/assets/images/backgrounds/backgroundDiscoverElementsUnbalanced.jpg") no-repeat;
       background-size: cover;
     }



     .discoverMeridians {
       background: url("src/assets/images/backgrounds/backgroundDiscoverMeridians.jpg") no-repeat;
       background-size: cover;
     }

     .discoverMeridianEffects {
       background: url("src/assets/images/backgrounds/backgroundDiscoverMeridianImbalances.jpg") no-repeat;
       background-size: cover;
     }

     .discoverMeridianCorrections {
       background: url("src/assets/images/backgrounds/backgroundDiscoverMeridianCorrections.jpg") no-repeat;
       background-size: cover;
     }

     .discoverCycle {
       background: url("src/assets/images/backgrounds/backgroundDiscoverCycle.jpg") no-repeat;
       background-size: cover;
     }



     .sessionCred {
       background: url("src/assets/images/backgrounds/backgroundSessionCredentials.jpg") no-repeat;
       background-size: cover;
     }*/



}






