<div id="headers">
    <!--    HOME   -->
    <ng-container *ngIf="detailHeaderName === 'header-home'">
        <div class="top-heading-home"></div>

        <div class="top-heading-quotes">
            <p>
                &#8220;The special theory of relativity states that mass and energy are
                just different manifestations of the same thing.&#8220;
            </p>

            <span>Albert Einstein</span>

            <div class="quote-end">
                <img src="assets/images/backgrounds/quoteImage.jpg" alt="quote" title="quote">
            </div>
        </div>
    </ng-container>

    <!--    ABOUT   -->
    <!--ABOUT ME -->
    <ng-container *ngIf="detailHeaderName === 'header-about'">
        <div class="top-heading-details about"></div>

        <div class="top-heading-quotes">
            <p>
                &#8220;Don’t listen to the person who has the answers; listen to the person who has the questions.&#8220;
            </p>
            <span>Albert Einstein</span>
        </div>
    </ng-container>

    <!--ABOUT ENERGY MEDICINE -->
    <ng-container *ngIf="detailHeaderName === 'header-about-energy-medicine'">
        <div class="top-heading-details about-energy-med"></div>

        <div class="top-heading-quotes">
            <p>
                &#8220;The day science begins to study non-physical phenomena, it will make more progress in one
                decade than in all previous centuries.&#8220;
            </p>

            <span>Nicholas Tesla</span>
        </div>
    </ng-container>

    <!--ABOUT END OF LIFE DOULA CARE -->
    <ng-container *ngIf="detailHeaderName === 'header-about-eol-doula-care'">
        <div class="top-heading-details about-doula-care"></div>

        <div class="top-heading-quotes">
            <div class="top-heading-quotes">
                <p>
                    &#8220;Still round the corner, there may wait, a new road or a secret gate.&#8220;
                </p>

                <span>J.R.R. Tolkien</span>
            </div>
        </div>
    </ng-container>

    <!--SUPPORT -->
    <!-- SUPPORT FOR ALL -->
    <ng-container *ngIf="detailHeaderName === 'header-support'">
        <div class="top-heading-details support-all"></div>

        <div class="top-heading-quotes">
            <p>
                &#8220;The nearer a man/woman comes to a calm mind, the closer he/she is to strength.&#8220;
            </p>

            <span>Marcus Aurelius</span>
        </div>
    </ng-container>

    <!-- SUPPORT FOR ENERGY TREATMENTS -->
    <ng-container *ngIf="detailHeaderName === 'header-support-energy-work'">
        <div class="top-heading-details support-energy-work"></div>

        <div class="top-heading-quotes">
            <p>
                &#8220;Before you heal someone, ask them if they're willing to give up the things that made them sick.&#8220;
            </p>

            <span>Hippocrates</span>
        </div>
    </ng-container>

    <!-- SUPPORT FOR DOULA HELP -->
    <ng-container *ngIf="detailHeaderName === 'header-support-doula-help'">
        <div class="top-heading-details support-doula-work"></div>

        <div class="top-heading-quotes">
            <p>
                &#8220;It is natural to die as to be born&#8220;
            </p>

            <span>Francis Bacon</span>
        </div>
    </ng-container>

    <!--DOULA QUESTIONS -->
    <ng-container *ngIf="detailHeaderName === 'header-topic-eol-questions'">
        <div class="top-heading-details eol-questions"></div>

        <div class="top-heading-quotes">
            <p>
                &#8220;With the new day comes new strengths and new thoughts.&#8220;
            </p>

            <span>Eleanor Roosevelt</span>
        </div>
    </ng-container>

    <!--DOULA REPS -->
    <ng-container *ngIf="detailHeaderName === 'header-topic-eol-reps'">
        <div class="top-heading-details eol-reps"></div>

        <div class="top-heading-quotes">
            <p>
                &#8220;The voyage of discovery is not in seeking new landscapes but in having new eyes.&#8220;
            </p>

            <span>Marcel Proust</span>
        </div>
    </ng-container>

    <!--DOULA ADVOCATE FOR YOURSELF-->
    <ng-container *ngIf="detailHeaderName === 'header-topic-eol-advocate'">
        <div class="top-heading-details eol-advocate"></div>

        <div class="top-heading-quotes">
            <p>
                &#8220;Knowledge allows you to be an advocate for yourself.&#8220;
            </p>

            <span>Unknown</span>
        </div>
    </ng-container>

    <!--DOULA PATIENT CARE -->
    <ng-container *ngIf="detailHeaderName === 'header-topic-eol-patient-care'">
        <div class="top-heading-details eol-patient-care"></div>

        <div class="top-heading-quotes">
            <p>
                &#8220;Life begins at the end of your comfort zone.&#8220;
            </p>

            <span>Unknown</span>
        </div>
    </ng-container>

    <!--DOULA CAREGIVER CARE -->
    <ng-container *ngIf="detailHeaderName === 'header-topic-eol-caregiver-care'">
        <div class="top-heading-details eol-caregiver-care"></div>

        <div class="top-heading-quotes">
            <p>
                &#8220;Care for yourself - only then can you care for others.&#8220;
            </p>

            <span>Unknown</span>
        </div>
    </ng-container>

    <!--DOULA LEAVING A LEGACY -->
    <ng-container *ngIf="detailHeaderName === 'header-topic-eol-legacy'">
        <div class="top-heading-details eol-legacy"></div>

        <div class="top-heading-quotes">
            <p>
                &#8220;Move the energy out of the painful areas to find relief.&#8220;
            </p>

            <span>Unknown</span>
        </div>
    </ng-container>

    <!--DOULA CEREMONY -->
    <ng-container *ngIf="detailHeaderName === 'header-topic-eol-ceremony'">
        <div class="top-heading-details eol-legacy"></div>

        <div class="top-heading-quotes">
            <p>
                &#8220;CEREMONY Move the energy out of the painful areas to find relief.&#8220;
            </p>

            <span>Unknown</span>
        </div>
    </ng-container>

    <!--ENERGY HELP ALL -->
    <ng-container *ngIf="detailHeaderName === 'header-topic-energy-help-all'">
        <div class="top-heading-details energy-help-anxiety"></div>

        <div class="top-heading-quotes">
            <p>
                &#8220;The nearer a man/woman comes to a calm mind, the closer he/she is to strength.&#8220;
            </p>

            <span>Marcus Aurelius</span>
        </div>
    </ng-container>

    <!--ENERGY HELP ANXIETY -->
    <ng-container *ngIf="detailHeaderName === 'header-topic-energy-help-anxiety'">
        <div class="top-heading-details energy-help-anxiety"></div>

        <div class="top-heading-quotes">
            <p>
                &#8220;The nearer a man/woman comes to a calm mind, the closer he/she is to strength.&#8220;
            </p>

            <span>Marcus Aurelius</span>
        </div>
    </ng-container>

    <!--ENERGY HELP BURNOUT -->
    <ng-container *ngIf="detailHeaderName === 'header-topic-energy-help-burnout'">
        <div class="top-heading-details energy-help-burnout"></div>

        <div class="top-heading-quotes">
            <p>
                &#8220;The spirit awakens, the soul revives.&#8220;
            </p>

            <span>Lailah Gifty Akita</span>
        </div>
    </ng-container>

    <!--ENERGY HELP INFLAMMATION -->
    <ng-container *ngIf="detailHeaderName === 'header-topic-energy-help-inflammation'">
        <div class="top-heading-details energy-help-inflammation"></div>

        <div class="top-heading-quotes">
            <p>
                &#8220;Natural forces within us are the true healers of disease.&#8220;
            </p>

            <span>Socrates</span>
        </div>
    </ng-container>

    <!--ENERGY HELP PAIN -->
    <ng-container *ngIf="detailHeaderName === 'header-topic-energy-help-pain'">
        <div class="top-heading-details energy-help-pain"></div>

        <div class="top-heading-quotes">
            <p>
                &#8220;Natural forces within us are the true healers of disease.&#8220;
            </p>

            <span>Socrates</span>
        </div>
    </ng-container>

    <!--ENERGY HELP EXERCISES -->
    <ng-container *ngIf="detailHeaderName === 'header-topic-energy-help-exercises'">
        <div class="top-heading-details energy-help-exercises"></div>

        <div class="top-heading-quotes">
            <p>
                &#8220;Natural forces within us are the true healers of disease.&#8220;
            </p>

            <span>Socrates</span>
        </div>
    </ng-container>

    <!--ENERGY HELP KNOW ELEMENT -->
    <ng-container *ngIf="detailHeaderName === 'discover-element'">
        <div class="top-heading-details energy-discover-element"></div>

        <div class="top-heading-quotes">
            <p>
                &#8220;Natural forces within us are the true healers of disease.&#8220;
            </p>

            <span>Socrates</span>
        </div>
    </ng-container>

    <!--ENERGY HELP KNOW MERIDIANS -->
    <ng-container *ngIf="detailHeaderName === 'know-meridians'">
        <div class="top-heading-details energy-know-meridians"></div>

        <div class="top-heading-quotes">
            <p>
                &#8220;MERIDIANS Natural forces within us are the true healers of disease.&#8220;
            </p>

            <span>Socrates</span>
        </div>
    </ng-container>

    <!--    BOOK   -->
    <!--GENERAL BOOKING INFO -->
    <ng-container *ngIf="detailHeaderName === 'header-book'">
        <div class="top-heading-details about"></div>

        <div class="top-heading-quotes">
            <p>
                &#8220;Don’t listen to the person who has the answers; listen to the person who has the questions.&#8220;
            </p>
            <span>Albert Einstein</span>
        </div>
    </ng-container>

    <!--DOULA BOOKING INFO -->
    <ng-container *ngIf="detailHeaderName === 'header-consult'">
        <div class="top-heading-details about"></div>

        <div class="top-heading-quotes">
            <p>
                &#8220;Don’t listen to the person who has the answers; listen to the person who has the questions.&#8220;
            </p>
            <span>Albert Einstein</span>
        </div>
    </ng-container>

    <!--ENERGY BOOKING INFO -->
    <ng-container *ngIf="detailHeaderName === 'header-session'">
        <div class="top-heading-details about"></div>

        <div class="top-heading-quotes">
            <p>
                &#8220;Don’t listen to the person who has the answers; listen to the person who has the questions.&#8220;
            </p>
            <span>Albert Einstein</span>
        </div>
    </ng-container>

    <!--ENERGY BOOKING INFO -->
    <ng-container *ngIf="detailHeaderName === 'header-forms'">
        <div class="top-heading-details about"></div>

        <div class="top-heading-quotes">
            <p>
                &#8220;Don’t listen to the person who has the answers; listen to the person who has the questions.&#8220;
            </p>
            <span>Albert Einstein</span>
        </div>
    </ng-container>

</div>

