

/* BANANA PORTRAIT  *****************************************************************************/
@media only screen
and (min-width: 240px)
and (max-width: 359px)
and (orientation: portrait){

    .home-image {
        height:122px;
    }

    .background-images {
        height:88px;
    }

    .background-text p {
        font-size:var(--quotes-p-banana-port-font-size);
    }

}

/* BANANA LANDSCAPE  *****************************************************************************/
@media only screen
and (min-width: 568px)
and (max-width: 895px)
and (orientation: landscape) {

    .home-image {
        height:289px;
    }

    .background-images {
        height:207px;
    }

    .background-text p {
        font-size:var(--quotes-p-banana-land-font-size);
        line-height:100%;
    }

}

/* MOBILES PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 360px)
and (max-width: 599px)
and (orientation: portrait) {

    .home-image {
        height:183px;
    }

    .background-images {
        height:131px;
    }

    .background-text p {
        font-size:var(--quotes-p-mobile-port-font-size);
        line-height:100%;

    }

}

/*  MOBILES LANDSCAPE **************************************************************************************************/
@media only screen
and (min-width:896px )
and (max-width: 1279px)
and (orientation: landscape) {

    .home-image {
        height:456px;
    }

    .background-images {
        height:327px;
    }

    .background-text p {
        font-size:var(--quotes-p-mobile-land-font-size);
        line-height:100%;

    }

}

/* TABLETS PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 600px)
and (max-width: 1023px)
and (orientation: portrait) {

    .home-image {
        height:306px;
    }

    .background-images {
        height:219px;
    }

    .background-text p {
        font-size:var(--quotes-p-tablet-port-font-size);
        line-height:150%;

    }

}

/* TABLETS LANDSCAPE ***************************************************************************************************/
@media only screen
and (min-width: 1280px)
and (max-width: 1365px)
and (orientation: landscape) {

    .home-image {
        height:652px;
    }

    .background-images {
        height:467px;
    }

    .background-text p {
        font-size:var(--quotes-p-tablet-land-font-size);
        line-height:150%;

    }

}

/* IPADS PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 1024px)
and (max-width: 1366px)
and (orientation: portrait) {

    .home-image {
        height:522px;
    }

    .background-images {
        height:373px;
    }

    .background-text p {
        font-size:var(--quotes-p-ipad-port-font-size);
        line-height:150%;
    }

}

/* IPADS LANDSCAPE ***************************************************************************************************/
@media only screen
and (min-width: 1366px)
and (max-width: 1439px)
and (orientation: landscape) {

    .home-image {
        height:696px;
    }

    .background-images {
        height:498px;
    }

    .background-text p {
        font-size:var(--quotes-p-ipad-land-font-size);
        line-height:150%;
    }

}

/* LAPTOPS ****************************************************************************************************/
@media only screen
    and (min-width: 1440px)
    and (max-width:1919px) {

    .home-image {
        height:734px;
    }

    .background-images {
        height:525px;
    }

    .background-text p {
        font-size:var(--quotes-p-desktop-font-size);
        line-height:150%;
    }

}


/* DESKTOPS ****************************************************************************************************/
@media only screen
and (min-width: 1920px) {

    /* 1920 by 978 */
    .home-image {
        height:978px;
    }

    /* 1920 by 700 */
    .background-images {
        height:700px;
    }

    .background-text p {
        font-size:var(--quotes-p-desktop-font-size);
        line-height:150%;
    }

}

/* GLOBAL *************************************************************************************************************/
@media only screen {

        .background-images {
            display:block;
            float:left;
            width: 100%;
            max-width:1920px;
        }

        .background-text {
            display:block;
            float:left;
            width:100%;
            text-align: center;
            background-color: var(--color-darkest-blue); /* Fallback color */
            color: var(--color-white);
            border: 1px solid #f1f1f1;
         }

        /* 48 px is the height of the font without padding */
        .background-text p {
            font-family: var(--family-mono);
            font-weight: 400;
            padding: 0 1em;
            line-height:120%;
        }

        /* HEADER BACKGROUND IMAGES */
        .header-home {
            background-size: cover;
            background-image:linear-gradient(transparent 50%,rgba(0,33,69,.8) 80%),
            url('src/assets/images/backgrounds/home/transitionsInEnergy.jpg');
        }

        /* ABOUT BACKGROUND IMAGES */
        .header-about-me {
            background-size: cover;
            background-image:linear-gradient(transparent 50%,rgba(0,33,69,.8) 80%),
            url('src/assets/images/backgrounds/about/me.jpg');
        }

        .header-about-energy-practitioner {
            background-size: cover;
            background-image:linear-gradient(transparent 50%,rgba(0,33,69,.8) 80%),
            url('src/assets/images/backgrounds/about/energyPractitioner2.jpg');
        }

        .header-about-eol-doula {
            background-size: cover;
            background-image:linear-gradient(transparent 50%,rgba(0,33,69,.8) 80%),
            url('src/assets/images/backgrounds/about/eolDoula2.jpg');
        }

        /* ENERGY MEDICINE */
        .header-reduce-anxiety {
            background-size: cover;
            background-image:linear-gradient(transparent 50%,rgba(0,33,69,.8) 80%),
            url('src/assets/images/backgrounds/energyMedicine/reduceAnxiety.jpg');
        }

        .header-relieve-burnout {
            background-size: cover;
            background-image:linear-gradient(transparent 50%,rgba(0,33,69,.8) 80%),
            url('src/assets/images/backgrounds/energyMedicine/relieveBurnout.jpg');
        }

        .header-decrease-pain {
            background-size: cover;
            background-image:linear-gradient(transparent 50%,rgba(0,33,69,.8) 80%),
            url('src/assets/images/backgrounds/energyMedicine/decreasePain.jpg');
        }

        .header-do-energy-exercises {
            background-size: cover;
            background-image:linear-gradient(transparent 50%,rgba(0,33,69,.8) 80%),
            url('src/assets/images/backgrounds/energyMedicine/doEnergyExercises.jpg');
        }

        .header-discover-element {
            background-size: cover;
            background-image:linear-gradient(transparent 50%,rgba(0,33,69,.8) 80%),
            url('src/assets/images/backgrounds/energyMedicine/discoverElement.jpg');
        }

        .header-trace-meridians {
            background-size: cover;
            background-image:linear-gradient(transparent 50%,rgba(0,33,69,.8) 80%),
            url('src/assets/images/backgrounds/energyMedicine/traceMeridians.jpg');
        }

        /* DOULA WORK */
        .header-plan-ahead {
            background-size: cover;
            background-image:linear-gradient(transparent 50%,rgba(0,33,69,.8) 80%),
            url('src/assets/images/backgrounds/eolDoulaHelp/planAhead.jpg');
        }

        .header-choose-representative {
            background-size: cover;
            background-image:linear-gradient(transparent 50%,rgba(0,33,69,.8) 80%),
            url('src/assets/images/backgrounds/eolDoulaHelp/chooseRepresentative.jpg');
        }

        .header-support-caregivers {
            background-size: cover;
            background-image:linear-gradient(transparent 50%,rgba(0,33,69,.8) 80%),
            url('src/assets/images/backgrounds/eolDoulaHelp/supportCaregivers.jpg');
        }

        .header-care-for-patients {
            background-size: cover;
            background-image:linear-gradient(transparent 50%,rgba(0,33,69,.8) 80%),
            url('src/assets/images/backgrounds/eolDoulaHelp/careForPatients.jpg');
        }

        .header-create-legacy {
            background-size: cover;
            background-image:linear-gradient(transparent 50%,rgba(0,33,69,.8) 80%),
            url('src/assets/images/backgrounds/eolDoulaHelp/createLegacy.jpg');
        }

        .header-choose-memorial {
            background-size: cover;
            background-image:linear-gradient(transparent 50%,rgba(0,33,69,.8) 80%),
            url('src/assets/images/backgrounds/eolDoulaHelp/chooseMemorial.jpg');
        }

        /* BOOK */
        .header-book-session {
            background-size: cover;
            background-image:linear-gradient(transparent 50%,rgba(0,33,69,.8) 80%),
            url('src/assets/images/backgrounds/book/session.jpg');
        }

        .header-book-consultation {
            background-size: cover;
            background-image:linear-gradient(transparent 50%,rgba(0,33,69,.8) 80%),
            url('src/assets/images/backgrounds/book/consultation.jpg');
        }

        /* FREQUENTLY ASKED QUESTIONS */
       /* .faqs {
            background-size: cover;
            background-image:linear-gradient(transparent 50%,rgba(0,33,69,.8) 80%),
            url('src/assets/images/backgrounds/faq/faqs.jpg');
        }*/

    /* FREQUENTLY ASKED QUESTIONS */
        .wizard {
            background-size: cover;
            background-image:linear-gradient(transparent 50%,rgba(0,33,69,.8) 80%),
            url('src/assets/images/backgrounds/wizard/wizardIntro.jpg');
        }
}






