<div id="headers">
    <!--    HOME   -->
    <ng-container *ngIf="detailHeaderName === 'header-home'">
        <div class="header-home-image header-home"></div>
        <div class="header-copy">
            <p>&#8220;Unable are the loved to die, for love is immortality.&#8220;
            <br>Emily Dickinson
            </p>
        </div>
    </ng-container>

    <!--    ABOUT   -->
<!--    ABOUT DOULA ADVOCACY WORK -->
    <ng-container *ngIf="detailHeaderName === 'header-about-eol-advocacy'">
<!--        <div class="header-detail-image header-about-eol-advocacy"></div>-->
        <div class="header-copy">
            <p>&#8220;In protecting oneself, others are protected. In protecting others, oneself is protected.&#8220;
                <br>Gautama Buddha
            </p>
        </div>
    </ng-container>

    <!--ABOUT END OF LIFE DOULA PRACTITIONER -->
    <ng-container *ngIf="detailHeaderName === 'header-about-practitioner'">
<!--        <div class="header-detail-image header-about-practitioner"></div>-->
        <div class="header-copy">
            <p>&#8220;The dignity we seek in dying must be found in the dignity with which we have lived our lives.&#8220;
                <br>Sherwin B Nuland
            </p>
        </div>
    </ng-container>

    <!-- THINK ABOUT NEEDS -->
    <ng-container *ngIf="detailHeaderName === 'header-think-about-needs'">
<!--        <div class="header-detail-image header-think-about-needs"></div>-->
        <div class="header-copy">
            <p>&#8220;Someone's sitting in the shade today because someone planted a tree long ago.&#8220;
                <br>Warren Buffett
            </p>
        </div>
    </ng-container>

    <!-- CHOOSE YOUR REP -->
    <ng-container *ngIf="detailHeaderName === 'header-choose-rep'">
<!--        <div class="header-detail-image header-choose-rep"></div>-->
        <div class="header-copy">
            <p>&#8220;Someone's sitting in the shade today because someone planted a tree long ago.&#8220;
                <br>Warren Buffett
            </p>
        </div>
    </ng-container>

    <!-- DOCUMENTS TO SIGN -->
    <ng-container *ngIf="detailHeaderName === 'header-documents-to-sign'">
<!--        <div class="header-detail-image header-documents-to-sign"></div>-->
        <div class="header-copy">
            <p>&#8220;Documentation is a love letter that you write to your future self.&#8220;
                <br>Damian Conway
            </p>
        </div>
    </ng-container>
</div>

<!-- CONSULTATIONS -->

<!-- ROLES OF A CONSULTANT -->
<ng-container *ngIf="detailHeaderName === 'header-roles-of-consultant'">
    <div class="header-detail-image header-roles-of-consultant"></div>
    <div class="header-copy">
        <p>&#8220;Always make decisions that prioritize your inner peace.&#8220;
            <br>Izey Victoria Odiase
        </p>
    </div>
</ng-container>

<!-- BOOK CONSULTATION -->
<ng-container *ngIf="detailHeaderName === 'header-book-consultation'">
    <div class="header-detail-image header-book-consultation"></div>
    <div class="header-copy">
        <p>&#8220;Sometimes the greatest adventure is simply a conversation.&#8220;
            <br>Amadeus Wolfe
        </p>
    </div>
</ng-container>
