

/* BANANA PORTRAIT  *****************************************************************************/
@media only screen
and (min-width: 240px)
and (max-width: 359px)
and (orientation: portrait){

      /* use min width 240 to get 122 height and cover  */
      .top-heading-home {
        height:122px;
      }

      /* use min width 240 to get 56 height and cover  */
      .sub-heading-backgrounds {
        height:56px;
      }

      .top-heading-quotes p {
        font-size:var(--script-p-banana-port-font-size);
      }

    .top-heading-quotes span {
        font-size:var(--script-span-banana-port-font-size);
    }



}

/* BANANA LANDSCAPE  *****************************************************************************/
@media only screen
and (min-width: 568px)
and (max-width: 895px)
and (orientation: landscape) {

      /* use min width 568 to get 289 height and cover  */
      .top-heading-home {
        height:289px;
      }

      /* use min width 568 to get 133 height and cover  */
      .sub-heading-backgrounds {
        height:133px;
      }

      .top-heading-quotes p {
        font-size:var(--script-p-banana-land-font-size);
      }

    .top-heading-quotes span {
        font-size:var(--script-span-banana-land-font-size);
    }

    .icon img {
        height:30px;
    }

}

/* MOBILES PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 360px)
and (max-width: 599px)
and (orientation: portrait) {

      /* use min width 360 to get 183 height and cover  */
      .top-heading-home {
        height:183px;
      }

      /* use min width 360 to get 84 height and cover  */
      .sub-heading-backgrounds {
        height:84px;
      }

      .top-heading-quotes p {
        font-size:var(--script-p-mobile-port-font-size);
      }

    .top-heading-quotes span {
        font-size:var(--script-span-mobile-port-font-size);
    }

    .icon img {
        height:20px;
    }

}

/*  MOBILES LANDSCAPE **************************************************************************************************/
@media only screen
and (min-width:896px )
and (max-width: 1279px)
and (orientation: landscape) {

      /* use min size 896 to get 456 height and cover */
      .top-heading-home {
        height:456px;
      }

      /* use min width 896 to get 210 height and cover  */
      .sub-heading-backgrounds {
        height:210px;
      }

      .top-heading-quotes p{
        font-size:var(--script-p-mobile-land-font-size);
      }

    .top-heading-quotes span {
        font-size:var(--script-span-mobile-land-font-size);
    }

    .icon img {
        height:30px;
    }

}

/* TABLETS PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 600px)
and (max-width: 1023px)
and (orientation: portrait) {

      /* use min size 600 to get 306 height and cover */
      .top-heading-home {
        height:456px;
      }

      /* use min width 600 to get 141 height and cover  */
      .sub-heading-backgrounds {
        height:141px;
      }

      .top-heading-quotes p {
        font-size:var(--script-p-tablet-port-font-size);
      }

    .top-heading-quotes span {
        font-size:var(--script-span-tablet-port-font-size);
    }

    .icon img {
        height:30px;
    }

}

/* TABLETS LANDSCAPE ***************************************************************************************************/
@media only screen
and (min-width: 1280px)
and (max-width: 1365px)
and (orientation: landscape) {

      /* use min size 1280 to get 652 height and cover */
      .top-heading-home {
        height:652px;
      }

      /* use min width 1280 to get 300 height and cover  */
      .sub-heading-backgrounds {
        height:300px;
      }

      .top-heading-quotes p {
        font-size:var(--script-p-tablet-land-font-size);
      }

    .top-heading-quotes span {
        font-size:var(--script-span-tablet-land-font-size);
    }

    .icon img {
        height:30px;
    }

}

/* IPADS PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 1024px)
and (max-width: 1366px)
and (orientation: portrait) {

      /* use min size 1024 to get 522 height and cover */
      .top-heading-home {
        height:522px;
      }

      /* use min width 1024 to get 240 height and cover  */
      .sub-heading-backgrounds {
        height:240px;
      }

      .top-heading-quotes p  {
        font-size:var(--script-p-ipad-port-font-size);
      }

    .top-heading-quotes span  {
        font-size:var(--script-span-ipad-port-font-size);
    }

    .icon img {
        height:40px;
    }
}

/* IPADS LANDSCAPE ***************************************************************************************************/
@media only screen
and (min-width: 1366px)
and (max-width: 1439px)
and (orientation: landscape) {

      /* 1366 x 696 */
      .top-heading-home {
        height: 696px;
      }

      /* 1366 x 320 */
      .sub-heading-backgrounds {
        height:320px;
      }

      .top-heading-quotes p  {
        font-size:var(--script-p-ipad-land-font-size);
      }

    .top-heading-quotes span  {
        font-size:var(--script-span-ipad-land-font-size);
    }

    .icon img {
        height:50px;
    }

}

/* LAPTOPS ****************************************************************************************************/
@media only screen
and (min-width: 1440px)
and (max-width:1919px ){

      /* 1440 x 734 */
      .top-heading-home {
        height:734px;
      }

      /* 1440 x 338 */
      .sub-heading-backgrounds {
        height:338px;
      }

      .top-heading-quotes p  {
        font-size:var(--script-p-laptop-desktop-font-size);
      }

    .top-heading-quotes span  {
        font-size:var(--script-span-laptop-desktop-font-size);
    }

    .icon img {
        height:50px;
    }

}

/* DESKTOPS ****************************************************************************************************/
@media only screen
and (min-width: 1920px) {

      /* 1920 x 978 */
      .top-heading-background {
            height: 978px;
      }

      /* 1920 x 450   */
      .sub-heading-backgrounds {
            height:450px;
      }

      .top-heading-quotes p   {
            font-size:var(--script-p-laptop-desktop-font-size);
      }

    .top-heading-quotes span  {
        font-size:var(--script-span-laptop-desktop-font-size);
    }

    .icon img {
        height:50px;
    }

}

/* GLOBAL *************************************************************************************************************/
@media only screen {

      .top-heading-background, .sub-heading-backgrounds {
          display: grid;
          width: 100%;
          justify-content: flex-start;
      }

      .top-heading-quotes {
          display: block;
          width: 80%;
          margin:auto;
      }

      .top-heading-quotes p, .top-heading-quotes span  {
          display: grid;
          width: 100%;
          font-weight: 400;
          line-height:100%;
          font-family: var(--family-script);
          color: var(--color-dark-blue);
      }

      .top-heading-quotes p {
          align-content: center;
          justify-content: center;
          padding-top: 1em;
      }

      .top-heading-quotes span {
          align-content: flex-start;
          justify-content: flex-end;
          font-weight:800;
      }

      .icon {
            background: url("src/assets/images/backgrounds/endQuote.gif") no-repeat center;
            height:25px;
        }

      .home {
          background: url("src/assets/images/backgrounds/backgroundHomeImage.jpg") no-repeat;
          background-size: contain;
      }

      .about {
          background: url("src/assets/images/backgrounds/backgroundAbout.jpg") no-repeat;
          background-size: cover;
      }

      .about-energy-med {
          background: url("src/assets/images/backgrounds/backgroundAboutEnergyMedicine.jpg") no-repeat;
          background-size: cover;
      }

      .about-doula-care {
          background: url("src/assets/images/backgrounds/backgroundAboutDoulaCare.jpg") no-repeat;
          background-size: cover;
      }

      .support-all {
          background: url("src/assets/images/backgrounds/backgroundSupportAll.jpg") no-repeat;
          background-size: cover;
      }

      .support-energy-work {
          background: url("src/assets/images/backgrounds/backgroundSupportEnergyWork.jpg") no-repeat;
          background-size: cover;
      }

      .support-doula-work {
          background: url("src/assets/images/backgrounds/backgroundSupportDoulaWork.jpg") no-repeat;
          background-size: cover;
      }

      .eol-questions {
          background: url("src/assets/images/backgrounds/backgroundEOLQuestions.jpg") no-repeat;
          background-size: cover;
      }

      .eol-reps {
          background: url("src/assets/images/backgrounds/backgroundEOLReps.jpg") no-repeat;
          background-size: cover;
      }

      .eol-advocate {
          background: url("src/assets/images/backgrounds/backgroundEOLAdvocate.jpg") no-repeat;
          background-size: cover;
      }

      .eol-patient-care {
          background: url("src/assets/images/backgrounds/backgroundEOLPatientCare.jpg") no-repeat;
          background-size: cover;
      }

      .eol-caregiver-care {
          background: url("src/assets/images/backgrounds/backgroundEOLCaregiverCare.jpg") no-repeat;
          background-size: cover;
      }

      .eol-legacy {
          background: url("src/assets/images/backgrounds/backgroundEOLLegacy.jpg") no-repeat;
          background-size: cover;
      }

      .energy-help-anxiety {
          background: url("src/assets/images/backgrounds/backgroundHelpAnxiety.jpg") no-repeat;
          background-size: cover;
      }

      .energy-help-burnout {
          background: url("src/assets/images/backgrounds/backgroundHelpBurnout.jpg") no-repeat;
          background-size: cover;
      }

      .energy-help-inflammation {
          background: url("src/assets/images/backgrounds/backgroundHelpFertility.jpg") no-repeat;
          background-size: cover;
      }

      .energy-help-pain {
          background: url("src/assets/images/backgrounds/backgroundHelpPain.jpg") no-repeat;
          background-size: cover;
      }

      .energy-help-exercises {
          background: url("src/assets/images/backgrounds/backgroundHelpProtect.jpg") no-repeat;
          background-size: cover;
      }

      .energy-discover-element {
          background: url("src/assets/images/backgrounds/backgroundDiscoverElements.jpg") no-repeat;
          background-size: cover;
      }

      .energy-know-meridians {
          background: url("src/assets/images/backgrounds/backgroundKnowMeridians.jpg") no-repeat;
          background-size: cover;
      }

}






