<!-- this one can have both desktop and mobile because there are no default values -->
<div class="forms-desktop margin-top-2">
    <div class="title-background">
        (Optional) Your Medical History
    </div>

    <div class="full-line-prompt">
        <p>Please list medications and supplements that your are currently taking.</p>
    </div>

    <div class="one-full-column-block">
        <textarea rows=5 class="text-area" id="mainTreatments" [(ngModel)]="model.medsSupplements"> </textarea>
    </div>

    <div class="full-line-prompt">
        <p>Please select any health conditions you have been diagnosed with:</p>
    </div>

    <div class="three-even-columns-block">
        <div class="first-radio-check-column">
            <input type="checkbox" [(ngModel)]="model.heartDisease" name="heartDisease">Heart Disease
        </div>

        <div class="second-radio-check-column">
            <input type="checkbox" [(ngModel)]="model.cancer" name="cancer">Cancer
        </div>

        <div class="third-radio-check-column">
            <input type="checkbox" [(ngModel)]="model.stroke" name="stroke">Stroke
        </div>

        <div class="first-radio-check-column">
            <input type="checkbox" [(ngModel)]="model.highBloodPressure" name="highBloodPressure">High Blood Pressure
        </div>

        <div class="second-radio-check-column">
            <input type="checkbox" [(ngModel)]="model.diabetes" name="diabetes">Diabetes
        </div>

        <div class="third-radio-check-column">
            <input type="checkbox" [(ngModel)]="model.mentalIllness" name="mentalIllness">Emotional Illness
        </div>

        <div class="first-radio-check-column">
            <input type="checkbox" [(ngModel)]="model.seizures" name="seizures">Seizures
        </div>

        <div class="second-radio-check-column">
            <input type="checkbox" [(ngModel)]="model.autoImmuneDisease" name="autoImmuneDisease">Auto-immune Disease
        </div>

        <div class="third-radio-check-column">
            <input type="checkbox" [(ngModel)]="model.otherDisease" name="other">Other Illness
        </div>
    </div>

    <div class="full-line-prompt">
        <p>Please further describe your situation, condition and or illness, if applicable:</p>
    </div>

    <div class="one-full-column-block">
        <textarea rows=5 class="text-area" id="conditions" [(ngModel)]="model.illnessDetails"> </textarea>
    </div>
</div>

<div class="forms-mobile">
    <div class="title-background margin-top-2">
        (Optional) Medical History
    </div>

    <div class="full-line-prompt">
        <p>Please list medications and supplements that your are currently taking.</p>
    </div>

    <div class="one-full-column-block">
        <textarea rows=5 id="m-mainTreatments" [(ngModel)]="model.medsSupplements"> </textarea>
    </div>

    <div class="full-line-prompt">
        <p>Please select any health conditions you have been diagnosed with:</p>
    </div>

    <div class="two-even-columns-block">
        <div class="first-radio-check-column">
            <input type="checkbox" [(ngModel)]="model.heartDisease" name="heartDisease">Heart Disease
        </div>

        <div class="second-radio-check-column">
            <input type="checkbox" [(ngModel)]="model.cancer" name="cancer">Cancer
        </div>

        <div class="first-radio-check-column">
            <input type="checkbox" [(ngModel)]="model.stroke" name="stroke">Stroke
        </div>

        <div class="second-radio-check-column">
            <input type="checkbox" [(ngModel)]="model.highBloodPressure" name="highBloodPressure">High B.P.
        </div>

        <div class="first-radio-check-column">
            <input type="checkbox" [(ngModel)]="model.diabetes" name="diabetes">Diabetes
        </div>

        <div class="second-radio-check-column">
            <input type="checkbox" [(ngModel)]="model.mentalIllness" name="mentalIllness">Emotional Illness
        </div>

        <div class="first-radio-check-column">
            <input type="checkbox" [(ngModel)]="model.seizures" name="seizures">Seizures
        </div>

        <div class="second-radio-check-column">
            <input type="checkbox" [(ngModel)]="model.autoImmuneDisease" name="autoImmuneDisease">Auto-immune
        </div>

        <div class="full-radio-check-column">
            <input type="checkbox" [(ngModel)]="model.otherDisease" name="other">Other Illness
        </div>
    </div>

    <div class="full-line-prompt">
        <p>Please further describe your situation, condition and or illness, if applicable:</p>
    </div>

    <div class="one-full-column-block">
        <textarea rows=5 class="text-area" id="m-conditions" [(ngModel)]="model.illnessDetails"> </textarea>
    </div>

</div>