<div class="print-title">
    <h1>Your Contact Information</h1>
</div>

<div class="print-inline-label-value">
    <ng-container *ngIf="client.name.length > 0 && client.name != '' ">
        <div class="print-inline-label">
            Name:
        </div>
        <div class="print-inline-value">
            {{ client.name }}
        </div>
    </ng-container>

    <ng-container *ngIf="client.name.length == 0 && client.name == '' ">
        <div class="print-inline-label">
            <b>Name:</b>
        </div>
        <div class="print-inline-line"></div>
    </ng-container>
</div>

<div class="print-inline-label-value">
    <ng-container *ngIf="client.cellPhone.length > 0 && client.cellPhone != '' ">
        <div class="print-inline-label">
            Phone:
        </div>
        <div class="print-inline-value">
            {{ client.cellPhone | mask: '(000) 000-0000' }}
        </div>
    </ng-container>

    <ng-container *ngIf="client.cellPhone.length == 0 && client.cellPhone == '' ">
        <div class="print-inline-label">
            Phone:
        </div>
        <div class="print-inline-line"></div>
    </ng-container>
</div>

<div class="print-inline-label-value">
    <ng-container *ngIf="client.email.length > 0 && client.email != '' ">
        <div class="print-inline-label">
            Email:
        </div>
        <div class="print-inline-value">
            {{ client.email }}
        </div>
    </ng-container>

    <ng-container *ngIf="client.email.length == 0 && client.email == '' ">
        <div class="print-inline-label">
            Email:
        </div>
        <div class="print-inline-line"></div>
    </ng-container>
</div>

<div class="print-inline-label-value">
    <ng-container *ngIf="client.address.length > 0 && client.address != '' ">
        <div class="print-inline-label">
            Address:
        </div>
        <div class="print-inline-value">
            {{ client.address }}
        </div>
    </ng-container>

    <ng-container *ngIf="client.address.length == 0 && client.address == '' ">
        <div class="print-inline-label">
            Address:
        </div>
        <div class="print-inline-line"></div>
    </ng-container>
</div>

<div class="print-inline-label-value">
    <ng-container *ngIf="client.provState.length > 0 && client.provState != '' ">
        <ng-container *ngIf="client.pc.length > 0 && client.pc != '' ">
            <div class="print-inline-label">
                Province/Postal Code:
            </div>
            <div class="print-inline-value">
                {{ client.provState }}, {{ client.pc | mask: "U0U-0U0" }}
            </div>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="client.provState.length == 0 && client.provState == '' ">
        <ng-container *ngIf="client.pc.length == 0 && client.pc == '' ">
            <div class="print-inline-label">
                Province/Postal Code:
            </div>
            <div class="print-inline-line"></div>
        </ng-container>
    </ng-container>
</div>



