<div class = "topic-inline-grid with-underline">
    <div class="topic-left">
        <h1>{{title}}</h1>
    </div>

    <div class="topic-right">
        <img src="../../../../assets/images/eolCare/chooseMemorial/memorialIntro.jpg" alt={{title}} title={{title}}>
    </div>
</div>

<div class="inner-content-no-margins">
    <div class = "dark-copy">
        There are more options today than ever for choosing a service to celebrate your loved one. The most
        popular and oldest method the traditional funeral and burial. Going this route means having to make
        decisions quickly and if not planned for ahead of time, can add un-needed stress to an already stressful time.
        Many older people plan for this and purchase plots ahead of time. This allows them some control over where
        they are laid to rest and also provides support for their grieving families who then have one less thing to consider.
        <br><br>
        Back when people lived on farms or had acreage, it was traditional to have a family plot. It kept the departed
        in the family so to speak and made it easy for people to visit all their deceased relatives in a family setting.
        <br><br>
        With more and more people moving to the city to find work, the job of providing a home for the deceased fell
        to the funeral industry. And it is an industry that earns over 1.6 billion dollars a year in Canada. Two companies,
        Service Corporation International and Arbor Memorial Inc. accounting for 15.6% of industry revenue.
        <br><br>
        With the increase in the popularity of cremations, there
        is also time to plan a memorial at any time - when relatives can attend and there is more time to consider
        the best type of celebration of life.
    </div>

    <div class = "dark-heading">
        <h2>What About the Environmental Impact?</h2>
    </div>

    <div class = "dark-copy">
        But what if you are a person who has always cared about the environment? The facts around a traditional burial or cremation might
        just be upsetting to you.
        <br><br>
        According to cen.acs.org 'Burials put a lot of material into the ground in the US. We’re talking 16 million L
        of embalming fluid and about 47,000 m3 of wood for coffins every year.'
        <br><br>
        According to Bare, a funeral service out of Australia, Embalming fluid is another huge contributor to damaging the environment,
        as the chemicals are buried in the ground and gradually work their way into the soil and underground waterways.
        It’s shocking that an average 4 hectare cemetery holds enough embalming fluid to fill a small swimming pool.
        Buried bodies also release methane as they decompose.
        <br><br>
        Researcher Elisabeth Keijzer of the Innovation and Sustainability Consultancy TNO, studied the impact of both
        cremation and burials and found that both take a hit on the environment.
        <br><br>
        She found that cremation is slightly more environmentally friendly than conventional burial. Burial is especially penalized for its land use.
        A cremation produces about 400 kilograms of CO2—along with pollutants such as
        dioxins and mercury from fillings—and consumes the energy equivalent of an 800-kilometre car trip.
        It releases harmful gases like mercury and dioxin. And the energy needed for
        one single cremation is the equivalent of the power an average person uses for an entire month.
    </div>

    <div class = "dark-heading">
        <h2>What About the Cost?</h2>
    </div>

    <div class = "dark-copy">
        A standard burial in Canada costs approximately 10 thousand dollars. A green burial can cost about 2 thousand.
    </div>
</div>





