<div class = "banner-topic-grid topic-energy-anxiety topic-size">
    <h1>{{title}}</h1>
</div>

<div class="content-dark-titles">
    <h2>Help for Anxiety</h2>
</div>

<div class="content-dark-copy">
    <p>
        Grounded - we hear it all the time when someone is describing another person: 'she is so grounded', or 'he really has his feet on
        the ground'. Conversely we hear and say 'he has his head in the clouds' or 'she is so flighty'. So we intrinsically know what
        being grounded or not grounded means.
        <br><br>
        Everything on Earth has a polarity. A plant pushes it's way upward through the soil of the Earth, magnetically attracted to the
        sun. Once the flower pushes through the YIN energy of the Earth and meets the YANG energy of the sky, a microcosmic orbit is
        created via the magnetic field that is created - called the Aura.
    </p>
</div>

<div class="content-images">
    <img src="../../../../assets/images/details/energyMedicine/anxiety/earthsAura.jpg" alt="Soul Star, Earth Star Chakras" title="Soul Star, Earth Star Chakras"/>
</div>

<div class="content-dark-copy">
    <p>
        Animals and plants are energy aware but we humans have lost much of this connection, with cement instead of grass, high-rises
        instead of farms and driving instead of walking and the worst of all, flying.
        <br><br>
        Just like the Earth - we have a North-South polarity. Ideally the top of our head has a North polarity and the bottom of our feet
        has a South polarity. The North-Yin head has a magnetic connection to the South-Yang sky. This allows Chi energy from the heavens
        to travel down our bodies via the Stomach Meridian. The South-Yang bottoms of our feet have a magnetic connection to the
        North-Yin Earth. This energy moves up the body via Kidney Meridian.
        <br><br>
        This meeting of energy forms a vortex called the Microcosmic Orbit - that flows around the center pole of our body. The greater
        the movement of energy along this center core, the stronger the magnetic field - our Aura becomes.
    </p>
</div>

<div class="content-dark-titles">
    <h3>Grounding from Head to Toe</h3>
</div>

<div class="content-dark-copy">
    <p>
        So - how does all this relate to anxiety? As we all know anxiety can be felt in the Stomach. If your Stomach Meridian is low in
        energy it can't attract Sky energy from above. If you also have low Kidney Meridian energy it can't attract Earth energy from
        below. The energy flow is impeded which affects your Aura, your great protector. If you aren't protected, you feel anxious.
    </p>
</div>

<div class="content-images">
    <img src="../../../../assets/images/details/energyMedicine/anxiety/starEarthChakras.jpg" alt="Soul Star, Earth Star Chakras" title="Earth and Star Chakras"/>
</div>

<div class="content-dark-copy">
    <p>
        The energy flow is also be impeded by the way we think and feel about ourselves. I believe that although anxiety can come from
        many sources - past history, personality tendencies, current events etc. one common denominator is that anxious people often feel
        like they don't belong on the Earth, that they don't really feel like they are comfortable here. As well I think that many have
        lost touch with the divine energy from above. It just isn't cool to believe in a higher source of energy (God, All That Is)
        anymore. So we seek nothing from above either. No wonder we become anxious and unconnected.
    </p>
</div>

<div class="content-dark-titles">
    <h3>Calm your Nervous Stomach</h3>
</div>

<div class="content-dark-copy">
    <p>Stomach meridian belongs to the element Earth. While Earth element people are great caregivers, they do tend to worry and obsess.
        As we all know anxiety is keenly felt in your stomach. There are many ways to calm Stomach using energy medicine techniques. Here
        are a few of them.</p>
</div>

<div class="content-images">
    <img src="../../../../assets/images/details/energyMedicine/anxiety/stomachTapBeginEnd.jpg" alt="Stomach beginning and end points" title="Stomach beginning and end points"/>
</div>

<div class="energy-tip">
    <span><b><i>Energy Tip</i></b> :
        Reach down and touch the top outer edge of your second toes, the toes next to your big toe. Give them about ten taps. Then touch
        the points just under your eyes at the top of your cheekbones in line with your pupils. Tap here ten taps. Now tap under your eyes
        again ten taps. Then tap your toes again ten taps. Breathe and tap. Breathe.
    </span>
</div>

<div class="content-dark-titles">
    <h3>Trace Stomach Meridian Backwards</h3>
</div>

<div class="content-dark-copy">
    <p>Another great way to reduce your obsessive worrying is to trace your Stomach meridian backwards. Now Stomach meridian is one of the
        more complicated meridians to trace and tracing it backwards is even more confusing. If the video is too hard, try my Coles Notes
        version below. As Donna Eden always says 'where intention goes energy will follow'.
    </p>
</div>

<iframe class="background-video" src="https://www.youtube-nocookie.com/embed/0mrFrFPwN6M" allow="accelerometer;
    autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
</iframe>

<ul class="content-dark-list yin-yang">
    <li class="list-item">With both hands touch the outside of your second toes, next to your big toes. </li>
    <li class="list-item">Trace across the top of your feet and move towards the outer side of your knees.</li>
    <li class="list-item">Move inwards towards your core, about an inch on either side of your navel.</li>
    <li class="list-item">Move outwards to line up with nipples and trace up your chest to your lower jaw.</li>
    <li class="list-item">Trace up the center of your face and do a heart shaped trace down the sides of your head.</li>
    <li class="list-item">Back at your jaw, trace up to just under your eyes. Tap them.</li>
</ul>

<div class="content-dark-titles">
    <h3>Calm your Stomach Meridian with Acupressure</h3>
</div>

<div class="content-dark-copy">
    <p>Holding key acupressure points for Stomach can greatly reduce anxiety. Hold these points for about 3 minutes on each side. Don't
        stress about getting the points exactly right - just relax and wait till you feel a slight pulsing - almost like a flow happening
        between the two points.
    </p>
</div>

<div class="content-images">
    <img src="../../../../assets/images/details/energyMedicine/anxiety/stomachAcuPoints.jpg" alt="Stomach sedation acupoints" title="Stomach sedation acupoints"/>
</div>

<div class="content-dark-copy">
    <p>
        I generally use my middle fingers to hold acupressure points. Hold the points gently, don't push too hard. Because both of these
        meridians are Yang, it helps if you hold on the outside of the finger and toe as Yang is outer orientated.
        <br><br>
        Make sure you are comfortable before starting as 3 minutes each side does take time. There is no need to 'do' anything but relax.
        You are sending your excess Stomach energy to Large Intestine who accepts and moves this energy along through to the next meridian
        and so on around the wheel.
    </p>
</div>

<div class="screen-quote">
    <p>
        &#8220;The more you worry, the more you throw off the delicate balance of hormones required for health.&#8220;
    </p>
    <span>Andrew J Bernstein</span>
</div>

<div class="content-dark-titles">
    <h3>Grounding Practices with Kidney Meridian</h3>
</div>

<div class="content-dark-copy">
    <p>
        <b>If you are a woman:</b>
        <br>
        As important as the Stomach meridian is for grounding, Kidney meridian must also be open to allow Earth energy to flow up. With
        shoes and concrete etc, we are all easily cut off from receiving Earth energy. Open up your feet so energy can easily flow in.
    </p>
</div>

<ul class="content-dark-list yin-yang">
    <li class="list-item">Ask a friend to sit on a chair about 1-1/2 feet away from you</li>
    <li class="list-item">Lie down so that your feet face them.</li>
    <li class="list-item">Friend forms counter clockwise circles with either hand around your feet.</li>
    <li class="list-item">Continue for a few minutes.</li>
    <li class="list-item">This will draw your YIN energy up from the Earth into your body.</li>
</ul>

<div class="content-dark-copy">
    <p>
        <b>If you are a man:</b>
        <br>
        While Kidney flow is also important for a man, they tend to need more Stomach energy when they are ungrounded.
    </p>
</div>

<div class="content-images">
    <img src="../../../../assets/images/details/energyMedicine/anxiety/vortexRevival.jpg" alt="Vortex Revival" title="Vortex Revival"/>
</div>

<ul class="content-dark-list yin-yang">
    <li class="list-item">Ask a friend to sit on a chair about 1-1/2 feet away from you</li>
    <li class="list-item">Lie down so that your head faces them.</li>
    <li class="list-item">Have your friend spin their hands clockwise around your head</li>
    <li class="list-item">Continue for a few minutes.</li>
    <li class="list-item">This will draw your YANG energy down from above into your body.</li>
</ul>

<div class="energy-tip">
    <span><b><i>Energy Tip</i></b> :
        To give your Microcosmic Orbit energies a boost, try holding your middle finger of one hand at your third eye, between your
        eyebrows, with the other middle finger tucked inside your navel. Pull up on both of these, giving them a deep stretch and relax
        into it. You may feel an energy surge, goosebumps or you may yawn or a sigh when the two energies meet.
    </span>
</div>

<div class="content-dark-titles">
    <h3>Connect with the Earth via Grass</h3>
</div>

<div class="content-dark-copy">
    <p>
        For both men and women, you can ground easily by simply walking barefoot in grass, preferably wet grass. Wet your feet when you
        water your flowers, wash your car or play in the yard.
    </p>
</div>

<div class="content-images">
    <img src="../../../../assets/images/details/energyMedicine/anxiety/walkingInGrass.jpg" alt="Walking in Grass" title="Walking in Grass"/>
</div>

<div class="content-dark-titles">
    <h3>Spoon your Feet</h3>
</div>

<div class="content-dark-copy">
    <p>
        Use a stainless steel spoon (for the magnetic qualities) and rub the back of it all over the underside of your feet. To quote
        Donna Eden, "Spooning resets the magnetic polarization of the feet to its proper N-S orientation".
    </p>
</div>

<div class="content-images">
    <img src="../../../../assets/images/details/energyMedicine/anxiety/spoonFeet.jpg" alt="Spooning your Feet" title="Spooning your Feet"/>
</div>

<div class="content-dark-copy">
    <p>
        The reason for this is because the magnets align the north-south polarities of the cells. This allows blood and fluids to move
        freely in areas that have been colluded.
    </p>
</div>

<div class="content-dark-titles">
    <h3>Open up your Hand and Feet Gaits</h3>
</div>

<div class="content-dark-copy">
    <p>
        Rubbing your hand and feet gaits is a great way to open up clogged energetic spaces and encourage grounding. A good technique for
        'restless leg syndrome' - trapped leg energy - is to rub down your arms and legs and then move to your hands and feet - paying
        lots of attention to the areas between your fingers and toes.</p>
</div>

<div class="content-images">
    <img src="../../../../assets/images/details/energyMedicine/anxiety/handFootGaits.jpg" alt="Magnet Therapy" title="Magnet Therapy"/>
</div>

<div class="content-dark-copy">
    <p>
    There are lots of meridian end and beginning points in the feet and hands. Then finish with spooning your feet. It's a great thing
    to add to your pre-bedtime ritual.</p>
</div>

<div class="content-dark-titles">
    <h3>Sedate Triple Warmer to Lessen Panic</h3>
</div>

<div class="content-dark-copy">
    <p>
        Should you be susceptible to panic attacks, you know the issues are bigger than a simple exercise. You likely need to make some
        significant changes in your life as your body is literally screaming at you to do so. However try this exercise if you start to
        feel an attack coming on.
    </p>
</div>

<div class="content-images">
    <img src="../../../../assets/images/details/energyMedicine/anxiety/sedateTW.jpg" alt="Calm your Anxiety with Acupoints" title="Calm your Anxiety with Acupoints"/>
</div>

<ul class="content-dark-list">
    <li class="list-item">Hold Triple Warmer 10 point found at your funny bone.</li>
    <li class="list-item">Follow from your ring finger and stop when you get to the dip in your outer elbow.</li>
    <li class="list-item">Hold Stomach 36 point by placing the heel of your hand on the top of your kneecap.</li>
    <li class="list-item">ST-36 is at the area where your pinky lands.</li>
    <li class="list-item">Hold these points for 3 minutes or until your panic subsides.</li>
    <li class="list-item">If you are still panicky switch sides and repeat.</li>
</ul>

<div class="content-dark-titles">
    <h3>Try the Daily Energy Routine</h3>
</div>

<div class="content-dark-copy">
    <p>
        You can also do the <a routerLink="/doEnergyExercises" fragment="doDER">Daily Energy Routine</a> in about 5 minutes and the benefits
        are huge. There are lots of exercises in this routine that calm anxiety. Give them a try! I like to do mine to music and no I
        don't do it every day as I get bored. But I will embarrass friends and family by doing these routines in parks, on beaches and
        like on my home page, in front of waterfalls. Expelling the Venom is a great exercise to release stress.
    </p>
</div>

<div class="screen-quote">
    <p>
        &#8220;And forget not that the Earth delights to feel your bare feet and the Winds long to play with
        your hair.&#8220;
    </p>
    <span>Khalil Gibran</span>
</div>



