<!--<app-global-menu [menuItemId]='menuItemId' [subMenuItemId]='subMenuItemId'></app-global-menu>

<app-global-headers [detailHeaderName]="detailHeaderName" [title]="title"></app-global-headers>

<div class="grid-container">
    <app-book-consultation-overview [title]="title">  </app-book-consultation-overview>
</div>

<app-global-footer></app-global-footer>-->

<!-- Mike there is no book-session-screen css ?-->

<div class="book-consultation-screen">
    <app-global-menu [menuItemId]='menuItemId' [subMenuItemId]='subMenuItemId'></app-global-menu>
    <app-global-headers [detailHeaderName]="detailHeaderName" [title]="title"></app-global-headers>

    <div class="grid-container">
        <app-book-consultation-overview [model]="model" [title]="title">  </app-book-consultation-overview>
    </div>

    <div class="content-container">
        <div class="content-no-margins">
            <div class="print-container">
                <button class="print-form-button" (click)="printProfile()">PRINT</button>
            </div>
        </div>
    </div>

  <app-global-footer></app-global-footer>
</div>
<div *ngIf="selectedIntakeForm == 'caregiver'">
  <app-print-intake-for-caregiver [model]="model"></app-print-intake-for-caregiver>
</div>
<div *ngIf="selectedIntakeForm == 'planning'">
  <app-print-intake-for-plans [model]="model"></app-print-intake-for-plans>
</div>
<div *ngIf="selectedIntakeForm == 'patient'">
  <app-print-intake-for-patient [model]="model"></app-print-intake-for-patient>
</div>
