<!-- DESKTOP -->
<div class="screen-forms-desktop">
    <div class="sub-form-block">
        <div class="sub-form-full-block">
            <p>As patient, select your main areas of focus for seeking support from a consultation:</p>
        </div>

        <div class="sub-form-two-checkboxes-block">
            <div class="sub-form-first-check-col">
                <input type="checkbox" id="dPrimaryFocus0" [(ngModel)]="client.eolPatientFocus0" checked value="patientFocus0">
                <label for="dPrimaryFocus0">
                    {{response.answer0}}
                    <!--                    I have been diagnosed with a terminal illness.-->
                </label>
            </div>

            <div class="sub-form-second-check-col">
                <input type="checkbox" id="dPrimaryFocus1" [(ngModel)]="client.eolPatientFocus1" value="patientFocus1">
                <label for="dPrimaryFocus1">
                    {{response.answer1}}
<!--                    I have been diagnosed with a terminal illness.-->
                </label>
            </div>

            <div class="sub-form-first-check-col">
                <input type="checkbox" id="dPrimaryFocus2" [(ngModel)]="client.eolPatientFocus2" value="patientFocus2">
                <label for="dPrimaryFocus2">
                    {{response.answer2}}
<!--                    I am scared, angry, depressed and need emotional support.-->
                </label>
            </div>
     <!--   </div>

        <div class="sub-form-two-checkboxes-block">-->
            <div class="sub-form-second-check-col">
                <input type="checkbox" id="dPrimaryFocus3" [(ngModel)]="client.eolPatientFocus3" value="patientFocus3">
                <label for="dPrimaryFocus3">
                    {{response.answer3}}
<!--                    I am physically unable to care for myself as I used to.-->
                </label>
            </div>

            <div class="sub-form-first-check-col">
                <input type="checkbox" id="dPrimaryFocus4" [(ngModel)]="client.eolPatientFocus4" value="patientFocus4">
                <label for="dPrimaryFocus4">
                    {{response.answer4}}
<!--                    I need to discuss things with my family but they won't listen.-->
                </label>
            </div>
      <!--  </div>

        <div class="sub-form-two-checkboxes-block">-->
            <div class="sub-form-second-check-col">
                <input type="checkbox" id="dPrimaryFocus5" [(ngModel)]="client.eolPatientFocus5" value="patientFocus5">
                <label for="dPrimaryFocus5">
                    {{response.answer5}}
<!--                    My family is fighting and arguing about my care.-->
                </label>
            </div>

            <div class="sub-form-first-check-col">
                <input type="checkbox" id="dPrimaryFocus6" [(ngModel)]="client.eolPatientFocus6" value="patientFocus6">
                <label for="dPrimaryFocus6">
                    {{response.answer6}}
<!--                    I want to write down my wishes and requests while I still can.-->
                </label>
            </div>
     <!--   </div>

        <div class="sub-form-two-checkboxes-block">-->
            <div class="sub-form-second-check-col">
                <input type="checkbox" id="dPrimaryFocus7" [(ngModel)]="client.eolPatientFocus7" value="patientFocus7">
                <label for="dPrimaryFocus7">
                    {{response.answer7}}
<!--                    I am afraid I won't be able to handle the pain.-->
                </label>
            </div>

            <div class="sub-form-first-check-col">
                <input type="checkbox" id="dPrimaryFocus8" [(ngModel)]="client.eolPatientFocus8" value="patientFocus8">
                <label for="dPrimaryFocus8">
                    {{response.answer8}}
<!--                    I want more information about life prolonging procedures.-->
                </label>
            </div>
        <!--</div>

        <div class="sub-form-two-checkboxes-block">-->
            <div class="sub-form-second-check-col">
                <input type="checkbox" id="dPrimaryFocus9" [(ngModel)]="client.eolPatientFocus9" value="patientFocus9">
                <label for="dPrimaryFocus9">
                    {{response.answer9}}
<!--                    I want to explore who in my family I could best trust to consider and advocate for my wishes.-->
                </label>
            </div>

            <div class="sub-form-first-check-col">
                <input type="checkbox" id="dPrimaryFocus10" [(ngModel)]="client.eolPatientFocus10" value="patientFocus10">
                <label for="dPrimaryFocus10">
                    {{response.answer10}}
<!--                    I feel that the health care team doesn't explain enough to me.-->
                </label>
            </div>

      <!--  </div>

        <div class="sub-form-two-checkboxes-block">-->
            <div class="sub-form-second-check-col">
                <input type="checkbox" id="dPrimaryFocus11" [(ngModel)]="client.eolPatientFocus11" value="primaryFocus11">
                <label for="dPrimaryFocus11">
                    {{response.answer11}}
<!--                    I want information about my rights to die at home.-->
                </label>
            </div>

          <!--  <div class="sub-form-second-check-col">
                <input type="checkbox" id="primaryFocus12" [(ngModel)]="client.eolPatientFocus12" value="primaryFocus12">
                <label for="primaryFocus12">
&lt;!&ndash;                    I need information to decide whether hospice or palliative care is available to me.&ndash;&gt;
                </label>
            </div>-->
        </div>

        <div class="sub-form-full-block">
            <p>Can you expand on what you are looking for related to the above answer?</p>
        </div>

        <div class="sub-form-full-block">
            <textarea class="sub-form-text-area" rows=8 id="mainIssues" [(ngModel)]="client.eolPatientDetails" name="mainIssues"> </textarea>
        </div>
    </div>
</div>

<!-- MOBILE -->
<div class="screen-forms-mobile">
    <div class="sub-form-block">
        <div class="sub-form-full-block">

            <p>As a patient, what would be your main area of focus for seeking a consultation?</p>
        </div>

        <div class="sub-form-full-block">
            <div class="sub-form-first-check-col">
                <input type="checkbox" id="mPrimaryFocus0" [(ngModel)]="client.eolPatientFocus0" value="patientFocus0">
                <label for="mPrimaryFocus0">
                    {{response.answer0}}
<!--                    I have been diagnosed with a terminal illness.-->
                </label>
            </div>

            <div class="sub-form-first-check-col">
                <input type="checkbox" id="mPrimaryFocus1" [(ngModel)]="client.eolPatientFocus1" value="patientFocus1">
                <label for="mPrimaryFocus1">
                    {{response.answer1}}
<!--                    I have been diagnosed with a terminal illness.-->
                </label>
            </div>

            <div class="sub-form-first-check-col">
                <input type="checkbox" id="mPrimaryFocus2" [(ngModel)]="client.eolPatientFocus2" value="patientFocus2">
                <label for="mPrimaryFocus2">
                    {{response.answer2}}

                </label>
            </div>

            <div class="sub-form-first-check-col">
                <input type="checkbox" id="mPrimaryFocus3" [(ngModel)]="client.eolPatientFocus3" value="patientFocus3">
                <label for="mPrimaryFocus3">
                    {{response.answer3}}
                </label>
            </div>

            <div class="sub-form-first-check-col">
                <input type="checkbox" id="mPrimaryFocus4" [(ngModel)]="client.eolPatientFocus4" value="patientFocus4">
                <label for="mPrimaryFocus4">
                    {{response.answer4}}
                </label>
            </div>

            <div class="sub-form-first-check-col">
                <input type="checkbox" id="mPrimaryFocus5" [(ngModel)]="client.eolPatientFocus5" value="patientFocus5">
                <label for="mPrimaryFocus5">
                    {{response.answer5}}
                </label>
            </div>

            <div class="sub-form-first-check-col">
                <input type="checkbox" id="mPrimaryFocus6" [(ngModel)]="client.eolPatientFocus6" value="patientFocus6">
                <label for="mPrimaryFocus6">
                    {{response.answer6}}
                </label>
            </div>

            <div class="sub-form-first-check-col">
                <input type="checkbox" id="mPrimaryFocus7" [(ngModel)]="client.eolPatientFocus7" value="patientFocus7">
                <label for="mPrimaryFocus7">
                    {{response.answer7}}
                </label>
            </div>

            <div class="sub-form-first-check-col">
                <input type="checkbox" id="mPrimaryFocus8" [(ngModel)]="client.eolPatientFocus8" value="patientFocus8">
                <label for="mPrimaryFocus8">
                    {{response.answer8}}
                </label>
            </div>

            <div class="sub-form-first-check-col">
                <input type="checkbox" id="mPrimaryFocus9" [(ngModel)]="client.eolPatientFocus9" value="primaryFocus9">
                <label for="mPrimaryFocus9">
                    {{response.answer9}}
                </label>
            </div>

            <div class="sub-form-first-check-col">
                <input type="checkbox" id="mPrimaryFocus10" [(ngModel)]="client.eolPatientFocus10" value="primaryFocus10">
                <label for="mPrimaryFocus10">
                    {{response.answer10}}
                </label>
            </div>

            <div class="sub-form-first-check-col">
                <input type="checkbox" id="mPrimaryFocus11" [(ngModel)]="client.eolPatientFocus11" value="primaryFocus11">
                <label for="mPrimaryFocus11">
                    {{response.answer11}}
                </label>
            </div>
        </div>

        <div class="sub-form-full-block">
            <p>Can you expand on what you are looking for related to the above answer?</p>
        </div>

        <div class="sub-form-full-block">
            <textarea rows=8 class="sub-form-text-area" id="m-mainIssues" [(ngModel)]="client.eolPatientDetails" name="mainIssues"> </textarea>
        </div>
    </div>
</div>


