<!-- this one can have both desktop and mobile because there are no default values -->
<div class="forms-both">
    <div class="title-background">
        Your Concerns and Goals
    </div>

    <div class="full-line-prompt">
        <p>As Caregiver, what are your main areas of focus for seeking a consultation?</p>
    </div>

    <div class="two-even-columns-block">
        <div class="first-radio-check-column">
            <input type="checkbox" id="primaryFocus1" [(ngModel)]="client.eolCaregiverFocus1" value="caregiverFocus1">
            <label for="primaryFocus1">
                I am overwhelmed with all the decisions I need to make.
            </label>
        </div>

        <div class="second-radio-check-column">
            <input type="checkbox" id="primaryFocus2" [(ngModel)]="client.eolCaregiverFocus2" value="caregiverFocus2">
            <label for="primaryFocus2">
                I am exhausted and burned out and need emotional support.
            </label>
        </div>
    </div>

    <div class="two-even-columns-block">
        <div class="first-radio-check-column">
            <input type="checkbox" id="primaryFocus3" [(ngModel)]="client.eolCaregiverFocus3" value="caregiverFocus3">
            <label for="primaryFocus3">
                I am physically unable to care for my loved one adequately.
            </label>
        </div>

        <div class="second-radio-check-column">
            <input type="checkbox" id="primaryFocus4" [(ngModel)]="client.eolCaregiverFocus4" value="caregiverFocus4">
            <label for="primaryFocus4">
                My loved one is angry and lashing out at me and I don't feel safe.
            </label>
        </div>
    </div>

    <div class="two-even-columns-block">
        <div class="first-radio-check-column">
            <input type="checkbox" id="primaryFocus5" [(ngModel)]="client.eolCaregiverFocus5" value="caregiverFocus5">
            <label for="primaryFocus5">
                I am having conflicts with my extended family's opinions on care, even though I am the main caregiver.
            </label>
        </div>

        <div class="second-radio-check-column">
            <input type="checkbox" id="primaryFocus6" [(ngModel)]="client.eolCaregiverFocus6" value="caregiverFocus6">
            <label for="primaryFocus6">
                I need to ensure their last wishes and requests are respected.
            </label>
        </div>
    </div>

    <div class="two-even-columns-block">
        <div class="first-radio-check-column">
            <input type="checkbox" id="primaryFocus7" [(ngModel)]="client.eolCaregiverFocus7" value="caregiverFocus7">
            <label for="primaryFocus7">
                I need to discuss these issues with an impartial advocate.
            </label>
        </div>

        <div class="second-radio-check-column">
            <input type="checkbox" id="primaryFocus8" [(ngModel)]="client.eolCaregiverFocus8" value="caregiverFocus8">
            <label for="primaryFocus8">
                I am having difficulties with my loved one's health care team.
            </label>
        </div>

        <div class="first-radio-check-column">
            <input type="checkbox" id="primaryFocus9" [(ngModel)]="client.eolCaregiverFocus9" value="caregiverFocus9">
            <label for="primaryFocus9">
                My loved one will not discuss any end of life issues with me and I need to get things in order.
            </label>
        </div>

        <div class="second-radio-check-column">
            <input type="checkbox" id="primaryFocus10" [(ngModel)]="client.eolCaregiverFocus10" value="caregiverFocus10">
            <label for="primaryFocus10">
                They want care in one place (hospital, hospice or home) that I am unable to organize on my own.
            </label>
        </div>
    </div>

    <div class="full-line-prompt">
        <p>Can you expand on what you are looking for related to the above considerations?</p>
    </div>


    <div class="one-full-column-block">
        <textarea rows=8 class="text-area" id="mainIssues" [(ngModel)]="client.eolCaregiverDetails"> </textarea>
    </div>
</div>


