<div class = "topic-grid topic-documents-to-sign topic-size">
    <h1>{{title}}</h1>
</div>

<div class="screen-title pad-top-2">
    <h2>Make an Advanced Care Directive/Plan</h2>
</div>

<div class="content-dark-copy with-soft-border pad-top-2">
    <p>
        No matter what your age, if you have any of the chronic health conditions you need to be more prepared for a health
        crisis. Chronic health conditions to consider include:
    </p>
</div>

<ul class="content-dark-list square">
    <li class="list-item">Insulin Dependent or Non-Insulin Dependent Diabetes.</li>
    <li class="list-item">Chronic Kidney Disease (CKD).</li>
    <li class="list-item">Heart Diseases such as Angina, Congestive Heart Failure, Heart Attack or Enlarged Heart.</li>
    <li class="list-item">Lung Disease such as COPD, Pulmonary Edema, Pulmonary Fibrosis, Pneumonitis.</li>
    <li class="list-item">Liver Disease such as Cirrhosis, Hepatitis B or C.</li>
    <li class="list-item">Parkinson’s, ALS, Huntington's or Multiple Sclerosis.</li>
    <li class="list-item">Vascular Diseases such as Stroke, Aneurysms, Peripheral Artery Diseases, Hypertension.</li>
    <li class="list-item">Auto-immune Disorders such as Addisons, Graves, Hashimotos or Graves Disease.</li>
    <li class="list-item">Dementia such as Alzheimer's, Huntingtons or Creutzfeldt-Jakob Disease.</li>
    <li class="list-item">Cancer.</li>
</ul>

<div class="content-dark-copy pad-top-2">
    <p>
        If you have these or any other serious, chronic condition or have been told that you have some kind of time limit to your
        life, it is very important to put a plan together for your family to follow. In addition to selecting the person or persons
        who will Advocate for you in the event of an emergency, you should also create an Advanced Care Plan. This allows you to add
        more information about the kinds of specific treatments and procedures that you may want to say yes or no to.
        <br><br>
        The plan can be as simple or as detailed as you like and can include Do Not Resuscitate, No CPR orders, or plans for an EDITH
        (Expected Death in the Home).
    </p>
</div>

<div class = "content-dark-copy">
    <p>
        By creating an Advanced Care Directive, you can state specifically which treatments and procedures you want your Representative
        to advocate for you. It provides another vehicle to letting them know what your wishes are. Your directive will be followed by
        the Health Care team as it pertains directly to the situation at hand.
        <br><br>
        If you are concerned that your wishes may not be followed by your Representative, you will need to state in the Advance Directive
        that your Health Care providers may act in accordance with your instructions without the consent of your Representative. You can
        even name the procedures you would like attempted as well as the treatments you would not want.
        <br><br>
        Life support and medical interventions include:
    </p>
</div>

<ul class = "content-dark-list infinity">
    <li class="list-item">Tube Feedings</li>
    <li class="list-item">Ventilators</li>
    <li class="list-item">Kidney Dialysis</li>
    <li class="list-item">Medications</li>
    <li class="list-item">CPR (Cardio Pulmonary Resuscitation)</li>
    <li class="list-item">Intubation</li>
    <li class="list-item">Breathing Machines?</li>
    <li class="list-item">DNR Orders</li>
</ul>

<div class = "screen-title pad-top-2">
    <h2>Why Write an Advanced Directive?</h2>
</div>

<ul class = "content-dark-list infinity">
    <li class="list-item">You want to be in charge of your own health, life and death</li>
    <li class="list-item">Your realize that doing so now could lead to less family conflicts later</li>
    <li class="list-item">You want consistency in who cares for you</li>
    <li class="list-item">You want to eliminate added stress for your family</li>
</ul>

<div class="content-dark-copy">
    <p>
        If your Advance Directive doesn't include a proposed health care treatment then the person appointed as your Formal Substitute
        Decision Maker will be asked to make the decisions.
        <br><br>
        This means for example, if you don’t want to be intubated and it says so in your Directive you will not be. If your Directive
        doesn’t mention being intubated then the decision will be made by your Representative. If you don’t have a Representative, the
        decision will be made by the Health Care team.
    </p>
</div>

<div class="content-light-copy backcolor-metal-selected">
    <p>
        The first document is a check list, that lets you check off the documents that you have decided to fill out. You may have filled
        out your wishes as a separate paper you write up on your own OR you can <a routerLink="/planAheadWizard">follow the wizard
        here</a> that will prompt you through a list of questions and scenarios to produce your own ready-to-use wishes, personal wishes
        document. The TSDM form lets you write down your preferred Representative(s). If you want a document that will assign a person to
        take on the role of financial representative (if you don't want a Power of Attorney), you can fill out Rep-7. Rep-9 does not
        cover the financial situation, but rather allows you to assign one or two people to act as your personal health care decision
        maker. Finally, you can check off an advanced care plan should you have created one.
    </p>
</div>

<div class="content-images">
    <img src="assets/images/details/planning/endOfLifeDocuments/advCarePlan/papersInOrder1.jpg"
         alt="Choose a Representative">
</div>

<div class="content-light-copy backcolor-metal-selected">
    <p>
        The second document is an example of an advanced directive that you can use to enter in your requests related to no-cpr, dnr, any
        procedures that you want or do not want. By using the <a routerLink="/planAheadWizard">my wishes wizard here</a>many of these
        issues will already have been addressed so can be placed in this document.
    </p>
</div>

<div class="content-images">
    <img src="assets/images/details/planning/endOfLifeDocuments/advCarePlan/advancedDirective1.jpg"
         alt="Choose a Representative" >
</div>

<div class="content-images">
    <img src="assets/images/details/planning/endOfLifeDocuments/advCarePlan/advancedDirective2.jpg"
         alt="Choose a Representative">
</div>

<div class="content-images">
    <img src="assets/images/details/planning/endOfLifeDocuments/advCarePlan/papersInOrder2.jpg"
         alt="Choose a Representative">
</div>

