/* PRINTER PAGE  *************************************************************************************************************/

@media print {

    /*.wizard-print-header {*/
    .print-modal-header {
        max-width: var(--print-width);
        display: inline-grid;
        font-family: var(--family-title);
        margin: auto;
        grid-template-columns: 45% 55%;
        width: 100%;
        color: var(--color-dark-blue);
    }

    .print-modal-logo {
        display: grid;
        grid-column: 1;
        width: 100%;
        margin: auto;
    }

    .print-modal-logo img {
        max-width: 100%;
        height: auto;
    }

    .print-modal-text {
        display: grid;
        grid-column: 2;
        width: 100%;
        align-content: center;
        justify-content: flex-end;
    }

    .print-modal-text h2 {
        font-size: var(--h2-titles-desktop-font-size);
        line-height: 150%;
        font-weight: 500;
    }

    .print-modal-text h3 {
        font-size: var(--h3-titles-desktop-font-size);
        line-height: 150%;
        font-weight: 300;
    }
}