
<ng-container *ngIf="wishes">
    <div class="print-modal-header">
        <div class="print-modal-logo">
            <img src="../../../../assets/images/details/takeAction/writeNeedsDown/wizardPrintMakeWishes.jpg" alt="logo">
        </div>

        <div class="print-modal-text">
            <h2>End of Life Care Wishes:</h2>
            <h3>
                <ng-container *ngIf="wishes.client_name.length > 0 && wishes.client_name != ''">
                    for {{wishes.client_name}}
                </ng-container>
                <br>
                dated {{now}}
            </h3>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="rep">
    <div class="print-modal-header">
        <div class="print-modal-logo">
            <img src="../../../../assets/images/details/takeAction/chooseRepresentatives/wizardPrintChooseReps.jpg" alt="logo">
        </div>

        <div class="print-modal-text">
            <h2>Choose Your Representatives:</h2>
            <h3>
                <ng-container *ngIf="rep.client_name.length > 0 && rep.client_name != ''">
                    for {{rep.client_name}}
                </ng-container>
                <br>
                dated {{now}}
            </h3>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="directive">
    <div class="print-modal-header">
        <div class="print-modal-logo">
            <img src="../../../../assets/images/details/takeAction/writeCarePlan/wizardActionPrintAdvancePlan.jpg" alt="logo">
        </div>

        <div class="print-modal-text">
            <h2>The Advance Directive:</h2>
            <h3>
                <ng-container *ngIf="directive.client_name.length > 0 && directive.client_name != ''">
                    for {{directive.client_name}}
                </ng-container>
                <br>
                dated {{now}}
            </h3>
        </div>
    </div>
</ng-container>
