<!--  ******************************* SUPPORT FOR CAREGIVER ****************************   -->
<div class="print-title">
    <h1>Your Concerns and Goals as a Caregiver</h1>
</div>

<div class="print-form-question">
    You have selected these choices as your main areas of focus for seeking a caregiver consultation:
</div>

<ng-container *ngIf="client.eolCaregiverFocus0">
    <div class="print-form-response">
        {{response.answer0}}
    </div>
</ng-container>

<ng-container *ngIf="client.eolCaregiverFocus1">
    <div class="print-form-response">
        {{response.answer1}}
    </div>
</ng-container>

<ng-container *ngIf="client.eolCaregiverFocus2">
    <div class="print-form-response">
        {{response.answer2}}
    </div>
</ng-container>

<ng-container *ngIf="client.eolCaregiverFocus3">
    <div class="print-form-response">
        {{response.answer3}}
    </div>
</ng-container>

<ng-container *ngIf="client.eolCaregiverFocus4">
    <div class="print-form-response">
        {{response.answer4}}
    </div>
</ng-container>

<ng-container *ngIf="client.eolCaregiverFocus5">
    <div class="print-form-response">
        {{response.answer5}}
    </div>
</ng-container>

<ng-container *ngIf="client.eolCaregiverFocus6">
    <div class="print-form-response">
        {{response.answer6}}
    </div>
</ng-container>

<ng-container *ngIf="client.eolCaregiverFocus7">
    <div class="print-form-response">
        {{response.answer7}}
    </div>
</ng-container>

<ng-container *ngIf="client.eolCaregiverFocus8">
    <div class="print-form-response">
        {{response.answer8}}
    </div>
</ng-container>

<ng-container *ngIf="client.eolCaregiverFocus9">
    <div class="print-form-response">
        {{response.answer9}}
    </div>
</ng-container>

<ng-container *ngIf="client.eolCaregiverDetails.length > 0">
    <div class="print-form-question">
        The additional details you have provided are:
    </div>

    <div class="print-form-response">
        {{ client.eolCaregiverDetails }}
    </div>
</ng-container>




