
<div class="book-consultation-screen">
    <app-global-menu [menuItemId]='menuItemId' [subMenuItemId]='subMenuItemId'></app-global-menu>

    <app-book-consultation-overview
        [client]="client"
        [title]="title"
        [quote]="quote"
        [author]="author"
        [consult1a]="consult1a"
        [consult1b]="consult1b"
        [consult2a]="consult2a"
        [consult2b]="consult2b"
        [consult3a]="consult3a"
        [consult3b]="consult3b"   >
    </app-book-consultation-overview>

    <app-global-footer></app-global-footer>
</div>

<div class="book-consultation-print">
    <div *ngIf="selectedIntakeForm == 'caregiver'">
      <app-print-form-caregiver-consult [client]="client"></app-print-form-caregiver-consult>
    </div>
    <div *ngIf="selectedIntakeForm == 'planning'">
      <app-print-form-planner-consult [client]="client"></app-print-form-planner-consult>
    </div>
    <div *ngIf="selectedIntakeForm == 'patient'">
      <app-print-form-patient-consult [client]="client"></app-print-form-patient-consult>
    </div>
</div>

