<div class="book-consultation-screen">
    <app-global-menu [menuItemId]='menuItemId' [subMenuItemId]='subMenuItemId'></app-global-menu>
    <app-book-consultation-overview [client]="client" [title]="title" [quote]="quote" [author]="author">  </app-book-consultation-overview>
    <app-global-footer></app-global-footer>
</div>

<div class="book-consultation-print">
    <div *ngIf="selectedIntakeForm == 'caregiver'">
      <app-print-caregiver-consult [client]="client"></app-print-caregiver-consult>
    </div>
    <div *ngIf="selectedIntakeForm == 'planning'">
      <app-print-planning-consult [client]="client"></app-print-planning-consult>
    </div>
    <div *ngIf="selectedIntakeForm == 'patient'">
      <app-print-patient-consult [client]="client"></app-print-patient-consult>
    </div>
</div>
