/*******************************************************************************************************************
  GLOBAL BANANAS- MOBILES, SMALL TABLETS - under 900 (content) width so need 10% space on either side of content
*******************************************************************************************************************/
@media only screen
and (min-width: 240px)
and (max-width: 896px)    {

    .consult-menu-block {
        width:var(--media-less-than-content-width);
    }

  /*  .menu-mobile {
        width:var(--media-less-than-content-width);
        display: block;
        margin:auto;
    }

    .menu-desktop {
        display: none;
    }
*/



}

/*******************************************************************************************************************
  GLOBAL BIG TABLETS, IPADS, LAPTOPS, DESKTOPS (over 900 so don't need to have space on either side of content)
*******************************************************************************************************************/
@media only screen
and (min-width:960px)   {

   /* .menu-mobile {
        display: none;
    }

    .menu-desktop {
        display: block;
        width:var(--media-more-than-content-width);
        max-width: var(--content-width);
        margin:auto;
    }*/

    .consult-menu-block {
        width:var(--media-more-than-content-width);
    }


}


/*******************************************************************************************************************
  BANANAS
*******************************************************************************************************************/
@media only screen
and (min-width: 240px)
and (max-width: 320px) {

    /* MENU for CONSULTATION TYPE FORMS */
    .consult-menu-heading  {
        font-size: var(--big-copy-banana-font-size);
        letter-spacing:0;
    }

    .consult-menu-item span, .consult-menu-item a {
        font-size: var(--med-copy-banana-font-size);
    }




}

/*******************************************************************************************************************
  MOBILES
*******************************************************************************************************************/
@media only screen
and (min-width: 360px)
and (max-width: 414px) {

    .consult-menu-heading  {
        font-size: var(--big-copy-mobile-font-size);
    }

    .consult-menu-item span, .consult-menu-item a {
        font-size: var(--med-copy-mobile-font-size);
    }


  /*  .form-print-button {
        font-size:var(--small-copy-mobile-font-size);
        width:90px;
        height:50px;

    }*/
}

/*******************************************************************************************************************
  TABLETS
*******************************************************************************************************************/
@media only screen
and (min-width: 600px)
and (max-width: 800px)  {

    .consult-menu-heading  {
        font-size: var(--big-copy-tablet-font-size);
    }

    .consult-menu-item span, .consult-menu-item a {
        font-size: var(--med-copy-tablet-font-size);
    }



}

/*******************************************************************************************************************
  IPADS
*******************************************************************************************************************/
@media only screen
and (min-width: 1024px)
and (max-width: 1366px) {

    .consult-menu-heading  {
        font-size: var(--big-copy-ipad-font-size);
    }

    .consult-menu-item span, .consult-menu-item a {
        font-size: var(--med-copy-ipad-font-size);
    }




}

/*******************************************************************************************************************
  LAPTOPS
*******************************************************************************************************************/
@media only screen
and (min-width: 1440px)
and (max-width: 1919px) {

    .consult-menu-heading  {
        font-size: var(--big-copy-laptop-font-size);
    }

    .consult-menu-item span, .consult-menu-item a {
        font-size: var(--med-copy-laptop-font-size);
    }



}

/*******************************************************************************************************************
  DESKTOPS
*******************************************************************************************************************/
@media only screen
and (min-width: 1920px) {

    .consult-menu-heading  {
        font-size: var(--big-copy-desktop-font-size);
    }

    .consult-menu-item span, .consult-menu-item a {
        font-size: var(--med-copy-desktop-font-size);
    }




}

/* GLOBAL *************************************************************************************************************/
@media only screen {

    /* USERS FORM MENU */
    .consult-menu-block {
        display: block;
        max-width: var(--content-width);
        margin:auto;
        padding:1em 0;
        border-top:dashed thin var(--color-grey);
        border-bottom:dashed thin var(--color-grey);
        font-family: var(--family-copy);
    }

    .consult-menu-heading  {
        font-style:normal;
        color: var(--color-dark-blue);
        text-align: left;
        width:98%;
        padding-left: 2%;
        padding-bottom:.5em;
        font-weight:800;
        background-color: white;
    }

    .consult-menu {
        margin:0;
        color: var(--color-dark-blue);
        width:95%;
        padding-left:5%;
    }

    .consult-menu-item {
        text-align: left;
        line-height:var(--list-wide-item-line-height);
    }

    .consult-menu-item a {
        text-decoration: underline;
        cursor: pointer;
        font-weight:400;
    }

    .consult-menu-item span {
        cursor: default;
        font-weight:800;
    }


}
