<div class="header-detail-image header-book-consultation-image">
    <div class="header-quote">
        &#8220;{{quote}}&#8220;
    </div>
    <div class="header-author">
        {{author}}
    </div>
</div>

<div class="content-title pad-top">
    <h1>{{title}}</h1>
</div>

<div class="sub-form-menu-block">
    <div class="sub-form-menu-heading">
        <div class="content-title pad-top">
            <h3><b>I WOULD LIKE TO DISCUSS:</b></h3>
        </div>
    </div>

    <ul class="sub-form-menu">
        <div class="sub-form-menu-item">
            <li *ngIf="showPlanningEditor">
                <div class="content-title">
                    <h4>{{consult1.toUpperCase()}}</h4>
                </div>
            </li>
            <li *ngIf="!showPlanningEditor">
                <div class="content-title">
                    <h4><a (click)="toggleEditor('planning')">{{consult1.toUpperCase()}}</a></h4>
                </div>
            </li>
        </div>

        <div class="sub-form-menu-item">
            <li *ngIf="showCaregiverEditor">
                <div class="content-title">
                    <h4>{{consult2.toUpperCase()}}</h4>
                </div>
            </li>
            <li *ngIf="!showCaregiverEditor">
                <div class="content-title">
                    <h4><a (click)="toggleEditor('caregiver')">{{consult2.toUpperCase()}}</a></h4>
                </div>
            </li>
        </div>

        <div class="sub-form-menu-item">
            <li *ngIf="showPatientEditor">
                <div class="content-title">
                    <h4>{{consult3.toUpperCase()}}</h4>
                </div>
            </li>
            <li *ngIf="!showPatientEditor">
                <div class="content-title">
                    <h4><a (click)="toggleEditor('patient')">{{consult3.toUpperCase()}}</a></h4>
                </div>
            </li>
        </div>
    </ul>
</div>

<ng-container *ngIf="showPlanningEditor">
    <div class="sub-form-menu-prompt-block">
        <div class="content-title">
            <h5>{{consult1.toUpperCase()}}</h5>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="showCaregiverEditor">
    <div class="sub-form-menu-prompt-block">
        <div class="content-title">
            <h5>{{consult2.toUpperCase()}}</h5>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="showPatientEditor">
    <div class="sub-form-menu-prompt-block">
        <div class="content-title">
            <h5>{{consult3.toUpperCase()}}</h5>
        </div>
    </div>
</ng-container>

<div class="content-dark-copy">
    <p>
        Please note the information your provide on this form is confidential. You can either print it and bring it with you at our
        first
        meeting or - to give me a heads up about your concerns and needs - you can send it beforehand. You can scan it, take
        screenshots, or
        ideally save it as a pdf file and attach it in an email. To book an appointment email me at:
        <a href="mailto:karen@transitionsInEnergy.com">karen&#64;transitionsInEnergy.com</a>.
    </p>
</div>

<ng-container *ngIf="showPlanningEditor">
    <app-screen-form-planner-consult [client]="client"></app-screen-form-planner-consult>
</ng-container>

<ng-container *ngIf="showCaregiverEditor">
    <app-screen-form-caregiver-consult [client]="client"></app-screen-form-caregiver-consult>
</ng-container>

<ng-container *ngIf="showPatientEditor">
    <app-screen-form-patient-consult [client]="client"></app-screen-form-patient-consult>
</ng-container>







 