<div class="header-detail-image header-book-consultation-image">
    <div class="quote">
        &#8220;{{quote}}&#8220;
    </div>
    <div class="author">
        {{author}}
    </div>
</div>

<div class="content-title">
    <h1>{{title}}</h1>
</div>

<div class="consult-menu-block">
    <div class="consult-menu-heading">
        <p>I WOULD LIKE TO DISCUSS:</p>
    </div>

    <ul class="consult-menu">
        <div class="consult-menu-item">
            <li *ngIf="showPlanningEditor">
                <span>How to Plan for my Future Care</span>
            </li>
            <li *ngIf="!showPlanningEditor">
                <a (click)="toggleEditor('planning')">How to Plan for my Future Care</a>
            </li>
        </div>

        <div class="consult-menu-item">
            <li *ngIf="showCaregiverEditor">
                <span>My Need for Support as Caregiver</span>
            </li>
            <li *ngIf="!showCaregiverEditor">
                <a (click)="toggleEditor('caregiver')">My Need for Support as Caregiver</a>
            </li>
        </div>

        <div class="consult-menu-item">
            <li *ngIf="showPatientEditor">
                <span>My Need for Support as Patient</span>
            </li>
            <li *ngIf="!showPatientEditor">
                <a (click)="toggleEditor('patient')">My Need for Support as Patient</a>
            </li>
        </div>
    </ul>
</div>

<ng-container *ngIf="showPlanningEditor">
    <div class="consult-menu-text">
        How to Plan for my Future Care
    </div>
</ng-container>

<ng-container *ngIf="showCaregiverEditor">
    <div class="consult-menu-text">
        My Need for Support as Caregiver
    </div>
</ng-container>

<ng-container *ngIf="showPatientEditor">
    <div class="consult-menu-text">
        My Need for Support as Patient
    </div>
</ng-container>

<div class="consult-intro">
    <p>
        Please note the information your provide on this form is confidential. You can either print it and bring it with you at our
        first
        meeting or - to give me a heads up about your concerns and needs - you can send it beforehand. You can scan it, take
        screenshots, or
        ideally save it as a pdf file and attach it in an email. To book an appointment email me at:
        <a href="mailto:karen@transitionsInEnergy.com">karen&#64;transitionsInEnergy.com</a>.
    </p>
</div>

<ng-container *ngIf="showPlanningEditor">
    <app-screen-form-planner-consult [client]="client"></app-screen-form-planner-consult>
</ng-container>

<ng-container *ngIf="showCaregiverEditor">
    <app-screen-form-caregiver-consult [client]="client"></app-screen-form-caregiver-consult>
</ng-container>

<ng-container *ngIf="showPatientEditor">
    <app-screen-form-patient-consult [client]="client"></app-screen-form-patient-consult>
</ng-container>







 