<div class="content">
    <div class = "topic-block">
        <div class="topic-left">
            <h1>{{title}}</h1>
        </div>

        <div class="topic-right">
            <img src="assets/images/support/practitioner/burnout/burnoutIntro.jpg" alt="Help with Burnout" title="Help with Burnout">
        </div>
    </div>

    <div class="inner-content">
        <div class="dark-heading">
            <h3>The Adrenal Hormones</h3>
        </div>

        <div class="dark-copy">
            The Adrenals sit on top of your Kidneys. Adrenal glands produce hormones that help regulate your metabolism,
            immune system, blood pressure,
            stress response, blood composition etc.
        </div>

        <img src="assets/images/support/practitioner/burnout/adrenalOrgans.jpg" class="images" title="The Adrenal Glands">

        <div class="dark-copy">
            When in a stressful situation the Aldosterone hormone requests help from the Kidneys. The Kidneys then try to
            restore electrolyte (salt to water) balance in your blood by absorbing more sodium into the bloodstream and releasing potassium into
            the urine. The hormone Cortisol stimulates glucose production to provide quick energy. Adrenalin hormone is released to
            signal the body to increase heart rate etc.
        </div>

        <div class="dark-heading">
            <h3>Kidney and Triple Warmer Meridians</h3>
        </div>

        <div class="dark-copy">
            In energy medicine the Adrenals are associated with the Kidney and Triple Warmer meridians. Kidney Meridian of
            course regulates the Kidneys.
            Triple Warmer is your protector Meridian. It is always on watch for any danger. It can steal energy from any
            other Meridian except for Heart.
            This can be great in a life and death situation but it's not so great when Triple Warmer is habitually
            activated.
            <br><br>
            <b>With robust Adrenals what happens is as follows:</b>
        </div>

        <ul class="dark-list">
            <li class="list-item">&#x262f;&nbsp;You experience a real emergency or feel ongoing chronic emotional stress.</li>
            <li class="list-item">&#x262f;&nbsp;Triple Warmer meridian hears from the Hypothalamus that you are in stress.</li>
            <li class="list-item">&#x262f;&nbsp;Triple Warmer asks the Adrenals to send Adrenaline and Cortisol hormones.</li>
            <li class="list-item">&#x262f;&nbsp;The Adrenals send Adrenaline and Cortisol via the blood to the legs.</li>
            <li class="list-item">&#x262f;&nbsp;This facilliates action and the Stomach to stop digestion etc.</li>
            <li class="list-item">&#x262f;&nbsp;When the crisis is over, the hormones and organs return to normal.</li>
        </ul>

        <div class="dark-copy">
            <br>
            <b>With chronically over-stimulated Adrenals what happens is as follows:</b>
        </div>

        <ul class="dark-list">
            <li class="list-item">&#x262f;&nbsp;You experience a real emergency or feel ongoing chronic emotional stress.</li>
            <li class="list-item">&#x262f;&nbsp;Triple Warmer meridian hears from the Hypothalamus that you are in stress.</li>
            <li class="list-item">&#x262f;&nbsp;Triple Warmer asks the Adrenals to send Adrenaline and Cortisol hormones.</li>
            <li class="list-item">&#x262f;&nbsp;Triple Warmer fails to get the energy it needs from the overloaded and weak Adrenals.</li>
            <li class="list-item">&#x262f;&nbsp;TW steals energy from the Thyroid Gland, the Spleen and the Pericardium meridians.</li>
            <li class="list-item">&#x262f;&nbsp;As the Pericardium Meridian protects the Heart, this negatively affects the Heart.</li>
            <li class="list-item">&#x262f;&nbsp;Because the Adrenals have failed to be part of the information loop, don't shut off the hormones.</li>
        </ul>

        <div class="dark-copy">
            If the Adrenals are chronically over-stimulated they can never benefit from rest and rejuvination. That is
            when Adrenal Burnout or Adrenal Fatigue can become a problem.
        </div>

        <img src="assets/images/support/practitioner/burnout/endocrineSystem.jpg" class="images" title="The Endocrine System">

        <div class="dark-copy">
            If you are experiencing symptoms of Adrenal Fatigue or Exhaustion you should, of course consult your doctor.
            Signs of Adrenal Fatigue include feeling totally exhausted, depressed with a low sex drive. You may overeat
            especially sugary treats and bad for you carbs and you may have increased fat around your abdomen.
            And of course, with your hormones out of whack you are more prone to illness.
            <br><br>
            Signs of Adrenal Burnout include an actual burning feeling or sharp knife-like pain about 3 inches above and
            below your waist on the front of your body.
            You may also experience pain or spasms in your lower back. You may have unstable blood sugars with
            inflammation and swelling in your abdominal area. You may be chronically exhausted but unable to sleep at night.
            You may feel constantly and insatiably thirsty. You may also have trouble breathing when exerting yourself in
            any way.
            <br><br>
            As with any case of Adrenal Burnout of Adrenal Exhaustion, more than anything you need rest, good nutrition and
            mental health support, doctor's care as well as energy medicine techniques.
            And as I always emphasize, I am not a doctor, naturopath etc. but I do want help you by showing you some easy to
            try energy medicine protocols.
            I test for Adrenal disturbances in my practice but there is a simple technique you can use if you have
            listened to your body and determined that you may be suffering from Adrenal issues.
            <br><br>
            The front adrenal points are located about one inch above and to the side of navel on both sides. The back
            adrenal points
            are one inch above and to the side of where your navel sits. Touch your navel and then reach back to find the
            corresponding location.
        </div>

        <div class="dark-heading">
            <h3>Test Your Adrenals:</h3>
        </div>

        <ul class="dark-list">
            <li class="list-item">&#x262f;&nbsp;Locate your Pineal Gland which correlates to Heart NV point at the top of the head </li>
            <li class="list-item">&#x262f;&nbsp;If you feel disoriented, your Pineal Gland could be unbalanced</li>
            <li class="list-item">&#x262f;&nbsp;Locate your Pituitary Gland which correlates to the Spleen NV point at the turn of the back of head</li>
            <li class="list-item">&#x262f;&nbsp;If you feel disoriented, your Pituitary Gland could be unbalanced</li>
            <li class="list-item">&#x262f;&nbsp;Hold your Hypothalamus Gland that correlates to the Triple Warmer NV point, at level of 3rd eye</li>
            <li class="list-item">&#x262f;&nbsp;If you feel disoriented, your Hypothalamus could be unbalanced</li>
            <li class="list-item">&#x262f;&nbsp;Hold the Liver Neurovascular points at your hairline</li>
            <li class="list-item">&#x262f;&nbsp;If you feel disoriented, your Liver could be unbalanced</li>
        </ul>

        <img src="assets/images/support/practitioner/burnout/testGlands.jpg" class="images" title="Test NV Points">

        <div class="dark-heading">
            <h3>Balance Yourself with the Rooster Comb Hold:</h3>
        </div>

        <ul class="dark-list">
            <li class="list-item">&#x262f;&nbsp;Place your fingers vertically at the inner side of your eye </li>
            <li class="list-item">&#x262f;&nbsp; The pointers lie at your hairline and the pinkies lay at the bridge of your nose, between your eyes</li>
            <li class="list-item">&#x262f;&nbsp; Stretch your forehead by sliding your fingers to the sides till you reach the temples</li>
            <li class="list-item">&#x262f;&nbsp; Continue pulling until your hands meet at the back of your head/li>
            <li class="list-item">&#x262f;&nbsp; Move your hands back to the top of your head and stretch across your scalp</li>
            <li class="list-item">&#x262f;&nbsp;Dig in as you go and release the tension from your scalp </li>
            <li class="list-item">&#x262f;&nbsp; Continue moving along your scalp to the top of your head stretching as you go</li>
            <li class="list-item">&#x262f;&nbsp;Go down your head and spread your fingers from the middle of the back of your head to your ears </li>
            <li class="list-item">&#x262f;&nbsp; When you get to your neck, stretch it deeply and land on your shoulders</li>
            <li class="list-item">&#x262f;&nbsp;Hold your hands on the tops of your shoulders, dig in and release the tension </li>
            <li class="list-item">&#x262f;&nbsp;Hold the back of your head so the heel of your right hand touches the base of your skull </li>
            <li class="list-item">&#x262f;&nbsp;Hold the top of your head so the heel of your left hand touches your forehead </li>
            <li class="list-item">&#x262f;&nbsp;Hold this pose for about 3 minutes or until you feel pulsing</li>
            <li class="list-item">&#x262f;&nbsp;Retest yourself </li>
        </ul>

        <img src="assets/images/support/practitioner/burnout/tripleAxis.jpg" class="images" title="Hold NV Points">

        <div class="dark-heading">
            <h3>Energy Medicine Help for Your Adrenals</h3>
        </div>

        <div class="dark-copy">
            <b>Front and Back Adrenals - Technique 1</b>
        </div>

        <ul class="dark-list">
            <li class="list-item">&#x262f;&nbsp;Locate your front left Adrenal point with matching left back point</li>
            <li class="list-item">&#x262f;&nbsp;Using a rocking motion, press in on the front, then in on the back</li>
            <li class="list-item">&#x262f;&nbsp;Do this for about 15 seconds</li>
            <li class="list-item">&#x262f;&nbsp;Hold your front right Adrenal point with matching right back point</li>
            <li class="list-item">&#x262f;&nbsp;Repeat the rocking on this side for 15 seconds</li>
        </ul>

        <img src="assets/images/support/practitioner/burnout/adrenalPoints.jpg" class="images" title="Rub the Adrenal Points">

        <ul class="dark-list">
            <b>Front and Back Adrenals - Technique 2</b>
            <li class="list-item">&#x262f;&nbsp;Find your front 2 Adrenal points</li>
            <li class="list-item">&#x262f;&nbsp;Rub these points for about 15 seconds</li>
            <li class="list-item">&#x262f;&nbsp;Locate your back 2 Adrenal points</li>
            <li class="list-item">&#x262f;&nbsp;Rub your back 2 Adrenal points for about 15 seconds</li>
        </ul>

        <div class="dark-heading">
            <h3>Help your Cortisol Levels</h3>
        </div>

        <div class="dark-copy">
            Also secreted by the Adrenals, Cortisol can help your body when under stress by providing energy bursts,
            heightened perception, increased immunity and lower pain sensitivity.
            Too much Cortisol can cause muscle weakness, excessive fat at midriff or high blood pressure.
            Too little can cause low blood pressure and fatigue. Both too much or too little can cause emotional issues.
        </div>

        <div class="dark-heading">
            <h3>Rocking the Points - Technique 1</h3>
        </div>

        <ul class="dark-list">
            <li class="list-item">&#x262f;&nbsp;Locate your Cortisol points (one inch down and to the side below navel)</li>
            <li class="list-item">&#x262f;&nbsp;Place your thumb and middle finger on both of the Cortisol points</li>
            <li class="list-item">&#x262f;&nbsp;Place your other thumb and middle finger on the crown of your head</li>
            <li class="list-item">&#x262f;&nbsp;Create rocking motion, press one then the other for 30 secs. to 2 minutes</li>
        </ul>

        <img src="assets/images/support/practitioner/burnout/cortisolPoints.jpg" class="images" title="Rock your Cortisol Points">

        <div class="dark-heading">
            <h3>Technique 2 - Metabolic Tummy Breath</h3>
        </div>

       <ul class="dark-list">
            <li class="list-item">&#x262f;&nbsp;Breathe in sucking in your tummy till you can't breathe in anymore</li>
            <li class="list-item">&#x262f;&nbsp;Take in three more quick breaths</li>
            <li class="list-item">&#x262f;&nbsp;Exhale and push out all your breath</li>
            <li class="list-item">&#x262f;&nbsp;Exhale again and force out three more quick breaths</li>
        </ul>

        <div class="dark-heading">
            <h3>Help your Thyroid</h3>
        </div>

        <div class="dark-copy">
            The Thyroid is located in the neck below as shown. A healthy Triple Warmer and Spleen
            are essential for the Thyroid to work well as the Thyroid is regulated by the Hypothalamus (which rules Triple
            Warmer Meridian)
            and the Pituitary Gland which rules Spleen Meridian.
            <br><br>
            When Triple Warmer is over-stressed and has stolen energy from Spleen meridian, the Thyroid becomes imbalanced.
            This can lead to Hypothyroidism - causing fatigue, dry hair and skin, depression, weight gain and high
            cholesterol or Hyperthyroidism - leading to insomnia, high blood pressure, irritability, weight loss and heart
            palpitations.
        </div>

        <img src="assets/images/support/practitioner/burnout/thyroidGland.jpg" class="images" title="Thyroid Gland"/>

        <div class="dark-heading">
            <h3>Technique 1 - Stretching the Throat Chakras</h3>
        </div>

        <div class="dark-copy">
            The Throat Chakra not only serves as a channel to clear and bring in energy. It is also the chakra energy
            factory, pumping energy up and down to the various other chakras as needed.
        </div>

        <img src="assets/images/support/practitioner/burnout/throatChambers.jpg" class="images" title="Stretch the Throat Chakra">

        <ul class="dark-list">
            <li class="list-item">&#x262f;&nbsp;Cross your arms and place your hands at your throat with thumbs under your outer jaw</li>
            <li class="list-item">&#x262f;&nbsp;With your middle fingers, gently press and move down the length of your throat to your clavicle</li>
            <li class="list-item">&#x262f;&nbsp;Go back to the top of your neck and move inwards, gently pressing down the length of your throat</li>
            <li class="list-item">&#x262f;&nbsp;Finish at the very center of your throat, tracing down to your 'Adams Apple'</li>
        </ul>

        <div class="dark-heading">
            <h3>Technique 2 - Massage your Earth Element Meridians</h3>
        </div>

        <div class="dark-copy">
            The 2 meridians that belong to the Earth Element are Spleen and Stomach. Those of us who have a lot
            of Earth element in us, know that we can be over-caring, over-helpful and ... eventually over-resentful
            if not balanced. This protocol is easy and fast to learn.
        </div>

        <img src="assets/images/support/practitioner/burnout/spleenStomachNLS.jpg" class="images" title="Earth Element Neurolymphatics"/>

        <div class="dark-copy">
            Simply rub your Stomach Neurolymphatic
            points that are located directly under your breasts on your left. (Liver is on the right and could
            certainly enjoy a rub as well!) Spleen NeuroLymphatics are found just under these points on both sides. Give
            those a good rub as well. And unlike most Energy Medicine treatments that are painless, this can hurt.
            If it hurts .. you need it!
        </div>

        <div class="dark-heading">
            <h3>Technique 3 - Hold Neurovasculars for your Thyroid</h3>
        </div>

        <div class="dark-copy">
            With your right hand - thumb, pointer and ring finger together, hold your Triple Warmer Neurovasculars
            found at the very base of your throat, at the very center and above your collarbone. With your left hand,
            stretch your fingers so they lay on your temples. This is accessing your Triple Warmer end points and is very
            calming Breathe deeply, relax and and wait for pulsing to occur. You can
            also hold your throat points while holding your Main Neurovascular points as shown above your eyebrows,
            about 2 finger widths. Again, breath and wait for pulsing.
            <br><br>
            For more help with Spleen see <a routerLink="/helpAnxiety" target="new">help with anxiety.</a>
        </div>

        <img src="assets/images/support/practitioner/burnout/tripleWarmerNVs.jpg" class="images" title="Triple Warmer Neurovasculars">
    </div>
</div>

