<div class="print-planning-consult-component">

        <div class="print-heading">
            TRANSITIONS IN ENERGY <BR>
            ADVANCED CARE PLAN CONSULTATION INTAKE
        </div>
        <!--
        *************************** DEMOGRAPHIC INFO **********************************
        -->
        <div class="print-title">
            Your Contact Information
        </div>

        <table class="print-client-info">
            <tr>
                <td class="print-first-cell">
                    Name:
                </td>
                <td class="print-second-cell">
                    {{client.name}}
                </td>
            </tr>

            <tr>
                <td class="print-first-cell">
                    Phone:
                </td>
                <td class="print-second-cell">
                    {{client.cellPhone | mask: '(000) 000-0000'}}
                </td>
            </tr>

            <tr>
                <td class="print-first-cell">
                    Email:
                </td>
                <td class="print-second-cell">
                    {{client.email}}
                </td>
            </tr>

            <tr>
                <td class="print-first-cell">
                    Address:
                </td>
                <td class="print-second-cell">
                    {{client.address}}
                </td>
            </tr>

            <tr>
                <td class="print-first-cell">
                    Province:
                </td>
                <td class="print-second-cell">
                    {{client.provState}}
                </td>
            </tr>

            <tr>
                <td class="print-first-cell">
                    Country:
                </td>
                <td class="print-second-cell">
                    {{client.country}}
                </td>
            </tr>

            <tr>
                <td class="print-first-cell">
                    Postal:
                </td>
                <td class="print-second-cell">
                    {{client.pc | mask: "U0U-0U0"}}
                </td>
            </tr>
        </table>

        <div class="print-title">
            Emergency Contact Information
        </div>

        <table class="print-client-info">
            <tr>
                <td class="print-first-cell">
                    Name:
                </td>
                <td class="print-second-cell">
                    {{client.emergName}}
                </td>
            </tr>

            <tr>
                <td class="print-first-cell">
                    Relationship:
                </td>
                <td class="print-second-cell">
                    {{client.emergRelation}}
                </td>
            </tr>

            <tr>
                <td class="print-first-cell">
                    Phone:
                </td>
                <td class="print-second-cell">
                    {{client.emergPhone | mask: '(000) 000-0000'}}
                </td>
            </tr>
        </table>

        <div class="print-title">
            Optional Details
        </div>

        <table class="print-client-info">
            <tr>
                <td class="print-first-cell">
                    Birthdate:
                </td>
                <td class="print-second-cell">
                    {{client.birthdate | mask: '00-00-0000'}}
                </td>
            </tr>

            <tr>
                <td class="print-first-cell">
                    Occupation:
                </td>
                <td class="print-second-cell">
                    {{client.occupation}}
                </td>
            </tr>

            <tr>
                <td class="print-first-cell">
                    Referred By:
                </td>
                <td class="print-second-cell">
                    {{client.referredBy}}
                </td>
            </tr>
        </table>

        <!--
           ******************************** FRAILTY SCALE **********************************
        -->
        <div class="print-title">
            Your Current Level of Frailty
        </div>

        <div class="print-sub-title">
            Please select the one statement that applies to you on the Clinical Frailty Scale
        </div>

        <div class="print-response">
            <div *ngIf="client.eolFrailty == 'frailtyChart-1'">
                I am under 65 and in good health and fitness.
            </div>
            <div *ngIf="client.eolFrailty == 'frailtyChart-2'">
                I have one or more chronic conditions.
            </div>
            <div *ngIf="client.eolFrailty == 'frailtyChart-3'">
                I have a life-threatening illness and my life-expectancy is less than one to two years.
            </div>
            <div *ngIf="client.eolFrailty == 'frailtyChart-4'">
                I am over 65 and relatively healthy.
            </div>
            <div *ngIf="client.eolFrailty == 'frailtyChart-5'">
                I am over 65 and having trouble managing your day-to-day affairs and the activities of daily living.
            </div>
            <div *ngIf="client.eolFrailty == 'frailtyChart-6'">
                I am over 75.
            </div>
        </div>

        <!--
          ******************************** END OF LIFE PLANNING **********************************
        -->

        <div class="print-title">
            Your Concerns and Goals
        </div>

        <div class="print-sub-title">
            What would be your main areas of focus for seeking a consultation?
        </div>

        <div class="print-response">
            <div *ngIf="client.eolPlanFocus1">
                I want to name a Representative for my future care.
            </div>
            <div *ngIf="client.eolPlanFocus2">
                I want to make an in-depth Advanced Care Plan.
            </div>
            <div *ngIf="client.eolPlanFocus3">
                I want to arrange my end of life ceremony and/or funeral.
            </div>
            <div *ngIf="client.eolPlanFocus4">
                I want to know about the logistics of staying home to die.
            </div>
            <div *ngIf="client.eolPlanFocus5">
                I want to ensure my financial and estate plans are in order.
            </div>
            <div *ngIf="client.eolPlanFocus6">
                I want help with creating a legacy project.
            </div>
            <div *ngIf="client.eolPlanFocus7">
                I need to discuss these issues with an impartial advocate.
            </div>
            <div *ngIf="client.eolPlanFocus8">
                I want to know more about care plan safe-keeping and sharing.
            </div>
            <div *ngIf="!client.eolPlanFocus1 && !client.eolPlanFocus2 && !client.eolPlanFocus3 && !client.eolPlanFocus4
                && !client.eolPlanFocus5 && !client.eolPlanFocus6 && !client.eolPlanFocus7 && !client.eolPlanFocus8">
                &nbsp;
            </div>
        </div>

        <div class="page-break"></div>

        <div class="print-sub-title">
            Can you expand on what you are looking for related to the above answer?
        </div>

        <div class="print-response">
            <div *ngIf="client.eolPlanDetails.length > 0">
                {{client.eolPlanDetails}}
            </div>
            <div *ngIf="client.eolPlanDetails.length == 0">
                &nbsp;
            </div>
        </div>

        <!--
         ******************************** MEDICAL HISTORY  **********************************
       -->

        <div class="print-title">
            (Optional) Your Medical History
        </div>

        <div class="print-sub-title">
            Please list medications and supplements that your are currently taking.
        </div>

        <div class="print-response">
            <div *ngIf="client.medsSupplements.length > 0">
                {{client.medsSupplements}}
            </div>
            <div *ngIf="client.medsSupplements.length == 0">
                &nbsp;
            </div>
        </div>

        <div class="print-sub-title">
            Please select any health conditions you have been diagnosed with:
        </div>

        <div class="print-response">
            <div *ngIf="client.heartDisease">
                Heart Disease
            </div>
            <div *ngIf="client.cancer">
                Cancer
            </div>
            <div *ngIf="client.stroke">
                Stroke
            </div>
            <div *ngIf="client.highBloodPressure">
                High Blood Pressure
            </div>
            <div *ngIf="client.diabetes">
                Diabetes
            </div>
            <div *ngIf="client.mentalIllness">
                Emotional Illness
            </div>
            <div *ngIf="client.seizures">
                Seizures
            </div>
            <div *ngIf="client.autoImmuneDisease">
                Auto-immune Disease
            </div>
            <div *ngIf="client.otherDisease">
                Other Illness
            </div>
            <div *ngIf="!client.heartDisease && !client.cancer && !client.stroke && !client.highBloodPressure && !client.diabetes
             && !client.mentalIllness && !client.seizures && !client.autoImmuneDisease && !client.otherDisease">
                &nbsp;
            </div>
        </div>

        <div class="print-sub-title">
            Please further describe your situation, condition and or illness, if applicable:
        </div>

        <div class="print-response">
            <div *ngIf="client.illnessDetails.length > 0">
                {{client.illnessDetails}}
            </div>
            <div *ngIf="client.illnessDetails.length == 0">
                &nbsp;
            </div>
        </div>
    </div>

    <!-- DISCLAIMER-->
    <div class="print-notice">
        Please Read:
    </div>

    <table class="print-disclaimer-table">
        <tr>
            <td class="print-disclaimer-copy">
                I understand that the End of Life Doula Consultations I receive are provided for the basic purpose of preparing myself
                and my family for my eventual end of life care and legacy. I know that an End of Life Doula can help with financial and
                health related questions and concerns allowing me to better plan, prepare and document all of my wishes and hopes for a
                good ending.
                <br><br>
                But I further understand that End of Life Doulas are not a substitute for medical palliative care, hospice care or
                emergency care but are rather meant to fill the gaps that standard medical care can not fill. I also understand that
                doulas can never initiate conversations related to MAID, but if asked can clarify the latest rules as best as possible.
                For further information about the new MAID laws contact Death With Dignity.
                <br><br>
                I also know that End of Life Doulas can do much to aid in the comfort and care of a dying person but they can not
                prescribe or give out medications of any kind.
                <br><br>
                I understand that I must have proof of up-to-date Covid vaccinations in order to meet with you in person. If I have not
                been vaccinated I can still see you via a remote call, for example a Zoom or phone meeting.
                <br><br>
                I agree to provide 24 hours notice if I want to cancel an appointment. As well, I agree to bring proof of my Covid
                vaccination in the form of the vaccine passport. By signing below I agree and accept the above conditions.
            </td>
        </tr>
    </table>

    <div class="print-signature">
        <div class="print-date-prompt">Date:(yyyy/mm/dd):</div>
        <div class="print-date-value">{{client.defaultDate}}</div>

        <div class="print-sig-prompt">Signature:</div>
        <div class="print-sig-value print-solid-underline">&nbsp;</div>
    </div>


