<div class = "topic-grid topic-about-eol-advocacy topic-size">
    <h1>{{title}}</h1>
</div>

<div class="screen-title pad-top-2">
    <h2>End-of-life doulas think about the stuff we don't want to think about</h2>
</div>

<div class="content-dark-copy">
    <p>
        We have made our own decisions throughout our life, what careers to follow, whether to have children, where to live etc. It makes
        complete sense that we should also be able to make detailed decisions about our death. The problem is that the subject can be
        upsetting for your or your family. Even if you want to discuss this, often times your family doesn’t want to go there with you.
        <br><br>
        However, without any kind of acknowledgement that we will all die some day and that it is wise to prepare for it ahead of time,
        we may fall victim to being ‘cared for’ that goes against of everything we believe in. Taking the time to write an Advanced Care
        Directive can save you and your family from the stress of having to make decisions that they might not even be aware that you are
        for or against.
        <br><br>
        Think about the things in your life that you most value. Which of these things are so important to you that living without them
        would make you feel like life was no longer worth living? What could you learn to accept? These questions and considerations take
        time to think through and it can be overwhelming. This is one of the tasks that an End-of-life Doula can help you with. We can
        walk and talk you through all the gnarly bits and like getting your taxes mailed off, it will hurt a bit while doing it but you
        will feel a sense of relief that you have provided a directive for your family to follow should they need to.
    </p>
</div>

<div class="screen-quote">
    <p>
        &#8220;On the top of each peak, you are on the edge of the abyss.&#8221;
    </p>
    <span>
        Stanislaw Jerzy Lec
    </span>
</div>

<div class="content-images">
    <img src="../../../../assets/images/details/about/eolAdvocacy/facingTheFuture.jpg" title="End of Life Planning Considerations"
         alt="End of Life Planning Considerations">
</div>

<div class = "screen-title pad-top-2">
    <h2>Questions to consider</h2>
</div>

<ul class = "content-dark-list infinity pad-bottom">
    <li class="list-item">Could I adequately advocate for myself if met with a terminal illness?</li>
    <li class="list-item">If I was incapacitated, could a family member advocate for me adequately?</li>
    <li class="list-item">What would I want if an illness affected my memory or ability to think for myself?</li>
    <li class="list-item">What life support or prolonging medical interventions do I agree or disagree with?</li>
    <li class="list-item">Do I have a good relationship with my doctor or do I even have one?</li>
    <li class="list-item">Should I accept or refuse CPR after a certain age?</li>
    <li class="list-item">Will medical interventions affect my everyday enjoyment of life?</li>
    <li class="list-item">Will interventions or treatments affect my mobility or my mental state?</li>
    <li class="list-item">Could I select a trial period of life prolonging medical interventions?</li>
    <li class="list-item">If there is no chance of remission, can I seek a natural death?</li>
    <li class="list-item">Do I have a right to accept or refuse life prolonging procedures?</li>
</ul>

<div class="screen-quote">
    <p>
        &#8220;Time rushes towards us with it's hospital tray of infinitely varied narcotics, even while it's preparing us for the
        inevitability fatal operation.&#8221;
    </p>
    <span>
        Tennessee Williams
    </span>
</div>

<div class="content-images">
    <img src="../../../../assets/images/details/about/eolAdvocacy/emptyBench.jpg" title="End of life doulas advocate"  alt="End of life doulas advocate">
</div>

<div class = "screen-title pad-top-2">
    <h2>Staying in control</h2>
</div>

<div class = "content-dark-copy">
    <p>
        If you are the kind of person who would like anything and everything done in order to stay alive, you also need to put that in
        writing. You may want to know every detail about every thing they put in your body, you too need to put that in writing. Life
        never goes according to schedule and in emergencies and in life, mistakes happen, papers get mislaid and the requests you have
        written down may not be able to be followed.
        <br><br>
        Still the Advanced Directive can help you to really think about a future scenario. Do you want to know nothing, everything or
        somewhere in between? Would you want to be told if your doctors know that you will soon be facing death or would you rather hang
        on to not knowing? Would you accept any and all medications even if they make you too drowsy to communicate with your family. Or
        would you rather suffer some pain in order to still maintain some awareness and cognition. Would you be willing to try different
        types of alternative medical interventions? Or would you absolutely not want anything outside the medically approved box? And
        would you like to die in a hospital, a hospice, a care home or in your own home?
        <br><br>
        Are you the type of person who wants family all around you or do you find being alone or perhaps with just one other family
        member to be sufficient? If the latter is the case, should you consider writing down who you absolutely do NOT want at your
        bedside? Do you want to keep your diagnosis a secret or something only you and your spouse know about or would you want everyone
        to know so that they could offer their support? Perhaps you would want to name one family member to be your number 1 go-to person
        so that family bickering is kept to a minimum?
        <br><br>
        Perhaps you have never followed a religion but would still like religion to figure prominently in your death and funeral. Or on
        the opposite side, you may vehemently be opposed to having any kind of religious ceremony or funeral performed. Think about the
        setting - as mentioned above, but within whatever setting you end up in, do you want music, do you want grand-children in the
        room, do you want to be able to see the outdoors, are their smells that are offensive to you, what flowers do you loathe, are
        their any hospital staff who are upsetting you, what kind of physical touch do you like? Would you feel safe enough to talk about
        the visions you might be seeing - in other words you have a right to determine so many of these things that bring you comfort but
        you would be wise to write ... them ... down.
    </p>
</div>

<div class="screen-quote">
    <p>
        &#8220;If you don't stick to your values when they are being tested, they are not values, they're hobbies.&#8221;
    </p>
    <span>
        Job Stewart
    </span>
</div>

<div class="content-images">
    <img src="../../../../assets/images/details/about/eolAdvocacy/beliefInDiety.jpg" title="What do you value?" alt="What do you value?">
</div>


<div class="screen-title pad-top-2">
    <h2>What do I most value about life?:</h2>
</div>

<ul class="content-dark-list infinity">
    <li class="list-item">Being able to carry out my day to day activities with minimal or no support.</li>
    <li class="list-item">Being pain free or at least feel as little discomfort as possible.</li>
    <li class="list-item">Having confidence that I still command respect from others.</li>
    <li class="list-item">Maintaining my self respect through my dress and appearance.</li>
    <li class="list-item">Trusting that the medical establishment listens to me.</li>
    <li class="list-item">Feeling valued and needed by my family and friends.</li>
    <li class="list-item">Being able to take care of my physical needs on my own.</li>
    <li class="list-item">Being strong enough mentally and physically to take on most challenges.</li>
    <li class="list-item">Enjoying my independence and privacy.</li>
    <li class="list-item">Knowing that I have the love and support of my family and friends.</li>
    <li class="list-item">Being a valued husband/wife, son/daughter, sister/brother etc.</li>
    <li class="list-item">Feeling that I have good relationships with people, with little conflict to resolve.</li>
    <li class="list-item">Believing that my life has purpose.</li>
    <li class="list-item">Enjoying my life and looking forward to the future.</li>
    <li class="list-item">Having a belief in God or a higher power that gives me strength.</li>
    <li class="list-item">Knowing that I have a strong intellect and am of sound mind.</li>
    <li class="list-item">Actively pursuing my hobbies and interests.</li>
    <li class="list-item">Being physically fit and able to do my outdoor activities.</li>
    <li class="list-item">Feeling mentally well and able to handle life's up and downs positively.</li>
    <li class="list-item">Acting as mediator when family conflicts arise, being counted on to resolve issues.</li>
    <li class="list-item">Being in complete control over my life and future, as much as possible.</li>
    <li class="list-item">Having total control over my finances.</li>
    <li class="list-item">Spending as much time with my family and friends as I want.</li>
    <li class="list-item">Feeling secure in my home, surrounding by my familiar things.</li>
</ul>

<div class="screen-quote">
    <p>
        &#8220;Thousands of candles can be lighted from a single candle, and the life of the candle will not be shortened.&#8221;
    </p>
    <span>
        Buddah
    </span>
</div>

<div class="content-images">
    <img src="../../../../assets/images/details/about/eolAdvocacy/advocatesPic.jpg" title="know your beliefs" alt="know your beliefs">
</div>


<div class="screen-title pad-top-2">
    <h2>What would make my life not worth living?:</h2>
</div>

<ul class="content-dark-list infinity">
    <li class="list-item">No longer being able to carry out my day to day activities without support from others.</li>
    <li class="list-item">Experiencing pain and discomfort pretty much all the time, with drugs no longer helping.</li>
    <li class="list-item">Feeling that I no longer command respect from others.</li>
    <li class="list-item">Feeling unattractive in my own body.</li>
    <li class="list-item">Having the medical establishment stop listening to me.</li>
    <li class="list-item">Feeling no longer valued or needed by my family and friends.</li>
    <li class="list-item">Being unable take care of my physical needs on my own.</li>
    <li class="list-item">Becoming too weak to mentally and physically to take on most challenges.</li>
    <li class="list-item">Losing my independence and my privacy.</li>
    <li class="list-item">Losing the love and support of my family and friends.</li>
    <li class="list-item">Feeling less valued as husband/wife, son/daughter, sister/brother etc.</li>
    <li class="list-item">Believing that I have too many family conflicts to ever resolve.</li>
    <li class="list-item">Believing that my life no longer has a purpose.</li>
    <li class="list-item">Knowing that my life no longer has a 'future' to it.</li>
    <li class="list-item">Worrying that I didn't fulfill my life's purpose.</li>
    <li class="list-item">Losing my faith that there is any God.</li>
    <li class="list-item">Losing my intellectual capabilities, becoming forgetful and confused.</li>
    <li class="list-item">Being unable to enjoy my hobbies and interests.</li>
    <li class="list-item">Being unable to run, hike, walk or enjoy my outdoor activities.</li>
    <li class="list-item">Becoming deeply depressed and anxious all of the time.</li>
    <li class="list-item">Losing interest in family matters and/or conflicts.</li>
    <li class="list-item">Losing most or all of my control over my life.</li>
    <li class="list-item">Being unable to direct my own financial decisions.</li>
    <li class="list-item">Losing interest in the activities in outside world.</li>
    <li class="list-item">Having to leave my home to go to a hospital, hospice or retirement home.</li>
</ul>

<div class="screen-quote">
    <p>
        &#8220;Bravery is the audacity to be unhindered by failures, and to walk with freedom, strength and hope in the face of
        things unknown.&#8221;
    </p>
    <span>
        Morgan Harper Nichols
    </span>
</div>

<div class="content-images">
    <img src="../../../../assets/images/details/about/eolAdvocacy/beingPrepared.jpg" title="facing the future" alt="facing the future">
</div>

<div class="screen-title pad-top-2">
    <h2>What can an end-of-life doula do for me?</h2>
</div>

<ul class="content-dark-list">
    <li class="list-item square">Help fill out all relevant documentation regarding my end of life care.</li>
    <li class="list-item square">Help document my wishes related to whether or not I want life prolonging medical treatments.</li>
    <li class="list-item square">Make sure all my documents have been signed and saved in a known location.</li>
    <li class="list-item square">Help with my day to day activities that I can no longer manage by myself.</li>
    <li class="list-item square">Listen to me respectfully even when I am venting and raging about my fate.</li>
    <li class="list-item square">Advocate for my pain control and other comfort measures to the health care team.</li>
    <li class="list-item square">Ensure that the I am treated with respect by the medical community.</li>
    <li class="list-item square">Assist in my bathing and dressing while allowing me the freedom to choose as much as possible.</li>
    <li class="list-item square">Speak with my family about my needs when I may not be able to ask for myself.</li>
    <li class="list-item square">Act as a go between with whom I want at my bedside to minimize hurt feelings.</li>
    <li class="list-item square">Do whatever is needed to help me out, from washing the dishes to walking the dog.</li>
    <li class="list-item square">Explain the benefits and dangers of receiving CPR.</li>
    <li class="list-item square">Encourage open and respectful communications between my family and friends.</li>
    <li class="list-item square">Help me plan and create any legacy project I want to leave behind.</li>
    <li class="list-item square">Help ease conflicts between myself and family members.</li>
    <li class="list-item square">Put the documentation in order to allow for my death at home.</li>
    <li class="list-item square">Encourage family to able to discuss my impending death openly without censorship.</li>
    <li class="list-item square">Remain supportive and neutral no matter my religious beliefs may be.</li>
    <li class="list-item square">Help everyone cope with my difficult emotions such as anger, anxiety and/or depression.</li>
    <li class="list-item square">Encourage me to continue to pursue their hobbies and interests, to laugh and enjoy life.</li>
    <li class="list-item square">Accommodate my needs, such as wanting to be outdoors as much as possible.</li>
    <li class="list-item square">Provide me with information about MaID if I ask for it.</li>
    <li class="list-item square">Act as mediator when family conflicts arise as much as possible.</li>
    <li class="list-item square">Respect the level of information I want to convey about my illness to family and friends.</li>
    <li class="list-item square">Protect me from anyone who might try to take advantage of my weakened status.</li>
    <li class="list-item square">Schedule visits with family and friends as I request, including time limits.</li>
    <li class="list-item square">Help me surround myself with things that I love, my photos, pictures, plants etc.</li>
    <li class="list-item square">Know and support the kind of physical touch I like, hugs, hand holding or massage.</li>
    <li class="list-item square">Understand that I would rather be pain free and unconscious or conscious with pain.</li>
    <li class="list-item square">Educate my family about the dying process so they are less afraid.</li>
    <li class="list-item square">Encourage my family to allow my grandchildren to be there when I die, if that is my choice.</li>
    <li class="list-item square">Know my favorite music, flowers, scents and knows the ones I do not want near me.</li>
    <li class="list-item square">Share information with me about funerals, types of burials, cremation etc.</li>
    <li class="list-item square">Help me write in a journal, write letters, cards, even my own obituary.</li>
    <li class="list-item square">Allow me to freely talk about my fears, my anger, my despair without judgement.</li>
    <li class="list-item square">Encourage family to allow for the inclusion of my same sex partner, even if they object.</li>
    <li class="list-item square">Encourage my family to allow me to wear what I want even if it is conflicts with my gender.</li>
    <li class="list-item square">Help to set up my home so that I can complete my life there if I choose to.</li>
    <li class="list-item square">Encourage my family to pay attention to my cues for silence and join me in silence.</li>
    <li class="list-item square">To be a gentle witness as I take my final journey.</li>
</ul>

<div class="screen-quote">
    <p>
        &#8220;The great end of life is not knowledge, but action.&#8221;
    </p>
    <span>
        Aldous Huxley
    </span>
</div>

<div class="content-images">
    <img src="../../../../assets/images/details/about/eolAdvocacy/endOfLifeHelp.jpg" title="help for end of life"  alt="help for end of life">
</div>


<div class="screen-title pad-top-2">
    <h2>The Death Positive Movement Principles </h2>
</div>

<ul class="content-dark-list">
    <li class="list-item infinity">
        I believe that by hiding death and dying behind closed doors we do more harm than good to our society.
    </li>

    <li class="list-item infinity">
        I believe that the culture of silence around death should be broken through discussion, gatherings, art, innovation, and
        scholarship.
    </li>

    <li class="list-item infinity">
        I believe that talking about and engaging with my inevitable death is not morbid, but displays a natural curiosity about the
        human condition.
    </li>

    <li class="list-item infinity">
        I believe that the dead body is not dangerous, and that everyone should be empowered (should they wish to be) to be involved in
        care for their own dead.
    </li>

    <li class="list-item infinity">
        I believe that the laws that govern death, dying and end-of-life care should ensure that a person’s wishes are honored,
        regardless of sexual, gender, racial or religious identity.
    </li>

    <li class="list-item infinity">
        I believe that my death should be handled in a way that does not do great harm to the environment.
    </li>

    <li class="list-item infinity">
        I believe that my family and friends should know my end-of-life wishes, and that I should have the necessary paperwork to back-up
        those wishes.
    </li>

    <li class="list-item infinity">
        I believe that my open, honest advocacy around death can make a difference, and can change culture.</li>
</ul>

<div class="content-dark-copy pad-left-6 pad-top-2">
    <span>
        From the Order of the Good Death website
    </span>
</div>