<div class="topic-grid topic-about-eol-advocacy topic-size">
    <h1>{{title}}</h1>
</div>

<div class="screen-title">
    <h2>You Don't Have to Do it Alone</h2>
</div>

<div class="content-dark-copy">
    <p>
        You may have never heard of an End of Life Doula or End of Life Advocate but in today's society and rapidly aging world, we are
        needed more than ever. With strains on hospitals, hospices, palliative care centers and working families, end of life care doulas
        fill in where the cracks exist. We provide many services, from helping you create your own advanced health care plan, to sitting
        at bedside with your loved one, to arranging ceremonies, funerals, legacy projects and providing support for not just your loved
        one, but for the family and their caregivers as well.
        <br><br>
        The truth we can't run away from is that some day we all leave this earth. What you choose to leave behind could be either a huge
        mess for family to sort or a well planned legacy that your family will benefit from and appreciate. Planning ahead isn't just
        important for their sake but for your own as well. Because if you end up at the hospital some day without any kind of thought to
        this, your future could end having it decided by a stranger who probably really wishes he or she didn't have to make the hard
        decisions for you.
    </p>
</div>

<div class="screen-quote">
    <p>
        &#8220;We find that people open up to death doulas in ways they simply can’t with family and friends (so much emotion/baggage),
        social workers, clinical staff or chaplains. Doulas are trained to come from an absolutely objective, nonjudgmental place; they
        go where they need to go emotionally.&#8221;
    </p>
    <span>Henry Fersko-Weiss author of 'Dying Well'</span>
</div>

<div class="content-images">
    <img src="assets/images/details/consultations/roleOfConsultant/doulaCarePic.jpg" alt="Doula Care" title="Doula Care">
</div>

<div class="screen-title">
    <h2>Doulas Support You:</h2>
</div>

<div class="content-dark-copy">
    <p>
        We are trained to act as witnesses on your very last journey. Like birth, death is a monumental endeavor that we all must face. So
        why do we fear it? Of course, we fear pain. Pain can be controlled fairly well in most first world countries. What we think of as
        pain, is often the laboured breathing that happens as people are unable to expel mucous from their trachea. It sounds like it
        hurts but it does not. There are medications to help with nausea and swelling. There are machines that can help with shortness of
        breath. In fact, many people die quite peacefully, without pain or discomfort.
        <br><br>
        There is often a lot of family conflict. There are a variety of roles that people naturally fall into depending on their
        personality and all have their place and should be respected. But a good Doula will try to balance out the dynamics so that the
        focus is back on you, not them. You may not resolve everything with family, but you do have the right to complete your life
        surrounded by supportive and compassionate family members.
        <br><br>
        We do not give advice, unless asked. We are not allowed to touch you after death but we are allowed to set up the ceremony you
        have requested. You may wish to be dressed by your family, to wear your favorite hat or scarf. We can arrange that. We know that
        your family will be up to their eyeballs in doing all the details needed to be done and we are there to assist in any way.
        <br><br>
        We will not give you medication or perform any kind of medical intervention on you. Even those doulas who are trained as doctors
        can not treat the patient unless they are also their doctor. I as a trained
        <a href="https://www.mindworksEnergyMedicine.com" target="new"><b> Energy Medicine Practitioner</b></a> can and will be happy
        to do pain and stress reducing treatments on you - if requested by you or the family.
        <br><br>
        We will let you and your family know that your sleeping more than usual is part of the dying process. There will be times when
        they think you are sleeping but you have actually moved into an unconsciousness state. They may worry that you aren't eating or
        drinking enough but losing interest in food is totally normal. Knowing that you are going through normal stages of dying can make
        you and your family more reassured that they are not failing you.
        <br><br>
        We maintain our composure as much as possible but will also be empathetic, sympathetic and loving, knowing that we have the
        profound honour of bearing witness to this event. Reading your and your family's body language and using all our senses to pick up
        the atmosphere in the room, we will quietly leave or address the situation as needed. We acknowledge that the grief is yours and
        yours alone. We will not leave unless asked, we will not abandon you or your family and if requested, we will stay on after
        because, as we know, grieving does not end after the funeral.
    </p>
</div>

<div class="screen-quote">
    <p>
        &#8220;The closing years of life are like the end of a masquerade party, when the masks are dropped.&#8221;
    </p>
    <span>Cesare Pavese</span>
</div>

<div class="content-images">
    <img src="assets/images/details/consultations/roleOfConsultant/memorialPic.jpg" alt="Doula Care" title="Doula Care">
</div>

<div class="screen-title">
    <h2>Doulas listen to you</h2>
</div>

<div class="content-dark-copy">
    <p>
        You have made your own decisions throughout your life; what careers to follow, whether to have children, where to live, etc. Your
        need to be in charge of your own path, to achieve your goals and live a full life have always been at the forefront of your mind.
        But when it comes to thinking about your own mortality, you may have to admit to having no plan at all.  When the subject of
        dying comes up you may shut down, change the subject, pretend it will never happen or decide the subject is all too morbid.
        <br><br>
        The problem with this approach is that living a life with integrity must include all stages of life, not just the good bits.
        Acknowledging that your life is finite - and preparing for the inevitable, final curtain call, allows you to continue to maintain
        the dignity, pride and wisdom that you have been pursuing throughout your life.
        <br><br>
        You may already agree, and no matter your level of health or your age, you might want to get all of your wishes and plans on
        paper but your family is too upset even thinking about your death to want to discuss it. You put it off till later or till never.
        The problem here is that you may fall victim to being ‘cared for’ that goes against of everything your believe in. Taking the time
        to really think about what our wishes and hopes are as we near the end of our lives can save us and our family from the stress of
        having to make decisions that they might not even be aware that you are for or against.
    </p>
</div>

<div class="screen-quote">
    <p>
        &#8220;On the top of each peak, you are on the edge of the abyss.&#8221;
    </p>
    <span>
        Stanislaw Jerzy Lec
    </span>
</div>

<div class="content-images">
    <img src="../../../../assets/images/details/about/eolAdvocacy/beingPrepared.jpg" title="facing the future" alt="facing the future">
</div>

<div class="screen-title">
    <h2>Doulas encourage you</h2>
</div>

<div class="content-dark-copy">
    <p>
        You hear so many stories of families having to deal with incredible stress and anguish when trying to help their dying loved ones
        keep their integrity. They are doing their best but they were not given any kind of guidebook to help them through the process.
        What would he/she/they want if he/she/they had written down their wishes?
        <br><br>
        Or you may be a caregiver for someone who can not and will not face that they are dying and who will not cooperate with you in
        any way. This is an extremely unhappy place for a caregiver to be and it is widely acknowledged by most 1st world countries, that
        there is a desperate lack of support for caregivers, either financially or emotionally.
        <br><br>
        Thinking deeply about the things in your life that you most value, that are vitally important to you (such as your independence
        or sense of privacy or dignity) can be overwhelming. This is one of the tasks that an End-of-life Doula can help you with. We can
        walk and talk you through all the gnarly bits and like getting your taxes mailed off, it will hurt a bit while doing it but you
        will feel a sense of relief that you have provided a directive for your family to follow should they need to.
    </p>
</div>

<div class="screen-quote">
    <p>
        &#8220;Time rushes towards us with it's hospital tray of infinitely varied narcotics, even while it's preparing us for the
        inevitability fatal operation.&#8221;
    </p>
    <span>
        Tennessee Williams
    </span>
</div>

<div class="content-images">
    <img src="../../../../assets/images/details/about/eolAdvocacy/WaterFalls.jpg" title="End of Life Planning"
         alt="End of Life Planning">
</div>

<div class="screen-title">
    <h2>End-of-life Doulas:</h2>
</div>

<div class="content-dark-list">
    <li class="list-item square">Help fill out all relevant documentation regarding your end of life care.</li>
    <li class="list-item square">Help document whether or not you want life prolonging medical treatments.</li>
    <li class="list-item square">Make sure all your documents have been signed and saved in a known location.</li>
    <li class="list-item square">Help with your day to day activities that you can no longer manage by yourself.</li>
    <li class="list-item square">Listen to your respectfully and make space for whatever emotions you are feeling.</li>
    <li class="list-item square">Advocate for your pain control and other comfort measures to the health care team.</li>
    <li class="list-item square">Ensure that you are treated with respect by the medical community.</li>
    <li class="list-item square">Assist in your bathing and dressing while allowing you the freedom to choose as much as possible.</li>
    <li class="list-item square">Speak with your family about your needs when you may not be able to ask for yourself.</li>
    <li class="list-item square">Act as a go between with whom you want at your bedside to minimize hurt feelings.</li>
    <li class="list-item square">Do whatever is needed to help you out, from washing the dishes to walking the dog.</li>
    <li class="list-item square">Explain to you, the benefits and dangers of receiving CPR.</li>
    <li class="list-item square">Encourage open and respectful communications between your family and friends.</li>
    <li class="list-item square">Help you plan and create any legacy project you want to leave behind.</li>
    <li class="list-item square">Help ease conflicts between yourself and family members.</li>
    <li class="list-item square">Put the documentation in order to allow for your death at home.</li>
    <li class="list-item square">Encourage family to able to discuss your impending death openly without censorship.</li>
    <li class="list-item square">Remain supportive and neutral no matter your religious beliefs may be.</li>
    <li class="list-item square">Help everyone cope with your difficult emotions such as anger, anxiety and/or depression.</li>
    <li class="list-item square">Encourage you to continue to pursue their hobbies and interests, to laugh and enjoy life.</li>
    <li class="list-item square">Accommodate your needs, such as wanting to be outdoors as much as possible.</li>
    <li class="list-item square">Provide you with information about Maid if you ask for it.</li>
    <li class="list-item square">Act as mediator when family conflicts arise as much as possible.</li>
    <li class="list-item square">Respect the level of information you want to convey about your illness to family and friends.</li>
    <li class="list-item square">Protect you from anyone who might try to take advantage of your weakened status.</li>
    <li class="list-item square">Schedule visits with family and friends as you request, including time limits.</li>
    <li class="list-item square">Help you surround yourself with things that you love, your photos, pictures, flowers etc.</li>
    <li class="list-item square">Know and support the kind of physical touch you like, hugs, hand holding or massage.</li>
    <li class="list-item square">Document that you would rather be pain free and unconscious or conscious with pain.</li>
    <li class="list-item square">Educate your family about the dying process so they are less afraid.</li>
    <li class="list-item square">Encourage your family to allow your grandchildren to be present, if that is your choice.</li>
    <li class="list-item square">Know your favorite music, flowers, scents and know the ones you do not want near you.</li>
    <li class="list-item square">Share information with you about funerals, types of burials, cremation etc.</li>
    <li class="list-item square">Help you write in a journal, write letters, cards, even your own obituary.</li>
    <li class="list-item square">Allow you to freely talk about your fears, your anger, your despair without judgement.</li>
    <li class="list-item square">Encourage family to allow for the inclusion of your same sex partner, even if they object.</li>
    <li class="list-item square">Support your wish to be dressed in what you want, even if it is conflicts with your original gender.</li>
    <li class="list-item square">Help to set up your home so that you can complete your life there if you choose to.</li>
    <li class="list-item square">Encourage your family to pay attention to your cues for silence or other needs.</li>
    <li class="list-item square">To be a gentle witness as you take your final journey.</li>
</div>

<div class="screen-quote">
    <p>
        &#8220;The great end of life is not knowledge, but action.&#8221;
    </p>
    <span>
        Aldous Huxley
    </span>
</div>

<div class="content-images">
    <img src="../../../../assets/images/details/about/eolAdvocacy/endOfLifeHelp.jpg" title="help for end of life"  alt="help for end of life">
</div>


<div class="screen-title">
    <h2>The Death Positive Movement Principles </h2>
</div>

<div class="content-dark-list">
    <li class="list-item infinity">
        We believe that by hiding death and dying behind closed doors we do more harm than good to our society.
    </li>

    <li class="list-item infinity">
        We believe that the culture of silence around death should be broken through discussion, gatherings, art, innovation, and
        scholarship.
    </li>

    <li class="list-item infinity">
        We believe that talking about and engaging with your inevitable death is not morbid, but displays a natural curiosity about the
        human condition.
    </li>

    <li class="list-item infinity">
        We believe that the dead body is not dangerous, and that everyone should be empowered (should they wish to be) to be involved in
        care for their own dead.
    </li>

    <li class="list-item infinity">
        We believe that the laws that govern death, dying and end-of-life care should ensure that a person’s wishes are honored,
        regardless of sexual, gender, racial or religious identity.
    </li>

    <li class="list-item infinity">
        We believe that your death should be handled in a way that does not do great harm to the environment.
    </li>

    <li class="list-item infinity">
        We believe that your family and friends should know your end-of-life wishes, and that you should have the necessary paperwork to
        back-up those wishes.
    </li>

    <li class="list-item infinity">
        We believe that your open, honest advocacy around death can make a difference, and can change the culture.
    </li>
</div>

<div class="content-dark-copy text-center pad-top-2">
    <span>
        From the <a href="https://www.orderofthegooddeath.com/" target="new"> Order of the Good Death website"</a>
    </span>
</div>