<!-- DESKTOP -->
<div class="screen-forms-both">
    <div class="sub-form-block">
        <div class="sub-form-title">
            YOUR CURRENT SITUATION
        </div>

        <div class="sub-form-full-block">
            <p>Please select the one statement that applies to you:</p>
        </div>

        <div class="sub-form-full-block">
            <div class="sub-form-full-radio-col">
                <input type="radio" [(ngModel)]="client.eolFrailty" value="frailtyChart-1"  id="ageCondition1" name="frailty">
                <label for="ageCondition1">
                    I am under 65 and in good health and fitness.
                </label>
            </div>

            <div class="sub-form-full-radio-col">
                <input type="radio" [(ngModel)]="client.eolFrailty" value="frailtyChart-2" id="ageCondition2" name="frailty">
                <label for="ageCondition2">
                    I have one or more chronic conditions.
                </label>
            </div>

            <div class="sub-form-full-radio-col">
                <input type="radio" [(ngModel)]="client.eolFrailty" value="frailtyChart-3" id="ageCondition3" name="frailty">
                <label for="ageCondition3">
                    I have a life-threatening illness and my life-expectancy is less than one to two years.
                </label>
            </div>

            <div class="sub-form-full-radio-col">
                <input type="radio" [(ngModel)]="client.eolFrailty" value="frailtyChart-4" id="ageCondition4" name="frailty">
                <label for="ageCondition4">
                    I am over 65 and healthy.
                </label>
            </div>

            <div class="sub-form-full-radio-col">
                <input type="radio" [(ngModel)]="client.eolFrailty" value="frailtyChart-5" id="ageCondition5" name="frailty">
                <label for="ageCondition5">
                    I am over 65 and am having trouble managing my day-to-day affairs and activities.
                </label>
            </div>

            <div class="sub-form-full-radio-col">
                <input type="radio" [(ngModel)]="client.eolFrailty" value="frailtyChart-6" id="ageCondition6" name="frailty">
                <label for="ageCondition6">
                    I am over 75.
                </label>
            </div>
        </div>
    </div>
</div>

