<ng-container *ngIf="wishes">
    <div class="wizard-modal-header">
        <div class="wizard-modal-logo">
            <img src="../../../../../assets/images/details/takeAction/writeNeedsDown/wizardActionWishListDialog.jpg"
                 title="{{title}}"  alt="{{title}}">
        </div>

        <div class="wizard-modal-text">
            <ng-container *ngIf="wishes.client_name.length > 0 && wishes.client_name != ''">
                {{title}}<br>
                    dated {{ now }}<br>
                    for {{ wishes.client_name }}

            </ng-container>

            <ng-container *ngIf="wishes.client_name.length == 0">
               {{title}}<br>
                    dated {{ now }}

            </ng-container>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="rep">
    <div class="wizard-modal-header">
        <div class="wizard-modal-logo">
            <img src="../../../../../assets/images/details/takeAction/chooseRepresentatives/wizardActionChooseRepsDialog.jpg"
                 title="{{title}}" alt="{{title}}">
        </div>

        <div class="wizard-modal-text">
            <ng-container *ngIf="rep.client_name.length > 0 && rep.client_name != ''">
                <h3>{{title}}<br>
                    dated {{ now }}<br>
                    for {{ rep.client_name }}
                </h3>
            </ng-container>
            <ng-container *ngIf="rep.client_name.length == 0">
                <h3>{{title}}<br>
                    dated {{ now }}
                </h3>
            </ng-container>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="directive">
    <div class="wizard-modal-header">
        <div class="wizard-modal-logo">
            <img src="../../../../../assets/images/details/takeAction/writeCarePlan/wizardActionWritePlanDialog.jpg" title="{{title}}"
             alt="{{title}}">
        </div>

        <div class="wizard-modal-text">
            <ng-container *ngIf="directive.client_name.length > 0 && directive.client_name != ''">
                <h3>{{title}}<br>
                    dated {{ now }}<br>
                    for {{ directive.client_name }}
                </h3>
            </ng-container>
            <ng-container *ngIf="directive.client_name.length == 0">
                <h3>{{title}}<br>
                    dated {{ now }}
                </h3>
            </ng-container>
        </div>
    </div>
</ng-container>
