<!-- DESKTOP -->
<div class="screen-forms-desktop">
    <div class="sub-form-block">
        <div class="sub-form-full-block">
            <p>As a caregiver, what are your main areas of focus for seeking a consultation?</p>
        </div>

        <div class="sub-form-two-checkboxes-block">
            <div class="sub-form-first-check-col">
                <input type="checkbox" id="dPrimaryFocus0" [(ngModel)]="client.eolCaregiverFocus0" checked value="caregiverFocus0">
                <label for="dPrimaryFocus0">
                    {{response.answer0}}
                </label>
            </div>

            <div class="sub-form-second-check-col">
                <input type="checkbox" id="dPrimaryFocus1" [(ngModel)]="client.eolCaregiverFocus1" value="caregiverFocus1">
                <label for="dPrimaryFocus1">
                    {{response.answer1}}
                </label>
            </div>
        </div>

        <div class="sub-form-two-checkboxes-block">
            <div class="sub-form-first-check-col">
                <input type="checkbox" id="dPrimaryFocus2" [(ngModel)]="client.eolCaregiverFocus2" value="caregiverFocus2">
                <label for="dPrimaryFocus2">
                    {{response.answer2}}
                </label>
            </div>

            <div class="sub-form-second-check-col">
                <input type="checkbox" id="dPrimaryFocus3" [(ngModel)]="client.eolCaregiverFocus3" value="caregiverFocus3">
                <label for="dPrimaryFocus3">
                    {{response.answer3}}
                </label>
            </div>
        </div>

        <div class="sub-form-two-checkboxes-block">
            <div class="sub-form-first-check-col">
                <input type="checkbox" id="dPrimaryFocus4" [(ngModel)]="client.eolCaregiverFocus4" value="caregiverFocus4">
                <label for="dPrimaryFocus4">
                    {{response.answer4}}
                </label>
            </div>

            <div class="sub-form-second-check-col">
                <input type="checkbox" id="dPrimaryFocus5" [(ngModel)]="client.eolCaregiverFocus5" value="caregiverFocus5">
                <label for="dPrimaryFocus5">
                    {{response.answer5}}
                </label>
            </div>
        </div>

        <div class="sub-form-two-checkboxes-block">
             <div class="sub-form-first-check-col">
                <input type="checkbox" id="dPrimaryFocus6" [(ngModel)]="client.eolCaregiverFocus6" value="caregiverFocus6">
                <label for="dPrimaryFocus6">
                    {{response.answer6}}
                </label>
            </div>

            <div class="sub-form-second-check-col">
                <input type="checkbox" id="dPrimaryFocus7" [(ngModel)]="client.eolCaregiverFocus7" value="caregiverFocus7">
                <label for="dPrimaryFocus7">
                    {{response.answer7}}
                </label>
            </div>

            <div class="sub-form-first-check-col">
                <input type="checkbox" id="dPrimaryFocus8" [(ngModel)]="client.eolCaregiverFocus8" value="caregiverFocus8">
                <label for="dPrimaryFocus8">
                    {{response.answer8}}
                </label>
            </div>

            <div class="sub-form-second-check-col">
                <input type="checkbox" id="dPrimaryFocus9" [(ngModel)]="client.eolCaregiverFocus9" value="caregiverFocus9">
                <label for="dPrimaryFocus9">
                    {{response.answer9}}
                </label>
            </div>
        </div>

        <div class="sub-form-full-block">
            <p>Can you expand on what you are looking for related to the above considerations?</p>
        </div>

        <div class="sub-form-full-block">
            <textarea class="sub-form-text-area" rows=8 [(ngModel)]="client.eolCaregiverDetails"> </textarea>
        </div>
    </div>
</div>

<!-- MOBILE -->
<div class="screen-forms-mobile">
    <div class="sub-form-block">
        <div class="sub-form-full-block">
            <p>As a caregiver, what are your main areas of focus for seeking a consultation?</p>
        </div>

        <div class="sub-form-full-block">
            <div class="sub-form-first-check-col">
                <input type="checkbox" id="mPrimaryFocus0" [(ngModel)]="client.eolCaregiverFocus0" value="caregiverFocus0">
                <label for="mPrimaryFocus0">
                    {{response.answer0}}
                </label>
            </div>

            <div class="sub-form-first-check-col">
                <input type="checkbox" id="mPrimaryFocus1" [(ngModel)]="client.eolCaregiverFocus1" value="caregiverFocus1">
                <label for="mPrimaryFocus1">
                    {{response.answer1}}
                </label>
            </div>

            <div class="sub-form-first-check-col">
                <input type="checkbox" id="mPrimaryFocus2" [(ngModel)]="client.eolCaregiverFocus2" value="caregiverFocus2">
                <label for="mPrimaryFocus2">
                    {{response.answer2}}
                </label>
            </div>

            <div class="sub-form-first-check-col">
                <input type="checkbox" id="mPrimaryFocus3" [(ngModel)]="client.eolCaregiverFocus3" value="caregiverFocus3">
                <label for="mPrimaryFocus3">
                    {{response.answer3}}
                </label>
            </div>

            <div class="sub-form-first-check-col">
                <input type="checkbox" id="mPrimaryFocus4" [(ngModel)]="client.eolCaregiverFocus4" value="caregiverFocus4">
                <label for="mPrimaryFocus4">
                    {{response.answer4}}
                </label>
            </div>

            <div class="sub-form-first-check-col">
                <input type="checkbox" id="mPrimaryFocus5" [(ngModel)]="client.eolCaregiverFocus5" value="caregiverFocus5">
                <label for="mPrimaryFocus5">
                    {{response.answer5}}
                </label>
            </div>

            <div class="sub-form-first-check-col">
                <input type="checkbox" id="mPrimaryFocus6" [(ngModel)]="client.eolCaregiverFocus6" value="caregiverFocus6">
                <label for="mPrimaryFocus6">
                    {{response.answer6}}
                </label>
            </div>

            <div class="sub-form-first-check-col">
                <input type="checkbox" id="mPrimaryFocus7" [(ngModel)]="client.eolCaregiverFocus7" value="caregiverFocus7">
                <label for="mPrimaryFocus7">
                    {{response.answer7}}
                </label>
            </div>

            <div class="sub-form-first-check-col">
                <input type="checkbox" id="mPrimaryFocus8" [(ngModel)]="client.eolCaregiverFocus8" value="caregiverFocus8">
                <label for="mPrimaryFocus8">
                    {{response.answer8}}
                </label>
            </div>

            <div class="sub-form-first-check-col">
                <input type="checkbox" id="mPrimaryFocus9" [(ngModel)]="client.eolCaregiverFocus9" value="caregiverFocus9">
                <label for="mPrimaryFocus9">
                    {{response.answer9}}
                </label>
            </div>
        </div>

        <div class="sub-form-full-block">
            <p>Can you expand on what you are looking for related to the above answers?</p>
        </div>

        <div class="sub-form-full-block">
            <textarea class="sub-form-text-area" rows=8 [(ngModel)]="client.eolCaregiverDetails"> </textarea>
        </div>
    </div>
</div>

