<div class = "topic-inline-grid with-underline">
    <div class="topic-left">
        <h1>{{title}}</h1>
    </div>

    <div class="topic-right">
        <img src="/assets/images/wizard/wizardIntro.jpg" alt={{title}} title={{title}}>
    </div>
</div>

<div class = "content-no-margins">
    <div class="dark-heading">
        <h1>Private Transfer Permit</h1>
    </div>

    <div class="dark-copy">
        Follow the wizard to fill out your request for the ability to transfer your loved ones remains yourself. It may hurt a bit but you can stop anytime and come back
        whenever you
        are ready. Once done, pat yourself on the back and reward yourself in any way you prefer to be rewarded :).
    </div>
</div>
