<div class="print-patient-consult-component">



    <app-print-form-heading [patient]='patient'></app-print-form-heading>
    <app-print-sub-form-demographic [client]="client"></app-print-sub-form-demographic>
    <app-print-sub-form-fraility [client]="client"></app-print-sub-form-fraility>
    <app-print-sub-form-patient [client]="client"></app-print-sub-form-patient>
    <app-print-sub-form-medical [client]="client"></app-print-sub-form-medical>
    <app-print-sub-form-disclaimer [client]="client"></app-print-sub-form-disclaimer>
</div>


