<div class="screen-title">
    <h3>Other Forms to Consider Signing</h3>
</div>

<div class="content-images">
    <img src="../../../../../assets/images/details/doulaWork/endOfLifeDocuments/dnrDoc/cprDnrIntro.jpg">
</div>

<div class = "screen-copy">
    <p>
        If you don't make your wishes known, your doctor and loved ones may face some tough decisions. In an emergency, you would
        probably receive CPR. Then you could be placed on life support, even if you didn't want it. Your doctor and family may have a
        hard time deciding how to continue your medical care. Also, it may be very hard for your loved ones to decide when to stop life
        support.
        <br><br>
        If you are at a stage in your life where you would not want any of these life-prolonging measures administered, you can take back
        some control by signing the following forms. There is no guarantee that they will be followed - as doctors are in the business of
        keeping people alive - but it does give you more control over these decisions than if you do not make your choices known.
    </p>
</div>

<div class = "content-dark-titles">
    <h2>Your Options for Accepting or Refusing CPR</h2>
</div>

<div class = "content-copy">
    <p>
        You can choose to receive CPR or be put on a ventilator if your heart or breathing stops. Being put on a ventilator is sometimes
        referred to as "being put on life support." CPR doesn't always work to resuscitate people, or "bring them back. And the older and
        sicker you are, the less likely it is to work. Here are some of the issues to consider:
    </p>
</div>

<ul class = "content-dark-list square">
    <li class="list-item">Pressing on the chest during CPR often breaks the person's ribs.</li>
    <li class="list-item">People who do survive after their heart has stopped may have brain damage.</li>
    <li class="list-item">This can affect your ability to talk, recognize loved ones, dress yourself, or manage your bathroom needs.</li>
    <li class="list-item">With CPR and life support, you may live longer than you would without life support.</li>
    <li class="list-item">But your remaining time may be spent in a hospital connected to machines.</li>
    <li class="list-item">If CPR does "bring you back," you will still have your chronic illness plus the new problems that led to your
        needing CPR in the first place</li>
</ul>

<div class="content-images">
    <img src="../../../../../assets/images/details/doulaWork/endOfLifeDocuments/dnrDoc/NoCPR.jpg" title="No CPR Form" alt="No CPR Form"/>
</div>

<div class = "content-dark-copy">
    <p>
        <b>This form says</b>:<br>
        "Capable patients may request that no cardiopulmonary resuscitation be started on their behalf. This should be
        done after discussions with their doctor or nurse practitioner. No "cardiopulmonary resuscitation" is defined as no cardiopulmonary
        resuscitation (no CPR) in the event of a respiratory and/or cardiac arrest.
        <br><br>
        This form is provided to you or your Substitute Decision Maker (Representative Section-9) to acknowledge that you have had a
        conversation with a doctor or a nurse practitioner about a No CPR Order, and understand that no CPR will be provided in
        circumstances where you can no longer make decisions for yourself. It instructs people such as first responders, paramedics and
        health care providers not to start CPR on your behalf whether you are at home, in the community or in a residential care
        facility. The personal information collected on this form assists the health professionals noted above to carry out your wishes.
        If you have any questions about the collection of this information contact Health Link BC at 8-1-1 or go to
        www.gov.bc.ca/expectedhomedeath."
        You or someone at your location should have the form available to show emergency help if they come to your aid. It is desirable
        that you wear a MedicAlert or No CPR bracelet or necklet to enable quick verification that you have a No CPR Order in place."
        <br><br>
        This form goes on to say that you can request a free No CPR bracelet or necklet by filling out this form, by also filling out a
        MedicAlert Registration form and mailing them to the appropriate place.
        <br><br>
        This form must be signed by you if you are still capable or by your Representative(s) if you are no longer capable. It must also
        be signed by your Doctor or Nurse Practitioner who are agreeing to the order after having had a conversation with either you or
        your Representatives.
        <br><br>
        If you wish to download the form you can do so here at:
        <a href = "https://www2.gov.bc.ca/assets/gov/health/forms/302fil.pdf" target = new>No CPR Request Form</a>.
        To order a free Medic Alert&reg; - No CPR bracelet or 'necklet' you also need to download and complete this form:
        <a href = "https://www.medicAlert.ca/nocpr/resources/MedicAlert_Application_BC_NOCPR.pdf" target = new>No CPR Bracelet</a>.
        <br><br>
        If you change your mind you need to let your physician, care-givers and family know, tear up the No CPR form and let Medic Alert
        know you have reversed your decision.
    </p>
</div>

