<div class="screen-form-disclaimer-block">
    <!-- DISCLAIMER-->
    <div class="screen-form-disclaimer-title">
        Please Read:
    </div>

    <div class="screen-form-disclaimer-text">
        <p>
            I understand that the End of Life consultations I receive are provided for the basic purpose of preparing
            myself and my family for my eventual end of life care and legacy. I know that an End of Life consultant can help with
            health related questions and concerns allowing me to better plan, prepare and document all of my wishes
            and hopes for a good ending.
            <br><br>
            But I further understand that End of Life caregivers are not a substitute for medical palliative care, hospice care or
            emergency care but are rather meant to fill the gaps that standard medical care can not fill.
            <br><br>
            I also know that End of Life consultants can do much to aid in the comfort and care of a dying person but they can not
            prescribe or give out medications of any kind.
            <br><br>
            I understand that I must have up-to-date Covid vaccinations in order to meet with you in person. If I have
            not been vaccinated I can still see you via a remote call, for example a Zoom, Google Meet or a phone call.
        </p>
    </div>


    <form #disclaimerForm="ngForm" class="disclaimer-form" novalidate>
        <!-- <div class="form-signature-block">
             &lt;!&ndash;<label class="form-date-label" for="dateD">Date:</label>
             <input [(ngModel)]="client.defaultDate" type="text" class="form-date-value" id="dateD" name="date">

             <label class="form-signature-label" for="sigD">Signature:</label>
             <input type="text" class="form-signature-line" id="sigD">
             <div class="form-space"></div>&ndash;&gt;
             <button class="form-print-button" (click)="printProfile()">PRINT</button>
         </div>-->
        <div class="screen-form-button-container">
            <button class="screen-form-print-button" (click)="printProfile()">PRINT</button>
        </div>
    </form>



<!--<div class="menu-desktop">
    <form #disclaimerForm="ngForm" class="disclaimer-form" novalidate>
        <div class="form-signature-block">
            <label class="form-date-label" for="dateD">Date:</label>
            <input [(ngModel)]="client.defaultDate" type="text" class="form-date-value" id="dateD" name="date">

            <label class="form-signature-label" for="sigD">Signature:</label>
            <input type="text" class="form-signature-line" id="sigD">
            <div class="form-space"></div>
            <button class="form-print-button" (click)="printProfile()">PRINT</button>
        </div>
    </form>
</div>

<div class="menu-mobile">
    <form #disclaimerForm="ngForm" class="disclaimer-form" novalidate>
        <div class="form-signature-block">
            <label class="form-date-label" for="dateM">Date:</label>
            <input [(ngModel)]="client.defaultDate" type="text" class="form-date-value with-solid-underline" id="dateM" name="date">

            <label class="form-signature-label" for="sigM">Signature:</label>
            <input type="text" class="form-signature-line" id="sigM">
            <div class="form-space"></div>

        </div>
        <div class="button-container">
            <button class="form-print-button" (click)="printProfile()">PRINT</button>
        </div>
    </form>
</div>-->
</div>