<!-- this is only called when the screen is laptop or above because this size uses the modal dialog while mobiles do not -->
<ng-container *ngIf="modal">

      <!--  <div class="wizard-modal-overlay">
            <app-dialog-header
                [wishes]='wishes'
                [title]='title'
                [modal]='modal'>
            </app-dialog-header>
        </div>

        <div class="modal-inner-block-wishes">
            <app-screen-form-make-wish-list-overview
                [event]="event"
                [wishes]="wishes"
                [modal]="modal">
            </app-screen-form-make-wish-list-overview>
        </div>-->

</ng-container>


