<!-- DESKTOP -->
<div class="screen-forms-desktop">
    <div class="sub-form-block">
        <div class="sub-form-full-block">
            <p> As planner, select your main areas of focus for seeking an end of life consultation:</p>
        </div>

<!--         checked does not work unless init'd to true in ts container -->
        <div class="sub-form-two-checkboxes-block">
            <div class="sub-form-first-radio-col">
                <input type="checkbox" id="dPrimaryFocus0"  [(ngModel)]="client.eolPlanFocus0" checked value="planFocus0" checked>
                <label for="dPrimaryFocus0">
                    {{response.answer0}}
                </label>
            </div>

            <div class="sub-form-second-radio-col">
                <input type="checkbox" id="dPrimaryFocus1" [(ngModel)]="client.eolPlanFocus1" value="planFocus1">
                <label for="dPrimaryFocus1">
                    {{response.answer1}}
                </label>
            </div>
        </div>

        <div class="sub-form-two-checkboxes-block">
            <div class="sub-form-first-radio-col">
                <input type="checkbox" id="dPrimaryFocus2" [(ngModel)]="client.eolPlanFocus2" value="planFocus2">
                <label for="dPrimaryFocus2">
                    {{response.answer2}}
                </label>
            </div>

            <div class="sub-form-second-radio-col">
                <input type="checkbox" id="dPrimaryFocus3" [(ngModel)]="client.eolPlanFocus3" value="planFocus3">
                <label for="dPrimaryFocus3">
                    {{response.answer3}}
                </label>
            </div>
        </div>

        <div class="sub-form-two-checkboxes-block">
            <div class="sub-form-first-radio-col">
                <input type="checkbox" id="dPrimaryFocus4" [(ngModel)]="client.eolPlanFocus4" value="planFocus4">
                <label for="dPrimaryFocus4">
                    {{response.answer4}}
                </label>
            </div>

            <div class="sub-form-second-radio-col">
                <input type="checkbox" id="dPrimaryFocus5" [(ngModel)]="client.eolPlanFocus5" value="planFocus5">
                <label for="dPrimaryFocus5">
                    {{response.answer5}}
                </label>
            </div>
        </div>

        <div class="sub-form-two-checkboxes-block">
            <div class="sub-form-first-radio-col">
                <input type="checkbox" id="dPrimaryFocus6" [(ngModel)]="client.eolPlanFocus6" value="planFocus6">
                <label for="dPrimaryFocus6">
                    {{response.answer6}}
                </label>
            </div>

            <div class="sub-form-second-radio-col">
                <input type="checkbox" id="dPrimaryFocus7" [(ngModel)]="client.eolPlanFocus7" value="planFocus7">
                <label for="dPrimaryFocus7">
                    {{response.answer7}}
                </label>
            </div>
        </div>

        <div class="sub-form-two-checkboxes-block">
            <div class="sub-form-first-radio-col">
                <input type="checkbox" id="dPrimaryFocus8" [(ngModel)]="client.eolPlanFocus8" value="planFocus8">
                <label for="dPrimaryFocus8">
                    {{response.answer8}}
                </label>
            </div>

            <div class="sub-form-second-radio-col">
                <input type="checkbox" id="primaryFocus9" [(ngModel)]="client.eolPlanFocus9" value="planFocus9">
                <label for="primaryFocus9">
                    {{response.answer9}}
                </label>
            </div>
        </div>

        <div class="sub-form-full-block">
            <p>Can you expand on what you are looking for related to the above answer?</p>
        </div>

        <div class="sub-form-full-block">
            <textarea class="sub-form-text-area" rows=8 id="mainConcerns" [(ngModel)]="client.eolPlanDetails"> </textarea>
        </div>
    </div>
</div>

<!-- MOBILE -->
<div class="screen-forms-mobile">
    <div class="sub-form-block">
        <div class="sub-form-full-block">
            <p>In planning, what would be your main areas of focus for seeking a consultation?</p>
        </div>

        <div class="sub-form-full-block">
            <div class="sub-form-full-radio-col">
                <input type="checkbox" id="mPrimaryFocus0" [(ngModel)]="client.eolPlanFocus0" value="planFocus0">
                <label for="mPrimaryFocus0">
                    {{response.answer0}}
                </label>
            </div>

            <div class="sub-form-full-radio-col">
                <input type="checkbox" id="mPrimaryFocus1" [(ngModel)]="client.eolPlanFocus1" value="planFocus1">
                <label for="mPrimaryFocus1">
                    {{response.answer1}}
                </label>
            </div>

            <div class="sub-form-full-radio-col">
                <input type="checkbox" id="mPrimaryFocus2" [(ngModel)]="client.eolPlanFocus2" value="planFocus2">
                <label for="mPrimaryFocus2">
                    {{response.answer2}}
                </label>
            </div>

            <div class="sub-form-full-radio-col">
                <input type="checkbox" id="mPrimaryFocus3" [(ngModel)]="client.eolPlanFocus3" value="planFocus3">
                <label for="mPrimaryFocus3">
                    {{response.answer3}}
                </label>
            </div>

            <div class="sub-form-full-radio-col">
                <input type="checkbox" id="mPrimaryFocus4" [(ngModel)]="client.eolPlanFocus4" value="planFocus4">
                <label for="mPrimaryFocus4">
                    {{response.answer4}}
                </label>
            </div>

            <div class="sub-form-full-radio-col">
                <input type="checkbox" id="mPrimaryFocus5" [(ngModel)]="client.eolPlanFocus5" value="planFocus5">
                <label for="mPrimaryFocus5">
                    {{response.answer5}}
                </label>
            </div>

            <div class="sub-form-full-radio-col">
                <input type="checkbox" id="mPrimaryFocus6" [(ngModel)]="client.eolPlanFocus6" value="planFocus6">
                <label for="mPrimaryFocus6">
                    {{response.answer6}}
                </label>
            </div>

            <div class="sub-form-full-radio-col">
                <input type="checkbox" id="mPrimaryFocus7" [(ngModel)]="client.eolPlanFocus7" value="planFocus7">
                <label for="mPrimaryFocus7">
                    {{response.answer7}}
                </label>
            </div>

            <div class="sub-form-full-radio-col">
                <input type="checkbox" id="mPrimaryFocus8" [(ngModel)]="client.eolPlanFocus8" value="planFocus8">
                <label for="mPrimaryFocus8">
                    {{response.answer8}}
                </label>
            </div>
        </div>

        <div class="sub-form-full-block">
            <p>Can you expand on what you are looking for related to the above answer?</p>
        </div>

        <div class="sub-form-full-block">
            <textarea class="sub-form-text-area" rows=8 id="m-mainConcerns" [(ngModel)]="client.eolPlanDetails"> </textarea>
        </div>
    </div>
</div>



