<div class="wizard-modal-header">
    <div class="wizard-modal-logo">
        <img src="assets/images/details/takeAction/writeNeedsDown/wizardActionMakeWishes.gif" title="{{title}}" alt="{{title}}">
    </div>

    <div class="wizard-modal-text">
        <h2><b>Your Wishes and Needs Wizard</b></h2>
        <p><b>dated {{ now }}</b></p>
       <!-- <span>
            <ng-container *ngIf="wishes.client_name.length > 0 && wishes.client_name != ''">
                for {{ wishes.client_name }}
            </ng-container>
        </span>-->
    </div>
</div>

<!--{{wishes.questions[0].question_string}}-->
<div class="screen-modal-inner-block-wishes">
    <div class="screen-modal-data-block-wishes">
        <ng-container *ngIf="page === 0">
            <div class="screen-modal-title">
                <h2>Why Writing a Wish List is Smart:</h2>
            </div>

            <div class="screen-modal-title-first">
                <h3>It will help you:</h3>
            </div>

            <ul class="screen-modal-full-col-list square">
                <li class="screen-modal-list-item">understand your needs better.</li>
                <li class="screen-modal-list-item">be able to state your wishes clearly.</li>
                <li class="screen-modal-list-item">leave nothing to chance.</li>
                <li class="screen-modal-list-item">use this as part of your legal advance care plan.</li>
                <li class="screen-modal-list-item">know your wishes making life easier for your family.</li>
            </ul>

            <div class="screen-modal-title">
                <h3>Please enter your name and press START:</h3>
            </div>

            <form #wizardForm="ngForm" novalidate>
                <div class="screen-modal-error-message-block">
                    <ng-container *ngIf="errorMessage">
                        <div class="screen-modal-error-message">{{ errorMessage }}</div>
                    </ng-container>
                    <ng-container *ngIf="!errorMessage">
                        <div class="screen-modal-error-message">&nbsp;</div>
                    </ng-container>
                </div>

                <div class="screen-modal-twenty-eighty-cols-block">
                    <label class="screen-modal-first-col">Your Name:</label>
                    <input type="text" class="screen-modal-second-col" [(ngModel)]="wishes.client_name" id="name" name="name">
                </div>
            </form>

            <div class="screen-modal-two-buttons-row">
                <button class="screen-modal-start-button " (click)="checkClientName()">START</button>
                <button class="screen-modal-cancel-start-button" (click)="cancelWizard()">CANCEL</button>
            </div>
        </ng-container>

        <ng-container *ngIf="page > 0 && page <= 30">
            <div class="screen-modal-full-col-block">
                <div class="screen-modal-title">
                    <h2> Question {{ page }} / {{ finalPage }}:</h2>
                </div>

                <div class="screen-modal-title-first">
                    <h3>{{ selectedQuestion.question_string }}</h3>
                </div>

                <div class="answer-block" *ngFor="let response of selectedQuestion.responses">
                    <div class="screen-modal-first-radio-col">
                        <input type="radio" [value]="response.response_num" [ngModel]="selectedQuestion.selectedAnswer" name="question"
                               (ngModelChange)="onAnswerChanged($event)">
                        <label>
                            {{ response.response_string }}
                        </label>
                    </div>
                </div>
            </div>

            <div class="screen-modal-three-buttons-row">
                <button class="screen-modal-next-button" (click)="getNextPage()">NEXT</button>
                <button class="screen-modal-previous-button" (click)="getPreviousPage()">PREVIOUS</button>
                <button class="screen-modal-cancel-button" (click)="cancelWizard()">CANCEL</button>
            </div>

        </ng-container>

        <ng-container *ngIf="page === 31">
            <div class="screen-modal-title">
                <ng-container *ngIf="wishes.client_name.length > 0 && wishes.client_name !=''">
                    <h2>
                        Congratulations, {{ wishes.client_name }} you are done!
                    </h2>
                </ng-container>
                <ng-container *ngIf="wishes.client_name.length == 0 && wishes.client_name ==''">
                    CONGRATULATIONS, you are done!
                </ng-container>
            </div>

            <div class="screen-modal-title-first">
                <h3>
                    Print, save and pat yourself on the back!
                </h3>
            </div>

            <div class="screen-modal-copy">
                <p>
                    Please press PRINT to get a hard copy or while on the print screen choose to save it as a PDF on your own
                    computer and print at a later date. Store this document with your other end of life documents.
                    <br><br>
                    This wish list is a great start to let your family know what you truly hope for should you need care in the
                    future or if you need it now. It lets you communicate clearly without pressure from others or awkward
                    conversations.
                    <br><br>
                    And remember, you can book a consultation either over zoom or in person for more help on a huge variety of
                    topics around end-of-life choices and care options.
                </p>
            </div>

            <div class="screen-modal-two-buttons-row">
                <button class="screen-modal-print-button" (click)="printFunction()">PRINT</button>
                <button class="screen-modal-cancel-print-button" (click)="cancelWizard()">CANCEL</button>
            </div>
        </ng-container>
    </div>
</div>

