<div class="print-caregiver-consult-component">

        <div class="print-heading">
            TRANSITIONS IN ENERGY <BR>
            DOULA-CARETAKER CONSULTATION INTAKE
        </div>

        <!--
        *************************** DEMOGRAPHIC INFO **********************************
        -->
        <div class="print-title">
            Your Contact Information
        </div>

        <table class="print-client-info">
            <tr>
                <td class="print-first-cell">
                    Name:
                </td>
                <td class="print-second-cell">
                    {{client.name}}
                </td>
            </tr>

            <tr>
                <td class="print-first-cell">
                    Phone:
                </td>
                <td class="print-second-cell">
                    {{client.cellPhone | mask: '(000) 000-0000'}}
                </td>
            </tr>

            <tr>
                <td class="print-first-cell">
                    Email:
                </td>
                <td class="print-second-cell">
                    {{client.email}}
                </td>
            </tr>

            <tr>
                <td class="print-first-cell">
                    Address:
                </td>
                <td class="print-second-cell">
                    {{client.address}}
                </td>
            </tr>

            <tr>
                <td class="print-first-cell">
                    Province:
                </td>
                <td class="print-second-cell">
                    {{client.provState}}
                </td>
            </tr>

            <tr>
                <td class="print-first-cell">
                    Country:
                </td>
                <td class="print-second-cell">
                    {{client.country}}
                </td>
            </tr>

            <tr>
                <td class="print-first-cell">
                    Postal:
                </td>
                <td class="print-second-cell">
                    {{client.pc | mask: "U0U-0U0"}}
                </td>
            </tr>
        </table>

        <div class="print-title">
            Emergency Contact Information
        </div>

        <table class="print-client-info">
            <tr>
                <td class="print-first-cell">
                    Name:
                </td>
                <td class="print-second-cell">
                    {{client.emergName}}
                </td>
            </tr>

            <tr>
                <td class="print-first-cell">
                    Relationship:
                </td>
                <td class="print-second-cell">
                    {{client.emergRelation}}
                </td>
            </tr>

            <tr>
                <td class="print-first-cell">
                    Phone:
                </td>
                <td class="print-second-cell">
                    {{client.emergPhone | mask: '(000) 000-0000'}}
                </td>
            </tr>
        </table>

        <div class="print-title">
            Optional Details
        </div>

        <table class="print-client-info">
            <tr>
                <td class="print-first-cell">
                    Birthdate:
                </td>
                <td class="print-second-cell">
                    {{client.birthdate | mask: '00-00-0000'}}
                </td>
            </tr>

            <tr>
                <td class="print-first-cell">
                    Occupation:
                </td>
                <td class="print-second-cell">
                    {{client.occupation}}
                </td>
            </tr>

            <tr>
                <td class="print-first-cell">
                    Referred By:
                </td>
                <td class="print-second-cell">
                    {{client.referredBy}}
                </td>
            </tr>
        </table>

        <!--
        ******************************* SUPPORT FOR CAREGIVER ****************************
        -->

        <div class="print-title">
            Your Concerns and Goals
        </div>

        <div class="print-sub-title">
            As Caregiver, what are your main areas of focus for seeking a consultation?
        </div>

        <div class="print-response">
            <div *ngIf="client.eolCaregiverFocus1">
                I am overwhelmed with all the decisions I need to make.
            </div>
            <div *ngIf="client.eolCaregiverFocus2">
                I am exhausted and burned out and need emotional support.
            </div>
            <div *ngIf="client.eolCaregiverFocus3">
                I am physically unable to care for my loved one adequately.
            </div>
            <div *ngIf="client.eolCaregiverFocus4">
                My loved one is angry and lashing out at me and I don't feel safe.
            </div>
            <div *ngIf="client.eolCaregiverFocus5">
                I am having conflicts with my extended family's opinions on care, even though I am the main caregiver.
            </div>
            <div *ngIf="client.eolCaregiverFocus6">
                I need to ensure their last wishes and requests are respected.
            </div>
            <div *ngIf="client.eolCaregiverFocus7">
                I need to discuss these issues with an impartial advocate.
            </div>
            <div *ngIf="client.eolCaregiverFocus8">
                I am having difficulties with my loved one's health care team.
            </div>
            <div *ngIf="client.eolCaregiverFocus9">
                My loved one will not discuss any end of life issues with me and I need to get things in order.
            </div>
            <div *ngIf="client.eolCaregiverFocus10">
                They want care in one place (hospital, hospice or home) that I am unable to organize on my own.
            </div>
            <div *ngIf="!client.eolCaregiverFocus1 && !client.eolCaregiverFocus2 && !client.eolCaregiverFocus3 && !client.eolCaregiverFocus4 &&
            !client.eolCaregiverFocus5 && !client.eolCaregiverFocus6 && !client.eolCaregiverFocus7 && !client.eolCaregiverFocus8 &&
            !client.eolCaregiverFocus9 && !client.eolCaregiverFocus10">
                &nbsp;
            </div>
        </div>

        <div class="print-sub-title print-margin-top-2">
            Can you expand on what you are looking for related to the above considerations?
        </div>

        <div class="print-response">
            <div *ngIf="client.eolCaregiverDetails.length > 0">
                {{client.eolCaregiverDetails}}
            </div>
            <div *ngIf="client.eolCaregiverDetails.length == 0">
                &nbsp;
            </div>
        </div>
    </div>

    <div class="page-break"></div>

    <!-- DISCLAIMER-->
    <div class="print-notice">
        Please Read:
    </div>

    <table class="print-disclaimer-table">
        <tr>
            <td class="print-disclaimer-copy">
                I understand that the End of Life Doula Consultations I receive are provided for the basic purpose of preparing myself
                and my family for my eventual end of life care and legacy. I know that an End of Life Doula can help with financial and
                health related questions and concerns allowing me to better plan, prepare and document all of my wishes and hopes for a
                good ending.
                <br><br>
                But I further understand that End of Life Doulas are not a substitute for medical palliative care, hospice care or
                emergency care but are rather meant to fill the gaps that standard medical care can not fill. I also understand that
                doulas can never initiate conversations related to MAID, but if asked can clarify the latest rules as best as possible.
                For further information about the new MAID laws contact Death With Dignity.
                <br><br>
                I also know that End of Life Doulas can do much to aid in the comfort and care of a dying person but they can not
                prescribe or give out medications of any kind.
                <br><br>
                I understand that I must have proof of up-to-date Covid vaccinations in order to meet with you in person. If I have not
                been vaccinated I can still see you via a remote call, for example a Zoom or phone meeting.
                <br><br>
                I agree to provide 24 hours notice if I want to cancel an appointment. As well, I agree to bring proof of my Covid
                vaccination in the form of the vaccine passport. By signing below I agree and accept the above conditions.
            </td>
        </tr>
    </table>

    <div class="print-signature">
        <div class="print-date-prompt">Date:(yyyy/mm/dd):</div>
        <div class="print-date-value">{{client.defaultDate}}</div>

        <div class="print-sig-prompt">Signature:</div>
        <div class="print-sig-value print-solid-underline">&nbsp;</div>
    </div>

