<div class="content">
    <div class = "topic-block">
        <div class="topic-left">
            <h1>{{title}}</h1>
        </div>

        <div class="topic-right">
            <img src="assets/images/representative/repIntro.jpg" alt="Representative Section-9" title="Representative Section-9">
        </div>
    </div>
    <div class="headings-dark">
        <h2>You Can Name Your Own Substitute Decision Maker (SDM)</h2>
    </div>

    <div class="text-dark">
        Instead of leaving your health decisions up to B.C. Law, you can set who YOU
        want as your Substitute Decision Maker (SDM). Again, this is only if you are incapable of making your own
        decisions due to injury or illness. You can name your preferred SDM and even an alternate SDM by filling
        out a form called Representative Section-9. (This applies to B.C. only, check your province or state for
        a form that provides the same service).
    </div>

    <div class="headings-dark pad-top-2">
        <h2>Name Your SDM with Representative Section-9</h2>
    </div>

    <div class="text-dark">
        These screen shots are for informational purposes only; so you can see what  is asked of you
        when filling out this form. There are a number of forms created by different agencies including
        the Attorney General of B.C., the Dying with Dignity Association and Palliative Care B.C. (CHECK)

        <img src="assets/images/representative/repSection9.jpg" class='images' border='1' title="Representative Section-9" alt="Representative Section-9">
    </div>

    <div class="text-light with-border background-blue">
        <div class="pad-all-1">
            <b>At the top of the form (#57 Rep Agreement) (shown below) it states the caveats that read:</b>
            <br>
            "<i>Made under Section 9 of the Representation Agreement Act.</i>"
            <br>
            "The use of this form is voluntary. Be advised that this form may not be appropriate for use by all persons, as
            it provides only one option of how a Representation Agreement may be made. In addition, it does not constitute
            legal advice. For further information, please consult the Representation Agreement Act and Representation Agreement
            Regulation or obtain legal advice.
            <br><br>
            This form reflects the law at the date of publication. Laws can change over time. Before using this form, you should
            review the relevant legislation to ensure that there have not been any changes to the legislation or section numbers.
            The notes referenced in this Representation Agreement are found at the end of this Agreement and are provided for information only."
        </div>
    </div>

    <div class="text-dark">
        <img src="assets/images/representative/disclaimerHeading.jpg" class='images' border='1' title="Rep9 Disclaimer" alt="Rep9 Disclaimer">
    </div>

    <div class="text-light with-border background-blue">
        <div class="pad-all-1">
            <b>SECTION 1 is where you fill in your full legal name, full address and the current date.</b>
        </div>
    </div>

    <div class="text-dark">
        <img src="assets/images/representative/section-1.jpg" class='images' border='1' title="Rep9 Section 1" alt="Rep9 Section 1">
    </div>

    <div class="text-light with-border background-blue">
        <div class="pad-all-1">
            <b>SECTION 2 relates to any previous Representative Section-9 from you may have written.
                If this is your first Rep-9, you can disregard this line.</b>
        </div>
    </div>

    <div class="text-dark">
        <img src="assets/images/representative/section-2.jpg" class='images' border='1' title="Rep9 Form 1" alt="Rep9 Form 1">
    </div>

    <div class="text-light with-border background-blue">
        <div class="pad-all-1">
            <b>SECTION 3 is where you fill in the full legal name and full address of your chosen Substitute Decision Maker, also
                known simply as Representative.</b>
        </div>
    </div>

    <div class="text-dark">
        <img src="assets/images/representative/section-3.jpg" class='images' border='1' title="Rep9 Form 1" alt="Rep9 Form 1">
    </div>

    <div class="text-light with-border background-blue">
        <div class="pad-all-1">
            <b>SECTION 4 is where you fill in the full legal name and full address of your chosen Alternate Substitute Decision Maker, also
                known simply as your Alternate Representative.</b>
        </div>
    </div>

    <div class="text-dark">
        <img src="assets/images/representative/section-4.jpg" class='images' border='1' title="Rep9 Form 1" alt="Rep9 Form 1">

        You can choose an Alternate Representative to ensure that you are still protected if your first Representative either dies or resigns
        him or herself from the position or becomes 'incapable'. It is also to protect yourself should you divorce or separate from your Primary Representative.
    </div>

    <div class="text-light with-border background-blue">
        <div class="pad-all-1">
            <b>SECTION 5 can be ignored if you have appointed an Alternate Representative. If you haven't you have to cross (X) this line out.</b>
        </div>
    </div>

    <div class="text-dark">
        <img src="assets/images/representative/section-5.jpg" class='images' border='1' title="Rep9 Form 2" alt="Rep9 Form 2">
    </div>

    <div class="text-light with-border background-blue">
        <div class="pad-all-1">
            <b>SECTION 6 states that you give permission for your Representative(s) to present and support your health care wishes to the medical community.</b>
        </div>
    </div>

    <div class="text-dark">
        <img src="assets/images/representative/section-6.jpg" class='images' border='1' title="Rep9 Form 2" alt="Rep9 Form 2">
    </div>

    <div class="text-light with-border background-blue">
        <div class="pad-all-1">
            <b>SECTION 7 allows you to write down specific wishes and requests related to your health care. For example if you are suffering
                from a disease with no cure, you may want to write down your NO CPR directive. If you also fill out an Advanced Care Plan, you are
                prompted to answer your wishes related to many of the common situations.</b>
        </div>
    </div>

    <div class="text-dark">
        <img src="assets/images/representative/section-7.jpg" class='images' border='1' title="Rep9 Form 2" alt="Rep9 Form 2">
    </div>

    <div class="text-light with-border background-blue">
        <div class="pad-all-1">
            <b>SECTION 8 simply time-stamps the agreement as of the date signed by you, your Representative(s) and your Witnesses.</b>
        </div>
    </div>

    <div class="text-dark">
        <img src="assets/images/representative/section-8.jpg" class='images' border='1' title="Rep9 Form 2" alt="Rep9 Form 2">
    </div>

    <div class="text-light with-border background-blue">
        <div class="pad-all-1">
            <b>SECTION 9 - ADULT'S SIGNATURE: is where you sign the form in front of your Witnesses. If you are being witnessed by a Lawyer or Notary Public, you
                only need their one signature. Otherwise you need two Witnesses.</b>
        </div>
    </div>

    <div class="text-dark">
        <img src="assets/images/representative/section-9-Adult.jpg" class='images' border='1' title="Rep9 Form 2" alt="Rep9 Form 2">
    </div>

    <div class="text-light with-border background-blue">
        <div class="pad-all-1">
            <b>SECTION 9 - WITNESSES TO ADULT SIGNATURE: Signature is where you sign the form in front of your Witnesses.
            If you are being witnessed by a Lawyer or Notary Public, you
                only need their one signature. Otherwise you need two Witnesses.</b>
        </div>
    </div>

    <div class="text-dark">
        <img src="assets/images/representative/section-9-Witness.jpg" class='images' border='1' title="Rep9 Form 2" alt="Rep9 Form 2">
    </div>

    <div class="text-light with-border background-blue">
        <div class="pad-all-1">
            <b>SECTION 9 - REPRESENTATIVS SIGNATURES: is where you and your Representative(s) sign the form in front of your Witnesses.
            If you are being witnessed by a Lawyer or Notary Public, you
                only need their one signature. Otherwise you need two Witnesses.</b>
        </div>
    </div>

    <div class="text-dark">
        <img src="assets/images/representative/section-9-Reps.jpg" class='images' border='1' title="Rep9 Form 2" alt="Rep9 Form 2">
    </div>

    <div class="headings-dark">
        <h2>Who Can Represent for You?:</h2>
    </div>

    <div class="text-dark">
        By law, "An individual must be 19 years of age or older, and must not be an individual who provides personal care or
        health care services to the adult for compensation, or who is an employee of a facility in which the adult
        resides and through which the adult receives personal care or health care services, unless the individual is a child,
        parent or spouse of the adult. The information in this note also applies in respect of an alternate representative."
    </div>

    <div class="headings-dark">
        <h2>What, By Law, Can't They Do?:</h2>
    </div>

    <ul class="list-dark">
        <li class="list-item">
            &#42;&nbsp;give or refuse consent on the adult’s behalf to any type of health care prescribed under section 34 (2) (f ) of the Health Care
            (Consent) and Care Facility (Admission) Act;
        </li>
        <li class="list-item">
            &#42;&nbsp;make arrangements for the temporary care and education of the adult’s minor children, or any other persons who are
            cared for or supported by the adult;
        </li>
        <li class="list-item">
            &#42;&nbsp;may not be authorized to refuse consent to those matters in relation to the Mental Health Act set out in section 11 of the Representation
            Agreement Act;
        </li>

        <li class="list-item">
            &#42;&nbsp;must not consent to the provision of professional services, care or treatment to the adult for the purposes of sterilization for
            non-therapeutic purposes
        </li>

        <li class="list-item">
            &#42;&nbsp;must not make or change a will for the adult
        </li>
    </ul>
</div>
