
<div class="headings">
    <div class="dark-heading">
        <h2>Meridian Affirmations for Tracing {{selectedMeridian.name}}</h2>
    </div>
</div>

<div class="text">
    <div class="dark-copu">
        As you trace your meridians you may wish to silently or say aloud the following affirmations.
    </div>
</div>

<div *ngIf="selectedMeridian.affirmations_list != null">
    <div class="list">
        <div class="clear-list" style="{{selectedMeridian.font_color}}">
            <li class="list-item" *ngFor="let line of selectedMeridian.affirmations_list.merAffirmations">
                <span>{{line}}</span>
            </li>
        </div>
    </div>
</div>

<div *ngIf="selectedMeridian.tracingText != null">
    <div class="list">
        <div class="clear-list" style="{{selectedMeridian.font_color}}">
            <li class="list-item" *ngFor="let line of selectedMeridian.tracingText.instruction">
                <span>{{line}}</span>
            </li>
        </div>
    </div>
</div>

<!-- Starts with Bladder -->
<div *ngIf="selectedMeridian.id===1">
    <iframe class="tracing-video-size" src="https://www.youtube-nocookie.com/embed/CFrJ11DJ-GE"
        frameborder="0" allow="accelerometer;
        autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="selectedMeridian.id===2">
    <iframe class="tracing-video-size" src="https://www.youtube-nocookie.com/embed/cuCHD-MXZuA"
        frameborder="0" allow="accelerometer;
        autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="selectedMeridian.id===3">
    <iframe class="tracing-video-size" src="https://www.youtube-nocookie.com/embed/w8tfuUVlFSU"
        frameborder="0" allow="accelerometer;
        autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="selectedMeridian.id===4">
    <iframe class="tracing-video-size" src="https://www.youtube-nocookie.com/embed/oHxZXh8n_no"
        frameborder="0" allow="accelerometer;
        autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="selectedMeridian.id===5">
    <iframe class="tracing-video-size" src="https://www.youtube-nocookie.com/embed/qem4HQFZC1U"
        frameborder="0" allow="accelerometer;
        autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="selectedMeridian.id===6">
    <iframe class="tracing-video-size" src="https://www.youtube-nocookie.com/embed/kw5JEUNHENQ"
        frameborder="0" allow="accelerometer;
        autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="selectedMeridian.id===7">
    <iframe class="tracing-video-size" src="https://www.youtube-nocookie.com/embed/xsGLDRWV_R8"
        frameborder="0" allow="accelerometer;
        autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="selectedMeridian.id===8">
    <iframe class="tracing-video-size" src="https://www.youtube-nocookie.com/embed/PxeD1U0RDI8"
        frameborder="0" allow="accelerometer;
        autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="selectedMeridian.id===9">
    <iframe class="tracing-video-size" src="https://www.youtube-nocookie.com/embed/0mrFrFPwN6M"
        frameborder="0" allow="accelerometer;
        autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="selectedMeridian.id===10">
    <iframe class="tracing-video-size" src="https://www.youtube-nocookie.com/embed/XuZ4QPDkq1E"
        frameborder="0" allow="accelerometer;
        autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="selectedMeridian.id===11">
    <iframe class="tracing-video-size" src="https://www.youtube-nocookie.com/embed/0_qi4o7PNP0"
        frameborder="0" allow="accelerometer;
        autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="selectedMeridian.id===12">
    <iframe class="tracing-video-size" src="https://www.youtube-nocookie.com/embed/Oza_Qr6euPk"
        frameborder="0" allow="accelerometer;
        autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>












