
<div class="self-assessment-form">
    <h1>COVID-19  CLEARANCE</h1>

    <div class="saf-group">
        <div class="saf-question">
            <span>(1)&nbsp;Are you experiencing any of the following symptoms?</span>
            <ul>
                <li>Severe difficulty breathing (example: struggling to breathe, hard to speak single words)</li>
                <li>Severe chest pain</li>
                <li>Difficulty waking up</li>
                <li>Feeling confused</li>
                <li>Losing consciousness</li>
            </ul>
        </div>

        <div class="saf-answer">
            <input type="radio" class="answer1"  value=true  name="truefalse1">Yes
            <input type="radio" class="answer1"  value="false" name="truefalse1">No
        </div>
    </div>

    <div class="saf-group">
        <div class="saf-question">
            <span>(2)&nbsp;Are you experiencing any of the following health conditions?</span>
            <ul>
                <li>Mild to moderate shortness of breath</li>
                <li>Inability to lie down because it is difficult to breathe</li>
                <li>Chronic health conditions that you are having difficulty managing</li>
            </ul>
        </div>

        <div class="saf-answer">
            <input type="radio" class="answer2" value=true  name="truefalse2">Yes
            <input type="radio" class="answer2" value="false" name="truefalse2">No
        </div>
    </div>

    <div class="saf-group">
        <div class="saf-question">
            <span>(3)&nbsp;Are you having any difficulties with any of the following?</span>
            <ul>
                <li>Fever</li>
                <li>Cough</li>
                <li>Sneezing</li>
                <li>Sore Throat</li>
            </ul>
        </div>

        <div class="saf-answer">
            <input type="radio" class="answer2" value=true  name="truefalse3">Yes
            <input type="radio" class="answer2" value="false" name="truefalse3">No
        </div>
    </div>

    <div class="saf-group">
        <div class="saf-question">
            <span>(4)&nbsp;Have you travelled to any countries outside Canada (including the U.S.A) within the last 14 days?</span>
        </div>

        <div class="saf-answer">
            <input type="radio" class="answer4" value=true  name="truefalse4">Yes
            <input type="radio" class="answer4" value="false" name="truefalse4">No
        </div>
    </div>

    <div class="saf-group">
        <div class="saf-question">
            <span>(5)&nbsp;Did you provide care for, or have you been in close contact with a
            person with COVID-19 (probable or confirmed) while they were ill (cough, fever, sneezing, sore throat)?</span>
        </div>

        <div class="saf-answer">
            <input type="radio" class="answer5" value=true  name="truefalse5">Yes
            <input type="radio" class="answer5" value="false" name="truefalse5">No
        </div>
    </div>

    <div class="saf-group">
        <div class="saf-question">
            <span>(6)&nbsp;Did you have close contact with a person who travelled outside of Canada
            in the last 14 days who has become ill (cough, fever, sneezing or sore throat)?</span>
        </div>

        <div class="saf-answer">
            <input type="radio" class="answer6" value=true  name="truefalse6">Yes
            <input type="radio" class="answer6" value="false" name="truefalse6">No
        </div>
    </div>

    <div class="saf-group">
        <div class="saf-question">
            <span>(7)&nbsp;Have you been double vaccinated against Covid-19 with the accepted vaccines?</span>
        </div>

        <div class="saf-answer">
            <input type="radio" class="answer6" value=true  name="truefalse6">Yes
            <input type="radio" class="answer6" value="false" name="truefalse6">No
        </div>
    </div>

    <div class="saf-treatment-consent">
        <p>I consent to treatment, understanding the risks of receiving today's treatment during the pandemic.</p>

        <div class = "saf-sign">
            <div class = "saf-item saf-sign-here-text">Please sign here:</div>
            <div class="saf-item saf-sign-here-line">&nbsp;</div>

            <div class = "saf-item saf-dated-text">Dated:</div>
            <div class="saf-item saf-dated-line">&nbsp;</div>
        </div>
    </div>

    <div class="print-saf-forms-grid">
        <input type="button" class="print-forms-button" value="Print" onClick="window.print()">
    </div>
</div>


<!--        <h2>VIRUS PANDEMIC SELF-ASSESSMENT FORM</h2>-->

<!--  <h3>This self-assessment tool, developed with the B.C. Ministry of Health,
      will help determine whether you may need further assessment or testing for COVID-19.
      Please note, if any of the responses to the questions below are “yes”, treatment can not be provided.
  </h3>-->

