<div class="content">
    <div class = "topic-block">
        <div class="topic-left">
            <h1>{{title.toUpperCase()}}</h1>
        </div>

        <div class="topic-right">
            <img src="../../../../../../assets/images/meridians/meridiansIntro.jpg" alt="About Meridians" title="About Meridians">
        </div>
    </div>

    <div class="text">
        <div class="dark-copy">
            Like the arteries that pump oxygenated blood through your body and the veins that bring the C0&#8322; to your lungs, meridians are the 'vessels'
            that deliver the electrical charges of energy through your body.
            And just like clogged arteries, your meridian energy flow can become backed up or sluggish. The energy can even begin to flow backwards.
            Tracing them singly or in sequence frees and moves the energy forward.
        </div>
    </div>

    <div class="images">
        <img src="../../../../../../assets/images/meridians/yinEnergyFromEarth.jpg" title="Earth Energy" class="images">
    </div>

    <div class="text">
        <div class="dark-copy">
            As with your circulatory system this movement is constant. And as we accept oxygen from the outside world and release C0&#8322;
            into the world, we also receive Chi energy this way. YANG energy moves in from above and YIN energy rises up from the Earth. This energy
            flows through the meridians which bathe their respective organs, chakras and systems with fresh energy.
            It is a thriving, busy energy factory inside your body!
            <br><br>
            Although the meridians are broken into 12 specific types, based on the organs they serve it is really just one long meridian.
            If you observe closely you will see that where one meridian ends, the next begins very close to the
            last.  While the meridians travel deeply within the body, there are points where they move closer to the skin so there is less electrical resistance.
            These are the meridian acupuncture or acupressure points that we access to influence the meridians.
            When you trace meridians, your hands, as magnets, help to pull
            the energy along the intended pathways.
        </div>
    </div>

    <div class="headings">
        <div class="dark-heading">
            <h3>The Meridian Cycle</h3>
        </div>
    </div>

    <div class="text">
        <div class="dark-copy">
            While all meridians are always moving energy, each meridian has 2 hours out of 24
            where it is most active - known as high tide. For instance between 7:00 am and 9:00 am Stomach Meridian is at high tide, as it prepares
            to accept the food you give it - breaking your fast from the night of rest.
            <br><br>
            Ideally meridians are flowing consistently in their intended direction. But sometimes a meridian may flow backwards, or
            the energy may build up or not flow as strongly. Because of this some or all other meridians may be affected.
            In our modern world, Spleen is generally suffering from a lack of energy. This put simply, is because
            another our fight or flight meridian called Triple Warmer can steal energy from it.
            <br><br>
            Donna says it is no surprise that many Heart Attacks occur in the morning because if Spleen (9:00 am - 11:00 am) energy is low, it doesn't have
            sufficient energy to supply to Heart Meridian (11:00 am - 1:00 pm).  It is of course, much more complex than this and as practitioners we
            use many other tools to assess the energetic strength of a meridian.
        </div>
    </div>

    <div class="headings">
        <div class="dark-heading">
            <h3>The Yin and Yang of It</h3>
        </div>
    </div>

    <div class="text">
        <div class="dark-copy">
            Yang meridians are seldom under energy because they only are at work for short periods of time. Stomach,
            Large Intestine, Small Intestine, Gallbladder and Bladder only come into action when you are digesting
            food or liquids. So they have plenty of time to rest. Yin meridians on the other hand are always working.
            Your Heart can never stop and rest, nor can your Lungs, your Spleen, your Pericardium, Kidneys or your Liver.
            They must always be on, therefore they are the meridians more likely to burn out. So you can start to
            look at yourself in this way, how do I feel, what body part is crying for help, etc etc. In other words,
            you have to get in tune with what your body is telling you if you want to help it.
            In general, if you have pain, it is almost always over energy. If you are depressed or constantly tired, you can guess
            that your meridian energy is low.
        </div>
    </div>
</div>
