<div class = "topic-grid topic-think-about-needs topic-size">
    <h1>{{title}}</h1>
</div>

<div class = "screen-title pad-top-2">
    <h2>Your values should be valued</h2>
</div>

<div class = "content-dark-copy">
    <p>
        If you are the kind of person who would like anything and everything done in order to stay alive, you need to put that in
        writing. If you want to know every detail about your prognosis, you need to put that in writing. Life
        never goes according to schedule and in a health care emergency your voice may be drowned out, so put your wishes in writing.
        <br><br>
        Writing an Advanced Directive or Advanced Care Plan now can help you to be prepared for any future scenario. Do you want to know
        nothing, everything or somewhere in between? Would you want to be told if your doctors know that you will soon be facing death or
        would you rather hang on to not knowing? Would you accept any and all medications even if they make you too drowsy to communicate
        with your family? Or would you rather suffer some pain in order to still maintain some awareness and cognition? Would you be
        willing to try different types of alternative medical interventions? Or would you absolutely not want anything outside the
        medically approved box? And would you prefer to die in a hospital, a hospice, a care home or in your own home?
        <br><br>
        Are you the type of person who wants family all around you or do you find being alone or perhaps with just one other family
        member to be sufficient? If the latter is the case, should you consider writing down who you absolutely do NOT want at your
        bedside? Do you want to keep your diagnosis a secret or something only you and your spouse know about or would you want everyone
        to know so that they could offer their support? Perhaps you would want to name one family member to be your number 1 go-to person
        so that family bickering is kept to a minimum.
        <br><br>
        Perhaps you have never followed a religion but would still like religion to figure prominently in your death and funeral. Or on
        the opposite side, you may vehemently be opposed to having any kind of religious ceremony or funeral performed. Think about the
        setting of your last moments; do you want music, do you want grand-children in the room, do you want to be able to see the
        outdoors from your window? Are there smells that are offensive to you, what flowers do you loathe, are their any hospital staff
        who are upsetting you, what kind of physical touch do you like? Would you feel safe enough to talk about the visions you might be
        seeing - in other words you have a right to determine so many of these things that bring you comfort but you would be wise to
        write ... them ... down.
    </p>
</div>

<!-- opnes plan-wizard-popup -->
<div class="one-button-container pad-top-2">
    <button class = 'start-plan-button cursorPointer ' (click)="openModal()">START PLANNING NOW</button>
</div>


<div class="screen-quote">
    <p>
        &#8220;If you don't stick to your values when they are being tested, they are not values, they're hobbies.&#8221;
    </p>
    <span>
        Job Stewart
    </span>
</div>

<div class="content-images">
    <img src="../../../../assets/images/details/about/eolAdvocacy/beliefInDiety.jpg" title="What do you value?" alt="What do you value?">
</div>


<div class="screen-title">
    <h2>What do you most value about life?:</h2>
</div>

<ul class="content-dark-list infinity">
    <li class="list-item">Being able to carry out your day to day activities with minimal or no support.</li>
    <li class="list-item">Being pain free or at least feel as little discomfort as possible.</li>
    <li class="list-item">Having confidence that you still command respect from others.</li>
    <li class="list-item">Maintaining your self respect through your dress and appearance.</li>
    <li class="list-item">Trusting that the medical establishment listens to you.</li>
    <li class="list-item">Feeling valued and needed by your family and friends.</li>
    <li class="list-item">Being able to take care of your physical needs on your own.</li>
    <li class="list-item">Being strong enough mentally and physically to take on most challenges.</li>
    <li class="list-item">Enjoying your independence and privacy.</li>
    <li class="list-item">Knowing that you have the love and support of your family and friends.</li>
    <li class="list-item">Being a valued husband/wife, son/daughter, sister/brother etc.</li>
    <li class="list-item">Feeling that you have good relationships with people, with little conflict to resolve.</li>
    <li class="list-item">Believing that your life has purpose.</li>
    <li class="list-item">Enjoying your life and looking forward to the future.</li>
    <li class="list-item">Having a belief in God or a higher power that gives you strength.</li>
    <li class="list-item">Knowing that you have a strong intellect and are of sound mind.</li>
    <li class="list-item">Actively pursuing your hobbies and interests.</li>
    <li class="list-item">Being physically fit and able to do your outdoor activities.</li>
    <li class="list-item">Feeling mentally well and able to handle life's up and downs positively.</li>
    <li class="list-item">Acting as mediator when family conflicts arise, being counted on to resolve issues.</li>
    <li class="list-item">Being in complete control over your life and future, as much as possible.</li>
    <li class="list-item">Having total control over your finances.</li>
    <li class="list-item">Spending as much time with my family and friends as you want.</li>
    <li class="list-item">Feeling secure in your home, surrounding by my familiar things.</li>
</ul>

<div class="screen-quote">
    <p>
        &#8220;Thousands of candles can be lighted from a single candle, and the life of the candle will not be shortened.&#8221;
    </p>
    <span>
        Buddah
    </span>
</div>

<div class="content-images">
    <img src="../../../../assets/images/details/about/eolAdvocacy/advocatesPic.jpg" title="know your beliefs" alt="know your beliefs">
</div>


<div class="screen-title">
    <h2>What would make your life not worth living?:</h2>
</div>

<ul class="content-dark-list infinity">
    <li class="list-item">No longer being able to carry out your day to day activities without support from others.</li>
    <li class="list-item">Experiencing pain and discomfort pretty much all the time, with drugs no longer helping.</li>
    <li class="list-item">Feeling that you no longer command respect from others.</li>
    <li class="list-item">Having the medical establishment stop listening to you.</li>
    <li class="list-item">Feeling no longer valued or needed by your family and friends.</li>
    <li class="list-item">Being unable take care of your physical needs on your own.</li>
    <li class="list-item">Becoming too weak to mentally and physically to take on most challenges.</li>
    <li class="list-item">Losing your independence and your privacy.</li>
    <li class="list-item">Losing the love and support of your family and friends.</li>
    <li class="list-item">Feeling less valued as husband/wife, son/daughter, sister/brother etc.</li>
    <li class="list-item">Believing that you have too many family conflicts to ever resolve.</li>
    <li class="list-item">Believing that your life no longer has a purpose or you didn't fulfill it.</li>
    <li class="list-item">Knowing that your life no longer has a 'future' to it.</li>
    <li class="list-item">Losing your faith that there is any God.</li>
    <li class="list-item">Losing your intellectual capabilities, becoming forgetful and confused.</li>
    <li class="list-item">Being unable to enjoy your hobbies and interests.</li>
    <li class="list-item">Being unable to run, hike, walk or enjoy your outdoor activities.</li>
    <li class="list-item">Becoming deeply depressed and anxious all of the time.</li>
    <li class="list-item">Losing interest in family matters and/or conflicts.</li>
    <li class="list-item">Losing most or all of your control over your life.</li>
    <li class="list-item">Being unable to direct your own financial decisions.</li>
    <li class="list-item">Losing interest in the activities in the outside world.</li>
    <li class="list-item">Having to leave your home to go to a hospital, hospice or retirement home.</li>
</ul>

<div class="screen-quote">
    <p>
        &#8220;Bravery is the audacity to be unhindered by failures, and to walk with freedom, strength and hope in the face of
        things unknown.&#8221;
    </p>
    <span>
        Morgan Harper Nichols
    </span>
</div>

<div class="content-images">
    <img src="../../../../assets/images/details/about/eolAdvocacy/facingTheFuture.jpg" title="End of Life Planning Considerations"
         alt="End of Life Planning Considerations">
</div>

<div class="screen-title">
    <h2>Let's plan this together</h2>
</div>

<div class="content-dark-copy">
    <p> Follow this Plan Ahead wizard to help you organize your thoughts, beliefs, wishes and requests related to end of life planning.
        It may hurt a bit (like doing your taxes) but you once done, you can pat yourself on the back and reward yourself in any way you
        prefer to be rewarded :).
        <br><br>
        Choose your best answer for each of the 20 questions presented here. You can go back and change your answer at any
        time during the wizard session. However as we are not saving your data, you need to finish the wizard by saving the
        results as a PDF or printing it off to store away with your important papers.
        <br><br>
        <b>Benefits of completing this wizard:</b>
    </p>
</div>

<div class ="content-dark-list">
    <li class="list-item">you will (bravely) face the tough questions</li>
    <li class="list-item">you will be able to state your wishes clearly</li>
    <li class="list-item">you will understand your needs better</li>
    <li class="list-item">by taking charge, you leave nothing to chance</li>
    <li class="list-item">printed and stored, this can serve as your legal advanced care plan</li>
    <li class="list-item">placed along with your will, insurance and other papers, will make life easier for your family</li>
</div>

<!-- opens plan-wizard-popup -->
<div class="one-button-container pad-top-2">
    <button class = 'start-plan-button cursorPointer ' (click)="openModal()">START PLANNING NOW</button>
</div>
