<div id="modal-content-wrapper">
    <!-- LEGAL PREAMBLE -->
    <ng-container *ngIf="page === 0">
        <div class="screen-title pad-top">
            <h4><b>&nbsp; BRITISH COLUMBIA</b><hr></h4>
        </div>

        <div class="screen-title pad-top">
            <h5><b>&nbsp; REPRESENTATION AGREEMENT (SECTION 9)</b></h5>
        </div>

        <div class="content-dark-copy pad-top">
            <p>
                Made under Section 9 of the Representation Agreement Act.<br>
                The use of this form is voluntary. Be advised that this form may not be appropriate for use by all persons, as it provides
                only one option of
                how a Representation Agreement may be made. In addition, it does not constitute legal advice. For further information,
                please consult the
                <i>Representation Agreement Act</i> and Representation Agreement Regulation or obtain legal advice.
                <br><br>
                This form reflects the law at the date of publication. Laws can change over time. Before using this form, you should review
                the relevant
                legislation to ensure that there have not been any changes to the legislation or section numbers.
                <br><br>
                <b>NOTES RESPECTING THIS REPRESENTATION AGREEMENT MADE UNDER SECTION 9 OF THE REPRESENTATION AGREEMENT ACT</b>
                <br>
                The notes provided here are for the purpose of providing information only, and do not constitute legal advice.
                These notes are prepared for the purposes of this representation agreement form. They should not be considered a complete
                description of matters to be taken into account in making a representation agreement. A person making a representation
                agreement, or acting as a representative or alternate representative, should consult the Representation Agreement Act
                and the Representation Agreement Regulation to ensure that they understand their rights and duties.
            </p>
        </div>

        <div class="one-button-container">
            <button class="start-button" (click)="getNextPage()">START</button>
        </div>
    </ng-container>

    <ng-container *ngIf="page === 1">
        <app-choose-your-rep-wizard-header [rep]='rep'></app-choose-your-rep-wizard-header>

        <div class="screen-title pad-top-2">
            <h4><b>1. THIS REPRESENTATION AGREEMENT IS MADE BY ME, THE ADULT:</b></h4>
        </div>

        <div class="content-dark-copy pad-top">
            <p>
                'THE ADULT' means you as the person appointing your Representative(s). <br>
                Enter your full legal name, full address and the date that you are filling out, printing and having the document witnessed.
                If you want to
                leave the date to enter at the time when you can have the Reps and Witnesses together, erase this default date and enter the
                date later.
            </p>
        </div>

        <form #repNineForm="ngForm" novalidate>
            <div class="rep-form">
                <div class="error-message-block">
                    <ng-container *ngIf="errorMessage">
                        <div class="error-message">{{errorMessage}}</div>
                    </ng-container>
                    <ng-container *ngIf="!errorMessage">
                        <div class="error-message">&nbsp;</div>
                    </ng-container>
                </div>

                <div class="two-unequal-columns-block">
                    <label class="first-text-column" for="client_name">Your Name:</label>
                    <label class="second-text-column" for="legal_date">Date: (YYYY / MM / DD):</label>

                    <input [(ngModel)]="rep.client_name"  type="text" class="first-text-column required" id="client_name" name="name">
<!--                    <input [(ngModel)]="rep.signing_date"  type="text" class="second-text-column" id="legal_date" name="legalDate">-->

                    <input [(ngModel)]="rep.signing_date" type="text" class="second-text-column" id="legal_date"  name="legalDate"
                           mask="0000/00/00">

                          <!-- mask="0000/00/00"
                           oninput="this.value=value">-->
                </div>

                <div class="full-line-prompt">
                    <label class="first-text-column" for="client_address">Your Address:</label>
                    <input [(ngModel)]="rep.client_address"  type="text" id="txtArea" class="first-text-column required" id="client_address"
                           name="address">
                </div>
            </div>
        </form>
        <div class="two-buttons-container justify-content-end">
            <!-- was closeModal -->
            <button class="cancel-button" (click)="cancelWizard()">CANCEL</button>
            <button class="save-button " (click)="checkClientName()">NEXT</button>
        </div>
    </ng-container>

    <ng-container *ngIf="page === 2">
        <app-choose-your-rep-wizard-header [rep]='rep'></app-choose-your-rep-wizard-header>

        <div class="screen-title pad-top-2">
            <h4><b>2. REVOCATION OF PREVIOUS INSTRUMENTS:</b></h4>
        </div>

        <div class="content-dark-copy pad-top">
            <p>
                Note 1: If you have previously created a Representation Agreement you must revoke it by doing the following:
                <br>
                You must also give written notice of the revocation to each
                representative, each alternate representative, and any monitor named in that representation agreement.
                Revocation is effective when this notice is given, or on a later date stated in the notice.
                <br><br>
                Note 2: Effect of revocation on previous Representation Agreements
                <br>
                The revocation provision in this representation agreement will do all of the following:
            </p>
        </div>

        <div class="content-dark-list">
            <li class="list-item square"> if you have previously made a section 7 representation agreement that is still effective, it
                will be revoked;</li>

            <li class="list-item square">if you have previously made a section 9 representation agreement that is still effective, it
                will be revoked</li>
        </div>
        <div class="two-buttons-container justify-content-end">
            <!-- was closeModal -->
            <button class="cancel-button" (click)="cancelWizard()">CANCEL</button>
            <button class="save-button " (click)="getNextPage()">NEXT</button>
        </div>

    </ng-container>

</div>

        <!--


                 <div class="four-columns-block">
                     <label class="first-text-column" for="city">City/Town:</label>
                     <label class="second-text-column" for="postal">Postal Code (xxx-xxx):</label>

                     <label class="third-text-column" for="province">Province:</label>
                     <label class="fourth-text-column" for="country">Country:</label>

                     <input [(ngModel)]="model.client_city"  type="text" class="first-text-column required" id="city" name="city">

                     <input [(ngModel)]="model.client_postal" type="text"
                        mask="U0U-0U0"
                        class="second-text-column required" id="postal" name="postal" oninput="this.value = this.value.toUpperCase()">

                     <div class="form-group">
                         <select class="third-text-column required" id="province" required
                                 [(ngModel)]="model.client_province" name="province">
                             <option *ngFor="let prov of provinces" [value]="prov">{{prov}}</option>
                         </select>
                     </div>

                     <input [(ngModel)]="model.client_country" type="text" class="fourth-text-column required" id="country" name="country">
                 </div>

          &lt;!&ndash;       <div class="two-unequal-columns-block">
                     <label class="first-text-column" for="province">Province:</label>
                     <label class="second-text-column" for="country">Country:</label>

                     <div class="form-group">
                         <select class="first-text-column required" id="province" required
                             [(ngModel)]="model.client_province" name="province">
                             <option *ngFor="let prov of provinces" [value]="prov">{{prov}}</option>
                         </select>
                     </div>

                     <input [(ngModel)]="model.client_country" type="text" class="second-text-column required" id="country" name="country">
                 </div>&ndash;&gt;
             </div>

             <div class="two-buttons-container">
                 <button class="cancel-button" (click)="cancelClientInfo()">CANCEL</button>
                 <button class="next-second-button" (click)="checkClientNameAddress()">NEXT</button>
             </div>
         </form>
     </ng-container>-->
