
<div class="screen-title">
    <h3>Make an Advanced Care Plan to Stay In Charge</h3>
</div>

<div class="content-images">
    <img src="../../../../../assets/images/details/doulaWork/endOfLifeDocuments/acPlanDoc/advCarePlanPic.jpg">
</div>

<div class = "screen-copy">
    <p>
        By creating an Advanced Care Directive, you can state specifically which treatments and procedures you want your Representative
        to advocate for you. It provides another vehicle to letting them know what your wishes are. Your directive will be followed by
        the Health Care team as it pertains directly to the situation at hand.
        <br><br>
        If you are concerned that your wishes may not be followed by your Representative, you will need to state in the Advance Directive
        that your Health Care providers may act in accordance with your instructions without the consent of your Representative. You can
        even name the procedures you would like attempted as well as the treatments you would not want.
        <br><br>
        Life support and medical interventions include:
    </p>
</div>

<ul class = "content-dark-list infinity">
    <li class="list-item">Tube Feedings</li>
    <li class="list-item">Ventilators</li>
    <li class="list-item">Kidney Dialysis</li>
    <li class="list-item">Medications</li>
    <li class="list-item">CPR (Cardio Pulmonary Resuscitation)</li>
    <li class="list-item">Intubation</li>
    <li class="list-item">Breathing Machines?</li>
    <li class="list-item">DNR Orders</li>
</ul>

<div class = "content-dark-titles">
    <h2>Why Write an Advanced Directive?</h2>
</div>

<ul class = "content-dark-list infinity">
    <li class="list-item">You want to be in charge of your own health, life and death</li>
    <li class="list-item">Your realize that doing so now could lead to less family conflicts later</li>
    <li class="list-item">You want consistency in who cares for you</li>
    <li class="list-item">You want to eliminate added stress for your family</li>
</ul>

<div class="content-dark-copy">
    <p>
        If your Advance Directive doesn't include a proposed health care treatment then the person appointed as your Formal Substitute
        Decision Maker will be asked to make the decisions.
        <br><br>
        This means for example, if you don’t want to be intubated and it says so in your Directive you will not be. If your Directive
        doesn’t mention being intubated then the decision will be made by your Representative. If you don’t have a Representative, the
        decision will be made by the Health Care team.
    </p>
</div>

<div class = "content-dark-titles">
    <h2>Follow this Wizard to Create Your Plan</h2>
</div>

<div class="content-images">
    <img src="../../../../../assets/images/details/doulaWork/endOfLifeDocuments/acPlanDoc/advCarePlanWizard.jpg">
</div>
