<div class = "banner-topic-grid topic-end-of-life-planning topic-size">
    <h1>{{title}}</h1>
</div>

<div class="content-dark-titles">
    <h2>Thinking About the Stuff we Don't Want to Think About</h2>
</div>

<div class = "content-dark-copy">
    <p>
        If you are the kind of person who would like anything and everything done in order to stay alive, you also need to put that in
        writing. You may want to know every detail about every thing they put in your body, you too need to put that in writing. Life
        never goes according to schedule and in emergencies and in life, mistakes happen, papers get mislaid and the requests you have
        written down may not be able to be followed.
        <br><br>
        Still the Advanced Directive can help you to really think about a future scenario. Do you want to know nothing, everything or
        somewhere in between? Would you want to be told if your doctors know that you will soon be facing death or would you rather hang
        on to not knowing? Would you accept any and all medications even if they make you too drowsy to communicate with your family. Or
        would you rather suffer some pain in order to still maintain some awareness and cognition. Would you be willing to try different
        types of alternative medical interventions? Or would you absolutely not want anything outside the medically approved box? And
        would you like to die in a hospital, a hospice, a care home or in your own home?
        <br><br>
        Are you the type of person who wants family all around you or do you find being alone or perhaps with just one other family
        member to be sufficient? If the latter is the case, should you consider writing down who you absolutely do NOT want at your
        bedside? Do you want to keep your diagnosis a secret or something only you and your spouse know about or would you want everyone
        to know so that they could offer their support? Perhaps you would want to name one family member to be your number 1 go-to person
        (besides your Reps) so that family bickering is kept to a minimum?
        <br><br>
        Perhaps you have never followed a religion but would still like religion to figure prominently in your death and funeral. Or on
        the opposite side, you may vehemently be opposed to having any kind of religious ceremony or funeral performed. Think about the
        setting - as mentioned above, but within whatever setting you end up in, do you want music, do you want grand-children in the
        room, do you want to be able to see the outdoors, are their smells that are offensive to you, what flowers do you loathe, are
        their any hospital staff who are upsetting you, what kind of physical touch do you like? Would you feel safe enough to talk about
        the visions you might be seeing - in other words you have a right to determine so many of these things that bring you comfort but
        you would be wise to write ... them ... down.
    </p>
</div>

<div class = "content-dark-titles">
    <h2>Questions for Your Doctor</h2>
</div>

<ul class = "content-dark-list infinity">
    <li class="list-item">What stage is my health condition at?</li>
    <li class="list-item">How might my condition progress?</li>
    <li class="list-item">Can my condition affect my memory or ability to think for myself?</li>
    <li class="list-item">Will my condition become life threatening?</li>
    <li class="list-item">What life support or prolonging medical interventions might I need?</li>
    <li class="list-item">What does my doctor suggest I address in my Advanced Care Plan?</li>
    <li class="list-item">Should I accept or refuse CPR at my age?</li>
    <li class="list-item">Will medical interventions affect my everyday enjoyment of life as it is now?</li>
    <li class="list-item">Will interventions or treatments affect my mobility or my mental state?</li>
    <li class="list-item">Can I have a trial period of life prolonging medical interventions?</li>
    <li class="list-item">If there is no improvement, can I seek a natural death?</li>
    <li class="list-item">Do I have a right to accept or refuse life prolonging procedures?</li>
</ul>

<div class="content-images">
    <img src="../../../../assets/images/details/doulaWork/endOfLifePlanning/endOfLifeConsiderations.jpg"
         title="End of Life Planning Considerations"
         alt="End of Life Planning Considerations">
</div>

<div class="content-dark-copy">
    <p>
        We have made our own decisions throughout our life, what careers to follow, whether to have children, where to live etc. It makes
        complete sense that we should also be able to make detailed decisions about our death. The problem is that the subject can be
        upsetting for your or your family. Even if you want to discuss this, often times your family doesn’t want to go there with you.
        <br><br>
        However, without any kind of acknowledgement that we will all die some day and that it is wise to prepare for it ahead of time,
        we may fall victim to being ‘cared for’ that goes against of everything we believe in. Taking the time to write an Advanced Care
        Directive can save you and your family from the stress of having to make decisions that they might not even be aware that you are
        for or against. As long as you are capable of making your own health care decisions you will be the authority on your own behalf.
        <br><br>
        Think about the things in your life that you most value. Which of these things are so important to you that living without them
        would make you feel like life was no longer worth living? What could you learn to accept?
    </p>
</div>

<ul class="content-dark-list infinity">
    <li class="list-item">Being able to carry out my day to day activities without support or with minimal support.</li>
    <li class="list-item">Being pain free or at least with as little discomfort as possible.</li>
    <li class="list-item">Having confidence that I still command respect from others.</li>
    <li class="list-item">Maintaining my self respect through my dress and appearance.</li>
    <li class="list-item">Trusting that the medical establishment listens to me.</li>
    <li class="list-item">Feeling valued and needed by my family and friends.</li>
    <li class="list-item">Being able to take care of my physical needs on my own.</li>
    <li class="list-item">Being strong enough mentally and physically to take on most challenges.</li>
    <li class="list-item">Enjoying my independence and privacy.</li>
    <li class="list-item">Knowing that I have the love and support of my family and friends.</li>
    <li class="list-item">Being a valued husband/wife, son/daughter, sister/brother etc.</li>
    <li class="list-item">Feeling that I have good relationships with people, with little conflict to resolve.</li>
    <li class="list-item">Believing that my life has purpose.</li>
    <li class="list-item">Enjoying my life and looking forward to the future.</li>
    <li class="list-item">Having a belief in God or a higher power that gives me strength.</li>
    <li class="list-item">Knowing that I have a strong intellect and are of sound mind.</li>
    <li class="list-item">Actively pursuing my hobbies and interests.</li>
    <li class="list-item">Being physically fit and able to do my outdoor activities.</li>
    <li class="list-item">Feeling mentally well and able to handle life's up and downs positively.</li>
    <li class="list-item">Acting as mediator when family conflicts arise, being counted on to resolve issues.</li>
    <li class="list-item">Being in complete control over my life and future, as much as possible.</li>
    <li class="list-item">Having total control over my finances.</li>
    <li class="list-item">Spending as much time with my family and friends as I want.</li>
    <li class="list-item">Feeling secure in my home, surrounding by my familiar things.</li>
</ul>

<div class="content-dark-titles">
    <h2>What Would Make Your Life Not Worth Living?:</h2>
</div>

<ul class="content-dark-list infinity">
    <li class="list-item">No longer being able to carry out my day to day activities without support from others.</li>
    <li class="list-item">Experiencing pain and discomfort pretty much all the time.</li>
    <li class="list-item">Feeling that I no longer command respect from others.</li>
    <li class="list-item">Feeling unattractive in my own body.</li>
    <li class="list-item">Having the medical establishment stop listening to me.</li>
    <li class="list-item">Feeling no longer valued or needed by my family and friends.</li>
    <li class="list-item">Being unable take care of your physical needs on your own.</li>
    <li class="list-item">Becoming too weak to mentally and physically to take on most challenges.</li>
    <li class="list-item">Losing my independence and my privacy.</li>
    <li class="list-item">Losing the love and support of my family and friends.</li>
    <li class="list-item">Feeling less valued as husband/wife, son/daughter, sister/brother etc.</li>
    <li class="list-item">Believing that I have too many family conflicts to ever resolve.</li>
    <li class="list-item">Believing that my life no longer has a purpose.</li>
    <li class="list-item">Knowing that my life no longer has a 'future' to it.</li>
    <li class="list-item">Worrying that I didn't fulfill my life's purpose.</li>
    <li class="list-item">Losing my faith that there is any God.</li>
    <li class="list-item">Losing my intellectual capabilities, becoming very forgetful and confused.</li>
    <li class="list-item">I am unable to enjoy my hobbies and interests.</li>
    <li class="list-item">If I could no long run, hike, walk or enjoy my outdoor activities.</li>
    <li class="list-item">I am deeply depressed and anxious and drugs are no longer helping.</li>
    <li class="list-item">I lose interest in family matters and conflicts.</li>
    <li class="list-item">I lose most or all control over my life.</li>
    <li class="list-item">I am unable to direct my own financial decisions.</li>
    <li class="list-item">Losing interest in the activities in outside world.</li>
    <li class="list-item">Having to leave your home to go to a hospital, hospice or retirement home.</li>
</ul>

<div class="content-dark-titles">
    <h2>What Would You Want From an End of Life Doula?:</h2>
</div>

<ul class="content-dark-list infinity">
    <li class="list-item">Help with my day to day activities, allowing me to do whatever I can manage by myself.</li>
    <li class="list-item">To advocate for pain control and other comfort measures.</li>
    <li class="list-item">Ensure that I am treated with respect by the medical community.</li>
    <li class="list-item">Assist me in bathing and dressing comfortably but allowing me choices so I can look my best.</li>
    <li class="list-item">Speaking with family about my needs when I may not be able to ask for myself.</li>
    <li class="list-item">Act as a go between with whom I want at my bedside so I don't have to hurt their feelings.</li>
    <li class="list-item">Doing whatever is needed to help out, ie the dishes, walking the dog etc.</li>
    <li class="list-item">Encourage me to take on challenges even if they are mentally and physically taxing.</li>
    <li class="list-item">To know my end of life wishes with respect to how much or how little I want medical interventions that prolong my life.</li>
    <li class="list-item">Encourage open and respectful communications between my family and friends.</li>
    <li class="list-item">Help me to plan any legacy project I want to do, giving me ideas.</li>
    <li class="list-item">Helping ease conflicts between myself and family members.</li>
    <li class="list-item">Finding joy in everyday experiences, having a good sense of humor.</li>
    <li class="list-item">Be able to discuss my death openly without censorship.</li>
    <li class="list-item">Remain supportive and neutral no matter what my religious beliefs may be.</li>
    <li class="list-item">Be able to not take it personally if I show anger, anxiety and/or depression.</li>
    <li class="list-item">Help me continue to pursue my hobbies and interests.</li>
    <li class="list-item">Making the effort to help me be outdoor as much as possible.</li>
    <li class="list-item">Providing me with information about MaID if I ask for it.</li>
    <li class="list-item">Act as mediator when family conflicts arise as much as possible.</li>
    <li class="list-item">Making sure all my documents have been signed and saved in a known location.</li>
    <li class="list-item">Respect the level of information I want to convey about my illness to family and friends.</li>
    <li class="list-item">Protect me from anyone who might try to take advantage of my weakened status.</li>
    <li class="list-item">Schedule visits with family and friends as I request, including time limits.</li>
    <li class="list-item">Help me surround myself with things that I love, my photos, pictures, plants etc.</li>
    <li class="list-item">Know and support the kind of physical touch I like, hugs, hand holding or massage.</li>
    <li class="list-item">Understands that I would rather be pain free and unconscious or conscious with pain.</li>
    <li class="list-item">Educate my family about the dying process so they are less afraid.</li>
    <li class="list-item">Encourage my family to allow my grandchildren to be there when I die, if that is my choice.</li>
    <li class="list-item">Knows my favorite music, flowers, scents and knows the ones I do not want near me.</li>
    <li class="list-item">Share information with me about funerals, types of burials, cremation etc.</li>
    <li class="list-item">Help me write in a journal, write letters, cards, even my own obituary.</li>
    <li class="list-item">To be able to talk about my fears, my anger, my despair without judgement.</li>
    <li class="list-item">Help me include my same sex partner, even if my family objects.</li>
    <li class="list-item">Encourage my family to allow me to wear what I want even if it is conflicts with my gender.</li>
    <li class="list-item">Make up my home so that I can complete my life there if I choose to.</li>
    <li class="list-item">Encourage my family to pay attention to my cues for silence and join me in silence.</li>
    <li class="list-item">To be a gentle witness as I take my final journey.</li>
</ul>

