<div class="header-detail-image header-about-pract-image header-copy">
    <p>&#8220;{{quote}}&#8220;
    </p>
    <span>
        {{author}}
    </span>
</div>

<div class="screen-title pad-top-2">
    <h2>{{title}}</h2>
</div>

<div class="bio-grid pad-top-2">
    <img src="../../../../assets/images/details/about/practitioner/karenAllan.jpg" class="bio-image" title="Karen Allan"  alt="Karen Allan">

    <div class="bio-text">
        <h2><b>Karen Allan</b>
                <br>
                <a href="https://www.douglascollege.ca/programs-courses/continuing-education/health/courses/brev1100" target="_blank">
                    Certified End-of-Life Practitioner - Douglas College</a>
                <br>
                <a href="https://practitioner.edenmethod.com/practitioners/karen-gail-allan/" target="_blank">
                    Certified Advanced Energy Medicine Practitioner - Eden Method</a>
        </h2>

        <p>
            I chose to become an active member of the end-of-life care movement for so many reasons. When I was at the bedside of my dying
            brother, instead of feeling any sense of calmness or courage, I felt overwhelmed and useless - even scared of his anger.
            I was horrified by his pain and felt utterly incapable of helping him. I wanted to be braver than that.
            <br><br>
            When I witnessed the indifference to my mother's care - the nurse assigned to her completely ignored her and was annoyed by my
            mother's confusion and fear. When doctors would bristle at answering any of my questions related to her care. I wanted to be
            a stronger advocate than that.
            <br><br>
            It was the experience of missing out on meaningful closure when I lost people in my childhood. Of not being allowed to attend
            funerals. Of not being allowed to talk about the deceased in case it brought up too much pain. As if the pain wasn't already
            right under the surface. I wanted to be able to acknowledge these people of my past.
            <br><br>
            I want to help families not miss out on their chance to be brave, to be a strong advocate and to acknowledge what their loved
            one is going through.
        </p>
    </div>
</div>

<div class="bio-grid">
    <img src="../../../../assets/images/details/about/practitioner/saraCarter.jpg" class="bio-image" title="Sarah Carter"
         alt="Sarah Carter">

    <div class="bio-text">
        <h2><b>Sarah Carter</b>
            <br>
            <a href="https://www.interiorhomecare.ca/services/" target="_blank">
                Certified Nurse Care Aide - Interior Home Care Solutions</a>
        </h2>

        <p>
            I have been caring for the elderly, the infirm, young people with brain injuries and patients who have no support system. I
            put my whole heart and soul into their care. Every success they achieve is a success I feel. This makes me the luckiest
            person in the world.
            <br><br>
            It was upon hearing so many nightmarish stories from my client's families regarding the pain and helplessness they felt when
            supporting their loved ones that I started looking for additional ways to help.
            <br><br>
            I met Karen and she introduced me to the whole Positive Death Movement that is sweeping the world. I felt like it was the
            anchor I needed to expand on my health care practice. I consider myself a life long learner and there is no end to the
            fascinating stories, trials and tribulations I hear from my clients.
            <br><br>
            It may not be for everyone, but for me there is nothing morbid about it. It is the opposite, it is about providing
            the dying and their families with the knowledge and support to maintain their dignity and independence right to the very end.
        </p>
    </div>
</div>

<!--<div class="content-dark-copy pad-top-2">
    <p>

        <br><br>
        To book a consultation with Sara and Karen please click
        <a routerLink="/bookConsultation" fragment ="bookConsultationTop" style="cursor:pointer; text-decoration:none">here</a>.
        <br><br>
        As an Energy Medicine Practitioner, Karen has an in home practice available for patients and caregivers
        alike. Connect for a treatment <a href="https://www.mindworksenergymedicine.com/bookSession" target="_blank">here</a>.
    </p>
</div>-->

<div class="contact-grid">
    <div class="contact-text">
         <p>
            Both Karen and Sarah are up to date with their Basic First Aid training. Both have been cleared by The Criminal Records Review
            Program (CRRP) which completes vulnerable sector checks required by the Criminal Records Review Act. These checks protect children
            and vulnerable adults.
            <br><br>
            We can assist you with a myriad of issues concerning end of life. You may be a young couple who has their will tucked away
             but wants to make sure that anything should happen to them they have all their p's and q's dotted. You may be facing some
             life threatening challenges and need help with advance care issues and paperwork you may not even know you need. We
             can help in all those areas.
             <br><br>
             We also support you as a patient if you are going through end of life concerns. We are also there for the hard working
             caregivers who likely need support and relief. We will, if asked, help negotiate or support the intricate dance that
             happens between family members in times of crisis. And we will even water your plants and feed your dog. :)
             <br><br>
             Please contact us <a routerLink="/bookConsultation">to set up an appointment</a>. We provide long distance help via
             Zoom or Google Meet but we also provide consultations at your home.
        </p>
    </div>

    <div class="contact-image">
        <img src="../../../../assets/images/details/about/practitioner/karenAndSarah.jpg"
             title="Sarah Carter and Karen Allan"
             alt="Sarah Carter and Karen Allan
        Carter">
    </div>
</div>

<div class="screen-quote">
    <p>
        &#8220;There is no real ending. It's just the place where you stop the story.&#8221;
    </p>
    <span>
        Frank Herbert
    </span>
</div>
