<div class = "heading-topic-grid em-pain-help topic">
    <h1>{{title}}</h1>
</div>

<div class="full-length-titles">
    <h2>Energy Help for Pain</h2>
</div>

<div class="content-dark-copy">
    Using low energy magnets is a great way to help with pain and inflammation.
    Magnets align the cells to their optimal positions so that instead of being haphazard they line
    up north end of one cell to south end of another. They also releive congestion because when properly aligned
    they leave space between each, thereby allowing in more oxygen. Oxygen is needed for any kind of imflammation
    which is a common contributor to pain.
</div>

<div class="content-dark-titles">
    <h4>For Arthritic Pain</h4>
</div>

<div class="content-dark-copy">
    For this pain Connecting Heaven and Earth helps to create space vertically in your body. If you are not magnet sensitive,
    you can flip a low grade magnet over the area (north to south) to re-align the polarity. Once the cells are lined up
    properly space is allowed to flow between them easier. Do this for about 5 to 10 minutes. You can also sedate your Bladder meridian.
</div>

<div class="content-dark-titles">
    <h4>For a Painful Back</h4>
</div>

<div class="content-dark-copy">
    For this pain you can try sedating Kidney or Large Intestine. If you have a friend who can do this for you the
    Hopi Technique is also helpful for relieving pain.
</div>

<div class="content-dark-titles">
    <h4>For Burns</h4>
</div>

<div class="content-dark-copy">
    Burn pain can be relieved by doing a figure 8 pattern over the area. This is a common practice in China for burn victims. You can
    also do chakra clearings in the area affected or do all the Chakras. If you are not magnet sensitive you can tape a magnet over the area.
    Magnets also work over broken bones. Place one magnet above the break, one on it and one below it. Only keep magnets on if they feel
    comfortable, take them off if and when they begin to bother you (maximum time 8 hours).
</div>

<div class="content-dark-titles">
    <h4>For Chronic Pain</h4>
</div>

<div class="content-dark-copy">
    Chronic pain can be helped with identifying the meridian where the pain is and then sedating it. Pain is always an over-energized
    meridian. Pain chasing is also effective but rather complicated but basically involves pushing the pain down the limb from proximal
    to distal (so from shoulder down to fingers etc.). The Hopi technique is also useful if you have a friend to do this on you. As well
    they can perform the Brazilian Toe protocol which draws the pain down through the body to the tips of your toes, down through the
    practitioners fingers and into the Earth.
</div>

<div class="content-dark-titles">
    <h4>For Fibromyalgia</h4>
</div>

<div class="content-dark-copy">
    As well as having the Hopi technique, you can strengthen Liver and Spleen. Fibromyalgia is under energy Liver and Spleen. Doing the
    energy exercises also helps to slowly bring back strength to your body.
</div>

<div class="content-dark-titles">
    <h4>For Painful Hamstrings</h4>
</div>

<div class="content-dark-copy">
    You can clear your lower chakras - Root, Sacral and Solar Plexis chakras. Clear these starting with Root. Circle your hand over your pubic area in
    a counter clockwise movement. This pulls energy out of the Chakra. Do this for three minutes or until you feel the heaviness lifting. I find
    my left hand is more sensitive. After it clears bring in fresh energy by circling clockwise for a minute or so.
    <br><br>
    You can also try sedating your Large Intestine meridian. Zone tapping can also be effective. Stretch the area with gentle yoga exercises and
    by doing Heaven and Earth. Spindle cell pinch by gently pinching the area of pain.
</div>

<div class="content-dark-titles">
    <h4>For Painful Joints</h4>
</div>

<div class="content-dark-copy">
    Stretch the joints with the Heaven and Earth exercise. Spindle cell pinch by gently pinching the area of pain. If you have Tendinitis
    you can try sedating Liver meridian.
</div>

<div class="content-dark-titles">
    <h4>For Muscle Pain</h4>
</div>

<div class="content-dark-copy">
    Stretch the joints with the Heaven and Earth exercise. Spindle cell pinch the muscle by gently pinching the area of pain. Find the
    meridian that flows through that muscle and sedate that meridian. You can also hold the Neurovascular points related to that meridian
    while you hold the area of pain with the other hand. This can be done for Phantom Limb pain as well.
</div>

<div class="content-dark-titles">
    <h4>For Localized Pain</h4>
</div>

<div class="content-dark-copy">
    There are many ways to relieve localized pain. You can sedate the meridian that flows through the area of pain. You can use
    magnets to move the pain out. You can stretch, tap, figure 8 and spindle cell pinch the area while you breathe deeply.
    You can clear the chakra in the area of pain, do zone tapping, pain chasing or siphoning. For siphoning you simply
    draw the energy down and out of the body.
</div>

<div class="content-dark-titles">
    <h4>For pain in the arms, hands, joints, elbows and wrists</h4>
</div>

<div class="content-dark-copy">
    For pain in the arms, hands, joints, elbows, wrists including Carpal Tunnel try a technique Donna Eden calls
    Spindle Cell Pinching. Lightly pinch the center area where the pain is located but do not do this over an open wound. Make tiny
    light pinches up and down the area for about 20 seconds.
</div>

<div class="content-dark-titles">
    <h4>For relieving tension in your head</h4>
</div>

<div class="content-images">
    <img src="../../../../assets/images/energyMedicine/pain/crownPull.jpg" alt="Crown Pull" title="Crown Pull"/>
</div>

<div class="content-dark-copy">
    You need to know North from South because you only want to put the North side of a magnet on your body. You
    must avoid putting them directly on or near your spine.
    To align to the Earth you can tape the magnets to
    the bottoms of your feet so that the south side faces the earth. You can also simply spin a magnet around
    your feet, in and out between the toes, on the foot bottoms, weaving back and forth out to about 6 inches.
</div>

<div class="content-images">
    <img src="../../../../assets/images/energyMedicine/pain/buttonMagnets.jpg" alt="Button Magnets" title="Button Magnets"/>
</div>

<div class="content-dark-copy">
    I have found that applying small magnet 'buttons' to areas where rashes appear, which are a result of
    inflammation. They can take away the itch allowing the area time to heal.
</div>

<ul class="content-dark-list">
    <li class="list-item">Place your fingers vertically at the inner side of your eye</li>
    <li class="list-item">The pointers lie at your hairline and the pinkies lay at the bridge of your nose</li>
    <li class="list-item">Stretch your forehead by sliding your fingers to the sides till you reach the temples</li>
    <li class="list-item">Continue pulling until your hands meet at the back of your head</li>
    <li class="list-item">Move your hands back to the top of your head and stretch across your scalp</li>
    <li class="list-item">Dig in as you go and release the tension from your scalp</li>
    <li class="list-item">Continue moving along your scalp to the top of your head stretching as you go</li>
    <li class="list-item">Spread your fingers from the middle of the back of your head to your ears</li>
    <li class="list-item">When you get to your neck, stretch it deeply and land on your shoulders</li>
    <li class="list-item">Hold your hands on the tops of your shoulders, dig in and release the tension</li>
</ul>

<div class="content-dark-titles">
    <h4>Testing for Magnet Sensitivity</h4>
</div>

<div class="content-dark-copy">
    Although these magnets are very low wattage and are very safe, some people are sensitive to them. As
    well, when you wear them, keep aware of any anxiety or discomfort that means it's time to take them off.
</div>

<div class="content-images">
    <img src="../../../../assets/images/energyMedicine/pain/howMagnetsWork.jpg" alt="Magnet Therapy" title="Magnet Therapy"/>
</div>

<div class="content-dark-copy">
    You can generally put the North side of a magnet on your skin for up to 8 hours. The South side is
    another matter,
    because it disperses energy outwards, it should only be used with great caution, basically leave it's
    use up to a practitioner.
</div>

<ul class="content-dark-list">
    <li class="list-item">Hold the magnet about 2 feet from your body</li>
    <li class="list-item">Test by using your body as a pendulum</li>
    <li class="list-item">If you fall forward, you are okay</li>
    <li class="list-item">If you start to lean backwards, you are sensitive</li>
    <li class="list-item">If ok, continue testing as you bring the magnet closer to your core</li>
    <li class="list-item">If you are still leaning forwards you should be okay to use magnets</li>
    <li class="list-item">If you feel any physical discomfort, skip the magnet use</li>
</ul>

<div class="content-quote">
    <p>
        &#8220;Spooning resets the magnetic polarization of the feet to its proper N-S orientation.&#8220;
    </p>
    <span>Donna Eden</span>
</div>

<div class="content-dark-titles">
    <h4>Help for Painful Restless Leg Syndrome</h4>
</div>

<div class="content-dark-copy">
    A good technique for 'restless leg syndrome' - trapped leg energy - is to rub down your arms and press
    and massage each finger. Rub down your legs and then move to your feet-
    paying lots of attention to the areas between your fingers and toes. There are lots of meridian
    end and beginning points in the feet and hands. This helps release all that built up energy that
    makes Restless Legs so uncomfortable.
</div>

<div class="content-images">
    <img src="../../../../assets/images/energyMedicine/pain/spoonFeet.jpg" alt="Spooning your Feet" title="Spooning your Feet"/>
</div>

<div class="content-dark-copy">
    Finish with spooning your feet. Use a stainless steel spoon which acts like a very low grade magnet and
    rub the back of the spoon all over the underside of your feet. If you want to try taping a magnet (north side to
    skin) to the bottoms of your feet you can also give this a try. This grounding ritual is a great thing to add
    to your pre-bedtime ritual.
</div>

<div class="content-dark-titles">
    <h4>Relieve Inflammation in Your Digestive System</h4>
</div>

<div class="content-dark-copy">
    Digestive issues can range from the occasional bout of heartburn after a spicy meal to Irritable Bowel Syndrome to Chrohns disease to Cancer of the Colon.
    Clearly our digestive tract is important to take care of. Every nutritionist out there says diet, diet, diet, but what kind of diet actually works for these
    myriad of complaints?
    <br><br>
    I am not a dietician or nutritionist but I did notice the changes in my digestion once I stopped eating beef, pork, fish, eggs, milk and poultry. I used to
    have night-time bouts of diahrrea that only Imodium could help. Now well now - I never have this problem.
    <br><br>
    I am not saying you necessarily have to become a vegan to sort out your digestive issues but we all do know that red meat tends to get stuck in
    the large intestine forming "pouches". This can lead to conditions like diverticulitis when these pouches become infected or inflammed. NutritionFacts.org
    says that "with a typical Western diet, up to 12 grams of protein can escape digestion, and when it reaches the colon, it can be turned into toxic substances
    like ammonia. This degradation of undigested protein in the colon is called putrefaction; so,
    a little meat can actually end up putrefying in our colon. The problem is that some of the by-products of this putrefaction process can be toxic."
    They go on to say "Because of animal protein and processed food intake, the standard American diet may contain five or six times more sulfur than a diet centered
    around unprocessed plant foods. This may help explain the rarity of inflammatory bowel disease among those eating traditional whole food, plant-based diets".
    <br><br>
    So as with everything, in order to study yourself you need to do little experiments on yourself. Go a day without eating, just drinking water (if it is okay with
    your doctor) and see how you feel the next day. Or cut out carbs or meat or alchohol for a bit and see if anything improves. I thought all the beans I ate might
    produce a lot of gas (ahem) but after the first few weeks (ahem) I have not had any issues.
    <br><br>
    So diet and experimentation is important. Please remember that your doctor has about 4 hours of nutritional training in all her or his years of study. There are
    lots of unhealthy doctors! I find other people's stories to be the best teacher, check out YouTube, Reddit and other social media sites to find people to share with.
    <br><br>
    As for me, I am vegan but I am not a puritan about it. I love olive oil and avocados and nachos and I eat the faux meats, milks and cheeses. I also fast. Right now as I
    write this, I am doing the fasting method OMAD (one meal a day). I have lost some stubborn weight and I can finally see my ribs peeking out again. At present
    I eat 4 days of OMAD and then Friday to Sunday I play it by ear.
    <br><br>
    The success of fasting for weight loss is
    The great thing about fasting is you can start and stop at any time and you can do it around your schedule. Don't beleive the media that says you will be a little waif, I am
    really active and since coffee is allowed, I don't get the headaches they warn you about.
    I find it super easy to skip breakfast and lunch and I enjoy preparing dinner more as it is more of an event. So .. enough about food.
</div>

<div class="content-dark-titles">
    <h4>We Can't Ignore our Stress</h4>
</div>

<div class="content-dark-copy">
    HopkinsMedicine.org says this about your digestive system: "Hidden in the walls of the digestive system, this “brain in your gut”
    is revolutionizing medicine’s understanding of the links between digestion, mood, health and even the way you think.
    Scientists call this little brain the enteric nervous system (ENS). And it’s not so little. The ENS is two thin layers of
    more than 100 million nerve cells lining your gastrointestinal tract from esophagus to rectum."
    <br><br>
    "ENS may trigger big emotional shifts experienced by people coping with irritable bowel
    syndrome (IBS) and functional bowel problems such as constipation, diarrhea, bloating, pain and stomach upset."
    <br><br>
    Jay Pasricha, M.D., director of the Johns Hopkins Center for Neurogastroenterology, has this to say about ENS:
    “The enteric nervous system doesn’t seem capable of thought as we know it, but it communicates back and forth
    with our big brain—with profound results. For decades, researchers and doctors thought that anxiety and depression contributed
    to these problems. But our studies and others show that it may also be the other way around,” Pasricha says. Researchers are finding evidence
    that irritation in the gastrointestinal system may send signals to the central nervous system (CNS) that trigger mood changes.
    <br><br>
    “These new findings may explain why a higher-than-normal percentage of people with IBS and functional bowel problems develop depression and
    anxiety,” Pasricha says. “That’s important, because up to 30 to 40 percent of the population has functional bowel problems at some point.”
    <br><br>
    In other words, these digestive illnesses may be <b>causing</b> the anxiety and depression you feel, not the other way around (that anxiety and
    depression contribute to digestive problems). That being said, both areas need to be worked with.
</div>

<div class="content-dark-titles">
    <h4>How Energy Medicine can Help</h4>
</div>

<div class="content-dark-copy">
    Medicine is now treating the out of balance ENS by prescribing anti-depressants and cognitive therapies. They say these therapies and drugs work on
    calming the ENS which then communicates more 'all is well' to the brain. So your anxiety triggers your out of control digestive system's nervous system and your
    unbalanced ENS triggers your anxiety. So we want to help not just with anxiety and depression symptoms but we want to work with all of the organs and meridians
    that make up your digestive system.
</div>

<div class="content-dark-titles">
    <h4>Digestive Tract Meridians</h4>
</div>

<div class="content-dark-copy">
    The Meridians are named for the organs they protect and serve. So there is a Spleen (Pancreas) Meridian, a Large Intestine Meridian, a Small Intestine Meridian,
    a Gallbladder Meridian, a Liver Meridian and a Stomach Meridian. Spleen and Liver are YIN meridians. This means that they are always working, processing,
    transferring nutrients, maintaining balance. They are never off duty. Large and Small Intestines, Gallbladder and Stomach Meridians are YANG - they work
    when needed (when we eat) and rest when not needed.
    <br><br>
    We know that, in general that if YANG meridian's organs are your problem they are likely over energy. If YIN meridian's organs are your issue they are likely under energy.
    This is important because we can test for these assumptions and then either take out the excess or add in more energy respectively. We do this with
    various means, working on the meridian points via tapping, tracing, acupressure or massage. We can also work on the meridians by treating their
    Neurovascular and Neurolymphatic points. Deep massage techniques can move the energy as can just holding points. And we can also do a treatment that
    takes energy out, puts more in and then stops the process.
    <br><br>
    Sedate your problem meridian to relieve your pain. See <a routerLink="/discoverMeridians">the meridians page</a> to find out how to sedate.
</div>

<div class="content-dark-titles">
    <h4>Hold your toes to release the tension</h4>
</div>

<div class="content-images">
    <img src="../../../../assets/images/energyMedicine/pain/brazilianToe.jpg" alt="Brazilian Toe" title="Brazilian Toe"/>
</div>

<div class="content-dark-titles">
    <h4>Help for Heartburn</h4>
</div>

<div class="content-dark-copy">
    The Stomach's meridian begins under the eyes and ends at the second toe. This is a top-down flow.
    With Heartburn your stomach acid is travelling back up your Esophagus. This is obviously backwards to Stomach's
    ideal meridian flow.
    Try to fix your Heartburn by tracing Stomach forward 3 times to get it flowing correctly again. You may have to
    repeat this process multiple times until Stomach gets the message.
</div>





