
<div class = "topic-grid topic-documents-to-sign topic-size">
    <h1>{{title}}</h1>
</div>

<div class="screen-title pad-top-2">
    <h2>Requesting to Die at Home</h2>
</div>

<div class="content-dark-copy pad-top-2">
    <p>
        If you are a “frail elder” meaning you are still of sound mind and health but you do need help with your daily care,
        meals and house-keeping then it is even more essential to think ahead. Your family may be pressuring you to move into a
        care home, but you may wish, as most do, to stay at home till the very end. In that case you should know about E.D.I.T.H.
        (Expected Death in the Home) that allows you to ask to die at home when the time comes.
        <br><br>
        You have lived in your home and you want to die there, if feasible. Filling out the E.D.I.T.H. form makes your
        wishes known to both your family and the medical team.
    </p>
</div>

<div class = "content-dark-copy">
    <p>
        You have the choice to die at home if the request is a reasonable one, if your family supports it and if approved by your Doctor.
        You must have completed the No CPR Form in order to pursue this avenue. To read about the
        implications of having CPR performed on yourself please see <a routerLink="/completeCPR"> Understanding CPR</a> page. A No CPR
        form can be downloaded from that page.
    </p>
</div>

<div class = "content-dark-copy">
    <p>
        The EDITH Form presented here is a screen shot only that allows you to read what the form entails prior to downloading it yourself.
        <br><br>
        You can download the <a href = "https://www2.gov.bc.ca/assets/gov/health/forms/3987fil.pdf" target= new>
        A Notification of an Expected Death in the Home</a> form here.
        <br><br>
        It must be completed by the your physician or a nurse practitioner and then sent to the funeral home before your death.
        <br><br>
        (please note that web pages can and may be moved at any time but this download link was valid at time of this writing.
    </p>
</div>

<div class="screen-images with-dark-border margin-top-2">
    <img src="../../../../assets/images/details/planning/endOfLifeDocuments/edith.jpg" title="Want to die at home"
         alt="Want to die at home"/>
</div>

<div class = "content-dark-copy">
    <p>
        It states:<br>
        "This form allows a Funeral Director to remove your body from a home without pronouncement of death. Pronouncement of death is
        not required by BC Law, although it is widely recognized that pronouncement is sound clinical and ethical practice for nurses and
        physicians."
        <br><br>
        "There may be circumstances when pronouncement is difficult or families choose to waive pronouncement. If a person dies in British
        Columbia, the death must be registered with the Vital Statistics Agency. A Medical Certificate of Death form is completed by the
        physician within 48 hours after a death. The medical certificate of death is forwarded to the funeral director who will register
        the death. The funeral director can then issue a death certificate and burial permit."

        <br><br>
        There is also a
        <a href="https://www.consumerprotectionbc.ca/wordpress/wp-content/uploads/2017/08/Private-Transfer-Permit-Application.pdf" target="_blank">                    Private Transfer Permit
        </a>
        form that allows family to transport their loved one"s body to the funeral home or crematorium. This may seem strange, but it
        allows families to gather and have more time with the deceased, perhaps to have a wake or some other kind of ritual.
    </p>
</div>

<!--<div class="content-images">
    <img src="../../../../../assets/images/details/doulaWork/endOfLifeDocuments/edithDoc/privateTransfer.jpg" title="Transfer Body" alt="Transfer Body">
</div>-->


