
<div class="content">
    <div class = "topic-block">
        <div class="topic-left">
            <h1>{{title}}</h1>
        </div>

        <div class="topic-right">
            <img src="assets/images/support/practitioner/sessionInfoHeading.jpg" alt="Energy Session Info" title="Energy Session Info">
        </div>
    </div>

    <div class="inner-content">
        <div class="dark-copy">
            Please download and fill out these  <a routerLink="/book"><b>Intake Forms</b></a> and bring them with you
            or snap a photo and attach them in an email or text.
            <br><br>
            Wear comfortable, loose clothing, with clean feet and socks. Please avoid using perfumes or colognes. I
            generally have an atomizer with a nice aromatherapy scent but if you are allergic please let me
            know ahead of time and I will not use it.
            <br><br>
            You are fully clothed throughout the process. Initially I will take your health history and treatment goals
            and discuss with you what you would like me to help you with. I will test your basic energies using
            your arms, or body or other method to assess them. Please let me know if you have any injuries or weak areas
            so I can avoid them.
            <br><br>
            A session is approximately 90 minutes. If it is a first session, you need to fill out and save two
            <a routerLink="/book"><b>Intake Forms</b></a>. They include a Basic Intake form and a COVID-19 questionnaire.
            That way, with the paperwork out of the way, we can get started
            right away. I will test your basic energy systems, like polarity, grounded-ness, if your energy is crossing
            over properly etc. Then I may check your Aura, Chakras or Meridians for energetic robustness and flow.
            And as I said earlier, it is at about 15 minutes in that I start to gather an idea of where to go, based
            on where the client's energy systems are leading me. That is the amazing and fun part of energy work!
        </div>

        <img src="assets/images/support/practitioner/sessionInfoPic.jpg" class="images" alt="Energy Treatments" title="Energy Treatments">

        <div class="dark-copy">
            After testing, I will perform an energy balancer that is very much like a massage. As I go, I will be
            assessing for energy blockages, over-energy, under-energy and leaks and tears in your surrounding Aura.
            As I have said, I simply follow where the energy takes me so no two sessions are alike!
            <br><br>
            Distance sessions are done over Zoom or Skype and while there is obviously no hands on work, can still be
            very beneficial. It puts much more emphasis on the client learning how to perform many of the techniques
            themselves. I am still offering 60 or 90 minute distance sessions for anyone who is not in my area, who can't get around,
            who is wisely keeping themselves isolated from Covid.
        </div>
    </div>
</div>













