<!--

<div class = "topic-inline-grid with-underline">
    <div class="topic-left">
        <h1>{{title}}</h1>
    </div>

    <div class="topic-right">
        <img src="/assets/images/wizard/wizardIntro.jpg" alt={{title}} title={{title}}>
    </div>
</div>

<div class = "content-no-margins" id="wizard-tsdm">
    <div class="dark-heading">
        <h1>Temporary Substitute Decision Maker</h1>
    </div>

    <div class="dark-copy">
        Follow the wizard to choose your Temporary Substitute Decision Maker. It may hurt a bit but you can stop anytime and come back whenever you
        are ready. Once done, pat yourself on the back and reward yourself in any way you prefer to be rewarded :).
        <br><br>
        You should choose one TSDM and an alternate TSDM. Choose them by selecting the checkbox next to their name.
    </div>

    <div class = "wizard-container">
        <div class = "wizard-grid">
            <div *ngIf="page === 0">
                <div class="show-page">
                    <h2>Assign your Temporary Substitute Decision Maker (TSDM)</h2>

                   &lt;!&ndash; <div class="wizard-checkbox-grid">
                        <div class="check-one"><input type="checkbox"  name="spouse" value="SPOUSE">MY SPOUSE</div>
                        <div class="check-two"><input type="checkbox">MY ADULT CHILDREN</div>
                        <div class="check-three"><input type="checkbox">MY PARENTS</div>
                        <div class="check-four"><input type="checkbox">MY SIBLINGS</div>
                        <div class="check-five"><input type="checkbox">MY GRANDPARENTS</div>
                        <div class="check-six"><input type="checkbox">MY GRANDCHILDREN</div>
                        <div class="check-seven"><input type="checkbox">ANYONE ELSE RELATED BY BIRTH OR ADOPTION</div>
                        <div class="check-eight"><input type="checkbox">CLOSE FRIEND</div>
                        <div class="check-nine"><input type="checkbox">ANYONE ELSE RELATED BY MARRIAGE</div>
                        <div class="check-ten"><input type="checkbox">DO NOT CHOOSE!</div>

                    </div>
&ndash;&gt;
                    <div class="page-overview">
                        If you are in an accident or suffer a critical illness and end up in Emergency and are incapable of
                        answering for yourself, the first thing the hospital will look for is information about your next of kin.
                        They will start at the top of the TSDM list that is set by law. If the first person on that list
                        is not qualified or available to advocate for you, they will then move down the list.
                        By law they must go by the hierarchy set out on this form which is:
                        <br><br>
                        Spouse > Adult Children if any > Parents > Siblings > Grandparents > Grandchildren > Others Related by Birth or Adoption >
                        Close Friend(s) and Others related by marriage. There is also a place to enter one or two people who you DO NOT
                        wish to have any say over your health or well-being.
                        <br><br>
                        To qualify as a TSDM, the people placed on the list must be 19 or over, be mentally capable of making decisions,
                        have no dispute with you and have been in contact with you within the year before you need care.
                        <br><br>
                        The wizard displays this same list. If you don't want to select a
                        person, press NEXT and move on. When you find the one(s) you want as your advocate, fill in their
                        information. In order to complete and print the form you need to select one advocate. You can go back, start over
                        or skip ahead. Just find your one and you are TSDM done! To learn more about TSDM
                    </div>
                </div>

                <div class="start-button-container pad-top">
                    <button class="next-button"(click)="getNextPage()">START</button>
                </div>
            </div>

            <div *ngIf="page === 1">
&lt;!&ndash;                <div class="wizard-steps">&ndash;&gt;

&lt;!&ndash;                    <img src="/assets/images/wizard/stepsBackgroundPageOne.jpg" alt=steps title=steps>&ndash;&gt;
          &lt;!&ndash;      <div class="wizard-checkbox-grid">
                    <div class="check-one"><input type="checkbox">#1</div>
                    <div class="check-two"><input type="checkbox">#2</div>
                    <div class="check-three"><input type="checkbox">#3</div>
                    <div class="check-four"><input type="checkbox">#4</div>
                    <div class="check-five"><input type="checkbox">#5</div>
                    <div class="check-six"><input type="checkbox">#6</div>
                    <div class="check-seven"><input type="checkbox">#7</div>
                    <div class="check-eight"><input type="checkbox">#8</div>
                    <div class="check-nine"><input type="checkbox">#9</div>
                    <div class="check-ten"><input type="checkbox">#10</div>
                    <div class="check-eleven"><input type="checkbox">#11</div>
                    <div class="check-twelve"><input type="checkbox">#12</div>
                </div>&ndash;&gt;

                <div class="show-page">
                    <h2>#1: Enter your full name and today's date:</h2>

                    <div class="page-overview">
                        You must enter your full legal name along with today's date.
                    </div>

                    <div class="tsdm-grid">
                        <div class="two-unequal-columns-block">
                            <label class="first-text-column" for="name">Your Name:</label>
                            <label class="second-text-column" for="date">Date:</label>

                            <input #client_name type="text" class="first-text-column" id="name" name="name">
                            <input #client_date type="text" class="second-text-column" id="date" value={{now}} name="todaysDate">
                        </div>

                        <div class="cancel-save-buttons-container">
                            <button class="cancel-button" (click)="cancelWizard()">CANCEL</button>
                            <button class="save-button" (click)="saveClientNamePhone(client_name.value, client_date.value)">SAVE</button>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="page === 2">
               &lt;!&ndash; <div class="wizard-steps">
                    <img src="/assets/images/wizard/stepsBackgroundPageTwo.jpg" alt=steps title=steps>
                </div>&ndash;&gt;
                <div class="wizard-checkbox-grid">
                    <div class="check-one"><input type="checkbox"  name="spouse" value="SPOUSE">MY SPOUSE</div>
                    <div class="check-two"><input type="checkbox">MY ADULT CHILDREN</div>
                    <div class="check-three"><input type="checkbox">MY PARENTS</div>
                    <div class="check-four"><input type="checkbox">MY SIBLINGS</div>
                    <div class="check-five"><input type="checkbox">MY GRANDPARENTS</div>
                    <div class="check-six"><input type="checkbox">MY GRANDCHILDREN</div>
                    <div class="check-seven"><input type="checkbox">ANYONE ELSE RELATED BY BIRTH OR ADOPTION</div>
                    <div class="check-eight"><input type="checkbox">CLOSE FRIEND</div>
                    <div class="check-nine"><input type="checkbox">ANYONE ELSE RELATED BY MARRIAGE</div>
                    <div class="check-ten"><input type="checkbox">DO NOT CHOOSE!</div>
                </div>

                <div class="show-page">
                    <h2>TSDM for {{clientName}}</h2>
                    <h3>#2: Choose or Skip Spouse:</h3>

                    <div class="page-overview">
                        Your spouse can be common-law or legally married to you. The length of time that you have
                        been together is not relevant. If you want to save this person as your TSD Maker, then
                        enter their information here and click SAVE. If you don't
                        want this person as your advocate, press SKIP to continue in your choices.
                    </div>

                    <div class="tsdm-grid">
                        <div class="two-unequal-columns-block">
                            <label class="first-text-column" for="spouse_name">Spouse's Name:</label>
                            <label class="second-text-column" for="spouse_phone">Phone:</label>

                            <input #spouse_name type="text" class="first-text-column" id="spouse_name" name="name">
                            <input #spouse_phone type="text" class="second-text-column" id="spouse_phone" name="phone">
                        </div>

                        <div class="cancel-save-next-buttons-container">
                            <button class="cancel-button" (click)="cancelWizard()">CANCEL</button>
                            <button class="save-button" (click)="saveSpousesNamePhone(spouse_name.value, spouse_phone.value)">SAVE</button>
                            <button class="next-button"(click)="getNextPage()">SKIP</button>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="page === 3">
                <div class="wizard-checkbox-grid">
                    <div class="check-one"><input type="checkbox" checked>#1</div>
                    <div class="check-two"><input type="checkbox" checked>#2</div>
                    <div class="check-three"><input type="checkbox">#3</div>
                    <div class="check-four"><input type="checkbox">#4</div>
                    <div class="check-five"><input type="checkbox">#5</div>
                    <div class="check-six"><input type="checkbox">#6</div>
                    <div class="check-seven"><input type="checkbox">#7</div>
                    <div class="check-eight"><input type="checkbox">#8</div>
                    <div class="check-nine"><input type="checkbox">#9</div>
                    <div class="check-ten"><input type="checkbox">#10</div>
                    <div class="check-eleven"><input type="checkbox">#11</div>
                    <div class="check-twelve"><input type="checkbox">#12</div>
                </div>

                <div class="show-page">
                    <h2>TSDM for {{clientName}}</h2>
                    <div *ngIf="spouseName.length > 0">
                        <h2>Spouse {{spouseName}} has been chosen</h2>
                    </div>
                    <h3>#3: Choose or Skip Adult Children</h3>

                    <div class="page-overview">
                        You can pick any of your adult children, irregardless of birth order as long as
                        they are over 19. If you choose one as primary and another as secondary, put the primary ones
                        name first and note it with an asterix. If you don't want your children as advocates choose NEXT to skip ahead.
                    </div>

                    <div class="tsdm-grid">
                        <div class="two-unequal-columns-block">
                            <label class="first-text-column" for="adult_child_1_name">Adult Child's Name:</label>
                            <label class="second-text-column" for="adult_child_1_phone">Phone:</label>

                            <input #child_1_name type="text" class="first-text-column" id="adult_child_1_name" name="name">
                            <input #child_1_phone type="text" class="second-text-column" id="adult_child_1_phone" name="phone">
                        </div>

                        <div class="two-unequal-columns-block">
                            <label class="first-text-column" for="adult_child_2_name">Adult Child's Name:</label>
                            <label class="second-text-column" for="adult_child_2_phone">Phone:</label>

                            <input #child_2_name type="text" class="first-text-column" id="adult_child_2_name" name="name">
                            <input #child_2_phone type="text" class="second-text-column" id="adult_child_2_phone" name="phone">
                        </div>

                        <div class="two-unequal-columns-block">
                            <label class="first-text-column" for="adult_child_3_name">Adult Child's Name:</label>
                            <label class="second-text-column" for="adult_child_3_phone">Phone:</label>

                            <input #child_3_name type="text" class="first-text-column" id="adult_child_3_name" name="name">
                            <input #child_3_phone type="text" class="second-text-column" id="adult_child_3_phone" name="phone">
                        </div>

                        <div class="two-unequal-columns-block">
                            <label class="first-text-column" for="adult_child_4_name">Adult Child's Name:</label>
                            <label class="second-text-column" for="adult_child_4_phone">Phone:</label>

                            <input #child_4_name type="text" class="first-text-column" id="adult_child_4_name" name="name">
                            <input #child_4_phone type="text" class="second-text-column" id="adult_child_4_phone" name="phone">
                        </div>

                        <div class="cancel-save-next-buttons-container">
                            <button class="cancel-button" (click)="cancelWizard()">CANCEL</button>
                            <button class="save-button" (click)="saveChildrensNamePhone(
                            child_1_name.value, child_1_phone.value, child_2_name.value, child_2_phone.value,
                            child_3_name.value, child_3_phone.value, child_4_name.value, child_4_phone.value)">SAVE</button>
                            <button class="next-button"(click)="getNextPage()">SKIP</button>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="page === 4">
                <div class="wizard-checkbox-grid">
                    <div class="check-one"><input type="checkbox" checked>#1</div>
                    <div class="check-two"><input type="checkbox" checked>#2</div>
                    <div class="check-three"><input type="checkbox" checked>#3</div>
                    <div class="check-four"><input type="checkbox">#4</div>
                    <div class="check-five"><input type="checkbox">#5</div>
                    <div class="check-six"><input type="checkbox">#6</div>
                    <div class="check-seven"><input type="checkbox">#7</div>
                    <div class="check-eight"><input type="checkbox">#8</div>
                    <div class="check-nine"><input type="checkbox">#9</div>
                    <div class="check-ten"><input type="checkbox">#10</div>
                    <div class="check-eleven"><input type="checkbox">#11</div>
                    <div class="check-twelve"><input type="checkbox">#12</div>
                </div>

                <div class="show-page">
                    <h2>TSDM for {{clientName}}</h2>
                    <ng-container *ngIf="adultChild1Name.length > 0">
                        <h2>Your adult child: {{adultChild1Name}} has been chosen</h2>
                    </ng-container>
                    <ng-container *ngIf="adultChild2Name.length > 0">
                        <h2>Your adult child: {{adultChild2Name}} has been chosen</h2>
                    </ng-container>
                    <ng-container *ngIf="adultChild3Name.length > 0">
                        <h2>Your adult child: {{adultChild3Name}} has been chosen</h2>
                    </ng-container>
                    <ng-container *ngIf="adultChild4Name.length > 0">
                        <h2>Your adult child: {{adultChild4Name}} has been chosen</h2>
                    </ng-container>

                    <h3>#4: Choose your Parents</h3>

                    <div class="page-overview">
                        Choose one of your parents. If you don't want your parents as advocates choose NEXT to skip ahead.
                    </div>

                    <div class="tsdm-grid">
                        <div class="two-unequal-columns-block">
                            <label class="first-text-column" for="parent_1_name">Parent's Name:</label>
                            <label class="second-text-column" for="parent_1_phone">Phone:</label>

                            <input #parent_1_name type="text" class="first-text-column" id="parent_1_name" name="name">
                            <input #parent_1_phone type="text" class="second-text-column" id="parent_1_phone" name="phone">
                        </div>
                        <div class="two-unequal-columns-block">
                            <label class="first-text-column" for="parent_2_name">Parent's Name:</label>
                            <label class="second-text-column" for="parent_2_phone">Phone:</label>

                            <input #parent_2_name type="text" class="first-text-column" id="parent_2_name" name="name">
                            <input #parent_2_phone type="text" class="second-text-column" id="parent_2_phone" name="phone">
                        </div>

                        <div class="cancel-save-next-buttons-container">
                            <button class="cancel-button" (click)="cancelWizard()">CANCEL</button>
                            <button class="save-button" (click)="saveParentsNamePhone(
                            parent_1_name.value, parent_1_phone.value, parent_2_name.value, parent_2_phone.value)">SAVE</button>
                            <button class="next-button"(click)="getNextPage()">SKIP</button>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="page === 5">
                <div class="wizard-checkbox-grid">
                    <div class="check-one"><input type="checkbox" checked>#1</div>
                    <div class="check-two"><input type="checkbox" checked>#2</div>
                    <div class="check-three"><input type="checkbox" checked>#3</div>
                    <div class="check-four"><input type="checkbox" checked>#4</div>
                    <div class="check-five"><input type="checkbox">#5</div>
                    <div class="check-six"><input type="checkbox">#6</div>
                    <div class="check-seven"><input type="checkbox">#7</div>
                    <div class="check-eight"><input type="checkbox">#8</div>
                    <div class="check-nine"><input type="checkbox">#9</div>
                    <div class="check-ten"><input type="checkbox">#10</div>
                    <div class="check-eleven"><input type="checkbox">#11</div>
                    <div class="check-twelve"><input type="checkbox">#12</div>
                </div>

                <div class="show-page">
                    <h2>TSDM for {{clientName}}</h2>
                    <h3>#5: Choose or Skip Siblings</h3>

                    <div class="page-overview">
                        You can pick any of your siblings, irregardless of birth order as long as
                        they are over 19. If you choose one as primary and another as secondary, put the primary ones
                        name first and note it with an asterix. If you don't want your siblings as advocates choose NEXT to skip ahead.
                    </div>

                    <div class="tsdm-grid">
                        <div class="two-unequal-columns-block">
                            <label class="first-text-column" for="sibling_1_name">Sibling's Name:</label>
                            <label class="second-text-column" for="sibling_1_phone">Phone:</label>

                            <input #sibling_1_name type="text" class="first-text-column" id="sibling_1_name" name="name">
                            <input #sibling_1_phone type="text" class="second-text-column" id="sibling_1_phone" name="phone">
                        </div>

                        <div class="two-unequal-columns-block">
                            <label class="first-text-column" for="sibling_2_name">Sibling's Name:</label>
                            <label class="second-text-column" for="sibling_2_phone">Phone:</label>

                            <input #sibling_2_name type="text" class="first-text-column" id="sibling_2_name" name="name">
                            <input #sibling_2_phone type="text" class="second-text-column" id="sibling_2_phone" name="phone">
                        </div>

                        <div class="two-unequal-columns-block">
                            <label class="first-text-column" for="sibling_3_name">Sibling's Name:</label>
                            <label class="second-text-column" for="sibling_3_phone">Phone:</label>

                            <input #sibling_3_name type="text" class="first-text-column" id="sibling_3_name" name="name">
                            <input #sibling_3_phone type="text" class="second-text-column" id="sibling_3_phone" name="phone">
                        </div>

                        <div class="two-unequal-columns-block">
                            <label class="first-text-column" for="sibling_4_name">Sibling's  Name:</label>
                            <label class="second-text-column" for="sibling_4_phone">Phone:</label>

                            <input #sibling_4_name type="text" class="first-text-column" id="sibling_4_name" name="name">
                            <input #sibling_4_phone type="text" class="second-text-column" id="sibling_4_phone" name="phone">
                        </div>

                        <div class="cancel-save-next-buttons-container">
                            <button class="cancel-button" (click)="cancelWizard()">CANCEL</button>
                            <button class="save-button" (click)="saveSiblingsNamePhone(
                            sibling_1_name.value, sibling_1_phone.value, sibling_2_name.value, sibling_2_phone.value,
                            sibling_3_name.value, sibling_3_phone.value, sibling_4_name.value, sibling_4_phone.value)">SAVE</button>
                            <button class="next-button"(click)="getNextPage()">SKIP</button>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="page === 6">
                <div class="wizard-checkbox-grid">
                    <div class="check-one"><input type="checkbox" checked>#1</div>
                    <div class="check-two"><input type="checkbox" checked>#2</div>
                    <div class="check-three"><input type="checkbox" checked>#3</div>
                    <div class="check-four"><input type="checkbox" checked>#4</div>
                    <div class="check-five"><input type="checkbox" checked>#5</div>
                    <div class="check-six"><input type="checkbox">#6</div>
                    <div class="check-seven"><input type="checkbox">#7</div>
                    <div class="check-eight"><input type="checkbox">#8</div>
                    <div class="check-nine"><input type="checkbox">#9</div>
                    <div class="check-ten"><input type="checkbox">#10</div>
                    <div class="check-eleven"><input type="checkbox">#11</div>
                    <div class="check-twelve"><input type="checkbox">#12</div>
                </div>

                <div class="show-page">
                    <h2>TSDM for {{clientName}}</h2>
                    <h3>#6: Choose your Grandparents</h3>

                    <div class="page-overview">
                        Choose one of your grandparents. If you don't want your grandparents as advocates choose NEXT to skip ahead.
                    </div>

                    <div class="tsdm-grid">
                        <div class="two-unequal-columns-block">
                            <label class="first-text-column" for="grand_parent_1_name">Grandparent's Name:</label>
                            <label class="second-text-column" for="grand_parent_1_phone">Phone:</label>

                            <input #grand_parent_1_name type="text" class="first-text-column" id="grand_parent_1_name" name="name">
                            <input #grand_parent_1_phone type="text" class="second-text-column" id="grand_parent_1_phone" name="phone">
                        </div>
                        <div class="two-unequal-columns-block">
                            <label class="first-text-column" for="grand_parent_2_name">Grandparent's Name:</label>
                            <label class="second-text-column" for="grand_parent_2_phone">Phone:</label>

                            <input #grand_parent_2_name type="text" class="first-text-column" id="grand_parent_2_name" name="name">
                            <input #grand_parent_2_phone type="text" class="second-text-column" id="grand_parent_2_phone" name="phone">
                        </div>

                        <div class="cancel-save-next-buttons-container">
                            <button class="cancel-button" (click)="cancelWizard()">CANCEL</button>
                            <button class="save-button" (click)="saveGrandParentsNamePhone(
                            grand_parent_1_name.value, grand_parent_1_phone.value, grand_parent_2_name.value, grand_parent_2_phone.value)">SAVE</button>
                            <button class="next-button"(click)="getNextPage()">SKIP</button>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="page === 7">
                <div class="wizard-checkbox-grid">
                    <div class="check-one"><input type="checkbox" checked>#1</div>
                    <div class="check-two"><input type="checkbox" checked>#2</div>
                    <div class="check-three"><input type="checkbox" checked>#3</div>
                    <div class="check-four"><input type="checkbox" checked>#4</div>
                    <div class="check-five"><input type="checkbox" checked>#5</div>
                    <div class="check-six"><input type="checkbox checked">#6</div>
                    <div class="check-seven"><input type="checkbox">#7</div>
                    <div class="check-eight"><input type="checkbox">#8</div>
                    <div class="check-nine"><input type="checkbox">#9</div>
                    <div class="check-ten"><input type="checkbox">#10</div>
                    <div class="check-eleven"><input type="checkbox">#11</div>
                    <div class="check-twelve"><input type="checkbox">#12</div>
                </div>

                <div class="show-page">
                    <h2>TSDM for {{clientName}}</h2>
                    <h3>#7: Choose or Skip Grandchildren</h3>

                    <div class="page-overview">
                        You can pick any of your grandchildren, irregardless of birth order as long as
                        they are over 19. If you choose one as primary and another as secondary, put the primary ones
                        name first and note it with an asterix. If you don't want your grandchildren as advocates choose NEXT to skip ahead.
                    </div>

                    <div class="tsdm-grid">
                        <div class="two-unequal-columns-block">
                            <label class="first-text-column" for="grand_child_1_name">Grandchildren's Name:</label>
                            <label class="second-text-column" for="grand_child_1_phone">Phone:</label>

                            <input #grand_child_1_name type="text" class="first-text-column" id="grand_child_1_name" name="name">
                            <input #grand_child_1_phone type="text" class="second-text-column" id="grand_child_1_phone" name="phone">
                        </div>

                        <div class="two-unequal-columns-block">
                            <label class="first-text-column" for="grand_child_2_name">Grandchildren's Name:</label>
                            <label class="second-text-column" for="grand_child_2_phone">Phone:</label>

                            <input #grand_child_2_name type="text" class="first-text-column" id="grand_child_2_name" name="name">
                            <input #grand_child_2_phone type="text" class="second-text-column" id="grand_child_2_phone" name="phone">
                        </div>

                        <div class="two-unequal-columns-block">
                            <label class="first-text-column" for="grand_child_3_name">Grandchildren's Name:</label>
                            <label class="second-text-column" for="grand_child_3_phone">Phone:</label>

                            <input #grand_child_3_name type="text" class="first-text-column" id="grand_child_3_name" name="name">
                            <input #grand_child_3_phone type="text" class="second-text-column" id="grand_child_3_phone" name="phone">
                        </div>

                        <div class="two-unequal-columns-block">
                            <label class="first-text-column" for="grand_child_4_name">Grandchildren's Name:</label>
                            <label class="second-text-column" for="grand_child_4_phone">Phone:</label>

                            <input #grand_child_4_name type="text" class="first-text-column" id="grand_child_4_name" name="name">
                            <input #grand_child_4_phone type="text" class="second-text-column" id="grand_child_4_phone" name="phone">
                        </div>

                        <div class="cancel-save-next-buttons-container">
                            <button class="cancel-button" (click)="cancelWizard()">CANCEL</button>
                            <button class="save-button" (click)="saveGrandChildsNamePhone(
                            grand_child_1_name.value, grand_child_1_phone.value, grand_child_2_name.value, grand_child_2_phone.value,
                            grand_child_3_name.value, grand_child_3_phone.value, grand_child_4_name.value, grand_child_4_phone.value)">SAVE</button>
                            <button class="next-button"(click)="getNextPage()">SKIP</button>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="page === 8">
                <div class="wizard-checkbox-grid">
                    <div class="check-one"><input type="checkbox" checked>#1</div>
                    <div class="check-two"><input type="checkbox" checked>#2</div>
                    <div class="check-three"><input type="checkbox" checked>#3</div>
                    <div class="check-four"><input type="checkbox" checked>#4</div>
                    <div class="check-five"><input type="checkbox" checked>#5</div>
                    <div class="check-six"><input type="checkbox" checked>#6</div>
                    <div class="check-seven"><input type="checkbox" checked>#7</div>
                    <div class="check-eight"><input type="checkbox">#8</div>
                    <div class="check-nine"><input type="checkbox">#9</div>
                    <div class="check-ten"><input type="checkbox">#10</div>
                    <div class="check-eleven"><input type="checkbox">#11</div>
                    <div class="check-twelve"><input type="checkbox">#12</div>
                </div>
                <div class="show-page">
                    <h2>TSDM for {{clientName}}</h2>
                    <h3>#8: Choose any other Relation</h3>

                    <div class="page-overview">
                        Choose any other person who is related to you by birth or adoption. If you don't
                        have anyone like this choose NEXT to skip ahead.
                    </div>

                    <div class="tsdm-grid">
                        <div class="two-unequal-columns-block">
                            <label class="first-text-column" for="blood_relative_1_name">Relative's Name:</label>
                            <label class="second-text-column" for="blood_relative_1_phone">Phone:</label>

                            <input #blood_relative_1_name type="text" class="first-text-column" id="blood_relative_1_name" name="name">
                            <input #blood_relative_1_phone type="text" class="second-text-column" id="blood_relative_1_phone" name="phone">
                        </div>
                        <div class="two-unequal-columns-block">
                            <label class="first-text-column" for="blood_relative_2_name">Relative's Name:</label>
                            <label class="second-text-column" for="blood_relative_2_phone">Phone:</label>

                            <input #blood_relative_2_name type="text" class="first-text-column" id="blood_relative_2_name" name="name">
                            <input #blood_relative_2_phone type="text" class="second-text-column" id="blood_relative_2_phone" name="phone">
                        </div>

                        <div class="cancel-save-next-buttons-container">
                            <button class="cancel-button" (click)="cancelWizard()">CANCEL</button>
                            <button class="save-button" (click)="saveGrandParentsNamePhone(
                            blood_relative_1_name.value, blood_relative_1_phone.value, blood_relative_2_name.value, blood_relative_2_phone.value)">SAVE</button>
                            <button class="next-button"(click)="getNextPage()">SKIP</button>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="page === 9">
                <div class="wizard-checkbox-grid">
                    <div class="check-one"><input type="checkbox" checked>#1</div>
                    <div class="check-two"><input type="checkbox" checked>#2</div>
                    <div class="check-three"><input type="checkbox" checked>#3</div>
                    <div class="check-four"><input type="checkbox" checked>#4</div>
                    <div class="check-five"><input type="checkbox" checked>#5</div>
                    <div class="check-six"><input type="checkbox" checked>#6</div>
                    <div class="check-seven"><input type="checkbox" checked>#7</div>
                    <div class="check-eight"><input type="checkbox" checked>#8</div>
                    <div class="check-nine"><input type="checkbox">#9</div>
                    <div class="check-ten"><input type="checkbox">#10</div>
                    <div class="check-eleven"><input type="checkbox">#11</div>
                    <div class="check-twelve"><input type="checkbox">#12</div>
                </div>

                <div class="show-page">
                    <h2>TSDM for {{clientName}}</h2>
                    <h3>#9: Choose a Friend</h3>

                    <div class="page-overview">
                        Choose any close friend that you trust to be your advocate. If you don't
                        have anyone like this choose NEXT to skip ahead.
                    </div>

                    <div class="tsdm-grid">
                        <div class="two-unequal-columns-block">
                            <label class="first-text-column" for="friend_1_name">Friend's Name:</label>
                            <label class="second-text-column" for="friend_1_phone">Phone:</label>

                            <input #friend_1_name type="text" class="first-text-column" id="friend_1_name" name="name">
                            <input #friend_1_phone type="text" class="second-text-column" id="friend_1_phone" name="phone">
                        </div>
                        <div class="two-unequal-columns-block">
                            <label class="first-text-column" for="friend_2_name">Friend's Name:</label>
                            <label class="second-text-column" for="friend_2_phone">Phone:</label>

                            <input #friend_2_name type="text" class="first-text-column" id="friend_2_name" name="name">
                            <input #friend_2_phone type="text" class="second-text-column" id="friend_2_phone" name="phone">
                        </div>

                        <div class="cancel-save-next-buttons-container">
                            <button class="cancel-button" (click)="cancelWizard()">CANCEL</button>
                            <button class="save-button" (click)="saveFriendsNamePhone(
                            friend_1_name.value, friend_1_phone.value, friend_2_name.value, friend_2_phone.value)">SAVE</button>
                            <button class="next-button"(click)="getNextPage()">SKIP</button>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="page === 10">
                <div class="wizard-checkbox-grid">
                    <div class="check-one"><input type="checkbox" checked>#1</div>
                    <div class="check-two"><input type="checkbox" checked>#2</div>
                    <div class="check-three"><input type="checkbox" checked>#3</div>
                    <div class="check-four"><input type="checkbox" checked>#4</div>
                    <div class="check-five"><input type="checkbox" checked>#5</div>
                    <div class="check-six"><input type="checkbox" checked>#6</div>
                    <div class="check-seven"><input type="checkbox" checked>#7</div>
                    <div class="check-eight"><input type="checkbox" checked>#8</div>
                    <div class="check-nine"><input type="checkbox" checked>#9</div>
                    <div class="check-ten"><input type="checkbox">#10</div>
                    <div class="check-eleven"><input type="checkbox">#11</div>
                    <div class="check-twelve"><input type="checkbox">#12</div>
                </div>

                <div class="show-page">
                    <h2>TSDM for {{clientName}}</h2>
                    <h3>#10: Choose anyone immediately related by marriage</h3>
                    <div class="page-overview">
                        Choose any relative you are immediately related to, as in in-laws etc. If you don't
                        have anyone like this choose NEXT to skip ahead.
                    </div>

                    <div class="tsdm-grid">
                        <div class="two-unequal-columns-block">
                            <label class="first-text-column" for="inlaw_relative_name1">Relation's Name:</label>
                            <label class="second-text-column" for="inlaw_relative_phone1">Phone:</label>

                            <input #inlaw_relative_name1 type="text" class="first-text-column" id="inlaw_relative_name1" name="name">
                            <input #inlaw_relative_phone1 type="text" class="second-text-column" id="inlaw_relative_phone1" name="phone">
                        </div>
                        <div class="two-unequal-columns-block">
                            <label class="first-text-column" for="inlaw_relative_name2">Relation's Name:</label>
                            <label class="second-text-column" for="inlaw_relative_phone2">Phone:</label>

                            <input #inlaw_relative_name2 type="text" class="first-text-column" id="inlaw_relative_name2" name="name">
                            <input #inlaw_relative_phone2 type="text" class="second-text-column" id="inlaw_relative_phone2" name="phone">
                        </div>

                        <div class="cancel-save-next-buttons-container">
                            <button class="cancel-button" (click)="cancelWizard()">CANCEL</button>
                            <button class="save-button" (click)="saveInlawRelativeNamePhone(
                            inlaw_relative_name1.value, inlaw_relative_phone1.value, inlaw_relative_name2.value, inlaw_relative_phone2.value)">SAVE</button>
                            <button class="next-button"(click)="getNextPage()">SKIP</button>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="page === 11">
                <div class="wizard-checkbox-grid">
                    <div class="check-one"><input type="checkbox" checked>#1</div>
                    <div class="check-two"><input type="checkbox" checked>#2</div>
                    <div class="check-three"><input type="checkbox" checked>#3</div>
                    <div class="check-four"><input type="checkbox" checked>#4</div>
                    <div class="check-five"><input type="checkbox" checked>#5</div>
                    <div class="check-six"><input type="checkbox" checked>#6</div>
                    <div class="check-seven"><input type="checkbox" checked>#7</div>
                    <div class="check-eight"><input type="checkbox" checked>#8</div>
                    <div class="check-nine"><input type="checkbox" checked>#9</div>
                    <div class="check-ten"><input type="checkbox" checked>#10</div>
                    <div class="check-eleven"><input type="checkbox">#11</div>
                    <div class="check-twelve"><input type="checkbox">#12</div>
                </div>

                <div class="show-step">
                    <h2>TSDM for {{clientName}}</h2>
                    <h3>#11: Choose WHO NOT to be involved in your future care</h3>

                    <div class="page-overview">
                        Write down who you would absolutely NOT want making decisions for you. If you don't
                        have anyone who fits this definition, choose NEXT to skip ahead.
                    </div>

                    <div class="tsdm-grid">
                        <div class="two-unequal-columns-block">
                            <label class="first-text-column" for="persona_non_grata_name1">Person to NOT Use's Name:</label>
                            <label class="second-text-column" for="persona_non_grata_phone1">Phone:</label>

                            <input #persona_non_grata_name1 type="text" class="first-text-column" id="persona_non_grata_name1" name="name">
                            <input #persona_non_grata_phone1 type="text" class="second-text-column" id="persona_non_grata_phone1" name="phone">
                        </div>
                        <div class="two-unequal-columns-block">
                            <label class="first-text-column" for="persona_non_grata_name2">Person to NOT Use's Name:</label>
                            <label class="second-text-column" for="persona_non_grata_phone2">Phone:</label>

                            <input #persona_non_grata_name2 type="text" class="first-text-column" id="persona_non_grata_name2" name="name">
                            <input #persona_non_grata_phone2 type="text" class="second-text-column" id="persona_non_grata_phone2" name="phone">
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="page > 11">
                <div class="wizard-checkbox-grid">
                    <div class="check-one"><input type="checkbox" checked>#1</div>
                    <div class="check-two"><input type="checkbox" checked>#2</div>
                    <div class="check-three"><input type="checkbox" checked>#3</div>
                    <div class="check-four"><input type="checkbox" checked>#4</div>
                    <div class="check-five"><input type="checkbox" checked>#5</div>
                    <div class="check-six"><input type="checkbox" checked>#6</div>
                    <div class="check-seven"><input type="checkbox" checked>#7</div>
                    <div class="check-eight"><input type="checkbox" checked>#8</div>
                    <div class="check-nine"><input type="checkbox" checked>#9</div>
                    <div class="check-ten"><input type="checkbox" checked>#10</div>
                    <div class="check-eleven"><input type="checkbox" checked>#11</div>
                    <div class="check-twelve"><input type="checkbox">#12</div>
                </div>

                <div class="show-step">
                    <h2>TSDM for {{clientName}}</h2>
                    <h3>#12: All Done!</h3>

                    <div class="page-overview">
                        Congratulations! You have selected your TSDM advocate. Print this and save to a secure location. Let others
                        know about the location of this document. You can tape it to your fridge or leave it inside your fridge for easy access
                        by emergency personnel.
                    </div>
                </div>
            </div>

          &lt;!&ndash;  <div class="next-grid pad-top">
                <div *ngIf="page < 11">
                    <button class="next-button"(click)="getNextPage()">NEXT</button>
                </div>
                <div *ngIf="page === 11">
                    <button class="next-button"(click)="finished()">FINISH</button>
                </div>
                <div *ngIf="page > 11">
                    <button class="next-button"(click)="printTSDM()">PRINT</button>
                </div>
            </div>&ndash;&gt;
        </div>

    </div>

</div>&ndash;&gt;
-->
