
/*  BANANA PORTRAIT *******************************************************************************************/
@media only screen
and (min-width: 240px)
and (max-width: 359px)
and (orientation: portrait) {

    /* UNIQUE HEADINGS ON HOME PAGE ONLY RIGHT NOW  */
    .full-length-titles, .full-length-sub-titles  {
        width:90%;
        margin-left:5%;
        margin-right:5%;
    }

    .full-length-titles h1  {
        font-size: var(--heading-whitney-banana-port-font-size);
        text-align:center;
    }

    .full-length-sub-titles h2 {
        font-size: var(--med-whitney-banana-port-font-size);
    }

    /* QUOTES inside content */
    .content-quote {
        width:90%;
        margin:1em 5% 0 5%;
    }

    .content-quote p {
        font-size:var(--script-p-banana-port-font-size);
    }

    /* ENERGY TIPS */
    .energy-tip span {
        font-size: var(--open-sans-banana-port-font-size);
    }

    .content-videos {
        height:150px;
    }

}

/* BANANA LANDSCAPE ****************************************************************************************************/
@media only screen
and (min-width: 568px)
and (max-width: 895px)
and (orientation: landscape) {

    .full-length-titles, .full-length-sub-titles  {
        width:90%;
        margin-left:5%;
        margin-right:5%;
    }

    /* UNIQUE HEADING */
    .full-length-titles h1 {
        font-size: var(--heading-whitney-banana-land-font-size);
        text-align:center;
    }

    .full-length-sub-titles h2 {
        font-size: var(--med-whitney-banana-land-font-size);
    }

    /* QUOTES inside content */
    .content-quote {
        width:90%;
        margin:1em 5% 0 5%;
    }

    .content-quote p {
        font-size:var(--script-p-banana-land-font-size);
    }

    /* ENERGY TIPS */
    .energy-tip span {
        font-size: var(--open-sans-banana-land-font-size);
    }

    .content-videos {
        height:250px;
    }

}

/* MOBILES PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 360px)
and (max-width: 599px)
and (orientation: portrait) {

    .full-length-titles, .full-length-sub-titles  {
        width:90%;
        margin-left:5%;
        margin-right:5%;
    }

    .full-length-titles h1 {
        font-size: var(--heading-whitney-mobile-port-font-size);
        text-align:center;
    }

    .full-length-sub-titles h2 {
        font-size: var(--hostel-heading-mobile-port-font-size);
    }

    /* QUOTES inside content */
    .content-quote {
        width:90%;
        margin:1em 5% 0 5%;
    }

    .content-quote p {
        font-size:var(--script-p-mobile-port-font-size);
    }

    /* ENERGY TIPS */
    .energy-tip span {
        font-size: var(--open-sans-mobile-port-font-size);
    }

    .content-videos {
        height:150px;
    }

}

/*  MOBILES LANDSCAPE **************************************************************************************************/
@media only screen
and (min-width:896px )
and (max-width: 1279px)
and (orientation: landscape) {

    .full-length-titles, .full-length-sub-titles  {
        width:100%;
    }

    .full-length-titles h1 {
        font-size: var(--heading-whitney-mobile-land-font-size);
        text-align:center;
    }

    .full-length-sub-titles  h2 {
        font-size: var(--med-whitney-mobile-land-font-size);
    }

    /* QUOTES inside content */
    .content-quote {
        width:90%;
        margin:1em 5% 0 5%;
    }

    .content-quote p {
        font-size:var(--script-p-mobile-land-font-size);
    }

    /* ENERGY TIPS */
    .energy-tip span {
        font-size: var(--open-sans-mobile-land-font-size);
    }

    .content-videos {
        height:250px;
    }

}

/*  TABLETS PORTRAIT *******************************************************************************************/
@media only screen
and (min-width: 600px)
and (max-width: 1023px)
and (orientation: portrait) {

    /* UNIQUE HEADING */
    .full-length-titles, .full-length-sub-titles  {
        width:100%;
    }

    .full-length-titles h1 {
        font-size: var(--heading-whitney-tablet-port-font-size);
        text-align:center;
    }

    .full-length-sub-titles h2 {
        font-size: var(--med-whitney-tablet-port-font-size);
    }

    /* QUOTES inside content */
    .content-quote {
        width:90%;
        margin:1em 5% 0 5%;
    }

    .content-quote p {
        font-size:var(--script-p-tablet-port-font-size);
    }

    /* ENERGY TIPS */
    .energy-tip span {
        font-size: var(--open-sans-tablet-port-font-size);
    }

    .content-videos {
        height:300px;
    }

}

/*  TABLETS LANDSCAPE *******************************************************************************************/
@media only screen
and (min-width: 1280px)
and (max-width: 1365px)
and (orientation: landscape) {

    /* UNIQUE HEADING */
    .full-length-titles, .full-length-sub-titles  {
        width:100%;
    }

    .full-length-titles h1 {
        padding:2em 0;
        font-size: var(--heading-whitney-tablet-land-font-size);
        text-align:left;
    }

    .full-length-sub-titles h2 {
        font-size: var(--med-whitney-tablet-land-font-size);
    }

    /* QUOTES inside content */
    .content-quote {
        width:90%;
        margin:1em 5% 0 5%;
    }

    .content-quote p {
        font-size:var(--script-p-tablet-land-font-size);
    }

    /* ENERGY TIPS */
    .energy-tip span {
        font-size: var(--open-sans-tablet-land-font-size);
    }

    .content-videos {
        height:350px;
    }

}

/* IPADS PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 1024px)
and (max-width: 1366px)
and (orientation: portrait) {

    /* UNIQUE HEADING */
    .full-length-titles, .full-length-sub-titles  {
        width:100%;
    }

    .full-length-titles h1 {
        padding:1.5em 0;
        font-size: var(--heading-whitney-ipad-port-font-size);
        text-align:left;
    }

    .full-length-sub-titles h2 {
        font-size: var(--med-whitney-ipad-port-font-size);
    }

    /* QUOTES inside content */
    .content-quote {
        width:90%;
        margin:1em 5% 0 5%;
    }

    .content-quote p {
        font-size:var(--script-p-ipad-port-font-size);
    }

    /* ENERGY TIPS */
    .energy-tip span {
        font-size: var(--open-sans-ipad-port-font-size);
    }

    .content-videos {
        height:300px;
    }

}

/* IPADS LANDSCAPE ***************************************************************************************************/
@media only screen
and (min-width: 1366px)
and (max-width: 1439px)
and (orientation: landscape) {

    /* UNIQUE HEADING */
    .full-length-titles, .full-length-sub-titles  {
        width:100%;
    }

    .full-length-titles h1 {
        padding:2em 0;
        font-size: var(--heading-whitney-ipad-land-font-size);
        text-align:left;
    }

    .full-length-sub-titles h2 {
        font-size: var(--med-whitney-ipad-land-font-size);
    }

    /* QUOTES inside content */
    .content-quote {
        width:100%;
        margin:1em 0;
    }

    .content-quote p {
        font-size:var(--script-p-ipad-land-font-size);
    }

    /* ENERGY TIPS */
    .energy-tip span {
        font-size: var(--open-sans-ipad-land-font-size);
    }

    .content-videos {
        height:400px;
    }

}

/* DESKTOPS ****************************************************************************************************/
@media only screen
and (min-width: 1440px) {

    /* UNIQUE HEADING */
    .full-length-titles, .full-length-sub-titles  {
        width:100%;
    }

    .full-length-titles h1 {
        padding:2em 0;
        font-size: var(--heading-whitney-desktop-font-size);
        text-align:left;
    }

    .full-length-sub-titles h2 {

        font-size: var(--med-whitney-desktop-font-size);
    }

    /* QUOTES inside content */
    .content-quote {
        width:100%;
        margin:1em 0;
    }

    .content-quote p {
        font-size:var(--script-p-desktop-font-size);
    }

    /* ENERGY TIPS */
    .energy-tip span {
        font-size: var(--open-sans-desktop-font-size);
    }

    .content-videos {
        height:400px;
    }

}

/* GLOBAL ****************************************************************************************************/
@media only screen {

    /* UNIQUE HEADING WHITNEY   */
    .full-length-titles, .full-length-sub-titles  {
        display:block;
        float:left;

        font-style:normal;
        text-transform: uppercase;
        font-weight:400;
        color: var(--color-light-blue);
        letter-spacing: 4px;
    }

    .full-length-titles h1, .full-length-sub-titles h2 {
        font-family: Whitney-SSm-Book, Whitney-Book, arial, serif;
        padding:.5em 0;
        text-align: center;
    }

    /* QUOTES INSIDE CONTENT (as opposed to Headings quotes*/
    .content-quote {
        max-width:1152px;
        display:grid;
        align-content: center;
        justify-content: center;
        font-family: var(--family-script);
        color: var(--color-darkest-purple);
    }

    .content-quote p, .content-quote span {
        display: inline-grid;
    }

    .content-quote p  {
        font-weight: 400;
        text-align:center;
        line-height:var(--quote-p-line-height);
    }

    .content-quote span {
        text-align:right;
        line-height:var(--quote-span-line-height);
    }

    /* ENERGY TIPS */
    .energy-tip {
        max-width:1152px;
        width:90%;
        margin:1em 5%;
        display:grid;
        background-color: var(--color-white);
        color:var(--color-darkest-purple);
        align-content: center;
        justify-content: center;
        border-radius:20px;
        border:thin solid var(--color-dark-gold);
        font-family: var(--family-open-sans);
    }

    .energy-tip p, .energy-tip span {
        padding:1em;
        line-height: var(--copy-line-height);
    }


    .preamble-block {
        display:block;
        float:left;
        width:100%;
        color: var(--color-white);
        background-color: #5b89d5;
        border: thin solid  var(--color-soft-blue);
        font-family: var(--family-open-sans);
        line-height:var(--copy-line-height);
        text-align: left;
        font-size: var(--open-sans-desktop-font-size);
        margin-top:2em;
    }

}

