
/*  BANANA PORTRAIT *******************************************************************************************/
@media only screen
and (min-width: 240px)
and (max-width: 359px)
and (orientation: portrait) {

    .topic-left h1, .topic-left h2, .topic-left h3 {
        font-size: var(--hostel-banana-port-font-size);
    }

    .content-quote p, .content-quote span {
        font-size:var(--script-banana-mobile-port-font-size);
    }

    .energy-tip p {
        font-size:var(--data-banana-port-font-p-size);

    }

    .content-videos {
        height:150px;
    }
}

/* BANANA LANDSCAPE ****************************************************************************************************/
@media only screen
and (min-width: 568px)
and (max-width: 895px)
and (orientation: landscape) {

    .topic-left h1, .topic-left h2, .topic-left h3 {
        font-size: var(--hostel-banana-land-font-size);
    }

    .content-quote p, .content-quote span {
        font-size:var(--script-banana-mobile-land-font-size);
    }

    .energy-tip p {
        font-size:var(--data-banana-land-font-p-size);
    }

    .content-videos {
        height:250px;
    }
}

/* MOBILES PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 360px)
and (max-width: 599px)
and (orientation: portrait) {

    .topic-left h1, .topic-left h2, .topic-left h3 {
        font-size: var(--hostel-mobile-port-font-size);
    }

    .content-quote p, .content-quote span {
        font-size:var(--script-banana-mobile-port-font-size);
    }

    .energy-tip p {
        font-size:var(--data-mobile-port-font-p-size);
    }

    .content-videos {
        height:150px;
    }

}

/*  MOBILES LANDSCAPE **************************************************************************************************/
@media only screen
and (min-width:896px )
and (max-width: 1279px)
and (orientation: landscape) {

    .topic-left h1, .topic-left h2, .topic-left h3 {
        font-size: var(--hostel-mobile-land-font-size);
    }

    .content-quote p, .content-quote span {
        font-size:var(--script-banana-mobile-land-font-size);
    }

    .energy-tip p {
        font-size:var(--data-mobile-land-font-p-size);
    }

    .content-videos {
        height:250px;
    }

}

/*  TABLETS PORTRAIT *******************************************************************************************/
@media only screen
and (min-width: 600px)
and (max-width: 1023px)
and (orientation: portrait) {

    .topic-left h1, .topic-left h2, .topic-left h3 {
        font-size: var(--hostel-tablet-port-font-size);
    }

    .content-quote p, .content-quote span {
        font-size:var(--script-tablet-ipad-port-font-size);
    }

    .energy-tip p {
        font-size:var(--data-tablet-port-font-p-size);
    }

    .content-videos {
        height:300px;
    }
}

/*  TABLETS LANDSCAPE *******************************************************************************************/
@media only screen
and (min-width: 1280px)
and (max-width: 1365px)
and (orientation: landscape) {

    .topic-left h1, .topic-left h2, .topic-left h3 {
        font-size: var(--hostel-tablet-land-font-size);
    }

    .content-quote p, .content-quote span {
        font-size:var(--script-tablet-ipad-land-font-size);
    }

    .energy-tip p {
        font-size:var(--data-tablet-land-font-p-size);
    }

    .content-videos {
        height:350px;
    }

}

/* IPADS PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 1024px)
and (max-width: 1366px)
and (orientation: portrait) {

    .topic-left h1, .topic-left h2, .topic-left h3 {
        font-size: var(--hostel-ipad-port-font-size);
    }

    .content-quote p, .content-quote span {
        font-size:var(--script-tablet-ipad-port-font-size);
    }

    .energy-tip p {
        font-size:var(--data-ipad-port-font-p-size);
    }

    .content-videos {
        height:300px;
    }

}

/* IPADS LANDSCAPE ***************************************************************************************************/
@media only screen
and (min-width: 1366px)
and (max-width: 1439px)
and (orientation: landscape) {

    .topic-left h1, .topic-left h2, .topic-left h3 {
        font-size: var(--hostel-ipad-land-font-size);
    }

    .content-quote p, .content-quote span {
        font-size:var(--script-tablet-ipad-land-font-size);
    }

    .energy-tip p {
        font-size:var(--data-ipad-land-font-p-size);
    }

    .content-videos {
        height:400px;
    }

}

/* LAPTOPS *****************************************************************************************************/
@media only screen
and (min-width: 1440px)
and (max-width: 1919px) {

    .topic-block {
        margin:1em 0;
    }

    .topic-left h1, .topic-left h2, .topic-left h3 {
        font-size: var(--hostel-laptop-font-size);
    }

    .content-quote p, .content-quote span {
        font-size:var(--script-laptop-desktop-font-size);
    }

    .energy-tip p {
        font-size:var(--data-laptop-desktop-font-p-size);
    }

    .content-videos {
        /*height:var(--content-videos-laptop-desktop-height);*/
    }

}

/* DESKTOPS ****************************************************************************************************/
@media only screen
and (min-width: 1920px) {

    .topic-left h1, .topic-left h2, .topic-left h3 {
        font-size: var(--hostel-desktop-font-size);
    }

    .content-quote p, .content-quote span {
        font-size:var(--script-laptop-desktop-font-size);
    }

    .energy-tip p {
        font-size:var(--data-laptop-desktop-font-p-size);
    }

    .content-videos {
        /*height:var(--content-videos-laptop-desktop-height);*/
    }

}

/* GLOBAL ****************************************************************************************************/
@media only screen {

    .topic-block, .content-quote,  .energy-tip {
        max-width:1152px;
        width:100%;
        margin:1em auto;
    }

    .topic-block, .energy-tip {
        background-color: var(--color-off-white);
        color:var(--color-darkest-purple);
    }

    .topic-block {
        display:inline-grid;
        grid-template-columns: 74% 26%;
        font-family: Green-Hostel;
    }

    .topic-left {
        display:grid;
        width:100%;
        align-content: center;
        justify-content: center;
    }

    .topic-left h1, .topic-left h2, .topic-left h3 {
        letter-spacing: 3px;
    }

    .topic-right {
        display:grid;
        width:100%;
        align-content: center;
        justify-content: flex-end;
        border:1px solid var(--color-darkest-purple) 1px solid var(--color-darkest-purple) 1px solid var(--color-darkest-purple) 0;
    }

    .topic-right img {
        max-width:100%;
        height:auto;
    }

    /* QUOTES INSIDE CONTENT (as opposed to Headings quotes*/
    .content-quote {
        display:grid;
        align-content: center;
        justify-content: center;
        font-family: var(--family-script);
        color:var(--color-darkest-purple);
    }

    .content-quote p, .content-quote span {
        display: inline-grid;
    }

    .content-quote p  {
        font-weight: 400;
        text-align:left;
        line-height:var(--quote-p-line-height);
    }

    .content-quote span {
        text-align:right;
        line-height:var(--quote-span-line-height);
    }

    /* ENERGY TIPS */
    .energy-tip {
        display:grid;
        align-content: center;
        justify-content: center;
        border-radius:20px;
        border:thin solid gold;
        font-family: var(--family-data);
    }

    .energy-tip p {
        padding:2em;
        line-height: var(--copy-line-height);
    }


}

