/*******************************************************************************************************************
  GLOBAL BANANAS- MOBILES AND SMALL TABLETS - under 900 (content) width so need 10% space on either side of content
*******************************************************************************************************************/
@media only screen
and (min-width: 240px)
and (max-width: 896px)    {

    .booking-link-grid {
        width:var(--media-less-than-content-width);
    }

}

/*******************************************************************************************************************
  GLOBAL BIG TABLETS, IPADS, LAPTOPS, DESKTOPS AND UP (over 900 so don't need to have space on either side of content)
*******************************************************************************************************************/
@media only screen
and (min-width:960px)   {

    .booking-link-grid {
        width:var(--media-more-than-content-width);
    }

}

/* IPADS, LAPTOPS AND DESKTOPS ****************************************************************************************************/
@media only screen
and (min-width: 1024px) {

    /* because content width is only 900 its max height is the actual one 900x450) */
    .booking-link-grid {
        height:450px;
    }

}

/*  BANANAS  *******************************************************************************************/
@media only screen
    and (min-width: 240px)
    and (max-width: 320px)  {

    .booking-link-grid a {
        font-size: var(--big-copy-banana-font-size);
        letter-spacing: 1px;
    }

}

/*  BANANAS PORTRAIT *******************************************************************************************/
@media only screen
and (min-width: 240px)
and (max-width: 320px)
and (orientation:portrait) {

    /* USING 240 width
     (booking grid is 900 by 450 so divide 450/900 to get ratio of 50%)
    */
    .booking-link-grid {
        height:120px;
    }

}

/*  BANANAS LANDSCAPE *******************************************************************************************/
@media only screen
and (min-width: 240px)
and (max-width: 320px)
and (orientation:landscape){

    /* USING 320 width
     (booking grid is 900 by 450 so divide 450/900 to get ratio of 50%)
    */
    .booking-link-grid {
        height: 160px;
    }
}

/* MOBILES ****************************************************************************************************/
@media only screen
    and (min-width: 360px)
    and (max-width: 414px) {

    .booking-link-grid a {
        font-size: var(--big-copy-mobile-font-size);
        letter-spacing: 1px;
    }

}

/* MOBILES PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 360px)
and (max-width: 414px)
and (orientation: portrait) {

    /* USING 360 width
    (booking grid is 900 by 450 so divide 450/900 to get ratio of 50%)
   */
    .booking-link-grid {
        height:180px;

    }
}

/*  MOBILES LANDSCAPE **************************************************************************************************/
@media only screen
and (min-width: 360px)
and (max-width: 414px)
and (orientation: landscape) {

    /* USING 414 width
    (booking grid is 900 by 450 so divide 450/900 to get ratio of 50%)
   */
    .booking-link-grid {
        height:207px;
    }
}

/*  TABLETS  *******************************************************************************************/
@media only screen
    and (min-width: 600px)
    and (max-width: 800px) {

    .booking-link-grid a {
        font-size:var(--big-copy-tablet-font-size);
        letter-spacing: 2px;
    }

}

/*  TABLETS PORTRAIT *******************************************************************************************/
@media only screen
and (min-width: 600px)
and (max-width: 800px)
and (orientation: portrait) {

    /* USING 600 width
    (booking grid is 900 by 450 so divide 450/900 to get ratio of 50%)
   */
    .booking-link-grid {
        height:300px;
    }
}

/*  TABLETS LANDSCAPE *******************************************************************************************/
@media only screen
and (min-width: 600px)
and (max-width: 800px)
and (orientation: landscape) {

    /* USING 800 width
    (booking grid is 900 by 450 so divide 450/900 to get ratio of 50%)
   */
    .booking-link-grid {
        height:400px;
    }
}

/* IPADS   ****************************************************************************************************/
@media only screen
    and (min-width: 1024px)
    and (max-width: 1366px) {

    .booking-link-grid a {
        font-size:var(--big-copy-ipad-font-size);
        letter-spacing: 2px;
    }

}

/* LAPTOPS  ****************************************************************************************************/
@media only screen
    and (min-width: 1440px)
    and (max-width:1919px) {

    .booking-link-grid a {
        font-size:var(--big-copy-laptop-font-size);
        letter-spacing: 3px;
    }

}

/* DESKTOPS  ****************************************************************************************************/
@media only screen
    and (min-width: 1920px)  {

    .booking-link-grid a {
        font-size:var(--big-copy-desktop-font-size);
        letter-spacing: 4px;
    }

}

/* GLOBAL ****************************************************************************************************/
@media only screen {

    /* Links to booking form */
    .booking-link-grid {
        justify-content: center;
        display:grid;
        max-width:var(--content-width);
        margin:1em auto;
        align-content: end;
        background-repeat: no-repeat;
        background-image:url("src/assets/images/details/home/bookSession.jpg");
        background-size: cover;
    }

    .booking-link-grid a {
        font-family: var(--family-title);
        font-weight:800;
        justify-content: center;
        color:var(--color-white);
        padding-bottom: .5em;
        text-transform: uppercase;
    }

}

