/*DONE FEB 24/25 and text done too */
/*******************************************************************************************************************

WIDTH 90% FOR ALL LESS THAN 900px (OUR CONTENT WINDOW)

*******************************************************************************************************************/
@media only screen
and (min-width: 320px)
and (max-width: 896px)    {

    .header-home-image, .header-detail-image {
        width: var(--media-unaffected-by-content-width);
    }

    a .booking-link-grid {
        width: var(--media-less-than-content-width);
    }
}

/*******************************************************************************************************************

MAX WIDTH 100% FOR ALL OVER 900px (OUR CONTENT WINDOW)

*******************************************************************************************************************/
@media only screen
and (min-width:960px)   {

    .header-home-image, .header-detail-image {
        width: var(--media-unaffected-by-content-width);
    }

    a .booking-link-grid {
        width: var(--media-more-than-content-width);
    }
}

/*******************************************************************************************************************
  GLOBAL BANANAS - PORTRAIT
*******************************************************************************************************************/
@media only screen
and (min-width: 320px)
and (max-width: 568px)
and (orientation: portrait) {

    /* Images - 1160/1920 is 60.41%  */
    .header-home-image, .header-detail-image {
        height: 193px;
    }

    .quote {
        font-size: var(--quote-small-banana-header-font-size);
        line-height: 100%;
    }

    .author {
        font-size: var(--author-small-banana-header-font-size);
        line-height: 100%;
    }

    /*image is 900x450 (90% is 810 by 405 so divide 810/405 to get ratio of 50%  */
    a .booking-link-grid {
        font-size: var(--small-p-banana-port-font-size);
        height: 160px;
    }

}

/*******************************************************************************************************************
  GLOBAL BANANAS - PORTRAIT
*******************************************************************************************************************/
@media only screen
and (min-width: 320px)
and (max-width: 568px)
and (orientation: landscape) {

    /* Images - 1160/1920 is 60.41%  */
    .header-home-image, .header-detail-image {
        height: 343px;
    }

    .quote {
        font-size: var(--quote-big-banana-header-font-size);
        line-height: 110%;
    }

    .author {
        font-size: var(--author-big-banana-header-font-size);
        line-height: 110%;
    }

    /*image is 900x450 (booking grid is 900 by 450 so divide 450/900 to get ratio of 50% and 50x360 is 180) */
    a .booking-link-grid {
        font-size: var(--big-p-banana-land-font-size);
        height: 284px;
    }
}

/*******************************************************************************************************************
  GLOBAL SMALL MOBILES - PORTRAIT
*******************************************************************************************************************/
@media only screen
and (min-width: 360px)
and (max-width: 414px)
and (orientation: portrait) {

    /* Images - 1160/1920 is 60.41%  */
    .header-home-image, .header-detail-image {
        height: 217px;
    }

    .quote {
        font-size: var(--quote-small-mobile-header-font-size);
        line-height: 110%;
    }

    .author {
        font-size: var(--author-small-mobile-header-font-size);
        line-height: 110%;
    }

    /*image is 900x450 (booking grid is 900 by 450 so divide 450/900 to get ratio of 50% and 50x360 is 180) */
    a .booking-link-grid {
        font-size: var(--small-p-mobile-port-font-size);
        height: 180px;
    }
}


/*******************************************************************************************************************
  GLOBAL SMALL MOBILES - LANDSCAPE
*******************************************************************************************************************/
@media only screen
and (min-width: 360px)
and (max-width: 414px)
and (orientation: landscape) {

    /* Images - 1160/1920 is 60.41%  */
    .header-home-image, .header-detail-image {
        height: 250px;
    }

    .quote {
        font-size: var(--quote-small-mobile-header-font-size);
        line-height: 110%;
    }

    .author {
        font-size: var(--author-small-mobile-header-font-size);
        line-height: 110%;
    }

    /*image is 900x450 (booking grid is 900 by 450 so divide 450/900 to get ratio of 50% and 50x414 is 180) */
    a .booking-link-grid {
        font-size: var(--small-p-mobile-land-font-size);
        height: 207px;
    }
}

/*******************************************************************************************************************
  GLOBAL BIG MOBILES - PORTRAIT
*******************************************************************************************************************/
@media only screen
and (min-width: 640px)
and (max-width: 896px)
and (orientation: portrait) {

    /* Images - 1160/1920 is 60.41%  */
    .header-home-image, .header-detail-image {
        height: 386px;
    }

    .quote {
        font-size: var(--quote-big-mobile-header-font-size);
    }

    .author {
        font-size: var(--author-big-mobile-header-font-size);
    }

    /*image is 900x450 (booking grid is 900 by 450 so divide 450/900 to get ratio of 50% and 50x640) */
    a .booking-link-grid {
        font-size: var(--big-p-mobile-port-font-size);
        height: 320px;
    }
}

/*******************************************************************************************************************
  GLOBAL BIG MOBILES - LANDSCAPE
*******************************************************************************************************************/
@media only screen
and (min-width: 640px)
and (max-width: 896px)
and (orientation: landscape) {

    /* Images - 1160/1920 is 60.41%  */
    .header-home-image, .header-detail-image {
        height: 541px;
    }

    .quote {
        font-size: var(--quote-big-mobile-header-font-size);
    }

    .author {
        font-size: var(--author-big-mobile-header-font-size);
    }

    /*image is 900x450 ( 50% and 50x896) */
    a .booking-link-grid {
        font-size: var(--big-p-mobile-land-font-size);
        height:448px;
    }
}

/*******************************************************************************************************************
  GLOBAL SMALL TABLETS - PORTRAIT
*******************************************************************************************************************/
@media only screen
and (min-width: 600px)
and (max-width: 800px)
and (orientation: portrait) {

    /* Images - 1160/1920 is 60.41%  */
    .header-home-image, .header-detail-image {
        height: 362px;
    }

    .quote {
        font-size: var(--quote-small-tablet-header-font-size);
    }

    .author {
        font-size: var(--author-small-tablet-header-font-size);
    }

    /* image is 450 height x 900 width but and width here is 810 (90% of 900) wide so 450/810 is 55% ratio */
    a .booking-link-grid {
        font-size: var(--small-p-tablet-port-font-size);
        height:300px;
    }
}

/*******************************************************************************************************************
  GLOBAL SMALL TABLETS - LANDSCAPE
*******************************************************************************************************************/

@media only screen
and (min-width: 600px)
and (max-width: 800px)
and (orientation: landscape) {

    /* Images - 1160/1920 is 60.41%  */
    .header-home-image, .header-detail-image {
        height: 483px;
    }

    .quote {
        font-size: var(--quote-small-tablet-header-font-size);
    }

    .author {
        font-size: var(--author-small-tablet-header-font-size);
    }

    a .booking-link-grid {
        font-size: var(--small-p-tablet-land-font-size);
        height:400px;
    }
}

/*******************************************************************************************************************
  GLOBAL BIG TABLETS - PORTRAIT
*******************************************************************************************************************/
@media only screen
and (min-width: 960px)
and (max-width: 1280px)
and (orientation: portrait) {

    /* Images - 600/1024 58.59%   */
    .header-home-image, .header-detail-image {
        height: 562px;
    }

    .quote {
        font-size: var(--quote-big-tablet-header-font-size);
    }

    .author {
        font-size: var(--author-big-tablet-header-font-size);
    }

    /* IMAGE IS 450x900 so no shrinkage needed */
    a .booking-link-grid {
        width: var(--media-more-than-content-width);
    }

    a .booking-link-grid {
        font-size: var(--big-p-tablet-port-font-size);
        height: 450px;
    }
}

/* BIG TABLET LANDSCAPE, IPADS AND UP ARE ALL OVER 1024 **********************************************************************************/
@media only screen
and (min-width: 1024px) {

    /* Images - 600/1024 SO 100% HERE AND UP  */
    .header-home-image, .header-detail-image {
        height: 600px;
    }

    .quote {
        font-size: var(--quote-desktop-header-font-size);
        line-height: 110%;
    }

    .author {
        font-size: var(--author-desktop-header-font-size);
        line-height: 110%;
    }

    /* IMAGE IS 450x900 so no shrinkage needed */
    a .booking-link-grid {
        width: var(--media-more-than-content-width);
    }

    a .booking-link-grid {
        font-size: var(--big-p-tablet-port-font-size);
        height: 450px;
    }
}

/* GLOBAL *************************************************************************************************************/
@media only screen {

    .header-home-image, .header-detail-image {
        display: grid;
        float: left;
        text-align: center;
        align-content: flex-end;
        justify-content: center;
        color: var(--color-white);
    }

    /* I changed from header-copy p and span because I couldn't reduce the margins around the p even with margin:0 padding:0 */
    .quote, .author {
        font-family: var(--family-quotes);
        font-style: italic;
        font-weight: 400;
        align-content: flex-end;
    }

    .author {
        display: block;
    }

    /* HOME  */
    .header-home-image {
        background-size: cover;
        background-image: linear-gradient(transparent 50%, rgba(0, 33, 69, .8) 80%),
        url('src/assets/images/headers/home/headerHome.jpg');
    }

    /* PLAN AHEAD */
    .header-think-about-needs-image {
        background-size: contain;
        background-image: linear-gradient(transparent 50%, rgba(0, 33, 69, .8) 80%),
        url("src/assets/images/headers/planAhead/headerThinkAboutNeeds.jpg");
    }

    .header-consider-advocates-image {
        background-size: cover;
        background-image: linear-gradient(transparent 50%, rgba(0, 33, 69, .8) 80%),
        url('src/assets/images/headers/planAhead/headerConsiderAdvocates.jpg');
    }

    .header-understand-care-plan-image {
        background-size: cover;
        background-image: linear-gradient(transparent 50%, rgba(0, 33, 69, .8) 80%),
        url("src/assets/images/headers/planAhead/headerUnderstandAdvancePlans.jpg");
    }

    .header-know-rights-image {
        background-size: cover;
        background-image: linear-gradient(transparent 50%, rgba(0, 33, 69, .8) 80%),
        url("src/assets/images/headers/planAhead/headerKnowYourRights.jpg");
    }

    /* TAKE ACTION */
    .header-write-needs-down-image {
        background-size: cover;
        background-image: linear-gradient(transparent 50%, rgba(0, 33, 69, .8) 80%),
        url("src/assets/images/headers/takeAction/headerWriteNeedsDown.jpg");
    }

    .header-choose-your-rep-image {
        background-size: cover;
        background-image: linear-gradient(transparent 50%, rgba(0, 33, 69, .8) 80%),
        url("src/assets/images/headers/takeAction/headerChooseReprentatives.jpg");
    }

    .header-write-adv-care-plan-image {
        background-size: cover;
        background-image: linear-gradient(transparent 50%, rgba(0, 33, 69, .8) 80%),
        url("src/assets/images/headers/takeAction/headerWriteCarePlan.jpg");
    }

    .header-create-checklist-image {
        background-size: cover;
        background-image: linear-gradient(transparent 50%, rgba(0, 33, 69, .8) 80%),
        url("src/assets/images/headers/takeAction/headerCreateCheckList.jpg");
    }

    /* ABOUT  */
    .header-about-eol-advocacy-image {
        background-size: cover;
        background-image: linear-gradient(transparent 50%, rgba(0, 33, 69, .8) 80%),
        url('src/assets/images/headers/about/headerAboutAdvocacy.jpg');
    }

    .header-about-pract-image {
        background-size: cover;
        background-image: linear-gradient(transparent 50%, rgba(0, 33, 69, .8) 80%),
        url('src/assets/images/headers/about/headerAboutPractitioner.jpg');
    }

    /* BOOK CONSULTATION  */
    .header-testimonials-image {
        background-size: cover;
        background-image: linear-gradient(transparent 50%, rgba(0, 33, 69, .8) 80%),
        url('src/assets/images/headers/consultations/headerTestimonials.jpg');
    }

    .header-book-consultation-image {
        background-size: cover;
        background-image: linear-gradient(transparent 50%, rgba(0, 33, 69, .8) 80%),
        url('src/assets/images/headers/consultations/headerBookConsultation.jpg');
    }

    /* Links to booking form */
    a .booking-link-grid {
        display: grid;
        max-width: var(--content-width);
        margin: 1em auto;
        background-repeat: no-repeat;
        background-image: url("src/assets/images/details/home/bookSessionText.jpg");
        background-size: contain;
        font-family: var(--family-title);
        font-weight: 800;
        align-content: flex-end;
        justify-content: center;
        color: var(--color-white);
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}