
/*  BANANA PORTRAIT *******************************************************************************************/
@media only screen
and (min-width: 240px)
and (max-width: 359px)
and (orientation: portrait) {

    /* UNIQUE HEADINGS ON HOME PAGE ONLY RIGHT NOW  */
    .full-length-titles  {
        width:90%;
        margin-left:5%;
        margin-right:5%;
    }

    .full-length-titles h1  {
        font-size: var(--h1-banana-port-font-size);
        text-align:center;
    }

    .full-length-titles h2 {
        font-size: var(--h2-banana-port-font-size);
    }

    .content-dark-titles h1, .content-clear-titles h1, .content-light-titles h1 {
        font-size: var(--h1-banana-port-font-size);
    }

    .content-dark-titles h2, .content-clear-titles h2, .content-light-titles h2 {
        font-size: var(--h2-banana-port-font-size);
    }

    .content-dark-titles h3, .content-clear-titles h3, .content-light-titles h3  {
        font-size: var(--h3-banana-port-font-size);
    }

    .content-dark-titles h4, .content-clear-titles h4, .content-light-titles h4  {
        font-size: var(--h4-banana-port-font-size);
    }

    .content-dark-copy, .content-light-copy, .content-clear-copy {
        font-size: var(--small-copy-banana-port-font-size);
    }

}

/* BANANA LANDSCAPE ****************************************************************************************************/
@media only screen
and (min-width: 568px)
and (max-width: 895px)
and (orientation: landscape) {

    .full-length-titles  {
        width:90%;
        margin-left:5%;
        margin-right:5%;
    }

    /* UNIQUE HEADING */
    .full-length-titles h1 {
        font-size: var(--h1-banana-land-font-size);
        text-align:center;
    }

    .full-length-titles h2 {
        font-size: var(--h2-banana-land-font-size);
    }

    .content-dark-titles h1, .content-clear-titles h1, .content-light-titles h1 {
        font-size: var(--h1-banana-land-font-size);
    }

    .content-dark-titles h2, .content-clear-titles h2, .content-light-titles h2 {
        font-size: var(--h2-banana-land-font-size);
    }

    .content-dark-titles h3, .content-clear-titles h3, .content-light-titles h3  {
        font-size: var(--h3-banana-land-font-size);
    }

    .content-dark-titles h4, .content-clear-titles h4, .content-light-titles h4  {
        font-size: var(--h4-banana-land-font-size);
    }

    .content-dark-copy, .content-light-copy, .content-clear-copy {
        font-size: var(--small-copy-banana-land-font-size);
    }

}

/* MOBILES PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 360px)
and (max-width: 599px)
and (orientation: portrait) {

    .full-length-titles  {
        width:90%;
        margin-left:5%;
        margin-right:5%;
    }

    .full-length-titles h1 {
        font-size: var(--h1-mobile-port-font-size);
        text-align:center;
    }

    .full-length-titles h2 {
        font-size: var(--h2-mobile-port-font-size);
    }

    .content-dark-titles h1, .content-clear-titles h1, .content-light-titles h1 {
        font-size: var(--h1-mobile-port-font-size);
    }

    .content-dark-titles h2, .content-clear-titles h2, .content-light-titles h2 {
        font-size: var(--h2-mobile-port-font-size);
    }

    .content-dark-titles h3, .content-clear-titles h3, .content-light-titles h3  {
        font-size: var(--h3-mobile-port-font-size);
    }

    .content-dark-titles h4, .content-clear-titles h4, .content-light-titles h4  {
        font-size: var(--h4-mobile-port-font-size);
    }

    .content-dark-copy, .content-light-copy, .content-clear-copy {
        font-size: var(--small-copy-mobile-port-font-size);
    }

}

/*  MOBILES LANDSCAPE **************************************************************************************************/
@media only screen
and (min-width:896px )
and (max-width: 1279px)
and (orientation: landscape) {

    .full-length-titles  {
        width:100%;
    }

    .full-length-titles h1 {
        font-size: var(--h1-mobile-land-font-size);
        text-align:center;
    }

    .full-length-titles  h2 {
        font-size: var(--h2-mobile-land-font-size);
    }

    .content-dark-titles h1, .content-clear-titles h1, .content-light-titles h1 {
        font-size: var(--h1-mobile-land-font-size);
    }

    .content-dark-titles h2, .content-clear-titles h2, .content-light-titles h2 {
        font-size: var(--h2-mobile-land-font-size);
    }

    .content-dark-titles h3, .content-clear-titles h3, .content-light-titles h3  {
        font-size: var(--h3-mobile-land-font-size);
    }

    .content-dark-titles h4, .content-clear-titles h4, .content-light-titles h4  {
        font-size: var(--h4-mobile-land-font-size);
    }

    .content-dark-copy, .content-light-copy, .content-clear-copy {
        font-size: var(--small-copy-mobile-land-font-size);
    }

}

/* TABLETS PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 600px)
and (max-width: 1023px)
and (orientation: portrait) {

    /* UNIQUE HEADING */
    .full-length-titles  {
        width:100%;
    }

    .full-length-titles h1 {
        font-size: var(--h1-tablet-port-font-size);
        text-align:center;
    }

    .full-length-titles h2 {
        font-size: var(--h2-tablet-port-font-size);
    }

    .content-dark-titles h1, .content-clear-titles h1, .content-light-titles h1 {
        font-size: var(--h1-tablet-port-font-size);
    }

    .content-dark-titles h2, .content-clear-titles h2, .content-light-titles h2 {
        font-size: var(--h2-tablet-port-font-size);
    }

    .content-dark-titles h3, .content-clear-titles h3, .content-light-titles h3  {
        font-size: var(--h3-tablet-port-font-size);
    }

    .content-dark-titles h4, .content-clear-titles h4, .content-light-titles h4  {
        font-size: var(--h4-tablet-port-font-size);
    }

    .content-dark-copy, .content-light-copy, .content-clear-copy {
        font-size: var(--small-copy-tablet-port-font-size);
    }

}

/* TABLETS LANDSCAPE ***************************************************************************************************/
@media only screen
and (min-width: 1280px)
and (max-width: 1365px)
and (orientation: landscape) {

    /* UNIQUE HEADING */
    .full-length-titles  {
        width:100%;
    }

    .full-length-titles h1 {
        padding:2em 0;
        font-size: var(--h1-tablet-land-font-size);
        text-align:left;
    }

    .full-length-titles h2 {
        font-size: var(--h2-tablet-land-font-size);
    }

    .content-dark-titles h1, .content-clear-titles h1, .content-light-titles h1 {
        font-size: var(--h1-tablet-land-font-size);
    }

    .content-dark-titles h2, .content-clear-titles h2, .content-light-titles h2 {
        font-size: var(--h2-tablet-land-font-size);
    }

    .content-dark-titles h3, .content-clear-titles h3, .content-light-titles h3  {
        font-size: var(--h3-tablet-land-font-size);
    }

    .content-dark-titles h4, .content-clear-titles h4, .content-light-titles h4  {
        font-size: var(--h4-tablet-land-font-size);
    }

    .content-dark-copy, .content-light-copy, .content-clear-copy {
        font-size: var(--small-copy-tablet-land-font-size);
    }

}

/* IPADS PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 1024px)
and (max-width: 1366px)
and (orientation: portrait) {

    /* UNIQUE HEADING */
    .full-length-titles  {
        width:100%;
    }

    .full-length-titles h1 {
        padding:1.5em 0;
        font-size: var(--h1-ipad-port-font-size);
        text-align:left;
    }

    .full-length-titles h2 {
        font-size: var(--h2-ipad-port-font-size);
    }

    .content-dark-titles h1, .content-clear-titles h1, .content-light-titles h1 {
        font-size: var(--h1-ipad-port-font-size);
    }

    .content-dark-titles h2, .content-clear-titles h2, .content-light-titles h2 {
        font-size: var(--h2-ipad-port-font-size);
    }

    .content-dark-titles h3, .content-clear-titles h3, .content-light-titles h3  {
        font-size: var(--h3-ipad-port-font-size);
    }

    .content-dark-titles h4, .content-clear-titles h4, .content-light-titles h4  {
        font-size: var(--h4-ipad-port-font-size);
    }

    .content-dark-copy, .content-light-copy, .content-clear-copy {
        font-size: var(--small-copy-ipad-port-font-size);
    }

}

/* IPADS LANDSCAPE ***************************************************************************************************/
@media only screen
and (min-width: 1366px)
and (max-width: 1439px)
and (orientation: landscape) {

    /* UNIQUE HEADING */
    .full-length-titles  {
        width:100%;
    }

    .full-length-titles h1 {
        padding:2em 0;
        font-size: var(--h1-ipad-land-font-size);
        text-align:left;
    }

    .full-length-titles h2 {
        font-size: var(--h2-ipad-land-font-size);
    }

    .content-dark-titles h1, .content-clear-titles h1, .content-light-titles h1 {
        font-size: var(--h1-ipad-land-font-size);
    }

    .content-dark-titles h2, .content-clear-titles h2, .content-light-titles h2 {
        font-size: var(--h2-ipad-land-font-size);
    }

    .content-dark-titles h3, .content-clear-titles h3, .content-light-titles h3  {
        font-size: var(--h3-ipad-land-font-size);
    }

    .content-dark-titles h4, .content-clear-titles h4, .content-light-titles h4  {
        font-size: var(--h4-ipad-land-font-size);
    }

    .content-dark-copy, .content-light-copy, .content-clear-copy {
        font-size: var(--small-copy-ipad-land-font-size);
    }

}

/* DESKTOPS AND LAPTOPS ****************************************************************************************************/
@media only screen
and (min-width: 1440px) {

    /* UNIQUE HEADING */
    .full-length-titles  {
        width:100%;
    }

    .full-length-titles h1 {
        font-size: var(--h1-desktop-font-size);
    }

    .full-length-titles h2 {
        font-size: var(--h2-desktop-font-size);
    }

    .content-dark-titles h1, .content-clear-titles h1, .content-light-titles h1 {
        font-size: var(--h1-desktop-font-size);
    }

    .content-dark-titles h2, .content-clear-titles h2, .content-light-titles h2 {
        font-size: var(--h2-desktop-font-size);
    }

    .content-dark-titles h3, .content-clear-titles h3, .content-light-titles h3  {
        font-size: var(--h3-desktop-font-size);
    }

    .content-dark-titles h4, .content-clear-titles h4, .content-light-titles h4  {
        font-size: var(--h4-desktop-font-size);
    }

    .content-dark-copy, .content-light-copy, .content-clear-copy {
        font-size: var(--small-copy-desktop-font-size);
    }

}

/* GLOBAL *************************************************************************************************************/
@media only screen {

    .full-length-titles  {
        display:grid;
        max-width:1152px;
        margin:0 auto;
    }

    .full-length-titles h1, .full-length-titles h2 {
        font-family: var(--family-headers);
        padding:1em 0;
        text-align: center;
        font-style:normal;
        text-transform: uppercase;
        font-weight:400;
        color: var(--color-light-blue);
        letter-spacing: 4px;
        border:thick solid red;
    }

    .content-dark-titles, .content-clear-titles, .content-light-titles, .content-dark-copy, .content-light-copy, .content-clear-copy {
        display: block;
        width: 100%;
        margin: auto;
        max-width: 800px;
    }

    .content-dark-titles h1, .content-clear-titles h1, .content-light-titles h1 {
        text-align: center;
    }

    .content-dark-titles h1, .content-dark-titles h2, .content-dark-titles h3, .content-dark-titles h4, .content-dark-copy, .content-dark-copy a {
        color: var(--color-dark-blue);
        background-color: white;
    }
    
    .content-dark-copy a, .content-light-copy a, .content-clear-copy a  {
        font-weight:800;
    }

    .content-light-titles, .content-light-copy, .content-light-copy a  {
        color: var(--color-white);
    }

    .content-dark-titles h1, .content-light-titles h1, .content-clear-titles h1,
    .content-dark-titles h2, .content-light-titles h2, .content-clear-titles h2,
    .content-dark-titles h3, .content-light-titles h3, .content-clear-titles h3,
    .content-dark-titles h4, .content-light-titles h4, .content-clear-titles h4 {
        font-family: Whitney-Light, Whitney-Book, arial, serif;
        letter-spacing: 3px;
        font-style:normal;
    }

    .content-dark-copy, .content-light-copy, .content-clear-copy {
        font-family: var(--family-copy);
        line-height:var(--copy-line-height);
        text-align: left;
    }

}
