/* checked Feb 16, 25 */

/*******************************************************************************************************************
  GLOBAL BANANAS- MOBILES AND SMALL TABLETS - under 900 (content) width so need 10% space on either side of content
*******************************************************************************************************************/
@media only screen
    and (min-width: 320px)
    and (max-width: 896px)    {

    .content-images {
        width:var(--media-less-than-content-width);
    }
}

/*******************************************************************************************************************
  GLOBAL IPADS, LAPTOPS, DESKTOPS AND UP (over 900 so don't need to have space on either side of content)
*******************************************************************************************************************/
@media only screen
and (min-width:960px)   {

    .content-images {
        width:var(--media-more-than-content-width);
    }
}

/* GLOBAL *************************************************************************************************************/
@media only screen {

     /* 900 wide */
    .content-images, .content-images a   {
        display:grid;
        max-width:var(--content-width);
        margin:1em auto;
        justify-content: center;
    }

    .content-images img, .content-images img a {
        max-width:100%;
        height:auto;
    }
}
