/*******************************************************************************************************************
  GLOBAL BANANAS- MOBILES, SMALL TABLETS - under 900 (content) width so need 10% space on either side of content
*******************************************************************************************************************/
@media only screen
    and (min-width: 240px)
    and (max-width: 896px)    {

    .content-dark-copy, .content-light-copy, .quotes {
        width:var(--media-less-than-content-width);

    }
}

/*******************************************************************************************************************
  GLOBAL BIG TABLETS, IPADS, LAPTOPS, DESKTOPS (over 900 so don't need to have space on either side of content)
*******************************************************************************************************************/
@media only screen
    and (min-width:960px)   {

    .content-dark-copy, .content-light-copy, .quotes {
        width:var(--media-more-than-content-width);

    }
}

/*******************************************************************************************************************
  BANANAS
*******************************************************************************************************************/
@media only screen
    and (min-width: 240px)
    and (max-width: 320px) {

    .content-dark-copy p, .content-light-copy p  {
        font-size: var(--med-copy-banana-font-size);
        line-height:var(--mobile-copy-line-height);
    }

    .content-dark-copy span, .content-light-copy span {
        font-size: var(--small-copy-banana-font-size);
    }

    /* QUOTES */
    .quotes p  {
        font-size:var(--detail-quote-banana-font-size);
    }

    .quotes span {
        font-size:var(--detail-author-banana-font-size);
    }

}

/*******************************************************************************************************************
  MOBILES
*******************************************************************************************************************/
@media only screen
    and (min-width: 360px)
    and (max-width: 414px) {

    .content-dark-copy p, .content-light-copy p  {
        font-size: var(--med-copy-mobile-font-size);
        line-height:var(--mobile-copy-line-height);
    }

    .content-dark-copy span, .content-light-copy span {
        font-size: var(--small-copy-mobile-font-size);
        line-height:var(--mobile-copy-line-height);
    }

    .quotes p {
        font-size:var(--detail-quote-mobile-font-size);
    }

    .quotes span {
        font-size:var(--detail-author-mobile-font-size);
    }

}

/*******************************************************************************************************************
  TABLETS
*******************************************************************************************************************/
@media only screen
    and (min-width: 600px)
    and (max-width: 800px)  {

    .content-dark-copy p, .content-light-copy p  {
        font-size: var(--med-copy-tablet-font-size);
        line-height:var(--copy-line-height);
    }

    .content-dark-copy span, .content-light-copy span {
        font-size: var(--small-copy-tablet-font-size);
        line-height:var(--copy-line-height);
    }

    .quotes p  {
        font-size:var(--detail-quote-tablet-font-size);
    }

    .quotes span {
        font-size:var(--detail-author-tablet-font-size);
    }

}

/*******************************************************************************************************************
  IPADS
*******************************************************************************************************************/
@media only screen
    and (min-width: 1024px)
    and (max-width: 1366px) {

    .content-dark-copy p, .content-light-copy p  {
        font-size: var(--med-copy-ipad-font-size);
        line-height:var(--copy-line-height);
    }

    .content-dark-copy span, .content-light-copy span {
        font-size: var(--small-copy-ipad-font-size);
        line-height:var(--copy-line-height);
    }

    .quotes p  {
        font-size:var(--detail-quote-ipad-font-size);
    }

    .quotes span {
        font-size:var(--detail-author-ipad-font-size);
    }

}

/*******************************************************************************************************************
  LAPTOPS
*******************************************************************************************************************/
@media only screen
    and (min-width: 1440px)
    and (max-width: 1919px) {

    .content-dark-copy p, .content-light-copy p  {
        font-size: var(--med-copy-laptop-font-size);
        line-height:var(--copy-line-height);
    }

    .content-dark-copy span, .content-light-copy span {
        font-size: var(--small-copy-laptop-font-size);
    }

    /* QUOTES */
    .quotes p {
        font-size:var(--detail-quote-laptop-font-size);
    }

    .quotes span {
        font-size:var(--detail-author-laptop-font-size);
    }
}

/*******************************************************************************************************************
  DESKTOPS
*******************************************************************************************************************/
@media only screen
    and (min-width: 1920px) {

    .content-dark-copy p, .content-light-copy p  {
        font-size: var(--med-copy-desktop-font-size);
        line-height:var(--copy-line-height);
    }

    .content-dark-copy span, .content-light-copy span {
        font-size: var(--small-copy-desktop-font-size);
    }

    /* QUOTES */
    .quotes p {
        font-size:var(--detail-quote-laptop-font-size);
    }

    .quotes span {
        font-size:var(--detail-author-laptop-font-size);
    }

}

/* GLOBAL *************************************************************************************************************/
@media only screen {

    .content-dark-copy, .content-light-copy {
        display: grid;
        margin: auto;
        max-width: var(--content-width);
        font-family: var(--family-copy);
    }

    .content-dark-copy p, .content-dark-copy p a, .content-dark-copy span {
        color: var(--color-dark-blue);
    }

    .content-light-copy p, .content-light-copy p a, .content-light-copy span{
        color: var(--color-white);
    }

    .content-dark-copy p a, .content-light-copy p a {
        /*.content-dark-copy p a, .content-light-copy p a, .content-dark-copy span a, .content-light-copy span a {*/
        font-weight:800;
        cursor: pointer;
    }

    .quotes {
        max-width: var(--content-width);
        display:grid;
        margin:1em auto;
        align-content: center;
        justify-content: center;
        font-family: var(--family-quotes);
        font-style: italic;
        color: var(--color-purple);
    }

    .quotes p  {
        font-weight: 400;
        text-align:left;
        line-height:var(--quote-line-height);
        margin:0;
    }

    .quotes span {
        text-align: right;
        padding-right:1em;
    }
}
