/********************************************************************************************************************/
/* Put at 90% so there is 5% space on either side as content is 900 max
/********************************************************************************************************************/
@media only screen
and (min-width: 360px)
and (max-width: 1024px) {

    .content-container  {
        width:var(--media-less-than-content-width);
        margin:auto;
    }

}

/*******************************************************************************************************************/
/* Over 1024 so can be at 100%
/*******************************************************************************************************************/
@media only screen
and (min-width: 1025px)  {

    .content-container  {
        width:var(--media-more-than-content-width);
        margin:auto;
    }

}

/*******************************************************************************************************************
  GLOBAL MOBILES, SMALL TABLETS -
*******************************************************************************************************************/
@media only screen
and (min-width: 360px)
and (max-width: 767px) {

    /*Lists*/
    .mobile-list {
        display:block;
    }

    .desktop-list {
        display:none;
    }

    .content-list {
        list-style-position: inside;
        padding: 0 .5em;
    }

    /* TITLES */
    /* main headings and report headings (h5)*/
    .content-title h1 {
        padding-top:1em;
        line-height: 100%;
        font-size: var(--h1-mobile);
        text-align:center;
    }

    .content-title h2 {
        padding-top:1em;
        line-height: 100%;
        font-weight: bold;
        font-size: var(--h2-mobile);
    }

    .content-title h3 {
        padding-top:1em;
        line-height: 100%;
        font-weight: bold;
        font-size: var(--h2-mobile);
    }

    .content-title h4 {
        font-size: var(--h4-mobile);
    }

    .content-title h5 {
        text-align: left;
        padding-top:.5em;
        line-height: 100%;
        font-size: var(--h4-mobile);
    }

    .content-title h6 {
        padding-top:.5em;
        font-weight: bold;
        font-size: var(--h2-mobile);
    }

    /* COPY */
    .content-copy p, .detail-quote {
        line-height: 150%;
    }

    /* COPY */
    .content-copy p {
        font-size: var(--p-mobile);
    }

    .content-copy span {
        font-size: var(--span-mobile);
    }

    /* DETAIL QUOTES */
    .content-quote  {
        font-size: var(--quote-mobile);
    }

    .content-author  {
        font-size: var(--author-mobile);
    }

    /* LISTS  */
    .list-item, .list-item-white {
        font-size: var(--p-mobile);
        padding:.5em 0;

    }
}

/*******************************************************************************************************************
  GLOBAL MOBILES, SMALL TABLETS -
*******************************************************************************************************************/
@media only screen
and (min-width: 768px)
and (max-width: 1023px) {

    /*Lists*/
    .mobile-list {
        display:block;
    }

    .desktop-list {
        display:none;
    }

    .content-list {
        list-style-position: inside;
        padding: 0 .5em;
    }

    /* TITLES */
    /* main headings and report headings (h5)*/
    .content-title h1 {
        padding-top:1em;
        line-height: 100%;
        font-size: var(--h1-mobile);
        text-align:center;
    }

    .content-title h2 {
        padding-top:1em;
        line-height: 100%;
        font-weight: bold;
        font-size: var(--h2-mobile);
    }

    .content-title h3 {
        padding-top:1em;
        line-height: 100%;
        font-weight: bold;
        font-size: var(--h2-mobile);
    }

    .content-title h4 {
        font-size: var(--h4-mobile);
    }

    .content-title h5 {
        text-align: left;
        padding-top:.5em;
        line-height: 100%;
        font-size: var(--h4-mobile);
    }

    .content-title h6 {
        padding-top:.5em;
        font-weight: bold;
        font-size: var(--h2-mobile);
    }

    /* COPY */
    .content-copy p, .detail-quote {
        line-height: 150%;
    }

     /* COPY */
    .content-copy p {
        font-size: var(--p-mobile);
    }

    .content-copy span {
        font-size: var(--span-mobile);
    }

    /* DETAIL QUOTES */
    .content-quote  {
        font-size: var(--quote-tablet);
    }

    .content-author  {
        font-size: var(--author-tablet);
    }

    /* LISTS  */
    .list-item, .list-item-white {
        font-size: var(--p-mobile);
        padding:.5em 0;

    }
}

/*******************************************************************************************************************
 GLOBAL LAPTOPS
*******************************************************************************************************************/
@media only screen
and (min-width: 1024px) {

    /* TITLES */
    .content-title h1 {
        font-size:var(--h1-laptop);
        padding-top:.5em;
    }

    .content-title h2 {
        padding-top:1em;
        font-size: var(--h2-laptop);
    }

    .content-title h3 {
        font-size: var(--h3-laptop);
        padding-top: 1em;
    }

    /* COPY */
    .content-copy p {
        font-size: var(--p-laptop);
    }

    .content-copy p {
        line-height: 150%;
    }

    .content-copy span {
        font-size: var(--span-laptop);
        line-height: 150%;
    }

    /* LISTS  */
    .list-item {
        font-size:var(--p-laptop);
        line-height: 115%;
    }

    .list-item-small {
        font-size:1.2em;
        line-height: 115%;
    }

    .content-quote {
        font-size: var(--quote-laptop);
        line-height: 150%;
    }

    .content-author {
        font-size: var(--author-laptop);
        line-height: 150%;
    }

}

/*************************************************************************************************************
    GLOBAL - Always have text over and under detail quotes
*************************************************************************************************************/
@media only screen {

    /* this container sets the max width for the 3 different size ranges and all content goes within it */
    .content-container {
        display:block;
        margin:auto;
        max-width: var(--ipad-width);
    }

    /* TITLES */
    .content-title  {
        display:block;
        float:left;
        width:100%;
        margin:auto;
    }

    /*H1 is one on each page, not linkable. H2 is the smaller heading, not linkable*/
    .content-title h1, .content-title h2     {
        color: var(--color-copy-blue);
    }

    /* H3 is ONLY for close or read forms triggeredSection1 etc and both are linkable */
    .content-title h3 a {
        color: var(--color-purple);
    }

    .content-title h1, .content-title h2, .content-title h3 {
        transform:scaleY(110%);
        letter-spacing:2px;
        text-transform: uppercase;
        font-family: var(--family-title);
        margin:auto;
    }

    .content-title h1 {
        font-family: var(--family-title);
        font-weight:bold;
        text-align:center;
    }

    .content-title h3 a {
        cursor: pointer;
        text-decoration: none;
    }

    /* COPY */
    .content-copy {
        width:100%;
        display:block;
        float:left;
        font-family: var(--family-copy);
        margin:auto;
    }

    .content-copy p, .content-copy span {
        margin:auto;
        color: var(--color-copy-blue);
    }

    .content-copy a, .content-copy p a {
        color: var(--color-hyperlink);
    }

    .content-copy p a, .content-copy a {
        cursor: pointer;
        text-decoration: none;
    }

    .content-copy p a:hover, .content-copy a:hover {
        text-decoration: underline;
    }

    .content-copy span a {
        font-weight: normal;
        cursor: pointer;
    }

    /* LISTS  */
    .content-list {
        display:block;
        float:left;
        margin:auto;
        width:100%;
        list-style-position: initial;
    }

    .list-item, .list-item-small  {
        padding-top:1em;
    }

    .list-item-small  {
        font-weight: bold;
    }

    .list-item, .list-item a, .list-item-small, .list-item-small a {
        font-family: var(--family-copy);
        text-align: left;
        color:var(--color-copy-blue);
    }

    .list-item a, .list-item-small a {
        text-decoration: none;
        cursor: pointer;
    }

    .list-item a:hover, .list-item-small a:hover {
        text-decoration: underline;
    }

    .content-quotes {
        display:block;
        float:left;
        width:100%;
        font-family: var(--family-quotes);
        padding:1em 0;
    }

    .content-quote, .content-author   {
        display:inline;
        font-weight: bold;
        font-style: italic;
        line-height:100%;
        color:var(--color-background-quotes);
    }

    .content-images, .content-images a   {
        display:block;
        float:left;
        margin:auto;
        padding:1em 0;
    }

    .content-images img  {
        max-width:100%;
        height:auto;
    }

}
