
/*  BANANA PORTRAIT *******************************************************************************************/
@media only screen
and (min-width: 240px)
and (max-width: 359px)
and (orientation: portrait) {

   /* .forms-desktop {
        display: block;
        width: 100%;
        margin:auto;
        border-left: thin solid var(--color-grey);
        border-right: thin solid var(--color-grey);
        border-bottom: thin solid var(--color-grey);
    }*/

    .forms-mobile, .forms-both {
        display: block;
        width: 100%;
        margin:auto;
        border-left: thin solid var(--color-grey);
        border-right: thin solid var(--color-grey);
        border-bottom: thin solid var(--color-grey);
    }

    .forms-desktop {
        display: none;
    }

    /* IN CONSULT MEDICAL, CAREGIVER-SUPPORT, MAKING PLAN, PATIENT-SUPPORT, CLIENT-SESSION, SESSION MEDICAL */
    .full-line-prompt p   {
        font-size: var(--global-big-banana-port-font-size);
    }

    .text-area {
        font-size: var(--global-med-banana-port-font-size);
    }

    /* IN CONSULT MEDICAL, CAREGIVER-SUPPORT, MAKING PLAN, PATIENT-SUPPORT, SESSION MEDICAL */
    .first-radio-check-column, .second-radio-check-column, .third-radio-check-column, .full-radio-check-column   {
        font-size: var(--global-med-banana-port-font-size);
        padding:1em .2em;
    }

    /* DEMOGRAPHICS */
    .full-text-column, .first-text-column, .second-text-column, .third-text-column, .fourth-text-column, .third-fourth-text-column {
        font-size: var(--global-big-banana-port-font-size);
    }

    .title-background, .title-background-top {
        font-size: var(--med-whitney-banana-port-font-size);
    }

    .cancel-print-container {
        width: 50%;
        margin-left: 50%;
    }

    .cancel-button, .print-button, .print-form-button   {
        font-size:.5em;
        width:60px;
    }


}

/* BANANA LANDSCAPE ****************************************************************************************************/
@media only screen
and (min-width: 568px)
and (max-width: 895px)
and (orientation: landscape) {

  /*  .forms-desktop {
        display: block;
        width: 100%;
        margin:auto;
        border-left: thin solid var(--color-grey);
        border-right: thin solid var(--color-grey);
        border-bottom: thin solid var(--color-grey);
    }*/

    .forms-mobile, .forms-both {
        display: block;
        width: 100%;
        margin:auto;
        border-left: thin solid var(--color-grey);
        border-right: thin solid var(--color-grey);
        border-bottom: thin solid var(--color-grey);
    }

    .forms-desktop {
        display: none;
    }

    /* IN CONSULT MEDICAL, CAREGIVER-SUPPORT, MAKING PLAN, PATIENT-SUPPORT, CLIENT-SESSION, SESSION MEDICAL */
    .full-line-prompt p   {
        font-size: var(--global-big-banana-land-font-size);
    }

    .text-area {
        font-size: var(--global-med-banana-land-font-size);
    }

    .first-radio-check-column, .second-radio-check-column, .third-radio-check-column, .full-radio-check-column   {
        font-size: var(--global-med-banana-land-font-size);
        padding:1em 2em 1em 2em;
    }

    /* DEMOGRAPHICS */
    .full-text-column, .first-text-column, .second-text-column, .third-text-column, .fourth-text-column, .third-fourth-text-column {
        font-size: var(--global-big-banana-land-font-size);
    }

    .title-background, .title-background-top {
        font-size: var(--med-whitney-banana-land-font-size);
    }

    .cancel-print-container {
        width: 30%;
        margin-left: 70%;
    }

    .cancel-button, .print-button, .print-form-button   {
        font-size:.6em;
        width:90px;
    }

}

/* MOBILES PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 360px)
and (max-width: 599px)
and (orientation: portrait) {

   /* .forms-desktop {
        display: block;
        width: 100%;
        margin:auto;
        border-left: thin solid var(--color-grey);
        border-right: thin solid var(--color-grey);
        border-bottom: thin solid var(--color-grey);
    }*/

    .forms-mobile, .forms-both {
        display: block;
        width: 100%;
        margin:auto;
        border-left: thin solid var(--color-grey);
        border-right: thin solid var(--color-grey);
        border-bottom: thin solid var(--color-grey);
    }

    .forms-desktop {
        display: none;
    }

    /* IN CONSULT MEDICAL, CAREGIVER-SUPPORT, MAKING PLAN, PATIENT-SUPPORT, CLIENT-SESSION, SESSION MEDICAL */
    .full-line-prompt p   {
        font-size: var(--global-big-mobile-port-font-size);
    }

    .text-area  {
        font-size: var(--global-med-mobile-port-font-size);
    }

    /* IN CONSULT MEDICAL, CAREGIVER-SUPPORT, MAKING PLAN, PATIENT-SUPPORT, SESSION MEDICAL */
    .first-radio-check-column, .second-radio-check-column, .third-radio-check-column, .full-radio-check-column   {
        font-size: var(--global-med-mobile-port-font-size);
        padding:1em;
    }

    /* DEMOGRAPHICS */
    .full-text-column, .first-text-column, .second-text-column, .third-text-column, .fourth-text-column, .third-fourth-text-column {
        font-size: var(--global-big-mobile-port-font-size);
    }

    .title-background, .title-background-top {
        font-size: var(--med-whitney-mobile-port-font-size);
    }

    .cancel-print-container {
        width: 40%;
        margin-left: 60%;
    }

    .cancel-button, .print-button, .print-form-button   {
        font-size:.6em;
        width:80px;
    }
}

/*  MOBILES LANDSCAPE **************************************************************************************************/
@media only screen
and (min-width:896px )
and (max-width: 1279px)
and (orientation: landscape) {

   /* .forms-desktop {
        display: block;
        width: 100%;
        margin:auto;
        border-left: thin solid var(--color-grey);
        border-right: thin solid var(--color-grey);
        border-bottom: thin solid var(--color-grey);
    }*/

    .forms-mobile, .forms-both {
        display: block;
        width: 100%;
        margin:auto;
        border-left: thin solid var(--color-grey);
        border-right: thin solid var(--color-grey);
        border-bottom: thin solid var(--color-grey);
    }

    .forms-desktop {
        display: none;
    }

    /* IN CONSULT MEDICAL, CAREGIVER-SUPPORT, MAKING PLAN, PATIENT-SUPPORT, CLIENT-SESSION, SESSION MEDICAL */
    .full-line-prompt p   {
        font-size: var(--global-big-mobile-land-font-size);
    }

    .text-area {
        font-size: var(--global-med-mobile-land-font-size);
    }

    /* IN CONSULT MEDICAL, CAREGIVER-SUPPORT, MAKING PLAN, PATIENT-SUPPORT, SESSION MEDICAL */
    .first-radio-check-column, .second-radio-check-column, .third-radio-check-column, .full-radio-check-column   {
        font-size: var(--global-med-mobile-land-font-size);
        padding:1em;
    }

    /* DEMOGRAPHICS */
    .full-text-column, .first-text-column, .second-text-column, .third-text-column, .fourth-text-column, .third-fourth-text-column {
        font-size: var(--global-big-mobile-land-font-size);
    }

    .title-background, .title-background-top {
        font-size: var(--med-whitney-mobile-land-font-size);
    }

    .cancel-print-container {
        width: 15%;
        margin-left: 85%;
    }

    .cancel-button, .print-button, .print-form-button   {
        font-size:.7em;
        width:90px;
    }

}

/*  TABLETS PORTRAIT *******************************************************************************************/
@media only screen
and (min-width: 600px)
and (max-width: 1023px)
and (orientation: portrait) {

    .forms-mobile, .forms-both {
        display: block;
        width: 100%;
        margin:auto;
        border-left: thin solid var(--color-grey);
        border-right: thin solid var(--color-grey);
        border-bottom: thin solid var(--color-grey);
    }

    .forms-desktop {
        display: none;
    }

    /* IN CONSULT MEDICAL, CAREGIVER-SUPPORT, MAKING PLAN, PATIENT-SUPPORT, CLIENT-SESSION, SESSION MEDICAL */
    .full-line-prompt p   {
        font-size: var(--global-big-tablet-port-font-size);
    }

    .text-area {
        font-size: var(--global-med-tablet-port-font-size);
    }

    /* IN CONSULT MEDICAL, CAREGIVER-SUPPORT, MAKING PLAN, PATIENT-SUPPORT, SESSION MEDICAL */
    .first-radio-check-column, .second-radio-check-column, .third-radio-check-column, .full-radio-check-column   {
        font-size: var(--global-med-tablet-port-font-size);
        padding:1em;
    }

    /* DEMOGRAPHICS */
    .full-text-column, .first-text-column, .second-text-column, .third-text-column, .fourth-text-column, .third-fourth-text-column {
        font-size: var(--global-big-tablet-port-font-size);
    }

    .title-background, .title-background-top {
        font-size: var(--med-whitney-tablet-port-font-size);
    }

    .cancel-print-container {
        width: 40%;
        margin-left: 60%;
    }

    .cancel-button, .print-button, .print-form-button   {
        font-size:.6em;
        width:80px;
    }

}


/*  TABLETS LANDSCAPE *******************************************************************************************/
@media only screen
and (min-width: 1280px)
and (max-width: 1365px)
and (orientation: landscape) {


    .forms-mobile {
        display: none;
    }

    .forms-desktop, forms-both {
        display: block;
        width: 100%;
        margin:auto;
        border-left: thin solid var(--color-grey);
        border-right: thin solid var(--color-grey);
        border-bottom: thin solid var(--color-grey);
    }

    /* IN CONSULT MEDICAL, CAREGIVER-SUPPORT, MAKING PLAN, PATIENT-SUPPORT, CLIENT-SESSION, SESSION MEDICAL */
    .full-line-prompt p   {
        font-size: var(--global-big-tablet-land-font-size);
    }

    .text-area {
        font-size: var(--global-med-tablet-land-font-size);
    }

    /* IN CONSULT MEDICAL, CAREGIVER-SUPPORT, MAKING PLAN, PATIENT-SUPPORT, CLIENT SESSION, SESSION MEDICAL */
    .first-radio-check-column, .second-radio-check-column, .third-radio-check-column, .full-radio-check-column   {
        font-size: var(--global-med-tablet-land-font-size);
        padding:1em;
    }

    /* DEMOGRAPHICS */
    .full-text-column, .first-text-column, .second-text-column, .third-text-column, .fourth-text-column, .third-fourth-text-column {
        font-size: var(--global-big-tablet-land-font-size);
    }

    .title-background, .title-background-top {
        font-size: var(--med-whitney-tablet-land-font-size);
    }

    .signature {
        font-size:1.1em;
    }

    .cancel-print-container {
        width: 20%;
        margin-left: 80%;
    }

    .cancel-button, .print-button, .print-form-button   {
        font-size:.7em;
        width:90px;
    }

}

/* IPADS PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 1024px)
and (max-width: 1366px)
and (orientation: portrait) {

    .forms-mobile {
        display: none;
    }

    .forms-desktop, forms-both {
        display: block;
        width: 100%;
        margin:auto;
        border-left: thin solid var(--color-grey);
        border-right: thin solid var(--color-grey);
        border-bottom: thin solid var(--color-grey);
    }

    /* IN CONSULT MEDICAL, CAREGIVER-SUPPORT, MAKING PLAN, PATIENT-SUPPORT, CLIENT-SESSION, SESSION MEDICAL */
    .full-line-prompt p   {
        font-size: var(--global-big-ipad-port-font-size);
    }

    .text-area {
        font-size: var(--global-med-ipad-port-font-size);
    }

    /* IN CONSULT MEDICAL, CAREGIVER-SUPPORT, MAKING PLAN, PATIENT-SUPPORT, CLIENT SESSION, SESSION MEDICAL */
    .first-radio-check-column, .second-radio-check-column, .third-radio-check-column, .full-radio-check-column   {
        font-size: var(--global-med-ipad-port-font-size);
        padding:1em;
    }

    /* DEMOGRAPHICS */
    .full-text-column, .first-text-column, .second-text-column, .third-text-column, .fourth-text-column, .third-fourth-text-column {
        font-size: var(--global-big-ipad-port-font-size);
    }

    .title-background, .title-background-top {
        font-size: var(--med-whitney-ipad-port-font-size);
    }

    .signature {
        font-size:1.1em;
    }

    .cancel-print-container {
        width: 20%;
        margin-left: 80%;
    }

    .cancel-button, .print-button, .print-form-button   {
        font-size:.7em;
        width:80px;
    }

}

/* IPADS LANDSCAPE ***************************************************************************************************/
@media only screen
and (min-width: 1366px)
and (max-width: 1439px)
and (orientation: landscape) {

    .forms-mobile {
        display: none;
    }

    .forms-desktop, forms-both {
        display: block;
        width: 100%;
        margin:auto;
        border-left: thin solid var(--color-grey);
        border-right: thin solid var(--color-grey);
        border-bottom: thin solid var(--color-grey);
    }

    /* IN CONSULT MEDICAL, CAREGIVER-SUPPORT, MAKING PLAN, PATIENT-SUPPORT, CLIENT-SESSION, SESSION MEDICAL */
    .full-line-prompt p   {
        font-size: var(--global-big-ipad-land-font-size);
    }

    .text-area {
        font-size: var(--global-med-ipad-land-font-size);
    }

    /* IN CONSULT MEDICAL, CAREGIVER-SUPPORT, MAKING PLAN, PATIENT-SUPPORT, CLIENT SESSION, SESSION MEDICAL */
    .first-radio-check-column, .second-radio-check-column, .third-radio-check-column, .full-radio-check-column   {
        font-size: var(--global-med-ipad-land-font-size);
        padding:1em;
    }

    /* DEMOGRAPHICS */
    .full-text-column, .first-text-column, .second-text-column, .third-text-column, .fourth-text-column, .third-fourth-text-column {
        font-size: var(--global-big-ipad-land-font-size);
    }

    .title-background, .title-background-top {
        font-size: var(--med-whitney-ipad-land-font-size);
    }

    .signature {
        font-size:1.2em;
    }

    .cancel-print-container {
        width: 20%;
        margin-left: 80%;
    }

    .cancel-button, .print-button, .print-form-button  {
        font-size:.8em;
        width:90px;
    }
}

/* DESKTOPS ****************************************************************************************************/
@media only screen
and (min-width: 1440px) {

    .forms-mobile {
        display: none;
    }

    .forms-desktop, forms-both {
        display: block;
        width: 100%;
        margin:auto;
    }

    .bordered-input {
        border-left: thin solid var(--color-grey);
        border-right: thin solid var(--color-grey);
        border-bottom: thin solid var(--color-grey);
    }

    .forms-heading {
        font-size: 1.2em;
    }

    /* IN CONSULT MEDICAL, CAREGIVER-SUPPORT, MAKING PLAN, PATIENT-SUPPORT, CLIENT-SESSION, SESSION MEDICAL */
    .full-line-prompt p   {
        font-size: var(--global-big-desktop-font-size);
    }

    .text-area {
        font-size: var(--global-med-desktop-font-size);
    }

    /* IN CONSULT MEDICAL, CAREGIVER-SUPPORT, MAKING PLAN, PATIENT-SUPPORT, CLIENT SESSION, SESSION MEDICAL */
    .first-radio-check-column, .second-radio-check-column, .third-radio-check-column, .full-radio-check-column   {
        font-size: var(--global-med-desktop-font-size);
        padding:1em;
    }

    /* DEMOGRAPHICS */
    .full-text-column, .first-text-column, .second-text-column, .third-text-column, .fourth-text-column, .third-fourth-text-column {
        font-size: var(--global-big-desktop-font-size);
    }

    .title-background, .title-background-top {
        font-size: var(--med-whitney-desktop-font-size);
    }

    .signature {
         font-size:1.5em;
    }

    .cancel-print-container {
        width: 20%;
        margin-left: 80%;
    }

    .print-container {
        width: 20%;
        margin-left: 80%;
    }

    .cancel-button, .print-button, .print-form-button   {
        font-size:.9em;
        width:100px;
    }
}

/* GLOBAL *************************************************************************************************************/
@media only screen {

    .forms-heading {
        color: var(--color-dark-blue);
        background-color: white;
        font-family: Whitney-Book, arial, serif;
        letter-spacing: 3px;
        font-style:normal;
    }

    /* THESE ARE THE GRID WRAPPERS FOR THE FORM CONTENT */
    .full-line-prompt {
        width: 95%;
        margin-left:2.5%;
        margin-right:2.5%;
        display: grid;
    }

    .one-full-column-block {
        width: 100%;
        display: grid;
    }

    .two-even-columns-block {
        width: 100%;
        display: inline-grid;
        grid-template-columns: 50% 50%;
    }

    .two-unequal-columns-block {
        width: 100%;
        display: inline-grid;
        grid-template-columns: 70% 30%;
    }

    .three-even-columns-block {
        width: 100%;
        display: inline-grid;
        grid-template-columns: repeat(3, 33.3%);
    }

    .three-uneven-columns-block {
        width: 100%;
        display: inline-grid;
        grid-template-columns: 30% 30% 40%;
    }

    .three-unequal-columns-block {
        width: 100%;
        display: inline-grid;
        grid-template-columns: 70% 15% 15%;
    }

    .two-small-big-columns-block {
        width: 100%;
        display: inline-grid;
        grid-template-columns: 20% 80%;
    }

    .four-columns-block {
        width: 100%;
        display: inline-grid;
        grid-template-columns: 25%  25% 25% 25%;
    }

    .four-columns {
        width: 100%;
        display: inline-grid;
        grid-template-columns: 30%  20% 26% 24%;
    }

    /* THESE ARE THE CONTENT ELEMENTS */
    .first-text-column, .first-radio-check-column, .first-text-column-bordered {
        grid-column: 1;
    }

    .second-text-column, .second-radio-check-column {
        grid-column: 2;
    }

    .first-second-text-column {
        display:grid;
        grid-column:1/3;
    }

    .third-text-column, .third-radio-check-column {
        grid-column: 3;
    }

    .third-fourth-text-column {
        grid-column: 3/-1;
    }

    .fourth-text-column {
        grid-column: 4;
    }

    .first-text-column-bordered   {
      display:grid;
      border:1px dashed var(--color-light-blue);
      font-family: var(--family-global);
      color: var(--color-dark-blue);
      text-align:left;
      margin-bottom:1em;
      align-content: center;
    }

    .full-text-column, .full-radio-check-column {
        display: grid;
        grid-column: 1/-1;
    }

    /* THESE ARE FOR CONTENT  */
    .full-line-prompt p, .text-area {
        padding-top: .5em;
        font-family: var(--family-global);
        color: var(--color-dark-blue);
        text-align: left;
    }

    .full-line-prompt p {
        font-style: italic;
        padding-left:1em;
        font-weight:800;
    }

    .full-text-column, .first-text-column, .first-second-text-column, .second-text-column, .third-text-column, .fourth-text-column, .third-fourth-text-column {
        display:grid;
        padding-top:1em;
        font-family: var(--family-global);
        color: var(--color-dark-blue);
        text-align:left;
    }
    
    .first-radio-check-column, .second-radio-check-column, .third-radio-check-column, .full-radio-check-column   {
        display:inline;
        border:1px dashed var(--color-light-blue);
        font-family: var(--family-global);
        color: var(--color-dark-blue);
        text-align:left;
        margin-bottom:1em;
    }

    /* for the dark background on all forms */
    .title-background, .title-background-top {
        display:grid;
        width:100%;
        height: 50px;
        font-family: Whitney-Book, arial, serif;
        text-transform: uppercase;
        border: solid thin var(--color-light-blue);
        letter-spacing: 3px;
        background-color: var(--color-dark-blue);
        color: var(--color-white);
        justify-content: center;
        align-content: center;
        text-align: center;
    }

    .signature {
        font-family: var(--family-script);
        font-style: italic;
    }

    .cancel-print-container {
        display:inline-grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 1em;
        justify-content: flex-end;
    }

    .cancel-button, .print-button, .print-form-button  {
        display:grid;
        color: var(--color-white);
        letter-spacing: 1px;
        background-color: var(--color-light-blue);
        border-radius: 1.0em;
        align-content: center;
        justify-content: center;
        padding: 1em 0;
    }

    .cancel-button{
        grid-column:1;
    }

    .print-button{
        grid-column:2;
    }

    .print-container {
        display:grid;
        padding-top: 1em;
        justify-content: flex-end;
    }

    .print-form-button {
        grid-column:1;

    }


}
