/*  BANANA PORTRAIT *******************************************************************************************/
@media only screen
and (min-width: 240px)
and (max-width: 359px)
and (orientation: portrait) {

    .forms-desktop {
        display: none;
    }

    .forms-mobile {
        display: block;
        width: 100%;
        margin:auto;
    }

    /* REPORTS DETAILS */
    .form-heading, .form-heading-top {
        font-size: var(--small-whitney-banana-port-font-size);
    }

    .text-prompt, .top-prompt, .list-prompt, .question-prompt  {
        font-size: var(--global-big-mobile-port-font-size);
    }

    .two-equal-inline-grid, .two-inline-grid-mobile, .two-inline-grid-desktop, .three-inline-grid, .four-inline-grid, .full-width-grid {
        width: 100%;
        margin: 0;
    }

    .first-grid-col, .second-grid-col, .third-grid-col, .fourth-grid-col,
    .last-two-grid-cols, .all-grid-cols, .first-inline-col, .first-inline-mobile-col,.second-inline-col, .third-inline-col        {
        font-size: var(--global-med-mobile-port-font-size);
    }

}

/* BANANA LANDSCAPE ****************************************************************************************************/
@media only screen
and (min-width: 568px)
and (max-width: 895px)
and (orientation: landscape) {

    .forms-desktop {
        display: none;
    }

    .forms-mobile {
        display: block;
        width: 100%;
        margin:auto;
    }

    /* REPORTS DETAILS */
    .form-heading, .form-heading-top {
        font-size: var(--small-whitney-banana-land-font-size);
    }

    .text-prompt, .top-prompt, .list-prompt, .question-prompt  {
        font-size: var(--global-big-mobile-land-font-size);
    }

    .two-equal-inline-grid, .two-inline-grid-mobile, .two-inline-grid-desktop, .three-inline-grid, .four-inline-grid, .full-width-grid {
        width: 100%;
        margin: 0;
    }

    .first-grid-col, .second-grid-col, .third-grid-col, .fourth-grid-col,
    .last-two-grid-cols, .all-grid-cols, .first-inline-col,.first-inline-mobile-col,.second-inline-col, .third-inline-col        {
        font-size: var(--global-med-mobile-land-font-size);
    }

}
/* MOBILES PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 360px)
and (max-width: 599px)
and (orientation: portrait) {

    .forms-desktop {
        display: none;
    }

    .forms-mobile {
        display: block;
        width: 100%;
        margin: auto;
    }

    .form-heading, .form-heading-top {
        font-size: var(--med-whitney-mobile-port-font-size);

    }

    .text-prompt, .top-prompt, .list-prompt, .question-prompt  {
        font-size: var(--global-big-mobile-port-font-size);
    }

    .two-equal-inline-grid, .two-inline-grid-mobile, .two-inline-grid-desktop, .three-inline-grid, .four-inline-grid, .full-width-grid {
        width: 100%;
        margin: 0;
    }

    .first-grid-col, .second-grid-col, .third-grid-col, .fourth-grid-col,
    .last-two-grid-cols, .all-grid-cols, .first-inline-col, .first-inline-mobile-col,.second-inline-col, .third-inline-col        {
        font-size: var(--global-med-mobile-port-font-size);
    }

}

/* MOBILES LANDSCAPE ****************************************************************************************************/
@media only screen
and (min-width: 896px )
and (max-width: 1279px)
and (orientation: landscape) {

    .forms-desktop {
        display: none;
    }

    .forms-mobile {
        display: block;
        width: 90%;
        margin:auto 5%;
    }

    .form-heading, .form-heading-top {
        font-size: var(--med-whitney-mobile-land-font-size);
    }

    .text-prompt, .top-prompt, .list-prompt, .question-prompt  {
        font-size: var(--global-big-mobile-land-font-size);
    }

    .two-equal-inline-grid, .two-inline-grid-mobile, .two-inline-grid-desktop, .three-inline-grid, .four-inline-grid, .full-width-grid {
        width: 100%;
        margin: 0;
    }

    .first-grid-col, .second-grid-col, .third-grid-col, .fourth-grid-col,
    .last-two-grid-cols, .all-grid-cols, .first-inline-col,.first-inline-mobile-col, .second-inline-col, .third-inline-col        {
        font-size: var(--global-med-mobile-land-font-size);
    }

}

/* TABLETS PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 600px)
and (max-width: 1023px)
and (orientation: portrait) {

    .forms-mobile {
        display: none;
    }

    .forms-desktop {
        display: block;
        width: 100%;
        max-width:1152px;
        margin:auto;
        border:thin solid var(--color-darkest-blue);
    }

    /* REPORTS DETAILS */
    .form-heading, .form-heading-top {
        font-size: var(--med-whitney-tablet-port-font-size);
    }

    .text-prompt, .top-prompt, .list-prompt, .question-prompt  {
        font-size: var(--global-big-tablet-ipad-port-font-size);
    }

    .two-equal-inline-grid, .two-inline-grid-mobile, .two-inline-grid-desktop, .three-inline-grid, .four-inline-grid, .full-width-grid {
        width: 100%;
        margin: 0;
    }

    .first-grid-col, .second-grid-col, .third-grid-col, .fourth-grid-col,
    .last-two-grid-cols, .all-grid-cols, .first-inline-col, .first-inline-mobile-col,.second-inline-col, .third-inline-col        {
        font-size: var(--global-med-tablet-ipad-port-font-size);
    }

}

/* TABLETS LANDSCAPE ***************************************************************************************************/
@media only screen
and (min-width: 1280px)
and (max-width: 1365px)
and (orientation: landscape) {

    .forms-mobile {
        display: none;
    }

    .forms-desktop {
        display: block;
        width: 100%;
        max-width:1152px;
        margin:auto;
        border:thin solid var(--color-darkest-blue);
    }

    /* REPORTS DETAILS */
    .form-heading, .form-heading-top {
        font-size: var(--med-whitney-tablet-land-font-size);
    }

    .text-prompt, .top-prompt, .list-prompt, .question-prompt    {
        font-size: var(--global-big-tablet-ipad-land-font-size);
    }

    .two-equal-inline-grid, .two-inline-grid-mobile, .two-inline-grid-desktop, .three-inline-grid, .four-inline-grid, .full-width-grid {
        width: 90%;
        margin: 0 5%;
    }

    .first-grid-col, .second-grid-col, .third-grid-col, .fourth-grid-col,
    .last-two-grid-cols, .all-grid-cols, .first-inline-col, .first-inline-mobile-col,.second-inline-col, .third-inline-col        {
        font-size: var(--global-med-tablet-ipad-land-font-size);
    }

}

/* IPADS PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 1024px)
and (max-width: 1366px)
and (orientation: portrait) {

    .forms-mobile {
        display: none;
    }

    .forms-desktop {
        display: block;
        width: 100%;
        max-width:1152px;
        margin:auto;
        /*border:thin solid var(--color-darkest-blue);*/
    }

    /* REPORTS DETAILS */
    .form-heading, .form-heading-top {
        font-size: var(--med-whitney-ipad-port-font-size);
    }

    .two-equal-inline-grid, .two-inline-grid-mobile, .two-inline-grid-desktop, .three-inline-grid, .four-inline-grid, .full-width-grid {
        width: 100%;
        margin: 0;
    }

    .text-prompt, .top-prompt, .list-prompt, .question-prompt  {
        font-size: var(--global-big-tablet-ipad-port-font-size);
    }

    .first-grid-col, .second-grid-col, .third-grid-col, .fourth-grid-col,
    .last-two-grid-cols, .all-grid-cols, .first-inline-col, .first-inline-mobile-col,.second-inline-col, .third-inline-col        {
        font-size: var(--global-med-tablet-ipad-port-font-size);
    }

}

/* IPADS LANDSCAPE ***************************************************************************************************/
@media only screen
and (min-width: 1366px)
and (max-width: 1439px)
and (orientation: landscape) {

    .forms-mobile {
        display: none;
    }

    .forms-desktop {
        display: block;
        width: 100%;
        max-width:1152px;
        margin:auto;
        border:thin solid var(--color-darkest-blue);
    }

    .form-heading, .form-heading-top {
        font-size: var(--med-whitney-ipad-land-font-size);
    }

    .text-prompt, .top-prompt, .list-prompt, .question-prompt  {
        font-size: var(--global-big-tablet-ipad-land-font-size);
    }

    .two-equal-inline-grid, .two-inline-grid-mobile, .two-inline-grid-desktop, .three-inline-grid, .four-inline-grid, .full-width-grid {
        width: 90%;
        margin: 0 5%;
    }

    .first-grid-col, .second-grid-col, .third-grid-col, .fourth-grid-col,
    .last-two-grid-cols, .all-grid-cols, .first-inline-col, .first-inline-mobile-col,.second-inline-col, .third-inline-col        {
        font-size: var(--global-med-tablet-ipad-land-font-size);
    }

}

/* DESKTOPS ****************************************************************************************************/
@media only screen
and (min-width: 1440px) {

    .forms-mobile {
        display: none;
    }

    .forms-desktop {
        display: block;
        width: 100%;
        max-width:1152px;
        margin:auto;
        border:thin solid var(--color-darkest-blue);
    }

    .form-heading, .form-heading-top {
        font-size: var(--big-whitney-desktop-font-size);
    }

    .text-prompt, .top-prompt, .list-prompt, .question-prompt  {
        font-size: var(--global-big-laptop-desktop-font-size);
    }

    .two-equal-inline-grid, .two-inline-grid-mobile, .two-inline-grid-desktop, .three-inline-grid, .four-inline-grid, .full-width-grid {
        width: 90%;
        margin: 0 5%;
    }

    .first-inline-col, .first-inline-mobile-col, .second-inline-col, .third-inline-col,
    .first-grid-col, .second-grid-col, .third-grid-col, .fourth-grid-col, .all-grid-cols, .last-two-grid-cols {
        font-size: var(--global-med-laptop-desktop-font-size);
    }


}

/* GLOBAL ************************************************************************************************************* */
@media only screen {

    /* for all forms */
    .form-heading, .form-heading-top {
        display:grid;
        width:100%;
        height: 50px;
        font-family: Whitney-Book;
        text-transform: uppercase;
        border: solid thin var(--color-light-blue);
        letter-spacing: 3px;
        background-color: var(--color-dark-blue);
        color: var(--color-white);
        justify-content: center;
        align-content: center;
        margin-bottom:1em;
    }

    .form-heading-top {
        margin-top:1em;
    }

    .top-prompt, .list-prompt, .text-prompt, .question-prompt  {
        width:100%;
        font-family: var(--family-global);
        color: var(--color-dark-blue);
        text-align:left;
    }

    .top-prompt {
        padding:0;
    }

    .list-prompt {
        padding-top:1em;
    }

    .text-prompt {
        padding:1em 0 1em 1em;
    }

    .question-prompt {
        padding:1em 0;
        border-top:thin solid gold;
    }

    /* the forms for client session and eol consults */
    .two-equal-inline-grid, .two-inline-grid-mobile, .two-inline-grid-desktop, .three-inline-grid, .four-inline-grid {
        display: inline-grid;
    }

    .full-width-grid {
        display: grid;
    }

    /* used by mobile forms */
    .two-inline-grid-mobile {
        grid-template-columns: 20% 80%;
    }

    .two-inline-grid-desktop {
        grid-template-columns: 70% 30%;
    }

    .two-equal-inline-grid {
        grid-template-columns: 50% 50%;
    }

    .three-inline-grid {
        grid-template-columns: repeat(3, 33.3%);
    }

    .four-inline-grid {
        grid-template-columns: 30%  20% 26% 24%;
    }

    .first-inline-col, .first-inline-mobile-col, .second-inline-col, .third-inline-col,
    .first-grid-col, .second-grid-col, .third-grid-col, .fourth-grid-col, .all-grid-cols, .last-two-grid-cols {
        padding-top: 1em;
        font-family: var(--family-global);
        color: var(--color-dark-blue);
    }

    .first-grid-col, .second-grid-col, .third-grid-col, .fourth-grid-col, .all-grid-cols, .last-two-grid-cols        {
        display: grid;
    }

    .first-grid-col {grid-column:1;}
    .second-grid-col {grid-column:2;}
    .third-grid-col {grid-column:3;}
    .fourth-grid-col {grid-column:4;}
    .last-two-grid-cols {grid-column:3/-1;}
    .all-grid-cols {grid-column:1/-1;}

    .first-inline-col, .first-inline-mobile-col, .second-inline-col, .third-inline-col {
        display:inline;
        border:1px dashed var(--color-light-blue);
        padding-bottom:1em;
        margin-bottom:1em;
    }

    .first-inline-col {
        padding-left:2em;
    }

    .first-inline-mobile-col {
        padding-left:0;
    }



}

@media print {
    /*app-print-client-profile {
        display: block;
    }

    app-client-profile {
        display: none;
    }

    app-global-menu {
        display: none;
    }

    app-global-headers {
        display: none;
    }

    .book-detail-menu {
        display: none !important;
    }*/
}