/*  BANANA PORTRAIT *******************************************************************************************/
@media only screen
and (min-width: 240px)
and (max-width: 359px)
and (orientation: portrait) {



}

/* BANANA LANDSCAPE ****************************************************************************************************/
@media only screen
and (min-width: 568px)
and (max-width: 895px)
and (orientation: landscape) {



}
/* MOBILES PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 360px)
and (max-width: 599px)
and (orientation: portrait) {

    /* CLIENT PROFILES */
    .forms-desktop {
        display: none;
    }

    .forms-mobile {
        display: block;
        width: 100%;
        border-top: thin dashed var(--color-dark-blue);
    }

    .full-width-grid h2 {
        font-size: 0.9em;

        padding: .5em 0;
    }

    .full-width-grid p {
        padding: .5em 0;
        font-size: 1.0em;
    }

    .first-grid-col, .second-grid-col, .third-grid-col, .fourth-grid-col,
    .last-two-grid-cols, .all-grid-cols        {
        font-size: 1.0em;
        padding-top: 1em;
    }

    .first-inline-col, .second-inline-col, .third-inline-col {
        font-size: 0.8em;
        padding:1em 0;
    }

    .first-inline-col {
        padding-left:2em;
    }





 /*   .full-width-grid label {
        font-size: 1.0em;
        padding:1em 0 .2em 0em;
    }*/

    .disclaimer h3 {
        font-size: 1.1em;
        padding: 1em 0;
    }

    .disclaimer span {
        font-size: var(--global-mobile-port-font-size);
    }

    .sig-date-prompt {
        font-size: 1em;
    }

    /* PRINT FORMS */
    .print-forms-button {
        padding: 1em 1.5em;
        font-size: 0.9em;
    }
}


/* MOBILES LANDSCAPE ****************************************************************************************************/
@media only screen
and (min-width: 896px )
and (max-width: 1279px)
and (orientation: landscape) {

}

/* TABLETS PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 600px)
and (max-width: 1023px)
and (orientation: portrait) {


}

/* TABLETS LANDSCAPE ***************************************************************************************************/
@media only screen
and (min-width: 1280px)
and (max-width: 1365px)
and (orientation: landscape) {
}



/* IPADS PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 1024px)
and (max-width: 1366px)
and (orientation: portrait) {

    /* CLIENT PROFILES */
    .forms-desktop {
        display: none;
    }

    .forms-mobile {
        display: block;
        width: 100%;
        border-top: thin dashed var(--color-dark-blue);
    }

    .first-grid-col, .second-grid-col, .third-grid-col, .fourth-grid-col,
    .last-two-grid-cols, .all-grid-cols        {
        font-size: 1.0em;
        padding-top: 1em;
    }

    .first-inline-col, .second-inline-col, .third-inline-col {
        font-size: 1.0em;
        padding:1em 0;
    }

    .first-inline-col {
        padding-left:2em;
    }

    .full-width-grid h2 {
        font-size: 1.3em;
        line-height: 3em;
    }

    .full-width-grid p {
        padding: .5em 0;
        font-size: 1.0em;
    }

    .full-width-grid label {
        font-size: 1.0em;
        padding:1em 0 .2em 0em;
    }

    .disclaimer h3 {
        font-size: 1.1em;
        padding: 1em 0;
    }

    .disclaimer span {
        font-size: var(--malgun-laptop-desktop-font-size);
    }

    .sig-date-prompt {
        font-size: 1em;
    }

    /* PRINT FORMS */
    .print-forms-button {
        padding: 1em 1.5em;
        font-size: 0.9em;
    }

}

/* IPADS LANDSCAPE ***************************************************************************************************/
@media only screen
and (min-width: 1366px)
and (max-width: 1439px)
and (orientation: landscape) {


}

/* LAPTOPS *****************************************************************************************************/
@media only screen
and (min-width: 1440px)
and (max-width: 1919px) {

}


/* DESKTOPS ****************************************************************************************************/
@media only screen
and (min-width: 1920px) {

    .forms-mobile {
        display: none;
    }

    .forms-desktop {
        display: block;
        width: 100%;
        max-width:1152px;
        margin:auto;
        border:thin solid var(--color-grey);
    }

    .menu-item span, .menu-item a {
        font-size: var(--small-whitney-desktop-font-size);
    }

    .first-grid-col, .second-grid-col, .third-grid-col, .fourth-grid-col, all-grid-columns,
    .last-two-grid-cols, .all-grid-cols, .first-inline-col, .second-inline-col, .third-inline-col        {
        font-size: var(--global-med-laptop-desktop-font-size);
        padding-top: 1em;
    }

    .first-inline-col {
        padding-left:2em;
    }

    .first-inline-col, .second-inline-col, .third-inline-col {
        padding-bottom:1em;
        margin-bottom:1em;
    }

    .form-heading {
        font-size: var(--med-whitney-desktop-font-size);
        line-height: 3em;
        margin-top:2em;
        margin-bottom:1em;
        padding:.5em 0;
    }

    .form-prompt {
        padding:1em 0 1em 1em;
        font-size: var(--small-whitney-desktop-font-size);
    }

    .disclaimer p {
        font-size: var(--global-big-laptop-desktop-font-size);
        padding: 1em 0;
    }

    .disclaimer span, .sig-date-prompt {
        font-size: var(--global-med-laptop-desktop-font-size);
    }

    .sig-date-prompt {
        padding: 1em 0 0 0;
        margin: .5em 0;
    }

    .sig-date-line  {
        margin:.4em 1em 0 0;
    }

    /* PRINT FORMS */
    .print-forms-button {
        padding: 1em 1.5em;
        font-size: var(--global-small-laptop-desktop-font-size);
    }
}

/* GLOBAL ************************************************************************************************************* */
@media only screen {

    /* for overall form menu on top */
    .forms-menu-block {
        display: block;
        width: 100%;
        max-width:1152px;
        margin:auto;
        border:thin solid var(--color-grey);
    }

    .forms-menu  {
        width:100%;
        color: var(--copy-color-dark);
        border:thin solid gold;
    }

    .menu-item span, .menu-item a {
        font-family: Whitney-Book;
        text-align: left;
        line-height:var(--list-wide-item-line-height);
    }

    .menu-item a {
        text-decoration: none;
        cursor: pointer;
        color: var(--color-dark-blue);
    }

    .menu-item span {
        cursor: default;
        color: var(--color-dark-purple);
        font-weight:800;
    }

    /* the forms for client session and client consult */
    .two-equal-inline-grid, .two-inline-grid, .three-inline-grid, .four-inline-grid, .full-width-grid {
        width: 90%;
        margin:0em 5%;
        font-family: var(--family-global);
        color: var(--color-dark-blue);
    }

    .two-equal-inline-grid, .two-inline-grid, .three-inline-grid, .four-inline-grid {
        display: inline-grid;
    }

    .full-width-grid {
        display: grid;
    }

    /* used by mobile forms */
    .two-inline-grid {
        grid-template-columns: 60% 40%;
    }

    .two-equal-inline-grid {
        grid-template-columns: 50% 50%;
    }

    .three-inline-grid {
        grid-template-columns: repeat(3, 33.3%);
    }

    .four-inline-grid {
        grid-template-columns: 30%  20% 26% 23%;
    }

    .first-grid-col, .second-grid-col, .third-grid-col, .fourth-grid-col,
    .last-two-grid-cols, .all-grid-cols,
    .first-inline-col, .second-inline-col, .third-inline-col {
        display: grid;
    }

    .first-inline-col, .second-inline-col, .third-inline-col {
        display:inline;
        border:1px dashed var(--color-light-blue);
    }

    .first-grid-col {
        grid-column: 1;
    }

    .second-grid-col {
        grid-column: 2;
    }

    .third-grid-col {
        grid-column: 3;
    }

    .fourth-grid-col {
        grid-column: 4;
    }

    .last-two-grid-cols {
        grid-column: 3 / -1;
    }

    .all-grid-cols {
        grid-column: 1 / -1;
    }

    .form-heading, .form-prompt {
        font-family: Whitney-Book;
        text-transform: uppercase;
    }

    .form-heading:first-child {
        margin-top:0;
    }

    .form-heading {
        width:100%;
        border: solid thin var(--color-light-blue);
        letter-spacing: 3px;
        background-color: var(--color-dark-blue);
        color: var(--color-white);
        text-align: center;
    }

    .form-prompt {
        color: var(--color-dark-blue);
        background-color:white;
        text-align: left;
    }

    .disclaimer {
        display: block;
        width: 80%;
        margin: 1em 10%;
        color: var(--color-dark-blue);
    }

    .disclaimer span, .sig-date-prompt, .print-forms-button {
        font-family: var(--family-global);
    }

    .disclaimer p {
        font-family: Whitney-Book;
        font-weight: 800;
        text-transform: uppercase;
    }

    .sig-date-prompt {
        font-weight: 800;
    }

    .sig-date-line  {
        background: url("src/assets/images/book/line.jpg") right repeat-x;
    }

    /* PRINT */
    .print-forms-grid {
        display: grid;
        width: 95%;
        margin: 0 5% 1em 0;
        align-content: flex-end;
        justify-items: flex-end;
    }

    /* FOR BOTH PRINT FORMS */
    .print-forms-button {
        color: var(--color-white);
        letter-spacing: 3px;
        background-color: var(--color-light-blue);
        border-radius: 1.0em;
    }


}

@media print {
    /*app-print-client-profile {
        display: block;
    }

    app-client-profile {
        display: none;
    }

    app-global-menu {
        display: none;
    }

    app-global-headers {
        display: none;
    }

    .book-detail-menu {
        display: none !important;
    }*/
}