/*DONE FEB 24/25 for HOME, ABOUT  */


/*******************************************************************************************************************

    SMALL BANANA PORTRAIT (320), SMALL MOBILE PORTRAIT (360), SMALL TABLET PORTRAIT (600) AND BIG MOBILE PORTRAIT (640)
    ie ONE COLUMN

/********************************************************************************************************************/
@media only screen
and (min-width: 320px)
and (max-width: 600px) {

    .mobile-columns {
        display:block;
    }

    .desktop-columns {
        display:none;
    }

    /* HOME PAGE FACTS */
    .home-facts-container {
        width:var(--media-less-than-content-width);
        display: grid;
        align-content: center;
        justify-content: center;
        margin: auto;
        background-color: #ffffff;
    }

    .facts-inline-image {
        display:grid;
        grid-column:1;
        justify-content: center;
        align-content: center;
    }

    .facts-inline-text-white-bkgrnd, .facts-block-text {
        display:grid;
        grid-column:1;
        justify-content: center;
        align-content: center;
    }

    .facts-block-text {
        width:var(--media-less-than-content-width);
        margin-bottom:.5em;
    }

    .facts-inline-text-white-bkgrnd a, .facts-block-text a {
        line-height:110%;
        padding-top:1em;
    }



    /* ABOUT PAGE FACTS */
    /* because this container uses content title and copy pages which are already using media less than content width */
    .about-us-container  {
        display: grid;
        align-content: center;
        justify-content: center;
        margin: auto;
        max-width: var(--content-width);
        /*width: var(--media-less-than-content-width);*/
    }

    .about-image  {
        display:grid;
        grid-column:1;
        justify-content: center;
        align-content: center;
    }

    .about-text   {
        display:grid;
        grid-column:1;
        justify-content: center;
        align-content: center;
        text-align:justify;
    }

    .separator-block {
        display: none;
    }

    /* INTRO PAGES INTO WIZARDS */
    .wizard-intro-container {
        display: grid;
        float:left;
        align-content: center;
        justify-content: center;
        border-radius: 10px;
        margin:1em 0;
    }

    .wizard-intro-image {
        display: grid;
        grid-column:1;
    }

    .wizard-intro-text {
        display: grid;
        grid-column: 1;
        padding:1em 1em 0 1em;
        line-height:110%;
    }

    .wizard-intro-text h3 {
        padding-top:.5em;
        line-height:110%;
    }

    /* TESTIMONIALS */
    .charges-grid, .testimonials-grid  {
        /*width:var(--media-less-than-content-width);*/
    }

    .charges-grid {
        padding:.5em;
    }

    .testimonial-row-1, .testimonial-row-2, .testimonial-row-3, .testimonial-row-4, .testimonial-row-5, .testimonial-row-6, .testimonial-row-7  {
        padding:.5em;
    }

    .bevelled-edges {
        width:80%;
    }

}

/*******************************************************************************************************************

  SMALL TABLETS LANDSCAPE (800) TO  BIG MOBILE LANDSCAPE (896) TO BIG TABLET LANDSCAPE (1280) AND IPAD LAND. (1366) AND UP
    ie TWO COLUMNS

*******************************************************************************************************************/
@media only screen
and (min-width: 800px) {

    .mobile-columns {
        display:none;
    }

    .desktop-columns {
        display:block;
    }

    /* HOME PAGE */
    /* images are 500 square which are 49% of ipad width 1024 */
    .home-facts-container {
        width:var(--media-more-than-content-width);
        display: inline-grid;
        grid-template-columns: 49% 51%;
        background-color: #363233;
        margin:1em; align-content: center;
        height:500px;
    }

    .facts-inline-image {
        display:grid;
        grid-column:1;
        justify-content: flex-start;
        align-content: center;
    }

    .facts-inline-text-dark-bkgrnd {
        padding:0 1em;
    }

    .facts-block-text {
        width:var(--media-more-than-content-width);
    }

    .facts-inline-text-dark-bkgrnd a, .facts-block-text a {
        line-height:110%;
        padding-top:1em;
    }



    /* ABOUT US PAGE uses content copy and title which already set the width as more than media */
    .about-us-container {
        display: inline-grid;
        grid-template-columns: 49% 51%;
        max-width: var(--ipad-width);
        width: var(--media-more-than-content-width);
    }

     .about-image  {
         display:grid;
         grid-column:1;
         justify-content: flex-start;
         align-content: center;
     }

    .about-text  {
        display:grid;
        grid-column:2;
        padding:0 1em;
        justify-content: center;
        align-content: center;
        border-right:thin solid #000;
     }

    .separator-block {
        display:block;
        float:left;
        width:100%;
        height:20px;
        background: radial-gradient(circle at 100px 100px, #e8edef, #000);
    }

    /* WIZARDS INTROS */
    .wizard-intro-container {
        display: inline-grid;
        grid-template-columns: 49% 51%;
        border-radius: 10px 40px 40px 10px;
        margin:2em 0;
    }

    .wizard-intro-image {
        display: grid;
        grid-column:1;
    }

    .wizard-intro-text {
        display: grid;
        grid-column: 2;
        padding:2em 2em 0 2em;
        line-height:120%;
    }

    .wizard-intro-text h3 {
        padding-top:1em;
        line-height:120%;
    }

    /* TESTIMONIALS */
    .charges-grid, .testimonials-grid  {
        width: var(--media-more-than-content-width);
    }

    .charges-grid {
        padding:1em;
    }

    .testimonial-row-1, .testimonial-row-2, .testimonial-row-3, .testimonial-row-4, .testimonial-row-5, .testimonial-row-6, .testimonial-row-7  {
        padding:1em;
    }

    .bevelled-edges {
        width:70%;
    }

}

/*******************************************************************************************************************
  GLOBAL BANANAS - PORTRAIT
*******************************************************************************************************************/
@media only screen
and (min-width: 320px)
and (max-width: 568px)
and (orientation: portrait) {


    .facts-inline-text-white-bkgrnd a, .facts-inline-text-dark-bkgrnd a, .facts-block-text a {
        font-size:var(--p-banana-port);
    }

    .wizard-intro-text h3 {
        font-size:var(--h3-titles-banana-port);
    }

    .wizard-intro-text p {
        font-size:var(--p-banana-port);
    }
}

/*******************************************************************************************************************
  GLOBAL BANANAS - LANDSCAPE
*******************************************************************************************************************/
@media only screen
and (min-width: 320px)
and (max-width: 568px)
and (orientation: landscape) {



    .facts-inline-text-white-bkgrnd a, .facts-inline-text-dark-bkgrnd a, .facts-block-text a {
        font-size:var(--p-banana-land);
    }

    .wizard-intro-text h3 {
        font-size:var(--h3-titles-banana-land);
    }

    .wizard-intro-text p {
        font-size:var(--p-banana-land);
    }
}

/*******************************************************************************************************************
  GLOBAL SMALL MOBILES - PORTRAIT
*******************************************************************************************************************/
@media only screen
and (min-width: 360px)
and (max-width: 414px)
and (orientation: portrait){



    .facts-inline-text-white-bkgrnd a, .facts-inline-text-dark-bkgrnd a, .facts-block-text a {
        font-size:var(--p-small-mobile-port);
    }

    .wizard-intro-text h3 {
        font-size:var(--h3-titles-small-mobile-port);
    }

    .wizard-intro-text p {
        font-size:var(--p-small-mobile-port);
    }

}

/*******************************************************************************************************************
  GLOBAL SMALL MOBILES - LANDSCAPE
*******************************************************************************************************************/
@media only screen
and (min-width: 360px)
and (max-width: 414px)
and (orientation: landscape){



    .facts-inline-text-white-bkgrnd a, .facts-inline-text-dark-bkgrnd a, .facts-block-text a {
        font-size:var(--p-small-mobile-land);
    }

    .wizard-intro-text h3 {
        font-size:var(--h3-titles-small-mobile-land);
    }

    .wizard-intro-text p {
        font-size:var(--p-small-mobile-land);
    }

}

/*******************************************************************************************************************
 GLOBAL SMALL TABLETS - PORTRAIT
*******************************************************************************************************************/
@media only screen
and (min-width: 600px)
and (max-width:800px)
and (orientation: portrait){



    .facts-inline-text-white-bkgrnd a, .facts-inline-text-dark-bkgrnd a, .facts-block-text a {
        font-size:var(--p-small-tablet-port);
    }

    .wizard-intro-text h3 {
        font-size:var(--h3-titles-small-tablet-port);
    }

    .wizard-intro-text p {
        font-size:var(--p-small-tablet-port);
    }
}

/*******************************************************************************************************************
  GLOBAL SMALL TABLETS - LANDSCAPE
*******************************************************************************************************************/
@media only screen
and (min-width: 600px)
and (max-width:800px)
and (orientation: landscape){

    /* image is 500x500 - .4882 there is no white background here */
    /* HOME PAGE */
    .facts-inline-text-dark-bkgrnd {
        height:390px;
    }

    .facts-inline-text-white-bkgrnd a, .facts-inline-text-dark-bkgrnd a, .facts-block-text a {
        font-size:var(--p-small-tablet-land);
    }


    .wizard-intro-text h3 {
        font-size:var(--h3-titles-small-tablet-land);
    }

    .wizard-intro-text p {
        font-size:var(--p-small-tablet-land);
    }

}

/*******************************************************************************************************************
  GLOBAL BIG MOBILES - PORTRAIT
*******************************************************************************************************************/
@media only screen
and (min-width:640px)
and (max-width:896px)
and (orientation: portrait){



    .facts-inline-text-white-bkgrnd a, .facts-inline-text-dark-bkgrnd a, .facts-block-text a {
        font-size:var(--p-big-mobile-port);
    }

    .wizard-intro-text h3 {
        font-size:var(--h3-titles-big-mobile-port);
    }

    .wizard-intro-text p {
        font-size:var(--p-big-mobile-port);
    }

}

/*******************************************************************************************************************
  GLOBAL BIG MOBILES - LANDSCAPE
*******************************************************************************************************************/
@media only screen
and (min-width:640px)
and (max-width:896px)
and (orientation: landscape){

    /* image is 500x500 - .4882 there is no white background here */
    /* HOME PAGE */
    .facts-inline-text-dark-bkgrnd {
        height:437px;
    }

    .facts-inline-text-white-bkgrnd a, .facts-inline-text-dark-bkgrnd a, .facts-block-text a {
        font-size:var(--p-big-mobile-land);
    }

    .wizard-intro-text h3 {
        font-size:var(--h3-titles-big-mobile-land);
    }

    .wizard-intro-text p {
        font-size:var(--p-big-mobile-land);
    }

}

/*******************************************************************************************************************
  GLOBAL BIG TABLETS and IPAD - PORTRAIT
*******************************************************************************************************************/
@media only screen
and (min-width: 960px)
and (max-width: 1366px)
and (orientation: portrait) {

    /* image is 500x500 - .4882 there is no white background here */
    /* HOME PAGE */
    .facts-inline-text-dark-bkgrnd {
        height:468px;
    }

    .facts-inline-text-white-bkgrnd a, .facts-inline-text-dark-bkgrnd a, .facts-block-text a {
        font-size:var(--p-big-tablet-ipad-port);
    }



    .wizard-intro-text h3 {
        font-size:var(--h3-titles-big-tablet-ipad-port);
    }

    .wizard-intro-text p {
        font-size:var(--p-big-tablet-ipad-port);
    }
}

/*******************************************************************************************************************
 GLOBAL BIG TABLETS - LANDSCAPE and IPAD LANDSCAPE
*******************************************************************************************************************/
@media only screen
and (min-width: 960px)
and (max-width: 1366px)
and (orientation: landscape) {

    .facts-inline-text-dark-bkgrnd {
        height:468px;
    }

    .facts-inline-text-white-bkgrnd a, .facts-inline-text-dark-bkgrnd a, .facts-block-text a {
        font-size:var(--p-big-tablet-ipad-land);
    }



    .wizard-intro-text h3 {
        font-size:var(--h3-titles-big-tablet-ipad-land);
    }

    .wizard-intro-text p {
        font-size:var(--p-big-tablet-ipad-land);
    }
}


/*******************************************************************************************************************
 GLOBAL LAPTOPS
*******************************************************************************************************************/
@media only screen
and (min-width: 1440px)
and (max-width:1919px) {

    /* HOME PAGE */
    .facts-inline-text-dark-bkgrnd {
        height:500px;
    }

    .facts-inline-text-white-bkgrnd a, .facts-inline-text-dark-bkgrnd a, .facts-block-text a {
        font-size:var(--p-laptop);
    }



    .wizard-intro-text h3 {
        font-size:var(--h3-titles-laptop);
    }

    .wizard-intro-text p {
        font-size:var(--p-laptop);
    }
}
/*******************************************************************************************************************
 GLOBAL BIG TABLETS LANDSCAPE (1280), IPADS LAPTOPS AND UP
*******************************************************************************************************************/
@media only screen
and (min-width: 1024px) {

    /* HOME PAGE */
    .facts-inline-text-dark-bkgrnd {
        height:500px;
    }

    .facts-inline-text-white-bkgrnd a, .facts-inline-text-dark-bkgrnd a, .facts-block-text a {
        font-size:var(--p-desktop);
    }



    .wizard-intro-text h3 {
        font-size:var(--h3-titles-desktop);
    }

    .wizard-intro-text p {
        font-size:var(--p-desktop);
    }

}

/* GLOBAL ****************************************************************************************************/
@media only screen {

    /* HOME PAGE FACTS */
    .home-facts-container{
        display: grid;
        max-width: var(--ipad-width);
        font-family:var(--family-copy);
        margin:auto;
    }

    .facts-inline-image {
        text-align: center;
        margin:auto;
    }

    .facts-inline-image img  {
        max-width: 100%;
        height:auto;
    }

    .facts-inline-text-dark-bkgrnd, .facts-inline-text-white-bkgrnd  {
        display: grid;
        justify-content: center;
    }

    .facts-inline-text-dark-bkgrnd {
        background: var(--color-dark-green);
        align-content:center;
    }

    .facts-inline-text-dark-bkgrnd a {
        color:white;
        text-align: justify;
    }

    .facts-inline-text-dark-bkgrnd a, .facts-inline-text-white-bkgrnd a, .facts-block-text a {
        cursor:pointer;
        text-decoration:none;
    }

    .facts-inline-text-dark-bkgrnd a:hover, .facts-inline-text-white-bkgrnd a:hover, .facts-block-text a:hover {
        text-decoration:underline;
    }

    .facts-inline-text-white-bkgrnd {
        justify-content: flex-start;
        text-align: left;
        background: #FFFFFF;
    }

    .facts-inline-text-white-bkgrnd a {
        color:var(--color-dark-blue);
        text-align: left;
    }

    .facts-block-text {
        display: grid;
        margin-left:auto;
        margin-right:auto;
        font-family:var(--family-copy);
        justify-content: center;
        text-align: left;
    }

    .facts-block-text a {
        color:var(--color-dark-blue);
        text-align: left;
    }

    /* ABOUT US PAGE */
    .about-us-container   {
        display: grid;
        margin:auto;
    }

    .about-image img  {
        max-width: 100%;
        height:auto;
    }

    .about-text {
        align-content: center;
        justify-content: center;
    }

    /*  WIZARD ACTION PLANS */
    .wizard-intro-container {
        font-family: var(--family-copy);
        align-content: center;
        justify-content: center;
        background: white;
        border-style: groove;
        border-color: var(--color-soft-blue);
    }

    .wizard-intro-image {
        display:grid;
        width:100%;
        justify-content: center;
        align-content: center;
    }

    .wizard-intro-image a {
        cursor:pointer;
    }

    .wizard-intro-image img  {
        max-width: 100%;
        height:auto;
    }

    .wizard-intro-text {
        display:grid;
        cursor:none;
        justify-content: center;
        align-content: center;
        text-decoration: none;
        color:var(--color-titles);
        font-family: var(--family-copy);
        text-align:justify;
    }

    .wizard-intro-text a {
        cursor:pointer;
    }

    /* ? */
    .wizard-intro-text h3 {
        text-align: center;
    }

    /* TESTIMONIALS AND FEES */
    .charges-grid {
        display:grid;
        margin:auto;
        max-width:var(--content-width);
        background-color: var(--color-white);
        text-align:center;
    }

    .charges-grid h3 {
        font-family: var(--family-title);
        font-size:1.3em;
        color:var(--color-dark-blue);
        text-align:center;
        font-weight: bold;
    }

    .charges-grid p {
        font-family: var(--family-title);
        font-size:1.1em;
        color:var(--color-dark-blue);
        text-align:center;
    }

    .charges-grid span {
        font-family: var(--family-title);
        font-size:1.0em;
        color:var(--color-dark-blue);
        text-align:center;
    }


    .testimonials-grid  {
        display:grid;
        margin:auto;
        background-color: white;
    }

    .testimonial-row-1, .testimonial-row-2, .testimonial-row-3, .testimonial-row-4, .testimonial-row-5, .testimonial-row-6, .testimonial-row-7  {
        display:grid;
        width:100%;
        margin:auto;
        border:thin dashed var(--color-dark-blue);
        max-width:var(--content-width);
    }

    .testimonial-row-1 {
        grid-row:1;
    }

    .testimonial-row-2 {
        grid-row:2;
    }

    .testimonial-row-3 {
        grid-row:3;
    }

    .testimonial-row-4 {
        grid-row:4;
    }

    .testimonial-row-5 {
        grid-row:5;
    }

    .testimonial-row-6 {
        grid-row:6;
    }

}

