/*DONE FEB 24/25 for HOME, ABOUT  */


/*******************************************************************************************************************

    SMALL BANANA PORTRAIT (320), SMALL MOBILE PORTRAIT (360), SMALL TABLET PORTRAIT (600) AND BIG MOBILE PORTRAIT (640)
    ie ONE COLUMN

/********************************************************************************************************************/
@media only screen
and (min-width: 320px)
and (max-width: 599px) {

    .mobile-columns {
        display:block;
    }

    .desktop-columns {
        display:none;
    }

    /* HOME PAGE FACTS */
    .home-facts-container {
        /*width:var(--media-less-than-content-width);*/
        display: grid;
        align-content: center;
        justify-content: center;
        margin: auto;
        background-color: #ffffff;
    }

    .facts-inline-image {
        display:grid;
        grid-column:1;
        justify-content: center;
        align-content: center;
    }

    .facts-inline-text  {
        display:grid;
        grid-column:1;
        justify-content: center;
        align-content: center;
    }

    .facts-block-text {
        /*width:var(--media-less-than-content-width);*/
    }

    /* HOME PAGE BOOKING LINK */
    a .booking-link-grid {
        /*width: var(--media-less-than-content-width);*/
    }

    /* ABOUT PAGE FACTS */
    /* because this container uses content title and copy pages which are already using media less than content width */
    .about-us-container  {
        display: grid;
        align-content: center;
        justify-content: center;
        margin: auto;
        max-width: var(--content-width);
        /*width: var(--media-less-than-content-width);*/
    }

    .about-image  {
        display:grid;
        grid-column:1;
        justify-content: center;
        align-content: center;
    }

    .about-text   {
        display:grid;
        grid-column:1;
        justify-content: center;
        align-content: center;
        text-align:justify;
    }

    .separator-block {
        display: none;
    }

    /* INTRO PAGES INTO WIZARDS */
    .wizard-intro-container {
        display: grid;
        float:left;
        align-content: center;
        justify-content: center;
        border-radius: 10px;
    }

    .wizard-intro-image {
        display: grid;
        grid-column:1;
    }

    .wizard-intro-text {
        display: grid;
        grid-column: 1;
    }

    /* TESTIMONIALS */
    .charges-grid, .testimonials-grid  {
        /*width:var(--media-less-than-content-width);*/
    }

    .bevelled-edges {
        width:80%;
    }

}

/*******************************************************************************************************************

  SMALL TABLETS LANDSCAPE (800) TO  BIG MOBILE LANDSCAPE (896) TO BIG TABLET LANDSCAPE (1280) AND IPAD LAND. (1366) AND UP
    ie TWO COLUMNS

*******************************************************************************************************************/
@media only screen
and (min-width: 600px) {

    .mobile-columns {
        display:none;
    }

    .desktop-columns {
        display:block;
    }

    /* HOME PAGE */
    /* images are 500 square which are 49% of ipad width 1024 */
    .home-facts-container {
        width:var(--media-more-than-content-width);
        display: inline-grid;
        grid-template-columns: 49% 51%;
        background-color: #363233;
    }

    .facts-inline-image {
        display:grid;
        grid-column:1;
        justify-content: flex-start;
        align-content: center;
    }

    .facts-inline-text {
        display:grid;
        padding:0 1em;
    }

    .facts-block-text {
        width:var(--media-more-than-content-width);
        margin-bottom:2em;
    }

    /* HOME BOOKING */
    a .booking-link-grid {
        width: var(--media-more-than-content-width);
    }

    /* ABOUT US PAGE uses content copy and title which already set the width as more than media */
    .about-us-container {
        display: inline-grid;
        grid-template-columns: 49% 51%;
        max-width: var(--ipad-width);
        width: var(--media-more-than-content-width);
    }

     .about-image  {
         display:grid;
         grid-column:1;
         justify-content: flex-start;
         align-content: center;
     }

    .about-text  {
        display:grid;
        grid-column:2;
        padding:0 1em;
        justify-content: center;
        align-content: center;
        border-right:thin solid #000;
     }

    .separator-block {
        display:block;
        float:left;
        width:100%;
        height:20px;
        background: radial-gradient(circle at 100px 100px, #e8edef, #000);
    }

    /* WIZARDS INTROS */
    .wizard-intro-container {
        display: inline-grid;
        grid-template-columns: 49% 51%;
        border-radius: 10px 40px 40px 10px;
    }

    .wizard-intro-image {
        display: grid;
        grid-column:1;
    }

    .wizard-intro-text {
        display: grid;
        grid-column: 2;
    }

    /* TESTIMONIALS */
    .charges-grid, .testimonials-grid  {
        width: var(--media-more-than-content-width);
    }

    .bevelled-edges {
        width:70%;
    }

}


/*******************************************************************************************************************
  GLOBAL BANANAS - PORTRAIT
*******************************************************************************************************************/
@media only screen
and (min-width: 320px)
and (max-width: 568px)
and (orientation: portrait) {

    /*image is 900x450 (90% is 810 by 405 so divide 810/405 to get ratio of 50%  */
    a .booking-link-grid {
        height: 160px;
    }

    .wizard-intro-text h3 {
        font-size:var(--h3-titles-banana-port);
        text-align:center;
        padding-top:1em;
        line-height:110%;
    }

    .wizard-intro-text p {
        font-size:var(--p-banana-port);
        text-align:justify;
    }
}

/*******************************************************************************************************************
  GLOBAL BANANAS - LANDSCAPE
*******************************************************************************************************************/
@media only screen
and (min-width: 320px)
and (max-width: 568px)
and (orientation: landscape) {

    /*image is 900x450 (booking grid is 900 by 450 so divide 450/900 to get ratio of 50% and 50x360 is 180) */
    a .booking-link-grid {
        height: 284px;
    }

    .wizard-intro-text h3 {
        font-size:var(--h3-titles-banana-land);
        text-align:center;
        padding-top:1em;
        line-height:110%;
    }

    .wizard-intro-text p {
        font-size:var(--p-banana-land);
        text-align:justify;
    }
}

/*******************************************************************************************************************
  GLOBAL SMALL MOBILES - PORTRAIT
*******************************************************************************************************************/
@media only screen
and (min-width: 360px)
and (max-width: 414px)
and (orientation: portrait){

    /*image is 900x450 (booking grid is 900 by 450 so divide 450/900 to get ratio of 50% and 50x360 is 180) */
    a .booking-link-grid {
        height: 180px;
    }

    .wizard-intro-text h3 {
        font-size:var(--h3-titles-small-mobile-port);
        text-align:center;
        padding-top:1em;
        line-height:110%;
    }

    .wizard-intro-text p {
        font-size:var(--p-small-mobile-port);
        text-align:justify;
    }

}

/*******************************************************************************************************************
  GLOBAL SMALL MOBILES - LANDSCAPE
*******************************************************************************************************************/
@media only screen
and (min-width: 360px)
and (max-width: 414px)
and (orientation: landscape){

    /*image is 900x450 (booking grid is 900 by 450 so divide 450/900 to get ratio of 50% and 50x414 is 180) */
    a .booking-link-grid {
        height: 207px;
    }

    .wizard-intro-text h3 {
        font-size:var(--h3-titles-small-mobile-land);
        text-align:center;
        padding-top:1em;
        line-height:110%;
    }

    .wizard-intro-text p {
        font-size:var(--p-small-mobile-land);
        text-align:justify;
    }

}

/*******************************************************************************************************************
 GLOBAL SMALL TABLETS - PORTRAIT
*******************************************************************************************************************/
@media only screen
and (min-width: 600px)
and (max-width:800px)
and (orientation: portrait){

    /* image is 450 height x 900 width but and width here is 810 (90% of 900) wide so 450/810 is 55% ratio */
    a .booking-link-grid {
        height:300px;
    }

    .wizard-intro-text h3 {
        font-size:var(--h3-titles-small-tablet-port);
        text-align:center;
        padding-top:1em;
        line-height:110%;
    }

    .wizard-intro-text p {
        font-size:var(--p-small-tablet-port);
        text-align:justify;
    }
}

/*******************************************************************************************************************
  GLOBAL SMALL TABLETS - LANDSCAPE
*******************************************************************************************************************/
@media only screen
and (min-width: 600px)
and (max-width:800px)
and (orientation: landscape){

    /* image is 500x500 - .4882 there is no white background here */
    /* HOME PAGE */
    .facts-inline-text-dark-bkgrnd {
        height:390px;
        padding:0 1em;
    }

    .facts-block-text {
        padding-top:1em;
        line-height: 130%;
    }

    a .booking-link-grid {
        height:400px;
    }

    .wizard-intro-text h3 {
        font-size:var(--h3-titles-small-tablet-land);
        text-align:center;
        padding-top:1em;
        line-height:110%;
    }

    .wizard-intro-text p {
        font-size:var(--p-small-tablet-land);
        text-align:justify;
    }

}

/*******************************************************************************************************************
  GLOBAL BIG MOBILES - PORTRAIT
*******************************************************************************************************************/
@media only screen
and (min-width:640px)
and (max-width:896px)
and (orientation: portrait){

    /*image is 900x450 (booking grid is 900 by 450 so divide 450/900 to get ratio of 50% and 50x640) */
    a .booking-link-grid {
        height: 320px;
    }

    .wizard-intro-text h3 {
        font-size:var(--h3-titles-big-mobile-port);
        text-align:center;
        padding-top:1em;
        line-height:110%;
    }

    .wizard-intro-text p {
        font-size:var(--p-big-mobile-port);
        text-align:justify;
    }

}

/*******************************************************************************************************************
  GLOBAL BIG MOBILES - LANDSCAPE
*******************************************************************************************************************/
@media only screen
and (min-width:640px)
and (max-width:896px)
and (orientation: landscape){

    /* image is 500x500 - .4882 there is no white background here */
    /* HOME PAGE */
    .facts-inline-text-dark-bkgrnd {
        height:437px;
        padding:0 1em;
    }

    .facts-block-text {
        padding-top:1em;
        line-height: 130%;
    }

    /*image is 900x450 ( 50% and 50x896) */
    a .booking-link-grid {
        height:448px;
    }

    .wizard-intro-text h3 {
        font-size:var(--h3-titles-big-mobile-land);
        text-align:center;
        padding-top:1em;
        line-height:110%;
    }

    .wizard-intro-text p {
        font-size:var(--p-big-mobile-land);
        text-align:justify;
    }

}

/*******************************************************************************************************************
  GLOBAL BIG TABLETS and IPAD - PORTRAIT
*******************************************************************************************************************/
@media only screen
and (min-width: 960px)
and (max-width: 1366px)
and (orientation: portrait) {

    /* image is 500x500 - .4882 there is no white background here */
    /* HOME PAGE */
    .facts-inline-text-dark-bkgrnd {
        height:468px;
        padding:0 1em;
    }

    .facts-block-text {
        padding-top:1em;
        line-height: 130%;
    }

    a .booking-link-grid {
        height: 450px;
    }

    .wizard-intro-text h3 {
        font-size:var(--h3-titles-big-tablet-ipad-port);
        text-align:center;
        padding-top:1em;
        line-height:110%;
    }

    .wizard-intro-text p {
        font-size:var(--p-big-tablet-ipad-port);
        text-align:justify;
    }
}

/*******************************************************************************************************************
 GLOBAL BIG TABLETS - LANDSCAPE and IPAD LANDSCAPE
*******************************************************************************************************************/
@media only screen
and (min-width: 960px)
and (max-width: 1366px)
and (orientation: landscape) {

    .facts-inline-text-dark-bkgrnd {
        height:468px;
        padding:0 1em;
    }

    .facts-block-text {
        padding-top:1em;
        line-height: 130%;
    }

    a .booking-link-grid {
        height: 450px;
    }

    .wizard-intro-text h3 {
        font-size:var(--h3-titles-big-tablet-ipad-land);
        text-align:center;
        padding-top:1em;
        line-height:110%;
    }

    .wizard-intro-text p {
        font-size:var(--p-big-tablet-ipad-land);
        text-align:justify;
    }
}


/*******************************************************************************************************************
 GLOBAL LAPTOPS
*******************************************************************************************************************/
@media only screen
and (min-width: 1440px)
and (max-width:1919px) {

    /* HOME PAGE */
    .facts-inline-text-dark-bkgrnd {
        height:500px;
        padding:0 1em;
    }

    .facts-block-text {
        padding-top:1em;
        line-height: 130%;
    }

    /* IMAGE IS 450x900 so no shrinkage needed */
    a .booking-link-grid {
        width: var(--media-more-than-content-width);
    }

    a .booking-link-grid {
        height: 450px;
    }

    .wizard-intro-text h3 {
        font-size:var(--h3-titles-laptop);
        text-align:center;
        padding-top:1em;
        line-height:110%;
    }

    .wizard-intro-text p {
        font-size:var(--p-laptop);
        text-align:justify;
    }
}
/*******************************************************************************************************************
 GLOBAL BIG TABLETS LANDSCAPE (1280), IPADS LAPTOPS AND UP
*******************************************************************************************************************/
@media only screen
and (min-width: 1024px) {

    /* HOME PAGE */
    .facts-inline-text-dark-bkgrnd {
        height:500px;
        padding:0 1em;
    }

    .facts-block-text {
        padding-top:1em;
    }

    /* IMAGE IS 450x900 so no shrinkage needed */
    a .booking-link-grid {
        height: 450px;
    }

    .wizard-intro-text h3 {
        font-size:var(--h3-titles-desktop);
        text-align:center;
        padding-top:1em;
        line-height:110%;
    }

    .wizard-intro-text p {
        font-size:var(--p-desktop);
        text-align:justify;
    }

}

/* GLOBAL ****************************************************************************************************/
@media only screen {

    /* HOME PAGE FACTS */
    .home-facts-container{
        display: grid;
        max-width: var(--ipad-width);
        margin:auto;
    }

    .facts-inline-image {
        text-align: center;
        margin:auto;
    }

    .facts-inline-image img  {
        max-width: 100%;
        height:auto;
    }

    .facts-inline-text-dark-bkgrnd  {
        display: grid;
        justify-content: center;
        align-content:center;
        text-align: justify;
        background: var(--color-dark-green);
    }

    .facts-inline-text-white-bkgrnd {
        padding-top:1em;
        display: grid;
        justify-content: center;
        text-align: left;
        background: #FFFFFF;
    }

    .facts-block-text {
        display: grid;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:2em;
        justify-content: center;
        text-align: left;
    }

    /* HOME PAGE BOOKING LINK */
    a .booking-link-grid {
        display: grid;
        max-width: var(--content-width);
        margin: 1em auto;
        background-repeat: no-repeat;
        background-image: url("src/assets/images/details/home/bookSessionText.jpg");
        background-size: contain;
        align-content: flex-end;
        justify-content: center;
    }

    /* ABOUT US PAGE */
    .about-us-container   {
        display: grid;
        margin:auto;
    }

    .about-image img  {
        max-width: 100%;
        height:auto;
    }

    .about-text {
        align-content: center;
        justify-content: center;
    }

    /*  WIZARD ACTION PLANS */
    .wizard-intro-container {
        font-family: var(--family-copy);
        align-content: center;
        justify-content: center;
        background: white;
        border-style: groove;
        border-color: var(--color-soft-blue);
        margin-top:2em;
        margin-bottom:2em;
    }

    .wizard-intro-image {
        display:grid;
        width:100%;
        justify-content: center;
        align-content: center;
    }

    .wizard-intro-image a {
        cursor:pointer;
    }

    .wizard-intro-image img  {
        max-width: 100%;
        height:auto;
    }

    .wizard-intro-text {
        display:grid;
        padding:0 2em;
        cursor:none;
        justify-content: center;
        align-content: center;
        text-decoration: none;
        color:var(--color-titles);
        font-family: var(--family-copy);
    }

    .wizard-intro-text a {
        cursor:pointer;
    }

    /* TESTIMONIALS AND FEES */
    .charges-grid {
        display:grid;
        margin:auto;
        max-width:var(--content-width);
        background-color: var(--color-white);
        padding:1em;
        text-align:center;
    }

    .testimonials-grid  {
        display:grid;
        margin:auto;
        max-width:var(--content-width);
        background-color: white;
    }

    .testimonial-row-1, .testimonial-row-2, .testimonial-row-3, .testimonial-row-4, .testimonial-row-5, .testimonial-row-6, .testimonial-row-7  {
        display:grid;
        width:100%;
        margin:auto;
        border:thin dashed var(--color-dark-blue);
        padding:1em;
    }

    .testimonial-row-1 {
        grid-row:1;
    }

    .testimonial-row-2 {
        grid-row:2;
    }

    .testimonial-row-3 {
        grid-row:3;
    }

    .testimonial-row-4 {
        grid-row:4;
    }

    .testimonial-row-5 {
        grid-row:5;
    }

    .testimonial-row-6 {
        grid-row:6;
    }



}

