/*******************************************************************************************************************
  GLOBAL  content is now 1024 so there must be space on either side up to it
*******************************************************************************************************************/
@media only screen
and (min-width: 360px)
and (max-width: 1023px) {

    .header-detail-image {
        width: var(--media-unaffected-by-ipad-width);
    }

    .content-images  {
        width: var(--media-less-than-ipad-width);
        margin-right:5%;
        margin-left:5%;
        background-color: red;
    }
}


/*******************************************************************************************************************
  GLOBAL
*******************************************************************************************************************/
@media only screen
and (min-width: 1024px) {

    .header-detail-image {
        width: var(--media-unaffected-by-ipad-width);
    }

    .content-images  {
        width:var(--media-more-than-ipad-width);
        background-color: blue
    }

}

/*******************************************************************************************************************

MOBILES

*******************************************************************************************************************/
@media only screen
and (min-width: 360px)
and (max-width: 767px)
and (orientation:portrait) {

    .content-images {
        padding:.5em 0;
    }

}

/*******************************************************************************************************************

MAX WIDTH 100% FOR ALL OVER MOBILE

*******************************************************************************************************************/
@media only screen
and (min-width:768px) {

    .content-images {
        padding:1em 0;
    }

}

/* GLOBAL *************************************************************************************************************/
@media only screen {

    /* 1024 wide */
    .content-images, .content-images a, .header-detail-image   {
        display:grid;
        max-width:var(--ipad-width);
        margin:auto;
        justify-content: center;
    }

    .content-images img, .header-detail-image img {
        max-width:100%;
        height:auto;
    }


    /* HOME  */
  /*  .header-home-image {
        background-size: cover;
        background-image: linear-gradient(transparent 50%, rgba(0, 33, 69, .8) 80%),
        url('src/assets/images/headers/home/headerHome.jpg');
    }*/

    /* PLAN AHEAD */
  /*  .header-think-about-needs-image {
        background-size: cover;
        background-image: linear-gradient(transparent 50%, rgba(0, 33, 69, .8) 90%),
        url("src/assets/images/headers/planAhead/headerThinkAboutNeeds.jpg");
    }*/

  /*  .header-consider-advocates-image {
        background-size: cover;
        background-image: linear-gradient(transparent 50%, rgba(0, 33, 69, .8) 90%),
        url('src/assets/images/headers/planAhead/headerConsiderAdvocates.jpg');
    }*/

   /* .header-understand-care-plan-image {
        background-size: cover;
        background-image: linear-gradient(transparent 50%, rgba(0, 33, 69, .8) 90%),
        url("src/assets/images/headers/planAhead/headerUnderstandAdvancePlans.jpg");
    }*/

  /*  .header-know-rights-image {
        background-size: cover;
        background-image: linear-gradient(transparent 50%, rgba(0, 33, 69, .8) 80%),
        url("src/assets/images/headers/planAhead/headerKnowYourRights.jpg");
    }*/

    /* TAKE ACTION */
  /*  .header-write-needs-down-image {
        background-size: cover;
        background-image: linear-gradient(transparent 50%, rgba(0, 33, 69, .8) 80%),
        url("src/assets/images/headers/takeAction/headerWriteNeedsDown.jpg");
    }*/

 /*   .header-choose-your-rep-image {
        background-size: cover;
        background-image: linear-gradient(transparent 50%, rgba(0, 33, 69, .8) 90%),
        url("src/assets/images/headers/takeAction/headerChooseReprentatives.jpg");
    }*/

 /*   .header-write-adv-care-plan-image {
        background-size: cover;
        background-image: linear-gradient(transparent 50%, rgba(0, 33, 69, .8) 90%),
        url("src/assets/images/headers/takeAction/headerWriteCarePlan.jpg");
    }*/

  /*  .header-create-checklist-image {
        background-size: cover;
        background-image: linear-gradient(transparent 30%, rgba(0, 33, 69, .8) 90%),
        url("src/assets/images/headers/takeAction/headerCreateCheckList.jpg");
    }*/

    /* ABOUT  */
 /*   .header-about-eol-advocacy-image {
        background-size: cover;
        background-image: linear-gradient(transparent 100%, rgba(0, 33, 69, .8) 10%),
        url('src/assets/images/headers/about/headerAboutAdvocacy.jpg');
    }*/

  /*  .header-about-pract-image {
        background-size: cover;
        background-image: linear-gradient(transparent 40%, rgba(0, 33, 69, .8) 90%),
        url('src/assets/images/headers/about/headerAboutPractitioner.jpg');
    }*/

    /* BOOK CONSULTATION  */
   /* .header-testimonials-image {
        background-size: cover;
        background-image: linear-gradient(transparent 50%, rgba(0, 33, 69, .8) 90%),
        url('src/assets/images/headers/consultations/headerTestimonials2.jpg');
    }
*/
    /*.header-book-consultation-image {
        background-size: cover;
        background-image: linear-gradient(transparent 50%, rgba(0, 33, 69, .8) 90%),
        url('src/assets/images/headers/consultations/headerBookConsultation.jpg');
    }*/

}