/*******************************************************************************************************************
  GLOBAL BANANAS- MOBILES, SMALL TABLETS - under 900 (content) width so need 10% space on either side of content
*******************************************************************************************************************/
@media only screen
and (min-width: 240px)
and (max-width: 896px)    {

    .content-dark-list, .content-light-list {
        width:var(--media-less-than-content-width);
        padding:.5em 0;
    }

    .list-item {
        line-height: 120%;
        padding-top: .6em;
    }

}

/*******************************************************************************************************************
  GLOBAL BIG TABLETS, IPADS, LAPTOPS, DESKTOPS AND UP (over 900 so don't need to have space on either side of content)
*******************************************************************************************************************/
@media only screen
and (min-width:960px)   {

    .content-dark-list, .content-light-list {
        width:var(--media-more-than-content-width);
        padding-bottom:1em;
    }

    .list-item {
        line-height: 200%;
    }

    .list-item:first-child  {
        padding-top: 0;
    }

}

/*  BANANA   *******************************************************************************************/
@media only screen
and (min-width: 240px)
and (max-width: 320px) {

    .list-item {
        font-size: var(--med-copy-banana-font-size);
    }

}

/* MOBILES v ****************************************************************************************************/
@media only screen
and (min-width: 360px)
and (max-width: 414px) {

    .list-item {
        font-size: var(--med-copy-mobile-font-size);
    }

}

/*  TABLETS   *******************************************************************************************/
@media only screen
and (min-width: 600px)
and (max-width: 800px)  {

    .list-item {
        font-size: var(--med-copy-tablet-font-size);
    }

}

/* IPADS ****************************************************************************************************/
@media only screen
and (min-width: 1024px)
and (max-width: 1366px)  {

    .list-item {
        font-size: var(--med-copy-ipad-font-size);
    }

}

/*******************************************************************************************************************
  LAPTOPS
*******************************************************************************************************************/

@media only screen
and (min-width: 1440px)
and (max-width: 1919px){

    .list-item {
        font-size: var(--med-copy-laptop-font-size);
    }

}

/*******************************************************************************************************************
  DESKTOP and UP
*******************************************************************************************************************/

@media only screen
and (min-width: 1920px){

    .list-item {
        font-size: var(--med-copy-desktop-font-size);
    }

}

/* GLOBAL *************************************************************************************************************/
@media screen {

    /* ULs */
    .content-dark-list, .content-light-list {
        display: grid;
        margin: auto;
        max-width: var(--content-width);
    }

    .content-dark-list {
        color: var(--color-dark-blue);
        background-color: white;
    }

    .content-light-list {
        color: var(--color-white);
    }

    /* LIST */
    .list-item, .list-item a   {
        font-family: var(--family-copy);
        text-align: left;
    }

    .list-item a {
        text-decoration: underline;
        cursor: pointer;
    }

    .circle {
        list-style: circle inside;
    }

    .square {
        list-style: square inside;
    }

    .yin-yang {
        list-style-image:url("src/assets/images/icons/yinYang.png");
        list-style-position: inside;
    }

    .facts {
        list-style-image:url("src/assets/images/icons/facts.png");
        list-style-position: inside;
    }

  /*  .infinity {
        list-style-image:url("src/assets/images/icons/infinity.png");
        list-style-position: inside;
    }*/

}
