/*DONE FEB 24/25 */

/*******************************************************************************************************************

WIDTH 90% FOR ALL LESS THAN 900px (OUR CONTENT WINDOW)

*******************************************************************************************************************/
@media only screen
and (min-width: 320px)
and (max-width: 896px)    {

    .list-item,  .small-list-item {
        width:var(--media-less-than-content-width);
    }

    .mobile-list {
        display:block;
    }

    .desktop-list {
        display:none;
    }

}

/*******************************************************************************************************************

MAX WIDTH 100% FOR ALL OVER 900px (OUR CONTENT WINDOW)

*******************************************************************************************************************/
@media only screen
and (min-width:960px)   {

    .list-item,  .small-list-item {
        width:var(--media-more-than-content-width);
    }

    .mobile-list {
        display:none;
    }

    .desktop-list {
        display:block;
    }
}

/*******************************************************************************************************************

 SMALL BANANA PORTRAIT (320), SMALL MOBILE PORTRAIT (360), SMALL TABLET PORTRAIT (600) AND BIG MOBILE PORTRAIT (640) */

/********************************************************************************************************************/

@media only screen
and (min-width: 320px)
and (max-width: 640px)
and (orientation: portrait) {

    .list-item,  .list-item a, .small-list-item   {
        line-height: 120%;
        padding-top:.5em;
    }

}

/*******************************************************************************************************************

SMALL MOBILE (414) TO BANANA (568) LANDSCAPES

/*******************************************************************************************************************/

@media only screen
and (min-width: 414px)
and (max-width: 568px)
and (orientation: landscape) {

    .list-item,  .list-item a, .small-list-item   {
        line-height: 120%;
        padding-top:.5em;
    }

}

/*******************************************************************************************************************

SMALL TABLET LANDSCAPE (800) TO BIG MOBILE LANDSCAPE (896) TO BIG TABLET LANDSCAPE (1280) AND IPAD LANDSCAPE (1366)

/*******************************************************************************************************************/

@media only screen
and (min-width: 800px)
and (max-width: 1366px)
and (orientation: landscape) {

    .list-item,  .list-item a, .small-list-item   {
        line-height: 120%;
        padding-top:1em;
    }

    .list-item:first-child  {
        padding-top: 0;
    }

}

/*******************************************************************************************************************

TABLET AND IPAD PORTRAIT

/*******************************************************************************************************************/

@media only screen
and (min-width: 960px)
and (max-width:1024px)
and (orientation: portrait) {

    .list-item,  .list-item a, .small-list-item   {
        line-height: 120%;
        padding-top:1em;
    }

    .list-item:first-child {
        padding-top:0;
    }
}

/*******************************************************************************************************************

LAPTOPS and UP

/*******************************************************************************************************************/

@media only screen
and (min-width: 1440px) {

    .list-item,  .list-item a, .small-list-item   {
        line-height: 120%;
        padding-top:1em;
    }

    .list-item:first-child {
        padding-top:0;
    }
}

/*******************************************************************************************************************
  GLOBAL BANANAS - PORTRAIT
*******************************************************************************************************************/
@media only screen
and (min-width: 320px)
and (max-width: 568px)
and (orientation: portrait) {

    .list-item {
        font-size: var(--small-p-banana-port-font-size);
    }

    .small-list-item {
        font-size: var(--small-span-banana-port-font-size);
    }

}

/*******************************************************************************************************************
  GLOBAL BANANAS - LANDSCAPE
*******************************************************************************************************************/
@media only screen
and (min-width: 320px)
and (max-width: 568px)
and (orientation: landscape) {

    .list-item {
        font-size: var(--big-p-banana-land-font-size);
    }

    .small-list-item {
        font-size: var(--big-span-banana-land-font-size);
    }

}

/*******************************************************************************************************************
  GLOBAL SMALL MOBILES - PORTRAIT
*******************************************************************************************************************/
@media only screen
and (min-width: 360px)
and (max-width: 414px)
and (orientation: portrait){

    .list-item {
        font-size: var(--small-p-mobile-port-font-size);
    }

    .small-list-item {
        font-size: var(--small-span-mobile-port-font-size);
    }
}

/*******************************************************************************************************************
  GLOBAL SMALL MOBILES - LANDSCAPE
*******************************************************************************************************************/
@media only screen
and (min-width: 360px)
and (max-width: 414px)
and (orientation: landscape){

    .list-item {
        font-size: var(--small-p-mobile-land-font-size);
    }

    .small-list-item {
        font-size: var(--small-span-mobile-land-font-size);
    }

}

/*******************************************************************************************************************
  GLOBAL BIG MOBILES - PORTRAIT
*******************************************************************************************************************/
@media only screen
and (min-width:640px)
and (max-width:896px)
and (orientation: portrait){

    .list-item {
        font-size: var(--big-p-mobile-port-font-size);
    }

    .small-list-item {
        font-size: var(--big-span-mobile-port-font-size);
    }
}

/*******************************************************************************************************************
  GLOBAL BIG MOBILES - LANDSCAPE
*******************************************************************************************************************/
@media only screen
and (min-width:640px)
and (max-width:896px)
and (orientation: landscape){

    .list-item {
        font-size: var(--big-p-mobile-land-font-size);
    }

    .small-list-item {
        font-size: var(--big-span-mobile-land-font-size);
    }
}

/*******************************************************************************************************************
  GLOBAL SMALL TABLETS - PORTRAIT
*******************************************************************************************************************/
@media only screen
and (min-width: 600px)
and (max-width:800px)
and (orientation: portrait) {

    .list-item {
        font-size: var(--small-p-tablet-port-font-size);
    }

    .small-list-item {
        font-size: var(--small-span-tablet-port-font-size);
    }
}

/*******************************************************************************************************************
  GLOBAL SMALL TABLETS - LANDSCAPE
*******************************************************************************************************************/
@media only screen
and (min-width: 600px)
and (max-width:800px)
and (orientation: landscape){

    .list-item {
        font-size: var(--small-p-tablet-land-font-size);
    }

    .small-list-item {
        font-size: var(--small-span-tablet-land-font-size);
    }
}

/*******************************************************************************************************************
 GLOBAL BIG TABLETS - PORTRAIT
*******************************************************************************************************************/
@media only screen
and (min-width: 960px) {

    .list-item {
        font-size: var(--p-desktop-font-size);
    }

    .small-list-item {
        font-size: var(--span-desktop-font-size);
    }

}

/* GLOBAL *************************************************************************************************************/
@media screen {

    /* ULs */
    .content-dark-list, .content-light-list {
        display: grid;
        margin: auto;
        max-width: var(--content-width);
        color: var(--color-dark-blue);
        border:thin solid purple;
    }

    /* LIST */
    .list-item, .list-item a, .small-list-item   {
        width:95%;
        margin-left:5%;
        font-family: var(--family-copy);
        text-align: left;
        color: var(--color-dark-blue);
    }

    .list-item a {
        text-decoration: none;
        cursor: pointer;
    }

    .list-item a:hover {
        text-decoration: underline;
    }

    .circle {
        list-style: circle inside;
    }

    .square {
        list-style: square inside;
    }

    .yin-yang-small {
        list-style-image:url("src/assets/images/icons/yinYangSmall.png");
        list-style-position: outside;
    }

    .yin-yang-big {
        list-style-image:url("src/assets/images/icons/yinYang.png");
        list-style-position: outside;
    }

    .facts {
        list-style-image:url("src/assets/images/icons/facts.png");
        list-style-position: outside;
    }

}
