@media print {
    .print-session-component {
        display:block;
        font-family: 'Arial', serif;
        color:#878787;
        margin-top:1em;
    }

    .title {
        font-size: 20px;
        font-weight: bold;
        margin-top:20px;
        margin-bottom: 30px;
    }

    .page-title {
        font-size: 18px;
        font-weight: bold;
        margin-top:20px;
        margin-bottom: 30px;
        page-break-before:always;
    }

    .sub-title {
        font-size: 16px;
        font-weight: normal;
        margin-top:20px;
        margin-bottom: 15px;
    }

    .demographic  {
        font-size: 14px;
        border: #878787 solid 1px;
        width: 80%;
        margin-left: 20px;
    }

    .read {
        font-size: 1.5em;
        font-weight: 600;
        width: 80%;
        margin:2em 0 0 0;
    }

    .page-break {
        page-break-before:always;
    }

    .demographic .firstCell {
        width: 25%;
        padding:.25em 0;
    }

    .demographic .secondCell {
        width: 75%;
        padding:.25em 0;
    }

    .disclaimer {
      font-size: 14px;
      border: #878787 solid 1px;
      width: 100%;

    }

    .signed-date {
        width:80%;
        margin-top:2em;

    }
    .signed-date .sig-date{
        width: 50%;
        padding-bottom:2em;
    }

    .signed-date .line {
        width: 50%;
    }

    .full-copy {
        width: 100%;
        padding:1em;
    }

    .response {
        margin-left: 40px;
        font-size: 14px;
    }
}

@media screen {
    .print-session-component {
        display:none;
    }
}
