@media print {

    /* for double sized printing and you want different margins
    /* Left page margin */
 /*   @page :left {
        margin-left: 1.5in;
        margin-right: 0.5in;
    }
    !* Right page margin *!
    @page :right {
        margin-left: 0.5in;
        margin-right: 1.5in;
    }
    */

  /*  @media print {
        h1 {
            page-break-before: always; !* Start a new page before <h1> elements *!
        }
        section {
            page-break-after: always; !* Start a new page after <section> elements *!
        }
    }*/
    @page {
        size: 8.5in 11in;
        margin-top: 0.5in;
        margin-bottom: 0.75in;
        margin-left: .75in;
        margin-right: .5in;
    }

    .print-caregiver-consult-component, .print-patient-consult-component, .print-planning-consult-component {
        display:block;
        float:left;
        width:95%;
        font-family: Calibri, Cambria, 'Arial', serif;
        margin-top:1em;
        color:#878787;
    }

    .print-form-heading {
        display:block;
        width:100%;
        float:left;
        font-size: 1.9em;
        font-weight: 700;
        margin-top:1em;
        margin-bottom:1em;
        line-height: 130%;
        text-align: center;
    }

    .print-form-title   {
        display:block;
        width:100%;
        float:left;
        padding-top:1em;
        font-family:var(--family-title);
        font-size: 1.7em;
        margin:.8em 0;
        text-align: left;
    }

    .print-form-sub-title {
        display:block;
        width:100%;
        float:left;
        font-size: 1.6em;
        font-weight: 800;
        margin-top:.3em;
        margin-bottom: .1em;
        padding:1em 0 0 .5em;
    }

    .print-form-client-info  {
        display:block;
        width:100%;
        float:left;
        font-size: .8em;
        width: 100%;
        border:#878787 solid 1px;
    }

    .print-form-inline-data {
        display:inline-grid;
        float:left;
        grid-template-columns: 40% 60%;
        width:100%;
        padding:1em 0;
    }

    .print-form-inline-prompt, .print-form-inline-value {
        display:grid;
        font-size: 1.5em;
        line-height: 130%;
        width:100%;
        font-family:var(--family-copy);
    }

    .print-form-inline-prompt {
        grid-column: 1;
    }

    .print-form-inline-value {
        grid-column: 2;
    }

    .print-form-inline-line {
        display:grid;
        grid-column: 2;
        border-bottom: 1px solid black;
    }

    .print-form-first-col {
        width: 25%;
        padding:.5em 0;
        border-right:thin solid #878787;
    }

    .print-form-second-col {
        width: 75%;
        padding:.5em 0;
    }

    .print-form-response {
        display:block;
        float:left;
        width:95%;
        margin-left:5%;
        margin-right:5%;
        font-size: 1.4em;
        font-family:var(--family-copy);
        padding:.5em 0;
        line-height:160%;
        font-style: italic;
    }

    .print-form-disclaimer {
        display:block;
        float:left;
        font-size: 1em;
        border: #878787 solid 1px;
        width: 100%;
    }

    .print-form-footer {
        display:grid;
        width:100%;
        margin-top:20px;
        align-content: center;
        justify-content: center;
    }

    .print-form-footer p {
        padding-top:40px;
        font-size: 1.5em;
        line-height: 130%;
        text-align: center;
        color:var(--color-dark-blue);
    }

    #headers, .desktop-header, .mobile-header, .header-home-image, .header-detail-image, .content-title, .facts-container, .quotes,
    .content-images, .content-dark-copy, .booking-link-grid, .citations-container, .content-dark-list,
    .two-col-container, .consult-menu-block, .menu-desktop, .menu-mobile, .charges-grid, .testimonials-grid, #footers  {
        display: none;
    }

}


