@media print {

    /*A4 paper is 8.27 inches by 11.69 inches */
    @page {
        @page {
            size: a4;
            margin: 8.5mm 0;
            padding: 0
        }

        @page :first{
            size: a4;
            margin: 0;
            padding: 0
        }
    }

    .print-form-caregiver-consult-component, .print-form-patient-consult-component, .print-form-planner-consult-component {
        display:block;
        float:left;
        width:95%;
        font-family: Calibri, Cambria, 'Arial', serif;
        margin-top:1em;
        color:#878787;
        position:relative;
    }

    .print-form-heading, .print-form-title, .print-form-prompt   {
        display:block;
        width:100%;
        float:left;
        font-family:var(--family-title);
        color:black;
    }

    .print-form-heading {
        font-size: 1.9em;
        font-weight: 700;
        margin:1em 0;
        line-height: 130%;
        text-align: center;
    }

    .print-form-title {
        padding-top:.5em;
        margin:.8em 0;
        font-size: 1.7em;
        text-align: left;
    }

    .print-form-prompt {
        padding:.5em 0 0 .5em;
        text-align: left;
        font-size: 1.4em;
        font-weight: 800;
        line-height:170%;
    }

    .print-form-response {
        display:block;
        float:left;
        width:95%;
        margin-left:5%;
        margin-right:5%;
        font-size: 1.4em;
        font-family:var(--family-copy);
        padding:.5em 0;
        line-height:160%;
        font-style: italic;
    }

    .print-form-inline-data {
        display:inline-grid;
        float:left;
        grid-template-columns: 40% 60%;
        width:100%;
        padding:1em 0;
    }

    .print-form-inline-prompt, .print-form-inline-value {
        display:grid;
        font-size: 1.5em;
        line-height: 130%;
        width:100%;
        font-family:var(--family-copy);
    }

    .print-form-inline-prompt {
        grid-column: 1;
    }

    .print-form-inline-value {
        grid-column: 2;
        border-bottom:thin solid black;
    }

    .print-form-inline-line {
        display:grid;
        grid-column: 2;
        border-bottom: 1px solid black;
    }

    .print-form-first-col {
        width: 25%;
        padding:.5em 0;
        border-right:thin solid #878787;
    }

    .print-form-second-col {
        width: 75%;
        padding:.5em 0;
    }

    .print-form-disclaimer-block {
        display:block;
        float:left;
        max-width: var(--content-width);
        font-size: 1em;
        width: 100%;
        color:black;
        margin:auto;
    }

    .print-form-disclaimer-title {
        padding-top:.5em;
        margin:.8em 0;
        font-size: 1.7em;
        text-align: left;
        font-family:var(--family-title);
    }

    .print-form-disclaimer-text {
        font-size: 1em;
        font-family: var(--family-copy);
        border: #878787 dashed 1px;
        padding:1em;
    }

    .print-form-copyright {
        /*border-top: #878787 solid 1px;*/
        display:grid;
        width: 100%;
        float:left;
        margin-top:5em;
        text-align: center;
        align-content: flex-end;
        justify-content: center;
    }

    .print-form-copyright p {
        font-size: 1.8em;
        color:black;
        font-family:var(--family-copy);
        font-weight:bold;
    }

    /* CLIENT SIGNATURE AND DATE */
    .print-form-signature-block {
        display:inline-grid;
        width:80%;
        float:left;
        margin-left:10%;
        margin-right:10%;
        margin-top:2em;
        grid-template-columns: 20% 80%;
        height:100%;

    }

    /* form-date-label = Date: form-date-value = Default Date spans 2 cols
       form-signature-label = Signature: form-signature-line  = Line col2 and form-print-button = col 3 */
    .print-form-date-label, .print-form-date-value, .print-form-signature-label, .print-form-signature-line {
        display:grid;
        width:100%;
        font-family: var(--family-copy);
        color: var(--color-dark-blue);
    }

    .print-form-date-label, .print-form-signature-label {
        grid-column:1;
        font-size:1.3em;
        padding-top:1em;
        align-content: flex-end;
    }

    .print-form-date-value, .print-form-signature-value  {
        margin-top:1em;
        padding:1em 0 0 0;
        grid-column:2;
        font-size:1.3em;

    }



    #headers, .desktop-header, .mobile-header, .header-home-image, .header-detail-image, .content-title, .facts-container, .quotes,
    .content-images, .content-dark-copy, .booking-link-grid, .citations-container, .content-dark-list,
    .two-col-container, .two-col-backgrnd-container, .consult-menu-block, .charges-grid, .testimonials-grid, #footers  {
        display: none;
    }

}


