
/**********************************************************************************************************
    GLOBAL PRINT REPORTS
***********************************************************************************************************/

@media print {
    /*A4 paper is 8.27 inches by 11.69 inches */
    @page {
        @page {
            size: a4;
            margin: 8.5mm 0;
            padding: 0
        }

        @page :first{
            size: a4;
            margin: 0;
            padding: 0
        }
    }

    /* USED BY ALL */
    .print-block {
        display:block;
        float:left;
        width:95%;
        margin-top:1em;
        font-family:var(--family-forms);
        color:black;
        text-align: left;
    }

    /* USED BY ALL */
    /* HEADER w LOGO and HEADINGS for all print reports */
    .print-header {
        display: inline-grid;
        max-width: var(--print-width);
        height:250px;
        margin: auto;
        align-content: center;
        grid-template-columns: 40% 60%;
        width: 100%;
    }

    .print-header-logo {
        display: grid;
        grid-column: 1;
        width: 100%;
        justify-content: flex-start;
        align-content: center;
        height:250px;
        margin: auto;
    }

    .print-header-logo img {
        max-width: 100%;
        height: auto;
    }

     .print-header-text {
       display: grid;
       grid-column: 2;
       width: 100%;
       justify-content: flex-end;
       align-content: center;
   }

    .print-header-text h1 {
        font-size: var(--form-main-title);
        font-weight: 300;
    }

    .print-header-text h2 {
        font-size: var(--form-sub-title);
        font-weight: 300;
    }

   /* print-modal-province
    used by REP, WISHES, PLAN */
    .print-form-province {
        display:block;
        float:left;
        width:100%;
        margin:auto;
        font-size: var(--form-main-title);
        padding-top:1em;
    }

  /* INTO THE REPORTS THEMSELVES HERE */
    /* USED BY ALL */
    .print-title   {
        display:block;
        float:left;
        width:100%;
    }

    /* USED BY ALL */
    .print-title h1  {
        font-size: var(--form-main-title);
        margin-top:.8em;
    }

    .print-title h2  {
        font-size: var(--form-sub-title);
        margin-top:.5em;
        font-weight:normal;
    }

    .print-title h3  {
        font-size: var(--form-last-title);
        margin-top:.5em;
    }

    .print-title h4  {
        font-size: var(--form-last-title);
        margin-top:.5em;
    }

    /* used by DEMOGRAPHIC, REPS, PLANS as 2 columns for prompt like NAME and value like Bailey etc */
    .print-inline-label-value {
        display:inline-grid;
        float:left;
        grid-template-columns: 40% 60%;
        width:100%;
        padding:1em 0;
    }

    .print-inline-label  {
        display:grid;
        grid-column: 1;
        font-size: var(--form-label-value);
        line-height: 130%;
        width:100%;
    }

    .print-inline-value {
        display:grid;
        grid-column: 2;
        font-size: var(--form-label-value);
        line-height: 130%;
        width:100%;
        border-bottom:thin solid black;
    }

    .print-inline-line {
        display:grid;
        grid-column: 2;
        border-bottom: 1px solid black;
    }

    /* used by CAREGIVER, FRAILTY, MEDICAL, PATIENT, PLANNER */
    .print-form-question   {
        display:block;
        float:left;
        width:100%;
        padding-top:.5em;
        font-size: var(--form-question);
        line-height:120%;
    }

    .print-form-response {
        display:block;
        float:left;
        width:90%;
        margin-left:5%;
        margin-right:5%;
        font-size: var(--form-list-items);
        padding:.4em 0;
        line-height:120%;
        font-style: italic;
    }

    /* Disclaimer only */
    .print-form-disclaimer-block {
        display:block;
        float:left;
        width: 100%;
        margin-top:1em;
    }

    .print-form-disclaimer h2 {
        padding-top:.5em;
        /*margin:.8em 0;*/
        font-size: var(--form-sub-title);
    }

    .print-form-disclaimer p {
        font-size: var(--form-p);
        border: #878787 dashed 1px;
        line-height: 130%;
    }

    .print-form-signature-block {
        display:inline-grid;
        width:80%;
        float:left;
        margin-left:10%;
        margin-right:10%;
        margin-top:2em;
        grid-template-columns: 20% 80%;
        height:100%;
    }

    .print-form-date-label, .print-form-date-value, .print-form-signature-label, .print-form-signature-line {
        display:grid;
        width:100%;
    }

    .print-form-date-label, .print-form-signature-label {
        grid-column:1;
        font-size:var(--form-p);
        padding-top:1em;
        align-content: flex-end;
        font-weight: normal;
    }

    .print-form-date-value, .print-form-signature-value  {
        margin-top:1em;
        padding:1em 0 0 0;
        grid-column:2;
        font-size:var(--form-p);
    }

    /* used by WISHES only */
    .print-form-wishes-question {
        display:block;
        float:left;
        width:100%;
    }

    .print-form-wishes-question h2 {
        margin-top:1em;
        font-size: var(--form-sub-title);
        font-weight: normal;
        line-height: 110%;
        padding-top:.7em;
    }

    .print-form-wishes-question p {
        display:block;
        font-size: var(--form-p);
        font-style: italic;
        line-height: 110%;
        padding:.3em 0 0 2em;
    }

    /* used by REPS and PLAN */
    .print-form-text-block {
        display:block;
        float:left;
        width:100%;
    }

    .print-form-text-block p {
        font-size: var(--form-p);
        text-align: left;
        line-height:130%;
    }

    .print-form-text-block span {
        font-size: var(--form-span);
        line-height:130%;
    }

    /* used by PLAN */
    .print-form-list-block {
        display:block;
        float:left;
        width:90%;
        margin-left: 5%;
        margin-right:5%;
    }

    .print-form-list-item     {
        padding-top:.2em;
        font-size:var(--form-list-items);
        line-height: 120%;
    }

    .print-form-instructions {
        display:block;
        float:left;
        width:90%;
        margin-right:5%;
        margin-left:5%;
    }

    .print-form-instructions p {
        font-size:var(--form-p);
        font-style: italic;
        line-height: 120%;
        /*padding:1em 0;*/
    }

    .print-form-copyright {
        display:grid;
        width: 100%;
        float:left;
        margin-top:5em;
        text-align: center;
        align-content: flex-end;
        justify-content: center;
    }

    .print-form-copyright p {
        font-size: var(--p-laptop);
        color:black;
        font-family:var(--family-copy);
        font-weight:bold;
    }

    #headers, .desktop-header, .mobile-header, .header-home-image, .header-detail-image, .content-title, .home-facts-container, .detail-quote,
    .content-images, .content-copy, .booking-link-grid, .citations-container, .content-list, .header-quote, .header-author,
    .about-us-container, .wizard-intro-container, .consult-menu-block, .charges-grid, .testimonials-grid, #footers  {
        display: none;
    }

}