
/*******************************************************************************************************************
  GLOBAL   IPADS, LAPTOPS, DESKTOPS AND UP (over 900 so don't need to have space on either side of content)
*******************************************************************************************************************/
@media only screen
and (min-width:1024px)    {

    .wizard-modal-header-mobile {
        display:none;
    }

    .wizard-modal-header-desktop {
        display:block;
    }

    .wizard-modal-header {
        display: inline-grid;
        height:250px;
        grid-template-columns: 30% 70%;
        width:var(--desktop-dialog-header-width);
        margin:auto;
    }

    .wizard-modal-logo {
        display:grid;
        grid-column:1;
    }

    .wizard-modal-text {
        display:grid;
        grid-column:2;
        justify-content: center;
        align-content: center;
    }

    .wizard-modal-text h2 {
        font-size: var(--h2-titles-desktop-font-size);
    }

    /* FRAMEWORK */
    /* ********************************** MAKE WISHES **************************** */
    mat-dialog-container#make-wishes-modal {
        width:var(--desktop-dialog-width);
    }

    .screen-modal-inner-block-wishes {
        background-color: gold;
        height:460px;
    }

    .screen-modal-data-block-wishes {
        height:inherit;
        background-color: darkseagreen;
    }

    /* ********************************** ADVANCE DIRECTIVE **************************** */
    /*BLUE BORDER (width defined in ts file or parent overview */
    mat-dialog-container#advance-directive-modal {
        width:var(--desktop-dialog-width);
    }

    .screen-modal-inner-block-plan {
        height:620px;
        background-color: gold;
    }

    .screen-modal-data-block-plan {
        height:inherit;
        background-color: darkseagreen;
    }

    /* ********************************** CHOOSE REPS **************************** */
    mat-dialog-container#choose-rep-nine-modal {
        width:var(--desktop-dialog-width);
    }

    .screen-modal-inner-block-rep {
        background-color: gold;
        height:620px;
    }

    .screen-modal-data-block-rep {
        height:inherit;
        background-color: darkseagreen;
    }

    /* **************** GRIDS ******************* */
    .screen-modal-twenty-eighty-cols-block {
        display: inline-grid;
        grid-template-columns: 20% 80%;
    }

    .screen-modal-forty-sixty-cols-block {
        display: inline-grid;
        grid-template-columns: 40% 60%;
    }

    .screen-modal-three-thirty-cols-block {
        display: inline-grid;
        grid-template-columns: 33% 33% 34%;
    }

    .screen-modal-two-fifty-cols-block {
        display: inline-grid;
        grid-template-columns: 50% 50%;
    }

    .screen-modal-two-buttons-row {
        grid-template-columns: repeat(2, 110px);
        grid-column-gap: 10px;
    }

    .screen-modal-three-buttons-row {
        grid-template-columns: repeat(3, 110px);
        grid-column-gap: 10px;
    }

    .screen-modal-start-button, .screen-modal-cancel-start-button, .screen-modal-next-button, .screen-modal-previous-button,
    .screen-modal-cancel-button, .screen-modal-print-button, .screen-modal-cancel-print-button {
        font-size: var(--med-copy-desktop-font-size);
        height: 50px;
        width: 110px;
    }

    .screen-modal-start-button, .screen-modal-next-button, .screen-modal-print-button {
        grid-column: 1;
    }

    .screen-modal-cancel-start-button, .screen-modal-previous-button {
        grid-column: 2;
    }

    .screen-modal-cancel-button {
        grid-column: 3;
    }

    .screen-modal-first-col  {
        display:grid;
        grid-column: 1;
    }

    .screen-modal-second-col {
        display:grid;
        grid-column: 2;
    }

    .screen-modal-third-col {
        display:grid;
        grid-column: 3;
    }

    /* CONTENT */
    .screen-modal-title h2, .screen-modal-title h3 {
        padding-top:1em;
    }

    .screen-modal-title h2 {
        font-size: var(--h2-titles-desktop-font-size);
        text-align: left;
    }

    .screen-modal-title h3  {
        text-align: left;
        font-size: var(--h3-titles-desktop-font-size);
    }

    .question-number {
        margin-top:1em;
        font-size:var(--biggest-copy-desktop-font-size);
    }

    .question-text {
        padding:1em;
        font-size:var(--big-copy-desktop-font-size);
    }

    .answer-block {
        font-size:var(--med-copy-desktop-font-size);
    }

    .screen-modal-error-message {
        font-size: var(--med-copy-desktop-font-size);
    }

    .screen-modal-copy p  {
        font-size: var(--med-copy-desktop-font-size);
        line-height:var(--copy-line-height);
        border:thin solid green;
        padding-top:1em;
    }

    .screen-modal-copy span  {
        font-size: var(--small-copy-desktop-font-size);
        line-height:var(--copy-line-height);
    }

    .screen-modal-list-item {
        padding-top: 1em;
        font-size: var(--med-copy-desktop-font-size);
    }

    .screen-modal-full-col-block p {
        padding-top: 1em;
        font-size: var(--big-copy-desktop-font-size);
    }

    .screen-modal-full-col-block span {
        padding:1em 0;
        font-size: var(--big-copy-desktop-font-size);
    }

    .screen-modal-first-radio-col, .screen-modal-second-radio-col, .screen-modal-first-check-col, .screen-modal-second-check-col {
        font-size: var(--med-copy-desktop-font-size);
    }

    .screen-modal-first-radio-col, .screen-modal-first-check-col {
        grid-column: 1;
        padding: 1em 0;
        line-height: 110%;
    }

    .screen-modal-second-radio-col, .screen-modal-second-check-col  {
        grid-column: 2;
        padding: 1em 0;
        line-height: 110%;
    }

    .screen-modal-first-col, .screen-modal-second-col, .screen-modal-third-col, .screen-modal-full-col {
        padding: .4em 0;
        font-size: var(--big-copy-desktop-font-size);
    }

}