/*******************************************************************************************************************
   GLOBAL BANANAS- MOBILES AND SMALL TABLETS - under 900 (content) width so need 10% space on either side of content
*******************************************************************************************************************/
/*@media only screen
and (min-width: 240px)
and (max-width: 896px) {




}*/



/*  BANANA   *******************************************************************************************/
@media only screen
and (min-width: 240px)
and (max-width: 320px) {




}

/*  MOBILES **************************************************************************************************/
@media only screen
and (min-width: 360px)
and (max-width: 414px) {




}

/*  TABLETS  *******************************************************************************************/
@media only screen
and (min-width: 600px)
and (max-width: 800px) {



}

/* IPADS PORTRAIT ****************************************************************************************************/
@media only screen
    and (min-width: 1024px)
    and (max-width:1366px)
    and (orientation: portrait) {


    .screen-modal-title h2 {
        font-size: var(--h2-titles-ipad-font-size);
    }

    .screen-modal-title h3  {
        font-size: var(--h3-titles-ipad-font-size);
    }

    .screen-modal-copy p  {
        font-size: var(--med-copy-ipad-font-size);
        line-height:var(--copy-line-height);
    }

    .screen-modal-copy span  {
        font-size: var(--small-copy-ipad-font-size);
        line-height:var(--copy-line-height);
    }

    .screen-modal-full-col-block p {
        font-size: var(--big-copy-ipad-font-size);
    }

    .screen-modal-full-col-block span {
        font-size: var(--big-copy-ipad-font-size);
    }

    .screen-modal-for-loop-row {
        font-size: var(--med-copy-ipad-font-size);
    }

    .screen-modal-first-col, .screen-modal-second-col, .screen-modal-third-col, .screen-modal-first-radio-col,
    .screen-modal-second-radio-col, .screen-modal-first-check-col, .screen-modal-second-check-col {
        font-size: var(--med-copy-ipad-font-size);
    }

    .screen-modal-small-list-item {
        font-size: var(--small-copy-ipad-font-size);
    }

    .screen-modal-med-list-item {
        font-size: var(--med-copy-ipad-font-size);
    }

    .screen-modal-first-radio-col, .screen-modal-first-check-col, .screen-modal-second-radio-col, .screen-modal-second-check-col {
        font-size: var(--small-copy-ipad-font-size);
    }

}

/* IPADS LANDSCAPE ****************************************************************************************************/
@media only screen
and (min-width: 1024px)
and (max-width:1366px)
and (orientation: landscape) {

    .screen-modal-title h2 {
        font-size: var(--h2-titles-desktop-font-size);
    }

    .screen-modal-title h3  {
        font-size: var(--h3-titles-desktop-font-size);
    }

    .screen-modal-copy p  {
        font-size: var(--med-copy-desktop-font-size);
        line-height:var(--copy-line-height);
    }

    .screen-modal-copy span  {
        font-size: var(--small-copy-desktop-font-size);
        line-height:var(--copy-line-height);
    }

    .screen-modal-small-list-item {
        padding-top: .5em;
        font-size: var(--small-copy-desktop-font-size);
    }

    .screen-modal-med-list-item {
        padding-top: 1em;
        font-size: var(--med-copy-desktop-font-size);
    }

    .screen-modal-full-col-block p {
        padding-top: 1em;
        font-size: var(--big-copy-desktop-font-size);
    }

    .screen-modal-full-col-block span {
        padding:1em;
        font-size: var(--big-copy-desktop-font-size);
    }

    .screen-modal-for-loop-row {
        font-size: var(--med-copy-desktop-font-size);
    }

    .screen-modal-first-col, .screen-modal-second-col, .screen-modal-third-col, .screen-modal-first-radio-col,
    .screen-modal-second-radio-col, .screen-modal-first-check-col, .screen-modal-second-check-col {
        font-size: var(--med-copy-desktop-font-size);
    }

  /*  .screen-modal-first-radio-col, .screen-modal-second-radio-col {
        font-size: var(--small-copy-desktop-font-size);
    }*/

}

/* LAPTOPS AND UP ****************************************************************************************************/
@media only screen
and (min-width: 1440px) {

    .screen-modal-title h2 {
        font-size: var(--h2-titles-desktop-font-size);
    }

    .screen-modal-title h3  {
        font-size: var(--h3-titles-desktop-font-size);
    }

    .screen-modal-copy p  {
        font-size: var(--med-copy-desktop-font-size);
        line-height:var(--copy-line-height);
    }

    .screen-modal-copy span  {
        font-size: var(--small-copy-desktop-font-size);
        line-height:var(--copy-line-height);
    }

    .screen-modal-small-list-item {
        padding-top: .5em;
        font-size: var(--small-copy-desktop-font-size);
    }

    .screen-modal-med-list-item {
        padding-top: 1em;
        font-size: var(--med-copy-desktop-font-size);
    }

    .screen-modal-full-col-block p {
        padding-top: 1em;
        font-size: var(--big-copy-desktop-font-size);
    }

    .screen-modal-full-col-block span {
        padding:1em;
        font-size: var(--big-copy-desktop-font-size);
    }

    .screen-modal-first-col, .screen-modal-second-col, .screen-modal-third-col, .screen-modal-first-radio-col,
    .screen-modal-second-radio-col, .screen-modal-first-check-col, .screen-modal-second-check-col {
        font-size: var(--med-copy-desktop-font-size);
    }

  /*  .screen-modal-first-radio-col, .screen-modal-first-check-col, .screen-modal-second-radio-col, .screen-modal-second-check-col {
        font-size: var(--small-copy-desktop-font-size);
    }*/

}

/* GLOBAL *************************************************************************************************************/
@media only screen {

    .screen-modal-title {
        display: grid;
        margin: auto;
        color: var(--color-dark-blue);
        font-weight: bold;
        font-family: var(--family-title);background-color: white;
    }

    .screen-modal-title h2, .screen-modal-title h3 {
        padding-top:1em;
    }

    .screen-modal-title h2 {
        text-align: left;
    }

    .screen-modal-title h3 {
        text-align: left;
    }

    .screen-modal-copy {
        display: grid;
        margin: auto;
        color: var(--color-dark-blue);
        font-family: var(--family-copy);
        background-color: white;
    }

    .screen-modal-small-list-item, .screen-modal-med-list-item {
        list-style: square inside;
    }

    .screen-modal-full-col-block p {
        line-height: 105%;
        font-family: var(--family-copy);
        color: var(--color-dark-blue);
        font-weight: bold;
    }

    .screen-modal-full-col-block span {
        display: block;
    }

    .screen-modal-full-col-block textarea {
        display: grid;
        overflow-y: auto;
    }

    .screen-modal-for-loop-row  {
        display:block;
        width: 100%;
        float:left;
        font-family: var(--family-copy);
        color: var(--color-dark-blue);
        border: 1px dashed var(--color-dark-blue);
        text-align: left;
    }

    .screen-modal-error-message {
        font-weight: 800;
        color: var(--color-red);
        font-family: var(--family-copy);
        line-height: 110%;
        background-color: white;
    }

    .screen-modal-first-col, .screen-modal-second-col, .screen-modal-third-col,
    .screen-modal-first-radio-col, .screen-modal-second-radio-col,
    .screen-modal-first-check-col, .screen-modal-second-check-col,
    .screen-modal-small-list-item, .screen-modal-med-list-item,
    .screen-modal-full-col-block textarea, .screen-modal-full-col-block p, .screen-modal-full-col-block span  {
        /*display:block;*/
        width:100%;
        color: var(--color-dark-blue);
        font-family: var(--family-copy);
        text-align: left;
    }
}
