/*******************************************************************************************************************
  GLOBAL TABLETS
*******************************************************************************************************************/
@media only screen
and (min-width:600px)
and (max-width:800px)
and (orientation:landscape) {

    /* FRAMEWORK */
    /* ********************************** MAKE WISHES **************************** */
    /*BLUE BORDER */
    mat-dialog-container#make-wishes-modal {

        height: 900px;

    }

    .screen-modal-inner-block-wishes {
        background-color: mediumpurple;
        width:720px;
        height: 900px;
        align-content: flex-start;
    }

    .screen-modal-data-block-wishes {
        background-color: indigo;
        align-content: flex-start;
        height: inherit;
    }

    /* ********************************** ADVANCE DIRECTIVE **************************** */
    /*BLUE BORDER (width defined in ts file or parent overview */
    mat-dialog-container#advance-directive-modal {
        width: var(--desktop-dialog-width);
    }

    .screen-modal-inner-block-plan {
        height: 620px;
        background-color: mediumpurple;
    }

    .screen-modal-data-block-plan {
        height: inherit;
    }

    /* ********************************** CHOOSE REPS **************************** */
    mat-dialog-container#choose-rep-nine-modal {
        width:800px;
        height: 600px;
    }

    .screen-modal-inner-block-rep {
        /*overflow-y: auto;*/
        height: 400px;
    }

    .screen-modal-data-block-rep {
        height: inherit;
    }

    /* **************** GRIDS ******************* */
    .screen-modal-twenty-eighty-cols-block {
        display: inline-grid;
        grid-template-columns: 20% 80%;
    }

    .screen-modal-forty-sixty-cols-block {
        display: inline-grid;
        grid-template-columns: 40% 60%;
    }

    .screen-modal-three-thirty-cols-block {
        display: inline-grid;
        grid-template-columns: 33% 33% 34%;
    }

    .screen-modal-two-fifty-cols-block {
        display: inline-grid;
        grid-template-columns: 50% 50%;
    }

    .screen-modal-two-buttons-row {
        grid-template-columns: repeat(2, 95px);
        grid-column-gap: 5px;
    }

    .screen-modal-three-buttons-row {
        grid-template-columns: repeat(3, 95px);
        grid-column-gap: 5px;
    }

    .screen-modal-start-button, .screen-modal-cancel-start-button, .screen-modal-next-button, .screen-modal-previous-button,
    .screen-modal-cancel-button, .screen-modal-print-button, .screen-modal-cancel-print-button {
        font-size: var(--med-copy-desktop-font-size);
        height: 40px;
        width: 95px;
    }

    .screen-modal-start-button, .screen-modal-next-button, .screen-modal-print-button {
        grid-column: 1;
    }

    .screen-modal-cancel-start-button, .screen-modal-previous-button {
        grid-column: 2;
    }

    .screen-modal-cancel-button {
        grid-column: 3;
    }

    .screen-modal-first-col  {
        display:grid;
        grid-column: 1;
    }

    .screen-modal-second-col {
        display:grid;
        grid-column: 2;
    }

    .screen-modal-third-col {
        display:grid;
        grid-column: 3;
    }

    /* CONTENT */
    .screen-modal-title h2, .screen-modal-title h3 {
        padding-top:.1em;
        line-height:110%;
    }

    .screen-modal-title h2 {
        font-size: var(--h2-titles-tablet-font-size);
        text-align: left;
    }

    .screen-modal-title h3  {
        text-align: left;
        font-size: var(--h3-titles-tablet-font-size);
    }

    .screen-modal-error-message {
        font-size: var(--med-copy-tablet-font-size);
    }

    .screen-modal-copy p  {
        font-size: var(--med-copy-tablet-font-size);
        line-height:var(--copy-line-height);
        padding-top:.4em;
    }

    .screen-modal-copy span  {
        font-size: var(--small-copy-tablet-font-size);
        line-height:var(--copy-line-height);
    }

    .screen-modal-list-item {
        padding-top: .1em;
        font-size: var(--med-copy-tablet-font-size);
    }

    .screen-modal-full-col-block p {
        padding-top: .3em;
        font-size: var(--med-copy-tablet-font-size);
    }

    .screen-modal-full-col-block span {
        padding:.1em 0;
        font-size: var(--med-copy-tablet-font-size);
    }

    .screen-modal-first-radio-col, .screen-modal-second-radio-col, .screen-modal-first-check-col, .screen-modal-second-check-col {
        font-size: var(--med-copy-tablet-font-size);
    }

    .screen-modal-first-radio-col, .screen-modal-first-check-col {
        grid-column: 1;
        padding: .3em 0;
        line-height: 110%;
    }

    .screen-modal-second-radio-col, .screen-modal-second-check-col  {
        grid-column: 2;
        padding: .3em 0;
        line-height: 110%;
    }

    .screen-modal-first-col, .screen-modal-second-col, .screen-modal-third-col {
        padding: .1em 0;
        font-size: var(--med-copy-desktop-font-size);
    }

    .screen-modal-full-col {
        padding: .3em 0;
        font-size: var(--med-copy-desktop-font-size);
    }
}

/* GLOBAL *************************************************************************************************************/
@media only screen {




}
