
/* LAPTOPS AND UP ****************************************************************************************************/
    @media only screen
    and (min-width: 1440px) {

        .screen-modal-twenty-eighty-cols-block {
            display: inline-grid;
            grid-template-columns: 20% 80%;
        }

        .screen-modal-forty-sixty-cols-block {
            display: inline-grid;
            grid-template-columns: 40% 60%;
        }

        .screen-modal-three-thirty-cols-block {
            display: inline-grid;
            grid-template-columns: 33% 33% 34%;
        }

        .screen-modal-two-fifty-cols-block {
            display: inline-grid;
            grid-template-columns: 50% 50%;
        }

        .screen-modal-two-buttons-row {
            grid-template-columns: repeat(2, 110px);
            grid-column-gap: 10px;
        }

        .screen-modal-three-buttons-row {
            grid-template-columns: repeat(3, 110px);
            grid-column-gap: 10px;
        }

        .screen-modal-start-button, .screen-modal-cancel-start-button, .screen-modal-next-button, .screen-modal-previous-button,
        .screen-modal-cancel-button, .screen-modal-print-button, .screen-modal-cancel-print-button {
            font-size: var(--med-copy-desktop-font-size);
            height: 50px;
            width: 110px;
        }

        .screen-modal-start-button, .screen-modal-next-button, .screen-modal-print-button {
            grid-column: 1;
        }

        .screen-modal-cancel-start-button, .screen-modal-previous-button {
            grid-column: 2;
        }

        .screen-modal-cancel-button {
            grid-column: 3;
        }

        .screen-modal-for-loop-row {
            padding: 1em 0;
        }

        .screen-modal-first-col  {
            display:grid;
            grid-column: 1;
        }

        .screen-modal-second-col {
            display:grid;
            grid-column: 2;
        }

        .screen-modal-third-col {
            display:grid;
            grid-column: 3;
        }

        .screen-modal-full-col-radio {
            display: grid;
        }

        .screen-modal-first-radio-col, .screen-modal-second-radio-col {
            padding-top: 1em;
            margin-top: 1em;
        }

        .screen-modal-first-radio-col, .screen-modal-second-radio-col, .screen-modal-first-check-col, .screen-modal-second-check-col {
            /*display: inline;*/
        }

        .screen-modal-first-radio-col, .screen-modal-first-check-col {
            grid-column: 1;

        }

        .screen-modal-second-radio-col, .screen-modal-second-check-col {
            grid-column: 2;
        }

        .screen-modal-first-check-col, .screen-modal-second-check-col {
            line-height: 110%;
            padding: .5em 0;
        }

        .screen-modal-first-col, .screen-modal-second-col, screen-modal-third-col,
        .screen-modal-first-radio-col, .screen-modal-second-radio-col,
        .screen-modal-first-check-col, .screen-modal-second-check-col {
            padding-top: .6em;
        }

    }


/* GLOBAL ****************************************************************************************************/

    @media only screen {

        /* This wrapper contains the mat-dialog-containers below that are instantiated inside the overview ts files for each of them */
        #screen-modal-content-wrapper {
            width: var(--ipad-width);
            display: block;
            float: left;
            background-color: white;
        }

        mat-dialog-container#choose-rep-nine-modal,
        mat-dialog-container#make-wishes-modal,
        mat-dialog-container#advance-directive-modal {
            display: grid;
            width: 100%;
            align-content: flex-start;
            justify-content: center;
            border: 3px solid var(--color-dark-blue);
            border-radius: 2em;
            background-color: var(--color-dark-blue);
            overflow-y: hidden;
        }

        mat-dialog-container#advance-directive-modal {
            height: 930px;
        }

        mat-dialog-container#make-wishes-modal {
            height: 800px;
        }

        mat-dialog-container#choose-rep-nine-modal {
            height: 930px;
        }

        /* position relative here is essential to get the buttons to sit absolute at the bottom of each modal page */
        .screen-modal-inner-content-make-wishes, .screen-modal-inner-content-choose-rep, .screen-modal-inner-content-write-directive {
            display: block;
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
            background-color: orange;
            /*position: relative;*/
        }

        .screen-modal-inner-content-make-wishes {
            height: 470px;
        }

        .screen-modal-inner-content-choose-rep {
            height: 600px;
        }

        .screen-modal-inner-content-write-directive {
            height: 600px;
        }

        .screen-modal-inner-content {
            display: block;
            float: left;
            width: 100%;
            height: inherit;
            border: thick solid purple;
            position: relative;
            background-color: var(--color-grey);
        }

        .screen-modal-forty-sixty-cols-block, .screen-modal-three-thirty-cols-block, .screen-modal-full-col-block, .screen-modal-full-col-radio,
        .screen-modal-two-fifty-cols-block, .screen-modal-twenty-eighty-cols-block {
            width: 100%;
            text-align: left;
            background-color: white;
        }

        .screen-modal-two-buttons-row, .screen-modal-three-buttons-row {
            display: inline-grid;
            width: 100%;
            float: left;
            justify-content: flex-end;
            position: absolute;
            bottom: 1em;
        }

        .screen-modal-start-button, .screen-modal-cancel-start-button, .screen-modal-next-button, .screen-modal-previous-button,
        .screen-modal-cancel-button, .screen-modal-print-button, .screen-modal-cancel-print-button {
            display: inline;
            color: var(--color-white);
            background-color: var(--color-dark-blue);
            border-radius: 1em;
            text-align: center;
            align-content: center;
        }

        .screen-modal-error-message-block {
            display: block;
            float: left;
            width: 100%;
            background-color: white;
            text-align: left;
        }

        .screen-modal-full-col-list {
            display: block;
            margin-top: 0;
            background-color: white;
        }

        .screen-modal-first-radio-col, .screen-modal-second-radio-col, .screen-modal-first-check-col, .screen-modal-second-check-col {
            border: 1px dashed var(--color-dark-blue);
            width: 100%;
        }

}

