/*******************************************************************************************************************
  GLOBAL BANANAS- MOBILES, SMALL TABLETS - under 900 (content) width so need 10% space on either side of content
*******************************************************************************************************************/
@media only screen
and (min-width: 240px)
and (max-width: 896px)    {

    .screen-forms-mobile, .screen-forms-both {
        width:var(--media-less-than-content-width);
        display: block;
        margin:auto;
        border-left: thin solid var(--color-grey);
        border-right: thin solid var(--color-grey);
        border-bottom: thin solid var(--color-grey);
    }

    .screen-form-disclaimer-block {
        width:var(--media-less-than-content-width);
        max-width: var(--content-width);
    }

    .screen-forms-desktop {
        display: none;
    }

}

/*******************************************************************************************************************
  GLOBAL BIG TABLETS, IPADS, LAPTOPS, DESKTOPS (over 900 so don't need to have space on either side of content)
*******************************************************************************************************************/
@media only screen
and (min-width:960px)   {

    .screen-forms-mobile {
        display: none;
    }

    .screen-forms-desktop, .screen-forms-both  {
        display: block;
        width:var(--media-more-than-content-width);
        max-width: var(--content-width);
        margin:auto;
        border-left: thin solid var(--color-grey);
        border-right: thin solid var(--color-grey);
        border-bottom: thin solid var(--color-grey);
    }

    .screen-form-disclaimer-block {
        width:var(--media-more-than-content-width);
        max-width: var(--content-width);
    }

    .screen-form-print-button {
        width:110px;
        height:60px;
    }

}

/*  BANANA  *******************************************************************************************/
@media only screen
and (min-width: 240px)
and (max-width: 320px) {

    .screen-form-title {
        font-size: var(--med-copy-banana-font-size);
    }

    /* IN CONSULT MEDICAL, CAREGIVER-SUPPORT, MAKING PLAN, PATIENT-SUPPORT, CLIENT-SESSION, SESSION MEDICAL */
    .screen-form-one-full-col-block p   {
        font-size: var(--big-copy-banana-font-size);
        margin: 0;
        padding-left:1em;
    }

    .screen-form-one-full-col-block textarea {
        font-size: var(--big-copy-banana-font-size);
    }

    /* IN CONSULT MEDICAL, CAREGIVER-SUPPORT, MAKING PLAN, PATIENT-SUPPORT, SESSION MEDICAL */
    .screen-form-full-check-col, .screen-form-first-check-col, .screen-form-second-check-col, .screen-form-third-check-col   {
        font-size: var(--small-copy-banana-font-size);
    }

    .screen-form-full-radio-col   {
        font-size: var(--med-copy-banana-font-size);
    }

   /* .form-date-label, .form-date-value, .form-signature-label  {
        font-size: var(--big-copy-banana-font-size);
    }*/

    .screen-form-disclaimer-title {
        font-size: var(--big-copy-banana-font-size);
    }

    .screen-form-print-button   {
        font-size:var(--small-copy-banana-font-size);
        width:70px;
        height:40px;
    }
}

/* MOBILES  ****************************************************************************************************/
@media only screen
and (min-width: 360px)
and (max-width: 414px) {

    .screen-form-title {
        font-size: var(--med-copy-mobile-font-size);
    }

    /* IN CONSULT MEDICAL, CAREGIVER-SUPPORT, MAKING PLAN, PATIENT-SUPPORT, CLIENT-SESSION, SESSION MEDICAL */
    .screen-form-one-full-col-block p   {
        font-size: var(--big-copy-mobile-font-size);
        margin: 0 .25em 0 0;
    }

    .screen-form-one-full-col-block textarea  {
        font-size: var(--big-copy-mobile-font-size);
    }

    /* IN CONSULT MEDICAL, CAREGIVER-SUPPORT, MAKING PLAN, PATIENT-SUPPORT, SESSION MEDICAL */
    .screen-form-full-check-col, .screen-form-first-check-col, .screen-form-second-check-col, .screen-form-third-check-col   {
        font-size: var(--med-copy-mobile-font-size);
    }

    .screen-form-full-radio-col   {
        font-size: var(--med-copy-mobile-font-size);
    }

    .form-date-sig {
        font-size: var(--small-copy-mobile-font-size);
    }

  /*  .form-date-label, .form-date-value, .form-signature-label  {
        font-size: var(--big-copy-mobile-font-size);
    }*/

    .screen-form-disclaimer-title {
        font-size: var(--big-copy-mobile-font-size);
    }

    .screen-form-print-button {
        font-size:var(--small-copy-mobile-font-size);
        width:100px;
        height:50px;
    }
}


/*  TABLETS  *******************************************************************************************/
@media only screen
and (min-width: 600px)
and (max-width: 800px) {

    .screen-form-title {
        font-size: var(--med-copy-tablet-font-size);
    }

    /* IN CONSULT MEDICAL, CAREGIVER-SUPPORT, MAKING PLAN, PATIENT-SUPPORT, CLIENT-SESSION, SESSION MEDICAL */
    .screen-form-one-full-col-block p   {
        font-size: var(--big-copy-tablet-font-size);
        margin:.25em .25em .25em 0;
    }

    .screen-form-one-full-col-block textarea {
        font-size: var(--big-copy-tablet-font-size);
    }

    /* IN CONSULT MEDICAL, CAREGIVER-SUPPORT, MAKING PLAN, PATIENT-SUPPORT, SESSION MEDICAL */
    .screen-form-full-check-col, .screen-form-first-check-col, .screen-form-second-check-col, .screen-form-third-check-col   {
        font-size: var(--med-copy-tablet-font-size);
    }

    .screen-form-full-radio-col   {
        font-size: var(--med-copy-tablet-font-size);
    }

    .screen-form-disclaimer-title {
        font-size: var(--big-copy-tablet-font-size);
    }

    .screen-form-print-button {
        font-size:var(--small-copy-tablet-font-size);
        width:100px;
        height:50px;
    }
}

/* IPADS   ****************************************************************************************************/
@media only screen
and (min-width: 1024px)
and (max-width: 1366px) {

    .screen-form-title {
        font-size: var(--med-copy-ipad-font-size);
    }

    /* IN CONSULT MEDICAL, CAREGIVER-SUPPORT, MAKING PLAN, PATIENT-SUPPORT, CLIENT-SESSION, SESSION MEDICAL */
    .screen-form-one-full-col-block p   {
        font-size: var(--big-copy-ipad-font-size);
        margin:1em 0 .25em 0;
    }

    .screen-form-one-full-col-block textarea {
        font-size: var(--big-copy-ipad-font-size);
    }

    /* IN CONSULT MEDICAL, CAREGIVER-SUPPORT, MAKING PLAN, PATIENT-SUPPORT, CLIENT SESSION, SESSION MEDICAL */
    .screen-form-full-check-col, .screen-form-first-check-col, .screen-form-second-check-col, .screen-form-third-check-col   {
        font-size: var(--med-copy-ipad-font-size);
    }

    .screen-form-full-radio-col   {
        font-size: var(--med-copy-ipad-font-size);
    }

    .form-date-sig {
        font-size: var(--small-copy-ipad-font-size);
    }

  /*  .form-date-label, .form-date-value, .form-signature-label  {
        font-size: var(--big-copy-ipad-font-size);
    }*/

    .screen-form-disclaimer-title {
        font-size: var(--big-copy-ipad-font-size);
    }

    .screen-form-print-button {
        font-size:var(--small-copy-ipad-font-size);
    }
}

/*******************************************************************************************************************
  LAPTOPS
*******************************************************************************************************************/
@media only screen
and (min-width: 1440px)
and (max-width: 1919px) {

    .screen-form-title {
        font-size: var(--med-copy-laptop-font-size);
    }

    /* IN CONSULT MEDICAL, CAREGIVER-SUPPORT, MAKING PLAN, PATIENT-SUPPORT, CLIENT-SESSION, SESSION MEDICAL */
    .screen-form-one-full-col-block p   {
        font-size: var(--big-copy-laptop-font-size);
        margin:1em 0 .25em 0;
    }

    .screen-form-one-full-col-block textarea {
        font-size: var(--big-copy-laptop-font-size);
    }

    /* IN CONSULT MEDICAL, CAREGIVER-SUPPORT, MAKING PLAN, PATIENT-SUPPORT, CLIENT SESSION, SESSION MEDICAL */
    .screen-form-full-check-col, .screen-form-first-check-col,   .screen-form-second-check-col, .screen-form-third-check-col   {
        font-size: var(--med-copy-laptop-font-size);
    }

    .screen-form-full-radio-col   {
        font-size: var(--med-copy-laptop-font-size);
    }

   /* .form-date-label, .form-date-value, .form-signature-label  {
        font-size: var(--big-copy-laptop-font-size);
    }*/

    .screen-form-disclaimer-title {
        font-size: var(--big-copy-laptop-font-size);
    }

    .screen-form-print-button {
        font-size:var(--small-copy-laptop-font-size);
    }

}
/* DESKTOPS ****************************************************************************************************/
@media only screen
and (min-width: 1920px) {

    .screen-form-title {
        font-size: var(--med-copy-desktop-font-size);
    }

    /* IN CONSULT MEDICAL, CAREGIVER-SUPPORT, MAKING PLAN, PATIENT-SUPPORT, CLIENT-SESSION, SESSION MEDICAL */
    .screen-form-one-full-col-block p   {
        font-size: var(--big-copy-desktop-font-size);
        margin:1em 0 .25em 0;
    }

    .screen-form-one-full-col-block textarea {
        font-size: var(--big-copy-desktop-font-size);
    }

    /* IN CONSULT MEDICAL, CAREGIVER-SUPPORT, MAKING PLAN, PATIENT-SUPPORT, CLIENT SESSION, SESSION MEDICAL */
    .screen-form-full-check-col, .screen-form-first-check-col,   .screen-form-second-check-col, .screen-form-third-check-col   {
        font-size: var(--med-copy-desktop-font-size);
    }

    .screen-form-one-full-col-block radio  {
        font-size: var(--med-copy-desktop-font-size);
    }

   /* .form-date-label, .form-date-value, .form-signature-label  {
        font-size: var(--big-copy-desktop-font-size);
    }*/

    .screen-form-disclaimer-title {
        font-size: var(--big-copy-desktop-font-size);
    }

    .screen-form-print-button {
        font-size:var(--small-copy-desktop-font-size);
    }
}

/* GLOBAL *************************************************************************************************************/
@media only screen {

    /* for the dark background on all forms */
    .screen-form-title {
        display:grid;
        width:100%;
        height: 50px;
        font-family: var(--family-title);
        text-transform: uppercase;
        border: solid thin var(--color-soft-blue);
        letter-spacing: 3px;
        background-color: var(--color-dark-blue);
        color: var(--color-white);
        justify-content: center;
        align-content: center;
        text-align: center;
        line-height: 110%;
    }

    .screen-form-one-full-col-block {
        display: grid;
        width: 100%;
        line-height: 110%;
        padding-top:1em;
        font-family: var(--family-copy);
    }

    .screen-form-one-full-col-block p {
        padding-left:1em;
        font-style: italic;
        font-weight:800;
        text-align: left;
        color: var(--color-dark-blue);
    }

    .screen-form-one-full-col-block textarea {
        border-top:thin solid black;
        border-bottom:thin solid black;
        border-left:none;
        border-right:none;
        font-family: var(--family-copy);
        color: var(--color-dark-blue);
    }

    .screen-form-two-even-cols-block {
        width: 100%;
        display: inline-grid;
        grid-template-columns: 50% 50%;
    }

    .screen-form_three-even-cols-block {
        width: 100%;
        display: inline-grid;
        grid-template-columns: repeat(3, 33.3%);
    }

    .screen-form-full-check-col, .screen-form-first-check-col, .screen-form-second-check-col, .screen-form-third-check-col   {
        display:inline;
        border:1px dashed var(--color-dark-blue);
        margin-bottom:1em;
        text-align:left;
        line-height: 110%;
        padding:1em 0 1em 1em;
        font-family: var(--family-copy);
        color: var(--color-dark-blue);
    }

    .screen-form-full-check-col   {
        grid-column: 1/-1;
    }

     .screen-form-first-check-col   {
        grid-column: 1;
    }

      .screen-form-second-check-col {
        grid-column: 2;
    }

    .screen-form-third-check-col {
        grid-column: 3;
    }

    .screen-form-full-radio-col  {
        display:inline;
        font-family: var(--family-copy);
        color: var(--color-dark-blue);
        border:1px dashed var(--color-dark-blue);
        margin-bottom:1em;
        padding:1em;
        text-align:left;
        line-height: 110%;
        grid-column: 1/-1;
    }

    .screen-form-disclaimer-block {
        color:var(--color-dark-blue);
        display:block;
        margin:auto;
    }

    .screen-form-disclaimer-title {
        padding-top:.5em;
        margin:.8em 0;
        font-size: 1.7em;
        text-align: left;
        font-family:var(--family-title);
    }

    .screen-form-disclaimer-text {
        font-size: 1em;
        font-family: var(--family-copy);
        border: #878787 dashed 1px;
        padding:1em;
    }

    .screen-form-button-container {
        width:100%;
        justify-content: flex-end;
        display:grid;
        margin-top:2em;
    }

    .screen-form-print-button {
        display:grid;
        color: var(--color-white);
        letter-spacing: 1px;
        background-color: var(--color-dark-blue);
        border-radius: 1.0em;
        align-content: center;
        justify-content: center;
        padding: 1em 0;
    }


    @media screen {
        .print-modal-make-wish-list, .print-modal-choose-your-rep, .print-modal-write-advance-directive,
        .print-form-caregiver-consult-component, .print-form-patient-consult-component, .print-form-planner-consult-component

            {
                display:none;
            }
    }
}
