


/* GLOBAL ****************************************************************************************************/

    @media only screen {

        /* This is the main screen you see that has the blue border. Its height is defined by the content pages that lie within it */
        /* **************************** FRAMEWORKS **************************** */
        mat-dialog-container#choose-rep-nine-modal,
        mat-dialog-container#make-wishes-modal,
        mat-dialog-container#advance-directive-modal {
            display: grid;
            align-content: flex-start;
            justify-content: center;
            border: 3px solid var(--color-dark-blue);
            border-radius: 2em;
            background-color: var(--color-dark-blue);
            height: initial;
            overflow: initial;
        }

        /* position relative here is essential to get the buttons to sit absolute at the bottom of each modal page */
        .screen-modal-inner-block-rep, .screen-modal-inner-block-wishes, .screen-modal-inner-block-plan {
            display: block;
            float: left;
            min-width:100%;
            align-content: flex-start;
        }

        /* this is the parent to two and three buttons rows */
        .screen-modal-data-block-wishes, .screen-modal-data-block-rep, .screen-modal-data-block-plan {
            display:block;
            float:left;
            width:98%;
            position: relative;
            margin:0 1% 2em 1%;

        }

        /* **************************** WIZARD HEADER **************************** */
        .wizard-modal-header {
            font-family: var(--family-title);
            margin:auto;
            align-content: flex-start;
            background-color: white;
            border-bottom:thin solid purple;
        }

        .wizard-modal-logo {
            margin:auto;
            cursor:pointer;
        }

        .wizard-modal-logo img {
            max-width: 100%;
            height:auto;
        }

        .wizard-modal-text {
            color: var(--color-dark-blue);
        }

        .wizard-modal-text h2 a  {
            text-decoration: none;
            color: var(--color-dark-blue);
        }

        .wizard-modal-text h2 a:hover {
            color: var(--color-purple);
        }

        /* **************************** TITLES **************************** */
        .screen-modal-title {
            display: block;
            float:left;
            width:100%;
            font-weight: bold;
            font-family: var(--family-title);
            color: var(--color-dark-blue);
        }

        .screen-modal-title h2, .screen-modal-title h3 {
            text-align: left;
        }

        /* **************************** CONTENT **************************** */
        .question-number,  .question-text, .answer-block   {
            display:block;
            width:100%;
            float: left;
            color: var(--color-dark-blue);
            font-family: var(--family-copy);
            text-align: left;
        }

        .screen-modal-copy {
            display: grid;
            width:100%;
            /*background-color: white;*/
        }

        .screen-modal-full-col-block {
            display: block;
            float:left;
            width:100%;
            line-height: 105%;
        }

        .screen-modal-full-col-block p {
            line-height: 105%;
            font-weight: bold;
        }

        .screen-modal-full-col-block span {
            display: block;
            line-height: 105%;
        }

        .screen-modal-full-col-list {
            display: block;
            padding-left:2em;
            margin:0;
        }

        .screen-modal-list-item    {
            list-style: square inside;
        }

        .screen-modal-first-radio-col, .screen-modal-second-radio-col, .screen-modal-first-check-col, .screen-modal-second-check-col {
            border: 1px dashed var(--color-dark-blue);
            width: 100%;
        }

        .screen-modal-full-col, .text-area {
            display: block;
            float:left;
            width:100%;
            line-height: 105%;
        }

        .screen-modal-copy,  .screen-modal-full-col-block p,  .screen-modal-full-col-block span, .text-area,
        .screen-modal-full-col-list, .screen-modal-first-col, .screen-modal-list-item,
        .screen-modal-second-col, .screen-modal-third-col,
        .screen-modal-first-radio-col, .screen-modal-second-radio-col,  .screen-modal-full-col,
        .screen-modal-first-check-col, .screen-modal-second-check-col {
            color: var(--color-dark-blue);
            font-family: var(--family-copy);
            text-align: left;
        }

        /* **************************** GRIDS ********************************** */
        .screen-modal-forty-sixty-cols-block, .screen-modal-three-thirty-cols-block,
        .screen-modal-two-fifty-cols-block, .screen-modal-twenty-eighty-cols-block  {
            display: inline-grid;
            width:100%;
            text-align: left;
        }

        /* changed from inline-grid to grid as they were moving off the page to the right side of the screen */
        .screen-modal-two-buttons-row, .screen-modal-three-buttons-row {
            display: grid;
            width: 100%;
            background-color: red;
            justify-content: flex-end;
            position: absolute;
            bottom:.5em;
        }

        .screen-modal-start-button, .screen-modal-cancel-start-button, .screen-modal-next-button, .screen-modal-previous-button,
        .screen-modal-cancel-button, .screen-modal-print-button, .screen-modal-cancel-print-button {
            display: inline;
            color: var(--color-white);
            background-color: var(--color-dark-blue);
            border-radius: 1em;
            text-align: center;
            align-content: center;
        }

        /* ********************** ERROR ***********************/
        .screen-modal-error-message-block {
            display: block;
            width:100%;
            float: left;
            text-align: left;
        }

        .screen-modal-error-message {
            font-weight: 800;
            color: var(--color-red);
            font-family: var(--family-copy);
            line-height: 140%;
        }




}

