
/* ANGULAR 13.1.2 */
:root {


  --menu-speed: 0.75s;

  /* ******************************* FONT COLORS in use ********************************** */
  --overlay-color: rgba(244,239,251, 0.95);

  /* global colors */
  --color-light-purple:#b19cd9;
  --color-purple: #5d34a5;
  --color-dark-purple: #983096;
  --color-darkest-purple:#623061;
  --color-quotes-purple:#8773aa;

  --color-bright-blue:#a6c2dd;
  --color-lightest-blue:#9bb3da;
  --color-light-blue:#5b89d5;
  --color-dark-blue:#5a7d9f;
  --color-darkest-blue:#183552;
  --color-soft-blue:#bac9d5;

  --color-off-white:#f7efef;
  --color-white:#ffffff;

  --color-grey:#666161;
  --color-dark-grey: #878787;

  --color-lightest-pink:#fae8ed;
  --color-light-pink:#ffd1dc;
  --color-dark-pink:#d8699d;

  --color-gold:#ffd700;
  --color-light-gold:#f4c46c;
  --color-dark-gold:#f6bd54;
  --color-darkest-gold:#e09304;

  --color-brown:#4a3f29;
  --color-black:#362f32;

  --color-grey-purple:#656281;
  --color-orange:#f0ab26;

  --color-sub-menu:#a4b5d2;

  /* ******************************* DESKTOP HEADER-MENU ROW - ADDS UP TO 205 px *********************** */

  /* first row has 100 for Logo, Name and Slogans  */
  --logo-name-slogan-desktop-height:120px;
  /* second row is for the main menu */
  --menu-desktop-height:50px;
  /* third row is the sub menu */
  --sub-menu-desktop-height:40px;

  /* ******************************* MOBILE HEADER is 3 rows *******************************************/
  --mobile-top-header-height:120px;
  --mobile-middle-header-height:50px;
  --mobile-bottom-header-height:45px;

  /* ****************************** FONT SIZES ************************************ */
  /* HEADER NAME - TYPE MONUMENT */
  --family-header-name:'Monument-Valley';

  --header-name-banana-port-font-size:.9em;
  --header-name-banana-land-font-size:2.2em;
  --header-name-mobile-port-font-size:1.3em;
  --header-name-mobile-land-font-size:3.2em;
  --header-name-tablet-port-font-size:2.3em;
  --header-name-tablet-land-font-size:2.7em;
  --header-name-ipad-port-font-size:2.8em;
  --header-name-ipad-land-font-size:2.8em;
  --header-name-laptop-font-size:2.8em;
  --header-name-desktop-font-size:2.9em;

  /* HEADER SLOGAN - TYPE RENE */
  --family-header-copy:'ReneB-Book';

  --header-slogan-banana-port-font-size:.4em;
  --header-slogan-banana-land-font-size:.7em;
  --header-slogan-mobile-port-font-size:.5em;
  --header-slogan-mobile-land-font-size:.8em;
  --header-slogan-tablet-port-font-size:.7em;
  --header-slogan-tablet-land-font-size:.9em;
  --header-slogan-ipad-port-font-size:.9em;
  --header-slogan-ipad-land-font-size:.95em;
  --header-slogan-laptop-font-size:1em;
  --header-slogan-desktop-font-size:1.1em;

  /* HEADER MENU ITEMS - TYPE RENE */
  --menu-item-tablet-land-font-size:.7em;
  --menu-item-ipad-land-font-size:.8em;
  --menu-item-laptop-font-size:.9em;
  --menu-item-desktop-font-size:.9em;

  --sub-menu-item-tablet-land-font-size:.6em;
  --sub-menu-item-ipad-land-font-size:.7em;
  --sub-menu-item-laptop-font-size:.8em;
  --sub-menu-item-desktop-font-size:.8em;

  /* ALL COPY AND LISTS USE OPEN SANS */
  --family-copy: 'Open Sans';

  --smallest-copy-banana-port-font-size:.6em;
  --smallest-copy-banana-land-font-size:.7em;
  --smallest-copy-mobile-port-font-size:.7em;
  --smallest-copy-mobile-land-font-size:.8em;
  --smallest-copy-tablet-port-font-size:.6em;
  --smallest-copy-tablet-land-font-size:.7em;
  --smallest-copy-ipad-port-font-size:.8em;
  --smallest-copy-ipad-land-font-size:0.8em;
  --smallest-copy-desktop-font-size:0.9em;

  --small-copy-banana-port-font-size:.6em;
  --small-copy-banana-land-font-size:.7em;
  --small-copy-mobile-port-font-size:.7em;
  --small-copy-mobile-land-font-size:.8em;
  --small-copy-tablet-port-font-size:.8em;
  --small-copy-tablet-land-font-size:.9em;
  --small-copy-ipad-port-font-size:.9em;
  --small-copy-ipad-land-font-size:1.0em;
  --small-copy-desktop-font-size:1.1em;

  /* MEDIUM */
  --med-copy-banana-port-font-size:.7em;
  --med-copy-banana-land-font-size:.8em;
  --med-copy-mobile-port-font-size:.8em;
  --med-copy-mobile-land-font-size:.9em;
  --med-copy-tablet-port-font-size:.9em;
  --med-copy-tablet-land-font-size:1em;
  --med-copy-ipad-port-font-size:1em;
  --med-copy-ipad-land-font-size:1.1em;
  --med-copy-desktop-font-size:1.2em;

  /* BIG not yet used */
  --big-copy-banana-port-font-size:.8em;
  --big-copy-banana-land-font-size:.9em;
  --big-copy-mobile-port-font-size:.9em;
  --big-copy-mobile-land-font-size:1em;
  --big-copy-tablet-port-font-size:1.0em;
  --big-copy-tablet-land-font-size:1.1em;
  --big-copy-ipad-port-font-size:1.1em;
  --big-copy-ipad-land-font-size:1.2em;
  --big-copy-desktop-font-size:1.3em;

  /* FOR FORM DATA - USES MALGUN GOTHIC */
  --family-forms:'malgun gothic';         /*  */

  --forms-med-banana-port-font-size:.6em;
  --forms-med-banana-land-font-size:.8em;
  --forms-med-mobile-port-font-size:.7em;
  --forms-med-mobile-land-font-size:.8em;
  --forms-med-tablet-port-font-size:.8em;
  --forms-med-tablet-land-font-size:.9em;
  --forms-med-ipad-port-font-size:.9em;
  --forms-med-ipad-land-font-size:1em;
  --forms-med-desktop-font-size:1.1em;

  --forms-big-banana-port-font-size:.7em;
  --forms-big-banana-land-font-size:.9em;
  --forms-big-mobile-port-font-size:.8em;
  --forms-big-mobile-land-font-size:.9em;
  --forms-big-tablet-port-font-size:.9em;
  --forms-big-tablet-land-font-size:1em;
  --forms-big-ipad-port-font-size:1em;
  --forms-big-ipad-land-font-size:1.1em;
  --forms-big-desktop-font-size:1.2em;

  /* ALL QUOTES - USES FAMILY QUOTES */
  --family-quotes:Monotype Corsiva;

  --big-quote-banana-port-font-size:.6em;
  --big-quote-banana-land-font-size:.8em;
  --big-quote-mobile-port-font-size:.9em;
  --big-quote-mobile-land-font-size:1.1em;
  --big-quote-tablet-port-font-size:1.2em;
  --big-quote-tablet-land-font-size:1.5em;
  --big-quote-ipad-port-font-size:1.5em;
  --big-quote-ipad-land-font-size:1.6em;
  --big-quote-desktop-font-size:1.7em;

  --small-quote-banana-port-font-size:.3em;
  --small-quote-banana-land-font-size:.5em;
  --small-quote-mobile-port-font-size:.6em;
  --small-quote-mobile-land-font-size:0.8em;
  --small-quote-tablet-port-font-size:0.9em;
  --small-quote-tablet-land-font-size:1.2em;
  --small-quote-ipad-port-font-size:1.2em;
  --small-quote-ipad-land-font-size:1.3em;
  --small-quote-desktop-font-size:1.4em;

  /* *********************************** ALL HEADINGS - USE WHITNEY BOOK ************************************* */
  --family-headers: 'Whitney-Book';
  /* H1 */
  --h1-banana-port-font-size:.8em;
  --h1-banana-land-font-size:1.5em;
  --h1-mobile-port-font-size:1.1em;
  --h1-mobile-land-font-size:1.6em;
  --h1-tablet-port-font-size:1.4em;
  --h1-tablet-land-font-size:1.7em;
  --h1-ipad-port-font-size:1.6em;
  --h1-ipad-land-font-size:1.8em;
  --h1-desktop-font-size:1.9em;

  /* H2 */
  --h2-banana-port-font-size:.7em;
  --h2-banana-land-font-size:1.2em;
  --h2-mobile-port-font-size:1.0em;
  --h2-mobile-land-font-size:1.3em;
  --h2-tablet-port-font-size:1.1em;
  --h2-tablet-land-font-size:1.2em;
  --h2-ipad-port-font-size:1.3em;
  --h2-ipad-land-font-size:1.5em;
  --h2-desktop-font-size:1.6em;

  /* H3 */
  --h3-banana-port-font-size:.6em;
  --h3-banana-land-font-size:1.1em;
  --h3-mobile-port-font-size:.9em;
  --h3-mobile-land-font-size:1.2em;
  --h3-tablet-port-font-size:1em;
  --h3-tablet-land-font-size:1.1em;
  --h3-ipad-port-font-size:1.2em;
  --h3-ipad-land-font-size:1.4em;
  --h3-desktop-font-size:1.5em;

  /* H4 */
  --h4-banana-port-font-size:.5em;
  --h4-banana-land-font-size:1em;
  --h4-mobile-port-font-size:.8em;
  --h4-mobile-land-font-size:1.1em;
  --h4-tablet-port-font-size:.9em;
  --h4-tablet-land-font-size:1em;
  --h4-ipad-port-font-size:1.1em;
  --h4-ipad-land-font-size:1.3em;
  --h4-desktop-font-size:1.4em;

  /* FORM MENU ITEMS */
  --form-menu-banana-port-font-size:.6em;
  --form-menu-banana-land-font-size:1.1em;
  --form-menu-mobile-port-font-size:.9em;
  --form-menu-mobile-land-font-size:1.2em;
  --form-menu-tablet-port-font-size:1.0em;
  --form-menu-tablet-land-font-size:1.1em;
  --form-menu-ipad-port-font-size:1.2em;
  --form-menu-ipad-land-font-size:1.4em;
  --form-menu-desktop-font-size:1.5em;

  --form-menu-item-banana-port-font-size:.5em;
  --form-menu-item-banana-land-font-size:1.0em;
  --form-menu-item-mobile-port-font-size:.8em;
  --form-menu-item-mobile-land-font-size:1.1em;
  --form-menu-item-tablet-port-font-size:0.9em;
  --form-menu-item-tablet-land-font-size:1.0em;
  --form-menu-item-ipad-port-font-size:1.1em;
  --form-menu-item-ipad-land-font-size:1.3em;
  --form-menu-item-desktop-font-size:1.4em;

  --citations:.7em;
  --mobile-citations:.5em;
  --signatures:.8em;

  /* *********************************************** LINE HEIGHTS *****************************************************/
  --copy-line-height:170%;
  --list-item-line-height:180%;
  --list-wide-item-line-height:200%;
  --list-item-basic-line-height:100%;
  --quote-p-line-height:130%;
  --quote-span-line-height:100%;

}

/* GLOBAL  ***********************************************************************************************************/

@media only screen {

  /* constant widths */
  html, body {
    max-width:1920px;
    margin:auto;
  }

  /*the headers, footers and container fill the maximum width of 1920  */
  #headers, #footers, #container {
    display: block;
    float: left;
    width:100%;
    max-width:1920px;
    margin:auto;
  }

  /* LIST FORMATS */
  .with-circle {
    list-style-type: circle;
    list-style-position: inside;
  }

  .with-disc {
    list-style-type: disc;
    list-style-position: inside;
  }

  .no-style {
    list-style: none;
    font-size:1em;
  }

  /* CURSORS */
  .cursorPointer {
    cursor: pointer;
  }

  .cursorText {
    cursor: none;
  }

  /* LINKS */
  .anchored {
    cursor: pointer;
    text-decoration: underline;
  }

  .selected {
    cursor: default;
  }

  .selected-action {
    cursor: default;
    font-weight:900;
    font-style: italic;
  }

  .text-center {
    text-align: center;
  }

  .text-left {
    text-align: left;
  }

  /* GRID ALIGN VERTICALLY */
  .align-content-center {
    align-content: center;
  }

  .align-content-top {
    align-content: flex-start;
  }

  .align-content-bottom {
    align-content: flex-end;
  }

  /* GRID JUSTIFY HORIZONTALLY */
  .justify-content-center {
    justify-content: center;
  }

  .justify-content-start {
    justify-content: flex-start;
  }

  .justify-content-end {
    justify-content: flex-end;
  }

  /* BORDERS */
  .no-border {
    border: none;
  }

  .with-colored-border {
    border: thin solid  var(--color-soft-blue);
  }

  .with-dark-border {
    border: thin solid  var(--color-dark-blue);
  }

  .top-colored-border {
    border-top: thin solid var(--color-soft-blue);
  }

  .bottom-colored-border {
    border-bottom: thin solid var(--color-soft-blue);
  }

  .right-colored-border {
    border-right: thin solid var(--color-soft-blue);
  }

  .right-colored-dashed-border {
    border-right: thin dashed var(--color-soft-blue);
  }

  .left-colored-border {
    border-left: thin solid var(--color-soft-blue);
  }

  .with-white-border {
    border: thin solid var(--color-off-white);
  }

  .top-white-border {
    border-top: thin solid var(--color-off-white);
  }

  .bottom-white-border {
    border-bottom: thin solid var(--color-off-white);
  }

  .right-white-border {
    border-right: 1px solid var(--color-off-white);
  }

  .left-white-border {
    border-left: 1px solid var(--color-off-white);
  }

  .border-radius-left-only {
    border-top-left-radius: 3em;
  }

  .bold-light {
    font-weight:600;
  }

  .bold-medium {
    font-weight:700;
  }

  .bold-dark {
    font-weight:550;
  }

  .justify-text {
    text-align: justify;
  }

  .right-text {
    text-align: right;
  }

  /* COLORS */
  .color-white {
    color:#ffffff;
  }

  .color-dark-purple {
    color:var(--color-dark-purple);
  }

  .color-gold {
    color:var(--color-dark-gold);
  }

  .background-blue {
    background-color: #5b89d5;
  }

  .background-white {
    background-color: #ffffff;
  }

  .background-dark-blue {
    background-color: #5a7d9f;
  }

  .background-dark-purple {
    background-color: #623061;
  }

  /* WATER */
  /* Make sure these match the colors in the db */
  .backcolor-water-active {
    background: radial-gradient(circle at 100px 100px, #609eeb, #000);
  }

  .backcolor-water-selected {
    background: radial-gradient(circle at 100px 100px, #a6c2dd, #d4dee7);
  }

  /* WOOD */
  /* Make sure these match the colors in the db */
  .backcolor-wood-active {
    /*background: radial-gradient(#91c271, #000);*/
    background: radial-gradient(circle at 100px 100px, #91c271, #000);
  }

  .backcolor-wood-selected {
    /*background: radial-gradient(#70a34e, #000);*/
    background: radial-gradient(circle at 100px 100px, #70a34e, #000);
  }

  /* FIRE */
  .backcolor-fire-active {
      background: radial-gradient(circle at 100px 100px,#d38180, #000);
  }

  .backcolor-fire-selected {
    background: radial-gradient(circle at 100px 100px,#d35755, #000);
  }

  /* EARTH */
  /* Make sure these match the colors in the db */
  .backcolor-earth-active {
    background: radial-gradient(circle at 100px 100px,#ddba51, #000);
  }

  .backcolor-earth-selected {
    background: radial-gradient(circle at 100px 100px,#b8a466, #000);
  }

  /* METAL */
  /* Make sure these match the colors in the db 566169 */
  .backcolor-metal-active {
    background: radial-gradient(circle at 100px 100px,#dce0e2, #000);
  }

  .backcolor-metal-selected  {
    background: radial-gradient(circle at 100px 100px,#acafb1, #000);
  }

  .backcolor-metal-light  {
    background: radial-gradient(circle at 100px 100px,#d7dde1, #878787);
  }

  /* MARGINS */
  .no-margin {
    font-size: 0;
  }

  .margin-auto {
    margin: auto;
  }

  .margin-top, .margin-top-1 {
    margin-top: 1em;
  }

  .margin-top-2 {
    margin-top: 2em;
  }

  .margin-top-3 {
    margin-top: 3em;
  }

  .margin-top-6 {
    margin-top: 6em;
  }

  .margin-bottom-1 {
    margin-bottom: 1em;
  }

  .margin-bottom-2 {
    margin-bottom: 2em;
  }

  .margin-bottom-3 {
    margin-bottom: 3em;
  }

  .pad-all-1 {
    padding:1em;
  }

  .pad-all-2 {
    padding:2em;
  }

  .pad-all-3 {
    padding:3em;
  }

  .pad-top-1, .pad-top {
    padding-top: 1em;
  }

  .pad-top-2 {
    padding-top: 2em;
  }

  .pad-top-3 {
    padding-top: 3em;
  }

  .pad-top-6 {
    padding-top: 6em;
  }

  .pad-bottom-1, .pad-bottom {
    padding-bottom: 1em;
  }

  .pad-bottom-2 {
    padding-bottom: 2em;
  }

  .pad-bottom-3 {
    padding-bottom: 3em;
  }

  .pad-top-bottom-1 {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .pad-top-bottom-2 {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .pad-top-bottom-3 {
    padding-top: 3em;
    padding-bottom: 3em;
  }

  .pad-left {
    padding-left:1em;
  }

  .pad-left-2 {
    padding-left:2em;
  }

  .pad-left-3 {
    padding-left:3em;
  }

  .pad-left-6 {
    padding-left:6em;
  }

  .pad-right {
    padding-right:1em;
  }

  .pad-right-2 {
    padding-right:2em;
  }

  .pad-right-3 {
    padding-right:3em;
  }

  .pad-right-6 {
    padding-right:6em;
  }

  :focus {
    outline: 0;
  }

  ol, ul {
    list-style: none;
  }

  table {
    border-collapse: separate;
    border-spacing: 0;
  }

  caption, th, td {
    text-align: left;
    font-weight: normal;
  }

  blockquote:before, blockquote:after,
  q:before, q:after {
    content: "";
  }

  blockquote, q {
    quotes: "" "";
  }

  #wrapper {
    clear: both;
  }

/* TO DO - TAKE THESE OUT BEFORE PRODUCTION */
  .transitions-mail-image {
    height:150px;
    background-image:url('src/assets/images/headers/transitionsInEnergyMail.jpg');
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom:2em;
  }

  .mem-mail-image {
    height:150px;
    background-image:url('src/assets/images/headers/mindworksEnergyMedicineMail.jpg');
    background-repeat: no-repeat;
    background-position: center;
  }

  .with-faded-background {
    background-image:linear-gradient(to right, var(--color-lightest-blue) , var(--color-off-white));
  }

  .with-underline {
    border-bottom:dashed thin var(--color-soft-blue);
  }

  .with-solid-underline {
    border-bottom:solid thin var(--color-dark-blue);
  }

  /* FONTS */

  @font-face {
    font-family: Green-Hostel;
    src: url("../fonts/GreenHostel-2OLr3.otf") format("opentype");
  }

 /* @font-face {
    font-family: High-Billion;
    src: url("../fonts/HighBillionSans-eZ1Kx.otf") format("opentype");
  }*/

  @font-face {
    font-family: Monument-Valley;
    src: url("../fonts/MonumentValley12-X55o.otf") format("opentype");
  }

  @font-face {
    font-family: ReneB-Book;
    src: url("../fonts/ReneBiederMilliardBook.otf") format("opentype");
  }

  @font-face {
    font-family: ReneB-Extra-Light;
    src: url("../fonts/ReneBiederMilliardExtraLight.otf") format("opentype");
  }

  @font-face {
    font-family: ReneB-Hairline;
    src: url("../fonts/ReneBiederMilliardHairline.otf") format("opentype");
  }

  @font-face {
    font-family: ReneB-Light;
    src: url("../fonts/ReneBiederMilliardLight.otf") format("opentype");
  }

  @font-face {
    font-family: ReneB-Medium;
    src: url("../fonts/ReneBiederMilliardMedium.otf") format("opentype");
  }

  @font-face {
    font-family: ReneB-Thin;
    src: url("../fonts/ReneBiederMilliardThin.otf") format("opentype");
  }

  @font-face {
    font-family: Whitney-Book;
    src: url("../fonts/whitneybooksc.otf") format("opentype");
  }

  @font-face {
    font-family: Whitney-Light;
    src: url("../fonts/whitneylightsc.otf") format("opentype");
  }

  @font-face {
    font-family: Whitney-Medium;
    src: url("../fonts/whitneymediumsc.otf") format("opentype");
  }

  @font-face {
    font-family: Whitney-Medium-Italic;
    src: url("../fonts/whitneymediumitalicsc.otf") format("opentype");
  }

  @font-face {
    font-family: Whitney-SSm-Book;
    src: url("../fonts/Whitney SSm Book.ttf") format("opentype");
  }

  @font-face {
    font-family: Whitney-SSm-Semibold;
    src: url("../fonts/Whitney SSm Semibold.ttf") format("opentype");
  }


}
