/* checked feb 26 2025 */

/*******************************************************************************************************************

WIDTH 90% FOR ALL LESS THAN 900px (OUR CONTENT WINDOW)

*******************************************************************************************************************/
@media only screen
and (min-width: 320px)
and (max-width: 896px)    {

    .content-title {
        width:var(--media-less-than-content-width);
    }

}

/*******************************************************************************************************************

MAX WIDTH 100% FOR ALL OVER 900px (OUR CONTENT WINDOW)

*******************************************************************************************************************/
@media only screen
and (min-width:960px)   {

    .content-title  {
        width:var(--media-more-than-content-width);
    }

}

/*******************************************************************************************************************

 SMALL BANANA PORTRAIT (320), SMALL MOBILE PORTRAIT (360), SMALL TABLET PORTRAIT (600) AND BIG MOBILE PORTRAIT (640) */

/********************************************************************************************************************/
@media only screen
and (min-width: 320px)
and (max-width: 640px)
and (orientation: portrait) {

    .content-title h1, .content-title h2, .content-title h3  {
        line-height: 100%;
        padding-top:.6em;
    }
}

/*******************************************************************************************************************

SMALL MOBILE (414) TO BANANA (568) LANDSCAPES

/*******************************************************************************************************************/
@media only screen
and (min-width: 414px)
and (max-width: 568px)
and (orientation: landscape) {

    .content-title h1, .content-title h2, .content-title h3  {
        line-height: 100%;
        padding-top:.6em;
    }
}

/*******************************************************************************************************************

SMALL TABLET LANDSCAPE (800) TO BIG MOBILE LANDSCAPE (896) TO BIG TABLET LANDSCAPE (1280) AND IPAD LANDSCAPE (1366) and UP

/*******************************************************************************************************************/
@media only screen
and (min-width: 800px)
and (max-width: 1366px)
and (orientation: landscape) {

    .content-title h1, .content-title h2, .content-title h3 {
        line-height: 110%;
        padding-top:1em;
    }

}

/*******************************************************************************************************************

TABLET AND IPAD PORTRAIT

/*******************************************************************************************************************/

@media only screen
and (min-width: 960px)
and (max-width:1024px)
and (orientation: portrait) {

    .content-title h1, .content-title h2, .content-title h3 {
        line-height: 110%;
        padding-top:1em;
    }

}

/*******************************************************************************************************************

LAPTOPS and UP

/*******************************************************************************************************************/

@media only screen
and (min-width: 1440px) {

    .content-title h1, .content-title h2, .content-title h3, .content-light-title h2 {
        line-height: 110%;
        padding-top:1em;
    }
}

/*******************************************************************************************************************
  GLOBAL BANANAS - PORTRAIT
*******************************************************************************************************************/
@media only screen
and (min-width: 320px)
and (max-width: 568px)
and (orientation: portrait) {

    .content-title h1 {
        font-size: var(--h1-titles-small-banana-font-size);
    }

    .content-title h2,  .content-light-title h2 {
        font-size: var(--h2-titles-small-banana-font-size);
    }

    .content-title h3  {
        font-size: var(--h3-titles-small-banana-font-size);
    }

    .content-title h4  {
        font-size: var(--h3-titles-small-banana-font-size);
    }

}

/*******************************************************************************************************************
  GLOBAL BANANAS - LANDSCAPE
*******************************************************************************************************************/
@media only screen
and (min-width: 320px)
and (max-width: 568px)
and (orientation: landscape) {

    .content-title h1 {
        font-size: var(--h1-titles-big-banana-font-size);
    }

    .content-title h2,  .content-light-title h2 {
        font-size: var(--h2-titles-big-banana-font-size);
    }

    .content-title h3  {
        font-size: var(--h3-titles-big-banana-font-size);
    }

    .content-title h4  {
        font-size: var(--h3-titles-big-banana-font-size);
    }
}

/*******************************************************************************************************************
  GLOBAL SMALL MOBILES - PORTRAIT
*******************************************************************************************************************/
@media only screen
and (min-width: 360px)
and (max-width: 414px)
and (orientation: portrait) {

    .content-title h1 {
        font-size: var(--h1-titles-small-mobile-font-size);
    }

    .content-title h2,  .content-light-title h2 {
        font-size: var(--h2-titles-small-mobile-font-size);
    }

    .content-title h3 {
        font-size: var(--h3-titles-small-mobile-font-size);
    }

    .content-title h4 {
        font-size: var(--h3-titles-small-mobile-font-size);
    }

}

/*******************************************************************************************************************
  GLOBAL SMALL MOBILES - LANDSCAPE
*******************************************************************************************************************/
@media only screen
and (min-width: 360px)
and (max-width: 414px)
and (orientation: landscape){

    .content-title h1 {
        font-size: 1.5em;
    }

    .content-title h2,  .content-light-title h2 {
        font-size: var(--h2-titles-small-mobile-font-size);
    }

    .content-title h3  {
        font-size: var(--h3-titles-small-mobile-font-size);
    }

    .content-title h4  {
        font-size: var(--h3-titles-small-mobile-font-size);
    }

}

/*******************************************************************************************************************
  GLOBAL BIG MOBILES - PORTRAIT
*******************************************************************************************************************/
@media only screen
and (min-width:640px)
and (max-width:896px)
and (orientation: portrait){

    .content-title h1 {
        font-size: var(--h1-titles-big-mobile-font-size);
    }

    .content-title h2,  .content-light-title h2 {
        font-size: var(--h2-titles-big-mobile-font-size);
    }

    .content-title h3  {
        font-size: var(--h3-titles-big-mobile-font-size);
    }

    .content-title h4  {
        font-size: var(--h3-titles-big-mobile-font-size);
    }
}

/*******************************************************************************************************************
  GLOBAL BIG MOBILES - LANDSCAPE
*******************************************************************************************************************/
@media only screen
and (min-width:640px)
and (max-width:896px)
and (orientation: landscape){

    .content-title h1 {
        font-size: var(--h1-titles-big-mobile-font-size);
    }

    .content-title h2,  .content-light-title h2 {
        font-size: var(--h2-titles-big-mobile-font-size);
    }

    .content-title h3  {
        font-size: var(--h3-titles-big-mobile-font-size);
    }

    .content-title h4  {
        font-size: var(--h3-titles-big-mobile-font-size);
    }
}

/*******************************************************************************************************************
  GLOBAL SMALL TABLETS - PORTRAIT
*******************************************************************************************************************/
@media only screen
and (min-width: 600px)
and (max-width:800px)
and (orientation: portrait){

    .content-title h1 {
        font-size:var(--h1-titles-small-tablet-font-size);
    }

    .content-title h2,  .content-light-title h2 {
        font-size: var(--h2-titles-small-tablet-font-size);
    }

    .content-title h3  {
        font-size: var(--h3-titles-small-tablet-font-size);
    }

    .content-title h4  {
        font-size: var(--h3-titles-small-tablet-font-size);
    }
}

/*******************************************************************************************************************
  GLOBAL SMALL TABLETS - LANDSCAPE
*******************************************************************************************************************/
@media only screen
and (min-width: 600px)
and (max-width:800px)
and (orientation: landscape){

    .content-title h1 {
        font-size:var(--h1-titles-small-tablet-font-size);
    }

    .content-title h2,  .content-light-title h2 {
        font-size: var(--h2-titles-small-tablet-font-size);
    }

    .content-title h3  {
        font-size: var(--h3-titles-small-tablet-font-size);
    }

    .content-title h4  {
        font-size: var(--h3-titles-small-tablet-font-size);
    }
}

/*******************************************************************************************************************
  GLOBAL BIG TABLETS - PORTRAIT
*******************************************************************************************************************/
@media only screen
and (min-width: 960px)
and (max-width: 1280px)
and (orientation: portrait) {

    .content-title h1 {
        font-size:var(--h1-titles-big-tablet-font-size);
    }

    .content-title h2,  .content-light-title h2 {
        font-size: var(--h2-titles-big-tablet-font-size);
    }

    .content-title h3  {
        font-size: var(--h3-titles-big-tablet-font-size);
    }

    .content-title h4  {
        font-size: var(--h3-titles-big-tablet-font-size);
    }
}

/*******************************************************************************************************************
  GLOBAL BIG TABLETS - LANDSCAPE
*******************************************************************************************************************/
@media only screen
and (min-width: 960px)
and (max-width: 1280px)
and (orientation: landscape) {

    .content-title h1 {
        font-size:var(--h1-titles-big-tablet-font-size);
    }

    .content-title h2,  .content-light-title h2 {
        font-size: var(--h2-titles-big-tablet-font-size);
    }

    .content-title h3  {
        font-size: var(--h3-titles-big-tablet-font-size);
    }

    .content-title h4  {
        font-size: var(--h3-titles-big-tablet-font-size);
    }
}

/*******************************************************************************************************************
  IPADS PORTRAIT
*******************************************************************************************************************/
@media only screen
and (min-width: 1024px) {

    .content-title h1 {
        font-size: var(--h1-titles-desktop-font-size);
    }

    .content-title h2,  .content-light-title h2 {
        font-size: var(--h2-titles-desktop-font-size);
    }

    .content-title h3  {
        font-size: var(--h3-titles-desktop-font-size);
    }

    .content-title h4  {
        font-size: var(--h3-titles-desktop-font-size);
    }

}

/* GLOBAL *************************************************************************************************************/
@media only screen {

    .content-title  {
        display:grid;
        margin:auto;
        max-width:var(--content-width);
    }

    .content-title h1, .content-title h2, .content-title h3, .content-title h4 {
        color: var(--color-dark-blue);
        font-family: var(--family-title);
        text-transform: uppercase;
    }

    .content-title h1, .content-title h2 {
        text-align:center;
    }

    .content-title h3, .content-title h4 {
        text-align: left;
    }

    .content-title h4 {
        padding-top:1em;
        margin:0;
    }

    .content-title h1 a, .content-title h2 a, .content-title h3 a, .content-title h4 a {
        cursor: pointer;
    }

}
