
/*******************************************************************************************************************
  ALL BANANAS, MOBILES AND TABLET AND IPAD PORTRAIT (MAX IS 1 less than TABLET LANDSCAPE at and (min-width: 1280px))
*******************************************************************************************************************/
@media only screen
and (min-width: 240px)
and (max-width: 1279px) {

    .topic-grid {
        width:var(--media-less-than-content-width);
        align-content: flex-end;
    }

    .topic-size {
        background-position: center;
        background-size: cover;
    }

    .topic-grid h1, .topic-grid h2 {
        height:auto;
        width:100%;
        justify-content: center;
        background-color: var(--color-darkest-grey);
        letter-spacing: 1px;
    }

}

/*  BANANA PORTRAIT *******************************************************************************************/
@media only screen
and (min-width: 240px)
and (max-width: 359px)
and (orientation: portrait) {

    /* IMAGE WITH TEXT AT BOTTOM */
    .topic-size {
        height: 240px;
    }

    .topic-grid h1 {
        font-size: var(--h1-header-banana-port-font-size);
    }

    .topic-grid h2 {
        font-size: var(--h2-header-banana-port-font-size);
    }

}

/* BANANA LANDSCAPE ****************************************************************************************************/
@media only screen
and (min-width: 568px)
and (max-width: 895px)
and (orientation: landscape) {

    /* IMAGE WITH TEXT AT BOTTOM */
    .topic-size{
        height:400px;
    }

    .topic-grid h1 {
        font-size: var(--h1-header-banana-land-font-size);
    }

    .topic-grid h2 {
        font-size: var(--h2-header-banana-land-font-size);
    }

}

/* MOBILES PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 360px)
and (max-width: 599px)
and (orientation: portrait) {

    /* IMAGE WITH TEXT AT BOTTOM */
    .topic-size{
        height:360px;
    }

    .topic-grid h1 {
        font-size: var(--h1-header-mobile-port-font-size);
    }

    .topic-grid h2 {
        font-size: var(--h2-header-mobile-port-font-size);
    }

}

/*  MOBILES LANDSCAPE **************************************************************************************************/
@media only screen
and (min-width:896px )
and (max-width: 1279px)
and (orientation: landscape) {

    /* TEXT AT LEFT AND IMAGE AT RIGHT */
    .topic-size{
        height:400px;
    }

    .topic-grid h1 {
        font-size:var(--h1-header-mobile-land-font-size);
    }

    .topic-grid h2 {
        font-size:var(--h2-header-mobile-land-font-size);
    }

}

/*  TABLETS PORTRAIT *******************************************************************************************/
@media only screen
and (min-width: 600px)
and (max-width: 1023px)
and (orientation: portrait) {

    .topic-size{
        height:400px;
    }

    .topic-grid h1 {
        font-size:var(--h1-header-tablet-port-font-size);
    }

    .topic-grid h2 {
        font-size:var(--h2-header-tablet-port-font-size);
    }

}

/* IPADS PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 1024px)
and (max-width: 1366px)
and (orientation: portrait) {

    .topic-size{
        height:400px;
    }

    .topic-grid h1 {
        font-size:var(--h1-header-ipad-port-font-size);
    }

    .topic-grid h2 {
        font-size:var(--h2-header-ipad-port-font-size);
    }

}

/*******************************************************************************************************************
  ALL THAT SHOW DESKTOP - TABLET LANDSCAPE, IPAD LANDSCAPE, LAPTOP, DESKTOP and UP
*******************************************************************************************************************/

@media only screen
and (min-width: 1280px)
and (orientation: landscape) {

    .topic-grid {
        width:var(--media-more-than-content-width);
        align-content: center;
    }

    .topic-size {
        height:auto;
        width:100%;
    }

    .topic-grid h1, .topic-grid h2, .topic-grid p, .topic-grid span {
        justify-content: center;
    }

    .topic-grid h1, .topic-grid h2 {
        letter-spacing: 4px;
    }

    .topic-grid p {
        letter-spacing: 2px;
    }

}

/*  TABLETS LANDSCAPE *******************************************************************************************/
@media only screen
and (min-width: 1280px)
and (max-width: 1365px)
and (orientation: landscape) {

    /* 1280-800 = 480  the width of headers is total width less 800px image that are then centered within that width */
    .topic-grid h1, .topic-grid h2, .topic-grid p {
        width:100%;
    }

    .topic-grid h1 {
        font-size:var(--h1-header-tablet-land-font-size);
    }

    .topic-grid h2 {
        font-size:var(--h2-header-tablet-land-font-size);
    }

    .topic-grid p {
        font-size:var(--big-quote-tablet-land-font-size);
    }

    .topic-grid span {
        font-size:var(--small-quote-tablet-land-font-size);
    }
}


/* IPADS LANDSCAPE ***************************************************************************************************/
@media only screen
and (min-width: 1366px)
and (max-width: 1439px)
and (orientation: landscape) {

    /* 1366-800 =566 */
    .topic-grid h1, .topic-grid h2, .topic-grid p {
        width:100%;
    }

    .topic-grid h1 {
        font-size:var(--h1-header-ipad-land-font-size);
    }

    .topic-grid h2 {
        font-size:var(--h2-header-ipad-land-font-size);
    }

    .topic-grid p {
        font-size:var(--big-quote-ipad-land-font-size);
    }

    .topic-grid span {
        font-size:var(--small-quote-ipad-land-font-size);
    }
}

/* LAPTOPS ****************************************************************************************************/
@media only screen
and (min-width: 1440px)
and (max-width:1919px) {

    /* 1440-800 = 640 */
    .topic-grid h1, .topic-grid h2, .topic-grid p {
        width:100%;
    }

    .topic-grid h1 {
        font-size:var(--h1-header-desktop-font-size);
    }

    .topic-grid h2 {
        font-size:var(--h2-header-desktop-font-size);
    }

    .topic-grid p {
        font-size:var(--big-quote-desktop-font-size);
    }

    .topic-grid span {
        font-size:var(--small-quote-desktop-font-size);
    }
}

/* DESKTOPS ****************************************************************************************************/
@media only screen
and (min-width: 1920px) {

    /* 1920-800 = 1120 */
    .topic-grid h1, .topic-grid h2, .topic-grid p {
        width:100%;
    }

     .topic-grid h1 {
        font-size:var(--h1-header-desktop-font-size);
    }

    .topic-grid h2 {
        font-size:var(--h2-header-desktop-font-size);
    }

    .linked-topic-grid h2 {
        font-size:var(--h1-header-desktop-font-size);
    }

    .topic-grid p {
        font-size:var(--big-quote-desktop-font-size);
    }

    .topic-grid span {
        font-size:var(--small-quote-desktop-font-size);
    }
}

/* GLOBAL *************************************************************************************************************/
@media only screen {

    .topic-grid, .linked-topic-grid {
        display:grid;
        margin: auto;
        align-content: end;
        justify-content: center;
    }

    .topic-grid {
        max-width:var(--header-width);
    }

    .linked-topic-grid {
        max-width:var(--content-width);
        height: 400px;
    }

    .topic-grid h1, .topic-grid h2, .linked-topic-grid h2 {
        display:grid;
        font-family: var(--family-headers);
        color:var(--color-white);
        font-weight:800;
        text-transform: uppercase;
        margin:0;
    }

    .linked-topic-grid h2 {
        padding-bottom: .5em;
    }

    .topic-grid h2  {
        padding-bottom:1em;
    }

    .topic-grid p, .topic-grid span {
        display:grid;
        font-family: var(--family-quotes);
        font-style: italic;
        color:var(--color-white);
        padding: 1em 0 .25em 0;
        margin:0;
    }

    .topic-grid p {
        text-align: left;
        font-weight: 400;
    }

    .topic-grid span {
        text-align: center;
        padding-top:.5em;
    }

    /* ABOUT */
       .topic-book-consultation, .topic-roles-of-consultant,
    .topic-consider-care-plan, .topic-consider-cpr, .topic-consider-edith, .topic-consider-your-rep, .topic-think-about-needs,
    .topic-check-off-list,  .topic-choose-your-rep, .topic-make-wish-list,.topic-write-care-plan    {
        background-repeat: no-repeat;
        background-image: radial-gradient(var(--color-background-lignt-purple), var(--color-off-white));
        padding:2em 0 1em 0;
       }


 /*  .topic-about-practitioner {
        background-repeat: no-repeat;
        background-image:
                url("src/assets/images/topics/about/topicAboutPractitioner.jpg"), radial-gradient(var(--color-background-dark-grey), var(--color-background-light-grey));
    }*/
    /*
       !* CONSULTATIONS *!
       .topic-book-consultation {
           background-repeat: no-repeat;
           background-image:
                   url("src/assets/images/topics/consultations/topicBookConsultation.jpg"), radial-gradient(var(--color-background-dark-grey), var(--color-background-light-grey));
       }

       .topic-roles-of-consultant {
           background-repeat: no-repeat;
           background-image:
                   url("src/assets/images/topics/consultations/topicRolesOfConsultant.jpg"), radial-gradient(var(--color-background-dark-grey), var(--color-background-light-grey));
       }

       !* HOME *!
       .topic-home-book-session {
           background-repeat: no-repeat;
           background-image:
                   url("src/assets/images/topics/home/topicBookSession.jpg"), radial-gradient(var(--color-background-dark-grey), var(--color-background-light-grey));
       }

       !* PLAN AHEAD *!
       .topic-consider-care-plan {
           background-repeat: no-repeat;
           background-image:
                   url("src/assets/images/topics/planning/topicConsiderCarePlan.jpg"), radial-gradient(var(--color-background-dark-grey), var(--color-background-light-grey));
       }

       .topic-consider-cpr {
           background-repeat: no-repeat;
           background-image:
                   url("src/assets/images/topics/planning/topicConsiderCPR.jpg"), radial-gradient(var(--color-background-dark-grey), var(--color-background-light-grey));
       }

       .topic-consider-edith {
           background-repeat: no-repeat;
           background-image:
                   url("src/assets/images/topics/planning/topicConsiderEdith.jpg"), radial-gradient(var(--color-background-dark-grey), var(--color-background-light-grey));
       }

       .topic-consider-your-rep {
           background-repeat: no-repeat;
           background-image:
                   url("src/assets/images/topics/planning/topicConsiderRep.jpg"), radial-gradient(var(--color-background-dark-grey), var(--color-background-light-grey));
       }

       .topic-think-about-needs {
           background-repeat: no-repeat;
           background-image:
                   url("src/assets/images/topics/planning/topicThinkAboutNeeds.jpg"), radial-gradient(var(--color-background-dark-grey), var(--color-background-light-grey));
       }

       !* WRITE PLANS *!
       .topic-check-off-list {
           background-repeat: no-repeat;
           background-image:
                   url("src/assets/images/topics/planning/topicCheckOffList.jpg"), radial-gradient(var(--color-background-dark-grey), var(--color-background-light-grey));
       }

       .topic-choose-your-rep {
           background-repeat: no-repeat;
           background-image:
                   url("src/assets/images/topics/planning/topicChooseRep.jpg"), radial-gradient(var(--color-background-dark-grey), var(--color-background-light-grey));
       }

       .topic-make-wish-list {
           background-repeat: no-repeat;
           background-image:
                   url("src/assets/images/topics/planning/topicMakeWishList.jpg"), radial-gradient(var(--color-background-dark-grey), var(--color-background-light-grey));
       }

       .topic-write-care-plan {
           background-repeat: no-repeat;
           background-image:
                   url("src/assets/images/topics/planning/topicWriteCarePlan.jpg"), radial-gradient(var(--color-background-dark-grey), var(--color-background-light-grey));
       }*/


}
