
/*  BANANA PORTRAIT *******************************************************************************************/
@media only screen
and (min-width: 240px)
and (max-width: 359px)
and (orientation: portrait) {




    /* TOPIC BLOCK THAT LINKS TO BOOK PAGES ON THE HOME PAGE AND DISPLAYS ONLY ON THE BOOKING PAGES */
     .content-topic-left h2 {
        font-size: var(--h2-banana-port-font-size);
    }

    .content-topic-left span {
        display:none;
    }

    /* THIS TOPIC GRID IS USED AT THE TOP OF EACH DETAIL PAGE */
    .heading-topic-grid h1 {
        display:none;
    }

    .topic {
        height:240px;
        background-position: center;
        background-size: cover;
    }
}

/* BANANA LANDSCAPE ****************************************************************************************************/
@media only screen
and (min-width: 568px)
and (max-width: 895px)
and (orientation: landscape) {



    /* TOPIC BLOCK THAT LINKS TO BOOK PAGES ON THE HOME PAGE AND DISPLAYS ONLY ON THE BOOKING PAGES */
    .content-topic-left h2 {
        font-size: var(--h2-banana-land-font-size);
    }

    .content-topic-left span {
        font-size: var(--med-copy-banana-land-font-size);
    }

    /* THIS TOPIC GRID IS USED AT THE TOP OF EACH DETAIL PAGE */
    .heading-topic-grid h1 {
        display:grid;
        font-size:var(--h1-banana-land-font-size);
    }

    .topic {
        height:300px;
        background-position: right;
        background-size: contain;
    }
}

/* MOBILES PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 360px)
and (max-width: 599px)
and (orientation: portrait) {



    /* TOPIC BLOCK THAT LINKS TO BOOK PAGES ON THE HOME PAGE AND DISPLAYS ONLY ON THE BOOKING PAGES */
    .content-topic-left h2 {
        font-size: var(--h2-mobile-port-font-size);
    }

    .content-topic-left span {
        display:none;
    }

    /* THIS TOPIC GRID IS USED AT THE TOP OF EACH DETAIL PAGE */
    .heading-topic-grid h1 {
        display:none;
    }

    .topic {
        height:400px;
        background-position: center;
        background-size: cover;
    }
}

/*  MOBILES LANDSCAPE **************************************************************************************************/
@media only screen
and (min-width:896px )
and (max-width: 1279px)
and (orientation: landscape) {



    /* TOPIC BLOCK THAT LINKS TO BOOK PAGES ON THE HOME PAGE AND DISPLAYS ONLY ON THE BOOKING PAGES */
    .content-topic-left h2 {
        font-size: var(--h2-mobile-land-font-size);
    }

    .content-topic-left span {
        font-size: var(--med-copy-mobile-land-font-size);
    }

    /* THIS TOPIC GRID IS USED AT THE TOP OF EACH DETAIL PAGE */
    .heading-topic-grid h1 {
        display:grid;
        font-size:var(--h1-mobile-land-font-size);
    }

    .topic {
        height:400px;
        background-position: right;
        background-size: contain;
    }
}

/*  TABLETS PORTRAIT *******************************************************************************************/
@media only screen
and (min-width: 600px)
and (max-width: 1023px)
and (orientation: portrait) {



    /* TOPIC BLOCK THAT LINKS TO BOOK PAGES ON THE HOME PAGE AND DISPLAYS ONLY ON THE BOOKING PAGES */
    .content-topic-left h2 {
        font-size: var(--h2-tablet-port-font-size);
    }

    .content-topic-left span {
        font-size: var(--med-copy-tablet-port-font-size);
    }

    /* THIS TOPIC GRID IS USED AT THE TOP OF EACH DETAIL PAGE */
    .heading-topic-grid h1 {
        display:grid;
        font-size:var(--h1-tablet-port-font-size);
    }

    .topic {
        height:300px;
        background-position: right;
        background-size: contain;
    }
}

/*  TABLETS LANDSCAPE *******************************************************************************************/
@media only screen
and (min-width: 1280px)
and (max-width: 1365px)
and (orientation: landscape) {



    /* TOPIC BLOCK THAT LINKS TO BOOK PAGES ON THE HOME PAGE AND DISPLAYS ONLY ON THE BOOKING PAGES */
    .content-topic-left h2 {
        font-size: var(--h2-tablet-land-font-size);
    }

    .content-topic-left span {
        font-size: var(--med-copy-tablet-land-font-size);
    }

    /* THIS TOPIC GRID IS USED AT THE TOP OF EACH DETAIL PAGE */
    .heading-topic-grid h1 {
        display:grid;
        font-size:var(--h1-tablet-land-font-size);
    }

    .topic {
        height:400px;
        background-position: right;
    }
}

/* IPADS PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 1024px)
and (max-width: 1366px)
and (orientation: portrait) {



    /* TOPIC BLOCK THAT LINKS TO BOOK PAGES ON THE HOME PAGE AND DISPLAYS ONLY ON THE BOOKING PAGES */
    .content-topic-left h2 {
        font-size: var(--h2-ipad-port-font-size);
    }

    .content-topic-left span {
        font-size: var(--med-copy-ipad-port-font-size);
    }

    /* THIS TOPIC GRID IS USED AT THE TOP OF EACH DETAIL PAGE */
    .heading-topic-grid h1 {
        display:grid;
        font-size:var(--h1-ipad-port-font-size);
    }

    .topic {
        height:400px;
        background-position: right;
    }
}

/* IPADS LANDSCAPE ***************************************************************************************************/
@media only screen
and (min-width: 1366px)
and (max-width: 1439px)
and (orientation: landscape) {



    /* TOPIC BLOCK THAT LINKS TO BOOK PAGES ON THE HOME PAGE AND DISPLAYS ONLY ON THE BOOKING PAGES */
    .content-topic-left h2 {
        font-size: var(--h2-ipad-land-font-size);
    }

    .content-topic-left span {
        font-size: var(--med-copy-ipad-land-font-size);
    }

    /* THIS TOPIC GRID IS USED AT THE TOP OF EACH DETAIL PAGE */
    .heading-topic-grid h1 {
        display:grid;
        font-size:var(--h1-ipad-land-font-size);
    }

    .topic {
        height:400px;
        background-position: right;
    }
}

/* DESKTOPS ****************************************************************************************************/
@media only screen
and (min-width: 1440px) {



    /* TOPIC BLOCK THAT LINKS TO BOOK PAGES ON THE HOME PAGE AND DISPLAYS ONLY ON THE BOOKING PAGES */
    .content-topic-left h2 {
        font-size: var(--h2-desktop-font-size);
    }

    .content-topic-left span {
        font-size: var(--med-copy-desktop-font-size);
    }

    /* THIS TOPIC GRID IS USED AT THE TOP OF EACH DETAIL PAGE */
    .heading-topic-grid h1 {
        display:grid;
        font-size:var(--h1-desktop-font-size);
    }

    /*.book-session, .book-consultation, .about-me, .about-doula-consultant, .about-energy-practitioner, .doula-work-plan-ahead {
        height:400px;
        background-position: right;
    }*/
    .topic {
        height:400px;
        background-position: right;
    }
}

/* GLOBAL *************************************************************************************************************/
@media only screen {

    /* THIS TOPIC GRID IS USED AT THE TOP OF EACH DETAIL PAGE */
    .heading-topic-grid {
        display:grid;
        width:100%;
        float: left;
        max-width:1920px;
        text-transform: uppercase;
        margin-bottom:.5em;
    }

    .heading-topic-grid h1 {
        font-family: Whitney-Light, arial, serif;
        /*font-family: Whitney-Light, arial, serif;*/
        letter-spacing: 4px;
        align-content: center;
        justify-content: flex-start;
        padding-left:1em;
        color:var(--color-white);
    }

    /* TOPIC BLOCK THAT LINKS TO BOOK PAGES ON THE HOME PAGE AND DISPLAYS ONLY ON THE BOOKING PAGES */
    .content-topic-grid {
        display:grid;
        max-width:1152px;
        grid-template-columns: 74% 26%;
        width:90%;
        margin:1em auto;
        background-image:linear-gradient(to right, var(--color-lightest-blue) , var(--color-off-white));
    }

    .content-topic-left {
        display:grid;
        width:90%;
        margin:0 5%;
        align-content: center;
        justify-content: flex-start;
    }

    .content-topic-left h2 {
        font-family: Whitney-Light, arial, serif;
        color:var(--color-white);
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: normal;
    }

    .content-topic-left span {
        font-family: var(--family-copy);
        color:var(--color-white);
    }

    .content-topic-right {
        display:grid;
        width:100%;
        align-content: center;
        justify-content: flex-end;
    }

    .content-topic-right img {
        max-width:100%;
        height:auto;
    }



    .about-me {
        background-image: url("src/assets/images/about/me/aboutMeIntro.jpg"), linear-gradient(#878787, #d7dde1);
        background-repeat: no-repeat;
    }

    .about-energy-practitioner {
        background-image: url("src/assets/images/about/practitioner/aboutPractitionerIntro2.jpg"), linear-gradient(#dc5452, #f0c5c5);
        background-repeat: no-repeat;
    }

    .about-doula-consultant {
        background-image: url("src/assets/images/about/doula/aboutDoulaIntro.jpg"), linear-gradient(#609eeb, #d4dee7);
        background-repeat: no-repeat;
    }

    .book-session {
        background-image: url("src/assets/images/book/energySession/bookSession2.jpg"), linear-gradient(#e59844, #e7d2bb);
        background-repeat: no-repeat;
    }

    .book-consultation {
        background-image: url("src/assets/images/book/doulaConsult/bookDoulaConsult.jpg"), linear-gradient(#455b36, #bcd6ab);
        background-repeat: no-repeat;
    }

    /* MENU-EOL-DOCS */
    .doula-work-acplans{
        background-image: url("src/assets/images/eolDocuments/acPlanDoc/advCarePlanIntro.jpg"), linear-gradient(#45423f, #e8dbce);
        background-repeat: no-repeat;
    }

    .doula-work-frailty-menu {
        background-image: url("src/assets/images/eolDocuments/frailtyMenu/frailyMenuIntro.jpg"), linear-gradient(#4c7ebd, #c4d2e5);
        background-repeat: no-repeat;
    }

    .doula-work-tsdm {
        background-image: url("src/assets/images/eolDocuments/tsdmDoc/tsdmIntro.jpg"), linear-gradient(#8fb397, #e7f6ef);
        background-repeat: no-repeat;
    }

    .doula-work-rep {
        background-image: url("src/assets/images/eolDocuments/repNineDoc/repNineIntro.jpg"), linear-gradient(#252a2e, #c3c7cb);
        background-repeat: no-repeat;
    }

    .doula-work-edith {
        background-image: url("src/assets/images/eolDocuments/edithDoc/edithIntro.jpg"), linear-gradient(#080c0f, #d3ccc4);
        background-repeat: no-repeat;
    }

    .doula-work-dnr {
        background-image: url("src/assets/images/eolDocuments/dnrDoc/dnrIntro.jpg"), linear-gradient(#587968, #eef2f1);
        background-repeat: no-repeat;
    }

    /* these are just stubs for commented out code */
    .em-anxiety-help, .eol-patients-help, .eol-choose-memorial, .eol-create-legacy, .eol-support-caregiver, .em-pain-help,
    .em-find-element, .em-move-der, .em-relieve-burnout, .em-trace-meridians, .em-faqs {
        /*background-image: url("src/assets/images/energyMedicine/anxiety/anxietyIntro.jpg"), linear-gradient(#587968, #eef2f1);*/
        /*background-image: url("src/assets/images/eolCare/careForPatient/patientCareIntro.jpg, linear-gradient(#587968, #eef2f1);*/
        /*background-image: url("src/assets/images/eolCare/chooseMemorial/memorialIntro.jpg, linear-gradient(#587968, #eef2f1);*/
        /*background-image: url("src/assets/images/eolCare/createLegacy/legacyIntro.jpg, linear-gradient(#587968, #eef2f1);*/
        /*background-image: url("src/assets/images/eolCare/supportCaregivers/caregiverSupportIntro.jpg, linear-gradient(#587968, #eef2f1);*/
        /* energyMedicine/pain/painIntro.jpg
        energyMedicine/elements/elementIntro.jpg
        energyMedicine/move/moveIntro.jpg
        energyMedicine/burnout/burnoutIntro.jpg
        energyMedicine/meridians/meridiansIntro.jpg
        faqs/faqsIntro.jpg */

        background-image: url("src/assets/images/eolDocuments/dnrDoc/dnrIntro.jpg"), linear-gradient(#587968, #eef2f1);
        background-repeat: no-repeat;
    }








              /* .doula-work-rep {
                   background-image: url("src/assets/images/eolCare/chooseRep/chooseRepIntro.jpg"), linear-gradient(#609eeb, #d4dee7);
                   background-repeat: no-repeat;
               }



               */
}
