/*******************************************************************************************************************
  GLOBAL BANANAS- MOBILES AND TABLETS -
*******************************************************************************************************************/
@media only screen
and (min-width: 240px)
and (max-width: 800px)    {

    .two-col-container    {
        width:var(--media-less-than-content-width);
        display: grid;
        align-content: center;
        justify-content: center;
    }

    .column-image {
        grid-column:1;
        display:grid;
        justify-content: center;
        align-content: center;
    }

    .column-image img, .column-image a img {
        height:250px;
    }

    .column-text, .column-backgrnd-text {
        grid-column:1;
        display:grid;
    }

    .column-backgrnd-text {
        padding:0 2em;
    }

    .column-text p, .column-text h2, .column-text h2 a, .column-backgrnd-text a p, .column-backgrnd-text a h2  {
        color:var(--color-white);
    }

    .column-text h2, .column-backgrnd-text a h2{
        line-height: 110%;
        text-align: center;
    }

    .column-text p, .column-backgrnd-text a p   {
        text-align: justify;
        line-height: 130%;
    }

}



/*******************************************************************************************************************
  GLOBAL  IPADS, LAPTOPS, DESKTOPS AND UP
*******************************************************************************************************************/
@media only screen
and (min-width:1024px)    {

    .two-col-container, .two-col-backgrnd-container {
        width:var(--media-more-than-content-width);
        display: inline-grid;
        grid-template-columns: 43% 57%;
    }

    .two-col-backgrnd-container {
        min-height:450px;
    }

     .column-image {
         grid-column:1;
         justify-content: flex-start;
     }

    .column-text, .column-backgrnd-text {
         grid-column:2;
         padding:0 1em;
     }

     .column-text h2, .column-text h2 a, .column-backgrnd-text a h2  {
         text-align: center;
         margin:0;
     }

    .column-backgrnd-text a p {
        text-align: justify;
        margin:0;
    }

}

/*  BANANAS  *******************************************************************************************/
@media only screen
and (min-width: 240px)
and (max-width: 320px)  {

    /* this is from the ABOUT US PAGE */
    .column-text h2  {
        padding-top:1em;
    }

    .column-text h2 {
        font-size: 0.65em;
        line-height:120%;
    }

    .column-text p {
        padding-top:1em;
        font-size: var(--med-copy-banana-font-size);
    }

    /* this is from the WIZARD ACTION PAGES */
    .column-text a h2  {
        font-size: var(--h2-titles-banana-font-size);
    }

    .column-text a p   {
        font-size: var(--med-copy-banana-font-size);
        padding:0 1em;
    }

}

/* MOBILES ****************************************************************************************************/
@media only screen
and (min-width: 360px)
and (max-width: 414px) {

    /* this is from the ABOUT US PAGE */
    .column-text h2  {
        padding-top:1em;
    }

    .column-text h2 {
        font-size: 0.85em;
        line-height:120%;
    }

    .column-text p {
        padding-top:1em;
        font-size: var(--med-copy-mobile-font-size);
    }

    /* this is from the WIZARD ACTION PAGES */
    .column-text a h2  {
        font-size: var(--h2-titles-mobile-font-size);
    }

    .column-text a p   {
        font-size: var(--med-copy-mobile-font-size);
        padding:0 1em;
    }
}

/*  TABLETS   *******************************************************************************************/
@media only screen
and (min-width: 600px)
and (max-width: 800px) {

    /* this is from the ABOUT US PAGE */
    .column-text h2  {
        padding-top:1em;
    }

    .column-text h2 {
        font-size: 1.2em;
        line-height:120%;
    }

    .column-text p {
        padding-top:1em;
        font-size: var(--med-copy-tablet-font-size);
    }

    /* this is from the WIZARD ACTION PAGES */
    .column-text a h2  {
        font-size: var(--h2-titles-tablet-font-size);
    }

    .column-text a p   {
        font-size: var(--med-copy-tablet-font-size);
        padding:0 2em;
    }

}

/* IPADS, LAPTOPS AND DESKTOPS  ****************************************************************************************************/
@media only screen
and (min-width: 1024px)  {

    /* this is from the ABOUT US PAGE */
    .column-text h2 {
        font-size: 1.1em;
        line-height:120%;
    }

    .column-text p {
        padding-top:1em;
        font-size: var(--med-copy-desktop-font-size);
    }

    /* this is from the WIZARD ACTION PAGES */
    .column-text a h2  {
        font-size: var(--h2-titles-desktop-font-size);
        line-height:120%;
    }

    .column-text a p   {
        font-size: var(--med-copy-desktop-font-size);
        padding:0 1em;
    }
}

/* GLOBAL ****************************************************************************************************/
@media only screen {

    /*   two-col-container is used on the about us page */
    .two-col-container, .two-col-backgrnd-container   {
        display: grid;
        max-width: var(--ipad-width);
        font-family: var(--family-copy);
        margin:auto;
    }

    /*   two-col-backgrnd-container is used on the take action pages that link to the modal pages  */
    .two-col-backgrnd-container {
        background: radial-gradient(circle at 100px 100px, #dce0e2, #000);
        border-style: groove;
        border-width: 7px;
        border-color: coral;
        border-radius: 50px 20px;
    }

    .column-image img {
        max-width: 100%;
        height:auto;
    }

    .column-text  {
        align-content: center;
    }

    /* this is from the ABOUT PAGE - these are differentiated by the anchor tag placements */
    .column-text p, .column-text h2 a, .column-text h2 {
        color:var(--color-dark-blue);
    }

    .column-text h2 a:hover {
        color:gold;
    }

    .column-text p {
        text-align: justify;
    }

    /* this is from the write plans - action pages */
    .column-text a p, .column-text a h2 {
        color:var(--color-white);
        text-align: justify;
    }

    .column-text h2 a, .column-text a h2  {
        text-align: center;
    }

}

