
/*******************************************************************************************************************

MOBILE
*******************************************************************************************************************/
@media only screen
and (min-width: 360px)
and (max-width:767px) {

    .form-inner-block-wishes {
        display:block;
        float:left;
        border-left:thick solid var(--color-white);
        border-right:thick solid var(--color-white);
        border-bottom:thick solid var(--color-white);
    }

    .data-block-wishes {
        width: 90%;
        margin: 0 5% 1em 5%;
        background-color: white;
    }

    .form-wish-main-title, .form-wish-write-list, .form-wish-name-prompt, .form-wish-name-value, .form-wish-question-prompt,
    .form-wish-question, .form-wish-answers {
        display: block;
        float: left;
        width: 100%;
        font-family: var(--family-copy);
        color: var(--color-hyperlink);
        text-align: left;
    }

    .form-wish-main-title {
        padding-top: 1em;
        font-size: var(--form-wish-main-title);
        margin: 0;
    }

    .form-wish-write-list {
        font-size: var(--form-wish-write-list);
        padding-top: .6em;
    }

    .form-wish-name-prompt {
        font-size: var(--form-wish-name-prompt);
    }

    .form-wish-name-value {
        font-size: var(--form-wish-name-value);
        padding-top: .5em;
    }

    .form-wish-question-prompt {
        padding-top: 1em;
        font-size: var(--form-wish-question-prompt);
        font-weight: bold;
    }

    .form-wish-question {
        padding-bottom: 1em;
        font-size: var(--form-wish-question);
    }

    .form-wish-answers {
        font-size: var(--form-wish-answers);
        border: 1px dashed var(--color-dark-blue);
        padding-top: 1em;

    }

    .form-wish-copy {
        width: 90%;
        margin: auto;
        font-family: var(--family-copy);
        color: var(--color-dark-blue);
        line-height: 135%;
        text-align: justify;
        font-size: var(--form-wish-copy);
        padding-top:1.4em;
    }
}

/*******************************************************************************************************************

Modal views laptops etc with fixed modal screens
*******************************************************************************************************************/
@media only screen
and (min-width: 768px) {

    mat-dialog-container#make-wishes-modal {
        height: 730px;
        width:768px;
    }

    .modal-inner-block-wishes {
        height: 475px;
        width: 100%;
        background-color: white;
    }

    .data-block-wishes {
        height:445px;
        width: 90%;
        margin: 0 5%;
        background-color: white;
    }

    .modal-wish-main-title, .modal-wish-write-list,  .modal-wish-name-prompt, .modal-wish-name-value, .modal-wish-question-prompt,
    .modal-wish-question, .modal-wish-answers  {
        display: block;
        float: left;
        width:100%;
        font-family: var(--family-copy);
        color: var(--color-dark-blue);
        text-align: left;
    }

    .modal-wish-main-title  {
        padding:.8em 0;
        font-size: var(--modal-wish-main-title);
        margin-top: 1em;
    }

    .modal-wish-write-list  {
        font-size: var(--modal-wish-write-list);
        padding:.2em 0;
        /*list-style: square;*/
    }

    .modal-wish-name-prompt  {
        font-size: var(--modal-wish-name-prompt);
        padding:.3em 0;
    }

    .modal-wish-name-value {
        font-size: var(--modal-wish-name-value);
        padding:.5em 0 0 0;
    }

    .modal-wish-question-prompt {
        padding:1em 0;
        font-weight: bold;
        font-size: var(--modal-wish-question-prompt);
    }

    .modal-wish-question {
        padding:1em 0;
        font-size: var(--modal-wish-question);
    }

    .modal-wish-answers {
        font-size: var(--modal-wish-answers);
        border: 1px dashed var(--color-dark-blue);
        padding:.8em 0;
    }

    .modal-wish-copy {
        width: 90%;
        margin:auto;
        font-family: var(--family-copy);
        color: var(--color-dark-blue);
        line-height:120%;
        text-align: justify;
        font-size: var(--modal-wish-copy);
    }

    /*******************************************************************************************************************
      GLOBAL
    *******************************************************************************************************************/
    @media only screen {

        .data-block-wishes {
            display: block;
            float: left;
            color: var(--color-dark-blue);
            position: relative;
        }
    }
}


