
/*******************************************************************************************************************
FOR BOTH TABLETS AND IPADS AND UP
*******************************************************************************************************************/
@media only screen
and (min-width:360px)
and (max-width:767px) {

    .modal-plan-main-title {
        font-size: var(--plan-form-title);
        padding-top: .5em;
        margin-top: .5em;
    }

    .modal-plan-sub-title {
        font-size: var(--plan-form-sub-title);
        padding: .5em 0;
        line-height: 115%;
    }

    .modal-plan-copy p {
        padding-top:1em;
        font-size: var(--plan-form-copy);
        line-height: 150%;
    }

    .modal-plan-list-item {
        margin: 0;
        padding: .4em;
        font-size: var(--plan-form-list);
        line-height: 105%;
    }

    .modal-plan-text-area {
        font-size: var(--plan-form-copy);
        line-height: 140%;
    }

    .modal-plan-radio-conditions-item  {
        padding: .5em 0;
        font-size: var(--plan-form-radio);
        /*margin-bottom: .7em;*/
    }

    .modal-plan-radio-sedation-item {
        padding: .5em 0;
        font-size: var(--plan-form-radio);
        border:thin dotted var(--color-soft-blue);
    }

    .modal-plan-radio-legal-item {
        padding: .5em 0;
        font-size: var(--plan-form-radio);
    }

    .modal-plan-conditions-checkbox {
        padding: .5em 0;
        font-size: var(--plan-form-checkbox);
    }

}
/*******************************************************************************************************************

*******************************************************************************************************************/
@media only screen
and (min-width: 768px)
and (max-width:1023px) {

    mat-dialog-container#advance-directive-modal {
        height: 780px;
        width:768px;
    }

    .modal-inner-block-plan {
        height: 500px;
        width: 100%;
        background-color: white;
    }

    .modal-data-block-plan {
        height:480px;
        width: 90%;
        margin: 0 5%;
        background-color: white;
    }

}

/*******************************************************************************************************************

*******************************************************************************************************************/
@media only screen
and (min-width: 1024px) {

    mat-dialog-container#advance-directive-modal {
        height: 800px;
        width:1024px;
    }

    .modal-inner-block-plan {
        height: 485px;
        width: 100%;
        background-color: white;
    }

    .modal-data-block-plan {
        height:465px;
        width: 90%;
        margin: 0 5%;
        background-color: white;
    }

}

/*******************************************************************************************************************
   GLOBAL
*******************************************************************************************************************/
@media only screen {

/*
    .modal-plan-main-title
    .modal-plan-sub-title
    .modal-plan-conditions-checkbox
    .modal-plan-radio-legal-item
    .modal-plan-radio-conditions-item,
    .modal-plan-radio-sedation-item
    .modal-plan-list-item
     .modal-plan-copy
    .modal-plan-text-area
 */
    .modal-plan-conditions-checkbox, .modal-plan-radio-legal-item, .modal-plan-radio-conditions-item, .modal-radio-sedation-plan-inline,
    .modal-plan-list-item, .modal-plan-copy, .modal-plan-text-area {
        width: 100%;
        font-family: var(--family-forms);
        color: var(--color-dark-blue);
        text-align: left;
    }

    .modal-plan-conditions-checkbox {
        border: 1px dashed var(--color-dark-blue);
    }

    .modal-plan-radio-legal-item {
        border: 1px dashed var(--color-dark-blue);
    }

    .modal-plan-radio-conditions-item, .modal-radio-sedation-plan-inline {
        border: 1px dashed var(--color-dark-blue);
    }

    .modal-plan-text-area {
        display: block;
        float: left;
        line-height: 105%;
        overflow-y: scroll;
        scrollbar-color: red orange;
        scrollbar-width: thin;
    }

    .modal-plan-title h2,
    .modal-plan-title h3,
    .modal-plan-title h4 {
        display: block;
        float: left;
        margin: 0;
    }

}