
/*******************************************************************************************************************
FOR BOTH TABLETS AND IPADS AND UP
*******************************************************************************************************************/
@media only screen
and (min-width: 768px) {

    .modal-wishes-main-title  {
        padding-top:1em;
        font-size: var(--wishes-form-main-title);
    }

    .modal-wish-list-item {
        margin-top: 1em;
        padding-top: .2em;
        /*font-size: var(--wishes-form-list);*/
        line-height: 110%;
    }

    .modal-wishes-name-label {
        font-size: var(--wishes-form-prompt-value);
        margin-top:3em;
    }

    .modal-wishes-name-value {
        font-size:var(--wishes-form-prompt-value);
        margin-top:2em;
        padding:.4em 0;
    }

    .modal-wishes-question-prompt {
        font-size: var(--wishes-form-question-number);
        padding: .5em 0;
    }

    .modal-wishes-question {
        font-size: var(--wishes-form-question);
        padding: 1em 0;
        line-height: 105%;
    }

    .modal-wishes-radio-answers {
        grid-column: 1;
        padding: 1em 0;
        line-height: 110%;
    }

    .modal-wishes-copy p {
        padding-top:2em;
        font-size: var(--wishes-form-copy);
        line-height: 150%;
    }
}
/*******************************************************************************************************************

*******************************************************************************************************************/
@media only screen
and (min-width: 768px)
and (max-width:1023px) {

    mat-dialog-container#make-wishes-modal {
        height: 700px;
        width:768px;
    }

    .modal-inner-block-wishes {
        height: 420px;
        width: 100%;
        background-color: white;
    }

    .modal-data-block-wishes {
        height:400px;
        width: 90%;
        margin: 0 5%;
        background-color: white;
    }

    .modal-wish-list-item {
        font-size: var(--wishes-form-small-list);
    }

    .modal-wishes-radio-answers {
        font-size: var(--wishes-form-small-answers);
    }

}

/*******************************************************************************************************************

*******************************************************************************************************************/
@media only screen
and (min-width: 1024px) {

    mat-dialog-container#make-wishes-modal {
        height: 770px;
        width:1024px;
    }

    .modal-inner-block-wishes {
        height: 460px;
        width: 100%;
        background-color: white;
    }

    .modal-data-block-wishes {
        height:440px;
        width: 90%;
        margin: 0 5%;
        background-color: white;
    }

    .modal-wish-list-item {
        font-size: var(--wishes-form-big-list);
    }

    .modal-wishes-radio-answers {
        font-size: var(--wishes-form-big-answers);
    }

}

/*******************************************************************************************************************
  GLOBAL
*******************************************************************************************************************/
@media only screen {

    /*
    modal-wishes-main-title
    modal-wish-list-item
    modal-wishes-question-prompt
    modal-wishes-question
    modal-wishes-radio-answers
    modal-wishes-copy
    modal-wishes-name-label, .modal-wishes-name-value
     */

    .modal-wishes-main-title, .modal-wishes-question-prompt {
        display: block;
        float: left;
        width: 100%;
        text-align: left;
        margin: 0;
        color: var(--color-dark-blue);
        font-family: var(--family-title);
    }

    .modal-wish-list-item, .modal-wishes-question, .modal-wishes-radio-answers {
        width: 100%;
        font-family: var(--family-copy);
        color: var(--color-dark-blue);
        text-align: left;
    }

    .modal-wishes-copy {
        width: 90%;
        margin:auto;
        font-family: var(--family-copy);
        color: var(--color-dark-blue);
        text-align: justify;
    }

    .modal-wishes-radio-answers {
        border: 1px dashed var(--color-dark-blue);
    }

    .modal-twenty-eighty-block {
        display: inline-grid;
        grid-template-columns: 20% 80%;
        width: 95%;
        margin-right:5%;
        text-align: left;
    }

    .modal-wishes-name-label, .modal-wishes-name-value {
        display: grid;
        width: 100%;
        color: var(--color-dark-blue);
        font-family: var(--family-forms);
        text-align: left;
    }

    .modal-wishes-name-label {
        grid-column: 1;
    }

    .modal-wishes-name-value {
        grid-column: 2;
    }

}