/*******************************************************************************************************************
  ALL BANANAS, MOBILES AND TABLET AND IPAD PORTRAIT (MAX IS 1 less than TABLET LANDSCAPE at and (min-width: 1280px))
*******************************************************************************************************************/
@media only screen
and (min-width: 240px)
and (max-width: 1279px) {

    .wizard-header {
        display:inline-grid;
        grid-template-columns: 25% 75%;
        /*height:100px;*/
    }


    .wizard-header-logo {
        grid-column:1;
        background-position: center;
        background-size: contain;
        justify-content: flex-start;
        width:100%;
    }

    .wizard-header-title {
        grid-column:2;
        width:100%;
        align-content: center;
        text-align:left;
    }

    .wizard-prompt {
        /*font-size:.7em;*/
        line-height: 115%;
        padding:0 1em;
        font-weight:200;
        height:50px;
    }

    .three-buttons-container {
        grid-template-columns:40% 30% 30%;
    }

    .one-button-container, .two-buttons-container, .three-buttons-container  {
        /*padding-top:1em;*/
    }

    .start-button, .save-button, .cancel-button, .next-button, .next-second-button, .previous-button, .print-button   {
        width:60px;
        height:35px;
        font-size:0.7em;
        padding:1em 0;
    }

    .start-plan-button {
        width:auto;
        height:35px;
        font-size:0.7em;
        padding:1em 0;
    }

    .errorMessage {
        font-size:0.7em;
    }
}

/*  BANANA PORTRAIT *******************************************************************************************/
@media only screen
and (min-width: 240px)
and (max-width: 359px)
and (orientation: portrait) {

    mat-dialog-container#rep-nine-modal {
        width: var(--wizard-banana-port-width);
        height: var(--wizard-banana-port-height);
    }

    /* Wizard Header */
    .wizard-header-title {
        font-size:0.6em;
        justify-content: flex-start;
    }

    .wizard-prompt {
        font-size: .9em;
    }

    /* Page 1 - planner name data entry */
    .planner-name-column, .error-message-block {
        font-size: var(--big-copy-banana-port-font-size);
    }

    .two-buttons-container {
        grid-template-columns:50% 50%;
    }

}

/* BANANA LANDSCAPE ****************************************************************************************************/
@media only screen
and (min-width: 568px)
and (max-width: 895px)
and (orientation: landscape) {

    mat-dialog-container#rep-nine-modal {
        width: var(--wizard-banana-land-width);
        height: var(--wizard-banana-land-height);
    }

    .wizard-header-title {
        font-size:0.8em;
        justify-content: center;
    }

    .wizard-prompt {
        font-size: 1.2em;
    }

    .planner-name-column, .error-message-block {
        font-size: var(--big-copy-banana-land-font-size);
    }

    .two-buttons-container {
        grid-template-columns:50% 50%;
    }

}

/* MOBILES PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 360px)
and (max-width: 599px)
and (orientation: portrait) {

    mat-dialog-container#rep-nine-modal {
        width: var(--wizard-mobile-port-width);
        height: var(--wizard-mobile-port-height);
    }

    .wizard-header-title {
        font-size:0.7em;
        justify-content: center;
    }

    .planner-name-column, .error-message-block {
        font-size: var(--big-copy-mobile-port-font-size);
    }

}

/*  MOBILES LANDSCAPE **************************************************************************************************/
@media only screen
and (min-width:896px )
and (max-width: 1279px)
and (orientation: landscape) {

    mat-dialog-container#rep-nine-modal {
        width: var(--wizard-mobile-land-width);
        height: var(--wizard-mobile-land-height);
    }

    .wizard-header-title {
        font-size:0.9em;
        justify-content: center;
    }

    .planner-name-column, .error-message-block {
        font-size: var(--big-copy-mobile-land-font-size);
    }

}

/*  TABLETS PORTRAIT *******************************************************************************************/
@media only screen
and (min-width: 600px)
and (max-width: 1023px)
and (orientation: portrait) {

    mat-dialog-container#rep-nine-modal {
        width: var(--wizard-tablet-port-width);
        height: var(--wizard-tablet-port-height);
    }

    .wizard-header-title {
        font-size:1em;
        justify-content: center;
    }

    .planner-name-column, .error-message-block {
        font-size: var(--big-copy-tablet-port-font-size);
    }

}

/* IPADS PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 1024px)
and (max-width: 1366px)
and (orientation: portrait) {

    mat-dialog-container#rep-nine-modal {
        width: var(--wizard-over-thousand-width);
        height: var(--wizard-over-thousand-height);
    }

    .wizard-header-title {
        font-size:1.2em;
        justify-content: center;
    }

    .planner-name-column, .error-message-block {
        font-size: var(--big-copy-ipad-port-font-size);
    }

}

/*******************************************************************************************************************
  ALL THAT SHOW DESKTOP - TABLET LANDSCAPE, IPAD LANDSCAPE, LAPTOP, DESKTOP and UP
*******************************************************************************************************************/

@media only screen
and (min-width: 1280px)
and (orientation: landscape) {

    mat-dialog-container#rep-nine-modal {
        width: var(--wizard-over-thousand-width);
        height: var(--wizard-over-thousand-height);
    }

    mat-dialog-container#wishes-modal {
        width: 880px;
        height: 750px;
    }

    .wizard-block  {
        margin-top:2em;
    }



    .wizard-header {
        display:inline-grid;
        grid-template-columns: 300px 1fr;
    }

    .wizard-header-logo {
        display:grid;
        grid-column:1;
        background-position: center;
        background-size: auto;
        justify-content: center;
        height: 150px;
        width:139px;
    }

    .wizard-header-title {
        display:grid;
        grid-column:2;
        justify-content: flex-start;
        font-size:1.6em;
        align-content: center;
        width:100%;
    }

    .wizard-prompt {
        display:grid;
        padding:0 1em 1em 1em;
        height:80px;
        line-height:105%;
    }

    .wizard-end {
        display:grid;
        font-size: var(--big-copy-desktop-font-size);
        font-weight: bold;
        align-content: center;
        justify-content: center;
    }

    .wizard-prompt span {
        font-size: var(--med-copy-desktop-font-size);
    }

    .wizard-prompt p {
        font-size: var(--big-copy-desktop-font-size);
        font-weight: bold;
    }

    .two-buttons-container {
        grid-template-columns:85% 15%;
    }

    .three-buttons-container {
        grid-template-columns:70% 15% 15%;
    }

    .start-button, .save-button, .cancel-button, .next-button, .next-second-button, .previous-button, .print-button   {
        /*padding:1em 0;*/
        font-size:1.1em;
        width:100px;
        height:50px;
    }

    .start-plan-button {
        width:auto;
        height:50px;
        font-size:1.1em;
        padding:1em;
    }
}

/*  TABLETS LANDSCAPE *******************************************************************************************/
@media only screen
and (min-width: 1280px)
and (max-width: 1365px)
and (orientation: landscape) {

    .planner-name-column, .error-message-block {
        font-size: var(--big-copy-tablet-land-font-size);
    }

}

/* IPADS LANDSCAPE ***************************************************************************************************/
@media only screen
and (min-width: 1366px)
and (max-width: 1439px)
and (orientation: landscape) {

    .planner-name-column, .error-message-block {
        font-size: var(--big-copy-ipad-land-font-size);
    }

}

/* DESKTOPS ****************************************************************************************************/
@media only screen
and (min-width: 1440px) {

    .planner-name-column, .planner-name-column text, .error-message-block {
        font-size: var(--big-copy-desktop-font-size);
    }
}

/* GLOBAL *************************************************************************************************************/
@media only screen {

    /* Overwrite the styles of the mat-dialog-container element globally, but only for those that have an id of `modal-component` */
    mat-dialog-container#rep-nine-modal, mat-dialog-container#wishes-modal {
        border: 3px solid var(--color-dark-blue);
        border-radius: 2em;
        background-color: var(--color-background-blue);
        margin:auto;
        overflow-y: scroll;
    }

    #modal-content-wrapper {
        height:100%;
        width:100%;
        display: grid;
        background-color: white;
        font-family: var(--family-headers);
        color: var(--color-dark-blue);
        overflow-y: scroll;
    }

    .modal-inner-content {
        display:block;
        float:left;
        height:100%;
        width:90%;
        margin-left:5%;
        margin-right:5%;
    }

    /* THE WIZARD HEADER */
    /*.wizard-block, .wizard-container {*/
    .wizard-block {
        display:block;
        float:left;
        width:100%;
    }

    .wizard-province-stamp {
        display:block;
        width:100%;
        margin:auto;
        font-family:"sans-serif";
        font-size:1.5em;
        padding:0;
    }

    .wizard-padded-heading {
        display:block;
        width:100%;
        margin:auto;
        font-family:"sans-serif";
        font-size:1.5em;
        padding-top:1em;
    }

    .wizard-unpadded-heading {
        display:block;
        width:100%;
        margin:auto;
        font-family:"sans-serif";
        font-size:1.5em;
    }

    .wizard-header {
        font-family: var(--family-headers);
        color:var(--color-dark-blue);
        width:100%;
        padding-bottom: 1em;
        /*border-bottom: 2px solid var(--color-darkest-grey);*/
    }

    .wizard-header-logo {
        display:grid;
        justify-content: center;
        background-repeat: no-repeat;
        background-image:url("src/assets/images/details/planning/wizardModalLogo.jpg");
    }

    .wizard-header-title {
        display:grid;
        font-weight:800;
        line-height:140%;
    }

    .wizard-grid {
        display: grid;
        width:100%;
        border:thick solid red;
    }

    /* DATA ENTRY FORM FOR NAME */
    .wizard-form {
        display: grid;
        width:100%;
    }

    .signing-form {
        display: grid;
        width:100%;
        margin:auto;
        border:thin solid black;
    }

    .error-message-block {
        display:block;
        float:left;
        width: 100%;
        line-height: 110%;
        font-family: var(--family-copy);
        color:red;
        font-weight:600;
    }

    .planner-name-block  {
        display:block;
        float:left;
        width: 100%;
        font-family: var(--family-copy);
    }

    .planner-name-column {
        display:block;
        width:100%;
        float:left;
        padding:1em 0;
        color: var(--color-dark-blue);
    }

    .rep-name-block  {
        display:inline-block;
        float:left;
        width: 100%;
        font-family: var(--family-rep-form);
    }

    .planner-name-column {
        display:block;
        width:100%;
        float:left;
        padding:1em 0;
        color: var(--color-dark-blue);
    }


    .one-button-container, .two-buttons-container, .three-buttons-container  {
        /*padding-top:2em;*/

        /*border:thick solid red;*/

    }

    .one-button-container  {
        display: grid;
        width:90%;
        margin:auto;
        justify-content:center;
        align-content: flex-end;
    }

    .two-buttons-container, .three-buttons-container  {
        display: inline-grid;
        width:95%;
        /*margin: 1em auto 1em auto;*/
        align-content: center;
        justify-items: flex-end;

        margin: auto;
        max-width: var(--content-width);
    }

    .start-button, .start-plan-button, .save-button, .cancel-button, .next-button, .next-second-button, .previous-button, .print-button   {
        display:grid;
        color: var(--color-white);
        background-color: var(--color-dark-blue);
        border-radius: 1em;
        text-align: center;
        align-content: center;
    }

    .start-button {
        justify-content: center;
    }

    .cancel-button, .start-button, .start-plan-button  {
        grid-column: 1;
    }

    .save-button {
        grid-column:2;
    }

    .previous-button, .print-button  {
        grid-column:2;
    }

    .next-button  {
        grid-column:3;
    }

    .next-second-button {
        grid-column:2;
    }
    /*.required  {
           border-left: 5px solid #42A948; !* green *!
           height:auto;
       }*/

    .fixed-height-90 {
        height:90px;
    }

    .fixed-height-40 {
        margin-top:30px;
        height:30px;
    }

}
