<div class="print-block">

    <app-print-header [rep]='rep' [title]='title'></app-print-header>

    <div class="print-form-province">
        BRITISH COLUMBIA
        <hr>
    </div>

    <div class="print-title">
        <h2>REPRESENTATION AGREEMENT (SECTION 9)</h2>
    </div>

    <div class="print-title">
        <h2>THIS REPRESENTATION AGREEMENT IS MADE BY ME, THE ADULT:<br>
            {{ rep.client_name }} at
        </h2>
    </div>

    <div class="print-inline-label-value">
        <div class="print-inline-label">
            Address:
        </div>

        <ng-container *ngIf="rep.client_address.length > 0 && rep.client_address != '' ">
            <div class="print-inline-value">
                {{ rep.client_address }}
            </div>
        </ng-container>

        <ng-container *ngIf="rep.client_address.length == 0 && rep.client_address == '' ">
            <div class="print-inline-line"></div>
        </ng-container>
    </div>

    <div class="print-inline-label-value">
        <div class="print-inline-label">
            City:
        </div>

        <ng-container *ngIf="rep.client_city.length > 0 && rep.client_city != ''">
            <div class="print-inline-value">
                {{ rep.client_city }}
            </div>
        </ng-container>

        <ng-container *ngIf="rep.client_city.length == 0 && rep.client_city == ''">
            <div class="print-inline-line"></div>
        </ng-container>
    </div>

    <div class="print-inline-label-value">
        <div class="print-inline-label">
            Postal Code:
        </div>

        <ng-container *ngIf="rep.client_postal.length > 0 && rep.client_postal != ''">
            <div class="print-inline-value">
                {{ rep.client_postal | mask: "U0U-0U0"}}
            </div>
        </ng-container>

        <ng-container *ngIf="rep.client_postal.length == 0 && rep.client_postal == ''">
            <div class="print-inline-line"></div>
        </ng-container>
    </div>

    <div class="print-title">
        <h2>in the Province of British Columbia</h2>
    </div>

    <div class="print-title">
        <h1>PERSONAL INFORMATION:</h1>
    </div>

    <ng-container *ngIf="rep.client_dob.length > 0 && rep.client_dob != '' ">
        <div class="print-form-text-block">
            <p>Birthdate: {{ rep.client_dob }}</p>
        </div>
    </ng-container>

    <div class="print-title">
        <h2>REVOCATION OF PREVIOUS INSTRUMENTS:</h2>
    </div>

    <div class="print-title">
        <h2>I revoke any previous Representative Section 9 agreements I have made.</h2>
    </div>

    <div class="print-title">
        <h1>RULES FOR REPRESENTATIVE(S):</h1>
    </div>

    <div class="print-form-text-block">
        <p>The Representative(s) that I have chosen abide by the rules for appointing Representatives.
            <br><br>
            Pursuant to section 9 (1) (a) of the Representation Agreement Act, I authorize my Representative to do anything that the
            Representative considers necessary in relation to my personal care and health care.
        </p>
    </div>

    <div class="print-title">
        <h1>PRIMARY REPRESENTATIVE:</h1>
    </div>

    <!-- start s here -->
    <div class="print-form-text-block">
        <p>I appoint {{ rep.rep_primary_name }} to be my Primary Representative in accordance with section 9 of the Representative
            Agreement Act.
            <br><br>
            I give {{ rep.rep_primary_name }} authority to make decisions on my behalf for all personal care and
            health care matters of a non-financial nature that relate to me.
        </p>
    </div>

    <div class="print-inline-label-value">
        <div class="print-inline-label">
            Address:
        </div>

        <ng-container *ngIf="rep.rep_primary_address.length > 0 && rep.rep_primary_address != '' ">
            <div class="print-inline-value">
                {{ rep.rep_primary_address }}
            </div>
        </ng-container>

        <ng-container *ngIf="rep.rep_primary_address.length == 0 && rep.rep_primary_address == '' ">
            <div class="print-inline-line"></div>
        </ng-container>
    </div>

    <div class="print-inline-label-value">
        <div class="print-inline-label">
            City/Province:
        </div>

        <ng-container *ngIf="rep.rep_primary_city.length > 0 && rep.rep_primary_city != ''">
            <ng-container *ngIf="rep.rep_primary_province.length > 0 && rep.rep_primary_province != ''">
                <div class="print-inline-value">
                    {{ rep.rep_primary_city }}, {{ rep.rep_primary_province }}
                </div>
            </ng-container>
        </ng-container>

        <ng-container *ngIf="rep.rep_primary_city.length > 0 && rep.rep_primary_city != ''">
            <ng-container *ngIf="rep.rep_primary_province.length == 0 && rep.rep_primary_province == ''">
                <div class="print-inline-value">
                    {{ rep.rep_primary_city }},
                </div>
            </ng-container>
        </ng-container>

        <ng-container *ngIf="rep.rep_primary_city.length == 0 && rep.rep_primary_city == ''">
            <ng-container *ngIf="rep.rep_primary_province.length > 0 && rep.rep_primary_province != ''">
                <div class="print-inline-value">
                    {{ rep.rep_primary_province }}
                </div>
            </ng-container>
        </ng-container>

        <ng-container *ngIf="rep.rep_primary_city.length == 0 && rep.rep_primary_city == ''">
            <ng-container *ngIf="rep.rep_primary_province.length == 0 && rep.rep_primary_province == ''">
                <div class="print-inline-value">
                </div>
            </ng-container>
        </ng-container>
    </div>

    <div class="print-inline-label-value">
        <div class="print-inline-label">
            Postal Code:
        </div>

        <ng-container *ngIf="rep.rep_primary_postal.length > 0 && rep.rep_primary_postal != ''">
            <div class="print-inline-value">
                {{ rep.rep_primary_postal | mask: "U0U-0U0"}}
            </div>
        </ng-container>

        <ng-container *ngIf="rep.rep_primary_postal.length == 0 && rep.rep_primary_postal == ''">
            <div class="print-inline-line"></div>
        </ng-container>
    </div>

    <div class="print-title">
        <h1>ALTERNATE REPRESENTATIVE:</h1>
    </div>

    <!-- start s here -->
    <div class="print-form-text-block">
        <p>I appoint {{ rep.rep_alternate_name }} to be my Alternate Representative in accordance with section 9 of the Representative
            Agreement Act.
            <br><br>
            I give {{ rep.rep_alternate_name }} authority to make decisions on my behalf for all personal care and
            health care matters of a non-financial nature that relate to me.
        </p>
    </div>

    <div class="print-inline-label-value">
        <div class="print-inline-label">
            Address:
        </div>

        <ng-container *ngIf="rep.rep_alternate_address.length > 0 && rep.rep_alternate_address != '' ">
            <div class="print-inline-value">
                {{ rep.rep_alternate_address }}
            </div>
        </ng-container>

        <ng-container *ngIf="rep.rep_alternate_address.length == 0 && rep.rep_alternate_address == '' ">
            <div class="print-inline-line"></div>
        </ng-container>
    </div>

    <div class="print-inline-label-value">
        <div class="print-inline-label">
            City/Province:
        </div>

        <ng-container *ngIf="rep.rep_alternate_city.length > 0 && rep.rep_alternate_city != ''">
            <ng-container *ngIf="rep.rep_alternate_province.length > 0 && rep.rep_alternate_province != ''">
                <div class="print-inline-value">
                    {{ rep.rep_alternate_city }}, {{ rep.rep_alternate_province }}
                </div>
            </ng-container>
        </ng-container>

        <ng-container *ngIf="rep.rep_alternate_city.length > 0 && rep.rep_alternate_city != ''">
            <ng-container *ngIf="rep.rep_alternate_province.length == 0 && rep.rep_alternate_province == ''">
                <div class="print-inline-value">
                    {{ rep.rep_alternate_city }},
                </div>
            </ng-container>
        </ng-container>

        <ng-container *ngIf="rep.rep_alternate_city.length == 0 && rep.rep_alternate_city == ''">
            <ng-container *ngIf="rep.rep_alternate_province.length > 0 && rep.rep_alternate_province != ''">
                <div class="print-inline-value">
                    {{ rep.rep_alternate_province }}
                </div>
            </ng-container>
        </ng-container>

        <ng-container *ngIf="rep.rep_alternate_city.length == 0 && rep.rep_alternate_city == ''">
            <ng-container *ngIf="rep.rep_alternate_province.length == 0 && rep.rep_alternate_province == ''">
                <div class="print-inline-value">
                </div>
            </ng-container>
        </ng-container>
    </div>

    <div class="print-inline-label-value">
        <div class="print-inline-label">
            Postal Code:
        </div>

        <ng-container *ngIf="rep.rep_alternate_postal.length > 0 && rep.rep_alternate_postal != ''">
            <div class="print-inline-value">
                {{ rep.rep_alternate_postal | mask: "U0U-0U0"}}
            </div>
        </ng-container>

        <ng-container *ngIf="rep.rep_alternate_postal.length == 0 && rep.rep_alternate_postal == ''">
            <div class="print-inline-line"></div>
        </ng-container>
    </div>

    <div class="print-title">
        <h1>MY INSTRUCTIONS FOR CARE:</h1>
    </div>

    <div class="print-form-text-block">
        <p>The following are my instructions or wishes with respect to decisions that will be made within the areas of
            authority given to my Representative under this Representation Agreement.</p>
    </div>

    <ng-container *ngIf="rep.instructions_for_reps.length > 0 && rep.instructions_for_reps != '' ">
        <div class="print-form-instructions">
            <p>{{ rep.instructions_for_reps }}</p>
            <div class="black-full-line"></div>
        </div>
    </ng-container>
    <ng-container *ngIf="rep.instructions_for_reps.length == 0 && rep.instructions_for_reps == '' ">
        <div class="print-form-instructions">
            <div class="black-line"></div>
            <div class="black-line"></div>
            <div class="black-line"></div>
            <div class="black-line"></div>
        </div>
    </ng-container>

    <div class="page-break-before"></div>

    <div class="print-form-text-block">
        <p>
            Before a person may exercise the authority of a Representative under a Representation Agreement, that person
                must sign the Representation Agreement
        </p>
    </div>

    <div class="print-title">
        <h2>SIGNATURES:</h2>
    </div>

    <div class="print-title">
        <h2>I have signed this Representation Agreement in the presence of the witnesses whose names appears below.</h2>
    </div>

    <div class="print-title">
        <h1>ADULT MAKING THIS AGREEMENT</h1>
    </div>

    <div class="print-inline-label-value">
        <ng-container *ngIf="rep.client_name.length > 0 && rep.client_name != '' ">
            <div class="print-inline-label">
                Print Name:
            </div>
            <div class="print-inline-value">
                {{ rep.client_name }}
            </div>
        </ng-container>

        <ng-container *ngIf="rep.client_name.length == 0 && rep.client_name == '' ">
            <div class="print-inline-label">
                Print Name:
            </div>
            <div class="print-inline-line"></div>
        </ng-container>
    </div>

    <div class="print-inline-label-value">
        <div class="print-inline-label">
            Signature:
        </div>
        <div class="print-inline-line"></div>
    </div>

    <div class="print-inline-label-value">
        <div class="print-inline-label">
            Date Signed (YYYY/MM/DD):
        </div>

        <div class="print-inline-line"></div>
    </div>

    <div class="print-title">
        <h1>REPRESENTATIVES</h1>
    </div>

    <div class="print-form-text-block">
        <p>
            The authority of a representative appointed under this representation agreement includes the power to give or refuse
            consent to health care necessary to preserve life.
        </p>
    </div>

    <div class="print-title">
        <h2>PRIMARY REPRESENTATIVE</h2>
    </div>

    <div class="print-inline-label-value">
        <ng-container *ngIf="rep.rep_primary_name.length > 0 && rep.rep_primary_name != '' ">
            <div class="print-inline-label">
               Print Name:
            </div>
            <div class="print-inline-value">
                {{ rep.rep_primary_name }}
            </div>
        </ng-container>

        <ng-container *ngIf="rep.rep_primary_name.length == 0 && rep.rep_primary_name == '' ">
            <div class="print-inline-label">
                Print Name:
            </div>
            <div class="print-inline-line"></div>
        </ng-container>
    </div>

    <div class="print-inline-label-value">
        <div class="print-inline-label">
            Signature:
        </div>
        <div class="print-inline-line"></div>
    </div>

    <div class="print-inline-label-value">
        <div class="print-inline-label">
            Date Signed (YYYY/MM/DD):
        </div>

        <div class="print-inline-line"></div>
    </div>

    <div class="print-title">
        <h1>ALTERNATE REPRESENTATIVE</h1>
    </div>

    <div class="print-inline-label-value">
        <ng-container *ngIf="rep.rep_alternate_name.length > 0 && rep.rep_alternate_name != '' ">
            <div class="print-inline-label">
                Print Name:
            </div>
            <div class="print-inline-value">
                {{ rep.rep_alternate_name }}
            </div>
        </ng-container>

        <ng-container *ngIf="rep.rep_alternate_name.length == 0 && rep.rep_alternate_name == '' ">
            <div class="print-inline-label">
                Print Name:
            </div>
            <div class="print-inline-line"></div>
        </ng-container>
    </div>

    <div class="print-inline-label-value">
        <div class="print-inline-label">
            Signature:
        </div>
        <div class="print-inline-line"></div>
    </div>

    <div class="print-inline-label-value">
        <div class="print-inline-label">
            Date Signed (YYYY/MM/DD):
        </div>

        <div class="print-inline-line"></div>
    </div>


    <div class="print-title">
        <h1>WITNESSES</h1>
    </div>

    <div class="print-form-text-block">
        <p>
            Only one witness is required if the witness is a lawyer or a member in good standing of the Society of
            Notaries Public of British Columbia.
        </p>
    </div>
    <!-- WITNESS 1 -->
    <div class="print-title">
        <h2>WITNESS # 1</h2>
    </div>

    <ng-container *ngIf="rep.witness_one_name.length > 0 && rep.witness_one_name != '' ">
        <ng-container *ngIf="rep.witness_type == 'lawyer' || rep.witness_type == 'notary'">
            <ng-container *ngIf="rep.witness_type == 'lawyer'">
                <div class="print-form-text-block">
                    <p>({{ rep.witness_one_name }} has been designated a Lawyer. In this case, they are the only witness
                        needed. If this is not correct, you will still need 2 witnesses.
                    </p>
                </div>
            </ng-container>
            <ng-container *ngIf="rep.witness_type == 'notary'">
                <div class="print-form-text-block">
                    <p>({{ rep.witness_one_name }} has been designated a Notary Public. In this case, they are the only witness
                        needed. If this is not correct, you will still need 2 witnesses.
                    </p>
                </div>
            </ng-container>
        </ng-container>
    </ng-container>

    <div class="print-inline-label-value">
        <ng-container *ngIf="rep.witness_one_name.length > 0 && rep.witness_one_name != '' ">
            <div class="print-inline-label">
                Print Name:
            </div>
            <div class="print-inline-value">
                {{ rep.witness_one_name }}
            </div>
        </ng-container>

        <ng-container *ngIf="rep.witness_one_name.length == 0 && rep.witness_one_name == '' ">
            <div class="print-inline-label">
                Print Name:
            </div>
            <div class="print-inline-line"></div>
        </ng-container>
    </div>

    <div class="print-inline-label-value">
        <div class="print-inline-label">
            Address:
        </div>

        <ng-container *ngIf="rep.witness_one_address.length > 0 && rep.witness_one_address  != '' ">
            <div class="print-inline-value">
                {{ rep.witness_one_address }}
            </div>
        </ng-container>

        <ng-container *ngIf="rep.witness_one_address.length == 0 && rep.witness_one_address  == '' ">
            <div class="print-inline-line"></div>
        </ng-container>
    </div>

    <div class="print-inline-label-value">
        <div class="print-inline-label">
            City:
        </div>

        <ng-container *ngIf="rep.witness_one_city.length > 0 && rep.witness_one_city  != '' ">
            <div class="print-inline-value">
                {{ rep.witness_one_city }}
            </div>
        </ng-container>

        <ng-container *ngIf="rep.witness_one_city.length == 0 && rep.witness_one_city  == '' ">
            <div class="print-inline-line"></div>
        </ng-container>
    </div>

    <div class="print-inline-label-value">
        <div class="print-inline-label">
            Province:
        </div>

        <ng-container *ngIf="rep.witness_one_province.length > 0 && rep.witness_one_province  != '' ">
            <div class="print-inline-value">
                {{ rep.witness_one_province }}
            </div>
        </ng-container>

        <ng-container *ngIf="rep.witness_one_province.length == 0 && rep.witness_one_province  == '' ">
            <div class="print-inline-line"></div>
        </ng-container>
    </div>

    <div class="print-inline-label-value">
        <div class="print-inline-label">
            Signature:
        </div>
        <div class="print-inline-line"></div>
    </div>

    <div class="print-inline-label-value">
        <div class="print-inline-label">
            Date Signed (YYYY/MM/DD):
        </div>

        <div class="print-inline-line"></div>
    </div>

    <!-- WITNESS 2 -->
    <div class="print-title">
        <h1>WITNESS # 2</h1>
    </div>

    <div class="print-inline-label-value">
        <ng-container *ngIf="rep.witness_two_name.length > 0 && rep.witness_two_name != '' ">
            <div class="print-inline-label">
               Print Name:
            </div>
            <div class="print-inline-value">
                {{ rep.witness_two_name }}
            </div>
        </ng-container>

        <ng-container *ngIf="rep.witness_two_name.length == 0 && rep.witness_two_name == '' ">
            <div class="print-inline-label">
                Print Name:
            </div>
            <div class="print-inline-line"></div>
        </ng-container>
    </div>

    <div class="print-inline-label-value">
        <div class="print-inline-label">
            Address:
        </div>

        <ng-container *ngIf="rep.witness_two_address.length > 0 && rep.witness_two_address  != '' ">
            <div class="print-inline-value">
                {{ rep.witness_two_address }}
            </div>
        </ng-container>

        <ng-container *ngIf="rep.witness_two_address.length == 0 && rep.witness_two_address  == '' ">
            <div class="print-inline-line"></div>
        </ng-container>
    </div>

    <div class="print-inline-label-value">
        <div class="print-inline-label">
            City:
        </div>

        <ng-container *ngIf="rep.witness_two_city.length > 0 && rep.witness_two_city  != '' ">
            <div class="print-inline-value">
                {{ rep.witness_two_city }}
            </div>
        </ng-container>

        <ng-container *ngIf="rep.witness_two_city.length == 0 && rep.witness_two_city  == '' ">
            <div class="print-inline-line"></div>
        </ng-container>
    </div>

    <div class="print-inline-label-value">
        <div class="print-inline-label">
            Province:
        </div>

        <ng-container *ngIf="rep.witness_two_province.length > 0 && rep.witness_two_province  != '' ">
            <div class="print-inline-value">
                {{ rep.witness_two_province }}
            </div>
        </ng-container>

        <ng-container *ngIf="rep.witness_two_province.length == 0 && rep.witness_two_province  == '' ">
            <div class="print-inline-line"></div>
        </ng-container>
    </div>

    <div class="print-inline-label-value">
        <div class="print-inline-label">
            Signature:
        </div>
        <div class="print-inline-line"></div>
    </div>

    <div class="print-inline-label-value">
        <div class="print-inline-label">
            Date Signed (YYYY/MM/DD):
        </div>

        <div class="print-inline-line"></div>
    </div>
</div>

<app-print-footer></app-print-footer>