
/*  BANANA PORTRAIT *******************************************************************************************/
@media only screen
and (min-width: 240px)
and (max-width: 359px)
and (orientation: portrait) {

  .footer-top p {
    font-size:var(--data-banana-port-font-p-size);
  }

  .footer-bottom p {
    font-size:var(--data-banana-port-font-p-size);
  }

  .footer-bottom span {
    font-size:var(--data-banana-port-font-span-size);
  }

}

/* BANANA LANDSCAPE ****************************************************************************************************/
@media only screen
and (min-width: 568px)
and (max-width: 895px)
and (orientation: landscape) {

  .footer-top p {
    font-size:var(--data-banana-land-font-p-size);
  }

  .footer-bottom p {
    font-size:var(--data-banana-land-font-p-size);
  }

  .footer-bottom span {
    font-size:var(--data-banana-land-font-span-size);
  }

}

/* MOBILES PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 360px)
and (max-width: 599px)
and (orientation: portrait) {

  .footer-top p {
    font-size:var(--data-mobile-port-font-p-size);
  }

  .footer-bottom p {
    font-size:var(--data-mobile-port-font-p-size);
  }

  .footer-bottom span {
    font-size:var(--data-mobile-port-font-span-size);
  }

}

/*  MOBILES LANDSCAPE **************************************************************************************************/
@media only screen
and (min-width:896px )
and (max-width: 1279px)
and (orientation: landscape) {

  .footer-top p {
    font-size: var(--data-mobile-land-font-p-size);
  }

  .footer-bottom p {
    font-size: var(--data-mobile-land-font-p-size);
  }

  .footer-bottom span {
    font-size: var(--data-mobile-land-font-span-size);
  }

}

/* TABLETS PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 600px)
and (max-width: 1023px)
and (orientation: portrait) {

  .footer-top p {
    font-size: var(--data-tablet-port-font-p-size);
  }

  .footer-bottom p {
    font-size: var(--data-tablet-port-font-p-size);
  }

  .footer-bottom span {
    font-size: var(--data-tablet-port-font-span-size);
  }

}

/* TABLETS LANDSCAPE ***************************************************************************************************/
@media only screen
and (min-width: 1280px)
and (max-width: 1365px)
and (orientation: landscape) {

  .footer-top p {
    font-size: var(--data-tablet-land-font-p-size);
  }

  .footer-bottom p {
    font-size:var(--data-tablet-land-font-p-size);
  }

  .footer-bottom span {
    font-size:var(--data-tablet-land-font-span-size);
  }

}

/* IPADS PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 1024px)
and (max-width: 1366px)
and (orientation: portrait) {

  .footer-top p {
    font-size: var(--data-ipad-port-font-p-size);
  }

  .footer-bottom p {
    font-size:var(--data-ipad-port-font-p-size);
  }

  .footer-bottom span {
    font-size:var(--data-ipad-port-font-span-size);
  }

}

/* IPADS LANDSCAPE ***************************************************************************************************/
@media only screen
and (min-width: 1366px)
and (max-width: 1439px)
and (orientation: landscape) {

  .footer-top p {
    font-size: var(--data-ipad-land-font-p-size);
  }

  .footer-bottom p {
    font-size: var(--data-ipad-land-font-p-size);
  }

  .footer-bottom span {
    font-size: var(--data-ipad-land-font-span-size);
  }
}

/* LAPTOPS ****************************************************************************************************/
@media only screen
and (min-width: 1440px)
and (max-width:1919px){

  .footer-top p {
    font-size: var(--data-laptop-desktop-font-p-size);
  }

  .footer-bottom p {
    font-size: var(--data-laptop-desktop-font-p-size);
  }

  .footer-bottom span {
    font-size: var(--data-laptop-desktop-font-span-size);
  }
}

/* DESKTOPS ***********************************************************************************************************/
@media only screen
and (min-width: 1920px) {

  .footer-top p {
    font-size: 1.3em;
  }

  .footer-bottom p {
    font-size:1.4em;
  }

  .footer-bottom span {
    font-size:1em;
  }

}

/* GLOBAL *************************************************************************************************************/
@media only screen {

  /* footer top = with for more details, footer bottom is copyright */

  .footer-top, .footer-bottom  {
    display: grid;
    width:100%;
    justify-items: center;
  }

  .footer-top {
    padding-top:1em;
    background-color: white;
  }

  .footer-bottom {
    padding-bottom:1em;
    background-color: var(--color-light-blue);
  }

  .footer-top p, .footer-top p a, .footer-bottom p, .footer-bottom span {
    line-height: var(--copy-line-height-small);
    font-family: var(--family-data);
    text-align: center;
  }

  .footer-top p, .footer-top p a {
    color: var(--color-light-blue);

  }

  .footer-bottom p, .footer-bottom span {
    color: var(--color-white);
  }

  .footer-top p {
    /*border-top: thin dotted grey;*/
  }

  .footer-top p a {
    text-decoration: underline;
  }

  .footer-top img {
    max-width:100%;
    height:auto;
  }





}

@media print {
  .footer {
    display: none;
  }
}





