<div id="footers">
    <div class="footer-top">
        <div class="content-dark-copy">
            <p>For more details, please write to me at:
                <a href="mailto:karen@mindworksEnergyMedicine.com">karen@mindworksEnergyMedicine.com</a>
            </p>
        </div>

        <img alt="email" src="assets/images/icons/emailFigure8Small.png" title="Figure 8s">
    </div>

    <div class="footer-bottom">
        <div class="screen-title">
            <h3>Transitions in Energy</h3>
        </div>

        <div class="content-white-copy">
            <p>
                Copyright &copy;&nbsp;2022
                <br>
                Designed by Mindworks Software Design, Inc.
            </p>

            <span>
                The information on this site is not intended to diagnose, treat or cure illness.
            </span>
        </div>
    </div>
</div>
