
<div id="footers">
  <div class="footer-top">
    <p>
      For more details, please write to me at:
      <a href="mailto:karen@mindworksEnergyMedicine.com">karen@mindworksEnergyMedicine.com</a>
    </p>
    <img src="assets/images/footers/emailFigure8Small.png" title="Figure 8s">
  </div>

  <div class="footer-bottom">
    <p>
      Copyright &copy; 2022
      <br>
      Mindworks Software Design, Inc.
    </p>

    <span>
            The information on this site is not intended to diagnose, treat or cure illness.
        </span>
  </div>
</div>


