<div id="footers">
    <div class="laptop-footer">
        <!-- row 1 -->
        <div class="footer-email">
            <div class="content-copy">
                <p>For more details, please write to me at:
                    <a href="mailto:karen@transitionsInEnergy.com">karen&#64;transitionsInEnergy.com</a>
                </p>
            </div>
        </div>

        <div class="footer-email-icon">
            <img alt="email" src="../../assets/images/icons/emailFigure8Small.png" title="Figure 8s">
        </div>

        <!-- row 2 -->
        <div class="footer-name">
            <div class="content-copy">
                <p>
                    <b>Transitions in Energy</b>
                    <br>
                    <i>End of Life Planning Support</i>
                </p>
            </div>
        </div>

        <!-- row 3 -->
        <div class="footer-socials">
            <div class="grid-socials">
                <div class="footer-eden-icon">
                    <a href="https://practitioner.edenmethod.com/listing/karen-gail-allan/" target="_blank">
                        <img src="../../assets/images/footers/edenLink.gif" title="Eden Method" alt="Eden Method">
                    </a>
                </div>

                <div class="footer-canadian-icon">
                    <img src="../../assets/images/footers/cdnFlag.gif" title="proud canadian" alt="proud canadian">
                </div>

                <div class="footer-mw-energy-icon">
                    <a href="https://mindworksEnergyMedicine.com/" target="_blank">
                        <img src="../../assets/images/footers/energyWork.gif" title="Mindworks Energy Medicine"
                             alt="Mindworks Energy Medicine">
                    </a>
                </div>
            </div>
        </div>

        <!-- ROW 4 -->
        <div class="footer-copyright">
            <div class="content-copy">
                <p>
                    Copyright &copy;&nbsp;2025 - Mindworks Software Design, Inc.
                </p>

                <span>
                The information on this site is not intended to replace medical advice or treatment.
            </span>
            </div>
        </div>
    </div>

    <div class="mobile-footer">
        <!-- row 1 -->
        <div class="footer-email">
            <div class="content-copy">
                <p>For more details, please connect at:<br>
                    <a href="mailto:karen@transitionsInEnergy.com">karen&#64;transitionsInEnergy.com</a>
                </p>
            </div>
        </div>

        <!-- row 2 -->
        <div class="footer-name">
            <div class="content-copy">
                <p>
                    <b>Transitions in Energy</b>
                </p>
                <span>
                    <i>End of Life Planning Support</i>
                </span>
            </div>
        </div>

        <!-- row 3 -->
        <div class="footer-socials">
            <div class="grid-socials">
                <div class="footer-eden-icon">
                    <a href="https://practitioner.edenmethod.com/listing/karen-gail-allan/" target="_blank">
                        <img src="../../assets/images/footers/edenLink.gif" title="Eden Method" alt="Eden Method">
                    </a>
                </div>

                <div class="footer-canadian-icon">
                    <img src="../../assets/images/footers/cdnFlag.gif" title="proud canadian" alt="proud canadian">
                </div>

                <div class="footer-mw-energy-icon">
                    <a href="https://mindworksEnergyMedicine.com/" target="_blank">
                        <img src="../../assets/images/footers/energyWork.gif" title="Mindworks Energy Medicine"
                             alt="Mindworks Energy Medicine">
                    </a>
                </div>
            </div>
        </div>

        <!-- ROW 4 -->
        <div class="footer-copyright">
            <p>
                Copyright &copy;&nbsp;2025<br>
                Mindworks Software Design, Inc.
            </p>

            <span>
                The information on this site is not intended to replace medical advice or treatment.
            </span>
        </div>
    </div>
</div>