
/*******************************************************************************************************************
  MOBILES (320)
*******************************************************************************************************************/
@media only screen
and (min-width: 320px)
and (max-width:767px) {

    .footer-email p, .footer-name p {
        font-size:var(--p-mobile);
    }

    .footer-copyright p, .footer-disclaimer span {
        font-size:var(--span-mobile);
    }

    .grid-socials {
        width:30%;
    }

}

/*******************************************************************************************************************
 GLOBAL TABLETS - PORTRAIT
*******************************************************************************************************************/
@media only screen
and (min-width: 768px) {

    .footer-email p, .footer-name p {
        font-size:var(--p-laptop);
    }

    .footer-copyright p, .footer-disclaimer span {
        font-size:var(--span-laptop);
    }

}

/* GLOBAL *************************************************************************************************************/
@media screen {

    #footers {
        display: block;
        float:left;
        width:100%;
        max-width: var(--desktop-width);
        margin-top:2em;
        background: var(--color-white);
        border-top: thin dashed var(--color-dark-blue);
    }

    .footer-content {
        display:grid;
        max-width:var(--min-laptop-width);
        margin:auto;
        font-family:var(--family-copy);
    }

    .footer-email, .footer-name, .footer-disclaimer, .footer-copyright {
        display:grid;
        justify-content: center;
        align-content: center;
        text-align: center;
        width:100%;
        color:var(--color-dark-blue);
    }

    .footer-email {
        padding-top: 1em;
    }

    .footer-email a {
        text-decoration: none;
        color:var(--color-dark-blue);
    }

    .footer-email a:hover {
        text-decoration: underline;
    }

    .footer-socials {
        display:grid;
        padding: .5em 0;
        margin:auto;
        background-color: white;
        width:100%;
        align-content: center;
        justify-content: center;
    }

    .grid-socials {
        display: inline-grid;
        width:100%;
        grid-template-columns: repeat(3, 33%);

    }

    .footer-eden-icon, .footer-canadian-icon, .footer-mw-energy-icon {
        display:grid;
        align-content: center;
    }

    .footer-eden-icon {
        grid-column: 1;
        justify-content: flex-start;
    }

    .footer-canadian-icon {
        grid-column: 2;
        justify-content: center;
    }

    .footer-mw-energy-icon {
        grid-column: 3;
        justify-content: flex-end;
    }

    .footer-copyright {
        margin-bottom:2em;
        margin-left:auto;
        margin-right:auto;
        line-height:100%;
    }

}