
<ng-container *ngIf="wishes">
    <div class="print-header">
        <div class="print-logo">
            <img src="../../../assets/images/details/takeAction/writeNeedsDown/wizardPrintMakeWishes.jpg" alt="logo">
        </div>

        <div class="print-text">
            <ng-container *ngIf="wishes.client_name.length > 0 && wishes.client_name != ''">
                <h1>Client Intake Form for<br>
                    {{ wishes.client_name }}:
                </h1>
            </ng-container>

            <ng-container *ngIf="wishes.client_name.length == 0 && wishes.client_name == ''">
                <h1>Client Intake Form:</h1>
            </ng-container>

            <h2>End of Life Care Wishes</h2>
            <h3>{{now}}</h3>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="rep">
    <div class="print-header">
        <div class="print-logo">
            <img src="../../../assets/images/details/takeAction/chooseRepresentatives/wizardPrintChooseReps.jpg" alt="logo">
        </div>

        <div class="print-text">
            <ng-container *ngIf="rep.client_name.length > 0 && rep.client_name != ''">
                <h1>Client Intake Form for<br>
                    {{rep.client_name}}
                </h1>
            </ng-container>

            <h2>Choose Your Representatives</h2>
            <h3>{{now}}</h3>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="directive">
    <div class="print-header">
        <div class="print-logo">
            <img src="../../../assets/images/details/takeAction/writeCarePlan/wizardActionPrintAdvancePlan.jpg" alt="logo">
        </div>

        <div class="print-text">
            <ng-container *ngIf="directive.client_name.length > 0 && directive.client_name != ''">
                <h1>Client Intake Form for<br>
                    {{directive.client_name}}
                </h1>
            </ng-container>

            <h2>The Advance Directive</h2>
            <h3>{{now}}</h3>
        </div>
    </div>
</ng-container>
