<div class = "topic-grid topic-choose-your-rep topic-size">
    <h1>{{title}}</h1>
</div>

<div class="screen-title">
    <h2>Who do you most trust with your life?</h2>
</div>

<div class="content-dark-copy with-soft-border pad-top-2">
    <p>
        Let's say you are in an accident or suffer a critical illness and end up in Emergency and are incapable of
        answering for yourself. When you arrive at the hospital - a health care team member is legally required to search for your
        next-of-kin in order to find an advocate for you. They must then follow the directives set by law called many
        different names
        depending on the province you are in,
        but
        in general looks something like the one that B.C. uses called the Temporary Substitute Decision Maker List (TSDM).
        <br><br>
        The health care provider will start at the top of this form contacting a next of kin. If the first person on that list is not
        qualified or available to advocate for you, they will then move down the list. The hierarchy of contacts set out on this form is:
    </p>
</div>

<ul class="content-dark-list square pad-top-2">
    <li class="list-item">Spouse</li>
    <li class="list-item">Adult Children if any</li>
    <li class="list-item">Parents</li>
    <li class="list-item">Siblings</li>
    <li class="list-item">Grandparents</li>
    <li class="list-item">Grandchildren</li>
    <li class="list-item">Others Related by Birth or Adoption</li>
    <li class="list-item">Close Friend(s) and Others related by marriage</li>
</ul>

<div class="content-dark-copy with-soft-border pad-top-2">
    <p>
        If you have no issues with the idea that your health and life decisions are about to be made by a family member or friend
        selected by a health care professional you have never met, then this might work for you. If, however you know that
        you want your oldest
        grand-child who is legally eligible to be the decision maker for you, but you have not written this wish down, it is
        highly unlikely that they will work their way down the list to that level. Maybe instead, they will choose your spouse,
        the top person on the list to call. This could be a soon-to-be-ex-spouse who may not have your best interests at heart.
        Your new significant other, who is your true lover, may not even show up on the list.
        <br><br>
        It is for this reason, that it is smart and proactive to designate your own preferred Health Care Advocate who will, in most
        regions of Canada, be able to make those life and death decisions on your behalf. By simply stating your Advocate, you
        can quickly and easily select the one or, at maximum two people you trust who would best handle any health related
        decisions if you are not in a position to do so due to accident or injury. You are letting the health care team know who
        you have specifically chosen to make decisions for you related to your situation.
    </p>
</div>

<div class="one-button-container pad-top-2">
    <button class = 'start-plan-button cursorPointer ' (click)="openModal()">CHOOSE YOUR REP NOW</button>
</div>


<div class = "content-dark-copy pad-top">
    <p>
      <!--  Instead of leaving your health decisions up to B.C. Law, you can set who YOU want as your Substitute Decision Maker (SDM). Again,
        this is only if you are incapable of making your own decisions due to injury or illness. You can name your preferred SDM and even
        an alternate SDM by filling out a form called Representative Section-9. (This applies to B.C. only, check your province or state for
        a form that provides the same service).
        <br><br>-->
        Your Formal Substitute Decision Maker must follow the directives you have laid out in this Enhanced Representation Agreement
        should you become incapacitated. If you are only partially ‘incapable’ you can still make some decisions and these will be given
        priority. There is no need to involve a Lawyer, Doctor or Notary Public as Representative 9 is legal as long as proper witnesses and
        signatures are made.
        <br><br>
        Personal decisions include where you live (examples are a hospital, home care, hospice etc.), your diet, clothing and hygiene and
        activities. It also includes decisions about who can have contact with you.
        <br><br>
        Health care decisions include tests, examinations, treatments and procedures related to your health such as surgery, medication
        and vaccines. It also gives permission for the Representative to make decisions about life support and life prolonging procedures.
        It does NOT include decisions related to financial or legal decisions. If you are still of sound mind, you will always be the
        first to make your own decisions. However, if not, the health care provider will adhere to your fully legal Section-9
        Representative document.
    </p>
</div>

<div class="content-images">
    <img alt="Choose a Representative" src="assets/images/details/planning/chooseRepIntro.jpg">
</div>

<div class = "content-dark-copy pad-top">
    <p>
        There are a number of forms created by different agencies including the Attorney General of B.C., the Dying with Dignity
        Association and Palliative Care B.C. They may vary wording slightly but they must all follow the legal guidelines. You can view
        and download the
        <a href="https://www2.gov.bc.ca/assets/gov/health/managing-your-health/incapacity-planning/representation_agreement_s9.pdf" target="_blank">
            Representative Section-9 form here</a> from the B.C. government website.
        <br><br>
        Ask your Representatives first and make sure they are willing to take on the task. Your witnesses do not need to be present
        during the signing with the Representatives, but they do need to see you sign the form. Once completed
        the wizard produces a form that fulfills all the legal guidelines. Next just print and have everyone witness and sign!
    </p>
</div>

<div class="one-button-container pad-top-2">
    <button class = 'start-plan-button cursorPointer ' (click)="openModal()">CHOOSE YOUR REP NOW</button>
</div>

