

/*  BANANA PORTRAIT *******************************************************************************************/
@media only screen
and (min-width: 240px)
and (max-width: 359px)
and (orientation: portrait) {


}

/* BANANA LANDSCAPE ****************************************************************************************************/
@media only screen
and (min-width: 568px)
and (max-width: 895px)
and (orientation: landscape) {


}

/* MOBILES PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 360px)
and (max-width: 599px)
and (orientation: portrait) {


}

/*  MOBILES LANDSCAPE **************************************************************************************************/
@media only screen
and (min-width:896px )
and (max-width: 1279px)
and (orientation: landscape) {


}

/*  TABLETS PORTRAIT *******************************************************************************************/
@media only screen
and (min-width: 600px)
and (max-width: 1023px)
and (orientation: portrait) {



}

/* TABLETS LANDSCAPE ***************************************************************************************************/
@media only screen
and (min-width: 1280px)
and (max-width: 1365px)
and (orientation: landscape) {

    /* 1024 is 80% of 1280 */


}

/* IPADS PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 1024px)
and (max-width: 1366px)
and (orientation: portrait) {


}


/* IPADS LANDSCAPE ***************************************************************************************************/
@media only screen
and (min-width: 1366px)
and (max-width: 1439px)
and (orientation: landscape) {



}

/* LAPTOPS *****************************************************************************************************/
@media only screen
and (min-width: 1440px)
and (max-width: 1919px) {


}

/* ALL THAT SHOW BIG MENU TABLET LANDSCAPE, IPAD LANDSCAPE, LAPTOP, DESKTOP and UP ********************************/
@media only screen
and (min-width: 1280px)
and (orientation: landscape) {

    /* 1152 is 60% of 1920 */

    .topic-menu {
        display:grid;
        width: 100%;
        margin:auto;
        height:40px;
        background-color: var(--color-light-purple);
        justify-content: center;
    }

    .topic-menu-items {
        display:inline-grid;
        margin:auto;
        height:40px;
        grid-template-columns: repeat(7, 164px);
        justify-content: center;
        text-align: center;
    }

    /*.selectedAnchorSubItem a, .selectedNoAnchorSubItem, .unselectedTopicItem a {*/
    .selectedTopicItem, .unselectedTopicItem a {
        font-size:var(--menu-topic-laptop-desktop-font-size);
    }
}


/* GLOBAL *************************************************************************************************************/
@media only screen {



    .selectedTopicItem, .unselectedTopicItem a {
        display:grid;
        font-family: var(--family-menu);
        height:40px;
        align-content: center;
        font-weight:400;
        color:whitesmoke;
    }

    .selectedTopicItem {
        background-color: var(--color-light-blue);
        cursor:default;
        /*text-decoration: none;*/
        border:thin solid var(--color-off-white);
    }

    .unselectedTopicItem a {
        text-decoration: none;
        cursor: pointer;
    }


}
