<!--<div class = "topic-grid topic-documents-to-sign topic-size">
    <h1>{{title}}<br>{{subtitle}}</h1>
</div>-->

<div class="screen-title pad-top-3">
    <div *ngIf="sectionSelected === 'triggeredSection1'">
        <span>The Basics: Choose Someone Who Will Advocate For You:&#x25BC;</span>
    </div>

    <div *ngIf="sectionSelected != 'triggeredSection1'">
        <a (click)="this.getTriggeredPromptKey(1)">
            The Basics: Choose Someone Who Will Advocate For You:&#x25B6;
        </a>
    </div>
</div>

<div *ngIf="sectionSelected === 'triggeredSection1'">
     <app-rep-nine-document [title]="title"></app-rep-nine-document>
</div>

<div *ngIf="sectionSelected != 'triggeredSection1'">
    <div class="dark-copy-hidden"></div>
</div>

<div class="screen-title pad-top-3">
    <div *ngIf="sectionSelected === 'triggeredSection2'">
        <span>Protect Yourself Further With an Advanced Care Plan:&#x25BC;</span>
    </div>

    <div *ngIf="sectionSelected != 'triggeredSection2'">
        <a (click)="this.getTriggeredPromptKey(2)">
            Protect Yourself Further With an Advanced Care Plan:&#x25B6;
        </a>
    </div>
</div>

<div *ngIf="sectionSelected === 'triggeredSection2'">
    <app-advanced-care-document [title]="title"></app-advanced-care-document>
</div>

<div *ngIf="sectionSelected != 'triggeredSection2'">
    <div class="dark-copy-hidden"></div>
</div>

<div class="screen-title pad-top-3">
    <div *ngIf="sectionSelected === 'triggeredSection3'">
        <span>CPR or No CPR?:&#x25BC;</span>
    </div>

    <div *ngIf="sectionSelected != 'triggeredSection3'">
        <a (click)="this.getTriggeredPromptKey(3)">
            CPR or No CPR?:&#x25B6;
        </a>
    </div>
</div>

<div *ngIf="sectionSelected === 'triggeredSection3'">
    <app-dnr-no-cpr-document [title]="title"></app-dnr-no-cpr-document>
</div>

<div *ngIf="sectionSelected != 'triggeredSection3'">
    <div class="dark-copy-hidden"></div>
</div>

<div class="screen-title pad-top-3">
    <div *ngIf="sectionSelected === 'triggeredSection4'">
        <span>Requesting to Stay at Home to Die:&#x25BC;</span>
    </div>

    <div *ngIf="sectionSelected != 'triggeredSection4'">
        <a (click)="this.getTriggeredPromptKey(4)">
            Requesting to Stay at Home to Die:&#x25B6;
        </a>
    </div>
</div>

<div *ngIf="sectionSelected === 'triggeredSection4'">
    <app-edith-document [title]="title"></app-edith-document>
</div>

<div *ngIf="sectionSelected != 'triggeredSection4'">
    <div class="dark-copy-hidden"></div>
</div>







