<div class="form-heading">
    Your Contact Information
</div>
<div class="two-inline-grid-desktop">
    <label class="first-grid-col" for="name">Your Name:</label>

    <label class="second-grid-col" for="cellPhone">Phone:</label>

    <input type="text" class="first-grid-col" [(ngModel)]="model.name" name="name" id="name">

    <input type="text" class="second-grid-col" [(ngModel)]="model.cellPhone" name="cellPhone" id="cellphone">

    <label class="all-grid-cols" for="email">Email:</label>

    <input type="text" class="all-grid-cols" [(ngModel)]="model.email" name="email" id="email">

    <label class="all-grid-cols" for="address">Home Address:</label>

    <textarea class="all-grid-cols" [(ngModel)]="model.address" rows=2 name="address" id="address"> </textarea>
</div>

<div class="four-inline-grid">
    <label class="first-grid-col" for="city">City/Town:</label>

    <label class="second-grid-col" for="provState">Prov/State:</label>

    <label class="third-grid-col" for="pc">Postal/Zip:</label>

    <label class="fourth-grid-col" for="country">Country:</label>

    <input type="text" class="first-grid-col" id="city" [(ngModel)]="model.city" name="city">

    <input type="text" class="second-grid-col" id="provState" [(ngModel)]="model.provState" name="provState">

    <input type="text" class="third-grid-col" id="pc" [(ngModel)]="model.pc" name="pc">

    <input type="text" class="fourth-grid-col" id="country" [(ngModel)]="model.country" name="country">
</div>

<div class="form-heading">
    Emergency Contact
</div>

<div class="four-inline-grid">
    <label class="first-grid-col" for="emergName">Contact:</label>

    <label class="second-grid-col" for="emergPhone">Phone:</label>

    <label class="last-two-grid-cols" for="emergRelation">Relationship:</label>

    <input type="text" class="first-grid-col" id="emergName" [(ngModel)]="model.emergName" name="emergName">

    <input type="text" class="second-grid-col" id="emergPhone" [(ngModel)]="model.emergPhone" name="emergPhone">

    <input type="text" class="last-two-grid-cols" id="emergRelation" [(ngModel)]="model.emergRelation" name="emergRelation">
</div>

<div class="form-heading">
    Optional Details
</div>

<div class="four-inline-grid">
    <label class="first-grid-col" for="referredBy">Referred By:</label>

    <label class="second-grid-col" for="birthdate">Birthdate:</label>

    <label class="last-two-grid-cols" for="occupation">Occupation:</label>

    <input type="text" class="form-control first-grid-col" id="referredBy" [(ngModel)]="model.referredBy" name="referredBy">

    <input type="text" class="form-control second-grid-col" id="birthdate" [(ngModel)]="model.birthdate" name="birthdate">

    <input type="text" class="form-control last-two-grid-cols" id="occupation" [(ngModel)]="model.occupation" name="occupation">
</div>




