<div class="content-dark-titles">
    <h4>Meridian Affirmations for Tracing {{selectedMeridian.name}}</h4>
</div>

<div class="content-dark-copy">
    As you trace your meridians you may wish to silently or say aloud the following affirmations.
</div>

<div *ngIf="selectedMeridian.affirmations_list != null">
    <div class="content-clear-list" style="{{selectedMeridian.font_color}}">
        <li class="list-item" *ngFor="let line of selectedMeridian.affirmations_list.merAffirmations">
            <span>{{line}}</span>
        </li>
    </div>
</div>

<div *ngIf="selectedMeridian.tracingText != null">
    <div class="content-light-list margin-top-2" style="{{selectedMeridian.font_color}}">
        <li class="list-item" *ngFor="let line of selectedMeridian.tracingText.instruction">
            <span>{{line}}</span>
        </li>
    </div>
</div>

<!-- Starts with Bladder -->
<div *ngIf="selectedMeridian.id===1">
    <iframe class="tracing-video-size" src="https://www.youtube-nocookie.com/embed/CFrJ11DJ-GE"
        allow="accelerometer;
        autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="selectedMeridian.id===2">
    <iframe class="tracing-video-size" src="https://www.youtube-nocookie.com/embed/cuCHD-MXZuA"
        allow="accelerometer;
        autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="selectedMeridian.id===3">
    <iframe class="tracing-video-size" src="https://www.youtube-nocookie.com/embed/w8tfuUVlFSU"
        allow="accelerometer;
        autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="selectedMeridian.id===4">
    <iframe class="tracing-video-size" src="https://www.youtube-nocookie.com/embed/oHxZXh8n_no"
        allow="accelerometer;
        autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="selectedMeridian.id===5">
    <iframe class="tracing-video-size" src="https://www.youtube-nocookie.com/embed/qem4HQFZC1U"
        allow="accelerometer;
        autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="selectedMeridian.id===6">
    <iframe class="tracing-video-size" src="https://www.youtube-nocookie.com/embed/kw5JEUNHENQ"
        allow="accelerometer;
        autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="selectedMeridian.id===7">
    <iframe class="tracing-video-size" src="https://www.youtube-nocookie.com/embed/xsGLDRWV_R8"
        allow="accelerometer;
        autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="selectedMeridian.id===8">
    <iframe class="tracing-video-size" src="https://www.youtube-nocookie.com/embed/PxeD1U0RDI8"
        allow="accelerometer;
        autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="selectedMeridian.id===9">
    <iframe class="tracing-video-size" src="https://www.youtube-nocookie.com/embed/0mrFrFPwN6M"
        allow="accelerometer;
        autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="selectedMeridian.id===10">
    <iframe class="tracing-video-size" src="https://www.youtube-nocookie.com/embed/XuZ4QPDkq1E"
        allow="accelerometer;
        autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="selectedMeridian.id===11">
    <iframe class="tracing-video-size" src="https://www.youtube-nocookie.com/embed/0_qi4o7PNP0"
        allow="accelerometer;
        autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div *ngIf="selectedMeridian.id===12">
    <iframe class="tracing-video-size" src="https://www.youtube-nocookie.com/embed/Oza_Qr6euPk"
        allow="accelerometer;
        autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>






