
<div class = "topic-grid topic-choose-your-rep topic-size">
    <h1>{{title}}</h1>
</div>

<div class="content-dark-copy with-soft-border pad-top-2">
    <p>
        You can take the pain and stress out of having to think about all those hard decisions should you ever need advanced life
        support by preemptively following through our Advanced Care Plan Wizard. Enter your choices and once complete, print them off.
        Store you advanced directive plan where you store your Will, your Representative information, your wishes and other pertinent
        information that will be seen as a blessing by paramedics, hospital staff and most of all, family.
    </p>
</div>

<div class="one-button-container pad-top-2">
    <button class = 'start-plan-button cursorPointer ' (click)="openModal()">WRITE YOUR CARE PLAN NOW</button>
</div>