<div class = "topic-inline-grid with-underline">
    <div class="topic-left">
        <h1>{{title}}</h1>
    </div>

    <div class="topic-right">
        <img src="/assets/images/wizard/wizardIntro.jpg" alt={{title}} title={{title}}>
    </div>
</div>

<div class = "content-no-margins">
    <div class="dark-heading">
        <h1>Ensure you are Covered with an Advanced Directive</h1>
    </div>

    <div class="dark-copy">
        Follow the wizard to create your Advanced Care Plan. It may hurt a bit but you can stop anytime and come back whenever you
        are ready. Once done, pat yourself on the back and reward yourself in any way you prefer to be rewarded :).
    </div>
</div>
