<div class="content">
    <div class="inner-content">
        <div class="dark-heading">
            <h1>MEET AND GREET INTAKE FORMS</h1>
        </div>
    </div>

    <div class="forms-menu-block">
        <ul class="forms-menu dark-heading"><h4>I WOULD LIKE TO DISCUSS:</h4>
            <li class="menu-item">
                <div *ngIf="showPlanningForm">
                    <span>HOW TO PLAN FOR MY FUTURE CARE</span>
                </div>

                <div *ngIf="!showPlanningForm">
                    <a (click)="toggleEditor('planning')">HOW TO PLAN FOR MY FUTURE CARE</a>
                </div>
            </li>

            <li class="menu-item">
                <div *ngIf="showCaregiverForm">
                    <span>MY NEED FOR SUPPORT AS CAREGIVER</span>
                </div>

                <div *ngIf="!showCaregiverForm">
                    <a (click)="toggleEditor('caregiver')">MY NEED FOR SUPPORT AS CAREGIVER</a>
                </div>
            </li>

            <li class="menu-item">
                <div *ngIf="showPatientForm">
                    <span>MY NEED FOR SUPPORT AS PATIENT</span>
                </div>

                <div *ngIf="!showPatientForm">
                    <a (click)="toggleEditor('patient')">MY NEED FOR SUPPORT AS PATIENT</a>
                </div>
            </li>

            <li class="menu-item">
                <div *ngIf="showSessionForm">
                    <span>BOOKING AN ENERGY MEDICINE SESSION</span>
                </div>
                <div *ngIf="!showSessionForm">
                    <a (click)="toggleEditor('session')">BOOKING AN ENERGY MEDICINE SESSION</a>
                </div>
            </li>

            <li class="menu-item">
                <div *ngIf="showAssessmentForm">
                    <span>SHOW COVID-19 CLEARANCE PROOF</span>
                </div>
                <div *ngIf="!showAssessmentForm">
                    <a (click)="toggleEditor('assessment')">SHOW COVID-19 CLEARANCE PROOF</a>
                </div>
            </li>
        </ul>
    </div>

    <app-intake-make-plan *ngIf="showPlanningForm"></app-intake-make-plan>
    <app-intake-caregiver-support *ngIf="showCaregiverForm"></app-intake-caregiver-support>
    <app-intake-patient-support *ngIf="showPatientForm"></app-intake-patient-support>
    <app-intake-client-session *ngIf="showSessionForm"></app-intake-client-session>
    <app-intake-covid *ngIf="showAssessmentForm"></app-intake-covid>

<!--<app-print-session *ngIf="showSessionForm"></app-print-session>-->

    <div class="disclaimer">
        <p>Please Read Carefully:</p>
        <span>
            <div *ngIf="showPatientForm || showCaregiverForm || showPlanningForm">
                I understand that the Doula consultations and care do not replace medical treatments but act as
                a support to any medical treatments. I understand that End of Life Doulas can not advise on
                medications or medical procedures and do not prescribe or distribute any medicines or herbal supplements.
                <br><br>
                I understand that Doulas can provide me with care planning and plans, can sit vigil with me if I request it
                and can provide support and comfort to me and my family and friends if requested. I also understand that I can
                receive information related to funeral plans, life celebrations and setting up legacy projects.
                I understand that Doulas can act as liaisons between me and the medical community for clear and honest communications.
                <br><br>
                I agree to provide 24 hours notice if I want to cancel an appointment. As well, I agree to bring proof of
                my Covid vaccination in the form of the vaccine passport. By signing below I agree and accept the above conditions.
            </div>

            <div *ngIf="showSessionForm">
                I understand that the Eden Energy Medicine sessions I receive are provided for the basic purpose of harmonizing
                my body's energies. It can bring about physical improvements by impacting the electromagnetic and your more subtle
                energy fields.
                <br><br>
                But I further understand that Eden Energy Medicine should not be construed as a substitute for
                needed medical attention and that practitioners do not diagnose, treat or prescribe for medical conditions.
                <br><br>
                I agree to provide 24 hours notice if I want to cancel an appointment. As well, I agree to bring proof of
                my Covid vaccination in the form of the vaccine passport. By signing below I agree and accept the above conditions.
            </div>

            <div *ngIf="showAssessmentForm">
                I understand that I must have proof of up-to-date Covid vaccinations in order to meet with you in person.
                If I have not been vaccinated I can still see you via a remote call, for example a Zoom or phone meeting.
                <br><br>
                If I want to meet you in person then I agree to bring this form along with proof of my Covid vaccination
                status in the form of the vaccine passport.
                <br><br>
                I agree to provide 24 hours notice if I want to cancel an appointment. As well, I agree to bring proof of
                my Covid vaccination in the form of the vaccine passport. By signing below I agree and accept the above conditions.
            </div>
        </span>

        <div class="sig-date-prompt">Signature:</div>
        <div class="sig-date-line">&nbsp;</div>
        <div class="sig-date-prompt">Date:</div>
        <div class="sig-date-line">&nbsp;</div>
    </div>

    <div class="print-forms-grid">
        <!--    <button class="print-forms-button"(click)="printProfile()">PRINT</button>-->
        <button class="print-forms-button">PRINT</button>
    </div>
</div>


