<div class="content">
    <div class = "topic-block">
        <div class="topic-left">
            <h1>{{title}}</h1>
        </div>

        <div class="topic-right">
            <img src="assets/images/about/practitioner/practIntro.jpg" alt="My EEM Journey" title="My EEM Journey">
        </div>
    </div>

    <div class="inner-content">
        <div class="dark-copy">
            Coming back from Victoria I signed up for a 4 month online course with Eden Energy Medicine (now
            called Eden Method). I was amazed at the wealth of information given to us during this course.
            I was intrigued, but skeptical and frankly, scared. This was not the me that I had been developing
            over the last few decades. This was utterly the opposite!
        </div>

        <img src="assets/images/about/practitioner/introToEnergyPic.jpg" class='images' alt="An Energy Medicine Demo" title="An Energy Medicine Demo">

        <div class="dark-copy">
            So there I was at loose ends but I was being pulled more and more into this new energy world.
            Even before the end of the course, I enquired about becoming a practitioner.
            And much to my delight, I was told that there was room for
            one more student in the program that was starting the following week.
            I took the Greyhound bus to Kamloops, B.C. and started my training with a class of 10 students, 2 teachers and an assistant.
        </div>
    </div>

    <div class = "topic-block">
        <div class="topic-left">
            <h2>EDEN - YEAR ONE</h2>
        </div>

        <div class="topic-right">
            <img src="assets/images/about/practitioner/edenYearOneHeading.jpg" alt="Eden Energy Year One" title="Eden Energy Year One">
        </div>
    </div>

    <div class="inner-content">
        <div class="dark-copy">
            Having always achieved good marks in the academic world, walking into exams with confidence that I
            had every fact stored in my brain, I was suddenly terrified.
            The program challenged me in unique ways, it challenged me to my core. This wasn't just about the ability to memorize facts or follow the
            logic in code, this was about trusting yourself enough to lay your hands on another human being and connect
            with them in a new way. I certainly didn't feel like I had any great abilities in this capacity. But I did feel
            one thing, an overwhelming need to do this.
        </div>

        <img src="assets/images/about/practitioner/edenYearOnePic.jpg" class='images' alt="Year 1 Classmates" title="Year 1 Classmates">

        <div class="dark-copy">
            The pressure was intense, with demo exams, written exams and
            so much information to learn, absorb and understand. But I made it and then crazily enough, signed up for year two!
        </div>
    </div>

    <div class = "topic-block">
        <div class="topic-left">
            <h2>EDEN - YEAR TWO</h2>
        </div>

        <div class="topic-right">
            <img src="assets/images/about/practitioner/edenYearTwoHeading.jpg" alt="Eden Energy Year Two" title="Eden Energy Year Two">
        </div>
    </div>

    <div class="inner-content">
        <div class="dark-copy">
            Second year was taught in Phoenix, Arizona to approximately 100 students from around the world.
            Although most students were from the US, many practitioners flew in from Australia, Brazil, England,
            New Zealand, Israel and like me - Canada.
            <br><br>
            The students were mostly women but women of all ages, from 20 somethings to 70 somethings. I was
            told that one of the instructors was a dynamo in her 80s, still teaching and lecturing.
            There were nurses, physiotherapists, doctors, principals, police detectives, engineers, ex-cops,
            business owners, acupuncturists, midwifes, massage therapists, Chinese Medicine doctors, naturopaths,
            Broadway dancers, accountants, artists, Reiki Masters, ex-marines, professional singers,
            psychologists, teachers and more.
        </div>

        <img src="assets/images/about/practitioner/edenYearTwoPic.jpg" class='images' alt="Year 2 Classmates" title="Year 2 Classmates">

        <div class="dark-copy">
            Some had overcome terrible diseases like Cancer, some were still fighting them. Each and every student had incredible
            stories of life challenges and victories. I listened as they talked about death, divorce, suicide, the pains of having babies,
            the pains of having teenagers and the pain of having adult children:). One had been raised by Holy Bible thumping Evangalists,
            one was blind, one had PTSD from his time in Iraq. The bravest I think, were the physicians, nurses
            and physician assistants - going against mainstream medicine.
        </div>
    </div>

    <div class = "topic-block">
        <div class="topic-left">
            <h2>EDEN - YEAR THREE</h2>
        </div>

        <div class="topic-right">
            <img src="assets/images/about/practitioner/edenYearThreeHeading.jpg" alt="Eden Energy Year Three" title="Eden Energy Year Three">
        </div>
    </div>

    <div class="inner-content">
        <div class="dark-copy">
            I decided I needed to attend Year 3 as we were required
            to perform 100 sessions on as many different clients as we could find. I felt like I had all this
            theory floating around in my head, but needed to put it to practice. I needed, once again, to step
            out of the safety of academia and into the world of hands on sessions.
            <br><br>
            Year 3 was an post-certification advanced year taught in San Diego, California with about 50 of us.
            The first fall class spent in a god awful Holiday Inn. The next winter class I shared an Airbnb with
            some lovely Americans (this was a big deal for me as I always wanted my own space
            to recuperate after class). But my Airbnb roomies were an unbeleivably wonderful crew of friends. I met so many
            other interesting people I now call friends.
        </div>

        <img src="assets/images/about/practitioner/edenYearThreePic.jpg" class='images' alt="Year 3 Classmates" title="Year 3 Classmates">

        <div class="dark-copy">
            I heard stories of bravery, tragedy, loss and survival and
            was brought to tears many times just looking around the big conference room at all the loving souls. Donna's daughter,
            Tanya would lead each day with the Daily Energy Routine, Tanya version. It involved music, movement and fun. But it also
            involved being okay with looking silly.
        </div>
    </div>

    <div class = "topic-block">
        <div class="topic-left">
            <h2>ABOUT DONNA EDEN</h2>
        </div>

        <div class="topic-right">
            <img src="assets/images/about/practitioner/donnaEdenHeading.jpg" alt="Donna Eden" title="Donna Eden">
        </div>
    </div>

    <div class="inner-content">
        <div class="dark-copy">
            Donna always took the time out of her extremely busy schedule to get on stage and teach us some of her techniques. It was
            truly like watching a master at work. I am a person who is very hyper-aware of people I feel are giving
            off an insincere vibe and I have never been a follower. But I have to say, when I met Donna I was literally
            buzzing for hours after. She is one of the blessed on Earth who has a tremendous gift. She doesn't just
            smile at you, she looks at you like you are amazing, like she is impressed by your very essence.
        </div>

        <img src="assets/images/about/practitioner/donnaEdenPic.jpg" class="images" alt="Donna Eden and Me" title="Donna Eden and Me">

        <div class="dark-copy">
            Since she can literally see your energy, everyone is a little nervous when she opens herself up to view you (normally
            she shuts that down, or she would be overwhelmed just walking down the street). Many worried that she would
            see something black and dark and scary - but she really only sees your light. She told me my Life Color is Violet
            that I am an old soul and 'truly wonderous'. She is the truly wonderous one!
        </div>
    </div>

    <div class = "topic-block">
        <div class="topic-left">
            <h2>ABOUT ENERGY MEDICINE</h2>
        </div>

        <div class="topic-right">
            <img src="assets/images/about/practitioner/energyPracticeHeading.jpg" alt="About Energy Medicine" title="About Energy Medicine">
        </div>
    </div>

    <div class="inner-content">
        <div class="dark-copy">
            I know that many people think that energy medicine is just a bunch of nonsensical woo woo, a
            new age practice that takes no critical thought or intelligence to master. However I found out very quickly
            that the level of study and commitment was just as intense as was my computer science education. And although the level
            of knowledge was vast and and challenging, it was nothing compared to the level of emotional and personal
            growth it demanded.
        </div>

        <img src="assets/images/about/practitioner/energyPracticePic.jpg" class="images" alt="Year 3 Graduates" title="Year 3 Graduates">

        <div class="dark-copy">
            Even after years of study, however, I am still searching for more answers, researching new concepts and expanding my
            knowledge about energy. With that, it is my hope that I can help not only put into words some of the basic concepts I have
            learned but I hope to put them together in an easy to understand format for you.
        </div>
    </div>

    <div class = "topic-block">
        <div class="topic-left">
            <h2>ABOUT FEAR OF CHANGE</h2>
        </div>

        <div class="topic-right">
            <img src="assets/images/about/practitioner/changeHeading.jpg" alt="About Change" title="About Change">
        </div>
    </div>

    <div class="inner-content">
        <div class="dark-copy">
            Change is generally suspect to the status quo way of doing business. Generally someone or something is threatened by change,
            losing their monopoly over something, usually to do with power or money. Revolutions are started by the brave, the courageous and they
            often don't live to see their victories.
            <br><br>
            I hope that some day, not too long from now, people find their way back to
            seeing their bodies as their own sacred vessels. They can tend to them, speak to them,
            listen to them - cells all working together to form this miraculous thing called you. You are not just body parts
            that have no intelligence, that need to be cut out instead of listened to. Your body speaks to you, that is really all
            that I am saying.
        </div>

        <img src="assets/images/about/practitioner/changePic.jpg" class='images' alt="About Risking Change" title="About Risking Change">

        <div class="dark-copy">
            Overcoming doubt, fear, cynicism - developing trust and faith - that energy is real and is affected by
            everything we do, think and feel - well that took a lot of years and a lot of faith. Faith in the work,
            faith in myself and faith that people in need will find me.
            <br><br>
            I am proud to be a practitioner of energy medicine. With every client and every session, finding myself continually amazed,
            that yes energy is not only real, but really is all there is. Our physical selves are always first created in the Etheric
            layer of our Aura, influenced by our moods, emotions, thoughts and actions. Tend to your Aura and create the reality you want.
            <br><br>
            After practicing energy work for a few years I became intrigued with another taboo area because I seem to be born to push the boundaries
            of what people are comfortable with. This time I discovered another group of people who are committed to <a routerLink="/aboutEndOfLifeDoula">
            helping us cope with end of life concerns.</a>
        </div>
    </div>
</div>


