<div class="content">
    <div class = "topic-block">
        <div class="topic-left">
            <h1>{{title}}</h1>
        </div>

        <div class="topic-right">
            <img src="assets/images/support/doula/representative/repIntro.jpg" alt="Representative Section-9" title="Representative Section-9">
        </div>
    </div>

    <div class="inner-content">
        <div class="dark-heading">
            <h2>Choose Your Own Substitute Decision Maker</h2>
        </div>

        <div class="dark-copy">
            Instead of leaving your health decisions up to B.C. Law, you can set who YOU
            want as your Substitute Decision Maker (SDM). Again, this is only if you are incapable of making your own
            decisions due to injury or illness. You can name your preferred SDM and even an alternate SDM by filling
            out a form called Representative Section-9. (This applies to B.C. only, check your province or state for
            a form that provides the same service).
            <br><br>
            Even with a Representative-Section 9 form filled out you should still fill out your TSDM list with the contact
            information of people who may be approached
            by a health care provider if a TSDM is needed, in the event your representative resigns or is
            unavailable.
        </div>

        <div class="dark-heading">
            <h2>Name Your SDM with Representative Section-9</h2>
        </div>

        <div class="dark-copy">
            Your Formal Substitute Decision Maker must follow the directives you have laid out in this
            Enhanced Representation Agreement should you become incapacitated. . If you are only partially ‘incapable’
            you can still make some decisions and these will be given priority.
            <br><br>
            There is no need to involve a Lawyer, Doctor or Notary Public as Representative 9 is legal as long as proper
            witnesses and signatures are made.
            <br><br>
            Personal decisions include where you live (examples are a hospital, home care, hospice etc.), your diet, clothing and
            hygiene and activities. It also includes decisions about who can have contact with you.
            <br><br>
            Health care decisions include tests, examinations, treatments and procedures related to your health such as surgery, medication and vaccines.
            It also gives permission for the Representative to make decisions about life support and life prolonging procedures.
            It does NOT include decisions related to financial or legal decisions.
            If you are still of sound mind, you will always be the first to make your own decisions.
            However, if not, the health care provider will adhere to your fully legal Section-9 Representative document.
            <br><br>
            These screen shots are for informational purposes only; so you can see what  is asked of you
            when filling out this form. There are a number of forms created by different agencies including
            the Attorney General of B.C., the Dying with Dignity Association and Palliative Care B.C. (CHECK)
        </div>

        <img src="assets/images/support/doula/representative/repSection9.jpg" class='images' border='1' title="Representative Section-9" alt="Representative Section-9">

        <div class="light-copy with-border background-blue">
            <div class="pad-all-1">
                <b>At the top of the form (#57 Rep Agreement) (shown below) it states the caveats that read:</b>
                <br>
                "<i>Made under Section 9 of the Representation Agreement Act.</i>"
                <br>
                "The use of this form is voluntary. Be advised that this form may not be appropriate for use by all persons, as
                it provides only one option of how a Representation Agreement may be made. In addition, it does not constitute
                legal advice. For further information, please consult the Representation Agreement Act and Representation Agreement
                Regulation or obtain legal advice.
                <br><br>
                This form reflects the law at the date of publication. Laws can change over time. Before using this form, you should
                review the relevant legislation to ensure that there have not been any changes to the legislation or section numbers.
                The notes referenced in this Representation Agreement are found at the end of this Agreement and are provided for information only."
            </div>
        </div>

        <img src="assets/images/support/doula/representative/disclaimerHeading.jpg" class='images'  title="Rep9 Disclaimer" alt="Rep9 Disclaimer">

        <div class="light-copy with-border background-blue">
            <div class="pad-all-1">
                <b>SECTION 1 is where you fill in your full legal name, full address and the current date.</b>
            </div>
        </div>

        <img src="assets/images/support/doula/representative/section-1.jpg" class='images'  title="Rep9 Section 1" alt="Rep9 Section 1">

        <div class="light-copy with-border background-blue">
            <div class="pad-all-1">
                <b>SECTION 2 relates to any previous Representative Section-9 from you may have written.
                    If this is your first Rep-9, you can disregard this line.</b>
            </div>
        </div>

        <img src="assets/images/support/doula/representative/section-2.jpg" class='images' border='1' title="Rep9 Form 1" alt="Rep9 Form 1">

        <div class="light-copy with-border background-blue">
            <div class="pad-all-1">
                <b>SECTION 3 is where you fill in the full legal name and full address of your chosen Substitute Decision Maker, also
                    known simply as Representative.</b>
            </div>
        </div>

        <img src="assets/images/support/doula/representative/section-3.jpg" class='images' border='1' title="Rep9 Form 1" alt="Rep9 Form 1">

        <div class="light-copy with-border background-blue">
            <div class="pad-all-1">
                <b>SECTION 4 is where you fill in the full legal name and full address of your chosen Alternate Substitute Decision Maker, also
                    known simply as your Alternate Representative.</b>
            </div>
        </div>

        <img src="assets/images/support/doula/representative/section-4.jpg" class='images' border='1' title="Rep9 Form 1" alt="Rep9 Form 1">

        <div class="dark-copy">
            You can choose an Alternate Representative to ensure that you are still protected if your first Representative either dies or resigns
            him or herself from the position or becomes 'incapable'. It is also to protect yourself should you divorce or separate from your Primary Representative.
        </div>

        <div class="light-copy with-border background-blue">
            <div class="pad-all-1">
                <b>SECTION 5 can be ignored if you have appointed an Alternate Representative. If you haven't you have to cross (X) this line out.</b>
            </div>
        </div>

        <img src="assets/images/support/doula/representative/section-5.jpg" class='images' border='1' title="Rep9 Form 2" alt="Rep9 Form 2">

        <div class="light-copy with-border background-blue">
            <div class="pad-all-1">
                <b>SECTION 6 states that you give permission for your Representative(s) to present and support your health care wishes to the medical community.</b>
            </div>
        </div>

        <img src="assets/images/support/doula/representative/section-6.jpg" class='images' border='1' title="Rep9 Form 2" alt="Rep9 Form 2">

        <div class="light-copy with-border background-blue">
            <div class="pad-all-1">
                <b>SECTION 7 allows you to write down specific wishes and requests related to your health care. For example if you are suffering
                    from a disease with no cure, you may want to write down your NO CPR directive. If you also fill out an Advanced Care Plan, you are
                    prompted to answer your wishes related to many of the common situations.</b>
            </div>
        </div>

        <img src="assets/images/support/doula/representative/section-7.jpg" class='images' title="Rep9 Form 2" alt="Rep9 Form 2">

        <div class="light-copy with-border background-blue">
            <div class="pad-all-1">
                <b>SECTION 8 simply time-stamps the agreement as of the date signed by you, your Representative(s) and your Witnesses.</b>
            </div>
        </div>

        <img src="assets/images/support/doula/representative/section-8.jpg" class='images' title="Rep9 Form 2" alt="Rep9 Form 2">

        <div class="light-copy with-border background-blue">
            <div class="pad-all-1">
                <b>SECTION 9 - ADULT'S SIGNATURE: is where you sign the form in front of your Witnesses. If you are being witnessed by a Lawyer or Notary Public, you
                    only need their one signature. Otherwise you need two Witnesses.</b>
            </div>
        </div>

        <img src="assets/images/support/doula/representative/section-9-Adult.jpg" class='images' title="Rep9 Form 2" alt="Rep9 Form 2">

        <div class="light-copy with-border background-blue">
            <div class="pad-all-1">
                <b>SECTION 9 - WITNESSES TO ADULT SIGNATURE: Signature is where you sign the form in front of your Witnesses.
                If you are being witnessed by a Lawyer or Notary Public, you
                    only need their one signature. Otherwise you need two Witnesses.</b>
            </div>
        </div>

        <img src="assets/images/support/doula/representative/section-9-Witness.jpg" class='images' title="Rep9 Form 2" alt="Rep9 Form 2">

        <div class="light-copy with-border background-blue">
            <div class="pad-all-1">
                <b>SECTION 9 - REPRESENTATIVS SIGNATURES: is where you and your Representative(s) sign the form in front of your Witnesses.
                If you are being witnessed by a Lawyer or Notary Public, you
                    only need their one signature. Otherwise you need two Witnesses.</b>
            </div>
        </div>

        <img src="assets/images/support/doula/representative/section-9-Reps.jpg" class='images' title="Rep9 Form 2" alt="Rep9 Form 2">

        <div class="dark-heading">
            <h2>Who Can Represent for You By Law?:</h2>
        </div>

        <ul class="dark-list">
            <li class="list-item pad-left-3">&#x262f;&nbsp;They must be 19 years of age or older</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;They can not provide personal care or health care services to you for compensation</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;They can not be an employee at a facility where you reside such as a care home (unless they are related)</li>
        </ul>

        <div class="dark-heading">
            <h2>Some of the things to consider:</h2>
        </div>

        <ul class="dark-list">
            <li class="list-item pad-left-3">&#x262f;&nbsp;Would they be accountable to you and the Health Care Personnel?</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;Would they be able to exercise the duties set out for them?</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;Would they act honestly and honorably on your behalf?</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;Do they have good communication skills?</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;Would they respect and abide by your wishes?</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;Are they careful record keepers?</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;Are they confident enough to accept sole authority for your care?</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;Are they capable of also seeking advice from others?</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;Can they keep all information confidential?</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;Can they remain calm in a crisis?</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;Are they ready and willing to take on the role?</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;Do you trust them to make the proper decisions for you?</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;Can they make difficult decisions?</li>
        </ul>

        <div class="dark-heading">
            <h2>Your Representative has the right to:</h2>
        </div>

        <ul class="dark-list">
            <li class="list-item pad-left-3">&#x262f;&nbsp;Visit and talk to you as needed with open communication</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;The same medical information you would have access to</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;Ask all reasonable questions about your health and prognosis</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;Be paid for out-of-pocket expenses related to your care (keep receipts)</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;Hire help and support to help them carry out your written requests</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;Be protected from liability for any errors or damages that occur</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;Resign from the role at any time</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;Request compassionate leave from work to care for you</li>
        </ul>

        <div class="dark-heading">
            <h2>Your Representative has a Duty to:</h2>
        </div>

        <ul class="dark-list">
            <li class="list-item pad-left-3">&#x262f;&nbsp;Consider whether your health is likely to be improved by a treatment or not</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;Consider if your well-being will be improved by a proposed treatment</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;Consider if the proposed treatment’s benefits outweigh the risks</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;Investigate whether a less intrusive treatment may be as helpful</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;Resist being pressured into agreeing to any treatment you would not want</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;Review your wishes (ex. once a year) or as your health changes</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;Allow you say should you still have the capability to make partial decisions</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;Follow your wishes no matter how they feel about them</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;Ensure that they have access to all your health records, prescriptions etc.</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;Has all advanced care documents: Rep-9, Rep-7, Advanced Directives</li>
        </ul>

        <div class="dark-heading">
            <h2>Your Representative Can Not:</h2>
        </div>

        <ul class="dark-list">
            <li class="list-item pad-left-3">&#x262f;&nbsp;Make some decisions related to your mental health</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;Authorize removal of organs</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;Allow for experimental health care practices</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;Authorize abortions or sterilization</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;Take over care and education of your underage (less than 19) children or other dependents</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;Allow for methods that interfere with your religious beliefs</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;Make changes to your Will</li>
        </ul>

        <div class="dark-heading">
            <h2>The following persons may not be a Witness:</h2>
        </div>

        <div class="dark-copy">
            Check below to make sure the witnesses you have chosen meet the criteria set out by law. You will need to
            obtain two witnesses unless you employ a lawyer or Notary Public in which case only 1 signature is needed. The witnesses
            must be on hand to watch you and your Representative(s) sign before they sign.
        </div>

        <ul class="dark-list">
            <li class="list-item pad-left-3">&#x262f;&nbsp;A person who provides personal care, health care or financial services to the Adult for
                compensation, other than a lawyer or notary public</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;A spouse, child, parent, employee</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;A person who is under 19 years of age</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;A person who does not understand the type of communication used by the Adult if no interpreter
                is employed</li>
        </ul>

        <div class="dark-copy">
            This document should be kept with your will, and a copy should be given to the Representative you choose, the alternate if you choose,
            to have one. You can also leave a copy with your family doctor. Let your family, specifically your Representatives know where you have
            placed all your important documents. I personally have all of my documents, including the financial information in a fire-proof safe.
            Paramedics know to look for any kind of directive on or in your fridge or freezer.
        </div>

        <div class="dark-copy">
            THIS FROM 112 - My Voice - I know a TSDM will not be chosen to make health care decisions for me if I complete an optional
            representation agreement form and/or an advance directive form which addresses the health care
            condition I have when the care is needed. I also know a TSDM will be chosen to make health care
            decisions for me if I have no representative, if my representative is unavailable, or if my optional
            representation agreement and/or advance directive does not address the health care condition I have
            when the care is needed.
        </div>
    </div>
</div>
