<div id="modal-content-wrapper">
    <ng-container *ngIf="page === 0">
        <app-make-wishes-wizard-header [wishes]='wishes'></app-make-wishes-wizard-header>
        <div class="wizard-prompt align-content-">
            <p>Please enter your name and press NEXT to start the wizard:</p>
        </div>

        <form #wizardForm="ngForm" novalidate>
            <div class="wizard-form">
                <div class="error-message-block">
                    <ng-container *ngIf="errorMessage">
                        <div class="error-message">{{errorMessage}}</div>
                    </ng-container>
                    <ng-container *ngIf="!errorMessage">
                        <div class="error-message">&nbsp;</div>
                    </ng-container>
                </div>

                <div class="planner-name-block">
                    <label class="planner-name-column" for="name"><b>Name (required):</b></label>
                    <input type="text" class="planner-name-column" [(ngModel)]="wishes.client_name" id="name" name="name">
                </div>
            </div>
        </form>
        <div class="two-buttons-container justify-content-end">
            <!-- was closeModal -->
            <button class="cancel-button" (click)="cancelWizard()">CANCEL</button>
            <button class="save-button " (click)="checkClientName()">NEXT</button>
        </div>
    </ng-container>

    <ng-container *ngIf="page > 0 && page <= 20">
        <app-make-wishes-wizard-header [wishes]='wishes'></app-make-wishes-wizard-header>

        <div class="wizard-prompt">
            <span>
                <b>Question {{page}} / {{finalPage}}:</b>
                <br><br>
                {{selectedQuestion.question_string}}
                <br>
            </span>
        </div>

        <div class="one-full-column-block">
            <div class="first-radio-check-column" *ngFor="let response of selectedQuestion.responses">
                <input type="radio" [value]="response.response_num" [ngModel]="selectedQuestion.selectedAnswer" name="question"
                       (ngModelChange)="onAnswerChanged($event)">
                <label>
                    {{response.response_string}}
                </label>
            </div>
        </div>

        <div class="three-buttons-container">
            <button class="cancel-button" (click)="cancelWizard()">CANCEL</button>
            <button class="previous-button" (click)="getPreviousPage()">PREVIOUS</button>
            <button class="next-button" (click)="getNextPage()">NEXT</button>
        </div>
    </ng-container>

    <ng-container *ngIf="page === 21">
        <app-make-wishes-wizard-header [wishes]='wishes'></app-make-wishes-wizard-header>

        <div class="wizard-end">
            Congratulations! You are done!
        </div>

        <div class="content-dark-copy">
            <p> Please press PRINT to get a hard copy or while on the print screen choose to save it as a PDF on your own computer and print
                at a later date. Store this document with your other end of life documents.
                <br><br>
                This directive is a great start to planning for your future but there are a lot of other things to get done.
                You can book a consultation with me either over zoom or in person for more help on a huge variety of topics around
                end-of-life and around energy medicine therapy.
            </p>
        </div>

        <div class="two-buttons-container">
            <button class="cancel-button" (click)="cancelWizard()">CANCEL</button>
            <button class="print-button" (click)="printFunction()">PRINT</button>
        </div>
    </ng-container>
</div>




