
/*  BANANA PORTRAIT *******************************************************************************************/
@media only screen
and (min-width: 240px)
and (max-width: 359px)
and (orientation: portrait) {

    /* GRID at 240 at 90% is 216 width and 169 height */
    .e-grid {
        grid-template-columns:repeat(3, 72px);
        grid-template-rows:repeat(3, 56px);
    }

    .element-name-button {
        width: 45px;
        height: 45px;
    }

    .element-name-button img {
        max-width: 40%;
        height:auto;
        margin:auto;
    }

    .element-title {
        font-size:var(--monument-mobile-port-font-size);
    }

    .element-verb, .element-overall  {
        font-size:var(--monument-mobile-port-font-size);
    }
}

/* BANANA LANDSCAPE ****************************************************************************************************/
@media only screen
and (min-width: 568px)
and (max-width: 895px)
and (orientation: landscape) {

    /* GRID at 568 px at 90% is 511 width and 399 height */
    .e-grid {
        grid-template-columns:repeat(3, 170px);
        grid-template-rows: repeat(3, 133px);
    }

    .element-name-button {
        width: 106px;
        height: 106px;
    }

    .element-name-button img {
        max-width: 60%;
        height:auto;
        margin:auto;
    }

    .element-title {
        font-size:var(--monument-mobile-land-font-size);
    }

    .element-verb, .element-overall  {
        font-size:var(--monument-mobile-land-font-size);
    }

}

/* MOBILES PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 360px)
and (max-width: 599px)
and (orientation: portrait) {

    /* GRID at 360 px at 90% is 324 width and 253 height */
    .e-grid {
        grid-template-columns:repeat(3, 108px);
        grid-template-rows:repeat(3, 84px);
    }

    .element-name-button {
        width: 67px;
        height: 67px;
    }

    .element-name-button img {
        max-width: 50%;
        height:auto;
        margin:auto;
    }

    .element-title {
        font-size:var(--monument-mobile-port-font-size);
    }

    .element-verb, .element-overall  {
        font-size:var(--monument-mobile-port-font-size);
    }

}

/*  MOBILES LANDSCAPE **************************************************************************************************/
@media only screen
and (min-width:896px )
and (max-width: 1279px)
and (orientation: landscape) {

    /* GRID at 896px at 90% is width 806 and 630 height */
    .e-grid {
        grid-template-columns:repeat(3, 268px);
        grid-template-rows: repeat(3, 210px);
    }

    .element-name-button {
        width: 168px;
        height:168px;
    }

    .element-name-button img {
        max-width: 60%;
        height:auto;
        margin:auto;
    }

    .element-title {
        font-size:var(--monument-mobile-land-font-size);
    }

    .element-verb, .element-overall  {
        font-size:var(--monument-mobile-land-font-size);
    }

}

/*  TABLETS PORTRAIT *******************************************************************************************/
@media only screen
and (min-width: 600px)
and (max-width: 1023px)
and (orientation: portrait) {

    /* GRID at 600px at 90% is 540 and 422 height */
    .e-grid {
        grid-template-columns:repeat(3, 180px);
        grid-template-rows: repeat(3, 140px);
    }

    .element-name-button {
        width: 112px;
        height: 112px;
    }

    .element-name-button img {
        max-width: 60%;
        height:auto;
        margin:auto;
    }

    .element-title {
        font-size:var(--monument-tablet-ipad-port-font-size);
    }

    .element-verb, .element-overall  {
        font-size:var(--monument-tablet-ipad-port-font-size);
    }

}

/*  TABLETS LANDSCAPE *******************************************************************************************/
@media only screen
and (min-width: 1280px)
and (max-width: 1365px)
and (orientation: landscape) {

    /* GRID at 1280 at 90% is 1152 width by 900 height can use large */
    .e-grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 180px 180px 150px 180px;
    }

    .element-name-button {
        width: 170px;
        height: 170px;
    }

    .element-name-button img {
        max-width: 100%;
        height:auto;
        margin:auto;
    }

    .element-title {
        font-size:var(--monument-tablet-ipad-land-font-size);
    }

    .element-verb, .element-overall  {
        font-size:var(--monument-tablet-ipad-land-font-size);
    }

}

/* IPADS PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 1024px)
and (max-width: 1366px)
and (orientation: portrait) {

    /* GRID at 1024px at 90% is 921 width and 720 height */
    .e-grid {
        grid-template-columns:repeat(3, 307px);
        grid-template-rows: repeat(3, 240px);
    }

    .element-name-button {
        width:192px;
        height:192px;
    }

    .element-name-button img {
        max-width: 90%;
        height:auto;
        margin:auto;
    }

    .element-title {
        font-size:var(--monument-tablet-ipad-port-font-size);
    }

    .element-verb, .element-overall  {
        font-size:var(--monument-tablet-ipad-port-font-size);
    }
}


/* IPADS LANDSCAPE ***************************************************************************************************/
@media only screen
and (min-width: 1366px)
and (max-width: 1439px)
and (orientation: landscape) {

    /* GRID at large size 1152px */
    .e-grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 180px 180px 150px 180px;
    }

    .element-name-button {
        width: 170px;
        height: 170px;
    }

    .element-name-button img {
        max-width: 100%;
        height:auto;
        margin:auto;
    }

    .element-title {
        font-size:var(--monument-tablet-ipad-land-font-size);
    }

    .element-verb, .element-overall  {
        font-size:var(--monument-tablet-ipad-land-font-size);
    }
}

/* LAPTOPS ***********************************************************************************************************/
@media only screen
and (min-width: 1440px)
and (max-width: 1919px) {

    /* TOP ELEMENT GRID at 1152px */
    .e-grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 180px 180px 150px 180px;
    }

    .element-name-button {
        width: 170px;
        height: 170px;
        border:thin solid #333;
    }

    .element-name-button img {
        max-width: 100%;
        height:auto;
        margin:auto;
    }

    .element-title {
        font-size:var(--monument-laptop-desktop-font-size);
    }

    .element-verb, .element-overall  {
        font-size:var(--monument-laptop-desktop-font-size);
    }
}

/* DESKTOPS ****************************************************************************************************/
@media only screen
and (min-width: 1920px) {

    /* TOP - ELEMENT GRID at 1152px 90% of 1280 max content container */
    .e-grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 180px 180px 150px 180px;
    }

    .element-name-button {
        width: 170px;
        height: 170px;
        margin:auto;
    }

    .element-name-button span, .element-name-button span a {
        color:white;
        font-size:1em;
        font-family: var(--family-global);
        text-align: center;
    }

    .element-name-button span {
        cursor: pointer;
    }

    .element-name-button  a span {
        text-decoration: none;
        cursor: pointer;
    }

    .element-name-button img {
        max-width: 100%;
        height:auto;
    }

    .element-title {
        font-size:var(--monument-laptop-desktop-font-size);
    }

    .element-verb, .element-overall  {
        font-size:var(--monument-med-laptop-desktop-font-size);
    }

}

/* GLOBAL *************************************************************************************************************/
@media only screen {

    /* ------------------ THE TOP SIDE WHEEL ----------------*/
    .element-wheel {
        display:grid;
        width:100%;
        max-width:800px;
        margin:1em auto 4em auto;
    }

    .e-grid {
        max-width:1152px;
        margin:auto;
        display:inline-grid;
        width:100%;
        font-family: var(--family-script);
    }

    /* ELEMENT WHEEL */
    .element-name-button {
        display: grid;
        justify-content: center;
        align-content: center;
        border-radius: 50%;
    }

    /* --------------------- ROW   1        ----------------------------- */
    .fire-element, .wood-to-fire-arrow, .fire-to-earth-arrow  {
        display:grid;
        grid-row:1;
        border:thin solid gold;
    }

    .wood-to-fire-arrow  {
        display:grid;
        grid-column:1;
        justify-content: center;
        /*align-content: center;*/
    }

    .fire-element  {
        display:grid;
        grid-column:2;
        justify-content: center;
        align-content: center;
    }

    .fire-to-earth-arrow  {
        display:grid;
        grid-column:3;
        justify-content: center;
        /*align-content: center;*/
    }

    /* --------------------- ROW 2 ---------------------------- */
    .wood-element, .center-element, .earth-element {
        grid-row:2;
        display:grid;
        border:thin solid gold;
    }

    .wood-element {
        display:grid;
        grid-column: 1;
        align-content:center;
        justify-content: flex-start;
    }

    .center-element {
        display:grid;
        grid-column: 2;
        grid-row-end:4;
        align-content:center;
        justify-content: center;
    }

    .center-element span {
        text-align: center;
        font-size:2em;
        color:var(--color-darkest-gold);
    }

    .earth-element {
        display:grid;
        grid-column:3;
        align-content:center;
        justify-content: flex-end;
    }

    /* --------------------- ROW 3   ----------------------------- */

    .water-to-wood-arrow  {
        display:grid;
        grid-row:3;
        grid-column:1;
        border:thin solid gold;
        justify-content: flex-start;
    }

    .earth-to-metal-arrow  {
        display:grid;
        grid-row:3;
        grid-column:3;
        border:thin solid gold;
        justify-content: flex-end;
    }

    /* --------------------- ROW 4   ----------------------------- */
    .water-element, .metal-to-water-arrow, .metal-element {
        display:grid;
        grid-row:4;
        border:thin solid gold;
    }

    .water-element {
        display:grid;
        grid-column:1;
        align-content: center;
        justify-content: flex-end;
    }

    .metal-to-water-arrow  {
        display:grid;
        grid-column:2;
        border:thin solid gold;
        justify-content: center;
        align-content: center;
    }

    .metal-element {
        display:grid;
        grid-column: 3;
        align-content: center;
        justify-content: flex-start;
    }

    /* --------------------- BOTTOM  UNDER WHEEL----------------------------- */
    .element-block {
        display: block;
        float:left;
        width: 100%;
        max-width:1152px;
    }

    .element-title {
        display:block;
        float:left;
        /*font-size:4em;*/
        text-align:center;
        font-family: "Monument-Valley";
        width: 100%;
    }

    /* HEADING with ELEMENT ICON, VERB and OVERALL ENERGY TYPE and IMAGE UNDERNEATH */
    .element-inline-header {
        display: inline-grid;
        grid-template-columns: 15% 25% 60%;
        grid-template-rows:79px;
        width: 100%;
        color: white;
        font-family: "Monument-Valley";
    }

    .element-icon {
        display:grid;
        justify-content: center;
    }

    .element-verb, .element-overall  {
        display:grid;
        font-weight: bold;
        /*font-size:2em;*/
        align-content: center;
    }

    .element-verb {
        justify-content: flex-start;
    }

    .element-overall {
        justify-content: flex-end;
        padding-right:2em;
    }

    .element-icon img {
        max-width: 100%;
        height: auto;
    }

    .element-image {
        display: block;
        float: left;
        width: 100%;
    }

    .element-image img {
        max-width: 100%;
        height: auto;
    }

    /* TIME RANGE INFO */
    .element-time {
        display:block;
        float:left;
        width:100%;
        padding:1em 0;
        text-align:center;
        font-family: var(--family-global);
    }

    .active-time {
        font-size:1.8em;
        padding:.5em 0;
    }

    .time-range {
        font-size:1.3em;
        line-height:200%;
    }

    /* SUMMARY OF ELEMENT */
    .element-intro {
        display:block;
        float:left;
        width:90%;
        padding:1em 5%;
        font-size:1.0em;
        text-align:left;
        line-height: 200%;
        font-family: var(--family-global);
        color:white;
    }








}
