<!-- this is only called when the screen is in mobile mode as they do not use the modal dialog container-->

<ng-container *ngIf="!modal">
    <app-dialog-header
        [wishes]='wishes'
        [title]='title'
        [modal]='modal'>
    </app-dialog-header>

    <div class="form-inner-block-wishes">
        <app-screen-form-make-wish-list-overview
            [wishes]="wishes"
            [modal]="modal">
        </app-screen-form-make-wish-list-overview>
    </div>
</ng-container>

<app-print-modal-make-wish-list [wishes]="wishes"></app-print-modal-make-wish-list>

