

/*******************************************************************************************************************
  ALL BANANAS, MOBILES AND TABLET AND IPAD PORTRAIT (MAX IS 1 less than TABLET LANDSCAPE at and (min-width: 1280px))
*******************************************************************************************************************/
@media only screen
and (min-width: 240px)
and (max-width: 1279px) {

    .facts-grid,  .citations-grid {
        width:var(--media-less-than-content-width);
    }

    .facts-grid {
        grid-template-columns: 100%;
    }

    .facts-image {
        grid-column:1;
        justify-content: center;
        text-align: center;
        height:300px;
    }

    .facts-text {
        grid-column:1;
        justify-content: center;
        align-content: center;
        padding:1em 0;
    }

    .facts-text a {
        padding-top:1em;
    }

}

/*  BANANA PORTRAIT IS MOBILE *******************************************************************************************/
@media only screen
and (min-width: 240px)
and (max-width: 359px)
and (orientation: portrait) {

    .facts-text a {
        font-size: var(--smallest-copy-banana-port-font-size);
    }

    .citations-grid {
        grid-template-columns: 100%;
    }

    .citations-grid a {
        font-size:var(--tiny-copy-banana-port-font-size);
        padding:.5em 0;
    }

    .citations-left, .citations-right  {
        grid-column:1;
        justify-content: flex-start;
    }

}

/* BANANA LANDSCAPE IS MOBILE ****************************************************************************************************/
@media only screen
and (min-width: 568px)
and (max-width: 895px)
and (orientation: landscape) {

    .facts-text a {
        font-size: var(--smallest-copy-banana-land-font-size);
    }

    .citations-grid {
        grid-template-columns: 100%;
        width:70%;
        margin:1em 15%;
    }

    .citations-grid a {
        font-size:var(--tiny-copy-banana-land-font-size);
        padding:.5em 0;
    }

    .citations-left, .citations-right  {
        grid-column:1;
    }

}

/* MOBILES PORTRAIT IS MOBILE ****************************************************************************************************/
@media only screen
and (min-width: 360px)
and (max-width: 599px)
and (orientation: portrait) {

    .facts-text a {
        font-size: var(--smallest-copy-mobile-port-font-size);
    }

    .citations-grid {
        grid-template-columns: 100%;
    }

    .citations-grid a {
        font-size:var(--tiny-copy-mobile-port-font-size);
        padding:.5em 0;
    }

    .citations-left, .citations-right  {
        grid-column:1;
        justify-content: flex-start;
    }

}

/*  MOBILES LANDSCAPE IS MOBILE  **************************************************************************************************/
@media only screen
and (min-width:896px )
and (max-width: 1279px)
and (orientation: landscape) {

    .facts-text a {
        font-size: var(--small-copy-mobile-land-font-size);
    }

    .citations-grid {
        grid-template-columns: repeat(2, 50%);
    }

    .citations-grid a {
        font-size:var(--tiny-copy-mobile-land-font-size);
        padding:.5em 0;
    }

    .citations-left  {
        grid-column:1;
        text-align: left;
        justify-content: flex-start;
    }

    .citations-right  {
        grid-column:2;
        text-align: right;
        justify-content: flex-end;
    }

}

/*  TABLETS PORTRAIT  *******************************************************************************************/
@media only screen
and (min-width: 600px)
and (max-width: 1023px)
and (orientation: portrait) {

    .facts-text a {
        font-size: var(--smallest-copy-tablet-port-font-size);
    }

    .citations-grid {
        grid-template-columns: repeat(2, 50%);
    }

    .citations-grid a {
        font-size:var(--tiny-copy-tablet-port-font-size);
        padding:.5em 0;
    }

    .citations-left  {
        grid-column:1;
        text-align: left;
        justify-content: flex-start;
    }

    .citations-right  {
        grid-column:2;
        text-align: right;
        justify-content: flex-end;
    }

}

/* IPADS PORTRAIT  IS MOBILE ****************************************************************************************************/
@media only screen
and (min-width: 1024px)
and (max-width: 1366px)
and (orientation: portrait) {

    .facts-text a {
        font-size: var(--small-copy-ipad-port-font-size);
    }

    .citations-grid {
        grid-template-columns: repeat(2, 50%);
    }

    .citations-grid a {
        font-size:var(--tiny-copy-ipad-port-font-size);
        padding:.5em 0;
    }

    .citations-left  {
        grid-column:1;
        text-align: left;
        justify-content: flex-start;
    }

    .citations-right  {
        grid-column:2;
        text-align: right;
        justify-content: flex-end;
    }

}

/*******************************************************************************************************************
  ALL THAT SHOW DESKTOP - TABLET LANDSCAPE, IPAD LANDSCAPE, LAPTOP, DESKTOP and UP
*******************************************************************************************************************/

@media only screen
and (min-width: 1280px)
and (orientation: landscape) {

    .facts-grid,   .citations-grid {
        width:var(--media-more-than-content-width);
    }

    .facts-image {
        grid-column:1;
        justify-content: center;
        height:600px;
    }

    .facts-text {
        grid-column:2;
        justify-content: flex-end;
        align-content: center;
        line-height: 140%;
    }

}

/*  TABLETS LANDSCAPE IS DESKTOP *******************************************************************************************/
@media only screen
and (min-width: 1280px)
and (max-width: 1365px)
and (orientation: landscape) {

    .facts-grid {
        grid-template-columns: 40% 60%;
    }

    .facts-text a {
        font-size: var(--small-copy-tablet-land-font-size);
    }

    .citations-grid {
        grid-template-columns: repeat(2, 50%);
    }

    .citations-grid a {
        font-size:var(--tiny-copy-tablet-land-font-size);
        padding:.5em 0;
    }

    .citations-left  {
        grid-column:1;
        text-align: left;
        justify-content: flex-start;
    }

    .citations-right  {
        grid-column:2;
        text-align: right;
        justify-content: flex-end;
    }

}

/* IPADS LANDSCAPE IS DESKTOP ***************************************************************************************************/
@media only screen
and (min-width: 1366px)
and (max-width: 1439px)
and (orientation: landscape) {

    .facts-grid {
        grid-template-columns: 50% 50%;
    }

    .facts-text a {
        font-size: var(--smallest-copy-ipad-land-font-size);
    }

    .citations-grid {
        display:inline-grid;
        grid-template-columns: repeat(2, 50%);
    }

    .citations-grid a {
        font-size:var(--tiny-copy-ipad-land-font-size);
        padding:.5em 0;
    }

    .citations-left  {
        grid-column:1;
        text-align: left;
        justify-content: flex-start;
    }

    .citations-right  {
        grid-column:2;
        text-align: right;
        justify-content: flex-end;
    }

}

/* DESKTOPS ****************************************************************************************************/
@media only screen
and (min-width: 1440px) {

    .screen-prompts a {
        font-size: var(--big-copy-desktop-font-size);
    }

    .facts-grid {
        grid-template-columns: 45% 55%;
    }

    .facts-text a {
        font-size: var(--smallest-copy-desktop-font-size);
    }

    .citations-grid {
        display:inline-grid;
        grid-template-columns: repeat(2, 50%);
    }

    .citations-grid a {
        font-size:var(--tiny-copy-desktop-font-size);
        padding:.5em 0;
    }

    .citations-left  {
        grid-column:1;
        text-align: left;
        justify-content: flex-start;
    }

    .citations-right  {
        grid-column:2;
        text-align: right;
        justify-content: flex-end;
    }

}

/* GLOBAL *************************************************************************************************************/
@media only screen {

    .facts-grid, .citations-grid,  .screen-prompts {
        max-width: var(--screen-width);
    }

    .screen-prompts {
        display:block;
    }

    .screen-prompts a {
        letter-spacing: 2px;
        line-height: 200%;
        padding-left:2em;
        cursor: pointer;
        text-decoration: none;
        font-family: var(--family-copy);
        font-weight:500;
        color: var(--color-purple);
    }

    .dark-copy-hidden {
        display:none;
    }

    .facts-grid  {
        display:grid;
        font-family: var(--family-copy);
        margin:auto;
    }

    .facts-image {
        display: grid;
        width: 100%;
    }

    .bkgrd-facts {
        background: url("src/assets/images/details/home/backgroundFAQs.jpg") center no-repeat;
        background-size: contain;
    }

    .facts-text {
        display: grid;
        width: 100%;
    }

    .facts-text a {
        text-align: left;
        text-decoration: none;
        color: var(--color-dark-blue);
    }

    .citations-grid {
        display:grid;
        margin:auto;
        font-family: var(--family-copy);
    }

    .citations-grid a {
        color:var(--color-dark-blue);
    }

    .citations-left, .citations-right {
        display:grid;
        width:100%;
    }

}

