<div class="header-home-image-container">
    <div class="header-home-image">
        <img src="assets/images/headers/home/headerHome.jpg" title={{title}} alt={{title}}>
    </div>

    <div class="header-home-image-quotes">
        <div class="header-home-image-quote">
            &#8220;{{ quote }}&#8220;
        </div>
        <div class="header-home-image-author">
            {{ author }}
        </div>
    </div>
</div>

<div class="content-container">
    <div class="content-title">
        <h1>{{ title }}</h1>
    </div>
</div>

<div class="laptopForm">
    <div class="home-facts-block">
        <div class="home-facts-container">
            <div class="facts-inline-image">
                <img src="assets/images/details/home/backgroundFacts.jpg" alt="Facts about dying" title="Facts about dying">
            </div>

            <div class="facts-inline-text">
                <ul class="facts-inline-list">
                    <ng-container *ngFor="let fact of facts">
                        <ng-container *ngIf="fact.id <= 6">
                            <li class="facts-inline-list-item">
                                <a target="_blank" href="{{fact.url}}">
                                    <b>&#x2638;</b> {{ fact.copy }}<sup>{{ fact.sup }}</sup>
                                </a>
                            </li>
                        </ng-container>
                    </ng-container>
                </ul>
            </div>
        </div>
    </div>

    <div class="content-container">
        <div class="content-list square">
            <ng-container *ngFor="let fact of facts">
                <ng-container *ngIf="fact.id >= 7">
                    <li class="list-item-small">
                        <a target="_blank" href="{{fact.url}}">
                            {{ fact.copy }}<sup>{{ fact.sup }}</sup>
                        </a>
                    </li>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>

<div class="mobileForm">
    <div class="content-images">
        <img src="assets/images/details/home/backgroundFactsMobile.jpg" alt="Facts about dying" title="Facts about dying">
    </div>

    <ul class="content-list square">
        <ng-container *ngFor="let fact of facts">
            <div class="list-item">
                <a target="_blank" href="{{fact.url}}">
                    {{ fact.copy }}<sup>{{ fact.sup }}</sup>
                </a>
            </div>
        </ng-container>
    </ul>
</div>

<div class="content-container">
    <div class="content-title">
        <h2>Let's Control our Destiny</h2>
    </div>

    <div class="content-copy">
        <p>
            After looking at the facts, we have to realize that it is vitally important is to be in charge of your own impending death
            as
            much as possible. The fact is 100% of us will die, and of course we would rather not think about it. But this new
            world is bringing up changes in how we view just about everything. Sexual and gender orientation definitions are changing.
            Respect
            for our
            Indigenous cultures is increasing. Equality for people of color is making huge strides. The prejudice around aging is also
            being
            challenged. The way we choose to die is changing as well.

        </p>
    </div>

    <div class="content-quotes">
        <div class="content-quote">
            &#8220;Hospitals were never meant to be the place we go when we are dying - it was never meant to be a place where people
            live out their last days on Earth.&#8221;
        </div>

        <!--    , surrounded by strangers-->
        <div class="content-author">
            anon
        </div>
    </div>

    <div class="content-copy">
        <p>
            Not so long ago, we all died at home, being cared for by our family and neighbors. It was a sad event of course, but it was
            considered just another part of the life experience. Family cared for the ill and dying and after death, loved ones and
            people in
            the community would gather at the home to pay their respects. The viewing allowed people to grieve and more importantly, to
            bear
            witness to the deceased. Food, music and celebrations honoring the person would follow. Burial was often in the family plot
            if
            they lived in the country or at the local church cemetery if they lived in the city.
        </p>
    </div>

    <div class="content-images">
        <img src="assets/images/details/home/helpOurselves.jpg" alt="How do we help ourselves?" title="How do we help ourselves?">
    </div>

    <div class="content-copy">
        <p>
            The handling of death today is often a very different experience. In my work as an energy medicine practitioner and
            end-of-life
            consultant I have heard countless stories of frustrated and angry relatives who were unable to provide a graceful death for
            their
            loved one. It isn't that the hospitals are failing necessarily, it is that because of the infinite ways in which a person
            can be
            'saved' a terminal person can be dragged back to life whether they want to or not.
        </p>
    </div>

    <div class="content-quotes">
        <div class="content-quote">
            &#8220;It is not the length of life, but the depth.&#8221;
        </div>

        <div class="content-author">
            Ralph Waldo Emerson
        </div>
    </div>

    <div class="content-copy">
        <p>
            What it comes down to is - as with taxes and life insurance and all those awful things, planning for your inevitable death
            is
            deemed essential by the members of the health care community. They don't like having to be in the position of making life
            changing decisions on your behalf, especially because, after all, they are strangers.
        </p>
    </div>

    <div class="content-title">
        <h2>Let's Keep our Integrity</h2>
    </div>

    <div class="content-copy">
        <p>
            Did you know that most funeral homes are owned by mega-corporations and that cemetery plots are often flipped for profit? Or
            that a
            traditional burial or cremation is terrible for the environment? If you spent your life advocating for the working class, or
            if you
            care about climate change - doesn't it make sense to make decisions and have an positive impact even after you leave this
            Earth?
            <br><br>
            Planning for your future care is not only essential for the baby boomer generation but is also so important that the
            Canadian
            government urges everyone over 19 to make an advance care plan. Accidents happen at any age and taking the time to put
            together
            your wishes and beliefs shows compassion for your family who may have to make big decisions on your behalf.
        </p>
    </div>

    <div class="content-quotes">
        <div class="content-quote">
            &#8220;To live in the hearts we leave behind is not to die.&#8221;
        </div>

        <div class="content-author">
            Thomas Campbell
        </div>
    </div>

    <div class="content-copy">
        <p>
            In our rapidly evolving world, we often feel like we have lost control. But we can plan ahead to maintain our integrity, our
            self-respect, our wisdom and our courage. When it is time for us to go, and our energy transforms into something that no one
            else
            can see, prove or disprove, we can take back control of the sacred transition when leaving this Earth for whatever lies
            ahead.
        </p>
    </div>

    <a routerLink="/bookConsultation" style="cursor:pointer; text-decoration:none">
        <div class="content-images">
            <img src="assets/images/details/home/bookSessionText.jpg" alt="Book a session" title="Book a session">
        </div>
    </a>

   <!-- <div class="content-title">
        <div *ngIf="sectionSelected === 'triggeredSection1'">
            <h3><a (click)="this.getTriggeredPromptKey(0)">
                Close the Citations: &#x25BC;
            </a></h3>
        </div>

        <div *ngIf="sectionSelected != 'triggeredSection1'">
            <h3><a (click)="this.getTriggeredPromptKey(1)">
                See the Citations: &#x25B6;
            </a></h3>
        </div>
    </div>-->
</div>

<!--<div *ngIf="sectionSelected === 'triggeredSection1'">
    <div class="content-container">
        <div class="content-list">
            <div class="list-item" *ngFor="let fact of facts">
                <a target="_blank" href="{{fact.url}}">{{ fact.id }}: {{ fact.citation }}</a>
            </div>
        </div>
    </div>
</div>-->




