/*  BANANA PORTRAIT *******************************************************************************************/
@media only screen
and (min-width: 240px)
and (max-width: 359px)
and (orientation: portrait) {

    /* FACTS GRID ON HOME PAGE ONLY */
    .facts-grid {
        display:grid;
        width:90%;
        margin-left:5%;
        margin-right:5%;
    }

    .facts-image {
        height:216px;
    }

    .facts-text {
        justify-content: center;
        align-content: flex-start;
    }

    .facts-text a  {
        padding-top:1em;
        font-size: .6em;
    }

    .citations {
        grid-template-columns: 100%;
        width:90%;
        margin:1em 5%;
    }

    .citations-left, .citations-right  {
        grid-column:1;
    }

    .citations a {
        font-size:var(--mobile-citations);
        line-height:110%;
        padding:.5em 0;
    }

}

/* BANANA LANDSCAPE ****************************************************************************************************/
@media only screen
and (min-width: 568px)
and (max-width: 895px)
and (orientation: landscape) {

    /* FACTS GRID ON HOME PAGE ONLY */
    .facts-grid {
        display:grid;
        width:90%;
        margin-left:5%;
        margin-right:5%;
    }

    .facts-image {
        height:300px;
    }

    .facts-text {
        justify-content: center;
        align-content: flex-start;
    }

    .facts-text a {
        padding-top:1em;
        font-size: var(--small-copy-banana-land-font-size);
    }

    .citations {
        grid-template-columns: 100%;
        width:90%;
        margin:1em 5%;
    }

    .citations-left, .citations-right  {
        grid-column:1;
    }

    .citations a {
        font-size:var(--mobile-citations);
        line-height:110%;
        padding:.5em 0;
    }

}

/* MOBILES PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 360px)
and (max-width: 599px)
and (orientation: portrait) {

    /* FACTS GRID ON HOME PAGE ONLY */
    .facts-grid {
        width:90%;
        margin-left:5%;
        margin-right:5%;
    }

    .facts-image {
        height:324px;
    }

    .facts-text {
        justify-content: center;
        align-content: flex-start;
    }

    .facts-text a {
        padding-top:1.5em;
        font-size: var(--small-copy-mobile-port-font-size);
    }

    .citations {
        grid-template-columns: 100%;
        width:90%;
        margin:1em 5%;
    }

    .citations-left, .citations-right  {
        grid-column:1;
    }

    .citations a {
        font-size:var(--mobile-citations);
        line-height:120%;
        padding:.5em 0;
    }

}

/*  MOBILES LANDSCAPE **************************************************************************************************/
@media only screen
and (min-width:896px )
and (max-width: 1279px)
and (orientation: landscape) {

    /* FACTS GRID ON HOME PAGE ONLY */
    .facts-grid {
        display:grid;
        width:90%;
        margin-left:5%;
        margin-right:5%;
    }

    .facts-image {
        height:300px;
    }

    .facts-text {
        justify-content: center;
        align-content: flex-start;
    }

    .facts-text a {
        font-size: .9em;
        padding-top: 1em;
    }

    .facts-text a {
        padding-top: 1em;
        font-size: var(--small-copy-mobile-land-font-size);
    }

    .citations {
        grid-template-columns: repeat(2, 50%);
        width:90%;
        margin:1em 5%;
    }

    .citations-left  {
        grid-column:1;
    }

    .citations-right  {
        grid-column:2;
    }

    .citations a {
        font-size:var(--mobile-citations);
        line-height:140%;
        padding:.5em 0;
    }

}

/*  TABLETS PORTRAIT *******************************************************************************************/
@media only screen
and (min-width: 600px)
and (max-width: 1023px)
and (orientation: portrait) {

    /* FACTS GRID ON HOME PAGE ONLY */
    .facts-grid {
        display:grid;
        width:90%;
        margin-left:5%;
        margin-right:5%;
    }

    .facts-image {
        height:300px;
    }

    .facts-text {
        justify-content: center;
        align-content: flex-start;
    }

    .facts-text a {
        font-size: .7em;
        padding-top: 1em;
    }

    .citations {
        grid-template-columns: 100%;
        width:90%;
        margin:1em 5%;
    }

    .citations-left, .citations-right  {
        grid-column:1;
    }

    .citations a {
        font-size:var(--mobile-citations);
        line-height:120%;
        padding:.5em 0;
    }

}

/* IPADS PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 1024px)
and (max-width: 1366px)
and (orientation: portrait) {

    /* FACTS GRID ON HOME PAGE ONLY */
    .facts-grid {
        display:grid;
        width:90%;
        margin-left:5%;
        margin-right:5%;
    }

    .facts-image {
        height:400px;
    }

    .facts-text {
        justify-content: center;
        align-content: flex-start;
    }

    .facts-text a {
        padding-top: 1em;
        font-size: .9em;
    }

    .citations {
        grid-template-columns: repeat(2, 50%);
        width:90%;
        margin:1em 5%;
    }

    .citations-left  {
        grid-column:1;
    }

    .citations-right  {
        grid-column:2;
    }

    .citations a {
        font-size:var(--mobile-citations);
        line-height:140%;
        padding:.5em 0;
    }

}

/*  TABLETS LANDSCAPE SIDE BY SIDE PRESENTATION *******************************************************************************************/
@media only screen
and (min-width: 1280px)
and (max-width: 1365px)
and (orientation: landscape) {

    /* FACTS GRID ON HOME PAGE ONLY */
    .facts-grid {
        display:inline-grid;
        width:90%;
        margin:0 5%;
        grid-template-columns: 50% 50%;
    }

    /* align content doesnt work */
    .facts-image {
        grid-column:1;
        height:500px;
    }

    .facts-text {
        grid-column:2;
        margin-top:.3em;
        justify-content: flex-end;
    }

    .facts-text a {
        font-size: .7em;
        padding-top: .5em;
    }

    .citations {
        grid-template-columns: repeat(2, 50%);
        width:90%;
        margin:1em 5%;
    }

    .citations-left  {
        grid-column:1;
    }

    .citations-right  {
        grid-column:2;
    }

    .citations a {
        font-size:var(--citations);
        line-height:140%;
        padding:.5em 0;
    }

}

/* IPADS LANDSCAPE SIDE BY SIDE PRESENTATION ***************************************************************************************************/
@media only screen
and (min-width: 1366px)
and (max-width: 1439px)
and (orientation: landscape) {

    .facts-grid {
        display:inline-grid;
        width:90%;
        margin:0 5%;
        grid-template-columns: 50% 50%;
    }

    /* align content doesnt work */
    .facts-image {
        grid-column:1;
        margin-top: .5em;
        height:500px;
    }

    .facts-text {
        grid-column:2;
        justify-content: flex-end;
    }

    .facts-text  a {
        font-size: .8em;
        padding-top:.5em;
    }

    .citations {
        grid-template-columns: repeat(2, 50%);
        width:90%;
        margin:1em 5%;
    }

    .citations-left  {
        grid-column:1;
    }

    .citations-right  {
        grid-column:2;
    }

    .citations a {
        font-size:var(--citations);
        line-height:140%;
        padding:.5em 0;
    }


}

/* DESKTOPS SIDE BY SIDE PRESENTATION ****************************************************************************************************/
@media only screen
and (min-width: 1440px) {

    /* FACTS GRID ON HOME PAGE ONLY */
    .facts-grid {
        display:inline-grid;
        width:90%;
        margin:0 5%;
        grid-template-columns: 40% 60%;
    }

    /* align content doesnt work */
    .facts-image {
        grid-column:1;
        margin-top: 1em;
        height:500px;
    }

    .facts-text {
        grid-column:2;
        justify-content: flex-end;
    }

    .facts-text a {
        font-size: .9em;
        padding-top:.5em;
    }

    .citations {
        display:inline-grid;
        grid-template-columns: repeat(2, 50%);

    }

    .citations-left  {
        grid-column:1;
    }

    .citations-right  {
        grid-column:2;
    }

    .citations a {
        font-size:var(--citations);
        line-height:140%;
        padding:.5em 0;
    }

}

/* GLOBAL ****************************************************************************************************/
@media only screen {

    /* FACTS GRID ON HOME PAGE ONLY */

    .facts-grid, .citations {
        font-family: var(--family-copy);
    }

    .facts-grid {
        max-width:1280px;
    }

    .facts-image {
        display:grid;
        width:100%;
        background: url("src/assets/images/home/backgroundFAQs.jpg") no-repeat center;
        background-size: contain;
    }

    .facts-text {
        display:grid;
        width:100%;
    }

    .facts-text a {
        display:inline;
        text-align: left;
        text-decoration: none;
        color:var(--color-dark-blue);
    }

    .citations {
        width:100%;
        margin:1em 0;
    }

    .citations-left, .citations-right {
        display:grid;
        width:100%;
    }

    .citations-left {
        justify-content: flex-start;
        text-align: left;
    }

    .citations-right {
        justify-content: flex-end;
        text-align: right;
    }

    .citations a {
        color:var(--color-dark-blue);
    }

}