
<div class="content-container">
    <div class="full-length-titles">
        <h1>{{title.toUpperCase()}}</h1>
    </div>

    <img src="assets/images/home/areWeReallyHealthy.jpg" class="images" alt="Are We Really Healthy?" title="Are We Really Healthy?">

    <div class="full-length-sub-titles">
        <h2>Facing the Facts</h2>
    </div>

    <div class="facts-grid">
        <div class="facts-text">
            <span>In 1920–1922 life expectancy in Canada for men in was 58.8 years, for women it was 60.6 years.
                <div class="super">1</div>
            </span>

            <span>In 2022, life expectancy for men in Canada was 80.9 years, for women it was 84.7 years.
                <div class="super">2</div>
            </span>

            <span>In 1900, the top causes of death were cardiovascular and renal disease, pneumonia, flu, bronchitis and tuberculosis.
                <div class="super">3</div>
            </span>

            <span>People were cared for by family and died at home after which neighbors and friends would visit to pay their respects.
                <div class="super">4</div>
            </span>

            <span>With advances in hygiene, sanitation methods, antibiotics and vaccines, people began to put their faith in science and medicine.
                <div class="super">4</div>
            </span>

            <span>By 1950, patients were being sent to hospitals instead of staying at home, even though over 50% of them died there anyway.
                <div class="super">4</div>
            </span>

            <span>When a doctor couldn't save them they were relegated to the care of nurses who never received training in the death process.<div class="super">4</div>
            </span>

            <span>With strict visiting rules up until the year 2000, including a ban of children visiting at all, many patients died alone.<div class="super">4</div>
            </span>

            <span>Today, about 10% of us die of sudden death, 20% from an acute illness while 70% will die from an often un-treatable chronic illness.
                <div class="super">4</div>
            </span>

            <span>Most beleive they can receive Palliative Care but in 2007 the govt. discontinued the palliative and end-of-life care strategy.
                <div class="super">4</div>
            </span>

            <span>The Canadian Hospice Palliative Care Association finds that only 16% to 30% of Canadians receive any form of palliative care.
                <div class="super">5</div>
            </span>

            <span>Under the Canada Health Act, home care is not an essential service and is relegated to each province to set their own standards.
                <div class="super">6</div>
            </span>

            <span>Most patients have to rely on family caregivers who devote about 54 hours a week for care and must pay at least 25% of the cost.
                <div class="super">4</div>
            </span>

            <span>70% of patients requested comfort measures only (no life-prolonging treatments) but 54% of these patients were admitted to ICU.
                <div class="super">5</div>
            </span>

            <span>70% of us will die in hospitals often after receiving “pointless, often stressful, heroic measures to prevent death.<div class="super">
                4</div></span>


         <!--







             this from DR K ARNUP
            Most people, however, died in hospitals (often after
receiving “pointless, often stressful, heroic measures to prevent death.”11 Furthermore, with
increased life expectancy, people were increasingly living longer with chronic, long-term illnesses,
eventually dying in a hospital (perhaps after a stay in a nursing home). Yet little thought was given
to dignity, pain relief or quality of care
People were no longer present at the time of death and, as such, death itself became shrouded
in mystery and fear. Most people, even today, have not been with someone who is dying or have
not seen a dead person until well into middle age. Medical anthropologist Andrea Sankar notes
that “fear of the actual death is one of the main reasons people rehospitalize the patient at the
point of death or refuse to care for the dying at home.

Dr. Balfour Mount, a urologist and surgical oncologist, piloted a
study of the needs of dying patients at the Royal Victoria Hospital in Montreal. Appalled by the
suffering he and his team found, Mount established a hospice-like ward within the hospital to
relieve suffering and provide quality end-of-life care. Dr. Mount coined the term “palliative care”

Health care and eldercare systems in North America still operate on the assumption that family
members (in particular women – wives, mothers, sisters, daughters, nieces, granddaughters)
will be able to care for ill, injured, aging and elderly family members once they are discharged
from hospital or for disabled family members in need of care and support.

-->
        </div>

        <div class="facts-image">
            <img src="../../../assets/images/home/backgroundFAQs.jpg" alt="The facts" title="The facts">
        </div>
    </div>

    <div class="citations">
        <p><a href="https://www150.statcan.gc.ca/n1/pub/11-630-x/11-630-x2016002-eng.htm" target="_blank">
            <b>1:</b>Stats Canada</a>
        </p>

        <p><a href="https://worldpopulationreview.com/countries/life-expectancy" target="_blank">
            <b>2:</b>World Population Review</a>
        </p>

        <p><a href="https://www.ncdemography.org/2014/06/16/mortality-and-cause-of-death-1900-v-2010" target="_blank">
            <b>3:</b>Carolina Demography</a>
        </p>

        <p><a href="https://vanierinstitute.ca/wp-content/uploads/2015/12/CFT_2013-11-00_EN.pdf" target="_blank">
            <b>4:</b>Death, Dying and Canadian Families by DR. KATHERINE ARNUP</a>
        </p>

        <p><a href="https://maisonstraphael.org/wp-content/uploads/2016/05/Fact_Sheet_HPC_in_Canada-Spring-2014-Final.pdf" target="_blank">
            <b>5:</b>The Canadian Hospice Palliative Care Association Fact Sheet - updated 2014</a>
        </p>

        <p><a href="https://publications.gc.ca/collections/Collection/CP32-85-2002E.pdf" target="_blank">
            <b>6:Roy Romanow, Building Values: The Future of Health Care in Canada (Final Report), November 2002.</b></a>
    </div>

         <!--   <p><b>5:</b>Susan L. Smith and Dawn Dorothy Nickel, “Nursing the Dying in Post-Second World War Canada
                    and the United States,” (McGill-Queen’s University Press, 2003), p. 333
            </p>
-->
<!--                    *SPECIAL SERIES – END OF LIFE CARE - Robert Fowler, MDCM, MS, FRCPC, Michael Hammer, BSc</a>-->
            <!--    <span><a href="https://cahs-acss.ca/wp-content/uploads/2013/08/End-of-Life-Care-in-Canada.pdf" target="_blank">
                          <b>4:</b>Robert Fowler, MDCM, MS, FRCPC, Michael Hammer, BSc</a></span>-->

</div>

<div class="content-quote">
    <p>
        &#8220;Hospitals were never meant to be the place we go when we are dying - it was never meant to be a place where people live
        out their last days on Earth, surrounded by strangers.&#8221;
    </p>
    <span>&nbsp;</span>
</div>

<div class="inner-content-no-margins">
    <div class="full-length-sub-titles">
        <h2>How do we live better?</h2>
    </div>

    <div class="dark-copy">
        There is an obvious lack of ancient wisdom in all of this. Not that long ago it was very common for folks
        to go to their local <q>healer</q> whenever they or a family member were ill or in some kind of distress. If they
        were having a baby the midwife and/or the women of the village helped the mother give birth. If a person was
        sick they often had a wise elder, a herbalist or a doctor who did house calls. And in death, the family was there
        by their side, helping them transition.
        <br><br>
        How do we get back to taking responsibility for our own health? We have separated our bodies into parts and we have
        specialists who work on these parts and they send us for test after test. They may confer with one another but the
        doctor who is supposed to provide the big picture, the general practitioner, is often not equipped to put it all together - because it has been
        very effectively taken apart!
    </div>

    <div class="full-length-sub-titles">
        <h2>Let's get holistic again</h2>
    </div>

    <div class="dark-copy">
        For many, the Holistic approach is considered the 'crazy' approach. Treating the body as an inter-communicating work of
        art that actually does know of each of it's parts is now deemed 'new age' and therefore unreliable.
        <br><br>
        When you drill down, however you find beyond the mass, there is energy. It is what you are made of, period.
        Just as the blood in our body is continuously flowing for our lifetimes, energy is also at work throughout our
        lives. It is an intelligent, responsive system like every other system in the body that maintains balance. And
        it can be moved, re-directed, decreased and increased ... using non-invasive, safe and effective techniques!
    </div>
</div>

<div class = "topic-inline-grid with-faded-background">
    <div class="topic-left">
        <a routerLink="/menuEnergyMedicine">
            <h2>Try Energy Medicine Techniques</h2>
            <span>learn how to reduce anxiety, relieve burnout, resist pain and more...</span>
        </a>
    </div>

    <div class="topic-right">
        <a routerLink="/menuEnergyMedicine">
            <img src="../../../assets/images/home/howCanWeLiveBetter.jpg" alt="How to Live Better?" title="How to Live Better?">
        </a>
    </div>
</div>

<div class="energy-tip">
    <span><b><i>Energy Tip</i></b> :
        The concept of energy in your body is so foreign to most but it is actually right there all the time
        for you to play with.
        Start by looking at a white wall and then gaze gently at your fingertips.
        Eventually you may see a small outline around each finger, this is the inner Etheric layer of
        your Aura which could be white or any other color. It is the layer where all changes exist first before becoming
        manifested into matter.
    </span>
</div>

<div class="inner-content-no-margins">
    <div class="full-length-sub-titles">
        <h2>How do we die better?</h2>
    </div>

    <div class="dark-copy">
        We can manage many of our health issues by working with our own energy system. This puts you back in charge of
        your life. What is equally important is to also be in charge of your own dying. The fact is 100% of us will die.
        But, as with our health, we would rather not think about it. But this new world is bringing up changes in
        how we view just about everything.
        <br><br>
        Sexual orientation definitions are changing. Respect for our Indigenous cultures is increasing. Equality for
        people of color is making huge strides. The prejudice around aging is also being challenged. The way we
        choose to die is changing as well.
    </div>

    <div class="full-length-sub-titles">
        <h2>Let's keep our integrity</h2>
    </div>

    <div class="dark-copy">
        Did you know that most funeral homes are owned by mega-corporations? Or
        that a traditional burial or cremation is terrible for the environment? If you spent your life advocating
        for the working poor, the environment etc. doesn't it make sense to continue to do so until the very end?
        <br><br>
        In our rapidly evolving world, we often feel like we have lost control. But we can plan ahead to maintain
        our integrity, our self-respect, our wisdom and our courage. When it is time for us to go, and our energy transforms into
        something that no one else can see, prove or disprove,
        we need to take back this sacred transition of leaving this Earth for whatever lies ahead.
    </div>
</div>

<div class = "topic-inline-grid with-faded-background">
    <div class="topic-left">
        <a routerLink="/menuDoulaWork">
            <h2>Care for yourself till the end</h2>
            <span>learn about care plans, caregiver support, legacy projects and more...</span>
        </a>
    </div>

    <div class="topic-right">
        <a routerLink="/menuDoulaWork">
            <img src="../../../assets/images/home/howCanWeDieBetter.jpg" alt="How Can We Die Better?" title="How Can We Die Better?">
        </a>
    </div>
</div>

<div class="content-quote">
    <p>
        &#8220;If we could actually see the energy that's constantly swirling within us and around us - forever
        processing our emotions and thoughts, always re-creating our reality to fit our beliefs and
        unceasingly and vigilantly protecting us - we might never feel alone.&#8221;
    </p>
    <span>Karen Allan</span>
</div>
















