/*******************************************************************************************************************
  ALL BANANAS, MOBILE PORTRAIT, TABLET PORTRAIT AND IPAD PORTRAIT (MAX IS 1 less than TABLET LANDSCAPE at and (min-width: 1280px))
*******************************************************************************************************************/
@media only screen
and (min-width: 240px)
and (max-width: 1279px) {

    .facts-grid,  .citations-grid {
        width:var(--media-less-than-content-width);
        grid-template-columns: 100%;
        margin: auto;
    }

    .bkgrd-facts {
        background: url("src/assets/images/details/home/backgroundFAQs.jpg") center no-repeat;
        background-size: contain;
    }

    .facts-image {
        grid-column:1;
        text-align: center;
        align-content: flex-start;
        height:300px;
        justify-content: center;
    }

    .facts-text {
        grid-column:1;
        justify-content: center;
    }

    .citations-left, .citations-right  {
        grid-column:1;
        justify-content: flex-start;
    }

    .citations-right  {
        padding-bottom: 1em;
    }

    .facts-text a, .citations-left a, .citations-right a {
        line-height: 110%;
        padding-top:1em;
        text-align: left;
    }

}

/*  BANANA PORTRAIT IS MOBILE *******************************************************************************************/
@media only screen
and (min-width: 240px)
and (max-width: 359px)
and (orientation: portrait) {

    .facts-text a, .citations-left a, .citations-right a {
        font-size: var(--smallest-copy-banana-port-font-size);
    }

}

/* BANANA LANDSCAPE IS MOBILE ****************************************************************************************************/
@media only screen
and (min-width: 568px)
and (max-width: 895px)
and (orientation: landscape) {

    .citations-left, .citations-right  {
        padding-left:3em;
    }

    .facts-text a,.citations-left a, .citations-right a {
        font-size: var(--smallest-copy-banana-land-font-size);
    }

}

/* MOBILES PORTRAIT IS MOBILE ****************************************************************************************************/
@media only screen
and (min-width: 360px)
and (max-width: 599px)
and (orientation: portrait) {

    .facts-text a,.citations-left a, .citations-right a {
        font-size: var(--smallest-copy-mobile-port-font-size);
    }

}


/*  TABLETS PORTRAIT IS MOBILE *******************************************************************************************/
@media only screen
and (min-width: 600px)
and (max-width: 1023px)
and (orientation: portrait) {

    .citations-left, .citations-right {
        padding-left:3em;
    }

    .facts-text a,.citations-left a, .citations-right a {
        font-size: var(--smallest-copy-tablet-port-font-size);
    }

}

/* IPADS PORTRAIT  IS MOBILE ****************************************************************************************************/
@media only screen
and (min-width: 1024px)
and (max-width: 1366px)
and (orientation: portrait) {

    .citations-left, .citations-right {
        padding-left:3em;
    }

    .facts-text a {
        font-size: var(--small-copy-ipad-port-font-size);
    }

}

/*******************************************************************************************************************
  ALL THAT SHOW DESKTOP - MOBILE LANDSCAPE, TABLET LANDSCAPE, IPAD LANDSCAPE, LAPTOP, DESKTOP
*******************************************************************************************************************/

@media only screen
/*and (min-width: 1280px)*/
and (min-width: 896px)
and (orientation: landscape) {

    .facts-grid, .citations-grid {
        width:var(--media-more-than-content-width);
        margin: auto;;
    }

    .facts-grid {
        grid-template-columns: 40% 60%;
    }

    .citations-grid {
        grid-template-columns: repeat(2, 50%);
    }

    .facts-image {
        grid-column:1;
        justify-content: flex-start;
        height:600px;
    }

    .bkgrd-facts {
        background: url("src/assets/images/details/home/backgroundFAQs.jpg") center no-repeat;
        background-size: contain;
    }

    .facts-text {
        grid-column:2;
        justify-content: flex-start;
        align-content: center;
        border: thin solid darkblue;
    }

    .citations-left, .citations-right {
        text-align: left;
        justify-content: flex-start;
        padding:.5em 0;
    }

    .citations-left {
        grid-column:1;
        padding-left:1em;
        padding-bottom: 1em;
    }

    .citations-right {
        grid-column:2;
        padding-bottom: 1em;
    }

}

/*  MOBILES LANDSCAPE  **************************************************************************************************/
@media only screen
and (min-width:896px )
and (max-width: 1279px)
and (orientation: landscape) {

 /*   .citations-grid {
        grid-template-columns: repeat(2, 50%);
    }

    .citations-left  {
        grid-column:1;
    }

    .citations-right  {
        grid-column:2;
    }*/

    .facts-text a,.citations-left a, .citations-right a {
        font-size: var(--small-copy-mobile-land-font-size);

    }

}


/*  TABLETS LANDSCAPE IS DESKTOP *******************************************************************************************/
@media only screen
and (min-width: 1280px)
and (max-width: 1365px)
and (orientation: landscape) {

    .facts-text a, .citations-left a, .citations-right a {
        font-size: var(--small-copy-tablet-land-font-size);
    }

}

/* IPADS LANDSCAPE IS DESKTOP ***************************************************************************************************/
@media only screen
and (min-width: 1366px)
and (max-width: 1439px)
and (orientation: landscape) {

    .facts-text a, .citations-left a, .citations-right a {
        font-size: var(--small-copy-ipad-land-font-size);
    }

}

/* DESKTOPS ****************************************************************************************************/
@media only screen
and (min-width: 1440px) {

    .facts-text a {
        font-size: var(--med-copy-desktop-font-size);
        letter-spacing: 1px;
    }

    .citations-left a, .citations-right a {
        font-size: var(--small-copy-desktop-font-size);
        letter-spacing: 1px;
    }

}

/* GLOBAL *************************************************************************************************************/
@media only screen {

    .facts-grid, .citations-grid {
        display:grid;
        max-width: var(--banner-width);
        margin:auto;
    }

    .facts-grid  {
        font-family: var(--family-facts);
    }

    .citations-grid {
        font-family: var(--family-copy);
    }

    .facts-image, .facts-text, .citations-left, .citations-right {
        display: grid;
        width: 100%;
    }

    .facts-text a, .citations-left a, .citations-right a  {
        text-align: left;
        text-decoration: none;
        color: var(--color-dark-blue);
    }

}

