<div class="content">
    <div class = "topic-block">
        <div class="topic-left">
            <h1>{{title}}</h1>
        </div>

        <div class="topic-right">
            <img src="assets/images/support/doula/advocate/advocateIntro.jpg" alt="Advocate for Yourself" title="Advocate for Yourself">
        </div>
    </div>

    <div class="inner-content">
        <div class = "dark-heading">
            <h1>Taking Care of Business</h1>
        </div>

        <div class = "dark-copy">
            If you notice, Representative Section 9 doesn’t leave a lot of room for additional requests or considerations
            related to your care. (See Instructions and Wishes (optional) with a total of 11 available lines to write on.)
            This situation is rectified with an Advanced Care Directive. This plan puts you back in the driver’s seat.
            <br><br>
            We have made our own decisions throughout our life, what careers to follow, whether to have children, where to
            live etc. It makes complete sense that we should also be able to make detailed decisions about our death. The
            problem is that the subject can be upsetting for your or your family. Even if you want to discuss this, often
            times your family doesn’t want to go there with you.
            <br><br>
            However, without any kind of acknowledgement that we will all die some day and that it is wise to prepare for
            it ahead of time, we may fall victim to being ‘cared for’ that goes against of everything we believe in.
            If you are over 19, taking the time to write an Advanced Care Directive can save you and your family from the
            stress of having to make decisions that they might not even be aware that you are for or against.
            As long as you are capable of making your own health care decisions you will be the authority on your own behalf.
            <br><br>
            Let's say you have chosen your Representative(s) and that form is all completed and stored safely along with
            your Will, Insurance papers etc. But if in many cases, you may have worries or concerns that go beyond general
            directives. Putting these Advanced Care Plan wishes onto paper will help your Representatives and the medical
            community know better what you choose to say yes to and what you want to say no to.
        </div>

        <div class = "dark-heading">
            <h2>Creating an Advanced Care Plan</h2>
        </div>

        <div class = "dark-copy">
            By creating an Advanced Care Directive, you can state specifically which treatments and procedures you want
            your Representative to advocate for you. It provides another vehicle to letting them know what your wishes are.
            Your directive will be followed by the Health Care team as it relates directly to the situation at hand.
            <br><br>
            If your Advance Directive doesn't include a proposed health care treatment then the person appointed as your
            Formal Substitute Decision Maker will be asked to make the decisions.
            <br><br>
            This means for example, if you don’t want to be intubated and it says so in your Directive you will not be.
            If your Directive doesn’t mention being intubated then the decision will be made by your Representative.
            If you don’t have a Representative, the decision will be made by the Health Care team.
            <br><br>
            If you are concerned that your wishes may not be followed by your Representative, you will need to state in the
            Advance Directive that your Health Care providers may act in accordance with your instructions without the consent of your Representative.
            You can even name the procedures you would like attempted as well as the treatments you would not want.
            <br><br>
            Life support and medical interventions include:
        </div>

        <ul class = "dark-list">
            <li class="list-item pad-left-3">&#x262f;&nbsp;Tube Feedings</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;Ventilators</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;Kidney Dialysis</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;Medications</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;CPR (Cardio Pulmonary Resuscitation)</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;Intubation</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;Breathing Machines?</li>
        </ul>

        <div class = "dark-heading">
            <h2>Why Write an Advanced Directive?</h2>
        </div>

        <ul class = "dark-list">
            <li class="list-item pad-left-3">&#x262f;&nbsp;You want to be in charge of your own health, life and death</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;Your realize that doing so now could lead to less family conflicts later</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;You want consistency in who cares for you</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;You want to eliminate added stress for your family</li>
        </ul>

        <div class = "dark-copy">
            If you are the kind of person who would like anything and everything done in order to stay alive, you also need to
            put that in writing. You may want to know every detail about every thing they put in your body, you too need to put
            that in writing. Life never goes according to schedule and in emergencies and in life, mistakes happen, papers get mislaid
            and the requests you have written down may not be able to be followed.
            <br><br>
            Still the Advanced Directive can help you to really think about a future scenario. Do you want to know nothing, everything or
            somewhere in between? Would you want to be told if your doctors know that you will soon be facing death or would you
            rather hang on to not knowing? Would you accept any and all medications even if they make you too drowsy to communicate
            with your family. Or would you rather suffer some pain in order to still maintain some awareness and cognition. Would
            you be willing to try different types of alternative medical interventions? Or would you absolutely not want anything
            outside the medically approved box? And would you like to die in a hospital, a hospice, a care home or in your own home?
            <br><br>
            Are you the type of person who wants family all around you or do you find being alone or perhaps with just one other
            family member to be sufficient? If the latter is the case, should you consider writing down who you absolutely do NOT
            want at your bedside? Do you want to keep your diagnosis a secret or something only you and your spouse know about or
            would you want everyone to know so that they could offer their support? Perhaps you would want to name one family
            member to be your number 1 go-to person (besides your Reps) so that family bickering is kept to a minimum?
            <br><br>
            Perhaps you have never followed a religion but would still like religion to figure prominently in your death and funeral.
            Or on the opposite side, you may vehemently be opposed to having any kind of religious ceremony or funeral performed.
            Think about the setting - as mentioned above, but within whatever setting you end up in, do you want music,
            do you want grand-children in the room, do you want to be able to see the outdoors, are their smells that are
            offensive to you, what flowers do you loathe, are their any hospital staff who are upsetting you,
            what kind of physical touch do you like? Would you feel safe enough to talk about the visions
            you might be seeing - in other words you have a right to determine so many of these things that bring you comfort but
            you would be wise to write ... them ... down.
        </div>

        <div class = "dark-heading">
            <h2>Questions for Your Doctor</h2>
        </div>

        <ul class = "dark-list">
            <li class="list-item pad-left-3">&#x262f;&nbsp;What stage is my health condition at?</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;How might my condition progress?</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;Can my condition affect my memory or ability to think for myself?</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;Will my condition become life threatening?</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;What life support or prolonging medical interventions might I need?</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;What does my doctor suggest I address in my Advanced Care Plan?</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;Should I accept or refuse CPR at my age?</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;Will medical interventions affect my everyday enjoyment of life as it is now?</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;Will interventions or treatments affect my mobility or my mental state?</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;Can I have a trial period of life prolonging medical interventions?</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;If there is no improvement, can I seek a natural death?</li>
            <li class="list-item pad-left-3">&#x262f;&nbsp;Do I have a right to accept or refuse life prolonging procedures?</li>
        </ul>

        <div class = "dark-heading">
            <h2>About CPR</h2>
        </div>

        <div class = "dark-copy">
            You can choose to receive CPR or be put on a ventilator if your heart or breathing stops.
            Being put on a ventilator is sometimes referred to as "being put on life support." CPR doesn't always work to
            resuscitate people, or "bring them back. And the older and sicker you are, the less likely it is to work.
            Here are some of the issues to consider:
        </div>

        <div class = "dark-heading">
            <h2>Your Options for Accepting or Refusing CPR</h2>
        </div>

        <ul class = "dark-list">
            <li class="list-item pad-left-3">&#x262f;&nbsp;Pressing on the chest during CPR often breaks the person's ribs.
            </li>

            <li class="list-item pad-left-3">&#x262f;&nbsp;People who do survive after their heart has stopped may have brain damage.
            </li>

            <li class="list-item pad-left-3">&#x262f;&nbsp;This can affect your ability to talk, recognize loved ones, dress yourself,
                or manage your bathroom needs.
            </li>

            <li class="list-item pad-left-3">&#x262f;&nbsp;With CPR and life support, you may live longer than you would without life support.
            </li>

            <li class="list-item pad-left-3">&#x262f;&nbsp;But your remaining time may be spent in a hospital connected to machines.
            </li>

            <li class="list-item pad-left-3">&#x262f;&nbsp;If CPR does "bring you back," you will still have your chronic illness plus the
                new problems that led to your needing CPR in the first place.
            </li>
        </ul>

        <div class = "dark-copy">
           If you don't make your wishes known, your doctor and loved ones may face some tough decisions. In an emergency, you would probably receive CPR. Then you
           could be placed on life support, even if you didn't want it. Your doctor and family may have a hard time deciding how to continue your medical care.
           Also, it may be very hard for your loved ones to decide when to stop life support.
           <br><br>
           This No CPR form is shown below for your interest. It states:

           <img src="assets/images/support/doula/advocate/NoCPR.jpg" class='images' title="No CPR Form" alt="No CPR Form"/>

           "Capable patients may request that no cardiopulmonary resuscitation be started on their behalf. This should be done after discussions
            with their doctor or nurse practitioner. No "cardiopulmonary resuscitation" is defined as no cardiopulmonary resuscitation (no CPR)
            in the event of a respiratory and/or cardiac arrest.
            <br><br>
            This form is provided to you or your Substitute Decision Maker (Representative Section-9) to acknowledge that you have had a conversation
            with a doctor or a nurse practitioner about a No CPR Order, and understand that no CPR will be provided in circumstances where you can
            no longer make decisions for yourself. It instructs people such as first responders, paramedics and health care providers not to start
            CPR on your behalf whether you are at home, in the community or in a residential care facility. The personal information collected on this
            form assists the health professionals noted above to carry out your wishes."
            <br><br>
            This form must be signed by you if you are still capable or by your Representative(s) if you are no longer capable. It must also
            be signed by your Doctor or Nurse Practitioner who are agreeing to the order after having had a conversation with either you or
            your Representatives.
            <br><br>
            If you wish to download the form you can do so here at:
            <a href = "https://www2.gov.bc.ca/assets/gov/health/forms/302fil.pdf" target = new>No CPR Request Form</a>.
            To order a free Medic Alert&reg; - No CPR bracelet
            or 'necklet' you also need to download and complete this form:
            <a href = "https://www.medicAlert.ca/nocpr/resources/MedicAlert_Application_BC_NOCPR.pdf" target = new>No CPR Bracelet</a>.
        </div>

        <div class = "dark-heading">
            <h2>EDITH - Expected Death in the Home</h2>
        </div>

        <div class = "dark-copy">
            You have the choice to die at home if the request is a reasonable one, if your family supports it and if approved by your Doctor.
            You must have completed the No CPR form in order to pursue this avenue. The EDITH Form is shown here for your information.
        </div>

        <img src="assets/images/support/doula/advocate/EDITH.jpg" class='images' title="No CPR Form" alt="No CPR Form"/>

        <div class = "dark-copy">
            "This form allows a Funeral Director to remove your body from a home without pronouncement of death. Pronouncement of death is
            not required by BC Law, although it is widely recognized that pronouncement is sound clinical and ethical practice for nurses and
            physicians."
            <br><br>
            "There may be circumstances when pronouncement is difficult or families choose to waive pronouncement.
            If a person dies in British Columbia, the death must be registered with the Vital Statistics Agency.
            A Medical Certificate of Death form is completed by the physician within 48 hours after a death.
            The medical certificate of death is forwarded to the funeral director who will register the death.
            The funeral director can then issue a death certificate and burial permit."
            <br><br>
            You can download the <a href = "https://www2.gov.bc.ca/assets/gov/health/forms/3987fil.pdf" target= new>
            A Notification of an Expected Death in the Home</a> form here. It must be completed by the your physician
            or a nurse practitioner and then sent to the funeral home before your death.
        </div>
    </div>
</div>
