<div class="make-wishes-wizard-printout">
    <app-print-modal-heading [wishes]='wishes'></app-print-modal-heading>
    <div class="print-modal-question">
        <div *ngFor="let question of wishes.questions; let questionIndex=index;">
            <p>{{ question.question_num + 1 }}.&nbsp;{{ question.question_string }}</p>
            <ng-container *ngFor="let response of question.responses;let responseIndex=index;">
                <ng-container *ngIf="question.selectedAnswer==(responseIndex)">
                    <span>{{ response.response_string }}</span>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>

