<div class="header-detail-image header-create-checklist-image">
    <div class="quote">
        &#8220;{{quote}}&#8220;
    </div>
    <div class="author">
        {{author}}
    </div>
</div>

<div class="content-title">
    <h1>{{title}}</h1>
</div>

<div class="content-title">
    <h3>Step 1: Get a Storage Space for your Papers:</h3>
</div>

<div class="content-dark-copy">
    <p>Purchase a small storage unit to keep all your papers in one place, safe from weather, floods, fire etc. Do not store them in a
        safety deposit box or a safe as it will be more difficult for your Representative to find these important papers. Some
        documents, like NO CPR can be stored in your fridge, as this is a common place for Paramedics to find them. You can also wear a
        NO CPR bracelet. Or tape on the fridge the whereabouts of these important documents and make them easily accessible.
    </p>
</div>

<div class="content-title">
    <h3>Step 2: Do the Financial/Legal Stuff</h3>
</div>

<div class="content-dark-copy">
    <p>Just like doing your taxes, nobody likes to do the sorting of finances but it is a chore that every responsible Canadian should
        do. Leaving it for your kids or other family to work out will undoubtedly cause a lot of needless stress and tension. Put
        yourself in the shoes of your Executor and imagine all of the information that they will need. Please note that we are focused on
        the health care aspects of dying so there can be many financial decisions and actions needed to be made. You will definitely want
        to put together a Will either through a lawyer or notary public or by purchasing a Will kit to do yourself. Here
        are a few basic things to consider:
    </p>
</div>

<div class = "content-title">
    <h4>Step 3: Store this Information</h4>
</div>

<div class="mobile-list">
    <ul class ="content-dark-list yin-yang-small">
        <li class="list-item">The contact information for your Lawyer or Notary.</li>
        <li class="list-item">Whether you have a will and the location of your Will.</li>
        <li class="list-item">The company that provides your Life Insurance.</li>
        <li class="list-item">Any trusts you have set up.</li>
        <li class="list-item">Any long term disability, critical illness or long term care insurance.</li>
        <li class="list-item">The person and contact information for the person you have chosen to be your Power of Attorney.</li>
        <li class="list-item">The location and email addresses of any banks or investment companies you deal with.</li>
        <li class="list-item">Your bank account numbers and any other password information needed to obtain your money.</li>
        <li class="list-item">The notes detailing any paid for funeral expenses.</li>
    </ul>
</div>

<div class="desktop-list">
    <ul class ="content-dark-list yin-yang-big">
        <li class="list-item">The contact information for your Lawyer or Notary.</li>
        <li class="list-item">Whether you have a will and the location of your Will.</li>
        <li class="list-item">The company that provides your Life Insurance.</li>
        <li class="list-item">Any trusts you have set up.</li>
        <li class="list-item">Any long term disability, critical illness or long term care insurance.</li>
        <li class="list-item">The person and contact information for the person you have chosen to be your Power of Attorney.</li>
        <li class="list-item">The location and email addresses of any banks or investment companies you deal with.</li>
        <li class="list-item">Your bank account numbers and any other password information needed to obtain your money.</li>
        <li class="list-item">The notes detailing any paid for funeral expenses.</li>
    </ul>
</div>

<div class = "content-title">
    <h4>Step 4: Do the Personal Stuff</h4>
</div>

<div class="mobile-list">
    <ul class ="content-dark-list yin-yang-small">
        <li class="list-item">Organ donor permission form (sign up at transplant.bc.ca).</li>
        <li class="list-item">If you have a cemetery plot paid for, the location of it.</li>
        <li class="list-item">The contact information for all relevant people who need to be informed.</li>
        <li class="list-item">Follow our <a  routerLink="/makeWishList">{{ lookupParent }} > {{ lookupChild1 }}</a> to nail down your wishes
            and decisions about end of life care.</li>
        <li class="list-item">Follow our <a routerLink="/chooseReps">{{ lookupParent }} > {{ lookupChild2 }}</a> to state the person or
            persons you would like to advocate for you should you be unable to do so.</li>
        <li class="list-item">Follow our <a routerLink="/writeCarePlan">{{ lookupParent }} > {{ lookupChild3 }}</a> to write down your
            decisions regarding supportive medical procedures you may or may not want to have done.</li>
    </ul>
</div>

<div class="desktop-list">
    <ul class ="content-dark-list yin-yang-big">
        <li class="list-item">Organ donor permission form (sign up at transplant.bc.ca).</li>
        <li class="list-item">If you have a cemetery plot paid for, the location of it.</li>
        <li class="list-item">The contact information for all relevant people who need to be informed.</li>

    </ul>
</div>

<div class = "content-title">
    <h4>Step 5: Follow our Wizards!</h4>
</div>

<div class="content-dark-copy">
    <p>
        Follow our <a routerLink="/makeWishList">{{ lookupParent }} > {{ lookupChild1 }}</a> to nail down your wishes
        and decisions about end of life care. Follow our <a routerLink="/chooseReps">{{ lookupParent }} > {{ lookupChild2 }}</a> to state the person or
        persons you would like to advocate for you should you be unable to do so. And follow our
        <a routerLink="/writeCarePlan">{{ lookupParent }} > {{ lookupChild3 }}</a> to write down your decisions regarding supportive medical
        procedures you may or may not want to have done.
    </p>
</div>

<div class="content-images">
    <img src="../../../../assets/images/details/takeAction/putAllTogether/taskChecklist.jpg" title="No CPR Form" alt="No CPR Form"/>
</div>

