<div class="header-detail-image-container">
    <div class="header-detail-image">
        <img src="assets/images/headers/takeAction/headerCreateCheckList.jpg"  title={{title}}   alt={{title}}>
    </div>

    <div class="header-detail-image-quotes">
        <div class="header-detail-image-quote">
            &#8220;{{ quote }}&#8220;
        </div>
        <div class="header-detail-image-author">
            {{ author }}
        </div>
    </div>
</div>

<div class="content-container">
    <div class="content-title">
        <h1>{{ title }}</h1>
    </div>

    <div class="content-title">
        <h2>Step 1: Get a Storage Space for your Papers:</h2>
    </div>

    <div class="content-copy">
        <p>Purchase a small storage unit to keep all your papers in one place, safe from weather, floods, fire etc. Do not store them in a
            safety deposit box or a safe as it will be more difficult for your Representative to find these important papers. Some
            documents, like NO CPR can be stored in your fridge, as this is a common place for Paramedics to find them. You can also wear a
            NO CPR bracelet. Or tape on the fridge the whereabouts of these important documents and make them easily accessible.
        </p>
    </div>

    <div class="content-title">
        <h2>Step 2: Do the Financial/Legal Stuff</h2>
    </div>

    <div class="content-copy">
        <p>Just like doing your taxes, nobody likes to do the sorting of finances but it is a chore that every responsible Canadian should
            do. Leaving it for your kids or other family to work out will undoubtedly cause a lot of needless stress and tension. Put
            yourself in the shoes of your Executor and imagine all of the information that they will need. Please note that we are focused
            on
            the health care aspects of dying so there can be many financial decisions and actions needed to be made. You will definitely
            want
            to put together a Will either through a lawyer or notary public or by purchasing a Will kit to do yourself.
        </p>
    </div>

    <div class="content-title">
        <h2>Step 3: Get your Papers Together</h2>
    </div>

    <ul class="content-list yin-yang">
        <li class="list-item pad-top-none">The contact information for your Lawyer or Notary.</li>
        <li class="list-item">Whether you have a will and the location of your Will.</li>
        <li class="list-item">The company that provides your Life Insurance.</li>
        <li class="list-item">Any trusts you have set up.</li>
        <li class="list-item">Any long term disability, critical illness or long term care insurance.</li>
        <li class="list-item">The person and contact information for the person you have chosen to be your Power of
            Attorney.
        </li>
        <li class="list-item">The location and email addresses of any banks or investment companies you deal with.</li>
        <li class="list-item">Your bank account numbers and any other password information needed to obtain your money.</li>
        <li class="list-item">The notes detailing any paid for funeral expenses.</li>
    </ul>

    <div class="content-title">
        <h2>Step 4: Be a Step Ahead</h2>
    </div>

    <ul class="content-list yin-yang">
        <li class="list-item pad-top-none">Organ donor permission form (sign up at transplant.bc.ca).</li>
        <li class="list-item">If you have a cemetery plot paid for, the location of it.</li>
        <li class="list-item">The contact information for all relevant people who need to be informed.</li>
    </ul>

    <div class="content-title">
        <h2>Step 5: Become Knowledgeable</h2>
    </div>

    <ul class="content-list yin-yang">
        <li class="list-item pad-top-none">
            You have more rights than you know. Read about them at
            <b><a target="new" routerLink={{pathObject.child4_url}}> {{ pathObject.parent_name }}
                > {{ pathObject.child4_name }}</a> </b>
            wizard.
        </li>

        <li class="list-item">
            Consider your wishes with thought provoking questions at
            <b><a target="new" routerLink={{pathObject.child1_url}}> {{ pathObject.parent_name }}
                > {{ pathObject.child1_name }}</a> </b>.
        </li>

        <li class="list-item">
            Think about who you would like to advocate for you when the time comes at
            <b><a target="new" routerLink={{pathObject.child2_url}}> {{ pathObject.parent_name }}
                > {{ pathObject.child2_name }}</a> </b>.
        </li>

        <li class="list-item">
            Learn about what is involved with creating an Advance Care Plan at
            <b><a target="new" routerLink={{pathObject.child3_url}}> {{ pathObject.parent_name }}
                > {{ pathObject.child3_name }}</a> </b>.
        </li>

        <li class="list-item">
            To meet to discuss your concerns, explain your needs, get emotional support or discuss practicalities
            <b><a routerLink="/bookConsultation" style="cursor:pointer; text-decoration:none">BOOK A SESSION.</a></b>
        </li>
    </ul>

    <div class="content-images">
        <img src="../../../../assets/images/details/takeAction/putAllTogether/taskChecklist.jpg"
             title="{{ pathObject.parent_name }}"
             alt="{{ pathObject.parent_name }}"/>
    </div>

</div>