<div class="print-block">

    <app-print-header [directive]='directive' [title]="title"></app-print-header>
    <div class="print-form-province">
        BRITISH COLUMBIA
        <hr>
    </div>

    <div class="print-title">
        <h1>ADVANCE CARE DIRECTIVE</h1>
    </div>

    <div class="print-title">
        <h2>THIS REPRESENTATION AGREEMENT IS MADE BY ME, THE ADULT:<br>
            {{ directive.client_name }} at
        </h2>
    </div>

    <div class="print-inline-label-value">
        <div class="print-inline-label">
            Address:
        </div>

        <ng-container *ngIf="directive.client_address.length > 0 && directive.client_address != '' ">
            <div class="print-inline-value">
                {{ directive.client_address }}
            </div>
        </ng-container>

        <ng-container *ngIf="directive.client_address.length == 0 && directive.client_address == '' ">
            <div class="print-inline-line"></div>
        </ng-container>
    </div>

    <div class="print-inline-label-value">
        <div class="print-inline-label">
            City:
        </div>

        <ng-container *ngIf="directive.client_city.length > 0 && directive.client_city != ''">
            <div class="print-inline-value">
                {{ directive.client_city }}
            </div>
        </ng-container>

        <ng-container *ngIf="directive.client_city.length == 0 && directive.client_city == ''">
            <div class="print-inline-line"></div>
        </ng-container>
    </div>

    <div class="print-inline-label-value">
        <div class="print-inline-label">
            Postal Code:
        </div>

        <ng-container *ngIf="directive.client_postal.length > 0 && directive.client_postal != ''">
            <div class="print-inline-value">
                {{ directive.client_postal }}
            </div>
        </ng-container>

        <ng-container *ngIf="directive.client_postal.length == 0 && directive.client_postal == ''">
            <div class="print-inline-line"></div>
        </ng-container>
    </div>

    <div class="print-title">
        <h2>in the Province of British Columbia</h2>
    </div>


    <div class="print-title">
        <h2>PERSONAL INFORMATION:</h2>
    </div>

    <ng-container *ngIf="directive.client_dob.length > 0 && directive.client_dob != '' ">
        <div class="print-form-text-block">
            <p>Birthdate: {{ directive.client_dob }}</p>
        </div>
    </ng-container>

    <ng-container *ngIf="directive.client_phn.length > 0 && directive.client_phn != ''">
        <div class="print-form-text-block">
            <p>Personal Care Number: {{ directive.client_phn }}</p>
        </div>
    </ng-container>

    <ng-container *ngIf="directive.client_organ_donor == 'organDonorNo'">
        <div class="print-form-text-block">
            <p>I am not an organ donor</p>
        </div>
    </ng-container>

    <ng-container *ngIf="directive.client_organ_donor == 'organDonorYes'">
        <div class="print-form-text-block">
            <p>I am an organ donor</p>
        </div>
    </ng-container>

    <div class="print-title">
        <h2>REVOCATION OF PREVIOUS INSTRUMENTS:</h2>
    </div>

    <div class="print-title">
        <h3>I revoke any previous Advance Care Directives I have made.</h3>
    </div>

    <div class="print-form-text-block">
        <p>I know that as a result of making this Advance Directive:</p>
    </div>

    <ul class="print-form-list-block">
        <li class="print-form-list-item">
            a.) I will not be provided with any health care for which I refuse consent in this Advance Directive, and
        </li>
        <li class="print-form-list-item">
            b.) No one will be chosen to make decisions on my behalf in respect of any health care matters for which I give or
            refuse consent in this Advance Directive.
        </li>
    </ul>

    <!--  <ng-container *ngIf='directive.choose_section === "chooseSection3"'>
          <div class="print-title">
              <h4>Your directive is based on your selection of answers you gave under Section 3. You can re-run this wizard as many times as
                  you like, try switching to Section 4 to see all questions provided under Section 4.
              </h4>
          </div>
      </ng-container>

      <ng-container *ngIf='directive.choose_section === "chooseSection4"'>
          <div class="print-title">
              <h4>Your directive is based on your selection of answers you gave under Section 4. You can re-run this wizard as many times as
                  you like, try switching to Section 3 to see all questions provided under Section 3.
              </h4>
          </div>
      </ng-container>
  -->

    <ng-container *ngIf='directive.choose_section === "chooseSection3"'>
        <div class="print-title">
            <h2>SECTION 3: CONDITIONS FOR HEALTH CARE:</h2>
        </div>

        <div class="print-form-text-block">
            <p>
                3.0. If I am sedated and unable to communicate, I would like the sedation lifted so that I can
                rationally consider my situation and decide for myself to accept or refuse a particular therapy:
            </p>
        </div>

        <ng-container *ngIf='directive.lift_sedation === "liftSedationYes"'>
            <ul class="print-form-list-block">
                <li class="print-form-list-item">3.0a. Yes, lift my sedation.</li>
            </ul>
        </ng-container>

        <ng-container *ngIf='directive.lift_sedation === "liftSedationNo"'>
            <ul class="print-form-list-block">
                <li class="print-form-list-item">3.0b. No, do not lift my sedation.</li>
            </ul>
        </ng-container>

        <div class="black-full-line"></div>

        <ng-container *ngIf="directive.conditions1a || directive.conditions1b || directive.conditions1c">
            <div class="print-form-text-block">
                <p>
                    3.1. I direct that I receive only such care as will keep me comfortable and
                    pain free, and that my dying not be prolonged should any of the following circumstances occur:
                </p>
            </div>

            <!-- if true -->
            <ng-container *ngIf="directive.conditions1a">
                <ul class="print-form-list-block">
                    <li class="print-form-list-item">
                        3.1a. An acute life-threatening illness of an irreversible nature.
                    </li>
                </ul>
            </ng-container>

            <ng-container *ngIf="directive.conditions1b">
                <ul class="print-form-list-block">
                    <li class="print-form-list-item">
                        3.1b. Chronic debilitating suffering of a permanent nature.
                    </li>
                </ul>
            </ng-container>

            <ng-container *ngIf="directive.conditions1c">
                <ul class="print-form-list-block">
                    <li class="print-form-list-item">
                        3.1c. Advanced dementia.
                    </li>
                </ul>
            </ng-container>

            <div class="black-full-line"></div>
        </ng-container>

        <ng-container *ngIf="directive.refusals2a || directive.refusals2b || directive.refusals2c ||
            directive.refusals2d || directive.refusals2e || directive.refusals2f || directive.refusals2g ">
            <div class="print-form-text-block">
                <p>
                    3.2. I direct that I receive only such care as will keep me comfortable and
                    pain free, and that my dying not be prolonged should any of the following circumstances occur:
                </p>
            </div>

            <ng-container *ngIf="directive.refusals2a">
                <ul class="print-form-list-block">
                    <li class="print-form-list-item">
                        3.2a. Electrical, mechanical or other artificial stimulation of my heart.
                    </li>
                </ul>
            </ng-container>

            <ng-container *ngIf="directive.refusals2b">
                <ul class="print-form-list-block">
                    <li class="print-form-list-item">
                        3.2b. Respirator or ventilator.
                    </li>
                </ul>
            </ng-container>

            <ng-container *ngIf="directive.refusals2c">
                <ul class="print-form-list-block">
                    <li class="print-form-list-item">
                        3.2c. Artificial feeding e.g. G tube, NG tube, or central intravenous line.
                    </li>
                </ul>
            </ng-container>

            <ng-container *ngIf="directive.refusals2d">
                <ul class="print-form-list-block">
                    <li class="print-form-list-item">
                        3.2d. Being fed should I no longer be able to feed myself.
                    </li>
                </ul>
            </ng-container>

            <ng-container *ngIf="directive.refusals2e">
                <ul class="print-form-list-block">
                    <li class="print-form-list-item">
                        3.2e. Artificial hydration by intravenous line.
                    </li>
                </ul>
            </ng-container>

            <ng-container *ngIf="directive.refusals2f">
                <ul class="print-form-list-block">
                    <li class="print-form-list-item">
                        3.2f. Antibiotics.
                    </li>
                </ul>
            </ng-container>

            <ng-container *ngIf="directive.refusals2g">
                <ul class="print-form-list-block">
                    <li class="print-form-list-item">
                        3.2g. Transfer to an intensive care unit or similar facility.
                    </li>
                </ul>
            </ng-container>

            <div class="black-full-line"></div>
        </ng-container>

        <ng-container *ngIf="directive.palliative3a || directive.palliative3b">
            <div class="print-form-text-block">
                <p>
                    3.1. In this Advance Directive, I specifically direct the following regarding palliative care:
                </p>
            </div>

            <ng-container *ngIf="directive.palliative3a">
                <ul class="print-form-list-block">
                    <li class="print-form-list-item">
                        3a. Provide necessary medication to control my pain and symptoms even if such
                        medication might shorten my life.
                    </li>
                </ul>
            </ng-container>

            <ng-container *ngIf="directive.palliative3b">
                <ul class="print-form-list-block">
                    <li class="print-form-list-item">
                        3b. Provide me with palliative care.
                    </li>
                </ul>
            </ng-container>

            <ng-container *ngIf='directive.die_at_home === "atHomeYes"'>
                <ul class="print-form-list-block">
                    <li class="print-form-list-item">
                        3.3c. I would like to die in my home.
                    </li>
                </ul>
            </ng-container>

            <ng-container *ngIf='directive.die_at_home === "atHomeNo"'>
                <ul class="print-form-list-block">
                    <li class="print-form-list-item">
                        3.3c. I would like to die in a hospice.
                    </li>
                </ul>
            </ng-container>

            <div class="black-full-line"></div>
        </ng-container>

        <div class="print-title">
            <h2>TREATMENTS I REFUSE TO GIVE CONSENT TO ARE AS FOLLOWS:</h2>
        </div>

        <div class="print-form-instructions">
            <ng-container *ngIf="directive.consent_refused_notes.length > 0 && directive.consent_refused_notes != ''">
                <p>{{ directive.consent_refused_notes }}</p>
                <div class="black-full-line"></div>
            </ng-container>
            <ng-container *ngIf="directive.consent_refused_notes.length == 0 && directive.consent_refused_notes == ''">
                <!--                <div class="print-modal-instructions">-->
                <div class="black-full-line"></div>
                <div class="black-full-line"></div>
                <div class="black-full-line"></div>
                <div class="black-full-line"></div>
                <!--                </div>-->
            </ng-container>
        </div>

        <div class="print-title">
            <h2>TREATMENTS I GIVE CONSENT TO ARE AS FOLLOWS:</h2>
        </div>

        <div class="print-form-instructions">
            <ng-container *ngIf="directive.consent_given_notes.length > 0 && directive.consent_given_notes != ''">
                <p>{{ directive.consent_given_notes }}</p>
                <div class="black-full-line"></div>
            </ng-container>
            <ng-container *ngIf="directive.consent_given_notes.length == 0 && directive.consent_given_notes == ''">
                <!--                <div class="print-instructions">-->
                <div class="black-full-line"></div>
                <div class="black-full-line"></div>
                <div class="black-full-line"></div>
                <div class="black-full-line"></div>
                <!--                </div>-->
            </ng-container>
        </div>
    </ng-container>

    <ng-container *ngIf='directive.request_maid === "maidYes"'>
        <div class="print-title">
            <h2>YOUR DIRECTIVES REGARDING MAID (Medically Assisted Death):</h2>
        </div>
        <div class="print-form-text-block">
            <p>3d. I would like to provide my requests regarding MAID (Medically Assisted Death).</p>
        </div>

        <div class="print-form-instructions">
            <ng-container *ngIf="directive.consent_maid_notes.length > 0 && directive.consent_maid_notes != ''">
                <p>{{ directive.consent_maid_notes }}</p>
                <div class="black-full-line"></div>
            </ng-container>
            <ng-container *ngIf="directive.consent_maid_notes.length == 0 && directive.consent_maid_notes == ''">
                <!--                <div class="print-instructions">-->
                <div class="black-full-line"></div>
                <div class="black-full-line"></div>
                <div class="black-full-line"></div>
                <div class="black-full-line"></div>
                <!--                </div>-->
            </ng-container>
        </div>
    </ng-container>

    <ng-container *ngIf='directive.choose_section === "chooseSection4"'>
        <div class="print-title">
            <h2>SECTION 4: HEALTH CARE CONSENT FOR ALL TREATMENTS:</h2>
        </div>

        <div class="print-form-text-block">
            <p>
                By checking off this box, I am requesting that all interventions and procedures, including CPR, be performed on
                me in order to prolong my life. This is with full knowledge that I accept the possible repercussions of these
                procedures (broken ribs from CPR etc.). This is accepting also any and all outcomes that may occur because of
                these interventions and medical procedures.
            </p>
        </div>

        <ng-container *ngIf="directive.prolong_life4">
            <ul class="print-form-list-block">
                <li class="print-form-list-item"> 4a. I desire that my life be prolonged, and that I be provided all life-sustaining
                    treatments
                    applicable to my medical condition.
                </li>
            </ul>
        </ng-container>
    </ng-container>

    <ng-container *ngIf='directive.follow_acp1 || directive.follow_acp2'>
        <div class="print-title">
            <h2> RULES FOR FOLLOWING THIS ADVANCE DIRECTIVE:</h2>
        </div>
        `
    </ng-container>

    <ng-container *ngIf='directive.follow_acp1'>
        <ul class="print-form-list-block">
            <li class="print-form-list-item">
                If my health care provider will not follow this Advance Health Care Directive, I ask that my care be transferred to
                another health care provider who will respect my legal rights.
            </li>
        </ul>
    </ng-container>

    <ng-container *ngIf='directive.follow_acp2'>
        <ul class="print-form-list-block">
            <li class="print-form-list-item">
                If I should be a patient in a hospital, or resident in a health care or long-term care facility which will not follow this
                Advance Health Care Directive, I ask that I be transferred to another hospital or care facility.
            </li>
        </ul>
    </ng-container>

    <div class="page-break-after"></div>

    <div class="print-title">
        <h2>SIGNATURES:</h2>
    </div>

    <div class="print-title">
        <h3>I have signed this Advance Directive in the presence of the witnesses whose names appears below.</h3>
    </div>

    <div class="print-title">
        <h2>ADULT SIGNATURE</h2>
    </div>

    <div class="print-inline-label-value">
        <ng-container *ngIf="directive.client_name.length > 0 && directive.client_name != '' ">
            <div class="print-inline-label">
               Print Name:
            </div>
            <div class="print-inline-value">
                {{ directive.client_name }}
            </div>
        </ng-container>

        <ng-container *ngIf="directive.client_name.length == 0 && directive.client_name == '' ">
            <div class="print-inline-label">
                Print Name:
            </div>
            <div class="print-inline-line"></div>
        </ng-container>
    </div>

    <div class="print-inline-label-value">
        <div class="print-inline-label">
            Signature:
        </div>
        <div class="print-inline-line"></div>
    </div>

    <div class="print-inline-label-value">
        <div class="print-inline-label">
            Date Signed (YYYY/MM/DD):
        </div>

        <div class="print-inline-line"></div>
    </div>

    <div class="print-title">
        <br><br>
        <h2>WITNESSES SIGNATURES</h2>
    </div>

    <!-- WITNESS 1 -->
    <div class="print-title">
        <h2>WITNESS # 1</h2>
    </div>

    <ng-container *ngIf="directive.witness_one_name.length > 0 && directive.witness_one_name != '' ">
        <ng-container *ngIf="directive.witness_type == 'lawyer' || directive.witness_type == 'notary'">
            <ng-container *ngIf="directive.witness_type == 'lawyer'">
                <div class="print-form-text-block">
                    <p>({{ directive.witness_one_name }} has been designated a Lawyer. In this case, they are the only witness
                        needed. If this is not correct, you will still need 2 witnesses.
                    </p>
                </div>
            </ng-container>
            <ng-container *ngIf="directive.witness_type == 'notary'">
                <div class="print-form-text-block">
                    <p>({{ directive.witness_one_name }} has been designated a Notary Public. In this case, they are the only witness
                        needed. If this is not correct, you will still need 2 witnesses.
                    </p>
                </div>
            </ng-container>
        </ng-container>
    </ng-container>

    <div class="print-inline-label-value">
        <ng-container *ngIf="directive.witness_one_name.length > 0 && directive.witness_one_name != '' ">
            <div class="print-inline-label">
                Print Name:
            </div>
            <div class="print-inline-value">
                {{ directive.witness_one_name }}
            </div>
        </ng-container>

        <ng-container *ngIf="directive.witness_one_name.length == 0 && directive.witness_one_name == '' ">
            <div class="print-inline-label">
                Print Name:
            </div>
            <div class="print-inline-line"></div>
        </ng-container>
    </div>

    <div class="print-inline-label-value">
        <div class="print-inline-label">
            Address:
        </div>

        <ng-container *ngIf="directive.witness_one_address.length > 0 && directive.witness_one_address  != '' ">
            <div class="print-inline-value">
                {{ directive.witness_one_address }}
            </div>
        </ng-container>

        <ng-container *ngIf="directive.witness_one_address.length == 0 && directive.witness_one_address  == '' ">
            <div class="print-inline-line"></div>
        </ng-container>
    </div>

    <div class="print-inline-label-value">
        <div class="print-inline-label">
            City:
        </div>

        <ng-container *ngIf="directive.witness_one_city.length > 0 && directive.witness_one_city  != '' ">
            <div class="print-inline-value">
                {{ directive.witness_one_city }}
            </div>
        </ng-container>

        <ng-container *ngIf="directive.witness_one_city.length == 0 && directive.witness_one_city  == '' ">
            <div class="print-inline-line"></div>
        </ng-container>
    </div>

    <div class="print-inline-label-value">
        <div class="print-inline-label">
            Province:
        </div>

        <ng-container *ngIf="directive.witness_one_province.length > 0 && directive.witness_one_province  != '' ">
            <div class="print-inline-value">
                {{ directive.witness_one_province }}
            </div>
        </ng-container>

        <ng-container *ngIf="directive.witness_one_province.length == 0 && directive.witness_one_province  == '' ">
            <div class="print-inline-line"></div>
        </ng-container>
    </div>

    <div class="print-inline-label-value">
        <div class="print-inline-label">
            Signature:
        </div>
        <div class="print-inline-line"></div>
    </div>

    <div class="print-inline-label-value">
        <div class="print-inline-label">
            Date Signed (YYYY/MM/DD):
        </div>

        <div class="print-inline-line"></div>
    </div>

    <!-- WITNESS 2 -->
    <div class="print-title">
        <h2>WITNESS # 2</h2>
    </div>

    <div class="print-inline-label-value">
        <ng-container *ngIf="directive.witness_two_name.length > 0 && directive.witness_two_name != '' ">
            <div class="print-inline-label">
                Print Name:
            </div>
            <div class="print-inline-value">
                {{ directive.witness_two_name }}
            </div>
        </ng-container>

        <ng-container *ngIf="directive.witness_two_name.length == 0 && directive.witness_two_name == '' ">
            <div class="print-inline-label">
                Print Name:
            </div>
            <div class="print-inline-line"></div>
        </ng-container>
    </div>

    <div class="print-inline-label-value">
        <div class="print-inline-label">
            Address:
        </div>

        <ng-container *ngIf="directive.witness_two_address.length > 0 && directive.witness_two_address  != '' ">
            <div class="print-inline-value">
                {{ directive.witness_two_address }}
            </div>
        </ng-container>

        <ng-container *ngIf="directive.witness_two_address.length == 0 && directive.witness_two_address  == '' ">
            <div class="print-inline-line"></div>
        </ng-container>
    </div>

    <div class="print-inline-label-value">
        <div class="print-inline-label">
            City:
        </div>

        <ng-container *ngIf="directive.witness_two_city.length > 0 && directive.witness_two_city  != '' ">
            <div class="print-inline-value">
                {{ directive.witness_two_city }}
            </div>
        </ng-container>

        <ng-container *ngIf="directive.witness_two_city.length == 0 && directive.witness_two_city  == '' ">
            <div class="print-inline-line"></div>
        </ng-container>
    </div>

    <div class="print-inline-label-value">
        <div class="print-inline-label">
            Province:
        </div>

        <ng-container *ngIf="directive.witness_two_province.length > 0 && directive.witness_two_province  != '' ">
            <div class="print-inline-value">
                {{ directive.witness_two_province }}
            </div>
        </ng-container>

        <ng-container *ngIf="directive.witness_two_province.length == 0 && directive.witness_two_province  == '' ">
            <div class="print-inline-line"></div>
        </ng-container>
    </div>

    <div class="print-inline-label-value">
        <div class="print-inline-label">
            Signature:
        </div>
        <div class="print-inline-line"></div>
    </div>

    <div class="print-inline-label-value">
        <div class="print-inline-label">
            Date Signed (YYYY/MM/DD):
        </div>

        <div class="print-inline-line"></div>
    </div>
</div>

<app-print-footer></app-print-footer>


