<div class="form-heading-top ">
    (Optional) Your Medical History
</div>

<div class="text-prompt">
    Please describe your situation, condition and or illness, if applicable:
</div>

<div class="full-width-grid">
    <textarea rows=5 id="conditions" [(ngModel)]="model.conditions" name="conditions"> </textarea>
</div>

<div class="text-prompt">
    Please list medications and supplements that your are currently taking.
</div>

<div class="full-width-grid">
    <textarea rows=5 id="mainTreatments" [(ngModel)]="model.mainTreatments" name="mainTreatments"> </textarea>
</div>

<div class="text-prompt">
    Please select any health conditions you have been diagnosed with:
</div>

<div class="three-inline-grid">
    <div class="first-inline-col">
        <input type="checkbox" [(ngModel)]="model.heartDisease" name="heartDisease">Heart Disease
    </div>

    <div class="second-inline-col">
        <input type="checkbox" [(ngModel)]="model.cancer" name="cancer">Cancer
    </div>

    <div class="third-inline-col">
        <input type="checkbox" [(ngModel)]="model.stroke" name="stroke">Stroke
    </div>

    <div class="first-inline-col">
        <input type="checkbox" [(ngModel)]="model.highBloodPressure" name="highBloodPressure">High Blood Pressure
    </div>

    <div class="second-inline-col">
        <input type="checkbox" [(ngModel)]="model.diabetes" name="diabetes">Diabetes
    </div>

    <div class="third-inline-col">
        <input type="checkbox" [(ngModel)]="model.mentalIllness" name="mentalIllness">Emotional Illness
    </div>

    <div class="first-inline-col">
        <input type="checkbox" [(ngModel)]="model.seizures" name="seizures">Seizures
    </div>

    <div class="second-inline-col">
        <input type="checkbox" [(ngModel)]="model.autoImmuneDisease" name="autoImmuneDisease">Auto-immune Disease
    </div>

    <div class="third-inline-col">
        <input type="checkbox" [(ngModel)]="model.other" name="other">Other
    </div>

    <div class="text-prompt">
        Please select any that apply:
    </div>
</div>

<div class="three-inline-grid">
    <div class="first-inline-col">
        <input type="checkbox" [(ngModel)]="model.paceMaker" name="paceMaker">I have a pace-maker
    </div>

    <div class="second-inline-col">
        <input type="checkbox" [(ngModel)]="model.hearingAids" name="hearingAids">I wear hearing aids
    </div>

    <div class="third-inline-col">
        <input type="checkbox" [(ngModel)]="model.aromatherapy" name="aromatherapy">I am sensitive to aromas
    </div>
</div>

