
/* Smart Menu smart-menu is a div that toggles all mobile menu on and off
if you use fixed it will keep the header in focus when scrolling down a mobile device

An element with greater stack order is always in front of an element with a lower stack order. Note: z-index only works
on positioned elements (position: absolute, position: relative, position: fixed, or position: sticky).

> Sign: >  will target elements which are DIRECT children of a particular element. So if
<div container p> where p is bold
<p>blah
<p>blah
will be bold but
    <div lower-container>
        <p> will not be bold
It will target all P element which are direct children of container div, not children of child div.

+ Sign: + is Adjacent sibling combinator. It combines two sequences of simple selectors having the
same parent and the second one must come IMMEDIATELY after the first.

~ Sign:
It is general sibling combinator and similar to Adjacent sibling combinator. the difference is
that the second selector does NOT have to immediately follow the first one means It will
select all elements that is preceded by the former selector.
*/

/* BANANAS, MOBILES AND TABLET AND IPAD PORTRAIT (MAX IS 1 less than TABLET LANDSCAPE **************************************/
@media only screen
and (min-width: 240px)
and (max-width: 1279px) {

  .header-desktop {
    display: none;
  }

  .header-mobile {

    display: inline-grid;
    width: 100%;
    background-color: white;
  }

  .slogan {
    display:grid;
    grid-row:1;
    grid-column:1/2;
    background: url("src/assets/images/extras/headers/transitionsInEnergyHeader.jpg")  left no-repeat;
    background-size:contain;
    width:100%;
  }

  .smart-menu {
    display:grid;
    width:100%;
    position: relative;
    grid-column:2/-1;
    background-color: white;
    align-content: center;border:thin solid red;
  }

  /* top, height, width and right changes relative to the device size */
  .mobile-menu {
    display:grid;
    z-index: 1;
  }

  /* This way the objects sit on top of each other, otherwise they move under */
  .mobile-menu .toggler, .mobile-menu .hamburger  {
    grid-column: 1/-1;
    grid-row: 1/-1;
  }

  /* checkbox automatically centers within its parent */
  .mobile-menu .toggler {
    z-index: 2;
    cursor: pointer;
    opacity: 0;
  }

  /* push the hamburger menu down to sit within the checkbox */
  .mobile-menu .hamburger {
    margin-top:0.9em;
    z-index: 1;
  }

  /* the horizontal lines of the menu setting the red backcolour and full width */
  .mobile-menu .hamburger > div {
    position: relative;
    width: 100%;
    transition: all 0.4s ease;
    background-color: var(--color-purple);
  }

  .mobile-menu .hamburger > div,
  .mobile-menu .hamburger > div:before,
  .mobile-menu .hamburger > div:after {
    height:.083em;
  }

  /* top and bottom lines in hamburger design take backcolour, transition and width from parent hamburger div  */
  .mobile-menu .hamburger > div:before,
  .mobile-menu .hamburger > div:after {
    content: '';
    position: absolute;
    z-index: 1;
    width: inherit;
    background: inherit;
  }

  .mobile-menu .hamburger > div:before {
    top:-.313em;
  }

  .mobile-menu .hamburger > div:after {
    top:.313em;
  }

  /* toggler animate to move all 3 lines 135 degrees up and to right */
  .mobile-menu .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }

  /* turn upper and lower lines into X */
  .mobile-menu .toggler:checked + .hamburger > div:before,
  .mobile-menu .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }

  /* when checkbox is checked it makes the burst menu visible and fixed */
  .mobile-menu .toggler:checked ~ .burst-menu {
    visibility: visible;
    position: fixed;
  }

  .mobile-menu .toggler:checked ~ .burst-menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }

  .mobile-menu .toggler:checked ~ .burst-menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease;
  }

  /*  BURST MENU DESIGN
      this div covers the whole device area - is the device background, not visible (without backcolour)
      But it sets up the burst menu to know its boundaries
  */
  .mobile-menu .burst-menu {
    position: static;
    left: 0;
    width: 100%;
    height: 100%;
    visiblity: hidden;
    overflow: hidden;
    cursor: pointer;
    z-index: 0;
    display:flex;
    flex-direction:column;
  }

  /* This is the burst menu background  */
  .mobile-menu .burst-menu > div {
    background: var(--overlay-color);
    border-radius: 0%;
    /*was 50* now more square */
    display: flex;
    flex: none;
    width:100vw;
    height:100vh;
    transform: scale(0);
    transition: all 0.4s ease;
  }

  /* These is boundary area for the menu - gave it a margin top of 3 em as centering crops some of the menu */
  .mobile-menu .burst-menu > div > div {
    display:grid;
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  .submenu-auto-content {
    margin-left:4em;
  }

}

/* BANANA PORTRAIT  *****************************************************************************/
@media only screen
and (min-width: 240px)
and (max-width: 359px)
and (orientation: portrait){

  .header-mobile {
    grid-template-columns: 85% 15%;
  }

  .slogan, .mobile-menu {
    height: 26px;
  }

  .mobile-menu .hamburger {
    margin-top:13px;
  }
}

/* BANANA LANDSCAPE  *****************************************************************************/
@media only screen
and (min-width: 568px)
and (max-width: 895px)
and (orientation: landscape) {

  .header-mobile {
    grid-template-columns: 90% 10%;
  }

  .slogan, .mobile-menu {
    height: 61px;
  }

  .mobile-menu .hamburger {
    margin-top:30px;
  }

}

/* MOBILES PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 360px)
and (max-width: 599px)
and (orientation: portrait) {

  .header-mobile {
    grid-template-columns: 85% 15%;
  }

  .slogan, .mobile-menu {
    height: 39px;
  }

  .mobile-menu .hamburger {
    margin-top:20px;
  }

}

/*  MOBILES LANDSCAPE **************************************************************************************************/
@media only screen
and (min-width:896px )
and (max-width: 1279px)
and (orientation: landscape) {

  .header-mobile {
    grid-template-columns: 95% 5%;
  }

  .slogan, .mobile-menu {
    height: 96px;
  }

  .mobile-menu .hamburger {
    margin-top:48px;
  }
}

/* TABLETS PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 600px)
and (max-width: 1023px)
and (orientation: portrait) {

  .header-mobile {
    grid-template-columns: 93% 7%;
  }

  .slogan, .mobile-menu {
    height: 96px;
  }

  .mobile-menu .hamburger {
    margin-top:48px;
  }

}

/* IPADS PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 1024px)
and (max-width: 1366px)
and (orientation: portrait) {

  .header-mobile {
    grid-template-columns: 93% 7%;
  }

  .slogan, .mobile-menu {
    height: 110px;
  }

  .mobile-menu .hamburger {
    margin-top:55px;
  }

}


/* ALL THAT SHOW BIG MENU TABLET LANDSCAPE, IPAD LANDSCAPE, LAPTOP, DESKTOP and UP ********************************/
@media only screen
and (min-width: 1280px)
and (orientation: landscape) {

  .header-tablet-port, .header-mobile, .header-banana {
    display: none;
  }

  /* header large has slogan on top and main-menu on bottom - cant be declared in global */
  .header-desktop {
    display: inline-grid;
    grid-template-columns: 100%;
    grid-template-rows:var(--header-desktop-slogan-height) var(--header-desktop-menu-height);
    width: 100%;
    background-color: white;
    border-top: 1px solid slategray;
    z-index:1;
  }

  /*cambria math to the left and berlin sans FB to the right text */
  .slogan {
    display:grid;
    grid-row:1;
    grid-column: 1/-1;
    border-left: 1px solid #d7e0e7;
    border-right: 1px solid #d7e0e7;
    margin:auto;
    width:var(--header-desktop-slogan-width);
    height: var(--header-desktop-slogan-height);
    background: url("src/assets/images/extras/headers/transitionsInEnergyHeader.jpg")  center no-repeat;
    background-size:auto;
  }

  .top-menu {
    display:grid;
    grid-row: 2;
    background-color: var(--color-darkest-blue);
  }

  .top-menu-items {
    display: inline-grid;
    margin:auto;
    width:var(--header-desktop-slogan-width);
    height: var(--header-desktop-menu-height);
    grid-template-columns: repeat(5, 20%);

  }
  .selectedItem, .unselectedItem a {
    font-size:0.85em;
  }
}


/* GLOBAL *************************************************************************************************************/
@media screen {

  /*cambria math to the left and berlin sans FB to the right text */
  .slogan {
    align-content: center;
    margin:auto;
  }

  /* header-desktop and header-mobile are not placed here as they are conditional not global */

  .selectedItem, .unselectedItem a {
    display:grid;
    font-family: var(--family-global);
    color:whitesmoke;
    justify-content: center;
    height:var(--header-desktop-menu-height);
    align-content: center;
    font-weight:800;
  }

  .unselectedItem a {
    text-decoration: underline;
    cursor: pointer;
    background-color: var(--color-darkest-blue);
  }

  .selectedItem {
    cursor: default;
    background-color: var(--color-light-blue);
    border:thin solid var(--color-off-white);
  }
}

@media print {
  .header, .menu,  .smart-menu {
    display: none;
  }
}
