
/*******************************************************************************************************************
  ALL BANANAS, MOBILES AND TABLET AND IPAD PORTRAIT (MAX IS 1 less than TABLET LANDSCAPE at and (min-width: 1280px))
*******************************************************************************************************************/
@media only screen
and (min-width: 240px)
and (max-width: 1279px) {

    .desktop-header {
        display: none;
    }

    .header-mobile {
        display: block;
        float:left;
        margin:auto;
        width:100%;
    }

    /* contains the mobile-header-content */
    .mobile-header-block {
        display: grid;
        width:100%;
        max-width:1024px;
        margin:auto;
    }

    /* ROW 1 The header is 2 grid columns with logo (col 1) and name (col 2) in row 1
    and slogan in row 2 all cols, with slogan 1 in col 1 and slogan 2 in col 2
    3rd row is the mobile hamburger menu ROWS AND HEIGHT DEFINED BELOW IN INDIVID. ELEMENTS */
    .mobile-header-content {
        display:inline-grid;
        width:100%;
        align-content: flex-start;
    }

    .logo {
        background-position: center;
        background-image:url('src/assets/images/menu/transitionsInEnergyLogo.png');
        background-repeat: no-repeat;
        margin:0;
    }

    .header-name {
        justify-content: center;
        text-align: center;
    }

    .top-name {
        letter-spacing: 3px;
    }

    /* ROW 2 slogan - energy medicine treatments - icon - end of life doula support */
    .header-slogans {
        grid-row:2;
        display:inline-grid;
        grid-column:1/-1;
        width:100%;
        grid-template-columns: 45% 10% 45%;
        background-color: var(--color-dark-blue);
    }

    .header-slogans p, .slogans-line, .header-slogans span {
        display:inline-grid;
        height:var(--mobile-middle-menu-height);
        align-content: center;
        justify-content: center;
        text-align: center;
    }

    .header-slogans p {
        grid-column: 1;
        letter-spacing: 2px;
        padding-left:1em;
        color:var(--color-white);
        margin: 0;
    }

    .slogans-line {
        grid-column:2;
        background-size:auto;
        background: url("src/assets/images/menu/infinityMobile.png") no-repeat center;
    }

    .header-slogans span {
        grid-column:3;
        letter-spacing: 2px;
        padding-right:1em;
        color:var(--color-white);
    }

    /* ROW 3 Eden and email links and menu item bars */
    .mobile-menu-items {
        grid-row:3;
        display:inline-grid;
        height:var(--mobile-bottom-menu-height);
        width:100%;
        background-color: var(--color-white);
    }

    .mobile-eden-icon, .mobile-email-icon,  .mobile-menu-icon {
        display:inline-grid;
        align-content: center;
        justify-content: center;
    }

    .mobile-eden-icon {
        grid-column:2;
    }

    .mobile-email-icon {
        grid-column:3;
    }

    .mobile-menu-icon {
        grid-column:4;
        cursor: pointer;
        background-color: var(--color-white);
    }

    .bar1, .bar2, .bar3 {
        display:grid;
        width: 20px;
        height: 2px;
        justify-content: center;
        background-color: var(--color-purple);
        margin: 2px 0;
        transition: 0.4s;
    }

    /* THE MOBILE TOP MENU THAT SLIDES DOWN ON CLICKING and DISPLAYS MOBILE SUB MENU IF SELECTED */
    .mobile-menu-block {
        display: grid;
        grid-row:3;
        align-content: flex-start;
        width:100%;
        margin:auto;
        font-family: var(--family-menu-copy);
    }

    .mobile-menu {
        overflow: hidden;
        position: relative;
    }

    .mobile-selected-top-menu-item, .mobile-unselected-top-menu-item a {
        display: grid;
        align-content: center;
        height: 50px;
        width:100%;
        justify-content: flex-start;
        padding-left: 1em;
    }

    .mobile-unselected-top-menu-item a, .mobile-unselected-sub-menu-item a {
        border-bottom:thin solid white;
    }

    .mobile-selected-top-menu-item {
        border-bottom:thin solid var(--color-dark-blue);
    }

    .mobile-selected-top-menu-item {
        cursor: default;
        background-color: var(--color-off-white);
        color: var(--color-dark-blue);
    }

    .mobile-unselected-top-menu-item a {
        text-decoration: none;
        cursor: pointer;
        color: var(--color-off-white);
        background-color: var(--color-dark-blue);
    }

    /* MOBILE SUB MENU ITEMS */
    .mobile-selected-sub-menu-item, .mobile-unselected-sub-menu-item a {
        display: grid;
        width: 100%;
        align-content: center;
        justify-content: flex-start;
        height: 40px;
        padding-left: 3em;
    }

    .mobile-selected-sub-menu-item {
        background-color: var(--color-off-white);
        color: var(--color-purple);
    }

    .mobile-unselected-sub-menu-item a {
        text-decoration: none;
        cursor: pointer;
        color: var(--color-off-white);
        background-color: var(--color-dark-blue);
    }

}

/* BANANA PORTRAIT IS MOBILE MENU *****************************************************************************/
@media only screen
and (min-width: 240px)
and (max-width: 359px)
and (orientation: portrait){

    .mobile-header-content {
        grid-template-columns: 45% 55%;
    }

    .header-logo {
        background-size: contain;
        height:var(--banana-top-menu-height);
    }

    .header-name {
        font-size: var(--menu-name-banana-port-font-size);
        height:var(--banana-top-menu-height);
    }

    .header-slogans p, .header-slogans span {
        font-size: var(--menu-slogan-banana-port-font-size);
        letter-spacing: .1em;
    }

    .mobile-menu-items {
        grid-template-columns: 58% 14% 14% 14%;
    }

    .mobile-selected-top-menu-item, .mobile-unselected-top-menu-item a {
        font-size: var(--mobile-main-menu-item-banana-font-size);
    }

    .mobile-selected-sub-menu-item, .mobile-unselected-sub-menu-item a {
        font-size: var(--mobile-sub-menu-item-banana-font-size);
    }

}

/* BANANA LANDSCAPE IS MOBILE MENU *****************************************************************************/
@media only screen
and (min-width: 568px)
and (max-width: 895px)
and (orientation: landscape) {

    .mobile-header-content {
        grid-template-columns: 35% 65%;
    }

    .header-logo {
        background-size: auto;
        height:var(--mobile-top-menu-height);
    }

    .header-name {
        font-size: var(--menu-name-banana-land-font-size);
        height:var(--mobile-top-menu-height);
    }

    .header-slogans p, .header-slogans span {
        font-size: var(--menu-slogan-banana-land-font-size);
    }

    .mobile-menu-items {
        grid-template-columns: 82% 6% 6% 6%;
    }

    .mobile-selected-top-menu-item, .mobile-unselected-top-menu-item a {
        font-size: var(--mobile-main-menu-item-banana-font-size);
    }

    .mobile-selected-sub-menu-item, .mobile-unselected-sub-menu-item a {
        font-size: var(--mobile-sub-menu-item-banana-font-size);
    }

}

/* MOBILES PORTRAIT IS MOBILE MENU ****************************************************************************************************/
@media only screen
and (min-width: 360px)
and (max-width: 599px)
and (orientation: portrait) {

    .mobile-header-content {
        grid-template-columns: 35% 65%;
    }

    .header-logo, .header-name {
        height:var(--mobile-top-menu-height);
    }

    .header-logo {
        background-size: auto;
    }

    .header-name {
        font-size: var(--menu-name-mobile-port-font-size);
    }

    .header-slogans p, .header-slogans span {
        font-size: var(--menu-slogan-mobile-port-font-size);
    }

    .mobile-menu-items {
        grid-template-columns: 73% 9% 9% 9%;
    }

    .mobile-selected-top-menu-item, .mobile-unselected-top-menu-item a {
        font-size: var(--mobile-main-menu-item-mobile-font-size);
    }

    .mobile-selected-sub-menu-item, .mobile-unselected-sub-menu-item a {
        font-size: var(--mobile-sub-menu-item-mobile-font-size);
    }

}

/*  MOBILES LANDSCAPE IS MOBILE MENU **************************************************************************************************/
@media only screen
and (min-width:896px )
and (max-width: 1279px)
and (orientation: landscape) {

    .mobile-header-content {
        grid-template-columns: 40% 60%;
    }

    .header-logo, .header-name {
        height:var(--mobile-top-menu-height);
    }

    .header-logo {
        background-size: auto;
    }

    .header-name {
        font-size: var(--menu-name-mobile-land-font-size);
    }

    .header-slogans p, .header-slogans span {
        font-size: var(--menu-slogan-mobile-land-font-size);
    }

    .mobile-menu-items {
        grid-template-columns: 88% 4% 4% 4%;
    }

    .mobile-selected-top-menu-item, .mobile-unselected-top-menu-item a {
        font-size: var(--mobile-main-menu-item-mobile-font-size);
    }

    .mobile-selected-sub-menu-item, .mobile-unselected-sub-menu-item a {
        font-size: var(--mobile-sub-menu-item-mobile-font-size);
    }
}

/* TABLETS PORTRAIT IS MOBILE MENU ****************************************************************************************************/
@media only screen
and (min-width: 600px)
and (max-width: 1023px)
and (orientation: portrait) {

    .mobile-header-content {
        grid-template-columns: 40% 60%;
    }

    .header-logo, .header-name {
        height:var(--mobile-top-menu-height);
    }

    .header-logo {
        background-size: auto;
    }

    .header-name {
        font-size: var(--menu-name-tablet-port-font-size);
    }

    .header-slogans p, .header-slogans span {
        font-size: var(--menu-slogan-tablet-port-font-size);
    }

    .mobile-menu-items {
        grid-template-columns: 79% 7% 7% 7%;
    }

    .mobile-selected-top-menu-item, .mobile-unselected-top-menu-item a {
        font-size: var(--mobile-main-menu-item-tablet-ipad-font-size);
    }

    .mobile-selected-sub-menu-item, .mobile-unselected-sub-menu-item a {
        font-size: var(--mobile-sub-menu-item-tablet-ipad-font-size);
    }

}

/* IPADS PORTRAIT IS MOBILE MENU ****************************************************************************************************/
@media only screen
and (min-width: 1024px)
and (max-width: 1366px)
and (orientation: portrait) {

    .mobile-header-content {
        grid-template-columns: 40% 60%;
    }

    .header-logo, .header-name {
        height:var(--mobile-top-menu-height);
    }

    .header-logo {
        background-size: auto;
    }

    .header-name {
        font-size: var(--menu-name-ipad-port-font-size);
    }

    .header-slogans p, .header-slogans span {
        font-size: var(--menu-slogan-ipad-port-font-size);
    }

    .mobile-menu-items {
        grid-template-columns: 88% 4% 4% 4%;
    }

    .mobile-selected-top-menu-item, .mobile-unselected-top-menu-item a {
        font-size: var(--mobile-main-menu-item-tablet-ipad-font-size);
    }

    .mobile-selected-sub-menu-item, .mobile-unselected-sub-menu-item a {
        font-size: var(--mobile-sub-menu-item-tablet-ipad-font-size);
    }
}

/*******************************************************************************************************************
  ALL THAT SHOW BIG DESKTOP MENU TABLET LANDSCAPE, IPAD LANDSCAPE, LAPTOP, DESKTOP and UP
*******************************************************************************************************************/

@media only screen
and (min-width: 1280px)
and (orientation: landscape) {

    /* header mobile displays in mobile mode and hides in desktop mode */
    .header-mobile {
        display: none;
    }

    /* header desktop displays in desktop mode and hides in mobile mode */
    .desktop-header {
        display: block;
        width:var(--media-more-than-content-width);
        float:left;
        margin:auto;

    }

    /* DESKTOP-CONTENT-BLOCK - ROW 1 - with logo, name and slogans - it is 1280 which is tablet width 1280  */
    .desktop-content-block {
        display: grid;
        width:var(--media-more-than-content-width);
        max-width:var(--tablet-width);
        margin:auto;
        font-family: var(--family-menu-copy);
    }

    /* DESKTOP-CONTENT - 3 grid columns with header-logo, header-name, header-slogans on right  */
    .desktop-content {
        display:inline-grid;
        width:100%;
        grid-template-columns: 16% 30% 30% 24%;
        height:var(--desktop-top-menu-height);
        margin: 0 auto;
        align-content: flex-start;
    }

    .header-logo,  .header-name, .header-slogans, .header-socials {
        display:grid;
        height:var(--desktop-top-menu-height);
        align-content: center;
    }

    .header-logo {
        grid-column: 1;
        justify-content: flex-start;
    }

    .logo {
        background-size: auto;
        background-position: center;
        background-image:url('src/assets/images/menu/transitionsInEnergyLogo.png');
        background-repeat: no-repeat;
        margin:0;
    }

    .header-name {
        grid-column: 2;
        border-left: 1px solid #f1f1f1;
        border-right: 1px solid #f1f1f1;
        justify-content: center;
        text-align: center;
        /*font-weight:600;*/
    }

    .top-name {
        letter-spacing: 6px;
    }

    .header-slogans {
        grid-column: 3;
        justify-content: center;
        align-content: center;
        border-right:thin solid #f1f1f1;
    }

    .header-slogans p {
        letter-spacing: 2px;
        margin: 0;
    }

    .slogans-line {
        background: url("src/assets/images/icons/line.jpg") center repeat-x;
        width:100%;
    }

    .header-slogans span {
        letter-spacing: 3px;
    }

    .header-socials {
        grid-column: 4;
        align-content: center;
    }

    .top-social a, .bottom-social a {
        display:block;
        white-space: nowrap;
        color:var(--color-dark-blue);
        font-weight:400;
        text-align: left;
        text-decoration: none;
    }

    .bottom-social a  {
        padding-top: 1em;
    }

    /* DESKTOP-MENU-BLOCK - ROW 2 - is the top menu for desktop and is full screen banner-width 1920px */
    .desktop-menu-block {
        display: grid;
        width:100%;
        max-width:var(--banner-width);
        overflow: hidden;
        margin:auto;
        background-color: var(--color-white);
        border-top:thin solid #f1f1f1;
        font-family:var(--family-menu-copy);
    }

    /* DESKTOP-MENU - are a max width of 800px */
    .desktop-menu {
        display: inline-grid;
        align-content: flex-start;
        margin:auto;
        width:var(--media-more-than-content-width);
        grid-template-columns: repeat(2, 50%);
        height:var(--desktop-bottom-menu-height);
        max-width:var(--menu-width);
        /* border-left:thin solid #f1f1f1;
         border-right:thin solid #f1f1f1;*/
    }

    /* example uses dropdown instead of desktop-top-menu-item */
    .desktop-top-menu-item  {
        display: grid;
        overflow: hidden;
        width:100%;
        justify-content: center;
        align-content: center;
        height: var(--desktop-bottom-menu-height);
        background-color: var(--color-white);
        font-weight:400;
    }

    .desktop-top-menu-item span {
        color:var(--color-dark-blue);
        cursor:pointer;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        margin-top:var(--desktop-bottom-menu-height);
        padding: 1.5em 0 2.5em 0;
        background-color: #fff;
        box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px, rgba(10, 37, 64, 0.35) 0 -2px 6px 0 inset;
        z-index: 1;
    }

    .desktop-top-menu-item:hover .dropdown-content {
        display: block;
    }

    /* float none forces text to move down row */
    .dropdown-content a, .dropdown-content span {
        display: grid;
        grid-template-columns: 20% 80%;
        justify-content: center;
        align-content: center;
        padding-top: 1.5em;
        text-decoration: none;
        width:300px;
        margin:auto;
        background-color:var(--color-white);
        font-family: var(--family-menu-copy);
    }

    .dropdown-content a {
        color: var(--color-dark-blue);
    }

    .dropdown-content a:hover {
        text-decoration:underline;
    }

    .dropdown-content span {
        color: var(--color-dark-grey);
    }

    .swirl {
        background-image:url("src/assets/images/menu/intro.gif");
        background-position: center;
        background-size: auto;
        background-repeat: no-repeat;
        height:15px;
        padding-top:.2em;
    }


}

/*  TABLETS LANDSCAPE IS DESKTOP MENU *******************************************************************************************/
@media only screen
and (min-width: 1280px)
and (max-width: 1365px)
and (orientation: landscape) {

    .header-name {
        font-size: var(--menu-name-tablet-land-font-size);
    }

    .header-slogans p, .header-slogans span {
        font-size: var(--menu-slogan-tablet-land-font-size);
    }

    .header-socials {
        padding-left:.2em;

    }

    .top-social a, .bottom-social a  {
        font-size: var(--menu-social-ipad-tablet-land-font-size);
    }

    .desktop-top-menu-item span {
        font-size: var(--desktop-menu-item-tablet-land-font-size);
    }

    .dropdown-content a, .dropdown-content span {
        font-size: var(--desktop-sub-menu-item-tablet-land-font-size);
    }



}

/* IPADS LANDSCAPE IS DESKTOP MENU ***************************************************************************************************/
@media only screen
and (min-width: 1366px)
and (max-width: 1439px)
and (orientation: landscape) {

    .header-name {
        font-size: var(--menu-name-ipad-land-font-size);
    }

    .header-slogans p, .header-slogans span {
        font-size: var(--menu-slogan-ipad-land-font-size);
    }

    .header-socials {
        padding-left:.2em;
    }

    .top-social a, .bottom-social a  {
        font-size: var(--menu-social-ipad-tablet-land-font-size);
    }

    .desktop-top-menu-item span {
        font-size: var(--desktop-menu-item-ipad-land-font-size);
    }

    .dropdown-content a, .dropdown-content span {
        font-size: var(--desktop-sub-menu-item-ipad-land-font-size);
    }

}

/* LAPTOPS ****************************************************************************************************/
@media only screen
and (min-width: 1440px)
and (max-width:1919px){

    .header-name {
        font-size: var(--menu-name-laptop-font-size);
    }
}

/* DESKTOPS ****************************************************************************************************/
@media only screen
and (min-width: 1920px) {

    .header-name {
        font-size: var(--menu-name-desktop-font-size);
    }
}


/* DESKTOPS ****************************************************************************************************/
@media only screen
and (min-width: 1440px) {

    .header-slogans p, .header-slogans span {
        font-size: var(--menu-slogan-desktop-font-size);
    }

    .header-socials {
        padding-left:.2em;
    }

    .top-social a, .bottom-social a  {
        font-size: var(--menu-social-desktop-font-size);
    }

    .desktop-top-menu-item span {
        font-size: var(--desktop-menu-item-desktop-font-size);
    }

    .dropdown-content a, .dropdown-content span {
        font-size: var(--desktop-sub-menu-item-desktop-font-size);
    }

}



/* GLOBAL *************************************************************************************************************/
@media screen {

    .header-logo {
        display:grid;
        grid-column: 1;
        grid-row:1;
        align-content: center;
    }

    .header-name, .header-slogans, .header-socials {
        font-family: var(--family-menu-copy);
        color: var(--color-dark-blue);
    }

    .header-name {
        display:grid;
        grid-column: 2;
        grid-row:1;
        align-content: center;
        line-height: 100%;
    }

    .top-name {
        text-transform: uppercase;
    }

    .bottom-name {
        padding-top: .2em;
    }

    .header-slogans {
        text-transform: uppercase;
        text-align: center;
    }

    .header-socials {
        justify-content: center;
    }
}




@media print {
    .header, .menu,  .smart-menu {
        display: none;
    }
}

