<div id="headers">
    <div class="header-desktop">
        <div class="slogan"></div>

        <div class="menu">
            <div class="menu-items">
                <div *ngFor="let menuItem of menuItems">
                    <div *ngIf="menuItemId==menuItem.id">
                        <div class="selectedItem">{{menuItem.title}}</div>
                    </div>

                    <div *ngIf="menuItemId!=menuItem.id">
                        <div class="unselectedItem"><a routerLink='/{{menuItem.url}}'>{{menuItem.title}}</a></div>
                    </div>
                </div>
            </div>
        </div>
        <ng-container *ngIf="subMenuItemId && subMenuItemId > 0">
          <app-global-sub-menu [menuItemId]="menuItemId" [subMenuItemId]="subMenuItemId" [topicMenuItemId]="topicMenuItemId"></app-global-sub-menu>
          <ng-container *ngIf="topicMenuItemId && topicMenuItemId > 0">
            <app-global-topic-menu [subMenuItemId]="subMenuItemId" [topicMenuItemId]="topicMenuItemId"></app-global-topic-menu>
          </ng-container>
        </ng-container>
    </div>


    <div class="header-mobile">
        <div class="mobile-top-row">
            <div class="slogan"></div>
            <div class="mobile-menu-icon">
                <button class="rotate-button" (click)="toggle()">
                  <div [@rotatedState]="rotated" class="plus">
                  </div>
                </button>
            </div>
        </div>

        <div class="mobile-menu">
            <div [@popOverState]="showMenu">
                <ng-container *ngFor="let menuItem of menuItems">
                    <ng-container *ngIf="menuItemId==menuItem.id">
                      <div class="mobile-selectedItem">
                        {{menuItem.title}}
                      </div>
                      <ng-container *ngIf="subMenuItemId && subMenuItemId > 0">
                        <app-global-sub-menu [menuItemId]="menuItemId" [subMenuItemId]="subMenuItemId" [topicMenuItemId]="topicMenuItemId"></app-global-sub-menu>
                      </ng-container>
                    </ng-container>

                    <div *ngIf="menuItemId!=menuItem.id" class="mobile-unselectedItem">
                      <a routerLink='/{{menuItem.url}}'>{{menuItem.title}}</a>
                    </div>
                </ng-container>
            </div>
        </div>

    </div>
</div>
