<div id="headers">
    <div class="header-desktop">
        <div class="slogan"></div>

        <div class="menu">
            <div class="menu-items">
                <div *ngFor="let menuItem of menuItems">
                    <div *ngIf="menuItemId==menuItem.id">
                        <div class="selectedItem">{{menuItem.title}}</div>
                    </div>

                    <div *ngIf="menuItemId!=menuItem.id">
                        <div class="unselectedItem"><a routerLink='/{{menuItem.url}}'>{{menuItem.title}}</a></div>
                    </div>
                </div>
            </div>
        </div>
        <app-global-sub-menu [menuItemId]="menuItemId" [subMenuItemId]="subMenuItemId"></app-global-sub-menu>
        <app-global-topic-menu [subMenuItemId]="subMenuItemId" [topicMenuItemId]="topicMenuItemId"></app-global-topic-menu>
    </div>
</div>

<div class="header-mobile">
      <div class="topnav-top-row">
        <div class="slogan"></div>
        <div class="hamburger-icon">
          <button class="fa fa-bars" (click)="toggleMenu()"></button>
        </div>
      </div>

      <div class="topnav">
        <div [ngClass]="mobileMenuDisplay">
          <ng-container
            *ngIf="!subMenuItemId || subMenuItemId == 0">
            <div *ngFor="let menuItem of menuItems">
              <div *ngIf="menuItemId==menuItem.id">
                  <div class="selectedItem">{{menuItem.title}}</div>
              </div>

              <div *ngIf="menuItemId!=menuItem.id">
                  <div class="unselectedItem"><a routerLink='/{{menuItem.url}}'>{{menuItem.title}}</a></div>
              </div>
            </div>
          </ng-container>
          <ng-container
            *ngIf="subMenuItemId && subMenuItemId > 0">
              <div class="unselectedItem"><a routerLink='/home'>HOME</a></div>
              <app-global-sub-menu [menuItemId]="menuItemId" [subMenuItemId]="subMenuItemId"></app-global-sub-menu>
          </ng-container>
        </div>
      </div>

      <!--
      <div class="smart-menu">
        <div class="mobile-menu">
            <input type="checkbox" class="toggler">
            <div class="hamburger">
                <div></div>
            </div>
            <div class="burst-menu">
                <div>
                    <div>
                        <ul>
                            <li *ngFor="let menuItem of menuItems">
                                <ng-container
                                    *ngIf="menuItem.children && menuItem.children.length > 0">
                                    <ng-container *ngIf="menuItemId==menuItem.id">
                                        <div class="selectedItem">{{menuItem.title}}&nbsp;&#9660;</div>
                                    </ng-container>

                                    <ng-container *ngIf="menuItemId!=menuItem.id">
                                        <div class="unselectedItem"><a
                                            routerLink='/{{menuItem.url}}'>{{menuItem.title}}&nbsp;&#9660;</a>
                                        </div>
                                    </ng-container>

                                    <div class="submenu-auto-content">
                                        <ng-container
                                            *ngFor="let childItem of menuItem.children">
                                            <ng-container
                                                *ngIf="menuItemId==childItem.id">
                                                <div class="selectedChild">{{childItem.title}}</div>
                                            </ng-container>
                                            <ng-container
                                                *ngIf="menuItemId!=childItem.id">
                                                <div class="unselectedChild">
                                                    <a
                                                        routerLink='/{{childItem.url}}'>{{childItem.title}}</a>
                                                </div>
                                            </ng-container>
                                        </ng-container>
                                    </div>
                                </ng-container>

                                <ng-container
                                    *ngIf="!menuItem.children || menuItem.children.length == 0">
                                    <ng-container *ngIf="menuItemId==menuItem.id">
                                        <div class="selectedItem">{{menuItem.title}}</div>
                                    </ng-container>
                                    <ng-container *ngIf="menuItemId!=menuItem.id">
                                        <div class="unselectedItem"><a
                                            routerLink='/{{menuItem.url}}'>{{menuItem.title}}</a>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
      </div>
      -->
</div>
