<div class="content">
    <div class = "topic-block">
        <div class="topic-left">
            <h1>{{title}}</h1>
        </div>

        <div class="topic-right">
            <img src="assets/images/support/doula/doulaCareIntro.jpg" alt="Questions to Consider" title="Questions to Consider">
        </div>
    </div>

    <div class="headings">
        <div class="dark-heading">
            <h1>Doula's Help With the Hard Stuff</h1>
        </div>
    </div>

    <div class="text">
        <div class="dark-copy">
            You may have never heard of an End of Life Doula. There are Doulas that help with pregnancy and childbirth - they
            are called Birth Doulas. There are also Doulas that are there for you after you are all grown up! Contrary to
            what it sounds like an End of Life Doula isn't just there to help you die. We provide many other services -
            in fact Palliative Care suggests that everyone over 19 years of age should have completed some kind of end of life contingency plan.
            <br><br>
            The truth we can't run away from is that some day we all leave this earth. What you choose to leave behind could be
            either a huge mess for family to sort or a well planned legacy that your family will benefit from and appreciate.
            Doing a care plan isn't just important for their sake but for your own as well. Because if you end up at the hospital
            some day without any kind of thought to this, your future could end having it decided by a stranger who probably
            really wished he or she didn't have to make the hard decisions.
        </div>
    </div>

    <div class="images">
        <img src="assets/images/support/doula/doulaCarePic.jpg" alt="Doula Care" title="Doula Care">
    </div>

    <div class="headings">
        <div class="dark-heading">
            <h2>The Death Positive Movement Principles & Beliefs</h2>
        </div>
    </div>

    <div class="list">
        <ul class="dark-list">
            <li class="list-big-item">I believe that by hiding death and dying behind closed doors we do more harm than good to our society.
            <li class="list-big-item">I believe that the culture of silence around death should be broken through discussion, gatherings, art, innovation, and scholarship.
            <li class="list-big-item">I believe that talking about and engaging with my inevitable death is not morbid, but displays a natural curiosity about the human condition.
            <li class="list-big-item">I believe that the dead body is not dangerous, and that everyone should be empowered (should they wish to be) to be involved in care for their own dead.
            <li class="list-big-item">I believe that the laws that govern death, dying and end-of-life care should ensure that a person’s wishes are honored, regardless of sexual, gender, racial or religious identity.
            <li class="list-big-item">I believe that my death should be handled in a way that does not do great harm to the environment.
            <li class="list-big-item">I believe that my family and friends should know my end-of-life wishes, and that I should have the necessary paperwork to back-up those wishes.
            <li class="list-big-item">I believe that my open, honest advocacy around death can make a difference, and can change culture.
        </ul>
    </div>

    <div class="text">
        <div class="dark-copy">
           Not everyone needs to consider their contingency plan to the same degree. Someone who is 39
            may want very different medical interventions and care than someone who is 89. This Health
            Journey questionnaire created by DyingWithDignity <i>(113. DWDC__2021ACPkit.docx)</i> reproduced here; can help you decide
            the kind of questions you should be considering depending on which category you are in:
        </div>
    </div>

    <div class="list">
        <ul class="dark-list">
            <li class="list-item">&#x262f;&nbsp;
                <b>You are under 65 and in good health and fitness.</b>
                <br>
                <div class="pad-left-3">
                    Serious illness and injury can happen at any age. You likely will want any and all treatment for conditions that
                    develop, but it’s not too early to think about what your values, beliefs and preferences for care would be if
                    you were in a serious accident, you had a major stroke, or developed any other condition that might render
                    you incapable of making decisions for yourself, and to share your thoughts with your loved ones.
                </div>
            </li>

            <li class="list-item">&#x262f;&nbsp;
                <b>You have one or more chronic conditions, at any age.</b>
                <br>
                <div class="pad-left-3">
                    If you fit within this definition, it is crucial that you prepare a plan as soon as possible. The most common chronic health conditions are:
                </div>
                <div class="list">
                    <ul class="list-dark">
                        <li class="list-item pad-left-3">&#9728;&nbsp;Diabetes (insulin dependent or non-insulin dependent) – even if well-controlled</li>
                        <li class="list-item pad-left-3">&#9728;&nbsp;High blood pressure (hypertension) – even if well-controlled</li>
                        <li class="list-item pad-left-3">&#9728;&nbsp;Kidney disease (your health care provider may or may not use the word ‘failure’)</li>
                        <li class="list-item pad-left-3">&#9728;&nbsp;Heart disease: Abnormal Rhythm, Angina, Heart Attack, Congestive Heart Failure, Cardiomyopathy</li>
                        <li class="list-item pad-left-3">&#9728;&nbsp;Lung disease (COPD or other)</li>
                        <li class="list-item pad-left-3">&#9728;&nbsp;Liver disease</li>
                        <li class="list-item pad-left-3">&#9728;&nbsp;Neurological Diseases such as Parkinson’s, ALS, Huntington’s, and Multiple Sclerosis</li>
                        <li class="list-item pad-left-3">&#9728;&nbsp;Vascular disease</li>
                        <li class="list-item pad-left-3">&#9728;&nbsp;Autoimmune disease</li>
                        <li class="list-item pad-left-3">&#9728;&nbsp;Early to moderate dementia</li>
                    </ul>
                </div>
            </li>

            <li class="list-item">&#x262f;&nbsp;
                <b>You have a life-threatening illness and your life-expectancy is less than one to two years, at any age:</b>
                <br>
                <div class="pad-left-3">
                    Receiving a life-threatening diagnosis can be destabilizing, but you can still take control of
                    your own end-of-life plans. The choices are yours to make. Think about doing your Advance Care Planning
                    early in your diagnosis so it is done, and then revisit and revise your Advance Directive as your health changes.
                </div>
            </li>

            <br>
            <li class="list-item">&#x262f;&nbsp;
                <b>You are over 65 and relatively healthy</b>
                <br>
                <div class="pad-left-3">
                    Your body is getting older, a little less resilient and progressively more fragile. As we age, it is important
                    to think a little deeper and more often about what we do and do not want should we become seriously ill or
                    injured. It also becomes more important to talk to those who will be making health care decisions for you if
                    you become unable to do so for yourself so that they are not blindsided by any sudden health changes and decisions
                    they may have to make, and are prepared by knowing what you want.
                </div>
            </li>

            <br>
            <li class="list-item">&#x262f;&nbsp;
                <b>You are over 65 and having trouble managing your day-to-day affairs and the activities of daily living.</b>
                <br>
                <div class="pad-left-3">
                    This is referred to as a “frail elder”
                    We all age differently. Mild frailty occurs when people need help with their day-to-day care and
                    affairs, such as meal preparation and housework. As people become increasingly frail, it becomes more and more important
                    to think about Advance Care Planning.
                </div>
            </li>

            <br>
            <li class="list-item">&#x262f;&nbsp;
                <b>You are over 75, no matter your state of health</b>
                <br>
                <div class="pad-left-3">
                    This is considered the age where everyone, no matter their apparent health, is more vulnerable and less
                    resilient to disease and injury. Advance Care Planning should be an urgent call to action at this point in your life.
                </div>
            </li>
        </ul>
    </div>

    <div class="text">
        <div class="dark-copy">
            When I ask these questions to clients I am often surprised at the different responses I get. Some people are okay with
            giving control over to others while other clients would find that to be their worst nightmare. Other questions to consider are
            what medical interventions would you want to receive if any, should it mean you lose some of your mental or physical faculties?
        </div>
    </div>

    <div class="headings">
        <div class="dark-heading">
            <h2>How Do I Control My Own Fate?</h2>
        </div>
    </div>

    <div class="text">
        <div class="dark-copy">
            You may have never heard of a form called a
            Temporary Substitute Decision Maker List (TSDM) but it could end up being one of the biggest contributors to your
            future health.
        </div>
    </div>

    <div class="images">
        <img src="assets/images/support/doula/documents.jpg" alt="Doula Care" title="Doula Care">
    </div>

    <div class="text">
        <div class="dark-copy">
            If you are in an accident or suffer a critical illness and end up in Emergency and are incapable of answering for yourself,
            the first thing the hospital will look for is information about your next of kin.
            They will start at the top of the TSDM list and if that first person is not qualified or available to advocate for you,
            they will then move down the list. By law they must go by the hierarchy set out on this form.
            <br><br>
            To qualify as a TSDM, the people placed on the list must:
        </div>
    </div>

    <div class="list">
        <ul class="dark-list">
            <li class="list-item pad-left-3">&#9830;&nbsp;be 19 or over</li>
            <li class="list-item pad-left-3">&#9830;&nbsp;be mentally capable of making decisions</li>
            <li class="list-item pad-left-3">&#9830;&nbsp;have no dispute with you</li>
            <li class="list-item pad-left-3">&#9830;&nbsp;have been in contact with you within the year before you need care</li>
        </ul>
    </div>

    <div class="images">
        <img src="assets/images/support/doula/tempSDMaker.jpg" alt="Temporary Substitute Decision Maker" title="Temporary Substitute Decision Maker">
    </div>

    <div class="headings">
        <div class="dark-heading">
            <h2>Why Should I Care About This?</h2>
        </div>
    </div>

    <div class="text">
        <div class="dark-copy">
            Let's say you are separated from your spouse but not yet divorced. Maybe you now have a new love in your life, who at this point
            has no legal association with you. Should you get in the situation described above, where you have lost your ability to advocate
            for yourself, they will contact the first person on the list, your ex. They will not even consider your new person as they are nowhere
            on this list. If the idea of this scares you, then know that you have a say in ensuring your wishes for care are known.
            Setting up your own Substitute Decision Maker keeps you in control of your own life.
        </div>
    </div>

    <div class="content-quote">
        <p>
            &#8220;We find that people open up to death doulas in ways they simply can’t with family and friends (so much emotion/baggage),
            social workers, clinical staff or chaplains. Doulas are trained to
            come from an absolutely objective, nonjudgmental place; they go where they need to go emotionally.&#8221;
        </p>
        <span>Henry Fersko-Weiss author of 'Dying Well'</span>
    </div>
</div>


