<div class = "topic-grid topic-choose-your-rep topic-size">
    <h1>{{title}}</h1>
</div>

<div class="screen-title pad-top-2">
    <h2>Let's plan this together</h2>
</div>

<div class="content-dark-copy pad-top-2">
    <p> Follow this Wishes wizard to help you organize your thoughts, beliefs, wishes and requests related to end of life planning.
        It may hurt a bit (like doing your taxes) but you once done, you can pat yourself on the back and reward yourself in any way you
        prefer to be rewarded :).
        <br><br>
        Choose your best answer for each of the 20 questions presented here. You can go back and change your answer at any
        time during the wizard session. However as we are not saving your data, you need to finish the wizard by saving the
        results as a PDF or printing it off to store away with your important papers.
        <br><br>
        <b>Benefits of completing this wizard:</b>
    </p>
</div>

<div class ="content-dark-list">
    <li class="list-item">you will (bravely) face the tough questions</li>
    <li class="list-item">you will be able to state your wishes clearly</li>
    <li class="list-item">you will understand your needs better</li>
    <li class="list-item">by taking charge, you leave nothing to chance</li>
    <li class="list-item">printed and stored, this can serve as your legal advanced care plan</li>
    <li class="list-item">placed along with your will, insurance and other papers, will make life easier for your family</li>
</div>

<!-- opens plan-wizard-popup -->
<div class="one-button-container pad-top-2">
    <button class = 'start-plan-button cursorPointer ' (click)="openModal()">START PLANNING NOW</button>
</div>

