<div class="header-detail-image header-write-needs-down-image">
    <div class="header-quotes">
        <div class="header-quote">
            &#8220;{{quote}}&#8220;
        </div>
        <div class="header-author">
            {{author}}
        </div>
    </div>
</div>

<div class="laptopForm">
    <div class="wizard-intro-container">
        <div class="wizard-intro-image">
            <a (click)="openModal()">
                <img src="assets/images/details/takeAction/writeNeedsDown/wizardActionWishListIntro.jpg"
                     title="{{title}}"  alt="{{title}}">
            </a>
        </div>

        <div class="wizard-intro-text">
            <a (click)="openModal()">
                <h3>{{ title.toUpperCase() }}</h3>
                <p>
                    Run this <b>{{title}}</b> wizard to help you explore your ideas, concerns, wishes and thoughts about how you would
                    like to deal with all those end of life issues. These issues aren't just for those at the end of their lives. They
                    are concerns everyone should address. The benefit of doing so will provide your family with invaluable input.
                    <br><br>
                    <b>Please Note:</b> no data is saved, so in order to see your results you must print them or save them
                    as a PDF file. This wizard is only available on an ipad, laptop or desktop.
                </p>
            </a>
        </div>
    </div>
</div>

<div class="mobileForm">
    <div class="separator-block-light"></div>

    <div class="wizard-intro-container">
        <div class="wizard-intro-image">
            <img src="assets/images/details/takeAction/writeNeedsDown/wizardActionWishListIntro.jpg"
                 title="{{title}}"  alt="{{title}}">
        </div>

        <div class="wizard-intro-text">
            <h3>{{ title.toUpperCase() }}</h3>
            <p>
                Run this <b>{{title}}</b> wizard to help you explore your ideas, concerns, wishes and thoughts about how you would
                like to deal with all those end of life issues. These issues aren't just for those at the end of their lives. They
                are concerns everyone should address. The benefit of doing so will provide your family with invaluable input.
                <br><br>
                <b>Please Note:</b> At this time the {{ title }} wizard is only available on ipads, laptops, desktops and up. To
                follow this wizard please connect to it via one of these devices.
            </p>
        </div>
    </div>
</div>

<div class="content-title">
    <h3>
        Need to Learn More First?
    </h3>
</div>

<div class="content-dark-copy">
    <p>
        If you need to understand more about why you should create a wish list for care, check out our
        <b><a target="new" routerLink={{pathObject.child1_url}} > {{pathObject.parent_name}} > {{pathObject.child1_name}}</a> </b> page.
        This page will explain why this is so very important to your future well being. It is also a great thing to do for your family.
        Planning for future events saves stress on everyone, especially you.
    </p>
</div>

