
<div class="content">
  <div class = "topic-block">
    <div class="topic-left">
      <h1>{{title}}</h1>
    </div>

    <div class="topic-right">
      <img src="assets/images/about/aboutMyJourney.jpg" alt="About Me" title="About Me">
    </div>
  </div>

  <div class="text-dark">
    One thing that they seldom teach us in school is that your life will never follow some steadily upward
    mobility path. That there will be highs and lows, ups and downs, there will be moving forwards occasionally
    and then, more often, huge steps backwards.
    <br><br>
    I always felt that education was really important but after my mother married a very abusive step-father who
    was relentlessly cruel to me, I quit school in grade 10 to escape to live in the country with my sister
    and her hippy husband. Back to the land we went. Actually this is where I learned how to be self-sustaining -
    chopping wood for fires, canning, baking bread and even building a house for myself (with help!). For most of it
    there was no electricity, our water ran direct from a creek and the closest grocery store was 45 miles away.
    I lived there from 16 to 26.
    <br><br>
    I married another abusive man as is very common for someone with unresolved father issues. I did have two
    beautiful children (home births) with him before I finally hauled them and myself away from the marriage and headed back to my
    mother and to a town that was still small and safe but also ... stores!
  </div>

  <div class = "topic-block">
    <div class="topic-left">
      <h2>MY ATTEMPT TO JOIN THE REAL WORLD</h2>
    </div>

    <div class="topic-right">
      <img src="assets/images/about/aboutJoiningWorld.jpg" alt="Joining the Real World" title="Joining the Real World">
    </div>
  </div>

  <div class="text-dark">
    I found my life again, shed the hippy garb, put on a bra, some makeup, got a cheap orange Datsun and started
    school again. While married I had managed a brief year where I went to college as a mature student so I continued
    on this path. I took another year with Anatomy, Physiology, Biology, Microbiology and Psychology as my focus
    and often got the top marks in each.
    <br><br>
    Because the college only had 2 year diploma programs and I didn't want to leave my extended family behind, I chose
    the nursing program. Big mistake. It isn't a great idea to go from being a free-thinking hippy to being part of
    an almost nunnery type of institution. I didn't like how the Drs. who were mostly men, were put on this silly
    high pedestal - with their terrible scrawly prescription notes to their rude and callous treatment of the nursing
    staff, well I had a hard time with all of that.

    <img src="assets/images/about/aboutSunset.jpg" class="images" alt="Sun going down" title="Sun going down">

    One day a doctor walked into a room where I was with the patient. He stood there and abruptly told him and his wife
    that he had terminal cancer. And walked out again. I stayed behind to do what I could to console them, even going to
    the hospital library to find some literature for them to research the disease. In the end I couldn't sleep, couldn't
    get along with the instructor and after almost 3 semesters, left the profession behind.
  </div>

  <div class = "topic-block">
    <div class="topic-left">
      <h2>MY NEXT PROFESSION</h2>
    </div>

    <div class="topic-right">
      <img src="assets/images/about/aboutBefore.jpg" alt="Shift yourself" title="Shift yourself">
    </div>
  </div>

  <div class="text-dark">
    After meeting my current and forever husband while I was in nursing school, we moved to Vancouver to start fresh.
    I went from nursing to taking computer programming diploma program at a local college, following the path that my husband #2 took.
    This was when there was no Internet or cell communication
    and we had to learn how to connect to bulletin boards using modems and learning programming languages that were used by the giant mainframes.

    <img src="assets/images/about/aboutVancouver.jpg" class='images' alt="Vancouver, B.C." title="Vancouver, B.C.">

    After graduating I started on the A's in
    the phone-book and cold called myself into a job with a start-up. From there I moved up to bigger and more corporate
    gigs until I had to take maternity leave to have my third baby with my new husband. Although I loved the intricacy of
    coding (and the psychological safety of hiding within the logic)
    I found the corporate world, specifically a world made up predominantly of men to be a continual, tedious
    process of having to prove myself over and over.
    <br><br>
    I switched from employee to consultant as that was where the real money could be made. It also upped
    the game. Being a consultant AND a female seemed to challenge the egos of many a co-worker and
    manager. I played the game as well as I could, keeping the corporate face while crying occasionally in
    the bathroom. The meetings, the endless meetings! The boredom mixed with intensity and huge pressure to
    always produce was a strange mix.
  </div>

  <div class = "topic-block">
    <div class="topic-left">
      <h2>GOING THE START-UP ROUTE</h2>
    </div>

    <div class="topic-right">
      <img src="assets/images/about/aboutStartups.jpg" alt="Shift yourself" title="Shift yourself">
    </div>
  </div>

  <div class="text-dark">
    After my baby was born, we both decided that we should join the software bubble and create our own e-commerce
    websites. These were the days of <i>drugs.com</i>, <i>pets.com</i> and <i>idonotknowwhattocreate.com</i>. My husband and I spent a
    decade and a half developing our own websites and
    planning what to do with all the millions we would make. This was before Jeff Bezos took over the
    world! While Michael worked as a consultant, I did the R&D - developing ideas into reality, learning,
    failing, succeeding, getting ripped off, being led down the garden path by 'coaches' while creating some pretty great stuff.
    <br><br>
    We went all out with the marketing - we had beautiful brochures. We did all the correct SEO optimization
    hiring those 'experts'. We had a Facebook page, a Twitter page and someone who updated them daily.
    <br><br>
    <!--        <img src="assets/images/about/aboutPai.jpg" class="images" alt="Pai Forest" title="Pai Forest">-->

    We bought print advertising, even radio ads. We hired PR people, we wrote press releases and talked to
    the local morning show about featuring us. We hired data entry staff and sales staff and yes we did land customers.
    But in the end, we were too small time, just another software company eaten up by the big guys.
    <br><br>
    It was that time away on a consulting job in Victoria, when we decided we just could not continue down that path. It
    was like losing a loved one in a way. And there was a lot of grieving. Anyone, who has gone the
    entrepreneurial path understands what I am saying.
  </div>

  <div class = "topic-block">
    <div class="topic-left">
      <h2>MY PARADIGM SHIFT</h2>
    </div>

    <div class="topic-right">
      <img src="assets/images/about/aboutShift.jpg" alt="Shift yourself" title="Shift yourself">
    </div>
  </div>

  <div class="text-dark">
    My husband was still paying the bills working in Victoria and I would occasionally tag along for the week to enjoy the hotel pool,
    workout room, sauna etc. I also enjoyed walking around this beautiful city with no plans or agenda.
    It gave me time to think about a very much needed lifestyle change. I worked up my courage to initiate meetings
    with a life counsellor and trained astrologer.
    As we worked through a variety of issues she identified that I had strong 'healing' abilities. Intrigued,
    I got a few books out about healing.

    <img src="assets/images/about/aboutVictoria.jpg" class='images' alt="Victoria, B.C." title="Victoria, B.C.">

    I took them home and left them on the shelf for a few months.
    Eventually, I was drawn back to them. Some were too vague, some were too complex and intimidated me
    - physics was never my strong suit. Some had interesting ideas but offered no real practical guidance. One by one I read and
    abandoned them, feeling more confused.
    <br><br>
    That was until I picked up and actually opened Donna's
    book, simply called 'Energy Medicine'. Inside this gem were real suggestions, exercises, routines,
    and guides that actually helped with specific issues. I started to follow the Daily Energy Routine
    and found over time, some of that lost feeling leaving me. <a routerLink="/aboutEnergyMedicine"> and entered
    into Energy Medicine.</a>
  </div>
</div>




