<div *ngIf="menuItemId == 2">
  <div class="sub-header-desktop">
    <div class="about-sub-menu">
      <div *ngFor="let subMenuItem of subMenuItems">
        <div *ngIf="subMenuItemId==subMenuItem.id">
          <div class="selectedSubItem">{{subMenuItem.title}}</div>
<!--          <div class="selectedSubItem"><a routerLink='/{{subMenuItem.url}}'>{{subMenuItem.title}}</a></div>-->
        </div>
        <div *ngIf="subMenuItemId!=subMenuItem.id">
          <div class="unselectedSubItem"><a routerLink='/{{subMenuItem.url}}'>{{subMenuItem.title}}</a></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="menuItemId == 3">
  <div class="sub-header-desktop">
    <div class="support-sub-menu">
      <div *ngFor="let subMenuItem of subMenuItems">
        <div *ngIf="subMenuItemId==subMenuItem.id">
          <div class="selectedSubItem">{{subMenuItem.title}}</div>
<!--          <div class="selectedSubItem"><a routerLink='/{{subMenuItem.url}}'>{{subMenuItem.title}}</a></div>-->
        </div>
        <div *ngIf="subMenuItemId!=subMenuItem.id">
          <div class="unselectedSubItem"><a routerLink='/{{subMenuItem.url}}'>{{subMenuItem.title}}</a></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div *ngIf="menuItemId == 4">
  <div class="sub-header-desktop">
    <div class="discover-sub-menu">
      <div *ngFor="let subMenuItem of subMenuItems">
        <div *ngIf="subMenuItemId == 401 || subMenuItemId == 402">
          <div *ngIf="subMenuItemId==subMenuItem.id">
            <div class="selectedSubItem"><a routerLink='/{{subMenuItem.url}}'>{{subMenuItem.title}}</a></div>
          </div>
          <div *ngIf="subMenuItemId!=subMenuItem.id">
            <div class="unselectedSubItem"><a routerLink='/{{subMenuItem.url}}'>{{subMenuItem.title}}</a></div>
          </div>
        </div>
        <div *ngIf="subMenuItemId != 401 && subMenuItemId != 402">
          <div *ngIf="subMenuItemId==subMenuItem.id">
            <div class="selectedSubItem">{{subMenuItem.title}}</div>
          </div>
          <div *ngIf="subMenuItemId!=subMenuItem.id">
            <div class="unselectedSubItem"><a routerLink='/{{subMenuItem.url}}'>{{subMenuItem.title}}</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="menuItemId == 5">
  <div class="sub-header-desktop">
    <div class="support-sub-menu">
      <div *ngFor="let subMenuItem of subMenuItems">
        <div *ngIf="subMenuItemId==subMenuItem.id">
          <div class="selectedSubItem">{{subMenuItem.title}}</div>
        </div>
        <div *ngIf="subMenuItemId!=subMenuItem.id">
          <div class="unselectedSubItem"><a routerLink='/{{subMenuItem.url}}'>{{subMenuItem.title}}</a></div>
        </div>
      </div>
    </div>
  </div>
</div>-->





