
/*  BANANA PORTRAIT *******************************************************************************************/
@media only screen
and (min-width: 240px)
and (max-width: 359px)
and (orientation: portrait) {

    .forms-menu  {
        width:90%;
        padding-left:10%;
    }

    .forms-menu-heading  {
        font-size: var(--form-menu-banana-port-font-size);
        letter-spacing:0;
    }

    /* TOP REPORT MENU ITEMS */
    .form-menu-item span, .form-menu-item a {
        font-size: var(--form-menu-item-banana-port-font-size);
    }

    /* DISCLAIMER TEXT */
   /* .disclaimer p {
        font-size: var(--med-copy-banana-port-font-size);
        padding: 1em 0;
    }

    .disclaimer span, .sig-date-prompt {
        font-size: var(--small-copy-banana-port-font-size);
    }

    .sig-date-prompt {
        padding: 1em 0 0 0;
        margin: .5em 0;
    }

    .sig-date-line  {
        margin:.4em 1em 0 0;
    }*/

    /* PRINT FORMS */
   /* .print-forms-button {
        padding: 1em 1.5em;
        font-size: var(--small-copy-banana-port-font-size);
    }*/

}

/* BANANA LANDSCAPE ****************************************************************************************************/
@media only screen
and (min-width: 568px)
and (max-width: 895px)
and (orientation: landscape) {

    .forms-menu  {
        width:95%;
        padding-left:5%;
    }

    .forms-menu-heading  {
        font-size: var(--form-menu-banana-land-font-size);
    }

    /* TOP REPORT MENU ITEMS */
    .form-menu-item span, .form-menu-item a {
        font-size: var(--form-menu-item-banana-land-font-size);
    }

 /*   .disclaimer p {
        font-size: var(--med-copy-banana-land-font-size);
        padding: 1em 0;
    }

    .disclaimer span, .sig-date-prompt {
        font-size: var(--small-copy-banana-land-font-size);
    }

    .sig-date-prompt {
        padding: 1em 0 0 0;
        margin: .5em 0;
    }

    .sig-date-line  {
        margin:.4em 1em 0 0;
    }*/

    /* PRINT FORMS */
  /*  .print-forms-button {
        padding: 1em 1.5em;
        font-size: var(--small-copy-banana-land-font-size);
    }*/

}
/* MOBILES PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 360px)
and (max-width: 599px)
and (orientation: portrait) {

    .forms-menu  {
        width:90%;
        padding-left:10%;
    }

    .forms-menu-heading  {
        font-size: var(--form-menu-mobile-port-font-size);
    }

    /* TOP REPORT MENU ITEMS */
    .form-menu-item span, .form-menu-item a {
        font-size: var(--form-menu-item-mobile-port-font-size);
    }

    /* REPORTS DETAILS */
   /* .disclaimer p {
        font-size: var(--med-copy-mobile-port-font-size);
        padding: 1em 0;
    }

    .disclaimer span, .sig-date-prompt {
        font-size: var(--small-copy-mobile-port-font-size);
    }

    .sig-date-prompt {
        padding: 1em 0 0 0;
        margin: .5em 0;
    }

    .sig-date-line  {
        margin:.4em 1em 0 0;
    }
*/
    /* PRINT FORMS */
    /*.print-forms-button {
        padding: 1em 1.5em;
        font-size: var(--small-copy-mobile-port-font-size);
    }*/
}



/* MOBILES LANDSCAPE ****************************************************************************************************/
@media only screen
and (min-width: 896px )
and (max-width: 1279px)
and (orientation: landscape) {

    .forms-menu  {
        width:95%;
        padding-left:5%;
    }

    .forms-menu-heading  {
        font-size: var(--form-menu-mobile-land-font-size);
    }

    /* TOP REPORT MENU ITEMS */
    .form-menu-item span, .form-menu-item a {
        font-size: var(--form-menu-item-mobile-land-font-size);
    }

  /*  .disclaimer p {
        font-size: var(--med-copy-mobile-land-font-size);
        padding: 1em 0;
    }

    .disclaimer span, .sig-date-prompt {
        font-size: var(--small-copy-mobile-land-font-size);
    }

    .sig-date-prompt {
        padding: 1em 0 0 0;
        margin: .5em 0;
    }

    .sig-date-line  {
        margin:.4em 1em 0 0;
    }*/

    /* PRINT FORMS */
   /* .print-forms-button {
        padding: 1em 1.5em;
        font-size: var(--small-copy-mobile-land-font-size);
    }*/
}

/* TABLETS PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 600px)
and (max-width: 1023px)
and (orientation: portrait) {

    .forms-menu  {
        width:93%;
        padding-left:7%;
    }

    .forms-menu-heading  {
        font-size: var(--form-menu-tablet-port-font-size);
    }

     /* TOP REPORT MENU ITEMS */
    .form-menu-item span, .form-menu-item a {
        font-size: var(--form-menu-item-tablet-port-font-size);
    }

  /*  .disclaimer p {
        font-size: var(--med-copy-tablet-port-font-size);
        padding: 1em 0;
    }

    .disclaimer span, .sig-date-prompt {
        font-size: var(--small-copy-tablet-port-font-size);
    }

    .sig-date-prompt {
        padding: 1em 0 0 0;
        margin: .5em 0;
    }

    .sig-date-line  {
        margin:.4em 1em 0 0;
    }*/

    /* PRINT FORMS */
    /*.print-forms-button {
        padding: 1em 1.5em;
        font-size: var(--small-copy-tablet-port-font-size);
    }*/

}

/* TABLETS LANDSCAPE ***************************************************************************************************/
@media only screen
and (min-width: 1280px)
and (max-width: 1365px)
and (orientation: landscape) {

    .forms-menu  {
        width:96%;
        padding-left:4%;
    }

    .forms-menu-heading  {
        font-size: var(--form-menu-tablet-land-font-size);
    }

    /* TOP REPORT MENU ITEMS */
    .menu-item span, .menu-item a {
        font-size: var(--form-menu-item-tablet-land-font-size);
    }

    /* TOP REPORT MENU ITEMS */
    .form-menu-item span, .form-menu-item a {
        font-size: var(--form-menu-item-tablet-land-font-size);
    }

  /*  .disclaimer p {
        font-size: var(--med-copy-tablet-land-font-size);
        padding: 1em 0;
    }

    .disclaimer span, .sig-date-prompt {
        font-size: var(--small-copy-tablet-land-font-size);
    }

    .sig-date-prompt {
        padding: 1em 0 0 0;
        margin: .5em 0;
    }

    .sig-date-line  {
        margin:.4em 1em 0 0;
    }
*/
    /* PRINT FORMS */
   /* .print-forms-button {
        padding: 1em 1.5em;
        font-size: var(--small-copy-tablet-land-font-size);
    }*/

}


/* IPADS PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 1024px)
and (max-width: 1366px)
and (orientation: portrait) {

    .forms-menu  {
        width:95%;
        padding-left:5%;
    }

    .forms-menu-heading  {
        font-size: var(--form-menu-ipad-port-font-size);
    }

    /* TOP REPORT MENU ITEMS */
    .form-menu-item span, .form-menu-item a {
        font-size: var(--form-menu-item-ipad-port-font-size);
    }

 /*   .disclaimer p {
        font-size: var(--med-copy-ipad-port-font-size);
        padding: 1em 0;
    }

    .disclaimer span, .sig-date-prompt {
        font-size: var(--small-copy-ipad-port-font-size);
    }

    .sig-date-prompt {
        padding: 1em 0 0 0;
        margin: .5em 0;
    }

    .sig-date-line  {
        margin:.4em 1em 0 0;
    }
*/
    /* PRINT FORMS */
    /*.print-forms-button {
        padding: 1em 1.5em;
        font-size: var(--small-copy-ipad-port-font-size);
    }*/
}

/* IPADS LANDSCAPE ***************************************************************************************************/
@media only screen
and (min-width: 1366px)
and (max-width: 1439px)
and (orientation: landscape) {

    .forms-menu  {
        width:95%;
        padding-left:5%;
    }

    .forms-menu-heading  {
        font-size: var(--form-menu-ipad-land-font-size);
    }

    /* TOP REPORT MENU ITEMS */
    .form-menu-item span, .form-menu-item a {
        font-size: var(--form-menu-item-ipad-land-font-size);
    }

   /* .disclaimer p {
        font-size: var(--med-copy-ipad-land-font-size);
        padding: 1em 0;
    }

    .disclaimer span, .sig-date-prompt {
        font-size: var(--small-copy-ipad-land-font-size);
    }*/

   /* .sig-date-prompt {
        padding: 1em 0 0 0;
        margin: .5em 0;
    }

    .sig-date-line  {
        margin:.4em 1em 0 0;
    }*/

    /* PRINT FORMS */
    /*.print-forms-button {
        padding: 1em 1.5em;
        font-size: var(--small-copy-ipad-land-font-size);
    }*/
}


/* DESKTOPS ****************************************************************************************************/
@media only screen
and (min-width: 1440px) {

    .forms-menu  {
        width:95%;
        padding-left:5%;
    }

    .forms-menu-heading  {
        font-size: var(--form-menu-desktop-font-size);
    }

    .form-menu-item span, .form-menu-item a {
        font-size: var(--form-menu-item-desktop-font-size);
    }

    /*.disclaimer p {
        font-size: var(--med-copy-desktop-font-size);
        padding: 1em 0;
    }*/

   /* .disclaimer span, .sig-date-prompt {
        font-size: var(--small-copy-desktop-font-size);
    }

    .sig-date-prompt {
        padding: 1em 0 0 0;
        margin: .5em 0;
    }

    .sig-date-line  {
        margin:.4em 1em 0 0;
    }*/

    /* PRINT FORMS */
   /* .print-forms-button {
        padding: 1em 1.5em;
        font-size: var(--small-copy-desktop-font-size);
    }*/

}


/* GLOBAL ************************************************************************************************************* */
@media only screen {

    /* for overall form menu on top */
    /*.forms-menu-block, .forms-disclaimer {*/
    .forms-menu-block  {
        display: block;
        width: 100%;
        max-width:1152px;
        margin:auto;
        padding:1em 0;
        border:thin solid var(--color-grey);
    }

    .forms-menu-block {

    }

  /*  .forms-disclaimer {
        display: block;
        width: 100%;
        max-width:1152px;
        margin:auto;
        border-left:thin solid var(--color-grey);
        border-right:thin solid var(--color-grey);
        border-bottom:thin solid var(--color-grey);
    }
*/
    .forms-menu-heading  {
        font-style:normal;
        color: var(--color-dark-blue);
        font-family: var(--family-forms);
        text-align: left;
        width:98%;
        padding-left: 2%;
        padding-bottom:.5em;
        font-weight:800;
        background-color: white;
    }

    .forms-menu  {
        margin:0;
        font-family: var(--family-forms);
        color: var(--color-dark-blue);
    }

    .form-menu-item span, .form-menu-item a {
        text-align: left;
        line-height:var(--list-wide-item-line-height);

    }

    .form-menu-item a {
        text-decoration: underline;
        cursor: pointer;
        font-weight:400;
    }

    .form-menu-item span {
        cursor: default;
        font-weight:800;
    }

   /* .disclaimer {
        display: block;
        width: 90%;
        margin: 1em 0;
        padding:1em 5%;
        border:thin dashed var(--color-soft-blue);
    }

    .disclaimer p, .disclaimer span, .disclaimer span a, .sig-date-prompt {
        font-family: var(--family-open-sans);
        color: var(--color-dark-blue);
        text-align:left
    }

    .disclaimer p {
        font-weight: 800;
        color: var(--color-dark-blue);
        text-transform: uppercase;
    }

    .sig-date-prompt {
        font-weight: 800;
    }

    .sig-date-line  {
        background: url("../../../../assets/images/book/line.jpg") right repeat-x;
    }*/

    /* PRINT */
    /*.print-forms-grid {
        display: grid;
        width: 95%;
        margin: 0 5% 1em 0;
        align-content: flex-end;
        justify-items: flex-end;
    }*/

    /* FOR BOTH PRINT FORMS */
   /* .print-forms-button {
        font-family: var(--family-forms);
        color: var(--color-white);
        letter-spacing: 3px;
        background-color: var(--color-light-blue);
        border-radius: 1.0em;
    }
*/
}