
/*  BANANAS  *******************************************************************************************/
@media only screen
and (min-width: 240px)
and (max-width: 320px)  {

   /* .wizard-modal-header-mobile {
        display:block;
    }

    .wizard-modal-header-desktop {
        display:none;
    }

    .wizard-modal-header {
        display: inline-grid;
        height:75px;
        grid-template-columns: 30% 40% 30%;
        width:100%;
        color:black;
        text-align:center;
        justify-content: center;
        align-content: center;
    }

    .wizard-modal-logo {
        display: none;
    }

    .wizard-modal-text h2 {
        display:grid;
        grid-column:1;
        height:75px;
        font-size: var(--med-copy-banana-font-size);
        line-height: 110%;
        align-content: center;
        text-align: center;
    }

    .wizard-modal-text p {
        display:grid;
        height:75px;
        grid-column:2;
        font-size: var(--small-copy-banana-font-size);
        line-height: 100%;
        align-content: center;
    }

    .wizard-modal-text span {
        display:grid;
        height:75px;
        grid-column:3;
        font-size: var(--small-copy-banana-font-size);
        line-height: 100%;
        align-content: center;
        font-weight: bold;
    }*/

}


