
/*  BANANA PORTRAIT *******************************************************************************************/
@media only screen
and (min-width: 240px)
and (max-width: 359px)
and (orientation: portrait) {

    .exercise-detail-grid {
        display:grid;
        grid-template-columns: 100%;
    }

    .exercise-name {
        grid-row:1;
        font-size:var(--h1-banana-mobile-land-font-size);
    }

    .exercise-video-block {
        grid-row: 2;
    }

    /* 240 x.9 =  216 */
    .exercise-video {
        width: var(--der-video-banana-port-width);
        height: var(--der-video-banana-port-height);
    }

    .exercise-copy-block {
        grid-row: 3;
        align-content: flex-start;
        padding:1em 0;
    }

    .exercise-copy, .exercise-list  {
        font-size:var(--copy-banana-mobile-land-font-size);
    }

    .exercise-copy {
        line-height:var(--copy-line-height);
    }

    .exercise-list {
        line-height:var(--list-item-line-height);
    }
}

/* BANANA LANDSCAPE ****************************************************************************************************/
@media only screen
and (min-width: 568px)
and (max-width: 895px)
and (orientation: landscape) {

    .exercise-detail-grid {
        display:grid;
        grid-template-columns: 100%;
    }

    .exercise-name {
        grid-row:1;
        font-size:var(--h1-banana-mobile-land-font-size);
    }

    .exercise-video-block {
        grid-row: 2;
    }

    /* 568 x.9 =  511 */
    .exercise-video {
        width: var(--der-video-banana-land-width);
        height: var(--der-video-banana-land-height);
    }

    .exercise-copy-block {
        grid-row: 3;
        align-content: flex-start;
        padding:1em 0;
    }

    .exercise-copy, .exercise-list  {
        font-size:var(--copy-banana-mobile-land-font-size);
    }

    .exercise-copy {
        line-height:var(--copy-line-height);
    }

    .exercise-list {
        line-height:var(--list-item-line-height);
    }
}

/* MOBILES PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 360px)
and (max-width: 599px)
and (orientation: portrait) {

    .exercise-detail-grid {
        display:grid;
        grid-template-columns: 100%;
    }

    .exercise-name {
        grid-row:1;
        font-size:var(--h1-banana-mobile-land-font-size);
    }

    .exercise-video-block {
        grid-row: 2;
    }

    /* 360 x.9 =  324 */
    .exercise-video {
        width: var(--der-video-mobile-port-width);
        height: var(--der-video-mobile-port-height);
    }

    .exercise-copy-block {
        grid-row: 3;
        align-content: flex-start;
        padding:1em 0;
    }

    .exercise-copy, .exercise-list  {
        font-size:var(--copy-banana-mobile-land-font-size);
    }

    .exercise-copy {
        line-height:var(--copy-line-height);
    }

    .exercise-list {
        line-height:var(--list-item-line-height);
    }
}

/*  MOBILES LANDSCAPE **************************************************************************************************/
@media only screen
and (min-width:896px )
and (max-width: 1279px)
and (orientation: landscape) {

    .exercise-detail-grid {
        display:grid;
        grid-template-columns: 100%;
    }

    .exercise-name {
        grid-row:1;
        font-size:var(--h1-banana-mobile-land-font-size);
    }

    .exercise-video-block {
        grid-row: 2;
    }

    /* 896 x.9 =  806 */
    .exercise-video {
        width: var(--der-video-mobile-land-width);
        height: var(--der-video-mobile-land-height);
    }

    .exercise-copy-block {
        grid-row: 3;
        align-content: flex-start;
        padding:1em 0;
    }

    .exercise-copy, .exercise-list  {
        font-size:var(--copy-banana-mobile-land-font-size);
    }

    .exercise-copy {
        line-height:var(--copy-line-height);
    }

    .exercise-list {
        line-height:var(--list-item-line-height);
    }
}


/* TABLETS PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 600px)
and (max-width: 1023px)
and (orientation: portrait) {

    .exercise-detail-grid {
        display:grid;
        grid-template-columns: 100%;
    }

    .exercise-name {
        grid-row:1;
        font-size:var(--h1-tablet-ipad-port-font-size);
    }

    .exercise-video-block {
        grid-row: 2;
    }

    /* 600 x.9 = 540 */
    .exercise-video {
        width: var(--der-video-tablet-port-width);
        height: var(--der-video-tablet-port-height);
    }

    .exercise-copy-block {
        grid-row: 3;
        align-content: flex-start;
        padding:1em 0;
    }

    .exercise-copy, .exercise-list  {
        font-size:var(--copy-tablet-ipad-port-font-size);
    }

    .exercise-copy {
        line-height:var(--copy-line-height);
    }

    .exercise-list {
        line-height:var(--list-item-line-height);
    }

}

/* TABLETS LANDSCAPE ***************************************************************************************************/
@media only screen
and (min-width: 1280px)
and (max-width: 1365px)
and (orientation: landscape) {

    .exercise-detail-grid {
        display:inline-grid;
        grid-template-columns: repeat(2, 50%);
    }

    .exercise-name {
        font-size:var(--h1-tablet-ipad-land-font-size);
    }

    .exercise-video-block {
        grid-column: 1;
    }

    .exercise-video {
        width: var(--der-video-over-max-width);
        height: var(--der-video-over-max-height);
    }

    .exercise-copy-block {
        grid-column: 2;
        align-content: center;
    }

    .exercise-copy, .exercise-list  {
        font-size:var(--copy-tablet-ipad-land-font-size);
    }

    .exercise-copy {
        line-height:var(--copy-line-height);
    }

    .exercise-list {
        line-height:var(--list-item-line-height);
    }

}

/* IPADS PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 1024px)
and (max-width: 1366px)
and (orientation: portrait) {

    .exercise-detail-grid {
        display:inline-grid;
        grid-template-columns: repeat(2, 50%);
    }

    .exercise-name {
        font-size:var(--h1-tablet-ipad-port-font-size);
    }

    .exercise-video-block {
        grid-column: 1;
    }

    /* 1024 x 90% = 921 / 2 = 460 */
    .exercise-video {
        width: var(--der-video-ipad-port-width);
        height: var(--der-video-ipad-port-height);
    }

    .exercise-copy-block {
        grid-column: 2;
        align-content: center;
    }

    .exercise-copy, .exercise-list  {
        font-size:var(--copy-tablet-ipad-port-font-size);
    }

    .exercise-copy {
        line-height:var(--copy-line-height);
    }

    .exercise-list {
        line-height:var(--list-item-line-height);
    }

}

/* IPADS LANDSCAPE ***************************************************************************************************/
@media only screen
and (min-width: 1366px)
and (max-width: 1439px)
and (orientation: landscape) {

    .exercise-detail-grid {
        display:inline-grid;
        grid-template-columns: repeat(2, 50%);
    }

    .exercise-name {
        font-size:var(--h1-tablet-ipad-land-font-size);
    }

    .exercise-video-block {
        grid-column: 1;
    }

    .exercise-video {
        width: var(--der-video-over-max-width);
        height: var(--der-video-over-max-height);
    }

    .exercise-copy-block {
        grid-column: 2;
        align-content: center;
    }

    .exercise-copy, .exercise-list  {
        font-size:var(--copy-tablet-ipad-land-font-size);
    }

    .exercise-copy {
        line-height:var(--copy-line-height);
    }

    .exercise-list {
        line-height:var(--list-item-line-height);
    }

}

/* LAPTOPS *****************************************************************************************************/
@media only screen
and (min-width: 1440px)
and (max-width: 1919px) {

    .exercise-detail-grid {
        display:inline-grid;
        grid-template-columns: repeat(2, 50%);
    }

    .exercise-name {
        font-size:var(--h1-laptop-desktop-font-size);
    }

    .exercise-video-block {
        grid-column: 1;
    }

    .exercise-video {
        width: var(--der-video-over-max-width);
        height: var(--der-video-over-max-height);
    }

    .exercise-copy-block {
        grid-column: 2;
        align-content: center;
    }

    .exercise-copy, .exercise-list  {
        font-size:var(--copy-laptop-desktop-font-size);
    }

    .exercise-copy {
        line-height:var(--copy-line-height);
    }

    .exercise-list {
        line-height:var(--list-item-line-height);
    }

}

/* DESKTOPS ****** *********************************************************************************************/
@media only screen
and (min-width: 1920px) {

    .exercise-detail-grid {
        display:inline-grid;
        grid-template-columns: repeat(2, 50%);
    }

    .exercise-name {
        font-size:var(--h1-laptop-desktop-font-size);
    }

    .exercise-video-block {
        grid-column: 1;
    }

    .exercise-video {
        width: var(--der-video-over-max-width);
        height: var(--der-video-over-max-height);
    }

    .exercise-copy-block {
        grid-column: 2;
        align-content: center;
    }

    .exercise-copy, .exercise-list  {
        font-size:var(--copy-laptop-desktop-font-size);
    }

    .exercise-copy {
        line-height:var(--copy-line-height);
    }

    .exercise-list {
        line-height:var(--list-item-line-height);
    }

}


/* GLOBAL *************************************************************************************************************/
@media only screen {

    .exercise-detail-grid {
        max-width:1152px;
        width:100%;
        background-color: var(--color-dark-blue);
        font-family: var(--family-global);
    }

    .exercise-name {
        display: grid;
        grid-column:1/-1;
        color:white;
        padding:1em 0;
        justify-content: center;
        border:1px solid white;
    }

    .exercise-video-block {
        display: grid;
        width:100%;
    }

    /* the default image for summary */
    .exercise-video-block img {
        max-width:100%;
        height:auto;
    }

    .exercise-copy-block {
        display: grid;
        width:90%;
        margin:0 5%;
        justify-content: center;
    }

    .exercise-copy {
        text-align: justify;
        color: var(--color-white);
    }

    .exercise-list  {
        color: var(--color-white);
        cursor:pointer;
    }

    .exercise-list li.selected  {
        color:var(--color-gold);
    }

}
