<div class = "topic-grid topic-choose-your-rep topic-size">
    <h1>{{title}}</h1>
</div>

<div class="screen-title pad-top-2">
    <h2>Changing your Representative</h2>
</div>

<div class="content-dark-copy pad-top-2">
    <p>
        If you have previously selected a Primary Representative that you want to change, you must fill in and complete this form.
        This form must be witnessed by a lawyer or notary public. You can then select your Alternate Representative or if you don't have
        an Alternate, you can pick a new person to represent you.
        <br><br>
        Print this form, follow through the directives and store it safely away with your other documents such as your will, your wishes
        for care, your CPR/DNR forms and your Advanced Care Directive.
        <br><br>
        <b>If you are not requesting your Primary Representative to be replaced by an Alternate Rep disregard this form.</b>
    </p>
</div>

<div class="one-button-container pad-top-2">
    <button class = 'start-plan-button cursorPointer ' (click)="openModal()">START</button>
</div>

