<div class = "topic-grid topic-choose-your-rep topic-size">
    <h1>{{title}}</h1>
</div>

<div class="screen-title pad-top-2">
    <h2>Choose your Representatives</h2>
</div>

<div class="content-dark-copy">
    <p>
        Follow through this wizard to help you choose your Representatives and Witnesses to create your own Representative 9 document.
        Print it and store it safely away with your other documents such as your will, your wishes for care, your CPR/DNR forms and your
        Advanced Care Directive.
    </p>
</div>
<div class="one-button-container pad-top-2">
    <button class = 'start-plan-button cursorPointer ' (click)="openModal()">CHOOSE YOUR REP NOW</button>
</div>

