<div class="header-detail-image header-choose-your-rep-image header-copy">
    <p>&#8220;{{quote}}&#8220;
    </p>
    <span>
        {{author}}
    </span>
</div>

<div class="screen-title pad-top-2">
    <h2>{{title}}</h2>
</div>


<div class="content-dark-copy pad-top-3 text-center">
    <a (click)="openModal()"> <div class="wizard-action-copy"> Run this (free) wizard to select your Advocates (Representatives)!</div>
        <div class="wizard-action-choose-reps "></div>
    </a>
</div>

<div class="content-dark-copy pad-top-2 pad-bottom-2">
    <p>
        Follow through this wizard to help you document the person or persons you trust to protect, defend and support you as
        Representative(s). Although there are many versions of this document's content to be found online, this document is as valid as any of the
        other ones as long as it is properly filled out and witnessed. No need to pay a Lawyer a ton of cash to do this and it literally
        takes minutes to complete.
        <br><br>
        For more information check out the <a routerLink="/considerAdvocates">{{ lookupParent }} > {{ lookupChild }}</a>  page.
    </p>
</div>

<!--<div class="one-button-container pad-top-2">
    <button class = 'start-plan-button cursorPointer ' (click)="openModal()">CHOOSE YOUR REP NOW</button>
</div>-->



