<div class = "topic-grid book-consultation">
    <h1>{{title}}</h1>
</div>

<div class="content-container">
    <div class="inner-content-no-margins">
        <div class="full-length-sub-titles">
            <h2>You Don't Have to Do it Alone</h2>
        </div>

        <div class="dark-copy margin-top-2">
            What I learned with my End of Life Doula training opened my eyes up to the many things we ignore
            because, of course, it is an uncomfortable subject. But avoiding the obvious fact that we all die someday
            can lead to pain, confusion, hurt, anger and financial mistakes.
            <br><br>

            You may worry about your financial situation - that the wrong family member will take charge of your
            finances and/or health should you lose the ability to speak for yourself. There are many ways to avoid this scenario.
            <br><br>
            You may have heard about EDITH, Expected Death in the Home and want to learn more about it. Or the No CPR form,
            the DNR form, the advance directives for requesting or refusing life extending treatments. You may have heard about
            MAID, Medical Assistance in Dying and need to know if you qualify. You may be someone who has always cared about
            the environment and want to know more about these 'green burials'. You may be unable to speak to your family members
            about your wishes and plans because they are unable to hear you. I can advocate for you.
            <br><br>
            You may want to put on a Celebration of Life while you are still here to enjoy it.  If you are a caregiver you
            may be afraid to witness the dying process. I will hopefully, calm your worries. The fact is, most people are able to
            die without pain if properly medicated. And studies have shown that if families are able to speak openly with each other
            and come to an acceptance of what is to come, they face the situation with considerably more comfort and peace.
            <br><br>
            I have different forms for you to fill out depending on if you are the caregiver for a dying loved one,
            if you are the patient who has been given a time limit to your life or if you just want to plan ahead
            to avoid putting the burden on your family members after you are gone. As long as you are over 19 and of sound mind
            you are encouraged to put a plan together so you can live your life knowing that you and your family are protected in
            case of an emergency or crisis. Then you can store it away, and go live your life to the fullest!

        </div>

        <img src="../../../../assets/images/book/doulaConsult/eolDoulaPic.jpg" class="images" alt="Me at Waterfall" title="Me at Waterfall">

        <div class="dark-copy">
            As well I offer my energy medicine skills to those who are dying, are in pain, in fear, uncomfortable, scared or angry.
            I have techniques to lessen swelling that causes pain as well as calming techniques to take some of the fear away.
            I can work with patients at whatever level they are at and provide care that brings them the most comfort.
            I can work on a patient directly or in their energy field if touch is not wanted.
            <br><br>
            Many of my energy medicine clients are suffering from the loss of a parent, a spouse, sister, brother and I can help
            relieve some of their sorrow and stress - by listening and holding space for them to grieve. Crying is absolutely
            part of the healing process and working with energy can help release much pent up emotion.
        </div>
    </div>

    <div class = "topic-inline-grid with-faded-background">
        <div class="topic-left">
            <h2>Book a Doula Consultation</h2>
            <span>be prepared, knowledgeable and in control of your life</span>
        </div>

        <div class="topic-right">
            <img src="assets/images/book/doulaConsult/consultationIntro.jpg" alt="Book a Doula Consult" title="Book a Doula Consult">
        </div>
    </div>

    <app-menu-for-consultations [model]="model"></app-menu-for-consultations>
</div>