<div class = "heading-topic-grid book-consultation topic">
    <h1>{{title}}</h1>
</div>

<div class="full-length-titles">
    <h2>You Don't Have to Do it Alone</h2>
</div>

<div class="content-dark-copy margin-top-2">
    You may have never heard of an End of Life Doula or End of Life Advocate but in today's society and rapidly aging world, we are
    needed more than ever. With strains on hospitals, hospices, palliative care centers and working families,
    end of life care doulas fill in where the cracks exist.
    <br><br>
    We provide many services, from helping you create your own advanced health care plan, to sitting at bedside
    with your loved one, to arranging ceremonies, funerals, legacy projects and providing support for not just
    your loved one, but for the family and their caregivers as well.
    <br><br>
    The truth we can't run away from is that some day we all leave this earth. What you choose to leave behind
    could be either a huge mess for family to sort or a well planned legacy that your family will benefit from and
    appreciate.
    <br><br>
    Planning ahead isn't just important for their sake but for your own as well. Because if you end up at the
    hospital some day without any kind of thought to this, your future could end having it decided by a stranger who
    probably really wished he or she didn't have to make the hard decisions.
</div>

<div class="content-images">
    <img src="assets/images/eolCare/doulaCarePic.jpg" alt="Doula Care" title="Doula Care">
</div>

<div class="content-dark-titles">
    <h2>The Death Positive Movement Principles</h2>
</div>

<ul class="content-dark-list">
    <li class="list-med-item">
        I believe that by hiding death and dying behind closed doors we do more harm than good to our society.
    </li>

    <li class="list-med-item">
        I believe that the culture of silence around death should be broken through discussion, gatherings, art,
        innovation, and scholarship.
    </li>

    <li class="list-med-item">
        I believe that talking about and engaging with my inevitable death is not morbid, but displays a natural
        curiosity about the human condition.
    </li>

    <li class="list-med-item">
        I believe that the dead body is not dangerous, and that everyone should be empowered (should they wish
        to be) to be involved in care for their own dead.
    </li>

    <li class="list-med-item">
        I believe that the laws that govern death, dying and end-of-life care should ensure that a person’s
        wishes are honored, regardless of sexual, gender, racial or religious identity.
    </li>

    <li class="list-med-item">
        I believe that my death should be handled in a way that does not do great harm to the environment.
    </li>

    <li class="list-med-item">
        I believe that my family and friends should know my end-of-life wishes, and that I should have the
        necessary paperwork to back-up those wishes.
    </li>

    <li class="list-med-item">
        I believe that my open, honest advocacy around death can make a difference, and can change culture.
    </li>
</ul>

<div class="content-quote">
    <p>
        &#8220;We find that people open up to death doulas in ways they simply can’t with family and friends (so
        much emotion/baggage), social workers, clinical staff or chaplains. Doulas are trained to
        come from an absolutely objective, nonjudgmental place; they go where they need to go emotionally.&#8221;
    </p>
    <span>Henry Fersko-Weiss author of 'Dying Well'</span>
</div>

<div class="content-dark-copy">
    What I learned with my End of Life Doula training opened my eyes up to the many things we ignore
    because, of course, it is an uncomfortable subject. But avoiding the obvious fact that we all die someday
    can lead to pain, confusion, hurt, anger and financial mistakes.
    <br><br>
    You may worry about your financial situation - that the wrong family member will take charge of your
    finances and/or health should you lose the ability to speak for yourself. There are many ways to avoid this scenario.
    <br><br>
    You may have heard about EDITH, Expected Death in the Home and want to learn more about it. Or the No CPR form,
    the DNR form, the advance directives for requesting or refusing life extending treatments. You may have heard about
    MAID, Medical Assistance in Dying and need to know if you qualify. You may be someone who has always cared about
    the environment and want to know more about these 'green burials'. You may be unable to speak to your family members
    about your wishes and plans because they are unable to hear you. I can advocate for you.
    <br><br>
    You may want to put on a Celebration of Life while you are still here to enjoy it.  If you are a caregiver you
    may be afraid to witness the dying process. I will hopefully, calm your worries. The fact is, most people are able to
    die without pain if properly medicated. And studies have shown that if families are able to speak openly with each other
    and come to an acceptance of what is to come, they face the situation with considerably more comfort and peace.
    <br><br>
    I have different forms for you to fill out depending on if you are the caregiver for a dying loved one,
    if you are the patient who has been given a time limit to your life or if you just want to plan ahead
    to avoid putting the burden on your family members after you are gone. As long as you are over 19 and of sound mind
    you are encouraged to put a plan together so you can live your life knowing that you and your family are protected in
    case of an emergency or crisis. Then you can store it away, and go live your life to the fullest!
</div>

<div class="content-images">
    <img src="../../../../assets/images/book/doulaConsult/eolDoulaPic.jpg" alt="Me at Waterfall" title="Me at Waterfall">
</div>

<div class="content-dark-copy">
    As well I offer my energy medicine skills to those who are dying, are in pain, in fear, uncomfortable, scared or angry.
    I have techniques to lessen swelling that causes pain as well as calming techniques to take some of the fear away.
    I can work with patients at whatever level they are at and provide care that brings them the most comfort.
    I can work on a patient directly or in their energy field if touch is not wanted.
    <br><br>
    Many of my energy medicine clients are suffering from the loss of a parent, a spouse, sister, brother and I can help
    relieve some of their sorrow and stress - by listening and holding space for them to grieve. Crying is absolutely
    part of the healing process and working with energy can help release much pent up emotion.
</div>

<div class = "content-topic-grid">
    <div class="content-topic-left">
        <h2>Book a Doula Consultation</h2>
        <span>be prepared, knowledgeable and in control of your life</span>
    </div>

    <div class="content-topic-right">
        <img src="assets/images/book/doulaConsult/consultationIntro.jpg" alt="Book a Doula Consult" title="Book a Doula Consult">
    </div>
</div>

<app-menu-for-consultations [model]="model"></app-menu-for-consultations>
