
<ng-container *ngIf="wishes">
    <div class="wizard-modal-header">
        <div class="wizard-modal-logo">
            <img src="../../../assets/images/details/takeAction/writeNeedsDown/wizardActionMakeWishes.jpg" title="write your care guide wish list"
                 alt="write your care guide wish list">
        </div>

        <div class="wizard-modal-text">
            <h2><b>Your Wishes and Needs Wizard</b></h2>
            <p>
                <b>
                    dated {{now}}
                    <ng-container *ngIf="wishes.client_name.length > 0 && wishes.client_name != ''">
                        <br>
                        for {{wishes.client_name}}
                    </ng-container>
                </b>
            </p>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="rep">
    <div class="wizard-modal-header">
        <div class="wizard-modal-logo">
            <img src="../../../assets/images/details/takeAction/chooseRepresentatives/wizardActionChooseReps.jpg"
                 title="facing the future" alt="facing the future">
        </div>

        <div class="wizard-modal-text">
            <h3><b>Choose Your Rep Wizard</b></h3>
            <p>
                <b>
                    dated {{now}}
                    <ng-container *ngIf="rep.client_name.length > 0 && rep.client_name != ''">
                        <br>
                        for {{rep.client_name}}
                    </ng-container>
                </b>
            </p>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="directive">
    <div class="wizard-modal-header">
        <div class="wizard-modal-logo">
            <img src="../../../assets/images/details/takeAction/writeCarePlan/wizardActionWriteAdvancePlan.jpg" title="facing the future" alt="facing the future">
        </div>

        <div class="wizard-modal-text">
            <h3><b>The Advance Care Directive (Plan) Wizard</b></h3>
            <p>
                <b>
                    dated {{now}}
                    <ng-container *ngIf="directive.client_name.length > 0 && directive.client_name != ''">
                        <br>
                        for {{directive.client_name}}
                    </ng-container>
                </b>
            </p>
        </div>
    </div>
</ng-container>



