<div class="wizard-block">
    <div class="wizard-header pad-top">
        <div class="wizard-header-logo"></div>
        <div class="wizard-header-title">
            The Advance Care Directive (Plan) Wizard
            <br>
            for {{now}}
            <ng-container *ngIf="directive.client_name.length > 0 && directive.client_name != ''">
                <br>
                on {{directive.client_name}}<hr>
            </ng-container>
        </div>

    </div>
    <div class="wizard-province-stamp">
        BRITISH COLUMBIA<hr>
    </div>
</div>

