<div class = "topic-inline-grid with-underline">
    <div class="topic-left">
        <h1>{{title}}</h1>
    </div>

    <div class="topic-right">
        <img src="../../../../assets/images/energyMedicine/move/moveIntro.jpg" alt={{title}} title={{title}}>
    </div>
</div>

<div class="inner-content-no-margins">
    <div class="dark-copy">
        The Daily Energy Routine was created by Donna Eden many decades ago when she started using her extrasensory abilities in seeing energy
        to help heal herself from Multiple Sclerosis, a Heart Attack and many other conditions. To look at her today, in her late 70s, you wouldn't know that this
        woman was once severely ill and pretty much told by her doctors to get her affairs in order.
        <br><br>
        They used to call it the 5 minute DER but over time exercises have been added to it and it can range from 10-30 minutes
        depending on extra add ons like Radiant Circuits, Meridian Tracing and Grounding techniques. But as lazy as I can be, I
        do try to do it every day - sometimes outside in my bare feet and pjs in the middle of the night if I can't sleep! (I don't <i>think</i>
        anyone can see me).
        <br><br>
        There are lots and lots of videos of people doing the DER, many of them explaining everything as they go. I like to do my DER to
        music and just get into the flow of it. That is what I offer you here and I hope you are okay with my musical taste. If you
        already know the exercises and just want to do them all you can scroll to the bottom of this page to follow the entire routine.
        Because I like to just get into the music and feel my energy I don't talk during my DER so before you watch it, I'll give a little
        bit of information about each exercise here starting with:
    </div>
</div>

<div class="exercise-block">
    <div class="exercise-name">
        <h2>The Five Taps</h2>
    </div>

    <div class="exercise-detail-grid">
        <div class="exercise-video-block">
            <iframe class="exercise-video" src="https://www.youtube-nocookie.com/embed/XU4nyiZvOCc?start=2"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>

        <div class="exercise-copy-block">
            <div class="exercise-copy">
                Tapping the Stomach Meridian points (ST-1) helps move Yang energy coming in through your
                Crown Chakra, down the body and out into the Earth.
                Tapping on the Kidney Meridian at KI-27 helps bring Yin energy from the Earth through your feet
                and up your Central line to your clavicles.
                <br><br>
                Tapping the Thymus point helps to keep your Thymus Gland clear of Lymph.
                Tapping Spleen boosts your immune system which need help now more than ever.
            </div>
        </div>
    </div>

    <div class="exercise-name">
        <h2>The Cross Crawl</h2>
    </div>

    <div class="exercise-detail-grid">
        <div class="exercise-video-block">
            <iframe class="exercise-video" src="https://www.youtube-nocookie.com/embed/PWCWP0yZld0?start=2"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>

        <div class="exercise-copy-block">
            <div class="exercise-copy">
                When you are sick, recovering from surgery or depressed, your body's energy can move into a homo-lateral state. This
                energy flow travels vertically down your body from your left brain down to your left foot and from your right brain
                down to your right foot.
                <br><br>
                This simple exercise can reverse this pattern and return it to it's preferred crossed over state. It can be done lying down,
                sitting or standing.
                We basically re-``train the energies to cross from left brain to right body and then right brain to left body, the way it is meant to be.
            </div>
        </div>
    </div>

    <div class="exercise-name">
        <h2>Homolateral Repatterning</h2>
    </div>

    <div class="exercise-detail-grid">
        <div class="exercise-video-block">
            <iframe class="exercise-video" src="https://www.youtube-nocookie.com/embed/ooyNnOdQ_e0?start=2"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>

        <div class="exercise-copy-block">
            <div class="exercise-copy">
                If the Cross Crawl fails to help, you may be stuck in a homo-lateral habit. This means that enough time and conditioning have
                occurred that your body now believes this to be the correct pattern.
                <br><br>
                To gently correct it into finding it's way back to a hetero-lateral
                pattern ( X instead of || ) this re-patterning exercise performs the stuck pattern first, the correct pattern after, but double
                the amount. In this way, it gently reconditions the body to accept the right-brain to left body, left brain to right body pattern.
            </div>
        </div>
    </div>

    <div class="exercise-name">
        <h2>Wayne Cook</h2>
    </div>

    <div class="exercise-detail-grid">
        <div class="exercise-video-block">
            <iframe class="exercise-video" src="https://www.youtube-nocookie.com/embed/tIuTNkBKmYE?start=2"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>

        <div class="exercise-copy-block">
            <div class="exercise-copy">
                This exercises also works with the crossing over patterns but had additional benefits because when holding your toes you are also
                touching many of the end or beginning points of the Liver, Spleen, Gallbladder, Bladder, Stomach and Kidney meridians.
                <br><br>
                It also
                causes more deep breathing, stretching and bringing blood up to the Third Eye (Bladder-1) bringing additional calm. Try this when
                you are overwhelmed, can't think or need to remember where you put your car keys!
            </div>
        </div>
    </div>

    <div class="exercise-name">
        <h2>Connecting Heaven and Earth</h2>
    </div>

    <div class="exercise-detail-grid">
        <div class="exercise-video-block">
            <iframe class="exercise-video" src="https://www.youtube-nocookie.com/embed/9OcnjqlqsMQ?start=2"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>

        <div class="exercise-copy-block">
            <div class="exercise-copy">
                Reaching up with one hand while pressing down with the other does what the name says, it also stretches your joints and encourages
                deep healing breaths, brings blood and Chi energy to your organs and muscles.
                <br><br>
                When reaching up reacgh for your Sun Star Chakra, and with your other hand reach for the Earth Star Chakra.
            </div>
        </div>
    </div>

    <div class="exercise-name">
        <h2>The Celtic Weave</h2>
    </div>

    <div class="exercise-detail-grid">
        <div class="exercise-video-block">
            <iframe class="exercise-video" src="https://www.youtube-nocookie.com/embed/ngtdr_M2t3Q?start=2"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>

        <div class="exercise-copy-block">
            <div class="exercise-copy">
                This is my favorite exercise because while it may look very woo-woo it can be very exciting when you actually start to feel your Aura.
                <br><br>
                This exercise fluffs the Aura up, helps heal any tears or leaks, strengthens and lengthens it out to where it should at least be, which
                is your fingertips. It also ensures that your inner Etheric Layer is attached to your body. Do this one slowly, with feeling.
            </div>
        </div>
    </div>

    <div class="exercise-name">
        <h2>The Zip Up</h2>
    </div>

    <div class="exercise-detail-grid">
        <div class="exercise-video-block">
            <iframe class="exercise-video" src="https://www.youtube-nocookie.com/embed/XlrnXAO7JJU?start=2"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>

        <div class="exercise-copy-block">
            <div class="exercise-copy">
                The Zip-up is all about ensuring that the energy running up your Central meridian is flowing well so that you are protected and feel
                strong in your body.
                <br><br>
                Being unzipped energetically leaves you vulnerable, like how you feel when someone stares you up and down, it is not a good thing!
                Keep yourself protected by making sure your zipped up.
            </div>
        </div>
    </div>

    <div class="exercise-name">
        <h2>Opening the Valves</h2>
    </div>

    <div class="exercise-detail-grid">
        <div class="exercise-video-block">
            <iframe class="exercise-video" src="https://www.youtube-nocookie.com/embed/hhw_ynE6OsM?start=2"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>

        <div class="exercise-copy-block">
            <div class="exercise-copy">
                This exercise is great for anyone who is constipated or has any kind of GI issue. It opens the valves
                releasing tension from the Illeocecal valve and allowing the bowels to move more easily. Finishing by
                rubbing your outer thighs gives your Large Intestine meridian a good massage as well.
            </div>
        </div>
    </div>

    <div class="exercise-name">
        <h2>The Belt Flow</h2>
    </div>

    <div class="exercise-detail-grid">
        <div class="exercise-video-block">
            <iframe class="exercise-video" src="https://www.youtube-nocookie.com/embed/KzQY2mQLRQo?start=2"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>

        <div class="exercise-copy-block">
            <div class="exercise-copy">
                The Belt Flow is a simple exercise but it has big payoffs. We tend to be stuck up in our top 4 Chakras, while being
                disconnected to our lower Chakras, or visa versa. We all know what wearing a too tight belt feels like.
                That is energetically happening to us when we constrict our Chakra flow.
                <br><br>
                The Belt Flow releases the tension and constriction between these
                Chakra groups to allow freedom of movement and a more balanced flow. Loosen that belt!
            </div>
        </div>
    </div>

    <div class="exercise-name">
        <h2>The Hook Up</h2>
    </div>

    <div class="exercise-detail-grid">
        <div class="exercise-video-block">
            <iframe class="exercise-video" src="https://www.youtube-nocookie.com/embed/zIu25FPFA1w?start=2"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>

        <div class="exercise-copy-block">
            <div class="exercise-copy">
                The Central and Governing Meridians form the body's
                main conduit, called the Microcosmic Orbit. Central runs up the center front from the pubis to the lower lip. Governing
                runs up the back from the sacrum, over the head to the upper lip. They actually continue, meeting inside the back of the mouth
                and create a Radiant Circuit.
                <br><br>
                The Radiant Circuit energy connection can bring deep joy and feelings of contentment. Sometimes it can take time, but keep with it and
                you may find yourself yawning, sighing or even feeling a rush up your body.
            </div>
        </div>
    </div>

    <div class="exercise-name">
        <h2>The Full Routine</h2>
    </div>

    <div class="exercise-detail-grid">
        <div class="exercise-video-block">
            <ng-container *ngIf="selectedExercise.id==0">
                <img [style.border-left]="'1px solid '" src= "../../../../assets/images/energyMedicine/move/defaultDERExercises.jpg">
            </ng-container>

            <div *ngIf="selectedExercise">
                <!-- FULL ROUTINE -->
                <div *ngIf="selectedExercise.id===11">
                    <iframe class="exercise-video" src="https://www.youtube-nocookie.com/embed/nN2uq78Y2bE" [style.border]="'0'"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <!-- 5 TAPS -->
                <div *ngIf="selectedExercise.id===1">
                    <iframe class="exercise-video" src="https://www.youtube-nocookie.com/embed/XU4nyiZvOCc?start=2" [style.border]="'0'"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <!-- CROSS CRAWL -->
                <div *ngIf="selectedExercise.id===2">
                    <iframe class="exercise-video" src="https://www.youtube-nocookie.com/embed/PWCWP0yZld0?start=2" [style.border]="'0'"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <!-- HOMEOLATERAL CROSSOVER -->
                <div *ngIf="selectedExercise.id===3">
                    <iframe class="exercise-video" src="https://www.youtube-nocookie.com/embed/ooyNnOdQ_e0?start=2" [style.border]="'0'"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <!-- WAYNE COOK -->
                <div *ngIf="selectedExercise.id===4">
                    <iframe class="exercise-video" src="https://www.youtube-nocookie.com/embed/tIuTNkBKmYE?start=2" [style.border]="'0'"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <!-- CONNECTING HEAVEN AND EARTH -->
                <div *ngIf="selectedExercise.id===5">
                    <iframe class="exercise-video" src="https://www.youtube-nocookie.com/embed/9OcnjqlqsMQ?start=3" [style.border]="'0'"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <!-- CELTIC WEAVE -->
                <div *ngIf="selectedExercise.id===6">
                    <iframe class="exercise-video" src="https://www.youtube-nocookie.com/embed/ngtdr_M2t3Q?start=2" [style.border]="'0'"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <!-- ZIP UP -->
                <div *ngIf="selectedExercise.id===7">
                    <iframe class="exercise-video" src="https://www.youtube-nocookie.com/embed/XlrnXAO7JJU?start=2" [style.border]="'0'"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <!-- OPENING VALVES -->
                <div *ngIf="selectedExercise.id===8">
                    <iframe class="exercise-video" src="https://www.youtube-nocookie.com/embed/hhw_ynE6OsM?start=2" [style.border]="'0'"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <!-- BELT FLOW -->
                <div *ngIf="selectedExercise.id===9">
                    <iframe class="exercise-video" src="https://www.youtube-nocookie.com/embed/KzQY2mQLRQo?start=2" [style.border]="'0'"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <!-- HOOK UP -->
                <div *ngIf="selectedExercise.id===10">
                    <iframe class="exercise-video" src="https://www.youtube-nocookie.com/embed/zIu25FPFA1w?start=2" [style.border]="'0'"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <div class="exercise-copy-block">
            <ul class="exercise-list ">
                <li *ngFor="let exercise of exercises"
                    [class.selected]="exercise === selectedExercise"
                    (click)="getDerExercise(exercise.id)">
                    {{exercise.name}}
                </li>
            </ul>
        </div>
    </div>
</div>




