<app-global-menu [menuItemId]='menuItemId' [subMenuItemId]='subMenuItemId'></app-global-menu>

<app-write-advance-directive-overview [lookupParent] = 'lookupParent'
                                      [lookupChild1] = "lookupChild1"
                                      [lookupChild2] = "lookupChild2"
                                      [title]="title" [quote]="quote"
                                      [author]="author"
                                      [directive]="directive">
</app-write-advance-directive-overview>

<app-global-footer></app-global-footer>

<app-print-modal-write-advance-directive [directive]="directive"> </app-print-modal-write-advance-directive>