<app-global-menu [menuItemId]='menuItemId' [subMenuItemId]='subMenuItemId'></app-global-menu>

<!--<app-global-headers [detailHeaderName]="detailHeaderName"></app-global-headers>-->

<app-write-advance-directive-overview [lookupParent] = 'lookupParent' [lookupChild]
    = "lookupChild" [title]="title" [quote]="quote" [author]="author" [directive]="directive">
</app-write-advance-directive-overview>

<app-global-footer></app-global-footer>

<app-write-advance-directive-wizard-printout [directive]="directive"> </app-write-advance-directive-wizard-printout>