
/*******************************************************************************************************************
  ALL BANANAS, MOBILES AND TABLET AND IPAD PORTRAIT (MAX IS 1 less than TABLET LANDSCAPE at and (min-width: 1280px))
*******************************************************************************************************************/
@media only screen
and (min-width: 240px)
and (max-width: 1279px) {

    .charges-grid, .testimonials-grid, .charges-description {
        width:var(--media-less-than-content-width);
    }

}

/*  BANANA PORTRAIT *******************************************************************************************/
@media only screen
and (min-width: 240px)
and (max-width: 359px)
and (orientation: portrait) {

    .charges-grid p {
        font-size:var(--big-copy-banana-port-font-size);
    }

    .pricing span, .total span, .testimonial p {
        font-size:var(--med-copy-banana-port-font-size);
    }

    .charges-description {
        font-size:var(--small-copy-banana-port-font-size);
    }

    .testimonial  span {
        font-size:var(--smallest-copy-banana-port-font-size);
    }

}

/* BANANA LANDSCAPE ****************************************************************************************************/
@media only screen
and (min-width: 568px)
and (max-width: 895px)
and (orientation: landscape) {

    .charges-grid p {
        font-size:var(--big-copy-banana-land-font-size);
    }

    .pricing span, .total span, .testimonial p {
        font-size:var(--med-copy-banana-land-font-size);
    }

    .charges-description {
        font-size:var(--small-copy-banana-land-font-size);
    }

    .testimonial  span {
        font-size:var(--smallest-copy-banana-land-font-size);
    }

}

/* MOBILES PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 360px)
and (max-width: 599px)
and (orientation: portrait) {

    .charges-grid p {
        font-size:var(--big-copy-mobile-port-font-size);
    }

    .pricing span, .total span, .testimonial p {
        font-size:var(--med-copy-mobile-port-font-size);
    }

    .charges-description {
        font-size:var(--small-copy-mobile-port-font-size);
    }

    .testimonial  span {
        font-size:var(--smallest-copy-mobile-port-font-size);
    }

}

/*  MOBILES LANDSCAPE **************************************************************************************************/
@media only screen
and (min-width:896px )
and (max-width: 1279px)
and (orientation: landscape) {

    .charges-grid p {
        font-size:var(--big-copy-mobile-land-font-size);
    }

    .pricing span, .total span, .testimonial p {
        font-size:var(--med-copy-mobile-land-font-size);
    }

    .charges-description {
        font-size:var(--small-copy-mobile-land-font-size);
    }

    .testimonial  span {
        font-size:var(--smallest-copy-mobile-land-font-size);
    }

}

/*  TABLETS PORTRAIT *******************************************************************************************/
@media only screen
and (min-width: 600px)
and (max-width: 1023px)
and (orientation: portrait) {

    .charges-grid p {
        font-size:var(--big-copy-tablet-port-font-size);
    }

    .pricing span, .total span, .testimonial p {
        font-size:var(--med-copy-tablet-port-font-size);
    }

    .charges-description {
        font-size:var(--small-copy-tablet-port-font-size);
    }

    .testimonial  span {
        font-size:var(--smallest-copy-tablet-port-font-size);
    }

}

/* IPADS PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 1024px)
and (max-width: 1366px)
and (orientation: portrait) {

    .charges-grid p {
        font-size:var(--big-copy-ipad-port-font-size);
    }

    .pricing span, .total span, .testimonial p {
        font-size:var(--med-copy-ipad-port-font-size);
    }

    .charges-description {
        font-size:var(--small-copy-ipad-port-font-size);
    }

    .testimonial  span {
        font-size:var(--smallest-copy-ipad-port-font-size);
    }

}

/*******************************************************************************************************************
  ALL THAT SHOW DESKTOP - TABLET LANDSCAPE, IPAD LANDSCAPE, LAPTOP, DESKTOP and UP
*******************************************************************************************************************/

@media only screen
and (min-width: 1280px)
and (orientation: landscape) {

    .charges-grid, .testimonials-grid, .charges-description {
        width:var(--media-more-than-content-width);
    }
}

/*  TABLETS LANDSCAPE *******************************************************************************************/
@media only screen
and (min-width: 1280px)
and (max-width: 1365px)
and (orientation: landscape) {

    .charges-grid p {
        font-size:var(--big-copy-tablet-land-font-size);
    }

    .pricing span, .total span, .testimonial p {
        font-size:var(--med-copy-tablet-land-font-size);
    }

    .charges-description {
        font-size:var(--small-copy-tablet-land-font-size);
    }

    .testimonial  span {
        font-size:var(--smallest-copy-tablet-land-font-size);
    }

}

/* IPADS LANDSCAPE ***************************************************************************************************/
@media only screen
and (min-width: 1366px)
and (max-width: 1439px)
and (orientation: landscape) {

    .charges-grid p {
        font-size:var(--big-copy-ipad-land-font-size);
    }

    .pricing span, .total span, .testimonial p {
        font-size:var(--med-copy-ipad-land-font-size);
    }

    .charges-description {
        font-size:var(--small-copy-ipad-land-font-size);
    }

    .testimonial  span {
        font-size:var(--smallest-copy-ipad-land-font-size);
    }

}

/* DESKTOPS ****************************************************************************************************/
@media only screen
and (min-width: 1440px) {

    .charges-grid p {
        font-size:var(--big-copy-desktop-font-size);
    }

    .charges-description {
        font-size:var(--med-copy-desktop-font-size);
    }

    .pricing span, .total span, .testimonial p {
        font-size:var(--small-copy-desktop-font-size);
    }

    .testimonial  span {
        font-size:var(--smallest-copy-desktop-font-size);
    }

}

/* GLOBAL ****************************************************************************************************/
@media only screen {

    .charges-grid {
        display:grid;
        margin:auto;
        max-width:var(--content-width);
        background-color: var(--color-soft-blue);
    }

    .charges-grid p {
        text-transform: uppercase;
        font-weight:600;
        color: var(--color-white);
        letter-spacing: 4px;
        padding-left: 1em;
        font-family: var(--family-copy);
    }

    .charges-inline-grid {
        display:inline-grid;
        padding-left:1em;
        grid-template-columns: 40% 60%;
        color: var(--color-white);
    }

    .pricing, .total {
        display:grid;
        align-content: center;
        font-family: var(--family-copy);
    }

    .pricing {
        grid-column:1;
    }

    .total {
        grid-column:2;
        justify-content: flex-start;
    }

    .pricing span, .total span {
        display:block;
        padding:1em 0;
        font-weight:550;
    }

    .charges-description {
        font-weight:normal;
        padding:1em 0 1em 1em;
        color: var(--color-white);
        letter-spacing: 1px;
        border-bottom:thin solid var(--color-white);
    }

    /* TESTIMONIALS */
    .testimonials-grid  {
        display:grid;
        margin:auto;
        max-width:var(--content-width);
    }

    .testimonials-heading {
        text-transform: uppercase;
        font-weight:600;
        color: var(--color-white);
        letter-spacing: 4px;
        font-family: var(--family-headers);
        display:block;
        float:left;
        margin:1em 0 0 0;
    }

    .testimonial-1, .testimonial-2, .testimonial-3, .testimonial-4, .testimonial-5, .testimonial-6, .testimonial-7  {
        display:grid;
        border:thin solid var(--color-soft-blue);
        padding:1em 0;
        color:var(--color-dark-blue);
    }

    .testimonial-1 {
        grid-row:1;
    }

    .testimonial-2 {
        grid-row:2;
    }

    .testimonial-3 {
        grid-row:3;
    }

    .testimonial-4 {
        grid-row:4;
    }

    .testimonial-5 {
        grid-row:5;
    }

    .testimonial-6 {
        grid-row:6;
    }

    .testimonial p {
        padding:1em 1em 0 1em;
        line-height: 160%;
        text-align: justify;
        margin:0;
    }

    .testimonial span {
        display:grid;
        justify-content: flex-end;
        align-content: flex-end;
        padding-right:1em;
        font-weight:400;
        font-style: italic;
    }
}

