<div class = "topic-grid topic-roles-of-consultant topic-size">
    <h1>{{title}}</h1>
</div>

<div class="screen-title pad-top-3">
    <h2>You Don't Have to Do it Alone</h2>
</div>

<div class="content-dark-copy margin-top-2">
    <p>
        You may have never heard of an End of Life Doula or End of Life Advocate but in today's society and rapidly aging world, we are
        needed more than ever. With strains on hospitals, hospices, palliative care centers and working families, end of life care doulas
        fill in where the cracks exist.
        <br><br>
        We provide many services, from helping you create your own advanced health care plan, to sitting at bedside with your loved one,
        to arranging ceremonies, funerals, legacy projects and providing support for not just your loved one, but for the family and
        their caregivers as well.
        <br><br>
        The truth we can't run away from is that some day we all leave this earth. What you choose to leave behind could be either a huge
        mess for family to sort or a well planned legacy that your family will benefit from and appreciate.
        <br><br>
        Planning ahead isn't just important for their sake but for your own as well. Because if you end up at the hospital some day
        without any kind of thought to this, your future could end having it decided by a stranger who probably really wished he or she
        didn't have to make the hard decisions.
    </p>
</div>

<div class="screen-quote">
    <p>
        &#8220;We find that people open up to death doulas in ways they simply can’t with family and friends (so much emotion/baggage),
        social workers, clinical staff or chaplains. Doulas are trained to come from an absolutely objective, nonjudgmental place; they
        go where they need to go emotionally.&#8221;
    </p>
    <span>Henry Fersko-Weiss author of 'Dying Well'</span>
</div>

<div class="content-images">
    <img src="assets/images/details/consultations/roleOfConsultant/doulaCarePic.jpg" alt="Doula Care" title="Doula Care">
</div>

<div class="screen-title pad-top">
    <h2>Doulas Support You:</h2>
</div>

<div class="content-dark-copy">
    <p>
        We are trained to act as witnesses on your very last journey. Like birth, death is a monumental endeavor that we all must face. So
        why do we fear it? Of course, we fear pain. Pain can be controlled fairly well in most first world countries. What we think of as
        pain, is often the laboured breathing that happens as people are unable to expel mucous from their trachea. It sounds like it
        hurts but it does not. There are medications to help with nausea and swelling. There are machines that can help with shortness of
        breath. In fact, many people die quite peacefully, without pain or discomfort.
        <br><br>
        There are others of course, who die fighting, who die angry, who die alone. Like life - dying can be hard. Our job as Doulas is to
        make the death as good as it can be. You may not resolve everything with family, but you may be able to control much of who is at
        your bedside and who is not.
        <br><br>
        There is often a lot of family conflict. There are a variety of roles that people naturally fall into depending on their
        personality and all have their place and should be respected. But a good Doula will try to balance out the dynamics so that the
        focus is back on you, not them.
        <br><br>
        We do not give advice, unless asked. We are not allowed to touch you after death but we are allowed to set up the ceremony you
        have requested. You may wish to be dressed by your family, to wear your favorite hat or scarf. We can arrange that. We know that
        your family will be up to their eyeballs in doing all the details needed to be done and we are there to assist in any way. We
        will not deny you your feelings, we will not patronize you. We will not put our spiritual beliefs above your own, in fact we will
        never discuss what we think about God - unless asked.
        <br><br>
        We will not give you medication or perform any kind of medical intervention on you. Even those doulas who are trained as doctors
        can not treat the patient unless they are also their doctor. I as a trained
        <a href="https://www.mindworksEnergyMedicine.com" target="new"><b> Energy Medicine Practitioner</b></a> can and will be happy
        to do pain and stress reducing treatments on you - if requested by you or the family.
        <br><br>
        I will let you and your family know that your sleeping more than usual is part of the dying process. There will be times when
        they think you are sleeping but you have actually moved into an unconsciousness state. They may worry that you aren't eating or
        drinking enough but losing interest in food is totally normal. Knowing that you are going through normal stages of dying can make
        you and your family more reassured that they are not failing you.
        <br><br>
        I will maintain my composure as much as possible but I will also be empathetic, sympathetic and loving, knowing that I have the
        profound honour of bearing witness to this event. Reading your and your family's body language and using all my senses to pick up
        the atmosphere in the room, I will quietly leave or address the situation as needed. I acknowledge that the grief is yours and
        yours alone. I will not leave unless asked, I will not abandon you or your family and if requested, I will stay on after so that
        we can go over it all again in two months time or whenever your family wishes. While I hope that my experience teaches you about
        the dying process I know that I am also learning so much from each and every session.
    </p>
</div>

<div class="screen-quote">
    <p>
        &#8220;The closing years of life are like the end of a masquerade party, when the masks are dropped.&#8221;
    </p>
    <span>Cesare Pavese</span>
</div>

<div class="content-images">
    <img src="assets/images/details/consultations/roleOfConsultant/memorialPic.jpg" alt="Doula Care" title="Doula Care">
</div>

<div class="screen-title pad-top-2">
    <h2>In Person and Remote Consultations:</h2>
</div>

<div class="charges-grid">
    <p>90 minute consultation</p>

    <div class="charges-inline-grid">
        <div class="pricing">
            <span>$125.00 (+ gst)</span>
        </div>

        <div class="total">
            <span>$131.25</span>
        </div>
    </div>

    <div class="charges-description">
        provide information, guidance and support based on your needs
    </div>

    <p>60 minute consultation</p>

    <div class="charges-inline-grid">
        <div class="pricing">
            <span>$85.00 (+ gst)</span>
        </div>

        <div class="total">
            <span>$89.25</span>
        </div>
    </div>

    <div class="charges-description">
        keeping updated on changes for existing clients
    </div>

    <p>bedside care</p>

    <div class="charges-inline-grid">
        <div class="pricing">
            <span>$50.00 an hour (+ gst)</span>
        </div>

        <div class="total">
            <span>$52.50</span>
        </div>
    </div>

    <div class="charges-description">
        basic rate but can be negotiated
    </div>
</div>

<div class="screen-title  pad-top-2">
    <h2>Testimonials:</h2>
</div>

<div class="testimonials-grid">
    <div class="testimonial-1">
        <div class="testimonial">
            <p>
                Karen Allan has been my Energy Medicine Therapist since April 2020. She is very knowledgeable and dedicated to her clients.
                She is very caring and she is genuinely determined to help. In addition, she is very friendly and relates easily to people.
                I have an autoimmune condition. Karen worked on establishing the flow of energy in my whole body. Ever since I started
                having energy sessions with Karen, I noticed improvement in my overall energy levels and I started sleeping better. I
                warmly recommend Karen Allan to be your Energy Medicine Therapist.
            </p>

            <span>Jelena</span>
        </div>
    </div>
    <div class="testimonial-2">
        <div class="testimonial">
            <p>
                On my first appointment with Karen I had a breakthrough! I was so thrilled. I had rhinitis. After this appointment it was
                gone. I felt like a new person. It began returning after a few days but on contacting Karen for support I was able to
                begin rubbing certain areas on my face. Now any-time it threatens to return I rubs these areas and it’s gone. It has been
                four months since my first appointment and I feel great. I have had several other appointments since then where we focus
                on other areas. Would I recommend Karen and EEM? Absolutely. I found Karen to be knowledgeable, open to my many
                questions, supportive and easy to communicate with online, responding quickly with great detail. Thanks Karen
            </p>
            <span>Dannielle</span>
        </div>
    </div>

    <div class="testimonial-3">
        <div class="testimonial">
            <p>
                Karen has the gift of providing both calming or supporting energy work to her clients. She really feels what your body
                needs. She puts a powerful emphasis on embodiment. During any treatment you will feel her love to help others. She does
                work intensely with your energy fields doesn’t matter its your meridians, chakra or aura. If you go open minded into her
                treatment you will definitely benefit from it. However keep in mind that you perhaps need a few continuous treatments to
                correct the energy flow in your body and break a pattern which has developed over time. But even after the first treatment
                you will feel positive changes, they may just don’t stay for too long if you don’t start working on your energy flow
                regularly.
            </p>
            <span>Andrea</span>
        </div>
    </div>

    <div class="testimonial-4">
        <div class="testimonial">
            <p>
                As I was reading Donna Eden’s book Energy Medicine I realized that I wanted to have a “hands on” experience from a
                certified practitioner. I was so fortunate to find Karen Allan! She exceeded my expectations. She is welcoming,
                knowledgeable, caring, helpful and encouraging. I thoroughly enjoy my sessions with Karen, in the comfort and serenity of
                her treatment room. I get so much out of every visit; each one is different depending on what needs soothing attention. I
                leave feeling calm, “softer”, healthier, inspired and joyful and I’m equipped with energy exercises I can do at home.
            </p>
            <span>Margaret</span>
        </div>
    </div>

    <div class="testimonial-5">
        <div class="testimonial">
            <p>
                I can hardly wait to get another wonderful session from Karen. She has an amazing healing touch in her hands. It is
                something she just luckily has, as a great foundation, not even including all the knowledge she has acquired over the
                years of study. I appreciate her gifts she gives to people, with her open heart, her love as well as being so firmly
                grounded 🙏🏻 amazing !!!
            </p>
            <span>Gabrielle</span>
        </div>
    </div>

    <div class="testimonial-6">
        <div class="testimonial">
            <p>
                Karen's energies are truly alive and open. I just love her energy, humor and integrity. She makes me happy 😃 Thank you
                for bringing your skills to the Vancouver area. I hope your presence brings more awareness to the community of Vancouver.
                We certainly need to start an energy playground here! So far small steps but that is how everything evolves. Small steps
                are grounding steps. I am looking forward to having many more sessions with Karen. 🦋
            </p>
            <span>Evelyn</span>
        </div>
    </div>

    <div class="testimonial-7">
        <div class="testimonial">
            <p>
                Every session with Karen is a transformation to the better, better health, better thinking, better acceptance and better
                “letting-it-go”. Karen is a beautiful human in both appearance and heart. She cares deeply for her clients and serves
                them with her entirely unique being. I have gained back trust, compassion, self-confidence and self-love when working
                with her. Most of all, my mental and physical health is having a wonderful turnaround.
                <br><br>
                I have crossed paths with so many people, Karen is one of the most unforgettable. Thank you Karen for everything you have
                done to rebuild the real healthy and happy me today.
            </p>
            <span>Le</span>
        </div>
    </div>
</div>

<div class="screen-quote">
    <p>
        &#8220;Life has to end, love doesn't.&#8221;
    </p>
    <span>Mitch Albom</span>
</div>

<div class="content-images">
    <img src="assets/images/details/consultations/roleOfConsultant/sunOnWater.jpg" alt="Doula Care" title="Doula Care">
</div>

<div class="screen-title pad-top-2">
    <h2>It doesn't have to be scary</h2>
</div>

<div class="content-dark-copy">
    <p>
        What I learned with my End of Life Doula training opened my eyes up to the many things we ignore because, of course, it is an
        uncomfortable subject. But avoiding the obvious fact that we all die someday can lead to pain, confusion, hurt, anger and financial mistakes.
        <br><br>
        You may worry about your financial situation - that the wrong family member will take charge of your finances and/or health
        should you lose the ability to speak for yourself. There are many ways to avoid this scenario.
        <br><br>
        You may have heard about EDITH, Expected Death in the Home and want to learn more about it. Or the No CPR form, the DNR form, the
        advance directives for requesting or refusing life extending treatments. You may have heard about MAID, Medical Assistance in
        Dying and need to know if you qualify. You may be someone who has always cared about the environment and want to know more about
        these 'green burials'. You may be unable to speak to your family members about your wishes and plans because they are unable to
        hear you. I can advocate for you.
        <br><br>
        You may want to put on a Celebration of Life while you are still here to enjoy it.  If you are a caregiver you may be afraid to
        witness the dying process. I will hopefully, calm your worries. The fact is, most people are able to die without pain if properly
        medicated. And studies have shown that if families are able to speak openly with each other and come to an acceptance of what is
        to come, they face the situation with considerably more comfort and peace.
        <br><br>
        I have different forms for you to fill out depending on if you are the caregiver for a dying loved one, if you are the patient
        who has been given a time limit to your life or if you just want to plan ahead to avoid putting the burden on your family members
        after you are gone. As long as you are over 19 and of sound mind you are encouraged to put a plan together so you can live your
        life knowing that you and your family are protected in case of an emergency or crisis. Then you can store it away, and go live
        your life to the fullest!
    </p>
</div>

<div class="screen-quote">
    <p>
        &#8220;Strong people stand up for themselves, but stronger people stand up for others.&#8221;
    </p>
    <span>Suzy Kassem</span>
</div>

<div class="content-images">
    <img src="../../../../assets/images/details/consultations/roleOfConsultant/eolDoulaPic.jpg" alt="Me at Waterfall" title="Me at Waterfall">
</div>

<div class="screen-title pad-top-2">
    <h2>Energy techniques to ease pain and fear</h2>
</div>

<div class="content-dark-copy">
    <p>
        As well I offer my energy medicine skills to those who are dying, are in pain, in fear, uncomfortable, scared or angry. I have
        techniques to lessen swelling that causes pain as well as calming techniques to take some of the fear away. I can work with
        patients at whatever level they are at and provide care that brings them the most comfort. I can work on a patient directly or in
        their energy field if touch is not wanted.
        <br><br>
        Many of my energy medicine clients are suffering from the loss of a parent, a spouse, sister, brother and I can help relieve some
        of their sorrow and stress - by listening and holding space for them to grieve. Crying is absolutely part of the healing process
        and working with energy can help release much pent up emotion.
    </p>
</div>

<div class="screen-quote">
    <p>
        &#8220;Divine is the task to relieve pain.&#8221;
    </p>
    <span>Hippocrates</span>
</div>

<a routerLink="/bookConsultation" fragment ="bookConsultationTop" style="cursor:pointer; text-decoration:none">
    <div class = "topic-grid topic-home-doula topic-size">
        <h2>Book a Consultation</h2>
    </div>
</a>