<div class="header-detail-image header-testimonials-image">
    <div class="header-quote">
        &#8220;{{ quote }}&#8220;
    </div>
    <div class="header-author">
        {{ author }}
    </div>
</div>

<div class="content-title">
    <h1>{{ title }}</h1>
</div>

<div class="content-dark-copy">
    <p>
        What I learned with my End of Life training opened my eyes up to the many things we ignore because, of course, it is an
        uncomfortable subject. But avoiding the obvious fact that we all die someday can lead to pain, confusion, hurt, anger and financial
        mistakes.
        <br><br>
        You may worry about your financial situation - that the wrong family member will take charge of your finances and/or health
        should you lose the ability to speak for yourself. There are many ways to avoid this scenario.
        <br><br>
        You may have heard about EDITH, Expected Death in the Home and want to learn more about it. Or the No CPR form, the DNR form, the
        advance directives for requesting or refusing life extending treatments. You may have heard about MAID, Medical Assistance in
        Dying and need to know if you qualify. You may be someone who has always cared about the environment and want to know more about
        these 'green burials'. You may be unable to speak to your family members about your wishes and plans because they are unable to
        hear you. I can advocate for you.
    </p>
</div>

<div class="detail-quote">
    <p>
        &#8220;Strong people stand up for themselves, but stronger people stand up for others.&#8221;
    </p>
    <span>Suzy Kassem</span>
</div>

<div class="content-dark-copy">
    <p>
        You may want to put on a Celebration of Life while you are still here to enjoy it. If you are a caregiver you may be afraid to
        witness the dying process. I will hopefully, calm your worries. The fact is, most people are able to die without pain if properly
        medicated. And studies have shown that if families are able to speak openly with each other and come to an acceptance of what is
        to come, they face the situation with considerably more comfort and peace.
        <br><br>
        I have different forms for you to fill out depending on if you are the caregiver for a dying loved one, if you are the patient
        who has been given a time limit to your life or if you just want to plan ahead to avoid putting the burden on your family members
        after you are gone. As long as you are over 19 and of sound mind you are encouraged to put a plan together so you can live your
        life knowing that you and your family are protected in case of an emergency or crisis. Then you can store it away, and go live
        your life to the fullest!
    </p>
</div>

<div class="content-title text-align-center">
    <h3>In Person and Remote Consultations:</h3>
</div>

<div class="charges-grid bevelled-edges">
    <h3>
        90 Minute Meet and Greet Initial Consultation
    </h3>

    <p>provide information, guidance and support based on your needs</p>
    <span>$125.00 (+ gst) = $131.25</span>
</div>

<div class="charges-grid bevelled-edges">
    <h3>
        60 Minute Informational Status Updates
    </h3>

    <p>keeping updated on changes for existing clients</p>
    <span>$85.00 (+ gst) = $89.25</span>
</div>

<div class="charges-grid bevelled-edges">
    <h3>
        Bedside and End of Life Care
    </h3>

    <p>providing relief to family and friend caregivers, providing support to patient</p>
    <span>basic rate can be negotiated depending on needs and circumstances</span>
</div>

<div class="content-images">
    <img src="../../../../assets/images/details/getHelp/testimonials/eolDoulaPic.jpg" alt="Me at Waterfall" title="Me at Waterfall">
</div>

<div class="content-title text-align-center">
    <h3>Testimonials:</h3>
</div>

<div class="testimonials-grid">
    <div class="testimonial-row-1">
        <div class="content-dark-copy">
            <p><i>
                Karen Allan has been my Energy Medicine Therapist since April 2020. She is very knowledgeable and dedicated to her
                        clients.
                She is very caring and she is genuinely determined to help. In addition, she is very friendly and relates easily to people.
                I have an autoimmune condition. Karen worked on establishing the flow of energy in my whole body. Ever since I started
                having energy sessions with Karen, I noticed improvement in my overall energy levels and I started sleeping better. I
                    warmly recommend Karen Allan to be your Energy Medicine Therapist.
            </i></p>
            <span>Jelena</span>
        </div>
    </div>

    <div class="testimonial-row-2">
        <div class="content-dark-copy">
            <p><i>
                On my first appointment with Karen I had a breakthrough! I was so thrilled. I had rhinitis. After this appointment it was
                gone. I felt like a new person. It began returning after a few days but on contacting Karen for support I was able to
                begin rubbing certain areas on my face. Now any-time it threatens to return I rubs these areas and it’s gone. It has been
                four months since my first appointment and I feel great. I have had several other appointments since then where we focus
                on other areas. Would I recommend Karen and EEM? Absolutely. I found Karen to be knowledgeable, open to my many
                questions, supportive and easy to communicate with online, responding quickly with great detail. Thanks Karen
            </i></p>
            <span>Dannielle</span>
        </div>
    </div>

    <div class="testimonial-row-3">
        <div class="content-dark-copy">
            <p><i>
                Karen has the gift of providing both calming or supporting energy work to her clients. She really feels what your body
                needs. She puts a powerful emphasis on embodiment. During any treatment you will feel her love to help others. She does
                work intensely with your energy fields doesn’t matter its your meridians, chakra or aura. If you go open minded into her
                treatment you will definitely benefit from it. However keep in mind that you perhaps need a few continuous treatments to
                correct the energy flow in your body and break a pattern which has developed over time. But even after the first treatment
                you will feel positive changes, they may just don’t stay for too long if you don’t start working on your energy flow
                regularly.
            </i></p>
            <span>Andrea</span>
        </div>
    </div>

    <div class="testimonial-row-4">
        <div class="content-dark-copy">
            <p><i>
                As I was reading Donna Eden’s book Energy Medicine I realized that I wanted to have a “hands on” experience from a
                certified practitioner. I was so fortunate to find Karen Allan! She exceeded my expectations. She is welcoming,
                knowledgeable, caring, helpful and encouraging. I thoroughly enjoy my sessions with Karen, in the comfort and serenity of
                her treatment room. I get so much out of every visit; each one is different depending on what needs soothing attention. I
                leave feeling calm, “softer”, healthier, inspired and joyful and I’m equipped with energy exercises I can do at home.
            </i></p>
            <span>Margaret</span>
        </div>
    </div>

    <div class="testimonial-row-5">
        <div class="content-dark-copy">
            <p><i>
                I can hardly wait to get another wonderful session from Karen. She has an amazing healing touch in her hands. It is
                something she just luckily has, as a great foundation, not even including all the knowledge she has acquired over the
                years of study. I appreciate her gifts she gives to people, with her open heart, her love as well as being so firmly
                grounded 🙏🏻 amazing !!!
            </i></p>
            <span>Gabrielle</span>
        </div>
    </div>

    <div class="testimonial-row-6">
        <div class="content-dark-copy">
            <p><i>
                Karen's energies are truly alive and open. I just love her energy, humor and integrity. She makes me happy 😃 Thank you
                for bringing your skills to the Vancouver area. I hope your presence brings more awareness to the community of Vancouver.
                We certainly need to start an energy playground here! So far small steps but that is how everything evolves. Small steps
                are grounding steps. I am looking forward to having many more sessions with Karen. 🦋
            </i></p>
            <span>Evelyn</span>
        </div>
    </div>

    <div class="testimonial-row-7">
        <div class="content-dark-copy">
            <p><i>
                Every session with Karen is a transformation to the better, better health, better thinking, better acceptance and better
                “letting-it-go”. Karen is a beautiful human in both appearance and heart. She cares deeply for her clients and serves
                them with her entirely unique being. I have gained back trust, compassion, self-confidence and self-love when working
                with her. Most of all, my mental and physical health is having a wonderful turnaround.
                <br><br>
                I have crossed paths with so many people, Karen is one of the most unforgettable. Thank you Karen for everything you have
                done to rebuild the real healthy and happy me today.
            </i></p>
            <span>Le</span>
        </div>
    </div>
</div>

<div class="content-images">
    <img src="assets/images/details/getHelp/testimonials/sunOnWater.jpg" alt="Doula Care" title="Doula Care">
</div>

<div class="content-title">
    <h4>Energy Techniques to Ease Pain and Fear</h4>
</div>

<div class="content-dark-copy">
    <p>
        As well I offer my energy medicine skills to those who are dying, are in pain, in fear, uncomfortable, scared or angry. I have
        techniques to lessen swelling that causes pain as well as calming techniques to take some of the fear away. I can work with
        patients at whatever level they are at and provide care that brings them the most comfort. I can work on a patient directly or in
        their energy field if touch is not wanted.
    </p>
</div>

<div class="detail-quote">
    <p>
        &#8220;Divine is the task to relieve pain.&#8221;
    </p>
    <span>Hippocrates</span>
</div>

<div class="content-dark-copy">
    <p>
        Many of my energy medicine clients are suffering from the loss of a parent, a spouse, sister, brother and I can help relieve some
        of their sorrow and stress - by listening and holding space for them to grieve. Crying is absolutely part of the healing process
        and working with energy can help release much pent up emotion.
    </p>
</div>


<a routerLink="/bookConsultation" style="cursor:pointer; text-decoration:none">
    <div class="booking-link-grid"></div>
</a>