<div class = "heading-topic-grid eol-create-legacy topic">
    <h1>{{title}}</h1>
</div>

<div class="full-length-titles">
    <h2>Create a Legacy</h2>
</div>

<div class = "content-dark-copy">
    You as a patient may want to think about leaving some kind of legacy for your children,
    grandchildren or other family members. There are lots of great legacy projects out there and depending on
    your energy level and interests, you may find one that works best for you.
    <br><br>
    If you are a family member supporting your loved one, creating a legacy project is a wonderful way to
    bring family together, create a lasting memory and give focus to the situation.
</div>


<!--<div class="inner-content">
      <div class="dark-heading">
          <h3>1. Personal Reflections: Hopes + Fears</h3>
      </div>

      <div class="content-dark-copy">
          What hopes do you have in the event that you are in the hospital requiring major treatment?<br>
          What fears do you have in the same situation?
      </div>

      <div class="dark-heading">
          <h3>2. Personal Reflections: Lived Experience</h3>
      </div>

      <div class="content-dark-copy">
          Have you ever had to make medical decisions for someone?<br>
          What was that experience like?<br>
          What would you have wanted to know to make the situation more supported?<br>
          Have you personally experienced a significant medical event?<br>
          What did you take away from that experience?<br>
          What helped with the situation?<br>
          What were things that made the situation more difficult?
      </div>

      <div class="dark-heading">
          <h3>3. Personal Reflections: Pain</h3>
      </div>

      <div class="content-dark-copy">
          Have you personally experienced persistent pain?<br>
          What did you take away from the experience?<br>
          What were things that helped ease your suffering?<br>
          Did anything make the experience more difficult for you?<br>
          How important is pain management for you?<br>
          Are you willing to be foggy-headed or sleeping most of the time if you are given strong pain meds?
      </div>

      <div class="dark-heading">
          <h3>4. Personal Reflections: Personal Care</h3>
      </div>

      <div class="content-dark-copy">
          How important is cleanliness to you?<br>
          What is important to you with respect to personal care?<br>
          Are you okay with family members providing personal care for you (bathing, toileting)? <br>
          Would you prefer professional care providers to tend to your needs?
      </div>

      <div class="dark-heading">
          <h3>5. Personal Reflections: Mortality</h3>
      </div>

      <div class="content-dark-copy">
          How much are you willing to go through for more time?<br>
          What does that time look like?<br>
          At what point would you want to be comfort-based and not cure-based?
      </div>

      <div class="dark-heading">
          <h3>6. Personal Reflections: Independence</h3>
      </div>

      <div class="content-dark-copy">
          How important is it for you to live independently<br>
          Would you be comfortable living in an assisted living facility?
      </div>

      <div class="dark-heading">
          <h3>7. Personal Reflections: Dignity</h3>
      </div>

      <div class="content-dark-copy">
          In the context of health and medical care, what does dignity mean to you?<br>
          How important is dignity to you?
      </div>

      <div class="dark-heading">
          <h3>8. Personal Reflections: Spirituality</h3>
      </div>

      <div class="content-dark-copy">
          Are there any spiritual or religious practices that bring you comfort, or that you would like if you were
          seriously ill or at end of life?
      </div>

      <div class="dark-heading">
          <h3>9. Personal Reflections: Final Days</h3>
      </div>

      <div class="content-dark-copy">
          If possible and reasonable, where would you like to die?<br>
          At home, in a hospital, in a hospice facility?
      </div>

      <div class="dark-heading">
          <h3>10. Personal Reflections: Natural Death</h3>
      </div>

      <div class="content-dark-copy">
          Allow natural death is when death is near and you receive medically appropriate care for symptoms such as
          pain or shortness of breath but would not have any treatment or procedure which would delay the moment of
          death.<br>
          What do you think about this?
          What does this bring up for you?
      </div>
  </div>-->
