<div class="forms-desktop">
    <div class="title-background">
        Your Concerns and Goals
    </div>

    <div class="full-line-prompt">
        <p>What would be your main areas of focus for seeking a consultation?</p>
    </div>

    <div class="two-even-columns-block">
        <div class="first-radio-check-column">
            <input type="checkbox" id="primaryFocus1" [(ngModel)]="model.eolPlanFocus1" value="planFocus1">
            <label for="primaryFocus1">
                I want to name a Representative for my future care.
            </label>
        </div>

        <div class="second-radio-check-column">
            <input type="checkbox" id="primaryFocus2" [(ngModel)]="model.eolPlanFocus2" value="planFocus2">
            <label for="primaryFocus2">
                I want to make an in-depth Advanced Care Plan.
            </label>
        </div>
    </div>

    <div class="two-even-columns-block">
        <div class="first-radio-check-column">
            <input type="checkbox" id="primaryFocus3" [(ngModel)]="model.eolPlanFocus3" value="planFocus3">
            <label for="primaryFocus3">
                I want to arrange my end of life ceremony and/or funeral.
            </label>
        </div>

        <div class="second-radio-check-column">
            <input type="checkbox" id="primaryFocus4" [(ngModel)]="model.eolPlanFocus4" value="planFocus4">
            <label for="primaryFocus4">
                I want to know about the logistics of staying home to die.
            </label>
        </div>
    </div>

    <div class="two-even-columns-block">
        <div class="first-radio-check-column">
            <input type="checkbox" id="primaryFocus5" [(ngModel)]="model.eolPlanFocus5" value="planFocus5">
            <label for="primaryFocus5">
                I want to ensure my financial and estate plans are in order.
            </label>
        </div>

        <div class="second-radio-check-column">
            <input type="checkbox" id="primaryFocus6" [(ngModel)]="model.eolPlanFocus6" value="planFocus6">
            <label for="primaryFocus6">
                I want help with creating a legacy project.
            </label>
        </div>
    </div>

    <div class="two-even-columns-block">
        <div class="first-radio-check-column">
            <input type="checkbox" id="primaryFocus7" [(ngModel)]="model.eolPlanFocus7" value="planFocus7">
            <label for="primaryFocus7">
                I need to discuss these issues with an impartial advocate.
            </label>
        </div>

        <div class="second-radio-check-column">
            <input type="checkbox" id="primaryFocus8" [(ngModel)]="model.eolPlanFocus8" value="planFocus8">
            <label for="primaryFocus8">
                I want to know more about care plan safe-keeping and sharing.
            </label>
        </div>
    </div>

    <div class="full-line-prompt">
        <p>Can you expand on what you are looking for related to the above answer?</p>
    </div>

    <div class="one-full-column-block">
        <textarea rows=8 class="text-area" id="mainConcerns" [(ngModel)]="model.eolPlanDetails"> </textarea>
    </div>
</div>

<!-- MOBILE -->
<div class="forms-mobile">
    <div class="title-background margin-top-2">
        Your Concerns and Goals
    </div>

    <div class="full-line-prompt">
        <p>What would be your main areas of focus for seeking a consultation?</p>
    </div>

    <div class="one-full-column-block">
        <div class="first-radio-check-column pad-left pad-right">
            <input type="checkbox" id="m-primaryFocus1" [(ngModel)]="model.eolPlanFocus1" value="planFocus1">
            <label for="m-primaryFocus1">
                <span>I want to name a Representative for my future care.</span>
            </label>
        </div>

        <div class="first-radio-check-column pad-left pad-right">
            <input type="checkbox" id="m-primaryFocus2" [(ngModel)]="model.eolPlanFocus2" value="planFocus2">
            <label for="m-primaryFocus2">
                I want to make an in-depth Advanced Care Plan.
            </label>
        </div>

        <div class="first-radio-check-column pad-left pad-right">
            <input type="checkbox" id="m-primaryFocus3" [(ngModel)]="model.eolPlanFocus3" value="planFocus3">
            <label for="m-primaryFocus3">
                I want to arrange my end of life ceremony and/or funeral.
            </label>
        </div>

        <div class="first-radio-check-column pad-left pad-right">
            <input type="checkbox" id="m-primaryFocus4" [(ngModel)]="model.eolPlanFocus4" value="planFocus4">
            <label for="m-primaryFocus4">
                I want to know about the logistics of staying home to die.
            </label>
        </div>

        <div class="first-radio-check-column pad-left pad-right">
            <input type="checkbox" id="m-primaryFocus5" [(ngModel)]="model.eolPlanFocus5" value="planFocus5">
            <label for="m-primaryFocus5">
                I want to ensure my financial and estate plans are in order.
            </label>
        </div>

        <div class="first-radio-check-column pad-left pad-right">
            <input type="checkbox" id="m-primaryFocus6" [(ngModel)]="model.eolPlanFocus6" value="planFocus6">
            <label for="m-primaryFocus6">
                I want help with creating a legacy project.
            </label>
        </div>

        <div class="first-radio-check-column pad-left pad-right">
            <input type="checkbox" id="m-primaryFocus7" [(ngModel)]="model.eolPlanFocus7" value="planFocus7">
            <label for="m-primaryFocus7">
                I need to discuss these issues with an impartial advocate.
            </label>
        </div>

        <div class="first-radio-check-column pad-left pad-right">
            <input type="checkbox" id="m-primaryFocus8" [(ngModel)]="model.eolPlanFocus8" value="planFocus8">
            <label for="m-primaryFocus8">
                I want to know more about care plan safe-keeping and sharing.
            </label>
        </div>
    </div>

    <div class="full-line-prompt">
        <p>Can you expand on what you are looking for related to the above answer?</p>
    </div>

    <div class="one-full-column-block">
        <textarea rows=8 class = "text-area" id="m-mainConcerns" [(ngModel)]="model.eolPlanDetails"> </textarea>
    </div>
</div>
