<div id="footers">
    <div class="footer-email">
        <p>For more details, please write to me at:<br>
            <a href="mailto:karen@transitionsInEnergy.com">karen&#64;transitionsInEnergy.com</a>
        </p>
        <img alt="email" src="../../assets/images/icons/emailFigure8Small.png" title="Figure 8s">
    </div>

    <div class="footer-name">
        <p>
            Transitions In Energy
        </p>

        <span>
            End of Life Planning Support
        </span>
    </div>

    <div class="footer-desktop">
        <div class="footer-socials">
            <div class="grid-socials">
                <div class="footer-eden-icon">
                    <a href="https://practitioner.edenmethod.com/listing/karen-gail-allan/" target="_blank">
                        <img src="assets/images/menu/edenLink.png" title="EEM" alt="EEM">&nbsp;karen allan&#64;Eden Method
                    </a>
                </div>

                <div class="footer-email-icon">
                    <a href="mailto:karen@transitionsInEnergy.com">
                        <img src="assets/images/menu/emailLink.png" title="email" alt="email">&nbsp;karen allan&#64;transitionsInEnergy.com
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-mobile">
        <div class="footer-socials">
            <div class="grid-socials">
                <div class="footer-eden-icon">
                    <a href="https://practitioner.edenmethod.com/listing/karen-gail-allan/" target="_blank">
                        <img src="assets/images/menu/edenLink.png" title="EEM" alt="EEM">&nbsp;
                    </a>
                </div>

                <div class="footer-email-icon">
                    <a href="mailto:karen@transitionsInEnergy.com">
                        <img src="assets/images/menu/emailLink.png" title="email" alt="email">&nbsp;
                    </a>
                </div>
            </div>
        </div>
    </div>

   <div class="footer-copyright">
         <p>
            Copyright &copy;&nbsp;2025
            <br>
            Designed by Mindworks Software Design, Inc.
        </p>

        <span>
            The information on this site is not intended to diagnose, treat or cure illness.
        </span>
    </div>
</div>
