/*******************************************************************************************************************
  GLOBAL BANANAS, MOBILES, SMALL TABLETS - HERE WE COVER ENTIRE WIDTH OF CONTATINERS
*******************************************************************************************************************/
@media only screen
and (min-width: 240px)
and (max-width: 896px)    {

    #footers {
        width:var(--media-unaffected-by-content-width);
    }

    .footer-mobile {
        display:block;
        width:100%;
    }

    .footer-desktop {
        display:none;
    }

<!-- row 1 -->
    .footer-email {
        margin-top: 2em;
        padding-top: 1em;
        border-top:thin dotted var(--color-dark-purple);
    }

    .footer-email p  {
        font-size: 0.9em;
    }

<!-- row 2 -->
    .footer-name {
        padding-bottom: 1em;
    }

    .footer-name p  {
        font-size: 1em;
        letter-spacing: .2em;
    }

    .footer-name span  {
        font-size: .9em;
        font-style: italic;
    }

<!-- row 3 only the icons not the text -->
    .footer-socials {
        padding-bottom: 1em;
    }

    .grid-socials {
        display: inline-grid;
        grid-template-columns: repeat(2, 50%);
        width:15%;
        margin:auto;
        height:40px;
        align-content: flex-end;
        justify-content: flex-end;
    }

    .grid-socials1 {
        display:grid;
        width:100%;
        height:30px;
        grid-column: 1;
        justify-content: flex-start;
    }

    .grid-socials2 {
        display:grid;
        width:100%;
        height:30px;
        grid-column: 2;
        justify-content: flex-end;
    }

    .footer-eden-icon, .footer-mw-energy-icon  {
        padding-top:.5em;
    }

<!-- row 4 -->
    .footer-copyright {
        border-bottom:thin dotted var(--color-dark-purple);
    }

    .footer-copyright p {
        padding:1em 0 .5em 0;
        font-size: .8em;
    }

    .footer-copyright span {
        font-size: .7em;
        line-height: 100%;
    }

}

/*******************************************************************************************************************
    GLOBAL FOR BIG TABLETS, IPADS, LAPTOPS and DESKTOPS
*******************************************************************************************************************/
@media only screen
and (min-width:960px)    {

    #footers {
        width:var(--media-unaffected-by-content-width);
    }

    .footer-desktop {
        display:block;
        width:100%;
    }

    .footer-mobile {
        display:none;
    }

<!-- row 1 -->
    .footer-email {
        margin-top: 2em;
        padding-top: 1em;
        border-top:thin dotted var(--color-dark-purple);
    }

    .footer-email p  {
        font-size: 1.1em;
    }

<!-- row 2 -->
    .footer-name {
        padding-bottom: 1em;
    }

    .footer-name p  {
        font-size: 2em;
        letter-spacing: .2em;
    }

    .footer-name span  {
        font-size: 1.5em;
        font-style: italic;
    }

<!-- row 3 -->
    .footer-socials {
        padding-bottom: 1em;
    }

    .grid-socials {
        display: inline-grid;
        grid-template-columns: repeat(2, 50%);
        width:25%;
        margin:auto;
        height:70px;
        align-content: flex-end;
        justify-content: flex-end;
    }

    .grid-socials1 {
        display:grid;
        width:100%;
        height:60px;
        grid-column: 1;
        justify-content: center;
    }

    .grid-socials2 {
        display:grid;
        width:100%;
        height:60px;
        grid-column: 2;
        justify-content: center;
    }

    .footer-eden-icon, .footer-mw-energy-icon  {
        padding-top:.5em;
    }

    .footer-eden-text, .footer-mw-energy-text  {
        text-align: center;
        font-size: 0.85em;
    }

<!-- row 4 -->
    .footer-copyright {
        border-bottom:thin dotted var(--color-dark-purple);
    }

    .footer-copyright p {
        padding:1em 0 .5em 0;
        font-size: 1em;
    }

    .footer-copyright span {
        font-size: .8em;
    }

}

/* GLOBAL *************************************************************************************************************/
@media screen {

    #footers {
        display: block;
        width: 100%;
        max-width: var(--desktop-width);
        margin: 2em auto;
    }

    /* 4 rows of footer content */
    .footer-email, .footer-name, .footer-socials, .footer-copyright {
        display: grid;
        font-family: var(--family-copy);
        text-align: center;
        background-color: var(--color-dark-blue);
        width:100%;
        color:white;
    }

    .footer-email p a {
        color:white;
    }

    .footer-email {
        padding-top:1em;
    }

    .footer-email img {
        margin:auto;
    }

    .footer-eden-icon img, .footer-mw-energy-icon img {
        width: 30px;
        height: 20px;
    }

     .footer-eden-icon img, .footer-mw-energy-icon img, .footer-email img {
        max-width: 100%;
        height:auto;
    }

}