/*******************************************************************************************************************
  GLOBAL BANANAS, MOBILES, SMALL TABLETS - HERE WE COVER ENTIRE WIDTH OF CONTATINERS
*******************************************************************************************************************/
@media only screen
and (min-width: 240px)
and (max-width: 896px)    {

    #footers {
        width:var(--media-unaffected-by-content-width);
    }

    .footer-mobile {
        display:block;
        width:100%;
    }

    .footer-desktop {
        display:none;
    }

    .grid-socials {
        width:25%;
    }

    .footer-eden-icon {
        text-align: right;
    }

    .footer-email-icon {
        text-align: left;
    }

    .footer-email p  {
        font-size: 0.8em;
    }

    .footer-name p  {
        font-size: 1em;
        letter-spacing: .15em;
    }

    .footer-name span  {
        font-size: .9em;
        font-style: italic;
    }

    .footer-eden-icon a, .footer-email-icon {
        font-size: 0.6em;
    }

    .footer-copyright p {
        font-size: .7em;
    }

    .footer-copyright span {
        padding:0 1.5em;
        font-size: .6em;
        line-height: 100%;
    }

}

/*******************************************************************************************************************
    GLOBAL FOR BIG TABLETS, IPADS, LAPTOPS and DESKTOPS
*******************************************************************************************************************/
@media only screen
and (min-width:960px)    {

    #footers {
        width:var(--media-unaffected-by-content-width);
    }

    .footer-mobile{
       display:none;
    }

    .footer-desktop {
        display:block;
        width:100%;
    }

    .footer-email p  {
        font-size: 1.1em;
    }

    .footer-name p  {
        font-size: 2em;
        letter-spacing: .25em;
    }

    .footer-name span  {
        font-size: 1.5em;
        font-style: italic;
    }

    .grid-socials {
        width:60%;
    }

    .footer-eden-icon a, .footer-email-icon {
        font-size: 1.0em;
    }

    .footer-copyright p {
        font-size: 1em;
    }

    .footer-copyright span {
        font-size: .8em;
    }

}

/* GLOBAL *************************************************************************************************************/
@media screen {

    #footers {
        display: block;
        width: 100%;
        max-width: var(--desktop-width);
        margin: auto;
        color: var(--color-dark-blue);
    }

    /* 4 rows of footer content */
    .footer-email, .footer-name, .footer-socials, .footer-copyright {
        display: grid;
        font-family: var(--family-copy);
        text-align: center;
        background-color: var(--color-white);
        width:100%;
    }

    .footer-email {
        margin-top:2em;
        padding-top: 1em;
        border-top:thin dotted var(--color-dark-purple);
    }

    /* row 1 */
    .footer-email img {
        display:block;
        float:left;
        margin:auto;
    }

    /* row 2 */
    .footer-name {
        padding-bottom: 1em;
    }

    /* row 3 */
    .footer-socials {
        /*margin-top:1em;*/
        padding-bottom: 1em;
    }

    .grid-socials {
        /*padding-top:1em;*/
        /*border-top:thin dotted var(--color-dark-purple);*/
    }

    /* row 4 */
    .footer-copyright {
        /*margin-top:1em;*/
        border-bottom:thin dotted var(--color-dark-purple);
        padding-bottom:2em;
    }

    /* row 3 */
     .footer-eden-icon img, .footer-email-icon img {
        max-width: 100%;
        height:auto;
    }

    .footer-email p, .footer-email p a, .footer-name p, .footer-name span, .footer-copyright p, .footer-copyright span  {
        /*color: var(--color-dark-blue);*/
    }

    .grid-socials {
        display: inline-grid;
        grid-template-columns: repeat(2, 50%);
        margin:auto;
    }

    .footer-eden-icon {
        display:grid;
        grid-column: 1;
        justify-items: left;
    }

    .footer-email-icon {
        display:grid;
        grid-column: 2;
        justify-items: right;
    }

}