/*******************************************************************************************************************
  GLOBAL BANANAS, MOBILES, SMALL TABLETS - HERE WE COVER ENTIRE WIDTH OF CONTATINERS
*******************************************************************************************************************/
@media only screen
and (min-width: 240px)
and (max-width: 799px)    {

<!-- row 1 -->
    .footer-email {
        margin-top: 2em;
        padding-top: 1em;
        border-top:thin dotted var(--color-dark-purple);
    }

    .footer-email p  {
        font-size: .8em;
    }

<!-- row 2 -->
    .footer-name {
        padding-bottom: 1em;
    }

    .footer-name p  {
        font-size: .95em;
        letter-spacing: .2em;
    }

    .footer-name span  {
        font-size: 0.8em;
        font-style: italic;
    }

<!-- row 3 -->
    .footer-socials {
        padding-bottom: 1em;
    }

    .grid-socials {
        width:40%;
        margin-left: 30%;
        margin-right: 30%;
    }

<!-- row 4 -->
    .footer-copyright p {
        font-size: .8em;
    }

    .footer-copyright span {
        font-size: .7em;
    }

}

/*******************************************************************************************************************
    GLOBAL FOR BIG TABLETS, IPADS, LAPTOPS and DESKTOPS
*******************************************************************************************************************/
@media only screen
and (min-width:800px)    {

<!-- row 1 -->
    .footer-email {
        margin-top: 2em;
        padding-top: 1em;
        border-top:thin dotted var(--color-dark-purple);
    }

    .footer-email p  {
        font-size: 1.1em;
    }

<!-- row 2 -->
    .footer-name {
        padding-bottom: 1em;
    }

    .footer-name p  {
        font-size: 2em;
        letter-spacing: .2em;
    }

    .footer-name span  {
        font-size: 1.5em;
        font-style: italic;
    }

<!-- row 3 -->
    .footer-socials {
        padding-bottom: 1em;
    }

    .grid-socials {
        width:30%;
        margin-left: 35%;
        margin-right: 35%;
    }

<!-- row 4 -->
    .footer-copyright p {
        font-size: 1em;
    }

    .footer-copyright span {
        font-size: .8em;
    }

}

/* GLOBAL *************************************************************************************************************/
@media screen {

    #footers {
        width:var(--media-unaffected-by-content-width);
    }

    #footers {
        display: block;
        width: 100%;
        max-width: var(--desktop-width);
        margin: 2em auto;
        background: linear-gradient(0.25turn,  #d0d5d8, #fff, #d0d5d8);
        /*background:linear-gradient(to right,#fff, 50%, #d0d5d8 );*/
        color:var(--color-dark-blue);
    }

    /* 4 rows of footer content */
    .footer-email, .footer-name, .footer-socials, .footer-copyright {
        font-family: var(--family-copy);
        text-align: center;
        width:100%;
        color:var(--color-dark-blue);
    }

    .footer-email {
        padding-top:1em;
    }

    .footer-socials {
        margin:auto;
    }

    .grid-socials {
        display: inline-grid;
        grid-template-columns: repeat(3, 33%);
        align-content: center;
    }

    .footer-eden-icon {
        grid-column: 1;
        row:1;
        width:100%;
    }

    .footer-canadian-icon {
        grid-column: 2;
        row:1;
        width:100%;
    }

    .footer-mw-energy-icon {
        grid-column: 3;
        row:1;
        width:100%;
    }

    .footer-email-icon, .footer-eden-icon, .footer-canadian-icon, .footer-mw-energy-icon {
        display:grid;
        width:100%;
        justify-content: center;
        align-content: center;
    }

     .footer-eden-icon img, .footer-canadian-icon img, .footer-mw-energy-icon img, .footer-email-icon img {
        max-width: 100%;
        height:auto;
    }

    .footer-copyright p {
        margin:0;
    }
}