<!-- CLIENT DEMOGRAPHIC INFO -->

<!-- DESKTOP -->
<div class="screen-forms-desktop">
    <div class="sub-form-block">
        <div class="sub-form-title">
            YOUR CONTACT INFORMATION
        </div>

        <div class="sub-form-name-phone-block">
            <label class="sub-form-first-col-label" for="name">Your Full Name:</label>
            <label class="sub-form-second-col-label" for="cellPhone">Phone:</label>

            <input type="text" class="sub-form-first-col-value" [(ngModel)]="client.name" id="name" name="name">
            <input [(ngModel)]="client.cellPhone" type="text"
                   mask="000-000-0000" class="sub-form-second-col-value" id="cellphone" name="cellPhone" oninput="this.value=value">
        </div>

        <div class="sub-form-full-block">
            <label class="sub-form-full-col-label" for="email">Email:</label>
            <input type="text" class="sub-form-full-col-value" [(ngModel)]="client.email" id="email" name="email">
        </div>

        <div class="sub-form-full-block">
            <label class="sub-form-full-col-label" for="address">Home Address:</label>
            <input type="text" class="sub-form-full-col-value" [(ngModel)]="client.address" id="address" name="address">
        </div>

        <div class="sub-form-city-prov-post-block">
            <label class="sub-form-first-col-label" for="city">City/Town:</label>
            <label class="sub-form-second-col-label" for="provState">Province:</label>
            <label class="sub-form-third-col-label" for="pc">Postal Code:</label>

            <input type="text" class="sub-form-first-col-value" [(ngModel)]="client.city" id="city" name="city">
            <input type="text" readonly class="sub-form-second-col-value" [(ngModel)]="client.provState" id="provState" name="provState">

            <input [(ngModel)]="client.pc" type="text" mask="U0U-0U0"
                   class="sub-form-third-col-value" id="pc" name="pc" oninput="this.value = this.value.toUpperCase()">
        </div>

        <div class="sub-form-title">
            OPTIONAL DETAILS
        </div>

        <div class="sub-form-bdate-occup-referred-block">
            <label class="sub-form-first-col-label" for="birthdate">Birthdate:</label>
            <label class="sub-form-second-col-label" for="occupation">Occupation:</label>
            <label class="sub-form-third-col-label" for="referredBy">Referred By:</label>

            <input type="text" class="form-control sub-form-first-col-value" mask="00-00-0000"
                   id="birthdate" [(ngModel)]="client.birthdate" name="birthdate"
                   oninput="this.value=value" placeholder="mm-dd-yyyy">

            <input type="text" class="form-control sub-form-second-col-value" id="occupation" [(ngModel)]="client.occupation"
                   name="occupation">

            <input type="text" class="form-control sub-form-third-col-value" id="referredBy" [(ngModel)]="client.referredBy"
                   name="referredBy">
        </div>

        <div class="sub-form-title">
            EMERGENCY CONTACT
        </div>

        <div class="sub-form-contact-phone-relation-block">
            <label class="sub-form-first-col-label" for="emergName">Contact:</label>
            <label class="sub-form-second-col-label" for="emergPhone">Phone:</label>
            <label class="sub-form-third-col-label" for="emergRelation">Relationship:</label>

            <input type="text" class="sub-form-first-col-value" [(ngModel)]="client.emergName" id="emergName" name="emergName">

            <input [(ngModel)]="client.emergPhone" type="text"
                   mask="000-000-0000"
                   class="sub-form-second-col-value" id="emergPhone" name="emergPhone" oninput="this.value=value">

            <input type="text" class="sub-form-third-col-value" [(ngModel)]="client.emergRelation" id="emergRelation" name="emergRelation">
        </div>
    </div>
</div>

    <!-- MOBILE -->
<div class="screen-forms-mobile">
    <div class="sub-form-block">
        <div class="sub-form-title">
            YOUR CONTACT INFORMATION
        </div>

        <div class="sub-form-full-block">
            <label class="sub-form-full-col-label" for="mName"><b>Your Full Name:</b></label>
            <input type="text" class="sub-form-full-col-value" [(ngModel)]="client.name" id="mName" name="name">

            <label class="sub-form-full-col-label" for="mCellphone"><b>Phone:</b></label>
            <input [(ngModel)]="client.cellPhone" type="text"
                   mask="000-000-0000" class="sub-form-full-col-value" id="mCellphone" name="cellPhone" oninput="this.value=value">

            <label class="sub-form-full-col-label" for="mEmail"><b>Email:</b></label>
            <input type="text" class="sub-form-full-col-value" [(ngModel)]="client.email" id="mEmail" name="email">

            <label class="sub-form-full-col-label" for="mAddress"><b>Home Address:</b></label>
            <input type="text" class="sub-form-full-col-value" [(ngModel)]="client.address" id="mAddress" name="address">

            <label class="sub-form-full-col-label" for="mCity"><b>City/Town:</b></label>
            <input type="text" class="sub-form-full-col-value" [(ngModel)]="client.city" id="mCity" name="city">

            <label class="sub-form-full-col-label" for="mProv"><b>Prov:</b></label>
            <input type="text" readonly class="sub-form-full-col-value" [(ngModel)]="client.provState" id="mProv" name="provState">

            <label class="sub-form-full-col-label" for="mPC"><b>Postal Code:</b></label>
            <input [(ngModel)]="client.pc" type="text" mask="U0U-0U0"
                   class="sub-form-full-col-value" id="mPC" name="pc" oninput="this.value = this.value.toUpperCase()">
        </div>

        <div class="sub-form-title">
            OPTIONAL DETAILS
        </div>

        <div class="sub-form-full-block">
            <label class="sub-form-full-col-label" for="mBirthdate"><b>Birthdate:</b></label>
            <input type="text" class="form-control sub-form-full-col-value" mask="00-00-0000"
                   id="mBirthdate" [(ngModel)]="client.birthdate" name="birthdate"
                   oninput="this.value=value" placeholder="mm-dd-yyyy">

            <label class="sub-form-full-col-label" for="mReferredBy"><b>Referred By:</b></label>
            <input type="text" class="form-control sub-form-full-col-value" id="mReferredBy" [(ngModel)]="client.referredBy"
                   name="referredBy">

            <label class="sub-form-full-col-label" for="mOccupation"><b>Occupation:</b></label>
            <input type="text" class="form-control sub-form-full-col-value" id="mOccupation" [(ngModel)]="client.occupation"
                   name="occupation">
        </div>

        <div class="sub-form-title">
            EMERGENCY CONTACT
        </div>

        <div class="sub-form-full-block">
            <label class="sub-form-full-col-label" for="emergName2"><b>Contact:</b></label>
            <input type="text" class="sub-form-full-col-value" [(ngModel)]="client.emergName" id="emergName2" name="emergName">

            <label class="sub-form-full-col-label" for="emergPhone2"><b>Phone:</b></label>
            <input [(ngModel)]="client.emergPhone" type="text"
                   mask="000-000-0000"
                   class="sub-form-full-col-value" id="emergPhone2" name="emergPhone" oninput="this.value=value">

            <label class="sub-form-full-col-label" for="emergRelation2"><b>Relationship:</b></label>
            <input type="text" class="sub-form-full-col-value" [(ngModel)]="client.emergRelation" id="emergRelation2"
                   name="emergRelation">
        </div>
    </div>
</div>