<!-- CLIENT DEMOGRAPHIC INFO -->

<!-- DESKTOP -->
<div class="screen-forms-desktop">
    <div class="sub-form-block">
        <div class="sub-form-title">
            <p>YOUR CONTACT INFORMATION</p>
        </div>

        <div class="sub-form-name-phone-block">
            <label class="sub-form-first-col-label" for="name">Your Full Name:</label>
            <label class="sub-form-second-col-label" for="cellPhone">Phone:</label>

            <input type="text" class="sub-form-first-col-value" [(ngModel)]="client.name" id="name" name="name">
            <input [(ngModel)]="client.cellPhone" type="text"
                   mask="000-000-0000" class="sub-form-second-col-value" id="cellphone" name="cellPhone" oninput="this.value=value">
        </div>

        <div class="sub-form-email-addr-block">
            <label class="sub-form-first-col-label" for="email">Email:</label>
            <label class="sub-form-second-col-label" for="address">Home Address:</label>

            <input type="text" class="sub-form-first-col-value" [(ngModel)]="client.email" id="email" name="email">
            <input type="text" class="sub-form-second-col-value" [(ngModel)]="client.address" id="address" name="address">
        </div>


        <div class="sub-form-city-prov-post-block">
            <label class="sub-form-first-col-label" for="city">City/Town:</label>
            <label class="sub-form-second-col-label" for="provState">Province:</label>
            <label class="sub-form-third-col-label" for="pc">Postal Code:</label>

            <input type="text" class="sub-form-first-col-value" [(ngModel)]="client.city" id="city" name="city">
            <input type="text" readonly class="sub-form-second-col-value" [(ngModel)]="client.provState" id="provState" name="provState">

            <input [(ngModel)]="client.pc" type="text" mask="U0U-0U0"
                   class="sub-form-third-col-value" id="pc" name="pc" oninput="this.value = this.value.toUpperCase()">
        </div>
    </div>
</div>

    <!-- MOBILE -->
<div class="screen-forms-mobile">
    <div class="sub-form-block">
        <div class="sub-form-title">
            <p>YOUR CONTACT INFORMATION</p>
        </div>

        <div class="sub-form-full-block">
            <label class="sub-form-full-col-label" for="mName"><b>Your Full Name:</b></label>
            <input type="text" class="sub-form-full-col-value" [(ngModel)]="client.name" id="mName" name="name">

            <label class="sub-form-full-col-label" for="mCellphone"><b>Phone:</b></label>
            <input [(ngModel)]="client.cellPhone" type="text"
                   mask="000-000-0000" class="sub-form-full-col-value" id="mCellphone" name="cellPhone" oninput="this.value=value">

            <label class="sub-form-full-col-label" for="mEmail"><b>Email:</b></label>
            <input type="text" class="sub-form-full-col-value" [(ngModel)]="client.email" id="mEmail" name="email">

            <label class="sub-form-full-col-label" for="mAddress"><b>Home Address:</b></label>
            <input type="text" class="sub-form-full-col-value" [(ngModel)]="client.address" id="mAddress" name="address">

            <label class="sub-form-full-col-label" for="mCity"><b>City/Town:</b></label>
            <input type="text" class="sub-form-full-col-value" [(ngModel)]="client.city" id="mCity" name="city">

            <label class="sub-form-full-col-label" for="mProv"><b>Prov:</b></label>
            <input type="text" readonly class="sub-form-full-col-value" [(ngModel)]="client.provState" id="mProv" name="provState">

            <label class="sub-form-full-col-label" for="mPC"><b>Postal Code:</b></label>
            <input [(ngModel)]="client.pc" type="text" mask="U0U-0U0"
                   class="sub-form-full-col-value" id="mPC" name="pc" oninput="this.value = this.value.toUpperCase()">
        </div>
    </div>
</div>