<div class="header-detail-image-container">
    <div class="header-detail-image">
        <img src="assets/images/headers/planAhead/headerConsiderAdvocates.jpg" title={{title}} alt={{title}}>
    </div>

    <div class="header-detail-image-quotes">
        <div class="header-detail-image-quote">
            &#8220;{{ quote }}&#8220;
        </div>
        <div class="header-detail-image-author">
            {{ author }}
        </div>
    </div>
</div>

<div class="content-container">
    <div class="content-title">
        <h1>{{ title }}</h1>
    </div>

    <div class="content-copy">
        <p>
            Let's say you are in an accident or suffer a critical illness and end up in Emergency and are incapable of
            answering for yourself. When you arrive at the hospital - a health care team member must contact your
            next-of-kin in order to find an advocate for you. This is the critical moment where what you have done or not done in the past
            to plan for your own care will dictate what happens next. Who do you trust with your life?
        </p>
    </div>

    <div class="content-title">
        <h2>Option 1:<br>
            You did not choose anyone to advocate for you.</h2>
    </div>

    <div class="content-copy">
        <p>
            If you have followed Option 1 and have not formally chosen an advocate then the hospital must follow the rules set by
            law (in B.C.) and contact your next of kin based on a specific list called the Temporary Substitute Decision Maker
            (TSDM).
            <br><br>
            The health care provider will start at the top of this form contacting a next of kin. If the first person on that list is not
            qualified or available to advocate for you, they will then move down the list. The hierarchy of contacts set out must be
            followed
            in this order:
        </p>
    </div>

    <div class="content-title">
        <h2>TSDM List of Next of Kin</h2>
    </div>

    <ul class="content-list yin-yang">
        <li class="list-item pad-top-none">Spouse</li>
        <li class="list-item">Adult Children if any</li>
        <li class="list-item">Parents</li>
        <li class="list-item">Siblings</li>
        <li class="list-item">Grandparents</li>
        <li class="list-item">Grandchildren</li>
        <li class="list-item">Others related by birth or adoption</li>
        <li class="list-item">Close friend(s)</li>
        <li class="list-item">Others related by marriage</li>
    </ul>

    <div class="content-title">
        <div *ngIf="sectionSelected === 'triggeredSection1'">
            <h3>
                <a (click)="this.getTriggeredPromptKey(0)">
                    Close the TSDM Form: &#x25BC;
                </a>
            </h3>
        </div>

        <div *ngIf="sectionSelected != 'triggeredSection1'">
            <h3>
                <a (click)="this.getTriggeredPromptKey(1)">
                    See the TSDM Form: &#x25B6;
                </a>
            </h3>
        </div>
    </div>

    <div *ngIf="sectionSelected === 'triggeredSection1'">
        <div class="content-images with-dark-border">
            <img alt="Choose a Representative" src="assets/images/details/planAhead/considerAdvocates/tsdmForm.jpg">
        </div>
    </div>

    <div class="content-copy">
        <p>
            If you have no issues with your health and life decisions being made by a family member or friend
            selected by a health care professional you have never met, then this might work for you. If, however you know that
            you want your oldest
            grand-child who is legally eligible to be the decision maker for you, but you have not legally specified this, it is
            highly unlikely that they will work their way down the list to that level. Maybe instead, they will choose your spouse,
            the top person on the list to call. This could be a soon-to-be-ex-spouse who may not have your best interests at heart.
            Your new significant other, who is your true love, may not even show up on the list.
        </p>
    </div>

    <div class="detail-quotes">
        <div class="detail-quote">
            &#8220;The best index to a person's character is how they treat people who can't do them any good and how they treat people
            who can't fight back.&#8220;
        </div>

        <div class="detail-author">
            Abigail Van Buren
        </div>
    </div>

    <div class="content-copy">
        <p>
            The confusing part about this form is that it implies that you can simply enter the names of your family members and then circle
            the person you want to protect you. But they are under no obligation to pick your chosen person, the one you may have circled in
            other words. All it does is make it easier for the health care team to contact your family members.
            Isn't it smarter to be more proactive and specifically choose your advocates?
        </p>
    </div>

    <div class="content-images">
        <img alt="Choose a Representative" src="assets/images/details/planAhead/considerAdvocates/walkingPath.jpg">
    </div>

    <div class="content-title">
        <h2>Option 2:<br>
            You assigned people you trust to advocate for you.</h2>
    </div>

    <div class="content-copy">
        <p>
            It is for this reason, that it is smart and proactive to designate your own preferred health care advocate(s) who will be
            able to make those life and death decisions on your behalf. By simply selecting the one or, at maximum two people you trust and
            filling out a form called a Representative Section 9, you have taken your own power back.
            <br><br>
            You do not need to spend money specifying your Representative(s) - no need for a lawyer or notary unless you feel you want to go
            that route. The Representative Section 9 form is considered valid and legal in B.C. as long as it is signed by you, your
            representatives and your witnesses.
        </p>
    </div>

    <div class="detail-quotes">
        <div class="detail-quote">
            &#8220;Woe, destruction, ruin, and decay; The worst is death, and death will have his day.&#8221;
        </div>

        <div class="detail-author">
            William Shakespeare
        </div>
    </div>

    <div class="content-copy">
        <p>
            Before completing the Representative Section 9 form, you should ask the person or persons you want to assign the task first to
            make sure they are willing to take on the task.
            <br><br>
            There are a number of Rep 9 forms created by different agencies including the Attorney General of B.C., the Dying with Dignity
            Association and Palliative Care B.C. They may vary wording slightly but they must all follow the legal guidelines.
        </p>
    </div>

    <div class="content-title">
        <h2>What Care can an Advocate Provide?</h2>
    </div>

    <div class="content-copy">
        <p>
            Whether you choose your advocate via a Representative Section 9 document or leave it up to the health care team to assign you
            one
            via the TSDM, these are some of the personal and health care decisions they can make:
        </p>
    </div>

    <div class="content-images">
        <img alt="Consider your Advocates" title="Consider your Advocates"
             src="assets/images/details/planAhead/considerAdvocates/advocates.jpg">
    </div>

    <div class="content-title">
        <h2>Personal Care Decisions your Advocate can Make:</h2>
    </div>

    <ul class="content-list yin-yang">
        <li class="list-item pad-top-none">where you will reside when in care (examples are a hospital, home care, hospice etc.)</li>
        <li class="list-item">your diet (alert them to foods you are allergic to, whether vegetarian etc.)</li>
        <li class="list-item">your clothing and hygiene - they can bring you the clothes you like etc.</li>
        <li class="list-item">who can have contact with you and who should not.</li>
    </ul>

    <div class="content-title">
        <h2>Health care decisions your Advocate can make for you:</h2>
    </div>

    <ul class="content-list yin-yang">
        <li class="list-item pad-top-none">agreeing to any tests or examinations.</li>
        <li class="list-item">agreeing to treatments and procedures such as surgery.</li>
        <li class="list-item">agreeing to the giving of medications and vaccines.</li>
        <li class="list-item">making decisions about life support and life prolonging procedures.</li>
    </ul>

    <div class="content-title">
        <h2>
            The Duties of a Representative:
        </h2>
    </div>

    <div class="content-copy">
        <p>
            This person will now be able to request or deny any health care treatments presented by the health care team as necessary or
            recommended UNLESS you have written an advance care document specifically stating which treatments you reject or accept.
        </p>
    </div>

    <div class="content-title">
        <div *ngIf="sectionSelected === 'triggeredSection2'">
            <h3>
                <a (click)="this.getTriggeredPromptKey(0)">
                    Close the Rep 9 Form:&#x25BC;
                </a>
            </h3>
        </div>

        <div *ngIf="sectionSelected != 'triggeredSection2'">
            <h3>
                <a (click)="this.getTriggeredPromptKey(2)">
                    See the Rep 9 Form:&#x25B6;
                </a>
            </h3>
        </div>
    </div>

    <div *ngIf="sectionSelected === 'triggeredSection2'">
        <div class="content-images with-dark-border">
            <img alt="Choose a Representative" src="assets/images/details/planAhead/considerAdvocates/sectionNineAll.jpg">
        </div>
    </div>

    <div class="content-copy">
        <p>
            The only way you can actually name your advocate
            (in B.C.) is to fill out the Representative Section 9 form and have it witnessed by one or two people (one only if a lawyer or
            notary) dated and printed.
            <br><br>
            Fill out the TSDM form if you want to provide them with phone numbers and addresses of important people, but realize it is not a
            legally binding paper and does not protect you like a Representative Secion 9 does.
        </p>
    </div>

    <div class="content-title">
        <h2>Legal Requirements for Assigning a Representative:</h2>
    </div>

    <ul class="content-list yin-yang">
        <li class="list-item pad-top-none">They must be 19 years of age or older.</li>
        <li class="list-item">they must not provide personal care or health care services to you for compensation.</li>
        <li class="list-item">they may not be an employee at a facility where you reside such as a care home (unless they are your child,
            parent or spouse).
        </li>
    </ul>

    <div class="content-title">
        <h2>Some of the things to consider:</h2>
    </div>

    <ul class="content-list yin-yang">
        <li class="list-item pad-top-none">Would they be accountable to you and the health care personnel?</li>
        <li class="list-item">Would they be able to exercise the duties set out for them?</li>
        <li class="list-item">Would they act honestly and honorably on your behalf?</li>
        <li class="list-item">Do they have good communication skills?</li>
        <li class="list-item">Would they respect and abide by your wishes?</li>
        <li class="list-item">Are they careful record keepers?</li>
        <li class="list-item">Are they confident enough to accept sole authority for your care?</li>
        <li class="list-item">Are they capable of also seeking advice from others?</li>
        <li class="list-item">Can they keep all information confidential?</li>
        <li class="list-item">Can they remain calm in a crisis?</li>
        <li class="list-item">Are they ready and willing to take on the role?</li>
        <li class="list-item">Do you trust them to make the proper decisions for you?</li>
        <li class="list-item">Can they make difficult decisions?</li>
    </ul>

    <div class="content-title">
        <h2>Your Representative has the right to:</h2>
    </div>

    <ul class="content-list yin-yang">
        <li class="list-item pad-top-none">Visit and talk to you as needed with open communication.</li>
        <li class="list-item">The same medical information you would have access to.</li>
        <li class="list-item">Ask all reasonable questions about your health and prognosis.</li>
        <li class="list-item">Be paid for out-of-pocket expenses related to your care (keep receipts).</li>
        <li class="list-item">Hire help and support to help them carry out your written requests.</li>
        <li class="list-item">Be protected from liability for any errors or damages that occur.</li>
        <li class="list-item">Resign from the role at any time.</li>
        <li class="list-item">Request compassionate leave from work to care for you.</li>
    </ul>

    <div class="content-title">
        <h2>Your Representative has a duty to:</h2>
    </div>

    <ul class="content-list yin-yang">
        <li class="list-item pad-top-none">Consider whether your health is likely to be improved by a treatment or not.</li>
        <li class="list-item">Consider if your well-being will be improved by a proposed treatment.</li>
        <li class="list-item">Consider if the proposed treatment’s benefits outweigh the risks.</li>
        <li class="list-item">Investigate whether a less intrusive treatment may be as helpful.</li>
        <li class="list-item">Resist being pressured into agreeing to any treatment you would not want.</li>
        <li class="list-item">Review your wishes (ex. once a year) or as your health changes.</li>
        <li class="list-item">Allow you say should you still have the capability to make partial decisions.</li>
        <li class="list-item">Follow your wishes no matter how they feel about them.</li>
        <li class="list-item">Ensure that they have access to all your health records, prescriptions etc.</li>
        <li class="list-item">Have all advance care documents stored for easy access.</li>
    </ul>

    <div class="content-title">
        <h2>Your Representative can not:</h2>
    </div>

    <ul class="content-list yin-yang">
        <li class="list-item pad-top-none">Make some decisions related to your mental health.</li>
        <li class="list-item">Authorize removal of organs.</li>
        <li class="list-item">Allow for experimental health care practices.</li>
        <li class="list-item">Authorize abortions or sterilization.</li>
        <li class="list-item">Take over care and education of your underage (less than 19) children or other dependents.</li>
        <li class="list-item">Allow for methods that interfere with your religious beliefs.</li>
        <li class="list-item">Make changes to your Will.</li>
        <li class="list-item">Give or refuse consent on your behalf to any type of health care prescribed under section 34 (2) (f) of the
            Health Care (Consent) and Care Facility (Admission) Act.
        </li>
    </ul>

    <div class="content-title">
        <h2>The following persons may not be a Witness:</h2>
    </div>

    <ul class="content-list yin-yang">
        <li class="list-item pad-top-none">Your primary or alternate representative.</li>
        <li class="list-item">A spouse, child, parent or employee of either representative.</li>
        <li class="list-item">A person who provides personal care, health care or financial services to you for compensation (other than a
            Lawyer or Notary Public).
        </li>
        <li class="list-item">A person who is under 19 years of age.</li>
        <li class="list-item">A person who does not understand the type of communication used by you if there is no access to an
            interpreter.
        </li>
    </ul>


</div>

