<div class="header-detail-image header-consider-advocates-image">
    <div class="quote">
        &#8220;{{quote}}&#8220;
    </div>
    <div class="author">
        {{author}}
    </div>
</div>

<div class="content-title">
    <h1>{{title}}</h1>
</div>

<div class="content-dark-copy">
    <p>
        Let's say you are in an accident or suffer a critical illness and end up in Emergency and are incapable of
        answering for yourself. When you arrive at the hospital - a health care team member must contact your
        next-of-kin in order to find an advocate for you. This is the critical moment where what you have done or not done in the past
        to plan for your own care will dictate what happens next. Who do you trust with your life?
    </p>
</div>

<div class="content-title">
    <h3><b>Option 1: You did not choose anyone to advocate for you so will let the health care team decide.</b></h3>
</div>

<div class="content-dark-copy">
    <p>
        If you have followed Option 1 and have not formally chosen an advocate then the hospital must follow the rules set by
        law (in B.C.) and contact your next of kin based on a specific list called the Temporary Substitute Decision Maker
        (TSDM).
        <br><br>
        The health care provider will start at the top of this form contacting a next of kin. If the first person on that list is not
        qualified or available to advocate for you, they will then move down the list. The hierarchy of contacts set out must be followed
        in this order:
    </p>
</div>

<div class="content-title">
    <h3>TSDM List of Next of Kin</h3>
</div>

<ul class="content-dark-list infinity">
    <li class="list-item">Spouse</li>
    <li class="list-item">Adult Children if any</li>
    <li class="list-item">Parents</li>
    <li class="list-item">Siblings</li>
    <li class="list-item">Grandparents</li>
    <li class="list-item">Grandchildren</li>
    <li class="list-item">Others related by birth or adoption</li>
    <li class="list-item">Close friend(s)</li>
    <li class="list-item">Others related by marriage</li>
</ul>

<div class="content-dark-copy">
    <div *ngIf="sectionSelected === 'triggeredSection1'">
        <p>
            <a (click)="this.getTriggeredPromptKey(0)">
                Close the TSDM Form: &#x25BC;
            </a>
        </p>
    </div>

    <div *ngIf="sectionSelected != 'triggeredSection1'">
        <p>
            <a (click)="this.getTriggeredPromptKey(1)">
                See the TSDM Form: &#x25B6;
            </a>
        </p>
    </div>
</div>

<div *ngIf="sectionSelected === 'triggeredSection1'">
    <div class="content-images with-dark-border">
        <img alt="Choose a Representative" src="assets/images/details/planAhead/considerAdvocates/tsdmForm.jpg">
    </div>
</div>

<div class="content-dark-copy">
    <p>
        If you have no issues with your health and life decisions being made by a family member or friend
        selected by a health care professional you have never met, then this might work for you. If, however you know that
        you want your oldest
        grand-child who is legally eligible to be the decision maker for you, but you have not legally specified this, it is
        highly unlikely that they will work their way down the list to that level. Maybe instead, they will choose your spouse,
        the top person on the list to call. This could be a soon-to-be-ex-spouse who may not have your best interests at heart.
        Your new significant other, who is your true love, may not even show up on the list.
        <br><br>
        The confusing part about this form is that it implies that you can simply enter the names of your family members and then circle
        the person you want to protect you. But they are under no obligation to pick your chosen person, the one you may have circled in
        other words. All it does is make it easier for the health care team to contact your family members.
        Isn't it smarter to be more proactive and specifically choose your Advocates?
    </p>
</div>

<div class="content-images">
    <img alt="Choose a Representative" src="assets/images/details/planAhead/considerAdvocates/walkingPath.jpg">
</div>

<div class="content-title">
    <h3><b>Option 2: You took action and assigned the people you trust the most to advocate for you.</b></h3>
</div>

<div class="content-dark-copy">
    <p>
        It is for this reason, that it is smart and proactive to designate your own preferred health care advocate(s) who will be
        able to make those life and death decisions on your behalf. By simply selecting the one or, at maximum two people you trust and
        filling out a form called a Representative Section 9, you have taken your own power back.
        <br><br>
        You do not need to spend money specifying your Representative(s) - no need for a lawyer or notary unless you feel you want to go
        that route. The Representative Section 9 form is considered valid and legal in B.C. as long as it is signed by you, your
        representatives and your witnesses.
        <br><br>
        Before completing the Representative Section 9 form, you should ask the person or persons you want to assign the task first to
        make sure they are willing to take on the task.
    </p>
</div>

<div class="content-images">
    <img src="assets/images/details/getHelp/bookConsult/subwaySleeper.jpg" alt="subway Sleeper" title="subway Sleeper">
</div>

<div class="content-title">
    <h3>What care can an advocate provide?</h3>
</div>

<div class="content-dark-copy">
    <p>
        Whether you choose your advocate via a Representative Section 9 document or leave it up to the health care team to assign you one
        via the TSDM, these are some of the personal and health care decisions they can make:
    </p>
</div>

<div class="content-dark-copy">
    <p>
        <b>Personal care decisions your Advocate can make for you:</b>
    </p>
</div>

<ul class="content-dark-list infinity">
    <li class="list-item">where you will reside when in care (examples are a hospital, home care, hospice etc.)</li>
    <li class="list-item">your diet (ie alert them to foods you are allergic to, whether vegetarian etc. </li>
    <li class="list-item">your clothing and hygiene - they can bring you the clothes you like etc.</li>
    <li class="list-item">who can have contact with you and who should not.</li>
</ul>

<div class="content-dark-copy">
    <p>
        <b>Health care decisions your Advocate can make for you:</b>
    </p>
</div>

<ul class="content-dark-list infinity">
    <li class="list-item">agreeing to any tests or examinations.</li>
    <li class="list-item">agreeing to treatments and procedures such as surgery.</li>
    <li class="list-item">agreeing to the giving of medications and vaccines.</li>
    <li class="list-item">making decisions about life support and life prolonging procedures.</li>
</ul>


<div class="content-dark-copy">
    <p>
        <!--You can leave the choosing of your health advocate up to the health care team by NOT setting up a Representative. They will
        choose your advocate by following the Temporary Substitute Decision Maker List moving from the top of the list down. They will
        try to contact the person at the top, if not available they will move down till they find someone who will agree to represent you.
        <br><br>-->
        This person will now be able to request or deny any health care treatments presented by the health care team as necessary or
        recommended UNLESS you have written an advance care document specifically stating which treatments you reject or accept.
        <br><br>
        <!--So it is a bit of a crap shoot in this situation in that who represents you is not chosen by you, yourself, the one who matters
        in all this.
        <br><br>-->

        The only way you can actually name your Advocate
        (in B.C.) is to fill out the Representative Section 9 form and have it witnessed by one or two people (one only if a lawyer or
        notary) dated and printed. You can use our (free) <a routerLink="/chooseReps">Choose your Representative Wizard</a> to do this
        now. Print it and store it with your other papers.
        <br><br>
        Fill out the TSDM form if you want to provide them with phone numbers and addresses of important people, but realize it is not a
        legally binding paper and does not protect you like a Representative Secion 9 does.
    </p>
</div>

<div class="content-title">
    <h3>Legal Requirements for Assigning a Representative:</h3>
</div>

<ul class="content-dark-list infinity">
    <li class="list-item">They must be 19 years of age or older.</li>
    <li class="list-item">they must not provides personal care or health care services to you for compensation.</li>
    <li class="list-item">they may not be an employee at a facility where you reside such as a care home
        (unless they are your child, parent or spouse).
    </li>
</ul>

<div class="content-title">
    <h3>Some of the things to consider:</h3>
</div>

<ul class="content-dark-list infinity">
    <li class="list-item">Would they be accountable to you and the health care personnel?</li>
    <li class="list-item">Would they be able to exercise the duties set out for them?</li>
    <li class="list-item">Would they act honestly and honorably on your behalf?</li>
    <li class="list-item">Do they have good communication skills?</li>
    <li class="list-item">Would they respect and abide by your wishes?</li>
    <li class="list-item">Are they careful record keepers?</li>
    <li class="list-item">Are they confident enough to accept sole authority for your care?</li>
    <li class="list-item">Are they capable of also seeking advice from others?</li>
    <li class="list-item">Can they keep all information confidential?</li>
    <li class="list-item">Can they remain calm in a crisis?</li>
    <li class="list-item">Are they ready and willing to take on the role?</li>
    <li class="list-item">Do you trust them to make the proper decisions for you?</li>
    <li class="list-item">Can they make difficult decisions?</li>
</ul>

<div class="content-title">
    <h3>Your Representative has the right to:</h3>
</div>

<ul class="content-dark-list infinity">
    <li class="list-item">Visit and talk to you as needed with open communication.</li>
    <li class="list-item">The same medical information you would have access to.</li>
    <li class="list-item">Ask all reasonable questions about your health and prognosis.</li>
    <li class="list-item">Be paid for out-of-pocket expenses related to your care (keep receipts).</li>
    <li class="list-item">Hire help and support to help them carry out your written requests.</li>
    <li class="list-item">Be protected from liability for any errors or damages that occur.</li>
    <li class="list-item">Resign from the role at any time.</li>
    <li class="list-item">Request compassionate leave from work to care for you.</li>
</ul>

<div class="content-title">
    <h3>Your Representative has a duty to:</h3>
</div>

<ul class="content-dark-list infinity">
    <li class="list-item">Consider whether your health is likely to be improved by a treatment or not.</li>
    <li class="list-item">Consider if your well-being will be improved by a proposed treatment.</li>
    <li class="list-item">Consider if the proposed treatment’s benefits outweigh the risks.</li>
    <li class="list-item">Investigate whether a less intrusive treatment may be as helpful.</li>
    <li class="list-item">Resist being pressured into agreeing to any treatment you would not want.</li>
    <li class="list-item">Review your wishes (ex. once a year) or as your health changes.</li>
    <li class="list-item">Allow you say should you still have the capability to make partial decisions.</li>
    <li class="list-item">Follow your wishes no matter how they feel about them.</li>
    <li class="list-item">Ensure that they have access to all your health records, prescriptions etc.</li>
    <li class="list-item">Has all advance care documents for easy access.</li>
</ul>

<div class="content-title">
    <h3>Your Representative can not:</h3>
</div>

<ul class="content-dark-list infinity">
    <li class="list-item">Make some decisions related to your mental health.</li>
    <li class="list-item">Authorize removal of organs.</li>
    <li class="list-item">Allow for experimental health care practices.</li>
    <li class="list-item">Authorize abortions or sterilization.</li>
    <li class="list-item">Take over care and education of your underage (less than 19) children or other dependents.</li>
    <li class="list-item">Allow for methods that interfere with your religious beliefs.</li>
    <li class="list-item">Make changes to your Will.</li>
    <li class="list-item">Give or refuse consent on your behalf to any type of health care prescribed under section 34 (2) (f) of the
        Health Care (Consent) and Care Facility (Admission) Act.
    </li>
</ul>

<div class="content-title">
    <h3>Witness Criteria:</h3>
</div>

<div class="content-dark-copy">
    <p>
        <b>The following persons may not be a Witness:</b>
    </p>
</div>

<ul class="content-dark-list infinity">
    <li class="list-item">Your primary or alternate Representative.</li>
    <li class="list-item">A spouse, child, parent or employee of either Representative.</li>
    <li class="list-item">A person who provides personal care, health care or financial services to you for compensation (other than a
        Lawyer or Notary Public).
    </li>
    <li class="list-item">A person who is under 19 years of age.</li>
    <li class="list-item">A person who does not understand the type of communication used by you if there is no access to an interpreter.
    </li>
</ul>

<div class="content-dark-copy">
    <p>
        There are a number of Rep 9 forms created by different agencies including the Attorney General of B.C., the Dying with Dignity
        Association and Palliative Care B.C. They may vary wording slightly but they must all follow the legal guidelines.
    </p>
</div>

<div class="content-dark-copy">
    <div *ngIf="sectionSelected === 'triggeredSection2'">
        <p>
            <a (click)="this.getTriggeredPromptKey(0)">
                Close the Rep 9 Form:&#x25BC;
            </a>
        </p>
    </div>

    <div *ngIf="sectionSelected != 'triggeredSection2'">
        <p>
            <a (click)="this.getTriggeredPromptKey(2)">
                See the Rep 9 Form:&#x25B6;
            </a>
        </p>
    </div>
</div>

<div *ngIf="sectionSelected === 'triggeredSection2'">
    <div class="content-images with-dark-border">
        <img alt="Choose a Representative" src="assets/images/details/planAhead/considerAdvocates/sectionNineAll.jpg">
    </div>

    <div class="content-dark-copy">
        <p>
            This first section of the Rep 9 form states that this particular document is one of many replications available on the
            Internet. It reiterates that this form doesn't constitute legal advice, may not be suitable for everyone and can and may be
            updated at any time.
            <br><br>
            <b>SECTION 1</b> is where you fill in your full legal name, full address and the current date. Make sure you fill these in as
            they are
            shown on other legal documents such as your drivers license or tax forms.
            <br><br>
            <b>SECTION 2</b> relates to any previous Representative Section-9 from you may have written. If this is your first
            Representative
            Section-9 agreement, you can disregard this line. If it isn't you need to follow the instructions at the bottom of the page to
            revoke your original Representative.
            <br><br>
            <b>SECTION 3</b> is where you fill in the full legal name and full legal address of your primary Substitute Decision Maker, also
            known
            simply as 'Representative'.
        </p>
    </div>

    <div class="content-dark-copy">
        <p>
            <b>SECTION 4</b> is where you fill in the full legal name and full address of your Alternate Substitute Decision Maker, also
            known
            simply as your 'Alternate Representative'. You can choose an Alternate Representative to ensure that you are still protected if
            your first Representative either dies or resigns him or herself from the position or becomes 'incapable'. It is also to protect
            yourself should you divorce or separate from your Primary Representative.
            <br><br>
            <b>SECTION 5</b> is not relevant to you if you have NOT appointed an Alternate Representative. If you have no Alternate
            Representative,
            cross (X) this line out. If you have appointed an Alternate and you wish to substitute them for the Primary Representative you
            need to
            fill out the STATUTORY DECLARATON FOR EVIDENCE OF AUTHORITY OF ALTERNATE REPRESENTATIVE found at the bottom of the document.
            <br><br>
            <b>SECTION 6</b> states that you give permission for your Representative(s) to present and support your health care wishes to
            the medical
            community.
            <br><br>
            <b>SECTION 7</b> allows you to write down specific wishes and requests related to your health care. For example if you are
            suffering
            from a disease with no cure, you may want to write down your NO CPR directive. If you also fill out an Advanced Care Plan, you
            are
            prompted to answer your wishes related to many of the common situations.
            <br><br>
            <b>SECTION 8</b> simply states that the agreement becomes valid as of the date signed by you, your Representative(s) and your
            Witnesses.
            <br><br>
            <b>SECTION 9 - ADULT'S SIGNATURE:</b> is where you sign the form, print your name and write the date in front of your Witnesses.
            <br><br>
            <b>SECTION 9 - WITNESSES TO ADULT'S SIGNATURE:</b> is where the Witnesses sign, printing out their full name and full legal
            address. If one of your witnesses is a Lawyer or
            Notary Public, you only need one witness. If not, you need two Witnesses. They must witness you sign the form here.
            <br><br>
            Check below to make sure the witnesses you have chosen meet the criteria set out by law. You will need to obtain two witnesses
            unless you employ a lawyer or Notary Public in which case only 1 signature is needed. The witnesses must be on hand to watch you
            sign before they sign.
            <br><br>
            <b>SECTION 9 - REPRESENTATIVES SIGNATURES:</b> is where you and your primary and secondary, if
            applicable, Representative(s) sign the
            form. They do not have to sign this portion in front of Witnesses.
            <br><br>
            This document should be kept with your will, and a copy should be given to the Representative you choose, the alternate if you
            choose,
            to have one. You can also leave a copy with your family doctor. Let your family, specifically your Representatives know where
            you have
            placed all your important documents. I personally have all of my documents, including the financial information in a fire-proof
            safe.
            Paramedics know to look for any kind of directive on or in your fridge.
        </p>
    </div>
</div>

<div class="content-title">
    <h3>Changing your Representative(s)</h3>
</div>

<div class="content-dark-copy">
    <p>
        If you already have a Representative appointed that you need to remove, you need to give written notice of the revocation to
        the representative and the alternate representative named in that representation agreement. Revocation of a
        former Section 9 Representation Agreement is effective when this notice is given, or on a later date stated in the notice. This
        form must be witnessed by a lawyer or notary public.
    </p>
</div>

<div class="content-dark-copy">
    <div *ngIf="sectionSelected === 'triggeredSection3'">
        <p>
            <a (click)="this.getTriggeredPromptKey(0)">
                Close Change Your Representative Form:&#x25BC;
            </a>
        </p>
    </div>

    <div *ngIf="sectionSelected != 'triggeredSection3'">
        <p>
            <a (click)="this.getTriggeredPromptKey(3)">
                See the Change Your Representative Form:&#x25B6;
            </a>
        </p>
    </div>
</div>

<div *ngIf="sectionSelected === 'triggeredSection3'">
    <div class="content-images with-dark-border">
        <img alt="Change Your Representative" src="assets/images/details/planAhead/considerAdvocates/changeRepForm.jpg">
    </div>
</div>

<div class="quotes">
    <p>
        &#8220;Ask for help not because you are weak, but because you want to remain strong.&#8220;
    </p>
    <span>Les Brown</span>
</div>
