<!-- DISCLAIMER-->
<div class="print-form-disclaimer-block">
    <h2>
        Please Read and Sign:
    </h2>

    <p>
        I understand that the consultations I will receive are provided for the basic purpose of preparing myself
        and my family for my eventual end of life care and legacy. I know that you, as an end of life consultant, can help with health
        related questions and concerns. This may allow me to better plan, prepare and document all of my wishes and hopes for a
        good ending for myself or a family member.
        <br><br>
        But I further understand that end of life consultants are not a substitute for medical palliative care, hospice care or
        emergency care but are rather meant to fill the gaps that standard medical care can not fill. I also understand that
        consultants can never initiate conversations related to MAID, but if asked can clarify the latest rules as best as possible.
        For further information about the new MAID laws contact Dying With Dignity Canada.
        <br><br>
        I also know that end of life consultants can do much to aid in the comfort and care of a dying person but they can not
        prescribe or give out medications of any kind.
        <br><br>
        I understand that I must have proof of up-to-date Covid vaccinations in order to meet with you in person. If I have not
        been vaccinated I can still see you via a remote call, for example a Zoom or phone meeting.
        <br><br>
        I agree to provide 24 hours notice if I want to cancel an appointment. By signing below I agree and accept the above conditions.
    </p>
</div>

<div class="print-form-signature-block">
   <label class="print-form-date-label" for="dateD">Date:</label>
   <input [(ngModel)]="client.defaultDate" type="text" class="print-form-date-value" id="dateD" name="date">

   <label class="print-form-signature-label" for="sigD">Signature:</label>
   <input type="text" class="print-form-signature-value" id="sigD">
</div>




