
<!-- this is only called when the screen is in mobile mode as they do not use the modal dialog container-->

<ng-container *ngIf="!modal">
    <app-dialog-header
        [directive]='directive'
        [title]='title'
        [modal]='modal'>
    </app-dialog-header>

    <div class="form-inner-block-plan">
        <app-screen-form-write-directive-overview
            [directive]="directive"
            [modal]="modal">
        </app-screen-form-write-directive-overview>
    </div>
</ng-container>

<app-print-modal-write-advance-directive [directive]="directive"></app-print-modal-write-advance-directive>