<div class="dark-heading">
    <h1>END OF LIFE PATIENT SUPPORT</h1>
</div>

<form (ngSubmit)="onSubmit()">
    <div class="forms-desktop">

        <app-demographics></app-demographics>

        <div class="form-heading">
            Your Concerns and Goals
        </div>

        <div class="text-prompt">
            What would be your main area of focus for seeking a consultation?
        </div>

        <div class="two-equal-inline-grid">
            <div class="first-inline-col">
                <input type="checkbox" id="primaryFocus1" [(ngModel)]="model.primaryFocus" value="patientFocus1">
                <label for="primaryFocus1">
                    I have been diagnosed with a terminal illness
                </label>
            </div>

            <div class="second-inline-col">
                <input type="checkbox" id="primaryFocus2" [(ngModel)]="model.primaryFocus" value="patientFocus2">
                <label for="primaryFocus2">
                    I am scared, angry , depressed and need emotional support
                </label>
            </div>
        </div>

        <div class="two-equal-inline-grid">
            <div class="first-inline-col">
                <input type="checkbox" id="primaryFocus3" [(ngModel)]="model.primaryFocus" value="patientFocus3">
                <label for="primaryFocus3">
                    I am physically unable to care for myself as I used to
                </label>
            </div>

            <div class="second-inline-col">
                <input type="checkbox" id="primaryFocus4" [(ngModel)]="model.primaryFocus" value="patientFocus4">
                <label for="primaryFocus4">
                    I need to discuss things with my family but they won't listen
                </label>
            </div>
        </div>

        <div class="two-equal-inline-grid">
            <div class="first-inline-col">
                <input type="checkbox" id="primaryFocus5" [(ngModel)]="model.primaryFocus" value="patientFocus5">
                <label for="primaryFocus5">
                    My family is fighting and arguing about my care
                </label>
            </div>

            <div class="second-inline-col">
                <input type="checkbox" id="primaryFocus6" [(ngModel)]="model.primaryFocus" value="patientFocus6">
                <label for="primaryFocus6">
                    I want to write down my wishes and requests while I still can
                </label>
            </div>
        </div>

        <div class="two-equal-inline-grid">
            <div class="first-inline-col">
                <input type="checkbox" id="primaryFocus7" [(ngModel)]="model.primaryFocus" value="patientFocus7">
                <label for="primaryFocus7">
                    I am afraid I won't be able to handle the pain
                </label>
            </div>

            <div class="second-inline-col">
                <input type="checkbox" id="primaryFocus8" [(ngModel)]="model.primaryFocus" value="patientFocus8">
                <label for="primaryFocus8">
                    I feel that the health care team doesn't explain enough to me
                </label>
            </div>
        </div>

        <div class="text-prompt">
            Can you expand on what you are looking for related to the above answer?
        </div>

        <div class="full-width-grid">
            <textarea rows=6 id="mainIssues" [(ngModel)]="model.mainIssues" name="mainIssues"> </textarea>
        </div>

        <app-medical></app-medical>
    </div>
</form>

