
<div class="screen-forms-desktop">
    <div class="screen-form-title">
        Your Concerns and Goals
    </div>

    <div class="screen-form-one-full-col-block">
        <p>As Caregiver, what are your main areas of focus for seeking a consultation?</p>
    </div>

    <div class="screen-form-two-even-cols-block">
        <div class="screen-form-first-check-col">
            <input type="checkbox" id="primaryFocus1D" [(ngModel)]="client.eolCaregiverFocus1" value="caregiverFocus1">
            <label for="primaryFocus1D">
                I am overwhelmed with all the decisions I need to make.
            </label>
        </div>

        <div class="screen-form-second-check-col">
            <input type="checkbox" id="primaryFocus2D" [(ngModel)]="client.eolCaregiverFocus2" value="caregiverFocus2">
            <label for="primaryFocus2D">
                I am exhausted and burned out and need emotional support.
            </label>
        </div>
    </div>

    <div class="screen-form-two-even-cols-block">
        <div class="screen-form-first-check-col">
            <input type="checkbox" id="primaryFocus3D" [(ngModel)]="client.eolCaregiverFocus3" value="caregiverFocus3">
            <label for="primaryFocus3D">
                I am physically unable to care for my loved one adequately.
            </label>
        </div>

        <div class="screen-form-second-check-col">
            <input type="checkbox" id="primaryFocus4D" [(ngModel)]="client.eolCaregiverFocus4" value="caregiverFocus4">
            <label for="primaryFocus4D">
                My loved one is angry and lashing out at me and I don't feel safe.
            </label>
        </div>
    </div>

    <div class="screen-form-two-even-cols-block">
        <div class="screen-form-first-check-col">
            <input type="checkbox" id="primaryFocus5D" [(ngModel)]="client.eolCaregiverFocus5" value="caregiverFocus5">
            <label for="primaryFocus5D">
                I am having conflicts with my extended family's opinions on care, even though I am the main caregiver.
            </label>
        </div>

        <div class="screen-form-second-check-col">
            <input type="checkbox" id="primaryFocus6D" [(ngModel)]="client.eolCaregiverFocus6" value="caregiverFocus6">
            <label for="primaryFocus6D">
                I need to ensure their last wishes and requests are respected.
            </label>
        </div>
    </div>

    <div class="screen-form-two-even-cols-block">
        <div class="screen-form-first-check-col">
            <input type="checkbox" id="primaryFocus7D" [(ngModel)]="client.eolCaregiverFocus7" value="caregiverFocus7">
            <label for="primaryFocus7D">
                I need to discuss these issues with an impartial advocate.
            </label>
        </div>

        <div class="screen-form-second-check-col">
            <input type="checkbox" id="primaryFocus8D" [(ngModel)]="client.eolCaregiverFocus8" value="caregiverFocus8">
            <label for="primaryFocus8D">
                I am having difficulties with my loved one's health care team.
            </label>
        </div>

        <div class="screen-form-first-check-col">
            <input type="checkbox" id="primaryFocus9D" [(ngModel)]="client.eolCaregiverFocus9" value="caregiverFocus9">
            <label for="primaryFocus9D">
                My loved one will not discuss any end of life issues with me and I need to get things in order.
            </label>
        </div>

        <div class="screen-form-second-check-col">
            <input type="checkbox" id="primaryFocus10D" [(ngModel)]="client.eolCaregiverFocus10" value="caregiverFocus10">
            <label for="primaryFocus10D">
                They want care in one place (hospital, hospice or home) that I am unable to organize on my own.
            </label>
        </div>
    </div>

    <div class="screen-form-one-full-col-block">
        <p>Can you expand on what you are looking for related to the above considerations?</p>
    </div>


    <div class="screen-form-one-full-col-block">
        <textarea rows=8 [(ngModel)]="client.eolCaregiverDetails"> </textarea>
    </div>
</div>

<div class="screen-forms-mobile">
    <div class="screen-form-title">
        Your Concerns and Goals
    </div>

    <div class="screen-form-one-full-col-block">
        <p>As Caregiver, what are your main areas of focus for seeking a consultation?</p>
    </div>

    <div class="screen-form-one-full-col-block">
        <div class="screen-form-first-check-col">
            <input type="checkbox" id="primaryFocus1M" [(ngModel)]="client.eolCaregiverFocus1" value="caregiverFocus1">
            <label for="primaryFocus1M">
                I am overwhelmed with all the decisions I need to make.
            </label>
        </div>

        <div class="screen-form-first-check-col">
            <input type="checkbox" id="primaryFocus2M" [(ngModel)]="client.eolCaregiverFocus2" value="caregiverFocus2">
            <label for="primaryFocus2M">
                I am exhausted and burned out and need emotional support.
            </label>
        </div>

        <div class="screen-form-first-check-col">
            <input type="checkbox" id="primaryFocus3M" [(ngModel)]="client.eolCaregiverFocus3" value="caregiverFocus3">
            <label for="primaryFocus3M">
                I am physically unable to care for my loved one adequately.
            </label>
        </div>

        <div class="screen-form-first-check-col">
            <input type="checkbox" id="primaryFocus4M" [(ngModel)]="client.eolCaregiverFocus4" value="caregiverFocus4">
            <label for="primaryFocus4M">
                My loved one is angry and lashing out at me and I don't feel safe.
            </label>
        </div>

        <div class="screen-form-first-check-col">
            <input type="checkbox" id="primaryFocus5M" [(ngModel)]="client.eolCaregiverFocus5" value="caregiverFocus5">
            <label for="primaryFocus5M">
                I am having conflicts with my extended family's opinions on care, even though I am the main caregiver.
            </label>
        </div>

        <div class="screen-form-first-check-col">
            <input type="checkbox" id="primaryFocus6M" [(ngModel)]="client.eolCaregiverFocus6" value="caregiverFocus6">
            <label for="primaryFocus6M">
                I need to ensure their last wishes and requests are respected.
            </label>
        </div>

        <div class="screen-form-first-check-col">
            <input type="checkbox" id="primaryFocus7M" [(ngModel)]="client.eolCaregiverFocus7" value="caregiverFocus7">
            <label for="primaryFocus7M">
                I need to discuss these issues with an impartial advocate.
            </label>
        </div>

        <div class="screen-form-first-check-col">
            <input type="checkbox" id="primaryFocus8M" [(ngModel)]="client.eolCaregiverFocus8" value="caregiverFocus8">
            <label for="primaryFocus8M">
                I am having difficulties with my loved one's health care team.
            </label>
        </div>

        <div class="screen-form-first-check-col">
            <input type="checkbox" id="primaryFocus9M" [(ngModel)]="client.eolCaregiverFocus9" value="caregiverFocus9">
            <label for="primaryFocus9M">
                My loved one will not discuss any end of life issues with me and I need to get things in order.
            </label>
        </div>

        <div class="screen-form-first-check-col">
            <input type="checkbox" id="primaryFocus10M" [(ngModel)]="client.eolCaregiverFocus10" value="caregiverFocus10">
            <label for="primaryFocus10M">
                They want care in one place (hospital, hospice or home) that I am unable to organize on my own.
            </label>
        </div>
    </div>

    <div class="screen-form-one-full-col-block">
        <p>Can you expand on what you are looking for related to the above considerations?</p>
    </div>

    <div class="screen-form-one-full-col-block">
        <textarea rows=8 [(ngModel)]="client.eolCaregiverDetails"> </textarea>
    </div>
</div>
