<div class="content">
    <div class = "topic-block">
        <div class="topic-left">
            <h1>{{title}}</h1>
        </div>

        <div class="topic-right">
            <img src="assets/images/support/doula/caregiver/caregiverSupportIntro.jpg" alt="Support for Caregivers" title="Support for Caregivers">
        </div>
    </div>

    <div class="inner-content">
        <div class = "dark-copy">
            Being a caregiver for a sick family member can be rewarding, exhausting, purposeful and endlessly frustrating. With each situation
            brings new challenges. You need to gauge where your sick relative or friend is at. Do they want to know everything about their illness?
            Do they want to stay in the dark and deny till the very end that death is near.
            <br><br>
            From the Canadian Hospice Palliative Care Association:
            <br>When asked, most people have indicated that they would prefer to die at home in the presence of loved ones,
            yet almost 70% of Canadian deaths occur in a hospital.
        </div>

        <div class = "dark-copy">
            “I’d like to talk about what is ahead with your illness and do some thinking in advance about what is important to you
            so that I can make sure we provide you with the care you want — is this okay?”
        </div>

        <div class = "dark-heading">
            <h3>Assess understanding and preferences</h3>
        </div>

        <div class = "dark-copy">
            “What is your understanding now of where you are with your illness?”
            “How much information about what is likely to be ahead with your illness would you like from me?”
        </div>

        <div class = "dark-heading">
            <h3>Share prognosis</h3>
        </div>

        <div class = "dark-copy">
            “I want to share with you my understanding of where things are with your illness...”
            Uncertain: “It can be difficult to predict what will happen with your illness. I hope you will continue to live well for
            a long time but I’m worried that you could get sick quickly, and I think it is important to prepare for that possibility.”
            OR
            Time: “I wish we were not in this situation, but I am worried that time may be as short as ___ (express as a range,
            e.g. days to weeks, weeks to months, months to a year).”
            OR
            Function: “I hope that this is not the case, but I’m worried that this may be as strong as you will feel, and things are likely
            to get more difficult.”
        </div>

        <div class = "dark-heading">
            <h3>Explore key topics</h3>
        </div>

        <div class = "dark-copy">
            “What are your most important goals if your health situation worsens?”
            “What are your biggest fears and worries about the future with your health?”
            “What gives you strength as you think about the future with your illness?”
            “What abilities are so critical to your life that you can’t imagine living without them?”
            “If you become sicker, how much are you willing to go through for the possibility of gaining more time?”
            “How much does your family know about your priorities and wishes?”
        </div>

        <div class = "dark-heading">
            <h3>Close the conversation</h3>
        </div>

        <div class = "dark-copy">
            “I’ve heard you say that ___ is really important to you. Keeping that in mind, and what we know about your illness,
            I recommend that we ___. This will help us make sure that your treatment plans reflect what’s important to you.”
            “How does this plan seem to you?”
            “I will do everything I can to help you through this.”
        </div>
    </div>
</div>
