<div class="header-detail-image-container">
    <div class="header-detail-image">
        <img src="assets/images/headers/about/headerAboutPractitioner.jpg" title={{title}} alt={{title}}>
    </div>

    <div class="header-detail-image-quotes">
        <div class="header-detail-image-quote">
            &#8220;{{ quote }}&#8220;
        </div>
        <div class="header-detail-image-author">
            {{ author }}
        </div>
    </div>
</div>

<div class="content-container">
    <div class="content-title">
        <h1>{{ title }}</h1>
    </div>

    <div class="laptopForm">
        <div class="separator-block-dark"></div>

        <div class="about-us-container">
            <div class="about-us-image">
                <img src="../../../../assets/images/details/about/aboutEOLCaregivers/karenAllan.jpg" class="bio-image" title="Karen Allan"
                     alt="Karen Allan">
            </div>

            <div class="about-us-text">
                <h2>Karen Allan</h2>

                <p>
                    I chose to become a practitioner of end-of-life care for many reasons. I was at the bedside of my dying
                    brother, and instead of feeling any sense of calm or courage, I felt overwhelmed, useless - scared.
                    I was horrified by his pain and felt utterly incapable of helping him. I wanted to be braver than that.
                    <br><br>
                    I struggled to find answers and solutions to providing my mother with the best of care as she was dying. I wanted to be
                    a stronger advocate for her, to stand up for her when she was so alone and scared. And that time, I was braver.
                    <br><br>
                    <a href="https://www.douglascollege.ca/programs-courses/continuing-education/health/courses/brev1100" target="_blank">
                        Certified End-of-Life Practitioner
                    </a>
                    <br>
                    <a href="https://practitioner.edenmethod.com/practitioners/karen-gail-allan/" target="_blank">
                        Certified Advanced Energy Practitioner
                    </a>
                    <br>
                    <b>604-345-3442</b>
                </p>
            </div>
        </div>

        <div class="separator-block-dark"></div>
        <div class="about-us-container">

            <div class="about-us-image">
                <img src="../../../../assets/images/details/about/aboutEOLCaregivers/sarahCarter.jpg" class="bio-image" title="Sarah Carter"
                     alt="Sarah Carter">
            </div>

            <div class="about-us-text">
                <h2>Sarah Carter</h2>

                <p>
                    I care for the elderly, the infirm and young people with brain injuries. I
                    put my whole heart and soul into their care. Every success they achieve is a success I feel. This makes me the luckiest
                    person in the world. I benefit personally from all of my client's trials and triumphs.
                    <br><br>
                    It was upon hearing so many stories from my client's families regarding the pain and helplessness they felt when
                    supporting their dying loved ones that I started looking for more ways to help. Karen introduced me
                    to End of Life care. I felt like it was the perfect next step in my health care practice.
                    <br><br>
                    <a href="https://www.interiorhomecare.ca/services/" target="_blank">
                        Certified Nurse Care Aide
                    </a>
                    <br>
                    <b>604-345-3442</b>
                </p>
            </div>
        </div>

        <div class="separator-block-dark"></div>
    </div>

    <div class="mobileForm">
        <div class="about-us-container">
            <div class="content-images">
                <img src="../../../../assets/images/details/about/aboutEOLCaregivers/karenAllan.jpg" class="bio-image" title="Karen Allan"
                     alt="Karen Allan">
            </div>

            <div class="about-us-text">
                <div class="content-title">
                    <h2>Karen Allan<br>
                        <a href="https://www.douglascollege.ca/programs-courses/continuing-education/health/courses/brev1100" target="_blank">
                            Certified End-of-Life Practitioner
                        </a>
                        <br>
                        <a href="https://practitioner.edenmethod.com/practitioners/karen-gail-allan/" target="_blank">
                            Certified Advanced Energy Practitioner
                        </a>
                    </h2>
                </div>

                <div class="content-copy">
                    <p>
                        I chose to become a practitioner of end-of-life care for many reasons. I was at the bedside of my dying
                        brother, and instead of feeling any sense of calm or courage, I felt overwhelmed, useless - scared.
                        I was horrified by his pain and felt utterly incapable of helping him. I wanted to be braver than that.
                        <br><br>
                        I struggled to find answers and solutions to providing my mother with the best of care as she was dying. I wanted to be
                        a stronger advocate for her, to stand up for her when she was so alone and scared. And that time, I was braver.
                    </p>
                </div>
            </div>
        </div>

        <div class="separator-block"></div>

        <div class="about-us-container">
            <div class="content-images">
                <img src="../../../../assets/images/details/about/aboutEOLCaregivers/sarahCarter.jpg" class="bio-image" title="Sarah Carter"
                     alt="Sarah Carter">
            </div>

            <div class="about-us-text">
                <div class="content-title">
                    <h2>Sarah Carter <br>
                        <a href="https://www.interiorhomecare.ca/services/" target="_blank">
                            Certified Nurse Care Aide</a>
                    </h2>
                </div>

                <div class="content-copy">
                    <p>
                        I care for the elderly, the infirm and young people with brain injuries. I
                        put my whole heart and soul into their care. Every success they achieve is a success I feel. This makes me the luckiest
                        person in the world. I benefit personally from all of my client's fascinating stories, trials and triumphs.
                        <br><br>
                        It was upon hearing so many nightmarish stories from my client's families regarding the pain and helplessness they felt when
                        supporting their dying loved ones that I started looking for additional ways to help. I met Karen and she introduced me
                        to End of Life care. I felt like it was the perfect next step in my health care practice.
                    </p>
                </div>
            </div>
        </div>
    </div>



    <div class="content-title">
        <h2>Our Commitment to You</h2>
    </div>

    <div class="content-copy">
        <p>
            Both Karen and Sarah are up to date with their Basic First Aid training. Both have been cleared by The Criminal Records Review
            Program (CRRP) which completes vulnerable sector checks required by the Criminal Records Review Act. These checks protect
            children
            and vulnerable adults.
            <br><br>
            We can assist you with a myriad of issues concerning end of life. You may be a young couple who has their will tucked away
            but wants to make sure that anything should happen to them they have all their p's and q's dotted. You may be facing some
            life threatening challenges and need help with advance care issues and paperwork you may not even know you need. We
            can help in all those areas.
        </p>
    </div>

    <div class="content-quotes">
        <div class="content-quote">
            &#8220;There is no real ending. It's just the place where you stop the story.&#8221;
        </div>

        <div class="content-author">
            Frank Herbert
        </div>
    </div>

    <div class="content-images">
        <img src="../../../../assets/images/details/about/aboutEOLCaregivers/becomeAdvocatePic.jpg"
             title="Sarah Carter and Karen Allan"
             alt="Sarah Carter and Karen Allan">
    </div>

    <div class="content-copy">
        <p>
            We also support you as a patient if you are going through end of life concerns. We are also there for the hard working
            caregivers who likely need support and relief. We will, if asked, help negotiate or support the intricate dance that
            happens between family members in times of crisis. And we will even water your plants and feed your dog. :)
            <br><br>
            Please contact us <a routerLink="/bookConsultation">to set up an appointment</a>. We provide long distance help via
            Zoom or Google Meet but we also provide consultations at your home.
        </p>
    </div>

</div>

