
<!-- this is only called when the screen is in mobile mode as they do not use the dialog container-->
<ng-container *ngIf="!modal">
    <app-dialog-header
        [rep]='rep'
        [title]='title'
        [modal]='modal'>
    </app-dialog-header>

    <div class="form-inner-block-rep">
        <app-screen-form-choose-rep-overview
            [rep]="rep"
            [modal]="modal">
        </app-screen-form-choose-rep-overview>
    </div>
</ng-container>

<app-print-modal-choose-your-rep [rep]="rep"></app-print-modal-choose-your-rep>