<div class="print-patient-consult-component">
    <div class="print-session-component">

        <div class="print-heading">
            TRANSITIONS IN ENERGY <BR>
            DOULA-PATIENT CONSULTATION INTAKE
        </div>
        <!--
        *************************** DEMOGRAPHIC INFO **********************************
        -->
        <div class="print-title">
            Your Contact Information
        </div>

        <table class="print-client-info">
            <tr>
                <td class="print-first-cell">
                    Name:
                </td>
                <td class="print-second-cell">
                    {{model.name}}
                </td>
            </tr>

            <tr>
                <td class="print-first-cell">
                    Phone:
                </td>
                <td class="print-second-cell">
                    {{model.cellPhone | mask: '(000) 000-0000'}}
                </td>
            </tr>

            <tr>
                <td class="print-first-cell">
                    Email:
                </td>
                <td class="print-second-cell">
                    {{model.email}}
                </td>
            </tr>

            <tr>
                <td class="print-first-cell">
                    Address:
                </td>
                <td class="print-second-cell">
                    {{model.address}}
                </td>
            </tr>

            <tr>
                <td class="print-first-cell">
                    Province:
                </td>
                <td class="print-second-cell">
                    {{model.provState}}
                </td>
            </tr>

            <tr>
                <td class="print-first-cell">
                    Country:
                </td>
                <td class="print-second-cell">
                    {{model.country}}
                </td>
            </tr>

            <tr>
                <td class="print-first-cell">
                    Postal:
                </td>
                <td class="print-second-cell">
                    {{model.pc | mask: "U0U-0U0"}}
                </td>
            </tr>
        </table>

        <div class="print-title">
            Emergency Contact Information
        </div>

        <table class="print-client-info">
            <tr>
                <td class="print-first-cell">
                    Name:
                </td>
                <td class="print-second-cell">
                    {{model.emergName}}
                </td>
            </tr>

            <tr>
                <td class="print-first-cell">
                    Relationship:
                </td>
                <td class="print-second-cell">
                    {{model.emergRelation}}
                </td>
            </tr>

            <tr>
                <td class="print-first-cell">
                    Phone:
                </td>
                <td class="print-second-cell">
                    {{model.emergPhone | mask: '(000) 000-0000'}}
                </td>
            </tr>
        </table>

        <div class="print-title">
            Optional Details
        </div>

        <table class="print-client-info">
            <tr>
                <td class="print-first-cell">
                    Birthdate:
                </td>
                <td class="print-second-cell">
                    {{model.birthdate | mask: '00-00-0000'}}
                </td>
            </tr>

            <tr>
                <td class="print-first-cell">
                    Occupation:
                </td>
                <td class="print-second-cell">
                    {{model.occupation}}
                </td>
            </tr>

            <tr>
                <td class="print-first-cell">
                    Referred By:
                </td>
                <td class="print-second-cell">
                    {{model.referredBy}}
                </td>
            </tr>
        </table>

        <!-- FRAILTY SCALE -->
        <div class="print-title">
            Your Current Level of Frailty
        </div>

        <div class="print-sub-title">
            Please select the one statement that applies to you on the Clinical Frailty Scale
        </div>

        <div class="print-response">
            <div *ngIf="model.eolFrailty == 'frailtyChart-1'">
                I am under 65 and in good health and fitness.
            </div>
            <div *ngIf="model.eolFrailty == 'frailtyChart-2'">
                I have one or more chronic conditions.
            </div>
            <div *ngIf="model.eolFrailty == 'frailtyChart-3'">
                I have a life-threatening illness and my life-expectancy is less than one to two years.
            </div>
            <div *ngIf="model.eolFrailty == 'frailtyChart-4'">
                I am over 65 and relatively healthy.
            </div>
            <div *ngIf="model.eolFrailty == 'frailtyChart-5'">
                I am over 65 and having trouble managing your day-to-day affairs and the activities of daily living.
            </div>
            <div *ngIf="model.eolFrailty == 'frailtyChart-6'">
                I am over 75.
            </div>
        </div>

        <!--
        ******************* SUPPORT FOR PATIENT **************************
        -->
        <div class="print-title">
            Your Concerns and Goals as a Patient
        </div>

        <div class="print-sub-title">
            What would be your main area of focus for seeking a consultation?
        </div>

        <div class="print-response">
            <div *ngIf="model.eolPatientFocus1">
                I have been diagnosed with a terminal illness.
            </div>
            <div *ngIf="model.eolPatientFocus2">
                I am scared, angry, depressed and need emotional support.
            </div>
            <div *ngIf="model.eolPatientFocus3">
                I am physically unable to care for myself as I used to.
            </div>
            <div *ngIf="model.eolPatientFocus4">
                I need to discuss things with my family but they won't listen.
            </div>
            <div *ngIf="model.eolPatientFocus5">
                My family is fighting and arguing about my care.
            </div>
            <div *ngIf="model.eolPatientFocus6">
                I want to write down my wishes and requests while I still can.
            </div>
            <div *ngIf="model.eolPatientFocus7">
                I am afraid I won't be able to handle the pain.
            </div>
            <div *ngIf="model.eolPatientFocus8">
                I want more information about life prolonging procedures.
            </div>
            <div *ngIf="model.eolPatientFocus9">
                I want to explore who in my family I could best trust to consider and advocate for my wishes.
            </div>
            <div *ngIf="model.eolPatientFocus10">
                I feel that the health care team doesn't explain enough to me.
            </div>
            <div *ngIf="model.eolPatientFocus11">
                I want information about my rights to die at home.
            </div>
            <div *ngIf="model.eolPatientFocus12">
                I need information to decide whether hospice or palliative care is available to me.
            </div>
            <div *ngIf="!model.eolPatientFocus1 && !model.eolPatientFocus2 && !model.eolPatientFocus3 && !model.eolPatientFocus4 &&
            !model.eolPatientFocus5 && !model.eolPatientFocus6 && !model.eolPatientFocus7 && !model.eolPatientFocus8 &&
            !model.eolPatientFocus9 && !model.eolPatientFocus10 && !model.eolPatientFocus11 && !model.eolPatientFocus12">
                &nbsp;
            </div>
        </div>

        <div class="print-sub-title print-margin-top-2">
            Can you expand on what you are looking for related to the above answer?
        </div>

        <div class="print-response">
            <div *ngIf="model.eolPatientDetails.length > 0">
                {{model.eolPatientDetails}}
            </div>
            <div *ngIf="model.eolPatientDetails.length == 0">
                &nbsp;
            </div>
        </div>

        <!--
       ******************************** MEDICAL HISTORY  **********************************
     -->

        <div class="print-title">
            (Optional) Your Medical History
        </div>

        <div class="print-sub-title">
            Please list medications and supplements that your are currently taking.
        </div>

        <div class="print-response">
            <div *ngIf="model.medsSupplements.length > 0">
                {{model.medsSupplements}}
            </div>
            <div *ngIf="model.medsSupplements.length == 0">
                &nbsp;
            </div>
        </div>

        <div class="print-sub-title print-margin-top-2">
            Please select any health conditions you have been diagnosed with:
        </div>

        <div class="print-response">
            <div *ngIf="model.heartDisease">
                Heart Disease
            </div>
            <div *ngIf="model.cancer">
                Cancer
            </div>
            <div *ngIf="model.stroke">
                Stroke
            </div>
            <div *ngIf="model.highBloodPressure">
                High Blood Pressure
            </div>
            <div *ngIf="model.diabetes">
                Diabetes
            </div>
            <div *ngIf="model.mentalIllness">
                Emotional Illness
            </div>
            <div *ngIf="model.seizures">
                Seizures
            </div>
            <div *ngIf="model.autoImmuneDisease">
                Auto-immune Disease
            </div>
            <div *ngIf="model.otherDisease">
                Other Illness
            </div>
            <div *ngIf="!model.heartDisease && !model.cancer && !model.stroke && !model.highBloodPressure && !model.diabetes
             && !model.mentalIllness && !model.seizures && !model.autoImmuneDisease && !model.otherDisease">
                &nbsp;
            </div>
        </div>

        <div class="print-sub-title print-margin-top-2">
            Please further describe your situation, condition and or illness, if applicable:
        </div>

        <div class="print-response">
            <div *ngIf="model.illnessDetails.length > 0">
                {{model.illnessDetails}}
            </div>
            <div *ngIf="model.illnessDetails.length == 0">
                &nbsp;
            </div>
        </div>
    </div>

    <!-- DISCLAIMER-->
    <div class="print-notice">
        Please Read:
    </div>

    <table class="print-disclaimer-table">
        <tr>
            <td class="print-disclaimer-copy">
                I understand that the End of Life Doula Consultations I receive are provided for the basic purpose of preparing myself
                and my family for my eventual end of life care and legacy. I know that an End of Life Doula can help with financial and
                health related questions and concerns allowing me to better plan, prepare and document all of my wishes and hopes for a
                good ending.
                <br><br>
                But I further understand that End of Life Doulas are not a substitute for medical palliative care, hospice care or
                emergency care but are rather meant to fill the gaps that standard medical care can not fill. I also understand that
                doulas can never initiate conversations related to MAID, but if asked can clarify the latest rules as best as possible.
                For further information about the new MAID laws contact Death With Dignity.
                <br><br>
                I also know that End of Life Doulas can do much to aid in the comfort and care of a dying person but they can not
                prescribe or give out medications of any kind.
                <br><br>
                I understand that I must have proof of up-to-date Covid vaccinations in order to meet with you in person. If I have not
                been vaccinated I can still see you via a remote call, for example a Zoom or phone meeting.
                <br><br>
                I agree to provide 24 hours notice if I want to cancel an appointment. As well, I agree to bring proof of my Covid
                vaccination in the form of the vaccine passport. By signing below I agree and accept the above conditions.
            </td>
        </tr>
    </table>

    <div class="print-signature">
        <div class="print-date-prompt">Date:(yyyy/mm/dd):</div>
        <div class="print-date-value">{{model.defaultDate}}</div>

        <div class="print-sig-prompt">Signature:</div>
        <div class="print-sig-value print-solid-underline">&nbsp;</div>
    </div>
</div>

