<div class="print-modal-make-wish-list">
    <app-print-modal-heading [wishes]='wishes'></app-print-modal-heading>
    <div class="print-modal-block">
        <div class="print-modal-province">
            BRITISH COLUMBIA
            <hr>
        </div>
    </div>
    <div class="print-modal-question">
        <div *ngFor="let question of wishes.questions; let questionIndex=index;">
            <p>{{ question.question_num }}.&nbsp;{{ question.question_string }}</p>
            <ng-container *ngFor="let response of question.responses;let responseIndex=index;">
                <ng-container *ngIf="question.selectedAnswer==(responseIndex)">
                    <span>{{ response.response_string }}</span>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>


