<div class = "heading-topic-grid eol-patients-help topic">
    <h1>{{title}}</h1>
</div>

<div class="full-length-titles">
    <h2>Caring for Patients</h2>
</div>

<div class="content-dark-copy">
    Think about the things in your life that you most value. Which of these things are so important to you that living
    without them would make you feel like life was no longer worth living? What could you learn to accept?
    <i>(questions revised are from 100. victoria-hospice-reflection-and-self-care.docx)</i>
</div>

<ul class="content-dark-list">
    <li class="list-item">Being able to carry out my day to day activities without support or with minimal support.</li>
    <li class="list-item">Being pain free or at least with as little discomfort as possible.</li>
    <li class="list-item">Having confidence that I still command respect from others.</li>
    <li class="list-item">Maintaining my self respect through my dress and appearance.</li>
    <li class="list-item">Trusting that the medical establishment listens to me.</li>
    <li class="list-item">Feeling valued and needed by my family and friends.</li>
    <li class="list-item">Being able to take care of my physical needs on my own.</li>
    <li class="list-item">Being strong enough mentally and physically to take on most challenges.</li>
    <li class="list-item">Enjoying my independence and privacy.</li>
    <li class="list-item">Knowing that I have the love and support of my family and friends.</li>
    <li class="list-item">Being a valued husband/wife, son/daughter, sister/brother etc.</li>
    <li class="list-item">Feeling that I have good relationships with people, with little conflict to resolve.</li>
    <li class="list-item">Believing that my life has purpose.</li>
    <li class="list-item">Enjoying my life and looking forward to the future.</li>
    <li class="list-item">Having a belief in God or a higher power that gives me strength.</li>
    <li class="list-item">Knowing that I have a strong intellect and are of sound mind.</li>
    <li class="list-item">Actively pursuing my hobbies and interests.</li>
    <li class="list-item">Being physically fit and able to do my outdoor activities.</li>
    <li class="list-item">Feeling mentally well and able to handle life's up and downs positively.</li>
    <li class="list-item">Acting as mediator when family conflicts arise, being counted on to resolve issues.</li>
    <li class="list-item">Being in complete control over my life and future, as much as possible.</li>
    <li class="list-item">Having total control over my finances.</li>
    <li class="list-item">Spending as much time with my family and friends as I want.</li>
    <li class="list-item">Feeling secure in my home, surrounding by my familiar things.</li>
</ul>

<div class="content-dark-titles">
    <h2>What Would Make Your Life Not Worth Living?:</h2>
</div>

<ul class="content-dark-list">
    <li class="list-item">No longer being able to carry out my day to day activities without support from others.</li>
    <li class="list-item">Experiencing pain and discomfort pretty much all the time.</li>
    <li class="list-item">Feeling that I no longer command respect from others.</li>
    <li class="list-item">Feeling unattractive in my own body.</li>
    <li class="list-item">Having the medical establishment stop listening to me.</li>
    <li class="list-item">Feeling no longer valued or needed by my family and friends.</li>
    <li class="list-item">Being unable take care of your physical needs on your own.</li>
    <li class="list-item">Becoming too weak to mentally and physically to take on most challenges.</li>
    <li class="list-item">Losing my independence and my privacy.</li>
    <li class="list-item">Losing the love and support of my family and friends.</li>
    <li class="list-item">Feeling less valued as husband/wife, son/daughter, sister/brother etc.</li>
    <li class="list-item">Believing that I have too many family conflicts to ever resolve.</li>
    <li class="list-item">Believing that my life no longer has a purpose.</li>
    <li class="list-item">Knowing that my life no longer has a 'future' to it.</li>
    <li class="list-item">Worrying that I didn't fulfill my life's purpose.</li>
    <li class="list-item">Losing my faith that there is any God.</li>
    <li class="list-item">Losing my intellectual capabilities, becoming very forgetful and confused.</li>
    <li class="list-item">I am unable to enjoy my hobbies and interests.</li>
    <li class="list-item">If I could no long run, hike, walk or enjoy my outdoor activities.</li>
    <li class="list-item">I am deeply depressed and anxious and drugs are no longer helping.</li>
    <li class="list-item">I lose interest in family matters and conflicts.</li>
    <li class="list-item">I lose most or all control over my life.</li>
    <li class="list-item">I am unable to direct my own financial decisions.</li>
    <li class="list-item">Losing interest in the activities in outside world.</li>
    <li class="list-item">Having to leave your home to go to a hospital, hospice or retirement home.</li>
</ul>

<div class="content-dark-titles">
    <h2>What Would You Want From an End of Life Doula?:</h2>
</div>

<ul class="content-dark-list">
    <li class="list-item">Help with my day to day activities, allowing me to do whatever I can manage by myself.</li>
    <li class="list-item">To advocate for pain control and other comfort measures.</li>
    <li class="list-item">Ensure that I am treated with respect by the medical community.</li>
    <li class="list-item">Assist me in bathing and dressing comfortably but allowing me choices so I can look my best.</li>
    <li class="list-item">Speaking with family about my needs when I may not be able to ask for myself.</li>
    <li class="list-item">Act as a go between with whom I want at my bedside so I don't have to hurt their feelings.</li>
    <li class="list-item">Doing whatever is needed to help out, ie the dishes, walking the dog etc.</li>
    <li class="list-item">Encourage me to take on challenges even if they are mentally and physically taxing.</li>
    <li class="list-item">To know my end of life wishes with respect to how much or how little I want medical interventions that prolong my life.</li>
    <li class="list-item">Encourage open and respectful communications between my family and friends.</li>
    <li class="list-item">Help me to plan any legacy project I want to do, giving me ideas.</li>
    <li class="list-item">Helping ease conflicts between myself and family members.</li>
    <li class="list-item">Finding joy in everyday experiences, having a good sense of humor.</li>
    <li class="list-item">Be able to discuss my death openly without censorship.</li>
    <li class="list-item">Remain supportive and neutral no matter what my religious beliefs may be.</li>
    <li class="list-item">Be able to not take it personally if I show anger, anxiety and/or depression.</li>
    <li class="list-item">Help me continue to pursue my hobbies and interests.</li>
    <li class="list-item">Making the effort to help me be outdoor as much as possible.</li>
    <li class="list-item">Providing me with information about MaID if I ask for it.</li>
    <li class="list-item">Act as mediator when family conflicts arise as much as possible.</li>
    <li class="list-item">Making sure all my documents have been signed and saved in a known location.</li>
    <li class="list-item">Respect the level of information I want to convey about my illness to family and friends.</li>
    <li class="list-item">Protect me from anyone who might try to take advantage of my weakened status.</li>
    <li class="list-item">Schedule visits with family and friends as I request, including time limits.</li>
    <li class="list-item">Help me surround myself with things that I love, my photos, pictures, plants etc.</li>
    <li class="list-item">Know and support the kind of physical touch I like, hugs, hand holding or massage.</li>
    <li class="list-item">Understands that I would rather be pain free and unconscious or conscious with pain.</li>
    <li class="list-item">Educate my family about the dying process so they are less afraid.</li>
    <li class="list-item">Encourage my family to allow my grandchildren to be there when I die, if that is my choice.</li>
    <li class="list-item">Knows my favorite music, flowers, scents and knows the ones I do not want near me.</li>
    <li class="list-item">Share information with me about funerals, types of burials, cremation etc.</li>
    <li class="list-item">Help me write in a journal, write letters, cards, even my own obituary.</li>
    <li class="list-item">To be able to talk about my fears, my anger, my despair without judgement.</li>
    <li class="list-item">Help me include my same sex partner, even if my family objects.</li>
    <li class="list-item">Encourage my family to allow me to wear what I want even if it is conflicts with my gender.</li>
    <li class="list-item">Make up my home so that I can complete my life there if I choose to.</li>
    <li class="list-item">Encourage my family to pay attention to my cues for silence and join me in silence.</li>
    <li class="list-item">To be a gentle witness as I take my final journey.</li>
</ul>

<div class="content-dark-titles">
    <h2>Doulas Support You:</h2>
</div>

<div class="content-dark-copy">
    We are trained to act as witnesses on your very last journey. Like birth, death is a monumental endeavor that we all must face. So
    why do we fear it? Of course, we fear pain. Pain can be controlled fairly well in most first world countries.
    What we think of as pain, is often the laboured breathing that happens as people are unable to expel mucous from their trachea. It sounds like it hurts but
    it does not. There are medications to help with nausea and swelling. There are machines that can help with shortness of breath. In fact, most
    people die quite peacefully, having reconciled themselves to the situation.
    <br><br>
    There are others of course, who die fighting, who die angry, who die alone. Like life - dying can be hard. Our job as Doulas is to make the
    death as good as it can be. You may not resolve everything with family, but you may be able to control much of who is at your bedside and who is not.
    <br><br>
    There is often a lot of family conflict. There are roles that people play, the martyr, the distant onlooker, the greedy one, the emotional basket case.
    All have their place and all should be respected for where they are on their path. But a good Doula will try to balance out the dynamics so that
    the focus is back on you, not them.
    <br><br>
    We do not give advice, unless asked. We are not allowed to touch you after death but we are allowed to set up the ceremony you have requested. You may
    wish to be dressed by your family, to wear your favorite hat or scarf. We can arrange that. We know that your family will be up to their eyeballs in
    doing all the details needed to be done and we are there to assist in any way. We will not deny you your feelings, we will not patronize you. We will not
    put our spiritual beliefs above your own, in fact we will never discuss what we think about God - unless asked.
    <br><br>
    We will not give you medication or perform any kind of medical intervention on you. Even those doulas who are trained as doctors can not treat the patient
    unless they are also their doctor. I as a trained <a target="new" routerLink="/energyHelpPain"> <b>
    Energy Medicine Practitioner</b></a> can and will be happy to do pain and stress reducing treatments on you - if requested by you or the family.
    <br><br>
    I will let you and your family know that your sleeping more than usual is part of the dying process. There will be times when they think you are
    sleeping but you have actually moved into an unconsciousness state. They may worry that you aren't eating or drinking enough but losing interest in
    food is totally normal. Knowing that you are going through normal stages of dying can make you and your family more reassured that they are not failing you.
    <br><br>
    I will maintain my composure as much as possible but I will also be empathetic, sympathetic and loving, knowing that I have the profound honour of bearing witness
    to this event. Reading your and your family's body language and
    using all my senses to pick up the atmosphere in the room, I will quietly leave or
    address the situation as needed. I acknowledge that the grief is yours and yours alone. I will not leave unless asked, I will not abandon you or your family and if
    requested, I will stay on after so that
    we can go over it all again in two months time or whenever your family wishes. While I hope that my experience teaches you about the dying process I know
    that I am also learning so much from each and every session.
</div>



