<app-global-menu [menuItemId]='menuItemId' [subMenuItemId]='subMenuItemId'></app-global-menu>

<app-choose-your-rep-overview [title]="title" [quote]="quote" [author]="author" [rep]="rep"
                              [lookupParent1] = 'lookupParent1'
                              [lookupChild1] = "lookupChild1"
                              [lookupParent2] = 'lookupParent2'
                              [lookupChild2] = "lookupChild2">
</app-choose-your-rep-overview>

<app-global-footer></app-global-footer>

<app-choose-your-rep-wizard-printout [rep]="rep"></app-choose-your-rep-wizard-printout>

