
/*  BANANA PORTRAIT *******************************************************************************************/
@media only screen
and (min-width: 240px)
and (max-width: 359px)
and (orientation: portrait) {

    .frailty-link, .frailty-copy {
        font-size: var(--med-copy-desktop-font-size);
        line-height: 170%;
    }

    .frailty-grid-display {
        width:90%;
        margin-left:5%;
        margin-right:5%;
    }

}

/* BANANA LANDSCAPE ****************************************************************************************************/
@media only screen
and (min-width: 568px)
and (max-width: 895px)
and (orientation: landscape) {

    .frailty-link, .frailty-copy {
        font-size: var(--med-copy-banana-land-font-size);
    }

    .frailty-link {
        line-height: 150%;
    }

    .frailty-copy {
        line-height: 170%;
    }

    .frailty-grid-display {
        width:90%;
        margin-left:5%;
        margin-right:5%;
    }


}

/* MOBILES PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 360px)
and (max-width: 599px)
and (orientation: portrait) {

    .frailty-link, .frailty-copy {
        font-size: var(--med-copy-mobile-port-font-size);
    }

    .frailty-link {
        line-height: 150%;
    }

    .frailty-copy {
        line-height: 170%;
    }

    .frailty-grid-display {
        width:90%;
        margin-left:5%;
        margin-right:5%;
    }

}

/*  MOBILES LANDSCAPE **************************************************************************************************/
@media only screen
and (min-width:896px )
and (max-width: 1279px)
and (orientation: landscape) {

    .frailty-link, .frailty-copy {
        font-size: var(--med-copy-mobile-land-font-size);
    }

    .frailty-link {
        line-height: 150%;
    }

    .frailty-copy {
        line-height: 170%;
    }

    .frailty-grid-display {
        width:90%;
        margin-left:5%;
        margin-right:5%;
    }

}

/*  TABLETS PORTRAIT *******************************************************************************************/
@media only screen
and (min-width: 600px)
and (max-width: 1023px)
and (orientation: portrait) {

    .frailty-link, .frailty-copy {
        font-size: var(--med-copy-tablet-port-font-size);
    }

    .frailty-link {
        line-height: 150%;
    }

    .frailty-copy {
        line-height: 170%;
    }

}

/*  TABLETS LANDSCAPE *******************************************************************************************/
@media only screen
and (min-width: 1280px)
and (max-width: 1365px)
and (orientation: landscape) {

    .frailty-link, .frailty-copy {
        font-size: var(--med-copy-tablet-land-font-size);
    }

    .frailty-link {
        line-height: 150%;
    }

    .frailty-copy {
        line-height: 170%;
    }

}

/* IPADS PORTRAIT ****************************************************************************************************/
@media only screen
and (min-width: 1024px)
and (max-width: 1366px)
and (orientation: portrait) {

    .frailty-link, .frailty-copy {
        font-size: var(--med-copy-ipad-port-font-size);
    }

    .frailty-link {
        line-height: 150%;
    }

    .frailty-copy {
        line-height: 170%;
    }

}

/* IPADS LANDSCAPE ***************************************************************************************************/
@media only screen
and (min-width: 1366px)
and (max-width: 1439px)
and (orientation: landscape) {

    .frailty-link, .frailty-copy {
        font-size: var(--med-copy-ipad-land-font-size);
    }

    .frailty-link {
        line-height: 150%;
    }

    .frailty-copy {
        line-height: 170%;
    }

}

/* LAPTOPS and UP ****************************************************************************************************/
@media only screen
and (min-width: 1440px) {

    .frailty-link, .frailty-copy {
        font-size: var(--med-copy-desktop-font-size);
    }

    .frailty-link {
        line-height: 150%;
    }

    .frailty-copy {
        line-height: 170%;
    }

    .frailty-grid-display {
        width: 100%;
    }

}


/* GLOBAL *************************************************************************************************************/
@media only screen {

    .frailty-block {
        display:block;
        float: left;
        text-align:left;
        width:90%;
        margin-left: 5%;
        margin-right: 5%;
        max-width:1280px;
    }

    /* i had it as frailty-block a but that was interfering with the grid a below it as the anchor with a block type overrode the anchor with a grid */
    .frailty-link {
        display:block;
        font-family: var(--family-copy);
        color: var(--color-dark-blue);
        font-weight: 800;
        text-decoration: underline;
        cursor:pointer;
        padding:2em 0 0 0;
    }

    .frailty-grid-display {
        display:block;
        float:left;
        border:thin dotted var(--color-dark-blue);
        padding:1em 0;
    }

    .frailty-grid-hidden {
        display:none;
    }

    .frailty-copy {
        display:block;
        font-family:var(--family-copy);
        color:var(--color-dark-blue);
        padding:1em 2em 0 2em;
    }

    /* Text for images is Harrington Regular 36 */
    .frailty-grid-one-image, .frailty-inline-two-images, .frailty-inline-three-images, .frailty-inline-four-images {
        align-content: center;
        padding-top:2em;
    }

    .frailty-grid-one-image {
        display: grid;
        width:100%;
        justify-content: center;
    }

    .frailty-inline-two-images {
        display: inline-grid;
        width:70%;
        margin:0 15%;
        grid-template-columns: repeat(2, 50%);
    }

    .frailty-inline-three-images {
        display: inline-grid;
        grid-template-columns: repeat(3, 33.3%);
        width:80%;
        margin:0 10%;
    }

    .frailty-inline-four-images {
        display: inline-grid;
        grid-template-columns: repeat(4, 25%);
        width:90%;
        margin:0 5%;
    }

    .frailty-inline-image img {
        max-width:100%;
        height:auto;
    }

    .frailty-image-one-only {
        display:grid;
        justify-content: center;
        grid-column:1;
    }

    .frailty-image-one-of-two {
        display:grid;
        justify-content: flex-start;
        grid-column:1;
    }

    .frailty-image-two-of-two {
        display:grid;
        grid-column:2;
        justify-content: flex-end;
    }

    .frailty-image-one-of-three {
        display:grid;
        grid-column:1;
        justify-content: flex-start;
    }

    .frailty-image-two-of-three {
        display:grid;
        grid-column:2;
        justify-content: center;
    }

    .frailty-image-three-of-three {
        display:grid;
        grid-column:3;
        justify-content: flex-end;
    }

    .frailty-image-one-of-four {
        display:grid;
        grid-column:1;
        justify-content: flex-start;
    }

    .frailty-image-two-of-four {
        display:grid;
        grid-column:2;
        justify-content: center;
    }

    .frailty-image-three-of-four {
        display:grid;
        grid-column:3;
        justify-content: center;
    }

    .frailty-image-four-of-four {
        display:grid;
        grid-column:4;
        justify-content: flex-end;
    }


}
