<div class="content">
    <div class = "topic-block">
        <div class="topic-left">
            <h1>{{title}}</h1>
        </div>

        <div class="topic-right">
            <img src="assets/images/support/eolDoula/doulaCareIntro.jpg" alt="Questions to Consider" title="Questions to Consider">
        </div>
    </div>

    <div class="headings-dark">
        <h1>Doula's Help With the Hard Stuff</h1>
    </div>

    <div class="text-dark">
        You may have never heard of an End of Life Doula. There are Doulas that help with pregnancy and childbirth - they
        are called Birth Doulas. There are also Doulas that are there for you after you are all grown up! Contrary to
        what it sounds like an End of Life Doula isn't just there to help you die. We provide many other services -
        in fact Palliative Care suggests you complete a Care Plan if you are above 19 years of age.
        <br><br>
        If you look into this area, you find that our governments, ER doctors, paramedics etc all really, really
        want you to acknowledge that some day, we all will leave this earth. What you choose to leave behind could be
        either a huge mess for family to sort or a well planned legacy that your family will benefit from and appreciate.
        Doing a care plan isn't just important for their sake but for your own as well. Because if you end up at the hospital
        some day without any kind of thought to this, your future could end having it decided by a stranger who probably
        really wished he or she didn't have to make the hard decisions.
        <br><br>
        <img src="assets/images/support/eolDoula/doulaCarePic.jpg" alt="Doula Care" title="Doula Care">
        <br><br>
        There are many areas that End of Life Doulas serve. They include:
    </div>

    <ul class="list-dark">
        <li class="list-item">&nbsp;<a routerLink="/eolTopicQuestions">Asking the Questions you Need to Consider</a></li>

        <li class="list-item">&nbsp;<a routerLink="/eolTopicDocuments">Understanding the Legal Documents</a></li>
        <li class="list-item">&nbsp;<a routerLink="/eolTopicPatientCare">Compassionate Care for the Patient</a></li>
        <li class="list-item">&nbsp;<a routerLink="/eolTopicCaregiverCare">Supporting the Caregivers</a></li>
        <li class="list-item">&nbsp;<a routerLink="/eolTopicAdvocate">Legacy and Ceremony Planning</a></li>
        <li class="list-item">&nbsp;<a routerLink="/eolTopicTreatments">Pain Relieving Energy Sessions</a></li>
    </ul>

    <div class="text-dark">
        Health care professional organizations state that anyone over 19 should consider putting together
        a contingency plan should something happen to them that is out of their control. Someone who is young
        may want very different medical interventions and care than someone who is 79. This Health
        Journey questionnaire created by DyingWithDignity <i>(113. DWDC__2021ACPkit.docx)</i> and reproduced here, can help you decide
        the kind of questions you should be considering depending on which category you are in:
    </div>

    <ul class="list-dark">
        <li class="list-item">&#x262f;&nbsp;
            <b>You are under 65 and in good health and fitness.</b>
            <br>
            <div class="pad-left-3">
                Serious illness and injury can happen at any age. You likely will want any and all treatment for conditions that
                develop, but it’s not too early to think about what your values, beliefs and preferences for care would be if
                you were in a serious accident, you had a major stroke, or developed any other condition that might render
                you incapable of making decisions for yourself, and to share your thoughts with your loved ones.
            </div>
        </li>

        <br>
        <li class="list-item">&#x262f;&nbsp;
            <b>You have one or more chronic conditions, at any age.</b>
            <br>
            <div class="pad-left-3">
                If you fit within this definition, it is crucial that you prepare a plan as soon as possible. The most common chronic health conditions are:
            </div>

            <ul class="list-dark">
                <li class="list-item pad-left-3">&#9728;&nbsp;Diabetes (insulin dependent or non-insulin dependent) – even if well-controlled</li>
                <li class="list-item pad-left-3">&#9728;&nbsp;High blood pressure (hypertension) – even if well-controlled</li>
                <li class="list-item pad-left-3">&#9728;&nbsp;Kidney disease (your health care provider may or may not use the word ‘failure’)</li>
                <li class="list-item pad-left-3">&#9728;&nbsp;Heart disease: Abnormal Rhythm, Angina, Heart Attack, Congestive Heart Failure, Cardiomyopathy</li>
                <li class="list-item pad-left-3">&#9728;&nbsp;Lung disease (COPD or other)</li>
                <li class="list-item pad-left-3">&#9728;&nbsp;Liver disease</li>
                <li class="list-item pad-left-3">&#9728;&nbsp;Neurological Diseases such as Parkinson’s, ALS, Huntington’s, and Multiple Sclerosis</li>
                <li class="list-item pad-left-3">&#9728;&nbsp;Vascular disease</li>
                <li class="list-item pad-left-3">&#9728;&nbsp;Autoimmune disease</li>
                <li class="list-item pad-left-3">&#9728;&nbsp;Early to moderate dementia</li>
            </ul>
        </li>

        <li class="list-item">&#x262f;&nbsp;
            <b>You have a life-threatening illness and your life-expectancy is less than one to two years, at any age:</b>
            <br>
            <div class="pad-left-3">
                Receiving a life-threatening diagnosis can be destabilizing, but you can still take control of
                your own end-of-life plans. The choices are yours to make. Think about doing your Advance Care Planning
                early in your diagnosis so it is done, and then revisit and revise your Advance Directive as your health changes.
            </div>
        </li>

        <br>
        <li class="list-item">&#x262f;&nbsp;
            <b>You are over 65 and relatively healthy</b>
            <br>
            <div class="pad-left-3">
                Your body is getting older, a little less resilient and progressively more fragile. As we age, it is im¬portant
                to think a little deeper and more often about what we do and do not want should we be¬come seriously ill or
                injured. It also becomes more important to talk to those who will be making health care decisions for you if
                you become unable to do so for yourself so that they are not blind¬sided by any sudden health changes and decisions
                they may have to make, and are prepared by knowing what you want.
            </div>
        </li>

        <br>
        <li class="list-item">&#x262f;&nbsp;
            <b>You are over 65 and having trouble managing your day-to-day affairs and the activities of daily living.</b>
            <br>
            <div class="pad-left-3">
                This is referred to as a “frail elder”
                We all age differently. Mild frailty occurs when people need help with their day-to-day care and
                affairs, such as meal preparation and housework. As people become increasingly frail, it becomes more and more important
                to think about Advance Care Planning.
            </div>
        </li>

        <br>
        <li class="list-item">&#x262f;&nbsp;
            <b>You are over 75, no matter your state of health</b>
            <br>
            <div class="pad-left-3">
                This is considered the age where everyone, no matter their apparent health, is more vulnerable and less
                resilient to disease and injury. Advance Care Planning should be an urgent call to action at this point in your life.
            </div>
        </li>
    </ul>

    <div class="headings-dark">
        <h2>What Makes Your Life Worth Living?</h2>
    </div>

    <div class="text-dark">
        Think about the things in your life that you most value. Which of these things are so important to you that living
        without them would make you feel like life was no longer worth living? What could you learn to accept?
        <i>(questions revised are from 100. victoria-hospice-reflection-and-self-care.docx)</i>
    </div>

    <ul class="list-dark">
        <li class="list-item pad-left-3">&#9728;&nbsp;Being able to carry out your day to day activities without support or with some support.</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;Living a pain free life or a life without chronic discomfort.</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;Having confidence that you still command respect from others.</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;Feeling that you show self respect through how you dress or look.</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;Trusting that the medical establishment listens to you.</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;Feeling valued and needed by your family and friends.</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;Being able to take care of your physical needs on your own.</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;Being strong enough mentally and physically to take on most challenges.</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;Enjoying your independence and privacy.</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;Knowing that you have the love and support of your family and friends.</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;Being a valued husband/wife, son/daughter, sister/brother etc.</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;Feeling that you have good relationships with people, with little conflict.</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;Believing that your life has purpose.</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;Enjoying life and looking forward to the future.</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;Having a belief in God or a higher power that gives you strength.</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;Knowing that you have a strong intellect and are of sound mind.</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;Actively pursuing your hobbies and interests.</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;Being physically fit and able to do your outdoor activities.</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;Feeling mentally well and able to handle life's up and downs positively.</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;Acting as mediator when family conflicts arise, being counted on to resolve issues.</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;Being in complete control over your life and future, as much as possible.</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;Having total control over your finances.</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;Enjoy spending time with your family and friends.</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;Feeling secure in your home, surrounding by my familiar things.</li>
    </ul>

    <div class="text-dark">
        What Would Make Your Life Not Worth Living?:
    </div>

    <ul class="list-dark">
        <li class="list-item pad-left-3">&#9728;&nbsp;Could no longer carry out your day to day activities without support from others.</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;Experience pain and discomfort pretty much all the time.</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;Feel that you no longer command respect from others.</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;No longer feel attractive in your manner of dress or appearance.</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;No longer trust the medical establishment as they fail to listen to you.</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;Feel like you are no longer valued or needed by your family and friends.</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;Can no longer take care of your physical needs on your own.</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;Feel too weak to mentally and physically to take on most challenges.</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;Have lost your independence and privacy.</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;Worrying that you are losing the love and support of your family and friends.</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;Feeling less valued as husband/wife, son/daughter, sister/brother etc.</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;Feeling that you have too many family conflicts to ever resolve.</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;Believing that your life no longer has a purpose.</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;Knowing that your life no longer has a 'future' to it.</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;Worrying that you didn't fulfill your life's purpose.</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;Are afraid of the consequences in not believing in any God.</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;Feel like you are losing your grip on your intellectual capabilities.</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;Can no longer enjoy your hobbies and interests.</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;Am unable to run, hike, walk or enjoy your outdoor activities.</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;You can't shake the depression and anxiety you now always feel.</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;You no longer have the energy or interest to act as mediator when family conflicts arise.</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;You have lost most or all control over your life.</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;Giving your financial decisions over to someone else to make.</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;Losing interest in your friends and family.</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;Having to leave your home to go to a hospital, hospice or retirement home.</li>
    </ul>

    <div class="text-dark">
        When I ask these questions to clients I am often surprised at the different responses I get. Some people are okay with
        giving control over to others while other clients would find that to be their worst nightmare. Other questions to consider are
        what medical interventions would you want to receive if any, should it mean you lose some of your mental or physical faculties?
        Would you accept or reject:
    </div>

    <ul class="list-dark">
        <li class="list-item pad-left-3">&#9728;&nbsp;CPR?</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;Tube Feeding?</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;Intubation?</li>
        <li class="list-item pad-left-3">&#9728;&nbsp;Breathing Machines?</li>
    </ul>

    <div class="headings-dark">
        <h2>How Do I Control My Own Fate?</h2>
    </div>

    <div class="text-dark">
        You may have never heard of a form called a
        Temporary Substitute Decision Maker List (TSDM) but it could end up being one of the biggest contributors to your
        future health.
        <br><br>
        If you are in an accident or suffer a critical illness and end up in Emergency and are incapable of answering for yourself,
        the first thing the hospital will look for is information about your next of kin.
        They will start at the top of the TSDM list and if that first person is not qualified or available to advocate for you,
        they will then move down the list. By law they must go by the hierarchy set out on this form.
        <br><br>
        To qualify as a TSDM, the people placed on the list must:
        <ul class="list-dark">
            <li class="list-item pad-left-3">&#9830;&nbsp;be 19 or over</li>
            <li class="list-item pad-left-3">&#9830;&nbsp;be mentally capable of making decisions</li>
            <li class="list-item pad-left-3">&#9830;&nbsp;have no dispute with you</li>
            <li class="list-item pad-left-3">&#9830;&nbsp;have been in contact with you within the year before you need care</li>
        </ul>

        <img src="assets/images/support/eolDoula/tempSDMaker.jpg" alt="Temporary Substitute Decision Maker" title="Temporary Substitute Decision Maker">
    </div>

    <div class="headings-dark">
        <h2>Why Should I Care About This?</h2>
    </div>

    <div class="text-dark">
        Let's say you are separated from your spouse but not yet divorced. Maybe you now have a new love in your life, who at this point
        has no legal association with you. Should you get in the situation described above, where you have lost your ability to advocate
        for yourself, they will contact the first person on the list, your ex. They will not even consider your new person as they are nowhere
        on this list. If the idea of this scares you, then know that you have a say in ensuring your wishes for care are known.
        Setting up your own <a routerLink="/eolTopicDocuments">Substitute Decision Maker</a> SDM keeps you in control of your own life.
    </div>

</div>


